<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1006984</string>
		<key>latitude</key>
		<real>-33.015289000000003</real>
		<key>longitude</key>
		<real>27.911619000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1000116</string>
		<key>latitude</key>
		<real>-33.033298000000002</real>
		<key>longitude</key>
		<real>27.862159999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>939666</string>
		<key>latitude</key>
		<real>-33.041381999999999</real>
		<key>longitude</key>
		<real>27.816481</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1007420</string>
		<key>latitude</key>
		<real>-33.012259999999998</real>
		<key>longitude</key>
		<real>27.863319000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>964432</string>
		<key>latitude</key>
		<real>-33.590569000000002</real>
		<key>longitude</key>
		<real>26.891041000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1023365</string>
		<key>latitude</key>
		<real>-33.653461</real>
		<key>longitude</key>
		<real>26.412680000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>995409</string>
		<key>latitude</key>
		<real>-33.100000000000001</real>
		<key>longitude</key>
		<real>27.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1000501</string>
		<key>latitude</key>
		<real>-33.299999999999997</real>
		<key>longitude</key>
		<real>26.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>953975</string>
		<key>latitude</key>
		<real>-33.984039000000003</real>
		<key>longitude</key>
		<real>25.611360999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>942071</string>
		<key>latitude</key>
		<real>-33.977890000000002</real>
		<key>longitude</key>
		<real>25.583549000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1001632</string>
		<key>latitude</key>
		<real>-33.950001</real>
		<key>longitude</key>
		<real>25.566669000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1001783</string>
		<key>latitude</key>
		<real>-33.219999999999999</real>
		<key>longitude</key>
		<real>26.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>964420</string>
		<key>latitude</key>
		<real>-33.920000000000002</real>
		<key>longitude</key>
		<real>25.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1023672</string>
		<key>latitude</key>
		<real>-33.549999999999997</real>
		<key>longitude</key>
		<real>25.690000000000001</real>
	</dict>
</array>
</plist>
