<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1061605</string>
		<key>latitude</key>
		<real>-22.129999999999999</real>
		<key>longitude</key>
		<real>48.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064234</string>
		<key>latitude</key>
		<real>-21.879999999999999</real>
		<key>longitude</key>
		<real>47.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064366</string>
		<key>latitude</key>
		<real>-21.300000000000001</real>
		<key>longitude</key>
		<real>47.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1065158</string>
		<key>latitude</key>
		<real>-22.82</real>
		<key>longitude</key>
		<real>47.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1061335</string>
		<key>latitude</key>
		<real>-21.219999999999999</real>
		<key>longitude</key>
		<real>48.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1078601</string>
		<key>latitude</key>
		<real>-21.199999999999999</real>
		<key>longitude</key>
		<real>48.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1077503</string>
		<key>latitude</key>
		<real>-21.449999999999999</real>
		<key>longitude</key>
		<real>47.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1083968</string>
		<key>latitude</key>
		<real>-21.829999999999998</real>
		<key>longitude</key>
		<real>46.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064890</string>
		<key>latitude</key>
		<real>-21.43</real>
		<key>longitude</key>
		<real>47.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1053507</string>
		<key>latitude</key>
		<real>-22.82</real>
		<key>longitude</key>
		<real>47.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1081522</string>
		<key>latitude</key>
		<real>-21.600000000000001</real>
		<key>longitude</key>
		<real>46.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054329</string>
		<key>latitude</key>
		<real>-23.350000000000001</real>
		<key>longitude</key>
		<real>47.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1058080</string>
		<key>latitude</key>
		<real>-20.579999999999998</real>
		<key>longitude</key>
		<real>48.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7670905</string>
		<key>latitude</key>
		<real>-21.370000000000001</real>
		<key>longitude</key>
		<real>46.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064258</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>46.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1079088</string>
		<key>latitude</key>
		<real>-20.52</real>
		<key>longitude</key>
		<real>47.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064275</string>
		<key>latitude</key>
		<real>-22.399999999999999</real>
		<key>longitude</key>
		<real>46.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1083239</string>
		<key>latitude</key>
		<real>-20.550000000000001</real>
		<key>longitude</key>
		<real>46.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1065222</string>
		<key>latitude</key>
		<real>-20.23</real>
		<key>longitude</key>
		<real>47.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1060007</string>
		<key>latitude</key>
		<real>-20.050000000000001</real>
		<key>longitude</key>
		<real>48.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1062947</string>
		<key>latitude</key>
		<real>-20</real>
		<key>longitude</key>
		<real>47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1062553</string>
		<key>latitude</key>
		<real>-19.899999999999999</real>
		<key>longitude</key>
		<real>48.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1062347</string>
		<key>latitude</key>
		<real>-19.850000000000001</real>
		<key>longitude</key>
		<real>48.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1069166</string>
		<key>latitude</key>
		<real>-19.850000000000001</real>
		<key>longitude</key>
		<real>47.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1070738</string>
		<key>latitude</key>
		<real>-19.82</real>
		<key>longitude</key>
		<real>47.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1066514</string>
		<key>latitude</key>
		<real>-19.829999999999998</real>
		<key>longitude</key>
		<real>46.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1070661</string>
		<key>latitude</key>
		<real>-19.649999999999999</real>
		<key>longitude</key>
		<real>47.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1066650</string>
		<key>latitude</key>
		<real>-22.280000000000001</real>
		<key>longitude</key>
		<real>45.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1066831</string>
		<key>latitude</key>
		<real>-21.670000000000002</real>
		<key>longitude</key>
		<real>45.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1082992</string>
		<key>latitude</key>
		<real>-19.379999999999999</real>
		<key>longitude</key>
		<real>47.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1065140</string>
		<key>latitude</key>
		<real>-19.399999999999999</real>
		<key>longitude</key>
		<real>46.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1056151</string>
		<key>latitude</key>
		<real>-19.170000000000002</real>
		<key>longitude</key>
		<real>46.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1058532</string>
		<key>latitude</key>
		<real>-18.93</real>
		<key>longitude</key>
		<real>48.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1068865</string>
		<key>latitude</key>
		<real>-19.02</real>
		<key>longitude</key>
		<real>47.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1060673</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>47.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1058284</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>47.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1083511</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>47.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7670857</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>48.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1070940</string>
		<key>latitude</key>
		<real>-18.91</real>
		<key>longitude</key>
		<real>47.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1078317</string>
		<key>latitude</key>
		<real>-25.016670000000001</real>
		<key>longitude</key>
		<real>46.966670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1055433</string>
		<key>latitude</key>
		<real>-25.031851</real>
		<key>longitude</key>
		<real>46.998741000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1076227</string>
		<key>latitude</key>
		<real>-18.949999999999999</real>
		<key>longitude</key>
		<real>49.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1072879</string>
		<key>latitude</key>
		<real>-22.280000000000001</real>
		<key>longitude</key>
		<real>44.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1063858</string>
		<key>latitude</key>
		<real>-18.800000000000001</real>
		<key>longitude</key>
		<real>47.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1057095</string>
		<key>latitude</key>
		<real>-22.899999999999999</real>
		<key>longitude</key>
		<real>44.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1081790</string>
		<key>latitude</key>
		<real>-25.033331</real>
		<key>longitude</key>
		<real>46.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1059051</string>
		<key>latitude</key>
		<real>-19.52</real>
		<key>longitude</key>
		<real>45.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7670913</string>
		<key>latitude</key>
		<real>-23.199999999999999</real>
		<key>longitude</key>
		<real>44.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7670856</string>
		<key>latitude</key>
		<real>-18.449999999999999</real>
		<key>longitude</key>
		<real>47.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1073482</string>
		<key>latitude</key>
		<real>-18.399999999999999</real>
		<key>longitude</key>
		<real>47.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1079048</string>
		<key>latitude</key>
		<real>-25.16667</real>
		<key>longitude</key>
		<real>46.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054463</string>
		<key>latitude</key>
		<real>-18.77</real>
		<key>longitude</key>
		<real>46.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1066310</string>
		<key>latitude</key>
		<real>-23.719999999999999</real>
		<key>longitude</key>
		<real>44.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1072849</string>
		<key>latitude</key>
		<real>-18.32</real>
		<key>longitude</key>
		<real>47.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064978</string>
		<key>latitude</key>
		<real>-18.43</real>
		<key>longitude</key>
		<real>46.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1076152</string>
		<key>latitude</key>
		<real>-20.27</real>
		<key>longitude</key>
		<real>44.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1058381</string>
		<key>latitude</key>
		<real>-20.280000000000001</real>
		<key>longitude</key>
		<real>44.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1067531</string>
		<key>latitude</key>
		<real>-19.699999999999999</real>
		<key>longitude</key>
		<real>44.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1078553</string>
		<key>latitude</key>
		<real>-24.700001</real>
		<key>longitude</key>
		<real>44.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054500</string>
		<key>latitude</key>
		<real>-25.299999</real>
		<key>longitude</key>
		<real>45.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1053384</string>
		<key>latitude</key>
		<real>-18.170000000000002</real>
		<key>longitude</key>
		<real>49.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1056953</string>
		<key>latitude</key>
		<real>-18.120000000000001</real>
		<key>longitude</key>
		<real>49.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1067565</string>
		<key>latitude</key>
		<real>-25.16667</real>
		<key>longitude</key>
		<real>45.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1074972</string>
		<key>latitude</key>
		<real>-23.379999999999999</real>
		<key>longitude</key>
		<real>43.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1082639</string>
		<key>latitude</key>
		<real>-17.829999999999998</real>
		<key>longitude</key>
		<real>48.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1055429</string>
		<key>latitude</key>
		<real>-23.350000000000001</real>
		<key>longitude</key>
		<real>43.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1058390</string>
		<key>latitude</key>
		<real>-21.73</real>
		<key>longitude</key>
		<real>43.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1077349</string>
		<key>latitude</key>
		<real>-23.670000000000002</real>
		<key>longitude</key>
		<real>43.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1078446</string>
		<key>latitude</key>
		<real>-17.579999999999998</real>
		<key>longitude</key>
		<real>48.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1062146</string>
		<key>latitude</key>
		<real>-17.68</real>
		<key>longitude</key>
		<real>49.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054192</string>
		<key>latitude</key>
		<real>-17.469999999999999</real>
		<key>longitude</key>
		<real>49.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054035</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>49.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1064980</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>49.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1076194</string>
		<key>latitude</key>
		<real>-17.02</real>
		<key>longitude</key>
		<real>48.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1060169</string>
		<key>latitude</key>
		<real>-17.079999999999998</real>
		<key>longitude</key>
		<real>49.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1055059</string>
		<key>latitude</key>
		<real>-16.780000000000001</real>
		<key>longitude</key>
		<real>47.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1056386</string>
		<key>latitude</key>
		<real>-16.920000000000002</real>
		<key>longitude</key>
		<real>49.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1081530</string>
		<key>latitude</key>
		<real>-16.98</real>
		<key>longitude</key>
		<real>49.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1061912</string>
		<key>latitude</key>
		<real>-18.07</real>
		<key>longitude</key>
		<real>44.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1066702</string>
		<key>latitude</key>
		<real>-16.75</real>
		<key>longitude</key>
		<real>44.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054116</string>
		<key>latitude</key>
		<real>-16.620000000000001</real>
		<key>longitude</key>
		<real>44.469999999999999</real>
	</dict>
</array>
</plist>
