<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1069188</string>
		<key>latitude</key>
		<real>-15</real>
		<key>longitude</key>
		<real>50.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1071296</string>
		<key>latitude</key>
		<real>-14.9</real>
		<key>longitude</key>
		<real>50.280000000000001</real>
	</dict>
</array>
</plist>
