<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1055433</string>
		<key>latitude</key>
		<real>-25.031851</real>
		<key>longitude</key>
		<real>46.998741000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1078317</string>
		<key>latitude</key>
		<real>-25.016670000000001</real>
		<key>longitude</key>
		<real>46.966670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1079048</string>
		<key>latitude</key>
		<real>-25.16667</real>
		<key>longitude</key>
		<real>46.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1081790</string>
		<key>latitude</key>
		<real>-25.033331</real>
		<key>longitude</key>
		<real>46.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054500</string>
		<key>latitude</key>
		<real>-25.299999</real>
		<key>longitude</key>
		<real>45.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1067565</string>
		<key>latitude</key>
		<real>-25.16667</real>
		<key>longitude</key>
		<real>45.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1078553</string>
		<key>latitude</key>
		<real>-24.700001</real>
		<key>longitude</key>
		<real>44.75</real>
	</dict>
</array>
</plist>
