<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1213721</string>
		<key>latitude</key>
		<real>2.4803000000000002</real>
		<key>longitude</key>
		<real>96.380095999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213523</string>
		<key>latitude</key>
		<real>3.2582</real>
		<key>longitude</key>
		<real>97.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6705294</string>
		<key>latitude</key>
		<real>1.1566000000000001</real>
		<key>longitude</key>
		<real>97.701301999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214488</string>
		<key>latitude</key>
		<real>4.1363000000000003</real>
		<key>longitude</key>
		<real>96.128501999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215638</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6705237</string>
		<key>latitude</key>
		<real>4.2561999999999998</real>
		<key>longitude</key>
		<real>96.228995999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439770</string>
		<key>latitude</key>
		<real>2.1581000000000001</real>
		<key>longitude</key>
		<real>98.629600999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7742769</string>
		<key>latitude</key>
		<real>2.5560999999999998</real>
		<key>longitude</key>
		<real>98.662497999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214965</string>
		<key>latitude</key>
		<real>3.1000999999999999</real>
		<key>longitude</key>
		<real>98.490798999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214294</string>
		<key>latitude</key>
		<real>2.6080999999999999</real>
		<key>longitude</key>
		<real>98.696098000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213921</string>
		<key>latitude</key>
		<real>2.9392</real>
		<key>longitude</key>
		<real>98.610703000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213855</string>
		<key>latitude</key>
		<real>1.7426999999999999</real>
		<key>longitude</key>
		<real>98.779197999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7743546</string>
		<key>latitude</key>
		<real>2.8965000000000001</real>
		<key>longitude</key>
		<real>98.722603000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7743637</string>
		<key>latitude</key>
		<real>2.8132999999999999</real>
		<key>longitude</key>
		<real>98.790397999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215580</string>
		<key>latitude</key>
		<real>2.6814</real>
		<key>longitude</key>
		<real>98.831100000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215355</string>
		<key>latitude</key>
		<real>3.6000999999999999</real>
		<key>longitude</key>
		<real>98.485397000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213642</string>
		<key>latitude</key>
		<real>2</real>
		<key>longitude</key>
		<real>99</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214135</string>
		<key>latitude</key>
		<real>2.6629999999999998</real>
		<key>longitude</key>
		<real>98.934898000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213655</string>
		<key>latitude</key>
		<real>3.7610000000000001</real>
		<key>longitude</key>
		<real>98.451301999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213664</string>
		<key>latitude</key>
		<real>2.9735</real>
		<key>longitude</key>
		<real>98.861701999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6717857</string>
		<key>latitude</key>
		<real>3.5817999999999999</real>
		<key>longitude</key>
		<real>98.593902999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7743784</string>
		<key>latitude</key>
		<real>2.8641000000000001</real>
		<key>longitude</key>
		<real>98.915497000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214302</string>
		<key>latitude</key>
		<real>4.0237999999999996</real>
		<key>longitude</key>
		<real>98.278198000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213614</string>
		<key>latitude</key>
		<real>3.5764999999999998</real>
		<key>longitude</key>
		<real>98.615097000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215199</string>
		<key>latitude</key>
		<real>3.5078</real>
		<key>longitude</key>
		<real>98.683898999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6717965</string>
		<key>latitude</key>
		<real>3.5478999999999998</real>
		<key>longitude</key>
		<real>98.677100999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214520</string>
		<key>latitude</key>
		<real>3.5833300000000001</real>
		<key>longitude</key>
		<real>98.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7743873</string>
		<key>latitude</key>
		<real>2.9058999999999999</real>
		<key>longitude</key>
		<real>98.972297999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213530</string>
		<key>latitude</key>
		<real>4.0613000000000001</real>
		<key>longitude</key>
		<real>98.369904000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214724</string>
		<key>latitude</key>
		<real>4.4683000000000002</real>
		<key>longitude</key>
		<real>97.968299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214800</string>
		<key>latitude</key>
		<real>3.7277999999999998</real>
		<key>longitude</key>
		<real>98.673798000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214204</string>
		<key>latitude</key>
		<real>2.9594999999999998</real>
		<key>longitude</key>
		<real>99.068702999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215412</string>
		<key>latitude</key>
		<real>3.7755000000000001</real>
		<key>longitude</key>
		<real>98.683197000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214055</string>
		<key>latitude</key>
		<real>5.2166699999999997</real>
		<key>longitude</key>
		<real>96.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215350</string>
		<key>latitude</key>
		<real>5.2030000000000003</real>
		<key>longitude</key>
		<real>96.700896999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214189</string>
		<key>latitude</key>
		<real>3.6253000000000002</real>
		<key>longitude</key>
		<real>98.863997999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6716279</string>
		<key>latitude</key>
		<real>3.2244999999999999</real>
		<key>longitude</key>
		<real>99.070899999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214369</string>
		<key>latitude</key>
		<real>1.3666700000000001</real>
		<key>longitude</key>
		<real>99.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214191</string>
		<key>latitude</key>
		<real>3.5678999999999998</real>
		<key>longitude</key>
		<real>98.956001000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6704108</string>
		<key>latitude</key>
		<real>5.2287999999999997</real>
		<key>longitude</key>
		<real>96.947601000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214658</string>
		<key>latitude</key>
		<real>5.1801000000000004</real>
		<key>longitude</key>
		<real>97.150702999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213821</string>
		<key>latitude</key>
		<real>5.3848000000000003</real>
		<key>longitude</key>
		<real>95.960898999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213500</string>
		<key>latitude</key>
		<real>3.3285</real>
		<key>longitude</key>
		<real>99.162497999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6700995</string>
		<key>latitude</key>
		<real>5.5247999999999999</real>
		<key>longitude</key>
		<real>95.415099999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215501</string>
		<key>latitude</key>
		<real>5.5419999999999998</real>
		<key>longitude</key>
		<real>95.343001999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215502</string>
		<key>latitude</key>
		<real>5.5576999999999996</real>
		<key>longitude</key>
		<real>95.322197000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214882</string>
		<key>latitude</key>
		<real>2.9845000000000002</real>
		<key>longitude</key>
		<real>99.615798999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1215498</string>
		<key>latitude</key>
		<real>2.0499999999999998</real>
		<key>longitude</key>
		<real>99.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214073</string>
		<key>latitude</key>
		<real>2.1000000000000001</real>
		<key>longitude</key>
		<real>99.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213547</string>
		<key>latitude</key>
		<real>2.9666700000000001</real>
		<key>longitude</key>
		<real>99.800003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213493</string>
		<key>latitude</key>
		<real>3.0009999999999999</real>
		<key>longitude</key>
		<real>99.816399000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214026</string>
		<key>latitude</key>
		<real>5.8933299999999997</real>
		<key>longitude</key>
		<real>95.321387999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214449</string>
		<key>latitude</key>
		<real>-1.11961</real>
		<key>longitude</key>
		<real>98.992171999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1213459</string>
		<key>latitude</key>
		<real>-0.39579999999999999</real>
		<key>longitude</key>
		<real>99.923073000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1648197</string>
		<key>latitude</key>
		<real>-0.017850000000000001</real>
		<key>longitude</key>
		<real>100.227478</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1633068</string>
		<key>latitude</key>
		<real>-0.18332999999999999</real>
		<key>longitude</key>
		<real>100.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625956</string>
		<key>latitude</key>
		<real>-0.51637999999999995</real>
		<key>longitude</key>
		<real>100.061707</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1636333</string>
		<key>latitude</key>
		<real>-0.30059000000000002</real>
		<key>longitude</key>
		<real>100.226707</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1214451</string>
		<key>latitude</key>
		<real>-1.5978699999999999</real>
		<key>longitude</key>
		<real>99.210967999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102548</string>
		<key>latitude</key>
		<real>-0.46522999999999998</real>
		<key>longitude</key>
		<real>100.183121</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1635830</string>
		<key>latitude</key>
		<real>-0.27877000000000002</real>
		<key>longitude</key>
		<real>100.288017</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1632334</string>
		<key>latitude</key>
		<real>-0.61897999999999997</real>
		<key>longitude</key>
		<real>100.119972</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102453</string>
		<key>latitude</key>
		<real>-0.54191999999999996</real>
		<key>longitude</key>
		<real>100.170441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102451</string>
		<key>latitude</key>
		<real>-0.56999999999999995</real>
		<key>longitude</key>
		<real>100.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1647866</string>
		<key>latitude</key>
		<real>-0.30907000000000001</real>
		<key>longitude</key>
		<real>100.370552</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102625</string>
		<key>latitude</key>
		<real>-0.34514</real>
		<key>longitude</key>
		<real>100.36241099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102417</string>
		<key>latitude</key>
		<real>-0.65536000000000005</real>
		<key>longitude</key>
		<real>100.212791</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1649904</string>
		<key>latitude</key>
		<real>-0.28066999999999998</real>
		<key>longitude</key>
		<real>100.453621</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7103970</string>
		<key>latitude</key>
		<real>-0.14147999999999999</real>
		<key>longitude</key>
		<real>100.565079</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1633375</string>
		<key>latitude</key>
		<real>-0.46999999999999997</real>
		<key>longitude</key>
		<real>100.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102427</string>
		<key>latitude</key>
		<real>-0.68999999999999995</real>
		<key>longitude</key>
		<real>100.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1763070</string>
		<key>latitude</key>
		<real>4.2481999999999998</real>
		<key>longitude</key>
		<real>100.554497</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1637197</string>
		<key>latitude</key>
		<real>-0.68000000000000005</real>
		<key>longitude</key>
		<real>100.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104034</string>
		<key>latitude</key>
		<real>-0.3523</real>
		<key>longitude</key>
		<real>100.54884300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735450</string>
		<key>latitude</key>
		<real>4.2323000000000004</real>
		<key>longitude</key>
		<real>100.62979900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1631905</string>
		<key>latitude</key>
		<real>-0.22019</real>
		<key>longitude</key>
		<real>100.63078299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1624873</string>
		<key>latitude</key>
		<real>-0.16045999999999999</real>
		<key>longitude</key>
		<real>100.67997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104050</string>
		<key>latitude</key>
		<real>-0.46000000000000002</real>
		<key>longitude</key>
		<real>100.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104055</string>
		<key>latitude</key>
		<real>-0.48999999999999999</real>
		<key>longitude</key>
		<real>100.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735453</string>
		<key>latitude</key>
		<real>4.2168000000000001</real>
		<key>longitude</key>
		<real>100.6996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104044</string>
		<key>latitude</key>
		<real>-0.40755999999999998</real>
		<key>longitude</key>
		<real>100.597183</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625693</string>
		<key>latitude</key>
		<real>-0.87</real>
		<key>longitude</key>
		<real>100.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102381</string>
		<key>latitude</key>
		<real>-0.87895000000000001</real>
		<key>longitude</key>
		<real>100.344757</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1752256</string>
		<key>latitude</key>
		<real>4.4557000000000002</real>
		<key>longitude</key>
		<real>100.628799</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1649575</string>
		<key>latitude</key>
		<real>-0.45623999999999998</real>
		<key>longitude</key>
		<real>100.626801</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735199</string>
		<key>latitude</key>
		<real>3.6745999999999999</real>
		<key>longitude</key>
		<real>100.98670199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7102366</string>
		<key>latitude</key>
		<real>-0.95211999999999997</real>
		<key>longitude</key>
		<real>100.35230300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1633419</string>
		<key>latitude</key>
		<real>-0.94923999999999997</real>
		<key>longitude</key>
		<real>100.354271</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1628568</string>
		<key>latitude</key>
		<real>-0.48309999999999997</real>
		<key>longitude</key>
		<real>100.637657</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1624930</string>
		<key>latitude</key>
		<real>-0.30125999999999997</real>
		<key>longitude</key>
		<real>100.73840300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735195</string>
		<key>latitude</key>
		<real>3.7698</real>
		<key>longitude</key>
		<real>100.9879</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1637193</string>
		<key>latitude</key>
		<real>-0.96075999999999995</real>
		<key>longitude</key>
		<real>100.400108</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626920</string>
		<key>latitude</key>
		<real>-0.68999999999999995</real>
		<key>longitude</key>
		<real>100.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626219</string>
		<key>latitude</key>
		<real>-0.60999999999999999</real>
		<key>longitude</key>
		<real>100.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1763774</string>
		<key>latitude</key>
		<real>4.6333299999999999</real>
		<key>longitude</key>
		<real>100.68332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1650600</string>
		<key>latitude</key>
		<real>1.05</real>
		<key>longitude</key>
		<real>101.283333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104357</string>
		<key>latitude</key>
		<real>-0.49127999999999999</real>
		<key>longitude</key>
		<real>100.75411200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1763412</string>
		<key>latitude</key>
		<real>3.4241999999999999</real>
		<key>longitude</key>
		<real>101.184898</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735071</string>
		<key>latitude</key>
		<real>5.2833300000000003</real>
		<key>longitude</key>
		<real>100.283333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1766699</string>
		<key>latitude</key>
		<real>5.2910199999999996</real>
		<key>longitude</key>
		<real>100.278976</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1749939</string>
		<key>latitude</key>
		<real>5.37052</real>
		<key>longitude</key>
		<real>100.21826900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625439</string>
		<key>latitude</key>
		<real>-0.59999999999999998</real>
		<key>longitude</key>
		<real>100.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735459</string>
		<key>latitude</key>
		<real>4.0259</real>
		<key>longitude</key>
		<real>101.02130099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1764160</string>
		<key>latitude</key>
		<real>5.3269900000000003</real>
		<key>longitude</key>
		<real>100.273483</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626197</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>100.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6823210</string>
		<key>latitude</key>
		<real>5.3896100000000002</real>
		<key>longitude</key>
		<real>100.23262</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1751906</string>
		<key>latitude</key>
		<real>3.3500000000000001</real>
		<key>longitude</key>
		<real>101.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1732891</string>
		<key>latitude</key>
		<real>3.3500000000000001</real>
		<key>longitude</key>
		<real>101.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104230</string>
		<key>latitude</key>
		<real>-0.80000000000000004</real>
		<key>longitude</key>
		<real>100.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733047</string>
		<key>latitude</key>
		<real>5.3767699999999996</real>
		<key>longitude</key>
		<real>100.258476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626649</string>
		<key>latitude</key>
		<real>-0.79000000000000004</real>
		<key>longitude</key>
		<real>100.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735105</string>
		<key>latitude</key>
		<real>5.3352899999999996</real>
		<key>longitude</key>
		<real>100.300194</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104187</string>
		<key>latitude</key>
		<real>-0.53710000000000002</real>
		<key>longitude</key>
		<real>100.80484800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734409</string>
		<key>latitude</key>
		<real>5.0107999999999997</real>
		<key>longitude</key>
		<real>100.54100800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1769612</string>
		<key>latitude</key>
		<real>3.2166700000000001</real>
		<key>longitude</key>
		<real>101.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1645133</string>
		<key>latitude</key>
		<real>1.68333</real>
		<key>longitude</key>
		<real>101.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1764027</string>
		<key>latitude</key>
		<real>5.3696599999999997</real>
		<key>longitude</key>
		<real>100.31353</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735089</string>
		<key>latitude</key>
		<real>5.1267100000000001</real>
		<key>longitude</key>
		<real>100.493156</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104136</string>
		<key>latitude</key>
		<real>-0.91000000000000003</real>
		<key>longitude</key>
		<real>100.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735086</string>
		<key>latitude</key>
		<real>5.1658600000000003</real>
		<key>longitude</key>
		<real>100.47792800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734576</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>100.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734769</string>
		<key>latitude</key>
		<real>3</real>
		<key>longitude</key>
		<real>101.400002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1628472</string>
		<key>latitude</key>
		<real>-0.67000000000000004</real>
		<key>longitude</key>
		<real>100.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104203</string>
		<key>latitude</key>
		<real>-0.64000000000000001</real>
		<key>longitude</key>
		<real>100.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735106</string>
		<key>latitude</key>
		<real>5.4100000000000001</real>
		<key>longitude</key>
		<real>100.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734586</string>
		<key>latitude</key>
		<real>4.8499999999999996</real>
		<key>longitude</key>
		<real>100.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1741550</string>
		<key>latitude</key>
		<real>5.46</real>
		<key>longitude</key>
		<real>100.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735076</string>
		<key>latitude</key>
		<real>5.4000000000000004</real>
		<key>longitude</key>
		<real>100.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1904214</string>
		<key>latitude</key>
		<real>3.07361</real>
		<key>longitude</key>
		<real>101.42083</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735077</string>
		<key>latitude</key>
		<real>5.3799999999999999</real>
		<key>longitude</key>
		<real>100.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1772148</string>
		<key>latitude</key>
		<real>5.3099999999999996</real>
		<key>longitude</key>
		<real>100.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1732905</string>
		<key>latitude</key>
		<real>3.0333299999999999</real>
		<key>longitude</key>
		<real>101.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734781</string>
		<key>latitude</key>
		<real>2.8166699999999998</real>
		<key>longitude</key>
		<real>101.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734793</string>
		<key>latitude</key>
		<real>2.8833299999999999</real>
		<key>longitude</key>
		<real>101.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104261</string>
		<key>latitude</key>
		<real>-0.89000000000000001</real>
		<key>longitude</key>
		<real>100.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1750500</string>
		<key>latitude</key>
		<real>5.46</real>
		<key>longitude</key>
		<real>100.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104206</string>
		<key>latitude</key>
		<real>-0.64185999999999999</real>
		<key>longitude</key>
		<real>100.917633</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735079</string>
		<key>latitude</key>
		<real>5.3600000000000003</real>
		<key>longitude</key>
		<real>100.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1732892</string>
		<key>latitude</key>
		<real>3.3799999999999999</real>
		<key>longitude</key>
		<real>101.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1635227</string>
		<key>latitude</key>
		<real>0.75449999999999995</real>
		<key>longitude</key>
		<real>101.44879899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1632237</string>
		<key>latitude</key>
		<real>-1.3050999999999999</real>
		<key>longitude</key>
		<real>100.50994900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1751525</string>
		<key>latitude</key>
		<real>5.4699999999999998</real>
		<key>longitude</key>
		<real>100.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1741562</string>
		<key>latitude</key>
		<real>2.6579000000000002</real>
		<key>longitude</key>
		<real>101.56289700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735268</string>
		<key>latitude</key>
		<real>4.4691599999999996</real>
		<key>longitude</key>
		<real>101.04106899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733037</string>
		<key>latitude</key>
		<real>3.1666699999999999</real>
		<key>longitude</key>
		<real>101.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1732893</string>
		<key>latitude</key>
		<real>3.3199999999999998</real>
		<key>longitude</key>
		<real>101.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735282</string>
		<key>latitude</key>
		<real>4.1666699999999999</real>
		<key>longitude</key>
		<real>101.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1732903</string>
		<key>latitude</key>
		<real>3.0899999999999999</real>
		<key>longitude</key>
		<real>101.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735274</string>
		<key>latitude</key>
		<real>4.2999999999999998</real>
		<key>longitude</key>
		<real>101.150002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627185</string>
		<key>latitude</key>
		<real>-0.68762000000000001</real>
		<key>longitude</key>
		<real>100.95365099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735155</string>
		<key>latitude</key>
		<real>3.1499999999999999</real>
		<key>longitude</key>
		<real>101.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1771023</string>
		<key>latitude</key>
		<real>3.1499999999999999</real>
		<key>longitude</key>
		<real>101.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1631761</string>
		<key>latitude</key>
		<real>0.53332999999999997</real>
		<key>longitude</key>
		<real>101.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734599</string>
		<key>latitude</key>
		<real>4.7666700000000004</real>
		<key>longitude</key>
		<real>100.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735506</string>
		<key>latitude</key>
		<real>5.5199999999999996</real>
		<key>longitude</key>
		<real>100.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734393</string>
		<key>latitude</key>
		<real>5.3600000000000003</real>
		<key>longitude</key>
		<real>100.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1750974</string>
		<key>latitude</key>
		<real>3.29</real>
		<key>longitude</key>
		<real>101.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6732140</string>
		<key>latitude</key>
		<real>0.45779999999999998</real>
		<key>longitude</key>
		<real>101.452499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7104275</string>
		<key>latitude</key>
		<real>-1.35172</real>
		<key>longitude</key>
		<real>100.57383</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735156</string>
		<key>latitude</key>
		<real>3.0800000000000001</real>
		<key>longitude</key>
		<real>101.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735093</string>
		<key>latitude</key>
		<real>5.4800000000000004</real>
		<key>longitude</key>
		<real>100.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735287</string>
		<key>latitude</key>
		<real>4.1166700000000001</real>
		<key>longitude</key>
		<real>101.283333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1759486</string>
		<key>latitude</key>
		<real>3.2599999999999998</real>
		<key>longitude</key>
		<real>101.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651678</string>
		<key>latitude</key>
		<real>-1.0700000000000001</real>
		<key>longitude</key>
		<real>100.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7612483</string>
		<key>latitude</key>
		<real>4.5704000000000002</real>
		<key>longitude</key>
		<real>101.08879899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734634</string>
		<key>latitude</key>
		<real>4.5841000000000003</real>
		<key>longitude</key>
		<real>101.08290100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6804725</string>
		<key>latitude</key>
		<real>6.3276899999999996</real>
		<key>longitude</key>
		<real>99.731032999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735158</string>
		<key>latitude</key>
		<real>3.1099999999999999</real>
		<key>longitude</key>
		<real>101.61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735150</string>
		<key>latitude</key>
		<real>3.3199999999999998</real>
		<key>longitude</key>
		<real>101.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1760605</string>
		<key>latitude</key>
		<real>3.2200000000000002</real>
		<key>longitude</key>
		<real>101.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735148</string>
		<key>latitude</key>
		<real>3.3645999999999998</real>
		<key>longitude</key>
		<real>101.60410299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735498</string>
		<key>latitude</key>
		<real>5.6500000000000004</real>
		<key>longitude</key>
		<real>100.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1222396</string>
		<key>latitude</key>
		<real>6.3264899999999997</real>
		<key>longitude</key>
		<real>99.843200999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733041</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>101</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734439</string>
		<key>latitude</key>
		<real>5.7300000000000004</real>
		<key>longitude</key>
		<real>100.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625797</string>
		<key>latitude</key>
		<real>-1.26</real>
		<key>longitude</key>
		<real>100.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735485</string>
		<key>latitude</key>
		<real>5.81717</real>
		<key>longitude</key>
		<real>100.47380800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735262</string>
		<key>latitude</key>
		<real>4.4749999999999996</real>
		<key>longitude</key>
		<real>101.37039900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736305</string>
		<key>latitude</key>
		<real>6.0999999999999996</real>
		<key>longitude</key>
		<real>100.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736309</string>
		<key>latitude</key>
		<real>6.1210399999999998</real>
		<key>longitude</key>
		<real>100.36013800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736292</string>
		<key>latitude</key>
		<real>6.4000000000000004</real>
		<key>longitude</key>
		<real>100.133331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6807148</string>
		<key>latitude</key>
		<real>6.1875099999999996</real>
		<key>longitude</key>
		<real>100.392662</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6819195</string>
		<key>latitude</key>
		<real>6.4308199999999998</real>
		<key>longitude</key>
		<real>100.197571</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736278</string>
		<key>latitude</key>
		<real>6.4413999999999998</real>
		<key>longitude</key>
		<real>100.198624</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736302</string>
		<key>latitude</key>
		<real>6.2681199999999997</real>
		<key>longitude</key>
		<real>100.42166899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733048</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>100.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606376</string>
		<key>latitude</key>
		<real>6.6231400000000002</real>
		<key>longitude</key>
		<real>100.066757</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1152426</string>
		<key>latitude</key>
		<real>6.8849200000000002</real>
		<key>longitude</key>
		<real>99.788360999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733040</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>100.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1150227</string>
		<key>latitude</key>
		<real>6.7901400000000001</real>
		<key>longitude</key>
		<real>99.970046999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606375</string>
		<key>latitude</key>
		<real>6.8333300000000001</real>
		<key>longitude</key>
		<real>100</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1609722</string>
		<key>latitude</key>
		<real>6.7875800000000002</real>
		<key>longitude</key>
		<real>100.077782</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1611635</string>
		<key>latitude</key>
		<real>5.7743399999999996</real>
		<key>longitude</key>
		<real>101.072311</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1609717</string>
		<key>latitude</key>
		<real>6.8453799999999996</real>
		<key>longitude</key>
		<real>100.07147999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1152670</string>
		<key>latitude</key>
		<real>7.53362</real>
		<key>longitude</key>
		<real>99.086472000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1154190</string>
		<key>latitude</key>
		<real>7.1095699999999997</real>
		<key>longitude</key>
		<real>99.755859000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603495</string>
		<key>latitude</key>
		<real>7.2403399999999998</real>
		<key>longitude</key>
		<real>99.576210000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1151557</string>
		<key>latitude</key>
		<real>7.1723699999999999</real>
		<key>longitude</key>
		<real>99.686240999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7510883</string>
		<key>latitude</key>
		<real>6.9993299999999996</real>
		<key>longitude</key>
		<real>99.921608000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6691842</string>
		<key>latitude</key>
		<real>7.6134199999999996</real>
		<key>longitude</key>
		<real>99.036507</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606939</string>
		<key>latitude</key>
		<real>6.6399999999999997</real>
		<key>longitude</key>
		<real>100.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1153072</string>
		<key>latitude</key>
		<real>7.4054200000000003</real>
		<key>longitude</key>
		<real>99.515609999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607976</string>
		<key>latitude</key>
		<real>6.75</real>
		<key>longitude</key>
		<real>100.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1150651</string>
		<key>latitude</key>
		<real>7.57158</real>
		<key>longitude</key>
		<real>99.344939999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1149757</string>
		<key>latitude</key>
		<real>7.3862199999999998</real>
		<key>longitude</key>
		<real>99.666923999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1150006</string>
		<key>latitude</key>
		<real>7.5</real>
		<key>longitude</key>
		<real>99.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630840</string>
		<key>latitude</key>
		<real>-1.78</real>
		<key>longitude</key>
		<real>101.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1618326</string>
		<key>latitude</key>
		<real>6.9000000000000004</real>
		<key>longitude</key>
		<real>100.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7466788</string>
		<key>latitude</key>
		<real>6.9199999999999999</real>
		<key>longitude</key>
		<real>100.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1150007</string>
		<key>latitude</key>
		<real>7.5599999999999996</real>
		<key>longitude</key>
		<real>99.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1605550</string>
		<key>latitude</key>
		<real>6.1673900000000001</real>
		<key>longitude</key>
		<real>101.180077</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1608402</string>
		<key>latitude</key>
		<real>6.7400000000000002</real>
		<key>longitude</key>
		<real>100.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607028</string>
		<key>latitude</key>
		<real>7.1347800000000001</real>
		<key>longitude</key>
		<real>100.25646999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1152654</string>
		<key>latitude</key>
		<real>7.4000000000000004</real>
		<key>longitude</key>
		<real>99.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1610360</string>
		<key>latitude</key>
		<real>6.4153599999999997</real>
		<key>longitude</key>
		<real>101.054558</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606146</string>
		<key>latitude</key>
		<real>6.8333300000000001</real>
		<key>longitude</key>
		<real>100.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607960</string>
		<key>latitude</key>
		<real>7.2694200000000002</real>
		<key>longitude</key>
		<real>100.170357</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1610780</string>
		<key>latitude</key>
		<real>7.0099999999999998</real>
		<key>longitude</key>
		<real>100.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1620816</string>
		<key>latitude</key>
		<real>7.0899999999999999</real>
		<key>longitude</key>
		<real>100.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7096430</string>
		<key>latitude</key>
		<real>6.96</real>
		<key>longitude</key>
		<real>100.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1600983</string>
		<key>latitude</key>
		<real>6.96</real>
		<key>longitude</key>
		<real>100.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1605810</string>
		<key>latitude</key>
		<real>7.3399999999999999</real>
		<key>longitude</key>
		<real>100.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625929</string>
		<key>latitude</key>
		<real>-2.0833300000000001</real>
		<key>longitude</key>
		<real>101.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606944</string>
		<key>latitude</key>
		<real>6.6174999999999997</real>
		<key>longitude</key>
		<real>100.95188899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1609711</string>
		<key>latitude</key>
		<real>7.1900000000000004</real>
		<key>longitude</key>
		<real>100.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1616198</string>
		<key>latitude</key>
		<real>6.2663799999999998</real>
		<key>longitude</key>
		<real>101.26461</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604869</string>
		<key>latitude</key>
		<real>6.3333300000000001</real>
		<key>longitude</key>
		<real>101.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604979</string>
		<key>latitude</key>
		<real>6.4797000000000002</real>
		<key>longitude</key>
		<real>101.13200399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7511049</string>
		<key>latitude</key>
		<real>7.5700000000000003</real>
		<key>longitude</key>
		<real>99.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1611324</string>
		<key>latitude</key>
		<real>6.9154200000000001</real>
		<key>longitude</key>
		<real>100.740387</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1610018</string>
		<key>latitude</key>
		<real>7.46</real>
		<key>longitude</key>
		<real>100.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607778</string>
		<key>latitude</key>
		<real>7.5</real>
		<key>longitude</key>
		<real>100.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1620873</string>
		<key>latitude</key>
		<real>7.4299999999999997</real>
		<key>longitude</key>
		<real>100.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1608028</string>
		<key>latitude</key>
		<real>7.3421900000000004</real>
		<key>longitude</key>
		<real>100.31746699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1610296</string>
		<key>latitude</key>
		<real>6.4112</real>
		<key>longitude</key>
		<real>101.27394099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1601579</string>
		<key>latitude</key>
		<real>7.20411</real>
		<key>longitude</key>
		<real>100.54508199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604600</string>
		<key>latitude</key>
		<real>6.8293600000000003</real>
		<key>longitude</key>
		<real>100.96431</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6791036</string>
		<key>latitude</key>
		<real>7.1804199999999998</real>
		<key>longitude</key>
		<real>100.596611</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606147</string>
		<key>latitude</key>
		<real>7.1988200000000004</real>
		<key>longitude</key>
		<real>100.5951</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606237</string>
		<key>latitude</key>
		<real>6.2313700000000001</real>
		<key>longitude</key>
		<real>101.50048099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607779</string>
		<key>latitude</key>
		<real>7.6200000000000001</real>
		<key>longitude</key>
		<real>100.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1609820</string>
		<key>latitude</key>
		<real>6.7306400000000002</real>
		<key>longitude</key>
		<real>101.096199</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604870</string>
		<key>latitude</key>
		<real>6.54</real>
		<key>longitude</key>
		<real>101.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1616888</string>
		<key>latitude</key>
		<real>6.6600000000000001</real>
		<key>longitude</key>
		<real>101.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607097</string>
		<key>latitude</key>
		<real>6.4800000000000004</real>
		<key>longitude</key>
		<real>101.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1614396</string>
		<key>latitude</key>
		<real>6.78667</real>
		<key>longitude</key>
		<real>101.16419999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606394</string>
		<key>latitude</key>
		<real>7.4730299999999996</real>
		<key>longitude</key>
		<real>100.43907900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606961</string>
		<key>latitude</key>
		<real>6.3899999999999997</real>
		<key>longitude</key>
		<real>101.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1608263</string>
		<key>latitude</key>
		<real>6.8435600000000001</real>
		<key>longitude</key>
		<real>101.178032</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1609422</string>
		<key>latitude</key>
		<real>7.6154799999999998</real>
		<key>longitude</key>
		<real>100.328423</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604863</string>
		<key>latitude</key>
		<real>6.7598599999999998</real>
		<key>longitude</key>
		<real>101.29338799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7510919</string>
		<key>latitude</key>
		<real>6.6200000000000001</real>
		<key>longitude</key>
		<real>101.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1941204</string>
		<key>latitude</key>
		<real>6.6200000000000001</real>
		<key>longitude</key>
		<real>101.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1607978</string>
		<key>latitude</key>
		<real>6.8681400000000004</real>
		<key>longitude</key>
		<real>101.250092</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7510931</string>
		<key>latitude</key>
		<real>6.5596800000000002</real>
		<key>longitude</key>
		<real>101.53426399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1618661</string>
		<key>latitude</key>
		<real>6.5596800000000002</real>
		<key>longitude</key>
		<real>101.53426399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1608733</string>
		<key>latitude</key>
		<real>6.7186399999999997</real>
		<key>longitude</key>
		<real>101.409828</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1941157</string>
		<key>latitude</key>
		<real>6.88917</real>
		<key>longitude</key>
		<real>101.28224899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604710</string>
		<key>latitude</key>
		<real>6.5167799999999998</real>
		<key>longitude</key>
		<real>101.65100099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1604771</string>
		<key>latitude</key>
		<real>6.8661700000000003</real>
		<key>longitude</key>
		<real>101.368942</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1606851</string>
		<key>latitude</key>
		<real>6.7013100000000003</real>
		<key>longitude</key>
		<real>101.616753</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1608007</string>
		<key>latitude</key>
		<real>6.8619199999999996</real>
		<key>longitude</key>
		<real>101.491028</real>
	</dict>
</array>
</plist>
