<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1235846</string>
		<key>latitude</key>
		<real>5.9485099999999997</real>
		<key>longitude</key>
		<real>80.535278000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1223488</string>
		<key>latitude</key>
		<real>5.9500000000000002</real>
		<key>longitude</key>
		<real>80.550003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1231644</string>
		<key>latitude</key>
		<real>5.9500000000000002</real>
		<key>longitude</key>
		<real>80.550003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1223738</string>
		<key>latitude</key>
		<real>5.9666699999999997</real>
		<key>longitude</key>
		<real>80.416672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1246294</string>
		<key>latitude</key>
		<real>6.0366999999999997</real>
		<key>longitude</key>
		<real>80.217003000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1238367</string>
		<key>latitude</key>
		<real>6.0564999999999998</real>
		<key>longitude</key>
		<real>80.210098000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1227037</string>
		<key>latitude</key>
		<real>6.024</real>
		<key>longitude</key>
		<real>80.7911</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1244178</string>
		<key>latitude</key>
		<real>6.1406999999999998</real>
		<key>longitude</key>
		<real>80.101196000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1227618</string>
		<key>latitude</key>
		<real>6.1666699999999999</real>
		<key>longitude</key>
		<real>80.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1251574</string>
		<key>latitude</key>
		<real>6.2355</real>
		<key>longitude</key>
		<real>80.053802000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1234846</string>
		<key>latitude</key>
		<real>6.2680999999999996</real>
		<key>longitude</key>
		<real>80.037803999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1244926</string>
		<key>latitude</key>
		<real>6.1241000000000003</real>
		<key>longitude</key>
		<real>81.118499999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1249978</string>
		<key>latitude</key>
		<real>6.4253999999999998</real>
		<key>longitude</key>
		<real>79.994797000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1249931</string>
		<key>latitude</key>
		<real>6.4787999999999997</real>
		<key>longitude</key>
		<real>79.982803000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6285792</string>
		<key>latitude</key>
		<real>6.48088</real>
		<key>longitude</key>
		<real>80.127082999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1241964</string>
		<key>latitude</key>
		<real>6.5831</real>
		<key>longitude</key>
		<real>79.959297000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1228730</string>
		<key>latitude</key>
		<real>6.6799999999999997</real>
		<key>longitude</key>
		<real>80.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1231410</string>
		<key>latitude</key>
		<real>6.7131999999999996</real>
		<key>longitude</key>
		<real>79.902602999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1243867</string>
		<key>latitude</key>
		<real>6.7199999999999998</real>
		<key>longitude</key>
		<real>80.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1234633</string>
		<key>latitude</key>
		<real>6.7729999999999997</real>
		<key>longitude</key>
		<real>79.881598999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1228435</string>
		<key>latitude</key>
		<real>6.75</real>
		<key>longitude</key>
		<real>80.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1223421</string>
		<key>latitude</key>
		<real>6.8300000000000001</real>
		<key>longitude</key>
		<real>80.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1246321</string>
		<key>latitude</key>
		<real>6.8292999999999999</real>
		<key>longitude</key>
		<real>79.862999000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1243936</string>
		<key>latitude</key>
		<real>6.8399999999999999</real>
		<key>longitude</key>
		<real>80</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1236854</string>
		<key>latitude</key>
		<real>6.8499999999999996</real>
		<key>longitude</key>
		<real>79.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1244713</string>
		<key>latitude</key>
		<real>6.7681199999999997</real>
		<key>longitude</key>
		<real>80.959541000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7546468</string>
		<key>latitude</key>
		<real>6.8300000000000001</real>
		<key>longitude</key>
		<real>80.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1226494</string>
		<key>latitude</key>
		<real>6.8887999999999998</real>
		<key>longitude</key>
		<real>79.865500999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1230089</string>
		<key>latitude</key>
		<real>6.8899999999999997</real>
		<key>longitude</key>
		<real>79.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1250164</string>
		<key>latitude</key>
		<real>6.9000000000000004</real>
		<key>longitude</key>
		<real>79.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1238992</string>
		<key>latitude</key>
		<real>6.9000000000000004</real>
		<key>longitude</key>
		<real>79.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1244773</string>
		<key>latitude</key>
		<real>6.9012000000000002</real>
		<key>longitude</key>
		<real>80.085196999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1227667</string>
		<key>latitude</key>
		<real>6.9166699999999999</real>
		<key>longitude</key>
		<real>79.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1244596</string>
		<key>latitude</key>
		<real>6.8916000000000004</real>
		<key>longitude</key>
		<real>80.595496999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1239047</string>
		<key>latitude</key>
		<real>6.9268999999999998</real>
		<key>longitude</key>
		<real>79.909499999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1234378</string>
		<key>latitude</key>
		<real>6.9329999999999998</real>
		<key>longitude</key>
		<real>79.929703000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1239593</string>
		<key>latitude</key>
		<real>6.9329000000000001</real>
		<key>longitude</key>
		<real>79.884804000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1248991</string>
		<key>latitude</key>
		<real>6.93194</real>
		<key>longitude</key>
		<real>79.847778000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1240622</string>
		<key>latitude</key>
		<real>6.9553000000000003</real>
		<key>longitude</key>
		<real>79.921997000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1230613</string>
		<key>latitude</key>
		<real>6.9684999999999997</real>
		<key>longitude</key>
		<real>79.883598000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1224085</string>
		<key>latitude</key>
		<real>6.9779</real>
		<key>longitude</key>
		<real>79.889801000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1227300</string>
		<key>latitude</key>
		<real>6.9371</real>
		<key>longitude</key>
		<real>80.658096</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1244397</string>
		<key>latitude</key>
		<real>6.9908999999999999</real>
		<key>longitude</key>
		<real>79.883003000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1224061</string>
		<key>latitude</key>
		<real>6.7988999999999997</real>
		<key>longitude</key>
		<real>81.480796999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1223648</string>
		<key>latitude</key>
		<real>7.0281000000000002</real>
		<key>longitude</key>
		<real>79.901398</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1232783</string>
		<key>latitude</key>
		<real>6.9707800000000004</real>
		<key>longitude</key>
		<real>80.782859999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1241750</string>
		<key>latitude</key>
		<real>7.048</real>
		<key>longitude</key>
		<real>79.893699999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1234808</string>
		<key>latitude</key>
		<real>6.8714000000000004</real>
		<key>longitude</key>
		<real>81.348701000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1242835</string>
		<key>latitude</key>
		<real>7.0700000000000003</real>
		<key>longitude</key>
		<real>79.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1246007</string>
		<key>latitude</key>
		<real>7.0896999999999997</real>
		<key>longitude</key>
		<real>79.992500000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1227603</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1250615</string>
		<key>latitude</key>
		<real>6.9894999999999996</real>
		<key>longitude</key>
		<real>81.055701999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1225265</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>81.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1240935</string>
		<key>latitude</key>
		<real>7.1642999999999999</real>
		<key>longitude</key>
		<real>79.875702000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1235000</string>
		<key>latitude</key>
		<real>7.1699999999999999</real>
		<key>longitude</key>
		<real>79.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1246000</string>
		<key>latitude</key>
		<real>7.1600000000000001</real>
		<key>longitude</key>
		<real>80.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7542695</string>
		<key>latitude</key>
		<real>7.1900000000000004</real>
		<key>longitude</key>
		<real>79.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1233369</string>
		<key>latitude</key>
		<real>7.2083000000000004</real>
		<key>longitude</key>
		<real>79.835800000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1242571</string>
		<key>latitude</key>
		<real>7.25</real>
		<key>longitude</key>
		<real>80.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1241622</string>
		<key>latitude</key>
		<real>7.2999999999999998</real>
		<key>longitude</key>
		<real>80.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7433819</string>
		<key>latitude</key>
		<real>7.3029000000000002</real>
		<key>longitude</key>
		<real>80.721298000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1249296</string>
		<key>latitude</key>
		<real>7.3333300000000001</real>
		<key>longitude</key>
		<real>80.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1238427</string>
		<key>latitude</key>
		<real>7.4687999999999999</real>
		<key>longitude</key>
		<real>80.040099999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1237980</string>
		<key>latitude</key>
		<real>7.4863</real>
		<key>longitude</key>
		<real>80.362296999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1226992</string>
		<key>latitude</key>
		<real>7.4699999999999998</real>
		<key>longitude</key>
		<real>80.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1251459</string>
		<key>latitude</key>
		<real>7.2833300000000003</real>
		<key>longitude</key>
		<real>81.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1249145</string>
		<key>latitude</key>
		<real>7.5758299999999998</real>
		<key>longitude</key>
		<real>79.795280000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8260318</string>
		<key>latitude</key>
		<real>7.3821599999999998</real>
		<key>longitude</key>
		<real>81.841980000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1242110</string>
		<key>latitude</key>
		<real>7.4166699999999999</real>
		<key>longitude</key>
		<real>81.816672999999994</real>
	</dict>
</array>
</plist>
