<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1279685</string>
		<key>latitude</key>
		<real>32</real>
		<key>longitude</key>
		<real>90</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280317</string>
		<key>latitude</key>
		<real>31.75</real>
		<key>longitude</key>
		<real>89.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279556</string>
		<key>latitude</key>
		<real>33.650002000000001</real>
		<key>longitude</key>
		<real>84.466667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280284</string>
		<key>latitude</key>
		<real>30.93</real>
		<key>longitude</key>
		<real>88.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279982</string>
		<key>latitude</key>
		<real>31.983329999999999</real>
		<key>longitude</key>
		<real>91.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8048232</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>87.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280645</string>
		<key>latitude</key>
		<real>31.329999999999998</real>
		<key>longitude</key>
		<real>85.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280356</string>
		<key>latitude</key>
		<real>32.333328000000002</real>
		<key>longitude</key>
		<real>91.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280679</string>
		<key>latitude</key>
		<real>32.266669999999998</real>
		<key>longitude</key>
		<real>84.199996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280048</string>
		<key>latitude</key>
		<real>32.216670999999998</real>
		<key>longitude</key>
		<real>92.116669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280517</string>
		<key>latitude</key>
		<real>31.5</real>
		<key>longitude</key>
		<real>92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280743</string>
		<key>latitude</key>
		<real>29.870000000000001</real>
		<key>longitude</key>
		<real>89.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255147</string>
		<key>latitude</key>
		<real>29.84</real>
		<key>longitude</key>
		<real>89.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8048206</string>
		<key>latitude</key>
		<real>29.800000000000001</real>
		<key>longitude</key>
		<real>89.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281564</string>
		<key>latitude</key>
		<real>29.870000000000001</real>
		<key>longitude</key>
		<real>85.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8049689</string>
		<key>latitude</key>
		<real>29.609999999999999</real>
		<key>longitude</key>
		<real>89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281285</string>
		<key>latitude</key>
		<real>36.616669000000002</real>
		<key>longitude</key>
		<real>92.650002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281208</string>
		<key>latitude</key>
		<real>29.370000000000001</real>
		<key>longitude</key>
		<real>88.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281368</string>
		<key>latitude</key>
		<real>29.961780999999998</real>
		<key>longitude</key>
		<real>90.71875</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280240</string>
		<key>latitude</key>
		<real>37.833328000000002</real>
		<key>longitude</key>
		<real>84.533332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279715</string>
		<key>latitude</key>
		<real>29.25</real>
		<key>longitude</key>
		<real>88.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280466</string>
		<key>latitude</key>
		<real>29.23</real>
		<key>longitude</key>
		<real>87.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280181</string>
		<key>latitude</key>
		<real>29.100000000000001</real>
		<key>longitude</key>
		<real>87.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280425</string>
		<key>latitude</key>
		<real>29.170000000000002</real>
		<key>longitude</key>
		<real>89.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280277</string>
		<key>latitude</key>
		<real>29.27</real>
		<key>longitude</key>
		<real>89.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280107</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>88.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280737</string>
		<key>latitude</key>
		<real>29.649999999999999</real>
		<key>longitude</key>
		<real>91.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279531</string>
		<key>latitude</key>
		<real>31.850000000000001</real>
		<key>longitude</key>
		<real>93.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281119</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>89.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7536143</string>
		<key>latitude</key>
		<real>29.32</real>
		<key>longitude</key>
		<real>85.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6547307</string>
		<key>latitude</key>
		<real>29.288419999999999</real>
		<key>longitude</key>
		<real>90.899078000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281659</string>
		<key>latitude</key>
		<real>39.066668999999997</real>
		<key>longitude</key>
		<real>90.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7894308</string>
		<key>latitude</key>
		<real>31.400998999999999</real>
		<key>longitude</key>
		<real>93.600998000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279497</string>
		<key>latitude</key>
		<real>29.649999999999999</real>
		<key>longitude</key>
		<real>84.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281405</string>
		<key>latitude</key>
		<real>31.933330999999999</real>
		<key>longitude</key>
		<real>94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281736</string>
		<key>latitude</key>
		<real>36.466670999999998</real>
		<key>longitude</key>
		<real>81.966667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279429</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>85.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281437</string>
		<key>latitude</key>
		<real>36.599997999999999</real>
		<key>longitude</key>
		<real>94.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8067345</string>
		<key>latitude</key>
		<real>29.266670000000001</real>
		<key>longitude</key>
		<real>91.766670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8059137</string>
		<key>latitude</key>
		<real>29.899999999999999</real>
		<key>longitude</key>
		<real>93.300003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283023</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>83.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281556</string>
		<key>latitude</key>
		<real>38.033329000000002</real>
		<key>longitude</key>
		<real>93.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283031</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>83.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6941673</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>83.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6941675</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>83.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7971832</string>
		<key>latitude</key>
		<real>28.84</real>
		<key>longitude</key>
		<real>83.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283278</string>
		<key>latitude</key>
		<real>28.829999999999998</real>
		<key>longitude</key>
		<real>83.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7800941</string>
		<key>latitude</key>
		<real>28.850000000000001</real>
		<key>longitude</key>
		<real>83.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6941672</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>83.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283454</string>
		<key>latitude</key>
		<real>28.829999999999998</real>
		<key>longitude</key>
		<real>83.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279860</string>
		<key>latitude</key>
		<real>38.383330999999998</real>
		<key>longitude</key>
		<real>82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283245</string>
		<key>latitude</key>
		<real>29.5</real>
		<key>longitude</key>
		<real>82.416672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280485</string>
		<key>latitude</key>
		<real>29.049999</real>
		<key>longitude</key>
		<real>93.199996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7798776</string>
		<key>latitude</key>
		<real>29.315200999999998</real>
		<key>longitude</key>
		<real>82.175597999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7955603</string>
		<key>latitude</key>
		<real>29.273291</real>
		<key>longitude</key>
		<real>82.193932000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283287</string>
		<key>latitude</key>
		<real>29.275279999999999</real>
		<key>longitude</key>
		<real>82.183327000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1283285</string>
		<key>latitude</key>
		<real>29.274719000000001</real>
		<key>longitude</key>
		<real>82.18383</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7289706</string>
		<key>latitude</key>
		<real>29.059771000000001</real>
		<key>longitude</key>
		<real>82.313346999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279843</string>
		<key>latitude</key>
		<real>29.200001</real>
		<key>longitude</key>
		<real>94.083327999999995</real>
	</dict>
</array>
</plist>
