<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1280653</string>
		<key>latitude</key>
		<real>32.829999999999998</real>
		<key>longitude</key>
		<real>97.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280239</string>
		<key>latitude</key>
		<real>36</real>
		<key>longitude</key>
		<real>96</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280194</string>
		<key>latitude</key>
		<real>32.979999999999997</real>
		<key>longitude</key>
		<real>98.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281127</string>
		<key>latitude</key>
		<real>31.533331</real>
		<key>longitude</key>
		<real>95.433327000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279746</string>
		<key>latitude</key>
		<real>31.41</real>
		<key>longitude</key>
		<real>95.620002999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280174</string>
		<key>latitude</key>
		<real>31.399999999999999</real>
		<key>longitude</key>
		<real>96.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281405</string>
		<key>latitude</key>
		<real>31.933330999999999</real>
		<key>longitude</key>
		<real>94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279531</string>
		<key>latitude</key>
		<real>31.850000000000001</real>
		<key>longitude</key>
		<real>93.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280281</string>
		<key>latitude</key>
		<real>31.170000000000002</real>
		<key>longitude</key>
		<real>97.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281437</string>
		<key>latitude</key>
		<real>36.599997999999999</real>
		<key>longitude</key>
		<real>94.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281189</string>
		<key>latitude</key>
		<real>31.82</real>
		<key>longitude</key>
		<real>98.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280927</string>
		<key>latitude</key>
		<real>31.5</real>
		<key>longitude</key>
		<real>98.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279435</string>
		<key>latitude</key>
		<real>30.780000000000001</real>
		<key>longitude</key>
		<real>95.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281323</string>
		<key>latitude</key>
		<real>30.899999999999999</real>
		<key>longitude</key>
		<real>94.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7894308</string>
		<key>latitude</key>
		<real>31.400998999999999</real>
		<key>longitude</key>
		<real>93.600998000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279690</string>
		<key>latitude</key>
		<real>37.283329000000002</real>
		<key>longitude</key>
		<real>95.516670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281038</string>
		<key>latitude</key>
		<real>37.351551000000001</real>
		<key>longitude</key>
		<real>96.749741</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8073614</string>
		<key>latitude</key>
		<real>37.321289</real>
		<key>longitude</key>
		<real>97.134567000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8073281</string>
		<key>latitude</key>
		<real>37.368858000000003</real>
		<key>longitude</key>
		<real>97.356216000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384069</string>
		<key>latitude</key>
		<real>35.280000000000001</real>
		<key>longitude</key>
		<real>100.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1804622</string>
		<key>latitude</key>
		<real>35.240000000000002</real>
		<key>longitude</key>
		<real>100.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384060</string>
		<key>latitude</key>
		<real>35.520000000000003</real>
		<key>longitude</key>
		<real>100.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279592</string>
		<key>latitude</key>
		<real>30.649999999999999</real>
		<key>longitude</key>
		<real>97.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7896018</string>
		<key>latitude</key>
		<real>30.800000000000001</real>
		<key>longitude</key>
		<real>98.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280048</string>
		<key>latitude</key>
		<real>32.216670999999998</real>
		<key>longitude</key>
		<real>92.116669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384078</string>
		<key>latitude</key>
		<real>35.509999999999998</real>
		<key>longitude</key>
		<real>100.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384107</string>
		<key>latitude</key>
		<real>35.060000000000002</real>
		<key>longitude</key>
		<real>100.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384096</string>
		<key>latitude</key>
		<real>35.329999999999998</real>
		<key>longitude</key>
		<real>100.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7371320</string>
		<key>latitude</key>
		<real>36.789999999999999</real>
		<key>longitude</key>
		<real>99.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281285</string>
		<key>latitude</key>
		<real>36.616669000000002</real>
		<key>longitude</key>
		<real>92.650002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7387161</string>
		<key>latitude</key>
		<real>35.890000000000001</real>
		<key>longitude</key>
		<real>100</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7371354</string>
		<key>latitude</key>
		<real>36.329999999999998</real>
		<key>longitude</key>
		<real>99.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384124</string>
		<key>latitude</key>
		<real>35.200000000000003</real>
		<key>longitude</key>
		<real>100.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1817811</string>
		<key>latitude</key>
		<real>35.270000000000003</real>
		<key>longitude</key>
		<real>100.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810274</string>
		<key>latitude</key>
		<real>35.689999999999998</real>
		<key>longitude</key>
		<real>100.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810804</string>
		<key>latitude</key>
		<real>35.259999999999998</real>
		<key>longitude</key>
		<real>100.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384129</string>
		<key>latitude</key>
		<real>35.600000000000001</real>
		<key>longitude</key>
		<real>100.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280356</string>
		<key>latitude</key>
		<real>32.333328000000002</real>
		<key>longitude</key>
		<real>91.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1796493</string>
		<key>latitude</key>
		<real>32.270000000000003</real>
		<key>longitude</key>
		<real>100.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281708</string>
		<key>latitude</key>
		<real>30.050000000000001</real>
		<key>longitude</key>
		<real>96.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384142</string>
		<key>latitude</key>
		<real>35.630000000000003</real>
		<key>longitude</key>
		<real>100.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279694</string>
		<key>latitude</key>
		<real>37.299999999999997</real>
		<key>longitude</key>
		<real>99</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810271</string>
		<key>latitude</key>
		<real>31.620000000000001</real>
		<key>longitude</key>
		<real>99.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281054</string>
		<key>latitude</key>
		<real>36.729999999999997</real>
		<key>longitude</key>
		<real>99.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1801298</string>
		<key>latitude</key>
		<real>35.649999999999999</real>
		<key>longitude</key>
		<real>100.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1799160</string>
		<key>latitude</key>
		<real>35.200000000000003</real>
		<key>longitude</key>
		<real>100.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279489</string>
		<key>latitude</key>
		<real>29.829999999999998</real>
		<key>longitude</key>
		<real>95.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280517</string>
		<key>latitude</key>
		<real>31.5</real>
		<key>longitude</key>
		<real>92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7371349</string>
		<key>latitude</key>
		<real>37</real>
		<key>longitude</key>
		<real>99.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384184</string>
		<key>latitude</key>
		<real>35.590000000000003</real>
		<key>longitude</key>
		<real>100.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1807910</string>
		<key>latitude</key>
		<real>35.229999999999997</real>
		<key>longitude</key>
		<real>100.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7384198</string>
		<key>latitude</key>
		<real>35.390000000000001</real>
		<key>longitude</key>
		<real>100.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1793857</string>
		<key>latitude</key>
		<real>35.520000000000003</real>
		<key>longitude</key>
		<real>100.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281556</string>
		<key>latitude</key>
		<real>38.033329000000002</real>
		<key>longitude</key>
		<real>93.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1798403</string>
		<key>latitude</key>
		<real>36.280000000000001</real>
		<key>longitude</key>
		<real>100.61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1796440</string>
		<key>latitude</key>
		<real>35.920000000000002</real>
		<key>longitude</key>
		<real>100.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279982</string>
		<key>latitude</key>
		<real>31.983329999999999</real>
		<key>longitude</key>
		<real>91.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279812</string>
		<key>latitude</key>
		<real>29.68</real>
		<key>longitude</key>
		<real>97.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280315</string>
		<key>latitude</key>
		<real>29.533331</real>
		<key>longitude</key>
		<real>94.416672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8059137</string>
		<key>latitude</key>
		<real>29.899999999999999</real>
		<key>longitude</key>
		<real>93.300003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280590</string>
		<key>latitude</key>
		<real>29.32</real>
		<key>longitude</key>
		<real>95.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1789098</string>
		<key>latitude</key>
		<real>31.399999999999999</real>
		<key>longitude</key>
		<real>100.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1796356</string>
		<key>latitude</key>
		<real>37.329999999999998</real>
		<key>longitude</key>
		<real>100.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1797039</string>
		<key>latitude</key>
		<real>30.940000000000001</real>
		<key>longitude</key>
		<real>100.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1809049</string>
		<key>latitude</key>
		<real>37.219999999999999</real>
		<key>longitude</key>
		<real>100.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281221</string>
		<key>latitude</key>
		<real>29.68</real>
		<key>longitude</key>
		<real>98.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1808204</string>
		<key>latitude</key>
		<real>36.039999999999999</real>
		<key>longitude</key>
		<real>101.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1818177</string>
		<key>latitude</key>
		<real>32.899999999999999</real>
		<key>longitude</key>
		<real>101.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7351996</string>
		<key>latitude</key>
		<real>37.079999999999998</real>
		<key>longitude</key>
		<real>100.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1796743</string>
		<key>latitude</key>
		<real>36.890000000000001</real>
		<key>longitude</key>
		<real>101</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1807128</string>
		<key>latitude</key>
		<real>36.689999999999998</real>
		<key>longitude</key>
		<real>101.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279843</string>
		<key>latitude</key>
		<real>29.200001</real>
		<key>longitude</key>
		<real>94.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1797091</string>
		<key>latitude</key>
		<real>35.509999999999998</real>
		<key>longitude</key>
		<real>102.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413215</string>
		<key>latitude</key>
		<real>35.530000000000001</real>
		<key>longitude</key>
		<real>102.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413232</string>
		<key>latitude</key>
		<real>35.490000000000002</real>
		<key>longitude</key>
		<real>102.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413208</string>
		<key>latitude</key>
		<real>35.619999999999997</real>
		<key>longitude</key>
		<real>102.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1801734</string>
		<key>latitude</key>
		<real>36.5</real>
		<key>longitude</key>
		<real>101.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8049766</string>
		<key>latitude</key>
		<real>28.800000000000001</real>
		<key>longitude</key>
		<real>96.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1816985</string>
		<key>latitude</key>
		<real>35.619999999999997</real>
		<key>longitude</key>
		<real>102.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1783556</string>
		<key>latitude</key>
		<real>30.989999999999998</real>
		<key>longitude</key>
		<real>101.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413219</string>
		<key>latitude</key>
		<real>35.850000000000001</real>
		<key>longitude</key>
		<real>102.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413225</string>
		<key>latitude</key>
		<real>35.890000000000001</real>
		<key>longitude</key>
		<real>102.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1801511</string>
		<key>latitude</key>
		<real>35.939999999999998</real>
		<key>longitude</key>
		<real>102.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413305</string>
		<key>latitude</key>
		<real>35.560000000000002</real>
		<key>longitude</key>
		<real>102.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7413322</string>
		<key>latitude</key>
		<real>35.700000000000003</real>
		<key>longitude</key>
		<real>102.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1788852</string>
		<key>latitude</key>
		<real>36.619999999999997</real>
		<key>longitude</key>
		<real>101.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1813029</string>
		<key>latitude</key>
		<real>35.969999999999999</real>
		<key>longitude</key>
		<real>102.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279685</string>
		<key>latitude</key>
		<real>32</real>
		<key>longitude</key>
		<real>90</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280485</string>
		<key>latitude</key>
		<real>29.049999</real>
		<key>longitude</key>
		<real>93.199996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1912743</string>
		<key>latitude</key>
		<real>36.520000000000003</real>
		<key>longitude</key>
		<real>101.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1798863</string>
		<key>latitude</key>
		<real>36.5</real>
		<key>longitude</key>
		<real>102.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7351285</string>
		<key>latitude</key>
		<real>37.969999999999999</real>
		<key>longitude</key>
		<real>100.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1816868</string>
		<key>latitude</key>
		<real>31.899999999999999</real>
		<key>longitude</key>
		<real>102.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280317</string>
		<key>latitude</key>
		<real>31.75</real>
		<key>longitude</key>
		<real>89.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1805734</string>
		<key>latitude</key>
		<real>31.48</real>
		<key>longitude</key>
		<real>102.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6643953</string>
		<key>latitude</key>
		<real>28.940000000000001</real>
		<key>longitude</key>
		<real>99.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1785258</string>
		<key>latitude</key>
		<real>30.870000000000001</real>
		<key>longitude</key>
		<real>101.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8067345</string>
		<key>latitude</key>
		<real>29.266670000000001</real>
		<key>longitude</key>
		<real>91.766670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280737</string>
		<key>latitude</key>
		<real>29.649999999999999</real>
		<key>longitude</key>
		<real>91.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281368</string>
		<key>latitude</key>
		<real>29.961780999999998</real>
		<key>longitude</key>
		<real>90.71875</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1785036</string>
		<key>latitude</key>
		<real>38.93</real>
		<key>longitude</key>
		<real>100.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810676</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>102</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6547307</string>
		<key>latitude</key>
		<real>29.288419999999999</real>
		<key>longitude</key>
		<real>90.899078000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1802171</string>
		<key>latitude</key>
		<real>30.050000000000001</real>
		<key>longitude</key>
		<real>101.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1805733</string>
		<key>latitude</key>
		<real>38.495280999999999</real>
		<key>longitude</key>
		<real>102.173889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1811746</string>
		<key>latitude</key>
		<real>39.200001</real>
		<key>longitude</key>
		<real>101.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281659</string>
		<key>latitude</key>
		<real>39.066668999999997</real>
		<key>longitude</key>
		<real>90.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280277</string>
		<key>latitude</key>
		<real>29.27</real>
		<key>longitude</key>
		<real>89.900000000000006</real>
	</dict>
</array>
</plist>
