<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1282256</string>
		<key>latitude</key>
		<real>-0.59999999999999998</real>
		<key>longitude</key>
		<real>73.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281980</string>
		<key>latitude</key>
		<real>-0.58333000000000002</real>
		<key>longitude</key>
		<real>73.233329999999995</real>
	</dict>
</array>
</plist>
