<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1337607</string>
		<key>latitude</key>
		<real>2.67075</real>
		<key>longitude</key>
		<real>72.894371000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7911024</string>
		<key>latitude</key>
		<real>2.35582</real>
		<key>longitude</key>
		<real>73.354729000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910632</string>
		<key>latitude</key>
		<real>2.5030600000000001</real>
		<key>longitude</key>
		<real>73.308593999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1282028</string>
		<key>latitude</key>
		<real>3.2000000000000002</real>
		<key>longitude</key>
		<real>73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337610</string>
		<key>latitude</key>
		<real>0.53332999999999997</real>
		<key>longitude</key>
		<real>72.933327000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337617</string>
		<key>latitude</key>
		<real>2.9166699999999999</real>
		<key>longitude</key>
		<real>73.566672999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337605</string>
		<key>latitude</key>
		<real>3.7833299999999999</real>
		<key>longitude</key>
		<real>72.966667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337624</string>
		<key>latitude</key>
		<real>4.1749999999999998</real>
		<key>longitude</key>
		<real>73.508330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1282027</string>
		<key>latitude</key>
		<real>4.1748000000000003</real>
		<key>longitude</key>
		<real>73.508881000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1282256</string>
		<key>latitude</key>
		<real>-0.59999999999999998</real>
		<key>longitude</key>
		<real>73.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281980</string>
		<key>latitude</key>
		<real>-0.58333000000000002</real>
		<key>longitude</key>
		<real>73.233329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337606</string>
		<key>latitude</key>
		<real>5.1032700000000002</real>
		<key>longitude</key>
		<real>73.070778000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337616</string>
		<key>latitude</key>
		<real>5.4443799999999998</real>
		<key>longitude</key>
		<real>73.365707</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337619</string>
		<key>latitude</key>
		<real>5.6666699999999999</real>
		<key>longitude</key>
		<real>73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337618</string>
		<key>latitude</key>
		<real>5.7666700000000004</real>
		<key>longitude</key>
		<real>73.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337620</string>
		<key>latitude</key>
		<real>6.1500000000000004</real>
		<key>longitude</key>
		<real>73.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337613</string>
		<key>latitude</key>
		<real>6.6220699999999999</real>
		<key>longitude</key>
		<real>73.069976999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337612</string>
		<key>latitude</key>
		<real>6.8833299999999999</real>
		<key>longitude</key>
		<real>73.099997999999999</real>
	</dict>
</array>
</plist>
