<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>130261</string>
		<key>latitude</key>
		<real>33.670000000000002</real>
		<key>longitude</key>
		<real>56.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>113659</string>
		<key>latitude</key>
		<real>33.600000000000001</real>
		<key>longitude</key>
		<real>56.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>111821</string>
		<key>latitude</key>
		<real>32.5</real>
		<key>longitude</key>
		<real>55.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>116401</string>
		<key>latitude</key>
		<real>35.5</real>
		<key>longitude</key>
		<real>55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>30321</string>
		<key>latitude</key>
		<real>34.214401000000002</real>
		<key>longitude</key>
		<real>58.435859999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>132961</string>
		<key>latitude</key>
		<real>34.352859000000002</real>
		<key>longitude</key>
		<real>58.683650999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>143073</string>
		<key>latitude</key>
		<real>32.310000000000002</real>
		<key>longitude</key>
		<real>54.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128447</string>
		<key>latitude</key>
		<real>35.238312000000001</real>
		<key>longitude</key>
		<real>58.465580000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>124193</string>
		<key>latitude</key>
		<real>32.25</real>
		<key>longitude</key>
		<real>54.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>142255</string>
		<key>latitude</key>
		<real>31.609999999999999</real>
		<key>longitude</key>
		<real>55.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7516325</string>
		<key>latitude</key>
		<real>31.600000000000001</real>
		<key>longitude</key>
		<real>55.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>111822</string>
		<key>latitude</key>
		<real>31.899999999999999</real>
		<key>longitude</key>
		<real>54.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8029482</string>
		<key>latitude</key>
		<real>31.93</real>
		<key>longitude</key>
		<real>54.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7264</string>
		<key>latitude</key>
		<real>36.159999999999997</real>
		<key>longitude</key>
		<real>57.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>66108</string>
		<key>latitude</key>
		<real>36.420000000000002</real>
		<key>longitude</key>
		<real>55.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>138025</string>
		<key>latitude</key>
		<real>36.170000000000002</real>
		<key>longitude</key>
		<real>54.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>135423</string>
		<key>latitude</key>
		<real>36.420000000000002</real>
		<key>longitude</key>
		<real>54.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>403220</string>
		<key>latitude</key>
		<real>32.310000000000002</real>
		<key>longitude</key>
		<real>53.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118063</string>
		<key>latitude</key>
		<real>36.210000000000001</real>
		<key>longitude</key>
		<real>57.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>113832</string>
		<key>latitude</key>
		<real>35.460000000000001</real>
		<key>longitude</key>
		<real>53.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>116402</string>
		<key>latitude</key>
		<real>35.57</real>
		<key>longitude</key>
		<real>53.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>120694</string>
		<key>latitude</key>
		<real>33.72654</real>
		<key>longitude</key>
		<real>59.184390999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>113632</string>
		<key>latitude</key>
		<real>31.75</real>
		<key>longitude</key>
		<real>54.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>124274</string>
		<key>latitude</key>
		<real>31.59</real>
		<key>longitude</key>
		<real>54.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6201375</string>
		<key>latitude</key>
		<real>35.25</real>
		<key>longitude</key>
		<real>59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118704</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>56.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>123256</string>
		<key>latitude</key>
		<real>35.195129000000001</real>
		<key>longitude</key>
		<real>59.136929000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>69349</string>
		<key>latitude</key>
		<real>32.866669000000002</real>
		<key>longitude</key>
		<real>59.216670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140463</string>
		<key>latitude</key>
		<real>32.866280000000003</real>
		<key>longitude</key>
		<real>59.221142</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>129364</string>
		<key>latitude</key>
		<real>32.901668999999998</real>
		<key>longitude</key>
		<real>59.257221000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>112646</string>
		<key>latitude</key>
		<real>35.274009999999997</real>
		<key>longitude</key>
		<real>59.21949</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>143052</string>
		<key>latitude</key>
		<real>33.380000000000003</real>
		<key>longitude</key>
		<real>52.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>132892</string>
		<key>latitude</key>
		<real>36.840000000000003</real>
		<key>longitude</key>
		<real>54.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110831</string>
		<key>latitude</key>
		<real>37.090000000000003</real>
		<key>longitude</key>
		<real>55.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>39161</string>
		<key>latitude</key>
		<real>36.890000000000001</real>
		<key>longitude</key>
		<real>54.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>122285</string>
		<key>latitude</key>
		<real>36.213290999999998</real>
		<key>longitude</key>
		<real>58.795760999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>130758</string>
		<key>latitude</key>
		<real>32</real>
		<key>longitude</key>
		<real>53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>111421</string>
		<key>latitude</key>
		<real>30.809999999999999</real>
		<key>longitude</key>
		<real>56.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>133964</string>
		<key>latitude</key>
		<real>35.219999999999999</real>
		<key>longitude</key>
		<real>52.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>32723</string>
		<key>latitude</key>
		<real>35.229999999999997</real>
		<key>longitude</key>
		<real>52.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6201374</string>
		<key>latitude</key>
		<real>32.5</real>
		<key>longitude</key>
		<real>59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>135298</string>
		<key>latitude</key>
		<real>37.079999999999998</real>
		<key>longitude</key>
		<real>57.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>132938</string>
		<key>latitude</key>
		<real>37.25</real>
		<key>longitude</key>
		<real>55.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418862</string>
		<key>latitude</key>
		<real>33</real>
		<key>longitude</key>
		<real>52.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443792</string>
		<key>latitude</key>
		<real>37.25</real>
		<key>longitude</key>
		<real>55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140918</string>
		<key>latitude</key>
		<real>36.689999999999998</real>
		<key>longitude</key>
		<real>53.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>129512</string>
		<key>latitude</key>
		<real>37.380000000000003</real>
		<key>longitude</key>
		<real>55.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6861952</string>
		<key>latitude</key>
		<real>33.520000000000003</real>
		<key>longitude</key>
		<real>51.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>122397</string>
		<key>latitude</key>
		<real>36.649999999999999</real>
		<key>longitude</key>
		<real>53.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>11263</string>
		<key>latitude</key>
		<real>36.630000000000003</real>
		<key>longitude</key>
		<real>53.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>116996</string>
		<key>latitude</key>
		<real>36.560000000000002</real>
		<key>longitude</key>
		<real>53.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118994</string>
		<key>latitude</key>
		<real>30.41</real>
		<key>longitude</key>
		<real>55.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6201376</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140380</string>
		<key>latitude</key>
		<real>37.469999999999999</real>
		<key>longitude</key>
		<real>57.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>129933</string>
		<key>latitude</key>
		<real>36.640000000000001</real>
		<key>longitude</key>
		<real>52.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>40847</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>57.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>138042</string>
		<key>latitude</key>
		<real>35.719999999999999</real>
		<key>longitude</key>
		<real>52.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>138742</string>
		<key>latitude</key>
		<real>36.645457999999998</real>
		<key>longitude</key>
		<real>59.121231000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>417560</string>
		<key>latitude</key>
		<real>32.729999999999997</real>
		<key>longitude</key>
		<real>51.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>119115</string>
		<key>latitude</key>
		<real>37.105998999999997</real>
		<key>longitude</key>
		<real>58.509548000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>142363</string>
		<key>latitude</key>
		<real>36.549999999999997</real>
		<key>longitude</key>
		<real>52.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>123600</string>
		<key>latitude</key>
		<real>36.255001</real>
		<key>longitude</key>
		<real>59.642780000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>124665</string>
		<key>latitude</key>
		<real>36.297001000000002</real>
		<key>longitude</key>
		<real>59.606200999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7034325</string>
		<key>latitude</key>
		<real>30.260000000000002</real>
		<key>longitude</key>
		<real>56.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>120972</string>
		<key>latitude</key>
		<real>35.310000000000002</real>
		<key>longitude</key>
		<real>51.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>124544</string>
		<key>latitude</key>
		<real>36.25</real>
		<key>longitude</key>
		<real>52.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128477</string>
		<key>latitude</key>
		<real>33.979999999999997</real>
		<key>longitude</key>
		<real>51.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418868</string>
		<key>latitude</key>
		<real>32.799999999999997</real>
		<key>longitude</key>
		<real>51.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>11754</string>
		<key>latitude</key>
		<real>36.649999999999999</real>
		<key>longitude</key>
		<real>52.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>112214</string>
		<key>latitude</key>
		<real>35.32</real>
		<key>longitude</key>
		<real>51.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7011520</string>
		<key>latitude</key>
		<real>30.260000000000002</real>
		<key>longitude</key>
		<real>56.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128234</string>
		<key>latitude</key>
		<real>30.280000000000001</real>
		<key>longitude</key>
		<real>57.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>142358</string>
		<key>latitude</key>
		<real>36.700000000000003</real>
		<key>longitude</key>
		<real>52.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7642294</string>
		<key>latitude</key>
		<real>36.700000000000003</real>
		<key>longitude</key>
		<real>52.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418863</string>
		<key>latitude</key>
		<real>32.659999999999997</real>
		<key>longitude</key>
		<real>51.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7637212</string>
		<key>latitude</key>
		<real>36.460000000000001</real>
		<key>longitude</key>
		<real>52.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>143534</string>
		<key>latitude</key>
		<real>36.469999999999999</real>
		<key>longitude</key>
		<real>52.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>406993</string>
		<key>latitude</key>
		<real>35.299999999999997</real>
		<key>longitude</key>
		<real>51.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418521</string>
		<key>latitude</key>
		<real>32.68</real>
		<key>longitude</key>
		<real>51.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134602</string>
		<key>latitude</key>
		<real>36.689999999999998</real>
		<key>longitude</key>
		<real>52.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>32767</string>
		<key>latitude</key>
		<real>35.439999999999998</real>
		<key>longitude</key>
		<real>51.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>115781</string>
		<key>latitude</key>
		<real>30.120000000000001</real>
		<key>longitude</key>
		<real>55.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>138327</string>
		<key>latitude</key>
		<real>33.609999999999999</real>
		<key>longitude</key>
		<real>51.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418896</string>
		<key>latitude</key>
		<real>32.619999999999997</real>
		<key>longitude</key>
		<real>51.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418710</string>
		<key>latitude</key>
		<real>32.700000000000003</real>
		<key>longitude</key>
		<real>51.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>417594</string>
		<key>latitude</key>
		<real>32.030000000000001</real>
		<key>longitude</key>
		<real>51.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>129406</string>
		<key>latitude</key>
		<real>37.573441000000003</real>
		<key>longitude</key>
		<real>58.198681000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1159362</string>
		<key>latitude</key>
		<real>35.243999000000002</real>
		<key>longitude</key>
		<real>60.622501</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145449</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>52.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418723</string>
		<key>latitude</key>
		<real>32.560000000000002</real>
		<key>longitude</key>
		<real>51.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1159384</string>
		<key>latitude</key>
		<real>34.740001999999997</real>
		<key>longitude</key>
		<real>60.775599999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418851</string>
		<key>latitude</key>
		<real>32.560000000000002</real>
		<key>longitude</key>
		<real>51.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418571</string>
		<key>latitude</key>
		<real>32.579999999999998</real>
		<key>longitude</key>
		<real>51.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>418606</string>
		<key>latitude</key>
		<real>32.630000000000003</real>
		<key>longitude</key>
		<real>51.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134460</string>
		<key>latitude</key>
		<real>35.670000000000002</real>
		<key>longitude</key>
		<real>51.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>124647</string>
		<key>latitude</key>
		<real>29.920000000000002</real>
		<key>longitude</key>
		<real>56.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110791</string>
		<key>latitude</key>
		<real>35.670000000000002</real>
		<key>longitude</key>
		<real>51.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>112931</string>
		<key>latitude</key>
		<real>35.689999999999998</real>
		<key>longitude</key>
		<real>51.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6874767</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>52.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6909756</string>
		<key>latitude</key>
		<real>30.91</real>
		<key>longitude</key>
		<real>52.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6659521</string>
		<key>latitude</key>
		<real>35.689999999999998</real>
		<key>longitude</key>
		<real>51.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443794</string>
		<key>latitude</key>
		<real>34.75</real>
		<key>longitude</key>
		<real>51</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>449504</string>
		<key>latitude</key>
		<real>35.560000000000002</real>
		<key>longitude</key>
		<real>51.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1142404</string>
		<key>latitude</key>
		<real>34.666671999999998</real>
		<key>longitude</key>
		<real>61.066668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161983</string>
		<key>latitude</key>
		<real>37.916770999999997</real>
		<key>longitude</key>
		<real>58.092368999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>119208</string>
		<key>latitude</key>
		<real>34.640000000000001</real>
		<key>longitude</key>
		<real>50.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118367</string>
		<key>latitude</key>
		<real>35.479999999999997</real>
		<key>longitude</key>
		<real>51.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>120219</string>
		<key>latitude</key>
		<real>35.25</real>
		<key>longitude</key>
		<real>50.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1120483</string>
		<key>latitude</key>
		<real>34.653888999999999</real>
		<key>longitude</key>
		<real>61.197780999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>143860</string>
		<key>latitude</key>
		<real>35.659999999999997</real>
		<key>longitude</key>
		<real>51.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128231</string>
		<key>latitude</key>
		<real>29.75</real>
		<key>longitude</key>
		<real>57.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162199</string>
		<key>latitude</key>
		<real>37.887568999999999</real>
		<key>longitude</key>
		<real>58.515999000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1122408</string>
		<key>latitude</key>
		<real>34.594310999999998</real>
		<key>longitude</key>
		<real>61.268951000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161808</string>
		<key>latitude</key>
		<real>37.965510999999999</real>
		<key>longitude</key>
		<real>58.338569999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162183</string>
		<key>latitude</key>
		<real>37.950001</real>
		<key>longitude</key>
		<real>58.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>136399</string>
		<key>latitude</key>
		<real>33.990000000000002</real>
		<key>longitude</key>
		<real>50.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162099</string>
		<key>latitude</key>
		<real>38.050671000000001</real>
		<key>longitude</key>
		<real>58.205589000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140046</string>
		<key>latitude</key>
		<real>31.969999999999999</real>
		<key>longitude</key>
		<real>51.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>125188</string>
		<key>latitude</key>
		<real>35.670000000000002</real>
		<key>longitude</key>
		<real>50.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161901</string>
		<key>latitude</key>
		<real>37.348208999999997</real>
		<key>longitude</key>
		<real>59.614311000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128747</string>
		<key>latitude</key>
		<real>35.840000000000003</real>
		<key>longitude</key>
		<real>51.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1129844</string>
		<key>latitude</key>
		<real>34.440551999999997</real>
		<key>longitude</key>
		<real>61.417209999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>121959</string>
		<key>latitude</key>
		<real>36.649999999999999</real>
		<key>longitude</key>
		<real>51.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>116406</string>
		<key>latitude</key>
		<real>31.420000000000002</real>
		<key>longitude</key>
		<real>51.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>403714</string>
		<key>latitude</key>
		<real>34.420000000000002</real>
		<key>longitude</key>
		<real>50.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>120678</string>
		<key>latitude</key>
		<real>32.270000000000003</real>
		<key>longitude</key>
		<real>50.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1140970</string>
		<key>latitude</key>
		<real>34.344799000000002</real>
		<key>longitude</key>
		<real>61.493209999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>114259</string>
		<key>latitude</key>
		<real>29.449999999999999</real>
		<key>longitude</key>
		<real>55.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8084</string>
		<key>latitude</key>
		<real>36.670000000000002</real>
		<key>longitude</key>
		<real>51.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>139223</string>
		<key>latitude</key>
		<real>36.649999999999999</real>
		<key>longitude</key>
		<real>51.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162158</string>
		<key>latitude</key>
		<real>38.439999999999998</real>
		<key>longitude</key>
		<real>57.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>115770</string>
		<key>latitude</key>
		<real>32.329999999999998</real>
		<key>longitude</key>
		<real>50.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144569</string>
		<key>latitude</key>
		<real>32.270000000000003</real>
		<key>longitude</key>
		<real>50.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648907</string>
		<key>latitude</key>
		<real>36.009999999999998</real>
		<key>longitude</key>
		<real>50.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>41964</string>
		<key>latitude</key>
		<real>35.469999999999999</real>
		<key>longitude</key>
		<real>50.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>116667</string>
		<key>latitude</key>
		<real>35.020000000000003</real>
		<key>longitude</key>
		<real>50.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>139677</string>
		<key>latitude</key>
		<real>32.170000000000002</real>
		<key>longitude</key>
		<real>50.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1120711</string>
		<key>latitude</key>
		<real>34.340000000000003</real>
		<key>longitude</key>
		<real>61.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>390054</string>
		<key>latitude</key>
		<real>29.280000000000001</real>
		<key>longitude</key>
		<real>56.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>133037</string>
		<key>latitude</key>
		<real>33.450000000000003</real>
		<key>longitude</key>
		<real>50.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>127033</string>
		<key>latitude</key>
		<real>33.219999999999999</real>
		<key>longitude</key>
		<real>50.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>122438</string>
		<key>latitude</key>
		<real>35.950000000000003</real>
		<key>longitude</key>
		<real>50.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7052836</string>
		<key>latitude</key>
		<real>36.546500999999999</real>
		<key>longitude</key>
		<real>61.054298000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1129678</string>
		<key>latitude</key>
		<real>34.939999999999998</real>
		<key>longitude</key>
		<real>61.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134762</string>
		<key>latitude</key>
		<real>32.259999999999998</real>
		<key>longitude</key>
		<real>50.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1148709</string>
		<key>latitude</key>
		<real>32.758701000000002</real>
		<key>longitude</key>
		<real>61.653968999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144794</string>
		<key>latitude</key>
		<real>36.07</real>
		<key>longitude</key>
		<real>50.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1159716</string>
		<key>latitude</key>
		<real>36.544899000000001</real>
		<key>longitude</key>
		<real>61.157699999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144795</string>
		<key>latitude</key>
		<real>36.039999999999999</real>
		<key>longitude</key>
		<real>50.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1142852</string>
		<key>latitude</key>
		<real>32.142367999999998</real>
		<key>longitude</key>
		<real>61.446899000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1437312</string>
		<key>latitude</key>
		<real>32.289909000000002</real>
		<key>longitude</key>
		<real>61.521937999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>127403</string>
		<key>latitude</key>
		<real>33.640000000000001</real>
		<key>longitude</key>
		<real>50.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218239</string>
		<key>latitude</key>
		<real>37.383381</real>
		<key>longitude</key>
		<real>60.50544</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1140025</string>
		<key>latitude</key>
		<real>34.5</real>
		<key>longitude</key>
		<real>62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161931</string>
		<key>latitude</key>
		<real>38.979999999999997</real>
		<key>longitude</key>
		<real>56.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>125315</string>
		<key>latitude</key>
		<real>30.66</real>
		<key>longitude</key>
		<real>51.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>113636</string>
		<key>latitude</key>
		<real>34.689999999999998</real>
		<key>longitude</key>
		<real>50.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>66093</string>
		<key>latitude</key>
		<real>30.670000000000002</real>
		<key>longitude</key>
		<real>51.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>132548</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>51.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1135158</string>
		<key>latitude</key>
		<real>33.295650000000002</real>
		<key>longitude</key>
		<real>61.952209000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>122289</string>
		<key>latitude</key>
		<real>29.199999999999999</real>
		<key>longitude</key>
		<real>54.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134601</string>
		<key>latitude</key>
		<real>32.939999999999998</real>
		<key>longitude</key>
		<real>50.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7789591</string>
		<key>latitude</key>
		<real>36.810000000000002</real>
		<key>longitude</key>
		<real>50.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>112656</string>
		<key>latitude</key>
		<real>36.82</real>
		<key>longitude</key>
		<real>50.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1130419</string>
		<key>latitude</key>
		<real>34.109999999999999</real>
		<key>longitude</key>
		<real>62.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>124763</string>
		<key>latitude</key>
		<real>34.329999999999998</real>
		<key>longitude</key>
		<real>49.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1128310</string>
		<key>latitude</key>
		<real>34.799999999999997</real>
		<key>longitude</key>
		<real>62.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1145866</string>
		<key>latitude</key>
		<real>34.240000000000002</real>
		<key>longitude</key>
		<real>62.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1140026</string>
		<key>latitude</key>
		<real>34.350000000000001</real>
		<key>longitude</key>
		<real>62.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1140605</string>
		<key>latitude</key>
		<real>34.210000000000001</real>
		<key>longitude</key>
		<real>62.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1125155</string>
		<key>latitude</key>
		<real>33.299999999999997</real>
		<key>longitude</key>
		<real>62.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1121941</string>
		<key>latitude</key>
		<real>33.25</real>
		<key>longitude</key>
		<real>62.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1127478</string>
		<key>latitude</key>
		<real>33.219999999999999</real>
		<key>longitude</key>
		<real>62.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>9874</string>
		<key>latitude</key>
		<real>36.890000000000001</real>
		<key>longitude</key>
		<real>50.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162181</string>
		<key>latitude</key>
		<real>38.25</real>
		<key>longitude</key>
		<real>59.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118848</string>
		<key>latitude</key>
		<real>36.899999999999999</real>
		<key>longitude</key>
		<real>50.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7625467</string>
		<key>latitude</key>
		<real>36.920000000000002</real>
		<key>longitude</key>
		<real>50.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1134724</string>
		<key>latitude</key>
		<real>31.713819999999998</real>
		<key>longitude</key>
		<real>61.622718999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>141736</string>
		<key>latitude</key>
		<real>29.106000999999999</real>
		<key>longitude</key>
		<real>58.356997999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>115019</string>
		<key>latitude</key>
		<real>29.600000000000001</real>
		<key>longitude</key>
		<real>52.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>390237</string>
		<key>latitude</key>
		<real>29.530000000000001</real>
		<key>longitude</key>
		<real>52.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7044034</string>
		<key>latitude</key>
		<real>29.084021</real>
		<key>longitude</key>
		<real>58.416851000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6660023</string>
		<key>latitude</key>
		<real>36.25</real>
		<key>longitude</key>
		<real>50.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1142264</string>
		<key>latitude</key>
		<real>32.369999999999997</real>
		<key>longitude</key>
		<real>62.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1428258</string>
		<key>latitude</key>
		<real>32.369999999999997</real>
		<key>longitude</key>
		<real>62.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>119505</string>
		<key>latitude</key>
		<real>36.280000000000001</real>
		<key>longitude</key>
		<real>50</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1428368</string>
		<key>latitude</key>
		<real>32.189999999999998</real>
		<key>longitude</key>
		<real>62.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>121925</string>
		<key>latitude</key>
		<real>30.109999999999999</real>
		<key>longitude</key>
		<real>51.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1438738</string>
		<key>latitude</key>
		<real>31.705508999999999</real>
		<key>longitude</key>
		<real>61.873840000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134721</string>
		<key>latitude</key>
		<real>28.940000000000001</real>
		<key>longitude</key>
		<real>53.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>131965</string>
		<key>latitude</key>
		<real>28.91</real>
		<key>longitude</key>
		<real>53.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144410</string>
		<key>latitude</key>
		<real>29.25</real>
		<key>longitude</key>
		<real>52.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6651320</string>
		<key>latitude</key>
		<real>31.099701</real>
		<key>longitude</key>
		<real>61.546500999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>127878</string>
		<key>latitude</key>
		<real>29.890000000000001</real>
		<key>longitude</key>
		<real>51.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>126878</string>
		<key>latitude</key>
		<real>30.829999999999998</real>
		<key>longitude</key>
		<real>50.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1113217</string>
		<key>latitude</key>
		<real>31.028700000000001</real>
		<key>longitude</key>
		<real>61.501201999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>136987</string>
		<key>latitude</key>
		<real>30.789999999999999</real>
		<key>longitude</key>
		<real>50.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118191</string>
		<key>latitude</key>
		<real>37.140000000000001</real>
		<key>longitude</key>
		<real>50.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134766</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6663476</string>
		<key>latitude</key>
		<real>30.359999999999999</real>
		<key>longitude</key>
		<real>50.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>136014</string>
		<key>latitude</key>
		<real>30.359999999999999</real>
		<key>longitude</key>
		<real>50.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>125897</string>
		<key>latitude</key>
		<real>37.200000000000003</real>
		<key>longitude</key>
		<real>50.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128321</string>
		<key>latitude</key>
		<real>29.620000000000001</real>
		<key>longitude</key>
		<real>51.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1120985</string>
		<key>latitude</key>
		<real>30.966669</real>
		<key>longitude</key>
		<real>61.883330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>142679</string>
		<key>latitude</key>
		<real>37.259999999999998</real>
		<key>longitude</key>
		<real>49.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134518</string>
		<key>latitude</key>
		<real>28.84</real>
		<key>longitude</key>
		<real>52.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218667</string>
		<key>latitude</key>
		<real>37.593781</real>
		<key>longitude</key>
		<real>61.830311000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140951</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>50.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218612</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>61.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1219899</string>
		<key>latitude</key>
		<real>37.630000000000003</real>
		<key>longitude</key>
		<real>61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1133310</string>
		<key>latitude</key>
		<real>30.436239</real>
		<key>longitude</key>
		<real>61.838298999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1159301</string>
		<key>latitude</key>
		<real>29.496300000000002</real>
		<key>longitude</key>
		<real>60.862900000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144696</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>49.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1219762</string>
		<key>latitude</key>
		<real>37.619999999999997</real>
		<key>longitude</key>
		<real>62.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140097</string>
		<key>latitude</key>
		<real>29.27</real>
		<key>longitude</key>
		<real>51.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134217</string>
		<key>latitude</key>
		<real>29.579999999999998</real>
		<key>longitude</key>
		<real>50.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>139817</string>
		<key>latitude</key>
		<real>28.969999999999999</real>
		<key>longitude</key>
		<real>50.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8057484</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>50.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>130216</string>
		<key>latitude</key>
		<real>29.260000000000002</real>
		<key>longitude</key>
		<real>50.329999999999998</real>
	</dict>
</array>
</plist>
