<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>916246</string>
		<key>latitude</key>
		<real>-13.59</real>
		<key>longitude</key>
		<real>24.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919814</string>
		<key>latitude</key>
		<real>-13.31</real>
		<key>longitude</key>
		<real>24.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909488</string>
		<key>latitude</key>
		<real>-14.369999999999999</real>
		<key>longitude</key>
		<real>23.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905382</string>
		<key>latitude</key>
		<real>-13.68</real>
		<key>longitude</key>
		<real>24.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895953</string>
		<key>latitude</key>
		<real>-13.539999999999999</real>
		<key>longitude</key>
		<real>23.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>896140</string>
		<key>latitude</key>
		<real>-15</real>
		<key>longitude</key>
		<real>24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>913323</string>
		<key>latitude</key>
		<real>-14.779999999999999</real>
		<key>longitude</key>
		<real>24.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>915285</string>
		<key>latitude</key>
		<real>-13.470000000000001</real>
		<key>longitude</key>
		<real>25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>898586</string>
		<key>latitude</key>
		<real>-14.82</real>
		<key>longitude</key>
		<real>24.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>910361</string>
		<key>latitude</key>
		<real>-15.1</real>
		<key>longitude</key>
		<real>23.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>900594</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905149</string>
		<key>latitude</key>
		<real>-15.25</real>
		<key>longitude</key>
		<real>23.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>906054</string>
		<key>latitude</key>
		<real>-15.25</real>
		<key>longitude</key>
		<real>23.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>915471</string>
		<key>latitude</key>
		<real>-14.970000000000001</real>
		<key>longitude</key>
		<real>22.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901218</string>
		<key>latitude</key>
		<real>-13.369999999999999</real>
		<key>longitude</key>
		<real>25.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>912628</string>
		<key>latitude</key>
		<real>-13.460000000000001</real>
		<key>longitude</key>
		<real>25.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>898947</string>
		<key>latitude</key>
		<real>-16.120000000000001</real>
		<key>longitude</key>
		<real>23.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902620</string>
		<key>latitude</key>
		<real>-11.74</real>
		<key>longitude</key>
		<real>24.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901298</string>
		<key>latitude</key>
		<real>-11.33</real>
		<key>longitude</key>
		<real>24.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901766</string>
		<key>latitude</key>
		<real>-15.75</real>
		<key>longitude</key>
		<real>26.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>897045</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>26.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>913613</string>
		<key>latitude</key>
		<real>-12.1</real>
		<key>longitude</key>
		<real>26.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>904422</string>
		<key>latitude</key>
		<real>-14.98</real>
		<key>longitude</key>
		<real>27.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>875996</string>
		<key>latitude</key>
		<real>-12.85</real>
		<key>longitude</key>
		<real>20.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>918009</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>24.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923051</string>
		<key>latitude</key>
		<real>-10.630000000000001</real>
		<key>longitude</key>
		<real>23.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>898905</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>24.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877178</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>24.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1105460</string>
		<key>latitude</key>
		<real>-10.74</real>
		<key>longitude</key>
		<real>25.510000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922773</string>
		<key>latitude</key>
		<real>-10.710000000000001</real>
		<key>longitude</key>
		<real>25.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877153</string>
		<key>latitude</key>
		<real>-17.68</real>
		<key>longitude</key>
		<real>24.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876177</string>
		<key>latitude</key>
		<real>-10.710000000000001</real>
		<key>longitude</key>
		<real>22.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>896972</string>
		<key>latitude</key>
		<real>-16.5</real>
		<key>longitude</key>
		<real>27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090052</string>
		<key>latitude</key>
		<real>-17.829999999999998</real>
		<key>longitude</key>
		<real>23.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902106</string>
		<key>latitude</key>
		<real>-16.420000000000002</real>
		<key>longitude</key>
		<real>27.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922806</string>
		<key>latitude</key>
		<real>-11.77</real>
		<key>longitude</key>
		<real>27.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933677</string>
		<key>latitude</key>
		<real>-17.82</real>
		<key>longitude</key>
		<real>25.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876123</string>
		<key>latitude</key>
		<real>-11.550000000000001</real>
		<key>longitude</key>
		<real>20.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920233</string>
		<key>latitude</key>
		<real>-14.66</real>
		<key>longitude</key>
		<real>28.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917748</string>
		<key>latitude</key>
		<real>-16.809999999999999</real>
		<key>longitude</key>
		<real>26.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917889</string>
		<key>latitude</key>
		<real>-12.550000000000001</real>
		<key>longitude</key>
		<real>27.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917524</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876212</string>
		<key>latitude</key>
		<real>-10.4</real>
		<key>longitude</key>
		<real>22.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923058</string>
		<key>latitude</key>
		<real>-10.880000000000001</real>
		<key>longitude</key>
		<real>26.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922741</string>
		<key>latitude</key>
		<real>-10.98</real>
		<key>longitude</key>
		<real>26.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919009</string>
		<key>latitude</key>
		<real>-12.529999999999999</real>
		<key>longitude</key>
		<real>27.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>906044</string>
		<key>latitude</key>
		<real>-16.280000000000001</real>
		<key>longitude</key>
		<real>27.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919544</string>
		<key>latitude</key>
		<real>-12.359999999999999</real>
		<key>longitude</key>
		<real>27.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905789</string>
		<key>latitude</key>
		<real>-13.51</real>
		<key>longitude</key>
		<real>28.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>907111</string>
		<key>latitude</key>
		<real>-15.859999999999999</real>
		<key>longitude</key>
		<real>27.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902344</string>
		<key>latitude</key>
		<real>-15.83</real>
		<key>longitude</key>
		<real>27.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732983</string>
		<key>latitude</key>
		<real>-17.91</real>
		<key>longitude</key>
		<real>25.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908734</string>
		<key>latitude</key>
		<real>-14.23</real>
		<key>longitude</key>
		<real>28.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922944</string>
		<key>latitude</key>
		<real>-12.199999999999999</real>
		<key>longitude</key>
		<real>27.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922704</string>
		<key>latitude</key>
		<real>-11.66</real>
		<key>longitude</key>
		<real>27.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>914959</string>
		<key>latitude</key>
		<real>-12.84</real>
		<key>longitude</key>
		<real>28.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920820</string>
		<key>latitude</key>
		<real>-12.630000000000001</real>
		<key>longitude</key>
		<real>28.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876233</string>
		<key>latitude</key>
		<real>-11.65</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922262</string>
		<key>latitude</key>
		<real>-11.619999999999999</real>
		<key>longitude</key>
		<real>27.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>904264</string>
		<key>latitude</key>
		<real>-15.23</real>
		<key>longitude</key>
		<real>28.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>916978</string>
		<key>latitude</key>
		<real>-17.829999999999998</real>
		<key>longitude</key>
		<real>25.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920106</string>
		<key>latitude</key>
		<real>-17.829999999999998</real>
		<key>longitude</key>
		<real>25.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>910111</string>
		<key>latitude</key>
		<real>-17.84</real>
		<key>longitude</key>
		<real>25.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>900813</string>
		<key>latitude</key>
		<real>-12.83</real>
		<key>longitude</key>
		<real>28.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917011</string>
		<key>latitude</key>
		<real>-16.5</real>
		<key>longitude</key>
		<real>27.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>879431</string>
		<key>latitude</key>
		<real>-17.920000000000002</real>
		<key>longitude</key>
		<real>25.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>911148</string>
		<key>latitude</key>
		<real>-12.800000000000001</real>
		<key>longitude</key>
		<real>28.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>916095</string>
		<key>latitude</key>
		<real>-14.449999999999999</real>
		<key>longitude</key>
		<real>28.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876485</string>
		<key>latitude</key>
		<real>-11.07</real>
		<key>longitude</key>
		<real>20.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905395</string>
		<key>latitude</key>
		<real>-12.550000000000001</real>
		<key>longitude</key>
		<real>28.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909863</string>
		<key>latitude</key>
		<real>-13.140000000000001</real>
		<key>longitude</key>
		<real>28.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909137</string>
		<key>latitude</key>
		<real>-15.41</real>
		<key>longitude</key>
		<real>28.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>915883</string>
		<key>latitude</key>
		<real>-15.77</real>
		<key>longitude</key>
		<real>28.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920928</string>
		<key>latitude</key>
		<real>-15.369999999999999</real>
		<key>longitude</key>
		<real>28.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908718</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>27.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>913029</string>
		<key>latitude</key>
		<real>-13.970000000000001</real>
		<key>longitude</key>
		<real>28.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347719</string>
		<key>latitude</key>
		<real>-11.779999999999999</real>
		<key>longitude</key>
		<real>19.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>915680</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>27.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901344</string>
		<key>latitude</key>
		<real>-12.960000000000001</real>
		<key>longitude</key>
		<real>28.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908248</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>28.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>897456</string>
		<key>latitude</key>
		<real>-17.260000000000002</real>
		<key>longitude</key>
		<real>27.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917688</string>
		<key>latitude</key>
		<real>-15.33</real>
		<key>longitude</key>
		<real>28.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933178</string>
		<key>latitude</key>
		<real>-18.530000000000001</real>
		<key>longitude</key>
		<real>25.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933077</string>
		<key>latitude</key>
		<real>-18.370000000000001</real>
		<key>longitude</key>
		<real>21.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895057</string>
		<key>latitude</key>
		<real>-17.620000000000001</real>
		<key>longitude</key>
		<real>27.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921064</string>
		<key>latitude</key>
		<real>-14</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214229</string>
		<key>latitude</key>
		<real>-9.3200000000000003</real>
		<key>longitude</key>
		<real>22.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876337</string>
		<key>latitude</key>
		<real>-15.949999999999999</real>
		<key>longitude</key>
		<real>19.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214478</string>
		<key>latitude</key>
		<real>-9.0800000000000001</real>
		<key>longitude</key>
		<real>23.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889942</string>
		<key>latitude</key>
		<real>-18.370000000000001</real>
		<key>longitude</key>
		<real>26.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145701</string>
		<key>latitude</key>
		<real>-10.26</real>
		<key>longitude</key>
		<real>20.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909129</string>
		<key>latitude</key>
		<real>-15.42</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>893397</string>
		<key>latitude</key>
		<real>-16.030000000000001</real>
		<key>longitude</key>
		<real>28.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217834</string>
		<key>latitude</key>
		<real>-9.1999999999999993</real>
		<key>longitude</key>
		<real>25.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>898188</string>
		<key>latitude</key>
		<real>-16.539999999999999</real>
		<key>longitude</key>
		<real>28.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889390</string>
		<key>latitude</key>
		<real>-18.32</real>
		<key>longitude</key>
		<real>27.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>906221</string>
		<key>latitude</key>
		<real>-13.619999999999999</real>
		<key>longitude</key>
		<real>29.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889215</string>
		<key>latitude</key>
		<real>-16.52</real>
		<key>longitude</key>
		<real>28.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214614</string>
		<key>latitude</key>
		<real>-8.7400000000000002</real>
		<key>longitude</key>
		<real>24.989999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205703</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>892440</string>
		<key>latitude</key>
		<real>-18.620000000000001</real>
		<key>longitude</key>
		<real>26.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894310</string>
		<key>latitude</key>
		<real>-16.550000000000001</real>
		<key>longitude</key>
		<real>28.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>388578</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>25.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7789926</string>
		<key>latitude</key>
		<real>-9.7100000000000009</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919255</string>
		<key>latitude</key>
		<real>-11.17</real>
		<key>longitude</key>
		<real>28.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>907770</string>
		<key>latitude</key>
		<real>-11.199999999999999</real>
		<key>longitude</key>
		<real>28.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>892711</string>
		<key>latitude</key>
		<real>-18.620000000000001</real>
		<key>longitude</key>
		<real>27.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351879</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>887648</string>
		<key>latitude</key>
		<real>-16.32</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145531</string>
		<key>latitude</key>
		<real>-9.6600000000000001</real>
		<key>longitude</key>
		<real>20.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353383</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>19.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347494</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>19.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356386</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909845</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204891</string>
		<key>latitude</key>
		<real>-8.4000000000000004</real>
		<key>longitude</key>
		<real>22.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902721</string>
		<key>latitude</key>
		<real>-10.380000000000001</real>
		<key>longitude</key>
		<real>28.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921061</string>
		<key>latitude</key>
		<real>-11.26</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894015</string>
		<key>latitude</key>
		<real>-18.149999999999999</real>
		<key>longitude</key>
		<real>28.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371204</string>
		<key>latitude</key>
		<real>-18.420000000000002</real>
		<key>longitude</key>
		<real>19.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886748</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>27.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>899274</string>
		<key>latitude</key>
		<real>-11.359999999999999</real>
		<key>longitude</key>
		<real>29.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886841</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>888225</string>
		<key>latitude</key>
		<real>-18.93</real>
		<key>longitude</key>
		<real>27.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889191</string>
		<key>latitude</key>
		<real>-16.809999999999999</real>
		<key>longitude</key>
		<real>29.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>890983</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>28.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145724</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>20.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176555</string>
		<key>latitude</key>
		<real>-9.7899999999999991</real>
		<key>longitude</key>
		<real>29.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176947</string>
		<key>latitude</key>
		<real>-9.4199999999999999</real>
		<key>longitude</key>
		<real>28.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>175499</string>
		<key>latitude</key>
		<real>-9.3499999999999996</real>
		<key>longitude</key>
		<real>28.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145702</string>
		<key>latitude</key>
		<real>-8.6400000000000006</real>
		<key>longitude</key>
		<real>19.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878675</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176758</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>29.66</real>
	</dict>
</array>
</plist>
