<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1498161</string>
		<key>latitude</key>
		<real>65.370000000000005</real>
		<key>longitude</key>
		<real>64.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497749</string>
		<key>latitude</key>
		<real>67.050003000000004</real>
		<key>longitude</key>
		<real>63.783329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503726</string>
		<key>latitude</key>
		<real>66.801392000000007</real>
		<key>longitude</key>
		<real>65.808059999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500933</string>
		<key>latitude</key>
		<real>66.657218999999998</real>
		<key>longitude</key>
		<real>66.418327000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493197</string>
		<key>latitude</key>
		<real>66.529999000000004</real>
		<key>longitude</key>
		<real>66.601935999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485470</string>
		<key>latitude</key>
		<real>67.483329999999995</real>
		<key>longitude</key>
		<real>63.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491229</string>
		<key>latitude</key>
		<real>67.483329999999995</real>
		<key>longitude</key>
		<real>64.416672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486910</string>
		<key>latitude</key>
		<real>67.5</real>
		<key>longitude</key>
		<real>64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487332</string>
		<key>latitude</key>
		<real>65.981148000000005</real>
		<key>longitude</key>
		<real>60.309448000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505579</string>
		<key>latitude</key>
		<real>66.031693000000004</real>
		<key>longitude</key>
		<real>60.165939000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497929</string>
		<key>latitude</key>
		<real>66.083327999999995</real>
		<key>longitude</key>
		<real>60.133330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486913</string>
		<key>latitude</key>
		<real>67.583327999999995</real>
		<key>longitude</key>
		<real>63.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494088</string>
		<key>latitude</key>
		<real>67.583327999999995</real>
		<key>longitude</key>
		<real>63.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489126</string>
		<key>latitude</key>
		<real>67.616669000000002</real>
		<key>longitude</key>
		<real>64.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512019</string>
		<key>latitude</key>
		<real>66.560562000000004</real>
		<key>longitude</key>
		<real>67.797500999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510214</string>
		<key>latitude</key>
		<real>63.939999999999998</real>
		<key>longitude</key>
		<real>65.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493049</string>
		<key>latitude</key>
		<real>64.266670000000005</real>
		<key>longitude</key>
		<real>60.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494554</string>
		<key>latitude</key>
		<real>63.788330000000002</real>
		<key>longitude</key>
		<real>65.909171999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>485203</string>
		<key>latitude</key>
		<real>65.990936000000005</real>
		<key>longitude</key>
		<real>58.070220999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>485215</string>
		<key>latitude</key>
		<real>65.371848999999997</real>
		<key>longitude</key>
		<real>58.038738000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510450</string>
		<key>latitude</key>
		<real>63.711941000000003</real>
		<key>longitude</key>
		<real>66.672218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>512524</string>
		<key>latitude</key>
		<real>66</real>
		<key>longitude</key>
		<real>57.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863061</string>
		<key>latitude</key>
		<real>65.993888999999996</real>
		<key>longitude</key>
		<real>57.528061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>478349</string>
		<key>latitude</key>
		<real>65.950705999999997</real>
		<key>longitude</key>
		<real>57.468471999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863080</string>
		<key>latitude</key>
		<real>66.033057999999997</real>
		<key>longitude</key>
		<real>57.433059999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505965</string>
		<key>latitude</key>
		<real>63.190601000000001</real>
		<key>longitude</key>
		<real>64.416199000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486321</string>
		<key>latitude</key>
		<real>66.833327999999995</real>
		<key>longitude</key>
		<real>70.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>511794</string>
		<key>latitude</key>
		<real>65.147163000000006</real>
		<key>longitude</key>
		<real>57.224387999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583744</string>
		<key>latitude</key>
		<real>65.8386</real>
		<key>longitude</key>
		<real>56.756309999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>503772</string>
		<key>latitude</key>
		<real>65.171570000000003</real>
		<key>longitude</key>
		<real>57.091011000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>543246</string>
		<key>latitude</key>
		<real>65.107269000000002</real>
		<key>longitude</key>
		<real>57.045898000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503481</string>
		<key>latitude</key>
		<real>62.863331000000002</real>
		<key>longitude</key>
		<real>61.643608</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498087</string>
		<key>latitude</key>
		<real>65.533332999999999</real>
		<key>longitude</key>
		<real>72.516670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1536757</string>
		<key>latitude</key>
		<real>62.520000000000003</real>
		<key>longitude</key>
		<real>65.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>470905</string>
		<key>latitude</key>
		<real>63.856670000000001</real>
		<key>longitude</key>
		<real>57.309441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490918</string>
		<key>latitude</key>
		<real>65.611816000000005</real>
		<key>longitude</key>
		<real>72.684173999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511646</string>
		<key>latitude</key>
		<real>62.509999999999998</real>
		<key>longitude</key>
		<real>65.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496441</string>
		<key>latitude</key>
		<real>66.624718000000001</real>
		<key>longitude</key>
		<real>72.922782999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1544819</string>
		<key>latitude</key>
		<real>69.748099999999994</real>
		<key>longitude</key>
		<real>61.654701000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496476</string>
		<key>latitude</key>
		<real>62.140000000000001</real>
		<key>longitude</key>
		<real>65.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487762</string>
		<key>latitude</key>
		<real>69.714202999999998</real>
		<key>longitude</key>
		<real>60.052897999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512101</string>
		<key>latitude</key>
		<real>61.924720999999998</real>
		<key>longitude</key>
		<real>63.023060000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>472214</string>
		<key>latitude</key>
		<real>67.079999999999998</real>
		<key>longitude</key>
		<real>53.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>522652</string>
		<key>latitude</key>
		<real>67.5</real>
		<key>longitude</key>
		<real>54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495626</string>
		<key>latitude</key>
		<real>65.850020999999998</real>
		<key>longitude</key>
		<real>74.485930999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>554830</string>
		<key>latitude</key>
		<real>65.010000000000005</real>
		<key>longitude</key>
		<real>53.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504850</string>
		<key>latitude</key>
		<real>68.459716999999998</real>
		<key>longitude</key>
		<real>73.590278999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>531901</string>
		<key>latitude</key>
		<real>62.616241000000002</real>
		<key>longitude</key>
		<real>57.222301000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>520552</string>
		<key>latitude</key>
		<real>63.640000000000001</real>
		<key>longitude</key>
		<real>54.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545854</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>481548</string>
		<key>latitude</key>
		<real>62.708359000000002</real>
		<key>longitude</key>
		<real>56.196429999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506211</string>
		<key>latitude</key>
		<real>63.920000000000002</real>
		<key>longitude</key>
		<real>53.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7287775</string>
		<key>latitude</key>
		<real>62.439650999999998</real>
		<key>longitude</key>
		<real>71.760292000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>490391</string>
		<key>latitude</key>
		<real>63.600000000000001</real>
		<key>longitude</key>
		<real>53.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540711</string>
		<key>latitude</key>
		<real>63.789768000000002</real>
		<key>longitude</key>
		<real>74.523009999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>471308</string>
		<key>latitude</key>
		<real>62.891978999999999</real>
		<key>longitude</key>
		<real>54.963459</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6924198</string>
		<key>latitude</key>
		<real>63.57</real>
		<key>longitude</key>
		<real>53.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>479411</string>
		<key>latitude</key>
		<real>63.57</real>
		<key>longitude</key>
		<real>53.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493600</string>
		<key>latitude</key>
		<real>63.530000000000001</real>
		<key>longitude</key>
		<real>53.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>468991</string>
		<key>latitude</key>
		<real>63.439999999999998</real>
		<key>longitude</key>
		<real>53.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503773</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504670</string>
		<key>latitude</key>
		<real>61.916671999999998</real>
		<key>longitude</key>
		<real>72.033332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6695754</string>
		<key>latitude</key>
		<real>62.265369</real>
		<key>longitude</key>
		<real>74.479056999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493308</string>
		<key>latitude</key>
		<real>62.200001</real>
		<key>longitude</key>
		<real>74.466667000000001</real>
	</dict>
</array>
</plist>
