<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1521425</string>
		<key>latitude</key>
		<real>49.983330000000002</real>
		<key>longitude</key>
		<real>72.583327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522605</string>
		<key>latitude</key>
		<real>50.261940000000003</real>
		<key>longitude</key>
		<real>71.551392000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519333</string>
		<key>latitude</key>
		<real>49.823329999999999</real>
		<key>longitude</key>
		<real>72.634170999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519327</string>
		<key>latitude</key>
		<real>49.709999000000003</real>
		<key>longitude</key>
		<real>72.587219000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518304</string>
		<key>latitude</key>
		<real>50.083328000000002</real>
		<key>longitude</key>
		<real>72.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520627</string>
		<key>latitude</key>
		<real>49.705002</real>
		<key>longitude</key>
		<real>72.704719999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524571</string>
		<key>latitude</key>
		<real>49.674171000000001</real>
		<key>longitude</key>
		<real>72.676108999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519725</string>
		<key>latitude</key>
		<real>49.779998999999997</real>
		<key>longitude</key>
		<real>72.850562999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518262</string>
		<key>latitude</key>
		<real>50.049999999999997</real>
		<key>longitude</key>
		<real>72.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526619</string>
		<key>latitude</key>
		<real>49.780000000000001</real>
		<key>longitude</key>
		<real>72.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526970</string>
		<key>latitude</key>
		<real>49.631110999999997</real>
		<key>longitude</key>
		<real>72.853888999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520327</string>
		<key>latitude</key>
		<real>50.564999</real>
		<key>longitude</key>
		<real>72.569168000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523469</string>
		<key>latitude</key>
		<real>49.57</real>
		<key>longitude</key>
		<real>72.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526269</string>
		<key>latitude</key>
		<real>50.240000000000002</real>
		<key>longitude</key>
		<real>73.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518071</string>
		<key>latitude</key>
		<real>49.508330999999998</real>
		<key>longitude</key>
		<real>72.818329000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517824</string>
		<key>latitude</key>
		<real>49.770000000000003</real>
		<key>longitude</key>
		<real>73.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518803</string>
		<key>latitude</key>
		<real>49.630000000000003</real>
		<key>longitude</key>
		<real>72.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484165</string>
		<key>latitude</key>
		<real>49.659999999999997</real>
		<key>longitude</key>
		<real>73.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519942</string>
		<key>latitude</key>
		<real>49.799999999999997</real>
		<key>longitude</key>
		<real>73.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526610</string>
		<key>latitude</key>
		<real>50.747779999999999</real>
		<key>longitude</key>
		<real>72.205832999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518112</string>
		<key>latitude</key>
		<real>50.119999999999997</real>
		<key>longitude</key>
		<real>73.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525801</string>
		<key>latitude</key>
		<real>50.07</real>
		<key>longitude</key>
		<real>73.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520927</string>
		<key>latitude</key>
		<real>50.020000000000003</real>
		<key>longitude</key>
		<real>73.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521902</string>
		<key>latitude</key>
		<real>49.421664999999997</real>
		<key>longitude</key>
		<real>72.919724000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517443</string>
		<key>latitude</key>
		<real>50.837780000000002</real>
		<key>longitude</key>
		<real>72.178329000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519051</string>
		<key>latitude</key>
		<real>50.788330000000002</real>
		<key>longitude</key>
		<real>72.497223000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517127</string>
		<key>latitude</key>
		<real>49.355831000000002</real>
		<key>longitude</key>
		<real>72.900558000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518403</string>
		<key>latitude</key>
		<real>49.700000000000003</real>
		<key>longitude</key>
		<real>73.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521677</string>
		<key>latitude</key>
		<real>50.229999999999997</real>
		<key>longitude</key>
		<real>73.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525876</string>
		<key>latitude</key>
		<real>50.966670999999998</real>
		<key>longitude</key>
		<real>71.933327000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523246</string>
		<key>latitude</key>
		<real>49.233333999999999</real>
		<key>longitude</key>
		<real>72.983329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522466</string>
		<key>latitude</key>
		<real>49.649999999999999</real>
		<key>longitude</key>
		<real>73.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539219</string>
		<key>latitude</key>
		<real>51.045830000000002</real>
		<key>longitude</key>
		<real>71.443329000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538317</string>
		<key>latitude</key>
		<real>51.166671999999998</real>
		<key>longitude</key>
		<real>71.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526273</string>
		<key>latitude</key>
		<real>51.180098999999998</real>
		<key>longitude</key>
		<real>71.445976000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516678</string>
		<key>latitude</key>
		<real>48.851669000000001</real>
		<key>longitude</key>
		<real>72.829719999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526041</string>
		<key>latitude</key>
		<real>48.681389000000003</real>
		<key>longitude</key>
		<real>71.643332999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537911</string>
		<key>latitude</key>
		<real>50.363892</real>
		<key>longitude</key>
		<real>69.799171000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517474</string>
		<key>latitude</key>
		<real>48.683331000000003</real>
		<key>longitude</key>
		<real>73.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526636</string>
		<key>latitude</key>
		<real>48.770000000000003</real>
		<key>longitude</key>
		<real>73.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520599</string>
		<key>latitude</key>
		<real>51.719999999999999</real>
		<key>longitude</key>
		<real>72.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516527</string>
		<key>latitude</key>
		<real>51.743327999999998</real>
		<key>longitude</key>
		<real>71.712219000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524302</string>
		<key>latitude</key>
		<real>51.619999999999997</real>
		<key>longitude</key>
		<real>73.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519050</string>
		<key>latitude</key>
		<real>51.700561999999998</real>
		<key>longitude</key>
		<real>70.999442999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526274</string>
		<key>latitude</key>
		<real>48.255279999999999</real>
		<key>longitude</key>
		<real>72.848327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520601</string>
		<key>latitude</key>
		<real>51.672218000000001</real>
		<key>longitude</key>
		<real>70.730827000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521998</string>
		<key>latitude</key>
		<real>51.049999999999997</real>
		<key>longitude</key>
		<real>69.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518003</string>
		<key>latitude</key>
		<real>51.5</real>
		<key>longitude</key>
		<real>70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523401</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526601</string>
		<key>latitude</key>
		<real>48.033329000000002</real>
		<key>longitude</key>
		<real>72.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526059</string>
		<key>latitude</key>
		<real>51.528331999999999</real>
		<key>longitude</key>
		<real>69.797218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526443</string>
		<key>latitude</key>
		<real>51.997779999999999</real>
		<key>longitude</key>
		<real>70.934173999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519935</string>
		<key>latitude</key>
		<real>48.007778000000002</real>
		<key>longitude</key>
		<real>70.790283000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517185</string>
		<key>latitude</key>
		<real>52.016666000000001</real>
		<key>longitude</key>
		<real>70.699996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519934</string>
		<key>latitude</key>
		<real>49.409999999999997</real>
		<key>longitude</key>
		<real>75.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526522</string>
		<key>latitude</key>
		<real>49.689999999999998</real>
		<key>longitude</key>
		<real>75.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537939</string>
		<key>latitude</key>
		<real>52.354438999999999</real>
		<key>longitude</key>
		<real>71.886939999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537909</string>
		<key>latitude</key>
		<real>48.882221000000001</real>
		<key>longitude</key>
		<real>68.807220000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526272</string>
		<key>latitude</key>
		<real>47.990000000000002</real>
		<key>longitude</key>
		<real>74.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526271</string>
		<key>latitude</key>
		<real>52.458610999999998</real>
		<key>longitude</key>
		<real>71.985832000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537947</string>
		<key>latitude</key>
		<real>52.477500999999997</real>
		<key>longitude</key>
		<real>72.018889999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525650</string>
		<key>latitude</key>
		<real>50.789999999999999</real>
		<key>longitude</key>
		<real>75.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525376</string>
		<key>latitude</key>
		<real>52.5</real>
		<key>longitude</key>
		<real>73.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526547</string>
		<key>latitude</key>
		<real>47.764439000000003</real>
		<key>longitude</key>
		<real>74.034721000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524325</string>
		<key>latitude</key>
		<real>51.670000000000002</real>
		<key>longitude</key>
		<real>75.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521230</string>
		<key>latitude</key>
		<real>52.629168999999997</real>
		<key>longitude</key>
		<real>70.416938999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521048</string>
		<key>latitude</key>
		<real>51.460000000000001</real>
		<key>longitude</key>
		<real>75.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524451</string>
		<key>latitude</key>
		<real>47.206940000000003</real>
		<key>longitude</key>
		<real>71.396941999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523232</string>
		<key>latitude</key>
		<real>52.633330999999998</real>
		<key>longitude</key>
		<real>70.349997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526573</string>
		<key>latitude</key>
		<real>48.170000000000002</real>
		<key>longitude</key>
		<real>75.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520844</string>
		<key>latitude</key>
		<real>47.221111000000001</real>
		<key>longitude</key>
		<real>73.366943000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526038</string>
		<key>latitude</key>
		<real>51.799999999999997</real>
		<key>longitude</key>
		<real>68.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518768</string>
		<key>latitude</key>
		<real>52.833888999999999</real>
		<key>longitude</key>
		<real>70.780281000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516673</string>
		<key>latitude</key>
		<real>52.799999</real>
		<key>longitude</key>
		<real>70.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519244</string>
		<key>latitude</key>
		<real>52.933334000000002</real>
		<key>longitude</key>
		<real>70.199996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523605</string>
		<key>latitude</key>
		<real>51.950000000000003</real>
		<key>longitude</key>
		<real>76.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520239</string>
		<key>latitude</key>
		<real>52</real>
		<key>longitude</key>
		<real>76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525809</string>
		<key>latitude</key>
		<real>52.520000000000003</real>
		<key>longitude</key>
		<real>68.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525126</string>
		<key>latitude</key>
		<real>53.083820000000003</real>
		<key>longitude</key>
		<real>70.313789</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526193</string>
		<key>latitude</key>
		<real>50.25</real>
		<key>longitude</key>
		<real>66.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522867</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519167</string>
		<key>latitude</key>
		<real>52.869999999999997</real>
		<key>longitude</key>
		<real>74.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516476</string>
		<key>latitude</key>
		<real>48.149999999999999</real>
		<key>longitude</key>
		<real>67.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526460</string>
		<key>latitude</key>
		<real>53.103062000000001</real>
		<key>longitude</key>
		<real>69.853333000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517047</string>
		<key>latitude</key>
		<real>52.909999999999997</real>
		<key>longitude</key>
		<real>69.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519277</string>
		<key>latitude</key>
		<real>52.460000000000001</real>
		<key>longitude</key>
		<real>68.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1535595</string>
		<key>latitude</key>
		<real>53.049999999999997</real>
		<key>longitude</key>
		<real>69.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520879</string>
		<key>latitude</key>
		<real>53.228329000000002</real>
		<key>longitude</key>
		<real>69.885002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517020</string>
		<key>latitude</key>
		<real>51.909999999999997</real>
		<key>longitude</key>
		<real>67.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517743</string>
		<key>latitude</key>
		<real>48.649999999999999</real>
		<key>longitude</key>
		<real>67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521374</string>
		<key>latitude</key>
		<real>53.534720999999998</real>
		<key>longitude</key>
		<real>71.550003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516589</string>
		<key>latitude</key>
		<real>47.780000000000001</real>
		<key>longitude</key>
		<real>67.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520692</string>
		<key>latitude</key>
		<real>47.899999999999999</real>
		<key>longitude</key>
		<real>67.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526797</string>
		<key>latitude</key>
		<real>53.289999999999999</real>
		<key>longitude</key>
		<real>69.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518511</string>
		<key>latitude</key>
		<real>53.637217999999997</real>
		<key>longitude</key>
		<real>71.877219999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521401</string>
		<key>latitude</key>
		<real>53.636391000000003</real>
		<key>longitude</key>
		<real>72.341392999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522203</string>
		<key>latitude</key>
		<real>53.280000000000001</real>
		<key>longitude</key>
		<real>69.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524298</string>
		<key>latitude</key>
		<real>52.030000000000001</real>
		<key>longitude</key>
		<real>76.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525798</string>
		<key>latitude</key>
		<real>46.850000000000001</real>
		<key>longitude</key>
		<real>75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521365</string>
		<key>latitude</key>
		<real>52.25</real>
		<key>longitude</key>
		<real>76.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537253</string>
		<key>latitude</key>
		<real>46.82</real>
		<key>longitude</key>
		<real>75.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524606</string>
		<key>latitude</key>
		<real>51.100000000000001</real>
		<key>longitude</key>
		<real>66.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522565</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>72.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516593</string>
		<key>latitude</key>
		<real>48.060000000000002</real>
		<key>longitude</key>
		<real>67.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525504</string>
		<key>latitude</key>
		<real>51.530000000000001</real>
		<key>longitude</key>
		<real>77.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521422</string>
		<key>latitude</key>
		<real>52.450000000000003</real>
		<key>longitude</key>
		<real>76.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517081</string>
		<key>latitude</key>
		<real>52.130000000000003</real>
		<key>longitude</key>
		<real>77.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520240</string>
		<key>latitude</key>
		<real>52.299999999999997</real>
		<key>longitude</key>
		<real>76.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516828</string>
		<key>latitude</key>
		<real>51.530000000000001</real>
		<key>longitude</key>
		<real>77.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522061</string>
		<key>latitude</key>
		<real>53.229999999999997</real>
		<key>longitude</key>
		<real>75.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493423</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>73.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523768</string>
		<key>latitude</key>
		<real>53.329999999999998</real>
		<key>longitude</key>
		<real>75.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517243</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>69.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523662</string>
		<key>latitude</key>
		<real>53.07</real>
		<key>longitude</key>
		<real>76.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520859</string>
		<key>latitude</key>
		<real>53.738059999999997</real>
		<key>longitude</key>
		<real>69.711387999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1535785</string>
		<key>latitude</key>
		<real>52.780000000000001</real>
		<key>longitude</key>
		<real>76.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532954</string>
		<key>latitude</key>
		<real>53.479999999999997</real>
		<key>longitude</key>
		<real>75.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519563</string>
		<key>latitude</key>
		<real>46.119166999999997</real>
		<key>longitude</key>
		<real>73.619163999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524296</string>
		<key>latitude</key>
		<real>51.960000000000001</real>
		<key>longitude</key>
		<real>66.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522026</string>
		<key>latitude</key>
		<real>52.240000000000002</real>
		<key>longitude</key>
		<real>66.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517410</string>
		<key>latitude</key>
		<real>53.289999999999999</real>
		<key>longitude</key>
		<real>68.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522035</string>
		<key>latitude</key>
		<real>53.847777999999998</real>
		<key>longitude</key>
		<real>69.763892999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517310</string>
		<key>latitude</key>
		<real>53.950001</real>
		<key>longitude</key>
		<real>70.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516634</string>
		<key>latitude</key>
		<real>53.539999999999999</real>
		<key>longitude</key>
		<real>75.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7536148</string>
		<key>latitude</key>
		<real>46.031058999999999</real>
		<key>longitude</key>
		<real>73.702468999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516726</string>
		<key>latitude</key>
		<real>54.138888999999999</real>
		<key>longitude</key>
		<real>72.375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519367</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522809</string>
		<key>latitude</key>
		<real>53.840000000000003</real>
		<key>longitude</key>
		<real>69.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532249</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>68.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520885</string>
		<key>latitude</key>
		<real>50.759999999999998</real>
		<key>longitude</key>
		<real>78.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496380</string>
		<key>latitude</key>
		<real>54.210000000000001</real>
		<key>longitude</key>
		<real>72.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519849</string>
		<key>latitude</key>
		<real>52.600000000000001</real>
		<key>longitude</key>
		<real>77.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532612</string>
		<key>latitude</key>
		<real>54.299999</real>
		<key>longitude</key>
		<real>72.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495480</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>73.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523843</string>
		<key>latitude</key>
		<real>53.07</real>
		<key>longitude</key>
		<real>76.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494500</string>
		<key>latitude</key>
		<real>54.366290999999997</real>
		<key>longitude</key>
		<real>71.763191000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523470</string>
		<key>latitude</key>
		<real>46.530000000000001</real>
		<key>longitude</key>
		<real>76.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523157</string>
		<key>latitude</key>
		<real>50.030000000000001</real>
		<key>longitude</key>
		<real>65.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496633</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>74.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508138</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>74.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517961</string>
		<key>latitude</key>
		<real>50</real>
		<key>longitude</key>
		<real>65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1535379</string>
		<key>latitude</key>
		<real>53.200000000000003</real>
		<key>longitude</key>
		<real>66.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521192</string>
		<key>latitude</key>
		<real>52.420000000000002</real>
		<key>longitude</key>
		<real>78.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519463</string>
		<key>latitude</key>
		<real>47</real>
		<key>longitude</key>
		<real>77.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524809</string>
		<key>latitude</key>
		<real>53.280000000000001</real>
		<key>longitude</key>
		<real>66.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492255</string>
		<key>latitude</key>
		<real>54.63158</real>
		<key>longitude</key>
		<real>72.396347000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525617</string>
		<key>latitude</key>
		<real>48.399999999999999</real>
		<key>longitude</key>
		<real>78.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489938</string>
		<key>latitude</key>
		<real>54.590000000000003</real>
		<key>longitude</key>
		<real>73.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523400</string>
		<key>latitude</key>
		<real>54.666671999999998</real>
		<key>longitude</key>
		<real>71.051392000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520789</string>
		<key>latitude</key>
		<real>45.416111000000001</real>
		<key>longitude</key>
		<real>73.684441000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525736</string>
		<key>latitude</key>
		<real>48.170000000000002</real>
		<key>longitude</key>
		<real>78.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511135</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>73.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493554</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>73.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1533289</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>77.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518936</string>
		<key>latitude</key>
		<real>54.512501</real>
		<key>longitude</key>
		<real>69.422218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519385</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>67.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519936</string>
		<key>latitude</key>
		<real>48.950000000000003</real>
		<key>longitude</key>
		<real>79.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517305</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>68.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523149</string>
		<key>latitude</key>
		<real>52.670000000000002</real>
		<key>longitude</key>
		<real>65.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520386</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>74.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519625</string>
		<key>latitude</key>
		<real>47.780000000000001</real>
		<key>longitude</key>
		<real>78.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486340</string>
		<key>latitude</key>
		<real>52.93</real>
		<key>longitude</key>
		<real>78.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503153</string>
		<key>latitude</key>
		<real>52.270000000000003</real>
		<key>longitude</key>
		<real>79.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518009</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>66.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501460</string>
		<key>latitude</key>
		<real>52.57</real>
		<key>longitude</key>
		<real>78.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490356</string>
		<key>latitude</key>
		<real>52.780000000000001</real>
		<key>longitude</key>
		<real>78.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491706</string>
		<key>latitude</key>
		<real>53</real>
		<key>longitude</key>
		<real>78.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491704</string>
		<key>latitude</key>
		<real>53.020000000000003</real>
		<key>longitude</key>
		<real>78.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7458374</string>
		<key>latitude</key>
		<real>53</real>
		<key>longitude</key>
		<real>78.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508636</string>
		<key>latitude</key>
		<real>53.340000000000003</real>
		<key>longitude</key>
		<real>78.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504489</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>78.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7458389</string>
		<key>latitude</key>
		<real>53.219999999999999</real>
		<key>longitude</key>
		<real>78.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511094</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>77.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497899</string>
		<key>latitude</key>
		<real>53.229999999999997</real>
		<key>longitude</key>
		<real>78.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501365</string>
		<key>latitude</key>
		<real>54.369999999999997</real>
		<key>longitude</key>
		<real>77.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494739</string>
		<key>latitude</key>
		<real>53.369999999999997</real>
		<key>longitude</key>
		<real>78.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520051</string>
		<key>latitude</key>
		<real>54.670000000000002</real>
		<key>longitude</key>
		<real>67.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518019</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>66.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523998</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>65.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494525</string>
		<key>latitude</key>
		<real>53.759999999999998</real>
		<key>longitude</key>
		<real>79.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499436</string>
		<key>latitude</key>
		<real>54.439999999999998</real>
		<key>longitude</key>
		<real>78.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538000</string>
		<key>latitude</key>
		<real>46.229999999999997</real>
		<key>longitude</key>
		<real>78.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521333</string>
		<key>latitude</key>
		<real>46.235000999999997</real>
		<key>longitude</key>
		<real>78.945556999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501988</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>79.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521079</string>
		<key>latitude</key>
		<real>45.899999999999999</real>
		<key>longitude</key>
		<real>78.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485312</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>78.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484943</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>64.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493691</string>
		<key>latitude</key>
		<real>54.649999999999999</real>
		<key>longitude</key>
		<real>64.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526229</string>
		<key>latitude</key>
		<real>45.278061000000001</real>
		<key>longitude</key>
		<real>79.355002999999996</real>
	</dict>
</array>
</plist>
