<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1499385</string>
		<key>latitude</key>
		<real>58.490000000000002</real>
		<key>longitude</key>
		<real>96.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498314</string>
		<key>latitude</key>
		<real>58.183059999999998</real>
		<key>longitude</key>
		<real>94.759170999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493756</string>
		<key>latitude</key>
		<real>58.421107999999997</real>
		<key>longitude</key>
		<real>94.665833000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509844</string>
		<key>latitude</key>
		<real>58.380000000000003</real>
		<key>longitude</key>
		<real>97.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507638</string>
		<key>latitude</key>
		<real>57.450000000000003</real>
		<key>longitude</key>
		<real>97.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490058</string>
		<key>latitude</key>
		<real>57.219999999999999</real>
		<key>longitude</key>
		<real>94.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507035</string>
		<key>latitude</key>
		<real>56.829999999999998</real>
		<key>longitude</key>
		<real>95.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485490</string>
		<key>latitude</key>
		<real>56.710000000000001</real>
		<key>longitude</key>
		<real>95.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512218</string>
		<key>latitude</key>
		<real>56.670000000000002</real>
		<key>longitude</key>
		<real>96.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497142</string>
		<key>latitude</key>
		<real>56.960000000000001</real>
		<key>longitude</key>
		<real>97.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504075</string>
		<key>latitude</key>
		<real>57.695278000000002</real>
		<key>longitude</key>
		<real>93.276107999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490805</string>
		<key>latitude</key>
		<real>58.072780999999999</real>
		<key>longitude</key>
		<real>93.034439000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502020</string>
		<key>latitude</key>
		<real>58</real>
		<key>longitude</key>
		<real>93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494237</string>
		<key>latitude</key>
		<real>57.066940000000002</real>
		<key>longitude</key>
		<real>93.437781999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505933</string>
		<key>latitude</key>
		<real>56.240000000000002</real>
		<key>longitude</key>
		<real>96.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504682</string>
		<key>latitude</key>
		<real>56.200000000000003</real>
		<key>longitude</key>
		<real>95.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503037</string>
		<key>latitude</key>
		<real>58.688060999999998</real>
		<key>longitude</key>
		<real>99.184441000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497497</string>
		<key>latitude</key>
		<real>56.200000000000003</real>
		<key>longitude</key>
		<real>96.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506834</string>
		<key>latitude</key>
		<real>56.200000000000003</real>
		<key>longitude</key>
		<real>95.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500607</string>
		<key>latitude</key>
		<real>58.235827999999998</real>
		<key>longitude</key>
		<real>92.482780000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489571</string>
		<key>latitude</key>
		<real>56.149999999999999</real>
		<key>longitude</key>
		<real>96.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6312678</string>
		<key>latitude</key>
		<real>56.119999999999997</real>
		<key>longitude</key>
		<real>96.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497397</string>
		<key>latitude</key>
		<real>56.159999999999997</real>
		<key>longitude</key>
		<real>97.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494941</string>
		<key>latitude</key>
		<real>57.626671000000002</real>
		<key>longitude</key>
		<real>92.265831000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488253</string>
		<key>latitude</key>
		<real>56.109999999999999</real>
		<key>longitude</key>
		<real>94.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485997</string>
		<key>latitude</key>
		<real>58.449717999999997</real>
		<key>longitude</key>
		<real>92.170280000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492110</string>
		<key>latitude</key>
		<real>56.369999999999997</real>
		<key>longitude</key>
		<real>98.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490711</string>
		<key>latitude</key>
		<real>56.5</real>
		<key>longitude</key>
		<real>93.272780999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508961</string>
		<key>latitude</key>
		<real>58.485802</real>
		<key>longitude</key>
		<real>92.082297999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485680</string>
		<key>latitude</key>
		<real>56.049999999999997</real>
		<key>longitude</key>
		<real>97.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505502</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>94.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508943</string>
		<key>latitude</key>
		<real>55.909999999999997</real>
		<key>longitude</key>
		<real>94.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488458</string>
		<key>latitude</key>
		<real>55.909999999999997</real>
		<key>longitude</key>
		<real>94.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538635</string>
		<key>latitude</key>
		<real>56.251109999999997</real>
		<key>longitude</key>
		<real>93.531936999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538730</string>
		<key>latitude</key>
		<real>57.635559000000001</real>
		<key>longitude</key>
		<real>91.907218999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490001</string>
		<key>latitude</key>
		<real>56.315280999999999</real>
		<key>longitude</key>
		<real>93.214721999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510041</string>
		<key>latitude</key>
		<real>55.960000000000001</real>
		<key>longitude</key>
		<real>97.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489870</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501036</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>98.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491291</string>
		<key>latitude</key>
		<real>56.1325</real>
		<key>longitude</key>
		<real>93.358886999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487922</string>
		<key>latitude</key>
		<real>55.810000000000002</real>
		<key>longitude</key>
		<real>94.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505529</string>
		<key>latitude</key>
		<real>55.640000000000001</real>
		<key>longitude</key>
		<real>95.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503404</string>
		<key>latitude</key>
		<real>56.059170000000002</real>
		<key>longitude</key>
		<real>93.330832999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501196</string>
		<key>latitude</key>
		<real>55.948329999999999</real>
		<key>longitude</key>
		<real>93.591667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499109</string>
		<key>latitude</key>
		<real>56.50806</real>
		<key>longitude</key>
		<real>92.407784000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538639</string>
		<key>latitude</key>
		<real>56.115828999999998</real>
		<key>longitude</key>
		<real>92.925278000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6267910</string>
		<key>latitude</key>
		<real>56.099997999999999</real>
		<key>longitude</key>
		<real>92.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484923</string>
		<key>latitude</key>
		<real>55.951939000000003</real>
		<key>longitude</key>
		<real>93.146111000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486031</string>
		<key>latitude</key>
		<real>56.168059999999997</real>
		<key>longitude</key>
		<real>92.676665999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492466</string>
		<key>latitude</key>
		<real>55.722777999999998</real>
		<key>longitude</key>
		<real>93.759438000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493783</string>
		<key>latitude</key>
		<real>57.005001</real>
		<key>longitude</key>
		<real>91.478606999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486093</string>
		<key>latitude</key>
		<real>56.138610999999997</real>
		<key>longitude</key>
		<real>92.541106999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502026</string>
		<key>latitude</key>
		<real>56.009720000000002</real>
		<key>longitude</key>
		<real>92.791672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495538</string>
		<key>latitude</key>
		<real>55.500560999999998</real>
		<key>longitude</key>
		<real>94.389999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1536134</string>
		<key>latitude</key>
		<real>56.084170999999998</real>
		<key>longitude</key>
		<real>92.576110999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490617</string>
		<key>latitude</key>
		<real>56.985278999999998</real>
		<key>longitude</key>
		<real>91.398612999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500609</string>
		<key>latitude</key>
		<real>56.049999999999997</real>
		<key>longitude</key>
		<real>99.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507636</string>
		<key>latitude</key>
		<real>56.079999999999998</real>
		<key>longitude</key>
		<real>99.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495797</string>
		<key>latitude</key>
		<real>55.957500000000003</real>
		<key>longitude</key>
		<real>92.551940999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485057</string>
		<key>latitude</key>
		<real>59.966670999999998</real>
		<key>longitude</key>
		<real>99.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512102</string>
		<key>latitude</key>
		<real>55.259999999999998</real>
		<key>longitude</key>
		<real>94.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492566</string>
		<key>latitude</key>
		<real>60.372501</real>
		<key>longitude</key>
		<real>93.040833000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510323</string>
		<key>latitude</key>
		<real>55.690201000000002</real>
		<key>longitude</key>
		<real>92.993401000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511709</string>
		<key>latitude</key>
		<real>55.560000000000002</real>
		<key>longitude</key>
		<real>98.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507379</string>
		<key>latitude</key>
		<real>55.959437999999999</real>
		<key>longitude</key>
		<real>92.361937999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017370</string>
		<key>latitude</key>
		<real>60</real>
		<key>longitude</key>
		<real>100</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538641</string>
		<key>latitude</key>
		<real>56.170000000000002</real>
		<key>longitude</key>
		<real>91.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489656</string>
		<key>latitude</key>
		<real>60.377780999999999</real>
		<key>longitude</key>
		<real>92.626671000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508260</string>
		<key>latitude</key>
		<real>56.950000000000003</real>
		<key>longitude</key>
		<real>90.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497132</string>
		<key>latitude</key>
		<real>56.270000000000003</real>
		<key>longitude</key>
		<real>91.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488616</string>
		<key>latitude</key>
		<real>55.079999999999998</real>
		<key>longitude</key>
		<real>98.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013399</string>
		<key>latitude</key>
		<real>56.119999999999997</real>
		<key>longitude</key>
		<real>101.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8050048</string>
		<key>latitude</key>
		<real>56.359999999999999</real>
		<key>longitude</key>
		<real>101.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512165</string>
		<key>latitude</key>
		<real>56.270000000000003</real>
		<key>longitude</key>
		<real>90.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511276</string>
		<key>latitude</key>
		<real>55.100000000000001</real>
		<key>longitude</key>
		<real>99.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497549</string>
		<key>latitude</key>
		<real>54.909999999999997</real>
		<key>longitude</key>
		<real>99.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013952</string>
		<key>latitude</key>
		<real>58.000560999999998</real>
		<key>longitude</key>
		<real>102.661942</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510998</string>
		<key>latitude</key>
		<real>55.380001</real>
		<key>longitude</key>
		<real>91.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2051523</string>
		<key>latitude</key>
		<real>56.1325</real>
		<key>longitude</key>
		<real>101.614166</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012561</string>
		<key>latitude</key>
		<real>57.912219999999998</real>
		<key>longitude</key>
		<real>102.765282</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491977</string>
		<key>latitude</key>
		<real>54.829999999999998</real>
		<key>longitude</key>
		<real>99.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497951</string>
		<key>latitude</key>
		<real>56.009999999999998</real>
		<key>longitude</key>
		<real>90.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510689</string>
		<key>latitude</key>
		<real>61.669998</real>
		<key>longitude</key>
		<real>96.370002999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017842</string>
		<key>latitude</key>
		<real>55.530000000000001</real>
		<key>longitude</key>
		<real>101.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510309</string>
		<key>latitude</key>
		<real>54.950001</real>
		<key>longitude</key>
		<real>92.139999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7902696</string>
		<key>latitude</key>
		<real>54.490000000000002</real>
		<key>longitude</key>
		<real>99</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023261</string>
		<key>latitude</key>
		<real>55.679721999999998</real>
		<key>longitude</key>
		<real>101.730278</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488774</string>
		<key>latitude</key>
		<real>56.539999999999999</real>
		<key>longitude</key>
		<real>89.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511369</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>93.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509853</string>
		<key>latitude</key>
		<real>56.170000000000002</real>
		<key>longitude</key>
		<real>89.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509852</string>
		<key>latitude</key>
		<real>56.210000000000001</real>
		<key>longitude</key>
		<real>89.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502096</string>
		<key>latitude</key>
		<real>54.333888999999999</real>
		<key>longitude</key>
		<real>93.259438000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013727</string>
		<key>latitude</key>
		<real>60.340000000000003</real>
		<key>longitude</key>
		<real>102.27971599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486551</string>
		<key>latitude</key>
		<real>55.5</real>
		<key>longitude</key>
		<real>90.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502389</string>
		<key>latitude</key>
		<real>54.166671999999998</real>
		<key>longitude</key>
		<real>93.300003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013406</string>
		<key>latitude</key>
		<real>56.408797999999997</real>
		<key>longitude</key>
		<real>103.110603</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017378</string>
		<key>latitude</key>
		<real>57.263900999999997</real>
		<key>longitude</key>
		<real>103.75190000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505998</string>
		<key>latitude</key>
		<real>54.370831000000003</real>
		<key>longitude</key>
		<real>92.135834000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023731</string>
		<key>latitude</key>
		<real>56.977001000000001</real>
		<key>longitude</key>
		<real>103.62400100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489822</string>
		<key>latitude</key>
		<real>57.310000000000002</real>
		<key>longitude</key>
		<real>88.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505383</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>89.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014927</string>
		<key>latitude</key>
		<real>54.560000000000002</real>
		<key>longitude</key>
		<real>100.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018046</string>
		<key>latitude</key>
		<real>54.549999999999997</real>
		<key>longitude</key>
		<real>100.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019004</string>
		<key>latitude</key>
		<real>57.133400000000002</real>
		<key>longitude</key>
		<real>103.91120100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511068</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>89.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487882</string>
		<key>latitude</key>
		<real>55.299999999999997</real>
		<key>longitude</key>
		<real>89.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2052144</string>
		<key>latitude</key>
		<real>54.509999999999998</real>
		<key>longitude</key>
		<real>100.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502063</string>
		<key>latitude</key>
		<real>54.318610999999997</real>
		<key>longitude</key>
		<real>91.563889000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027288</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>100.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492401</string>
		<key>latitude</key>
		<real>55.539999999999999</real>
		<key>longitude</key>
		<real>89.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507172</string>
		<key>latitude</key>
		<real>55.619999999999997</real>
		<key>longitude</key>
		<real>89.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016742</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>100.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488838</string>
		<key>latitude</key>
		<real>56.119999999999997</real>
		<key>longitude</key>
		<real>88.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492891</string>
		<key>latitude</key>
		<real>54.150002000000001</real>
		<key>longitude</key>
		<real>91.885002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015082</string>
		<key>latitude</key>
		<real>54.479999999999997</real>
		<key>longitude</key>
		<real>101.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501356</string>
		<key>latitude</key>
		<real>53.897499000000003</real>
		<key>longitude</key>
		<real>92.672500999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018854</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>101.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014917</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>101.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016733</string>
		<key>latitude</key>
		<real>56.491501</real>
		<key>longitude</key>
		<real>103.959999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012557</string>
		<key>latitude</key>
		<real>56.576801000000003</real>
		<key>longitude</key>
		<real>104.121696</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495939</string>
		<key>latitude</key>
		<real>61.383330999999998</real>
		<key>longitude</key>
		<real>89.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019963</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>101.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490591</string>
		<key>latitude</key>
		<real>56.219999999999999</real>
		<key>longitude</key>
		<real>88.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022232</string>
		<key>latitude</key>
		<real>56.703201</real>
		<key>longitude</key>
		<real>104.249397</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492053</string>
		<key>latitude</key>
		<real>53.816668999999997</real>
		<key>longitude</key>
		<real>92.433327000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509008</string>
		<key>latitude</key>
		<real>61.601109000000001</real>
		<key>longitude</key>
		<real>90.018058999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2052150</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>101.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504442</string>
		<key>latitude</key>
		<real>53.607219999999998</real>
		<key>longitude</key>
		<real>92.866669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509847</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>90.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489554</string>
		<key>latitude</key>
		<real>55.759999999999998</real>
		<key>longitude</key>
		<real>88.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491519</string>
		<key>latitude</key>
		<real>55.479999999999997</real>
		<key>longitude</key>
		<real>88.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021093</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>101.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023085</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>101.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499350</string>
		<key>latitude</key>
		<real>56.210000000000001</real>
		<key>longitude</key>
		<real>87.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024809</string>
		<key>latitude</key>
		<real>54.280000000000001</real>
		<key>longitude</key>
		<real>101.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492149</string>
		<key>latitude</key>
		<real>54.490000000000002</real>
		<key>longitude</key>
		<real>89.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023896</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>101.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488272</string>
		<key>latitude</key>
		<real>53.850000000000001</real>
		<key>longitude</key>
		<real>91.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498693</string>
		<key>latitude</key>
		<real>53.710281000000002</real>
		<key>longitude</key>
		<real>91.6875</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020743</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>101.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508054</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>91.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018216</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>101.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487599</string>
		<key>latitude</key>
		<real>56.030000000000001</real>
		<key>longitude</key>
		<real>87.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485275</string>
		<key>latitude</key>
		<real>53.666671999999998</real>
		<key>longitude</key>
		<real>91.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489048</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>89.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490053</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>91.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512236</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>91.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022650</string>
		<key>latitude</key>
		<real>54.228889000000002</real>
		<key>longitude</key>
		<real>101.866112</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494745</string>
		<key>latitude</key>
		<real>53.665829000000002</real>
		<key>longitude</key>
		<real>91.536392000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510514</string>
		<key>latitude</key>
		<real>55.020000000000003</real>
		<key>longitude</key>
		<real>88.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510377</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>91.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022105</string>
		<key>latitude</key>
		<real>54.136940000000003</real>
		<key>longitude</key>
		<real>101.99472</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491360</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>90.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050832</string>
		<key>latitude</key>
		<real>54.104999999999997</real>
		<key>longitude</key>
		<real>102.043098</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016043</string>
		<key>latitude</key>
		<real>54.083328000000002</real>
		<key>longitude</key>
		<real>102.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055166</string>
		<key>latitude</key>
		<real>54.108798999999998</real>
		<key>longitude</key>
		<real>102.16480300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018162</string>
		<key>latitude</key>
		<real>54.046391</real>
		<key>longitude</key>
		<real>102.056938</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502758</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>89.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013323</string>
		<key>latitude</key>
		<real>54.033329000000002</real>
		<key>longitude</key>
		<real>102.099998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506565</string>
		<key>latitude</key>
		<real>55.219999999999999</real>
		<key>longitude</key>
		<real>87.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494190</string>
		<key>latitude</key>
		<real>54.659999999999997</real>
		<key>longitude</key>
		<real>88.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017890</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>102.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019799</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>102.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014533</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>102.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012484</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>102.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500816</string>
		<key>latitude</key>
		<real>62.094439999999999</real>
		<key>longitude</key>
		<real>89.186394000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903642</string>
		<key>latitude</key>
		<real>53.909999999999997</real>
		<key>longitude</key>
		<real>102.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7903956</string>
		<key>latitude</key>
		<real>53.859999999999999</real>
		<key>longitude</key>
		<real>101.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019180</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>102.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903663</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>102.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024062</string>
		<key>latitude</key>
		<real>53.862301000000002</real>
		<key>longitude</key>
		<real>102.252403</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013865</string>
		<key>latitude</key>
		<real>54.174197999999997</real>
		<key>longitude</key>
		<real>103.03040300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903666</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>102.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014704</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>102.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014705</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>102.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903671</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>102.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027198</string>
		<key>latitude</key>
		<real>54.010280999999999</real>
		<key>longitude</key>
		<real>103.05444300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050891</string>
		<key>latitude</key>
		<real>53.609999999999999</real>
		<key>longitude</key>
		<real>102.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015469</string>
		<key>latitude</key>
		<real>53.700198999999998</real>
		<key>longitude</key>
		<real>102.71169999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050902</string>
		<key>latitude</key>
		<real>53.560000000000002</real>
		<key>longitude</key>
		<real>102.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026955</string>
		<key>latitude</key>
		<real>53.588889999999999</real>
		<key>longitude</key>
		<real>102.54666899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012702</string>
		<key>latitude</key>
		<real>53.560000000000002</real>
		<key>longitude</key>
		<real>102.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903687</string>
		<key>latitude</key>
		<real>53.569099000000001</real>
		<key>longitude</key>
		<real>102.58989699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019437</string>
		<key>latitude</key>
		<real>53.533329000000002</real>
		<key>longitude</key>
		<real>102.599998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498920</string>
		<key>latitude</key>
		<real>53.689999999999998</real>
		<key>longitude</key>
		<real>88.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498129</string>
		<key>latitude</key>
		<real>53.710000000000001</real>
		<key>longitude</key>
		<real>87.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494156</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>87.609999999999999</real>
	</dict>
</array>
</plist>
