<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1489661</string>
		<key>latitude</key>
		<real>57.508999000000003</real>
		<key>longitude</key>
		<real>72.404197999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488206</string>
		<key>latitude</key>
		<real>57.693500999999998</real>
		<key>longitude</key>
		<real>71.166495999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492021</string>
		<key>latitude</key>
		<real>57.234169000000001</real>
		<key>longitude</key>
		<real>73.488608999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485020</string>
		<key>latitude</key>
		<real>57.130000000000003</real>
		<key>longitude</key>
		<real>73.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487112</string>
		<key>latitude</key>
		<real>56.816668999999997</real>
		<key>longitude</key>
		<real>70.610686999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487860</string>
		<key>latitude</key>
		<real>57.9375</real>
		<key>longitude</key>
		<real>69.021666999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490140</string>
		<key>latitude</key>
		<real>56.890000000000001</real>
		<key>longitude</key>
		<real>74.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502879</string>
		<key>latitude</key>
		<real>56.469999999999999</real>
		<key>longitude</key>
		<real>73.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540475</string>
		<key>latitude</key>
		<real>58.941668999999997</real>
		<key>longitude</key>
		<real>69.132499999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512223</string>
		<key>latitude</key>
		<real>58.128608999999997</real>
		<key>longitude</key>
		<real>68.594436999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511275</string>
		<key>latitude</key>
		<real>56.799999999999997</real>
		<key>longitude</key>
		<real>74.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485824</string>
		<key>latitude</key>
		<real>57.466667000000001</real>
		<key>longitude</key>
		<real>68.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512210</string>
		<key>latitude</key>
		<real>56.287478999999998</real>
		<key>longitude</key>
		<real>70.455528000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488288</string>
		<key>latitude</key>
		<real>56.801578999999997</real>
		<key>longitude</key>
		<real>69.227019999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490655</string>
		<key>latitude</key>
		<real>58.110827999999998</real>
		<key>longitude</key>
		<real>68.324439999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498997</string>
		<key>latitude</key>
		<real>58.166671999999998</real>
		<key>longitude</key>
		<real>68.300003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487939</string>
		<key>latitude</key>
		<real>59.143329999999999</real>
		<key>longitude</key>
		<real>68.895279000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489530</string>
		<key>latitude</key>
		<real>58.200001</real>
		<key>longitude</key>
		<real>68.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488747</string>
		<key>latitude</key>
		<real>57.333331999999999</real>
		<key>longitude</key>
		<real>68.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501690</string>
		<key>latitude</key>
		<real>56.005501000000002</real>
		<key>longitude</key>
		<real>71.511307000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509738</string>
		<key>latitude</key>
		<real>56.020000000000003</real>
		<key>longitude</key>
		<real>73.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505495</string>
		<key>latitude</key>
		<real>58.333328000000002</real>
		<key>longitude</key>
		<real>68.133330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496152</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493162</string>
		<key>latitude</key>
		<real>60.0625</real>
		<key>longitude</key>
		<real>71.478888999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488780</string>
		<key>latitude</key>
		<real>55.873210999999998</real>
		<key>longitude</key>
		<real>72.196731999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511381</string>
		<key>latitude</key>
		<real>56.86018</real>
		<key>longitude</key>
		<real>68.637542999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489202</string>
		<key>latitude</key>
		<real>55.701279</real>
		<key>longitude</key>
		<real>72.233688000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506268</string>
		<key>latitude</key>
		<real>60.049999</real>
		<key>longitude</key>
		<real>69.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505453</string>
		<key>latitude</key>
		<real>56.112808000000001</real>
		<key>longitude</key>
		<real>69.49015</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509494</string>
		<key>latitude</key>
		<real>56.090000000000003</real>
		<key>longitude</key>
		<real>74.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498205</string>
		<key>latitude</key>
		<real>56.369999999999997</real>
		<key>longitude</key>
		<real>75.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509831</string>
		<key>latitude</key>
		<real>59.815559</real>
		<key>longitude</key>
		<real>68.806938000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497932</string>
		<key>latitude</key>
		<real>55.569752000000001</real>
		<key>longitude</key>
		<real>71.352942999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493004</string>
		<key>latitude</key>
		<real>55.609999999999999</real>
		<key>longitude</key>
		<real>73.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506422</string>
		<key>latitude</key>
		<real>56.399999999999999</real>
		<key>longitude</key>
		<real>68.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1543743</string>
		<key>latitude</key>
		<real>55.762959000000002</real>
		<key>longitude</key>
		<real>69.625572000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493523</string>
		<key>latitude</key>
		<real>55.384200999999997</real>
		<key>longitude</key>
		<real>71.889129999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491719</string>
		<key>latitude</key>
		<real>55.528351000000001</real>
		<key>longitude</key>
		<real>70.338538999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486369</string>
		<key>latitude</key>
		<real>57.399999999999999</real>
		<key>longitude</key>
		<real>67.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501710</string>
		<key>latitude</key>
		<real>55.359999999999999</real>
		<key>longitude</key>
		<real>73.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502041</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>73.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485712</string>
		<key>latitude</key>
		<real>56.82</real>
		<key>longitude</key>
		<real>67.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502962</string>
		<key>latitude</key>
		<real>56.890000000000001</real>
		<key>longitude</key>
		<real>76.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492827</string>
		<key>latitude</key>
		<real>55.68</real>
		<key>longitude</key>
		<real>69.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696686</string>
		<key>latitude</key>
		<real>60.749851</real>
		<key>longitude</key>
		<real>72.858238</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496142</string>
		<key>latitude</key>
		<real>56.469999999999999</real>
		<key>longitude</key>
		<real>67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504019</string>
		<key>latitude</key>
		<real>55.640000000000001</real>
		<key>longitude</key>
		<real>69.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511740</string>
		<key>latitude</key>
		<real>60.333328000000002</real>
		<key>longitude</key>
		<real>68.966667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501887</string>
		<key>latitude</key>
		<real>55.240000000000002</real>
		<key>longitude</key>
		<real>72.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500125</string>
		<key>latitude</key>
		<real>55.154209000000002</real>
		<key>longitude</key>
		<real>72.692466999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502697</string>
		<key>latitude</key>
		<real>59.649999999999999</real>
		<key>longitude</key>
		<real>67.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501000</string>
		<key>latitude</key>
		<real>56.549999999999997</real>
		<key>longitude</key>
		<real>76.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510335</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>73.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501429</string>
		<key>latitude</key>
		<real>58.670000000000002</real>
		<key>longitude</key>
		<real>66.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505432</string>
		<key>latitude</key>
		<real>57.420000000000002</real>
		<key>longitude</key>
		<real>66.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485793</string>
		<key>latitude</key>
		<real>60.880000000000003</real>
		<key>longitude</key>
		<real>73.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497406</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>74.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488255</string>
		<key>latitude</key>
		<real>61.066668999999997</real>
		<key>longitude</key>
		<real>72.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496153</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>73.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500207</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>73.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7076382</string>
		<key>latitude</key>
		<real>54.969999999999999</real>
		<key>longitude</key>
		<real>73.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497917</string>
		<key>latitude</key>
		<real>61.099789000000001</real>
		<key>longitude</key>
		<real>72.603493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505438</string>
		<key>latitude</key>
		<real>54.910912000000003</real>
		<key>longitude</key>
		<real>71.272819999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487048</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>73.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497376</string>
		<key>latitude</key>
		<real>57.670000000000002</real>
		<key>longitude</key>
		<real>66.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511382</string>
		<key>latitude</key>
		<real>55.950000000000003</real>
		<key>longitude</key>
		<real>67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496588</string>
		<key>latitude</key>
		<real>56.490000000000002</real>
		<key>longitude</key>
		<real>66.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504368</string>
		<key>latitude</key>
		<real>61.07</real>
		<key>longitude</key>
		<real>73.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488074</string>
		<key>latitude</key>
		<real>55.57</real>
		<key>longitude</key>
		<real>75.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7536147</string>
		<key>latitude</key>
		<real>61.154518000000003</real>
		<key>longitude</key>
		<real>72.660720999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525014</string>
		<key>latitude</key>
		<real>54.905560000000001</real>
		<key>longitude</key>
		<real>70.443893000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502526</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>74.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510842</string>
		<key>latitude</key>
		<real>61.170000000000002</real>
		<key>longitude</key>
		<real>73.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7596769</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>74.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496889</string>
		<key>latitude</key>
		<real>54.840000000000003</real>
		<key>longitude</key>
		<real>73.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505074</string>
		<key>latitude</key>
		<real>55.049999999999997</real>
		<key>longitude</key>
		<real>74.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494276</string>
		<key>latitude</key>
		<real>61.229999999999997</real>
		<key>longitude</key>
		<real>73.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485357</string>
		<key>latitude</key>
		<real>56.5</real>
		<key>longitude</key>
		<real>66.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505496</string>
		<key>latitude</key>
		<real>54.810000000000002</real>
		<key>longitude</key>
		<real>73.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1531211</string>
		<key>latitude</key>
		<real>55.259999999999998</real>
		<key>longitude</key>
		<real>68.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490624</string>
		<key>latitude</key>
		<real>61.25</real>
		<key>longitude</key>
		<real>73.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493241</string>
		<key>latitude</key>
		<real>61.299999</real>
		<key>longitude</key>
		<real>71.033332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511135</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>73.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493554</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>73.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510250</string>
		<key>latitude</key>
		<real>56.670000000000002</real>
		<key>longitude</key>
		<real>66.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486468</string>
		<key>latitude</key>
		<real>56.649999999999999</real>
		<key>longitude</key>
		<real>66.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503772</string>
		<key>latitude</key>
		<real>61.004168999999997</real>
		<key>longitude</key>
		<real>69.001937999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523400</string>
		<key>latitude</key>
		<real>54.666671999999998</real>
		<key>longitude</key>
		<real>71.051392000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492255</string>
		<key>latitude</key>
		<real>54.63158</real>
		<key>longitude</key>
		<real>72.396347000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498402</string>
		<key>latitude</key>
		<real>59.329999999999998</real>
		<key>longitude</key>
		<real>66.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492810</string>
		<key>latitude</key>
		<real>61.290562000000001</real>
		<key>longitude</key>
		<real>70.342499000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508074</string>
		<key>latitude</key>
		<real>61.329999999999998</real>
		<key>longitude</key>
		<real>73.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500399</string>
		<key>latitude</key>
		<real>61.130000000000003</real>
		<key>longitude</key>
		<real>74.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510163</string>
		<key>latitude</key>
		<real>56.740000000000002</real>
		<key>longitude</key>
		<real>66.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511538</string>
		<key>latitude</key>
		<real>57.109999999999999</real>
		<key>longitude</key>
		<real>65.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509902</string>
		<key>latitude</key>
		<real>56.890000000000001</real>
		<key>longitude</key>
		<real>65.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487615</string>
		<key>latitude</key>
		<real>55.68</real>
		<key>longitude</key>
		<real>76.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520172</string>
		<key>latitude</key>
		<real>54.880000000000003</real>
		<key>longitude</key>
		<real>69.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508879</string>
		<key>latitude</key>
		<real>57.039999999999999</real>
		<key>longitude</key>
		<real>65.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487086</string>
		<key>latitude</key>
		<real>56.960000000000001</real>
		<key>longitude</key>
		<real>65.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499042</string>
		<key>latitude</key>
		<real>57.210000000000001</real>
		<key>longitude</key>
		<real>65.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498919</string>
		<key>latitude</key>
		<real>59.600000000000001</real>
		<key>longitude</key>
		<real>65.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489938</string>
		<key>latitude</key>
		<real>54.590000000000003</real>
		<key>longitude</key>
		<real>73.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488465</string>
		<key>latitude</key>
		<real>56.310000000000002</real>
		<key>longitude</key>
		<real>66.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490003</string>
		<key>latitude</key>
		<real>55.219999999999999</real>
		<key>longitude</key>
		<real>75.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489962</string>
		<key>latitude</key>
		<real>58.039999999999999</real>
		<key>longitude</key>
		<real>65.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488754</string>
		<key>latitude</key>
		<real>57.149999999999999</real>
		<key>longitude</key>
		<real>65.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498547</string>
		<key>latitude</key>
		<real>54.939999999999998</real>
		<key>longitude</key>
		<real>75.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496329</string>
		<key>latitude</key>
		<real>54.840000000000003</real>
		<key>longitude</key>
		<real>75.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498511</string>
		<key>latitude</key>
		<real>55.810000000000002</real>
		<key>longitude</key>
		<real>66.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525295</string>
		<key>latitude</key>
		<real>54.780000000000001</real>
		<key>longitude</key>
		<real>69.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493313</string>
		<key>latitude</key>
		<real>61.599997999999999</real>
		<key>longitude</key>
		<real>72.449996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521153</string>
		<key>latitude</key>
		<real>54.939999999999998</real>
		<key>longitude</key>
		<real>68.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1541359</string>
		<key>latitude</key>
		<real>61.619450000000001</real>
		<key>longitude</key>
		<real>72.155456999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696767</string>
		<key>latitude</key>
		<real>61.25</real>
		<key>longitude</key>
		<real>75.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496124</string>
		<key>latitude</key>
		<real>56.93</real>
		<key>longitude</key>
		<real>65.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494500</string>
		<key>latitude</key>
		<real>54.366290999999997</real>
		<key>longitude</key>
		<real>71.763191000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498365</string>
		<key>latitude</key>
		<real>57.109999999999999</real>
		<key>longitude</key>
		<real>65.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539186</string>
		<key>latitude</key>
		<real>57.18</real>
		<key>longitude</key>
		<real>65.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521977</string>
		<key>latitude</key>
		<real>54.960000000000001</real>
		<key>longitude</key>
		<real>68.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494326</string>
		<key>latitude</key>
		<real>56.229999999999997</real>
		<key>longitude</key>
		<real>66.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499053</string>
		<key>latitude</key>
		<real>61.030000000000001</real>
		<key>longitude</key>
		<real>76.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493314</string>
		<key>latitude</key>
		<real>55.18</real>
		<key>longitude</key>
		<real>67.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517384</string>
		<key>latitude</key>
		<real>54.880000000000003</real>
		<key>longitude</key>
		<real>68.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507934</string>
		<key>latitude</key>
		<real>56.950000000000003</real>
		<key>longitude</key>
		<real>65.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495022</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>67.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532612</string>
		<key>latitude</key>
		<real>54.299999</real>
		<key>longitude</key>
		<real>72.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497543</string>
		<key>latitude</key>
		<real>60.93</real>
		<key>longitude</key>
		<real>76.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508458</string>
		<key>latitude</key>
		<real>55.310000000000002</real>
		<key>longitude</key>
		<real>76.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518936</string>
		<key>latitude</key>
		<real>54.512501</real>
		<key>longitude</key>
		<real>69.422218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493855</string>
		<key>latitude</key>
		<real>59.083328000000002</real>
		<key>longitude</key>
		<real>79</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511146</string>
		<key>latitude</key>
		<real>58.039999999999999</real>
		<key>longitude</key>
		<real>64.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492607</string>
		<key>latitude</key>
		<real>56.350000000000001</real>
		<key>longitude</key>
		<real>78.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500036</string>
		<key>latitude</key>
		<real>55.210000000000001</real>
		<key>longitude</key>
		<real>67.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496380</string>
		<key>latitude</key>
		<real>54.210000000000001</real>
		<key>longitude</key>
		<real>72.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1543539</string>
		<key>latitude</key>
		<real>55.18</real>
		<key>longitude</key>
		<real>67.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516726</string>
		<key>latitude</key>
		<real>54.138888999999999</real>
		<key>longitude</key>
		<real>72.375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7290697</string>
		<key>latitude</key>
		<real>60.979438999999999</real>
		<key>longitude</key>
		<real>76.924210000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495480</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>73.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505466</string>
		<key>latitude</key>
		<real>56.490000000000002</real>
		<key>longitude</key>
		<real>65.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504670</string>
		<key>latitude</key>
		<real>61.916671999999998</real>
		<key>longitude</key>
		<real>72.033332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485354</string>
		<key>latitude</key>
		<real>56.859999999999999</real>
		<key>longitude</key>
		<real>65.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490796</string>
		<key>latitude</key>
		<real>60.733299000000002</real>
		<key>longitude</key>
		<real>77.588898</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490364</string>
		<key>latitude</key>
		<real>58.520000000000003</real>
		<key>longitude</key>
		<real>64.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503304</string>
		<key>latitude</key>
		<real>56.68</real>
		<key>longitude</key>
		<real>65.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503773</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540484</string>
		<key>latitude</key>
		<real>57.520000000000003</real>
		<key>longitude</key>
		<real>79.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489057</string>
		<key>latitude</key>
		<real>57.060000000000002</real>
		<key>longitude</key>
		<real>64.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488931</string>
		<key>latitude</key>
		<real>57.619999999999997</real>
		<key>longitude</key>
		<real>64.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500764</string>
		<key>latitude</key>
		<real>55.270000000000003</real>
		<key>longitude</key>
		<real>66.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7289676</string>
		<key>latitude</key>
		<real>61.719999999999999</real>
		<key>longitude</key>
		<real>75.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496633</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>74.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510421</string>
		<key>latitude</key>
		<real>55.82</real>
		<key>longitude</key>
		<real>65.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500252</string>
		<key>latitude</key>
		<real>56.960000000000001</real>
		<key>longitude</key>
		<real>64.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517305</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>68.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519367</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508138</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>74.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517310</string>
		<key>latitude</key>
		<real>53.950001</real>
		<key>longitude</key>
		<real>70.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489423</string>
		<key>latitude</key>
		<real>58.780000000000001</real>
		<key>longitude</key>
		<real>64.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492388</string>
		<key>latitude</key>
		<real>56.520000000000003</real>
		<key>longitude</key>
		<real>64.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485664</string>
		<key>latitude</key>
		<real>57.079999999999998</real>
		<key>longitude</key>
		<real>64.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508916</string>
		<key>latitude</key>
		<real>57.590000000000003</real>
		<key>longitude</key>
		<real>64.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493378</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>78.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488429</string>
		<key>latitude</key>
		<real>60.119999999999997</real>
		<key>longitude</key>
		<real>64.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522565</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>72.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520051</string>
		<key>latitude</key>
		<real>54.670000000000002</real>
		<key>longitude</key>
		<real>67.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487784</string>
		<key>latitude</key>
		<real>55.359999999999999</real>
		<key>longitude</key>
		<real>65.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501141</string>
		<key>latitude</key>
		<real>55.450000000000003</real>
		<key>longitude</key>
		<real>78.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485873</string>
		<key>latitude</key>
		<real>56.789999999999999</real>
		<key>longitude</key>
		<real>64.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522035</string>
		<key>latitude</key>
		<real>53.847777999999998</real>
		<key>longitude</key>
		<real>69.763892999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493423</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>73.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518511</string>
		<key>latitude</key>
		<real>53.637217999999997</real>
		<key>longitude</key>
		<real>71.877219999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521401</string>
		<key>latitude</key>
		<real>53.636391000000003</real>
		<key>longitude</key>
		<real>72.341392999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493308</string>
		<key>latitude</key>
		<real>62.200001</real>
		<key>longitude</key>
		<real>74.466667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510916</string>
		<key>latitude</key>
		<real>55.359999999999999</real>
		<key>longitude</key>
		<real>78.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488933</string>
		<key>latitude</key>
		<real>58.049999999999997</real>
		<key>longitude</key>
		<real>63.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522809</string>
		<key>latitude</key>
		<real>53.840000000000003</real>
		<key>longitude</key>
		<real>69.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510697</string>
		<key>latitude</key>
		<real>57.399999999999999</real>
		<key>longitude</key>
		<real>63.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6695754</string>
		<key>latitude</key>
		<real>62.265369</real>
		<key>longitude</key>
		<real>74.479056999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7287775</string>
		<key>latitude</key>
		<real>62.439650999999998</real>
		<key>longitude</key>
		<real>71.760292000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520859</string>
		<key>latitude</key>
		<real>53.738059999999997</real>
		<key>longitude</key>
		<real>69.711387999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501321</string>
		<key>latitude</key>
		<real>55.450000000000003</real>
		<key>longitude</key>
		<real>65.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521374</string>
		<key>latitude</key>
		<real>53.534720999999998</real>
		<key>longitude</key>
		<real>71.550003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494071</string>
		<key>latitude</key>
		<real>55.57</real>
		<key>longitude</key>
		<real>65.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503879</string>
		<key>latitude</key>
		<real>55.359999999999999</real>
		<key>longitude</key>
		<real>65.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489218</string>
		<key>latitude</key>
		<real>57.060000000000002</real>
		<key>longitude</key>
		<real>63.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505946</string>
		<key>latitude</key>
		<real>55.609999999999999</real>
		<key>longitude</key>
		<real>64.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490656</string>
		<key>latitude</key>
		<real>55.049999999999997</real>
		<key>longitude</key>
		<real>65.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490281</string>
		<key>latitude</key>
		<real>57.009999999999998</real>
		<key>longitude</key>
		<real>63.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486677</string>
		<key>latitude</key>
		<real>55.479999999999997</real>
		<key>longitude</key>
		<real>65.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500629</string>
		<key>latitude</key>
		<real>55.280000000000001</real>
		<key>longitude</key>
		<real>65.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501925</string>
		<key>latitude</key>
		<real>55.659999999999997</real>
		<key>longitude</key>
		<real>64.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497210</string>
		<key>latitude</key>
		<real>61.939999999999998</real>
		<key>longitude</key>
		<real>76.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508589</string>
		<key>latitude</key>
		<real>56.719999999999999</real>
		<key>longitude</key>
		<real>63.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494523</string>
		<key>latitude</key>
		<real>54.789999999999999</real>
		<key>longitude</key>
		<real>65.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501365</string>
		<key>latitude</key>
		<real>54.369999999999997</real>
		<key>longitude</key>
		<real>77.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1542143</string>
		<key>latitude</key>
		<real>55.859999999999999</real>
		<key>longitude</key>
		<real>64.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517243</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>69.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516634</string>
		<key>latitude</key>
		<real>53.539999999999999</real>
		<key>longitude</key>
		<real>75.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519385</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>67.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518019</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>66.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532249</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>68.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485721</string>
		<key>latitude</key>
		<real>55.369999999999997</real>
		<key>longitude</key>
		<real>64.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506499</string>
		<key>latitude</key>
		<real>54.909999999999997</real>
		<key>longitude</key>
		<real>65.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540356</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>77.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492517</string>
		<key>latitude</key>
		<real>56.090000000000003</real>
		<key>longitude</key>
		<real>63.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485312</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>78.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499436</string>
		<key>latitude</key>
		<real>54.439999999999998</real>
		<key>longitude</key>
		<real>78.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488708</string>
		<key>latitude</key>
		<real>55.310000000000002</real>
		<key>longitude</key>
		<real>79.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511094</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>77.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499192</string>
		<key>latitude</key>
		<real>55.490000000000002</real>
		<key>longitude</key>
		<real>64.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501312</string>
		<key>latitude</key>
		<real>55.5</real>
		<key>longitude</key>
		<real>64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523998</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>65.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493691</string>
		<key>latitude</key>
		<real>54.649999999999999</real>
		<key>longitude</key>
		<real>64.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498633</string>
		<key>latitude</key>
		<real>55.340000000000003</real>
		<key>longitude</key>
		<real>63.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501255</string>
		<key>latitude</key>
		<real>54.909999999999997</real>
		<key>longitude</key>
		<real>64.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518009</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>66.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502750</string>
		<key>latitude</key>
		<real>61.68</real>
		<key>longitude</key>
		<real>64.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498173</string>
		<key>latitude</key>
		<real>55.459999000000003</real>
		<key>longitude</key>
		<real>80.429717999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496476</string>
		<key>latitude</key>
		<real>62.140000000000001</real>
		<key>longitude</key>
		<real>65.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1533289</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>77.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485286</string>
		<key>latitude</key>
		<real>61.469999999999999</real>
		<key>longitude</key>
		<real>64.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484943</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>64.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496745</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>80</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504380</string>
		<key>latitude</key>
		<real>55.200000000000003</real>
		<key>longitude</key>
		<real>80.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495148</string>
		<key>latitude</key>
		<real>54.93</real>
		<key>longitude</key>
		<real>80.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491230</string>
		<key>latitude</key>
		<real>61.359999999999999</real>
		<key>longitude</key>
		<real>63.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504489</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>78.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507220</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>79.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505628</string>
		<key>latitude</key>
		<real>54.549999999999997</real>
		<key>longitude</key>
		<real>79.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517539</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>64.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501988</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>79.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489137</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>63.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494525</string>
		<key>latitude</key>
		<real>53.759999999999998</real>
		<key>longitude</key>
		<real>79.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503061</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>80.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503856</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>79.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525121</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>64.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495613</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>80.340000000000003</real>
	</dict>
</array>
</plist>
