<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2014833</string>
		<key>latitude</key>
		<real>64.283332999999999</real>
		<key>longitude</key>
		<real>100.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490516</string>
		<key>latitude</key>
		<real>66.916672000000005</real>
		<key>longitude</key>
		<real>88.349997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488903</string>
		<key>latitude</key>
		<real>65.816672999999994</real>
		<key>longitude</key>
		<real>87.983329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491600</string>
		<key>latitude</key>
		<real>68.093063000000001</real>
		<key>longitude</key>
		<real>87.739998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494463</string>
		<key>latitude</key>
		<real>67.449996999999996</real>
		<key>longitude</key>
		<real>86.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505991</string>
		<key>latitude</key>
		<real>67.466667000000001</real>
		<key>longitude</key>
		<real>86.583327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497337</string>
		<key>latitude</key>
		<real>69.353499999999997</real>
		<key>longitude</key>
		<real>88.202697999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490256</string>
		<key>latitude</key>
		<real>69.486503999999996</real>
		<key>longitude</key>
		<real>88.397201999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504139</string>
		<key>latitude</key>
		<real>69.378608999999997</real>
		<key>longitude</key>
		<real>87.743888999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539232</string>
		<key>latitude</key>
		<real>69.327217000000005</real>
		<key>longitude</key>
		<real>87.336669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500816</string>
		<key>latitude</key>
		<real>62.094439999999999</real>
		<key>longitude</key>
		<real>89.186394000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507116</string>
		<key>latitude</key>
		<real>69.405829999999995</real>
		<key>longitude</key>
		<real>86.177779999999998</real>
	</dict>
</array>
</plist>
