<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1507390</string>
		<key>latitude</key>
		<real>73.506943000000007</real>
		<key>longitude</key>
		<real>80.546386999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510695</string>
		<key>latitude</key>
		<real>70.690002000000007</real>
		<key>longitude</key>
		<real>83.620002999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022572</string>
		<key>latitude</key>
		<real>71.966667000000001</real>
		<key>longitude</key>
		<real>102.5</real>
	</dict>
</array>
</plist>
