<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2012561</string>
		<key>latitude</key>
		<real>57.912219999999998</real>
		<key>longitude</key>
		<real>102.765282</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013952</string>
		<key>latitude</key>
		<real>58.000560999999998</real>
		<key>longitude</key>
		<real>102.661942</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017378</string>
		<key>latitude</key>
		<real>57.263900999999997</real>
		<key>longitude</key>
		<real>103.75190000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019004</string>
		<key>latitude</key>
		<real>57.133400000000002</real>
		<key>longitude</key>
		<real>103.91120100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023731</string>
		<key>latitude</key>
		<real>56.977001000000001</real>
		<key>longitude</key>
		<real>103.62400100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022232</string>
		<key>latitude</key>
		<real>56.703201</real>
		<key>longitude</key>
		<real>104.249397</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055868</string>
		<key>latitude</key>
		<real>56.847099</real>
		<key>longitude</key>
		<real>105.254204</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012557</string>
		<key>latitude</key>
		<real>56.576801000000003</real>
		<key>longitude</key>
		<real>104.121696</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023117</string>
		<key>latitude</key>
		<real>56.801898999999999</real>
		<key>longitude</key>
		<real>105.580299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016733</string>
		<key>latitude</key>
		<real>56.491501</real>
		<key>longitude</key>
		<real>103.959999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013923</string>
		<key>latitude</key>
		<real>56.793799999999997</real>
		<key>longitude</key>
		<real>105.767197</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013406</string>
		<key>latitude</key>
		<real>56.408797999999997</real>
		<key>longitude</key>
		<real>103.110603</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020208</string>
		<key>latitude</key>
		<real>57.32056</real>
		<key>longitude</key>
		<real>107.088058</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012379</string>
		<key>latitude</key>
		<real>56.75</real>
		<key>longitude</key>
		<real>106.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8050048</string>
		<key>latitude</key>
		<real>56.359999999999999</real>
		<key>longitude</key>
		<real>101.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022083</string>
		<key>latitude</key>
		<real>57.785277999999998</real>
		<key>longitude</key>
		<real>108.11193799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013931</string>
		<key>latitude</key>
		<real>57.409999999999997</real>
		<key>longitude</key>
		<real>107.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017723</string>
		<key>latitude</key>
		<real>56.033329000000002</real>
		<key>longitude</key>
		<real>105.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2051523</string>
		<key>latitude</key>
		<real>56.1325</real>
		<key>longitude</key>
		<real>101.614166</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023468</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>106</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027911</string>
		<key>latitude</key>
		<real>57.850000000000001</real>
		<key>longitude</key>
		<real>108.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013399</string>
		<key>latitude</key>
		<real>56.119999999999997</real>
		<key>longitude</key>
		<real>101.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013727</string>
		<key>latitude</key>
		<real>60.340000000000003</real>
		<key>longitude</key>
		<real>102.27971599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023029</string>
		<key>latitude</key>
		<real>56.270000000000003</real>
		<key>longitude</key>
		<real>107.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503037</string>
		<key>latitude</key>
		<real>58.688060999999998</real>
		<key>longitude</key>
		<real>99.184441000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020584</string>
		<key>latitude</key>
		<real>56.170000000000002</real>
		<key>longitude</key>
		<real>107.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023261</string>
		<key>latitude</key>
		<real>55.679721999999998</real>
		<key>longitude</key>
		<real>101.730278</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017370</string>
		<key>latitude</key>
		<real>60</real>
		<key>longitude</key>
		<real>100</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485057</string>
		<key>latitude</key>
		<real>59.966670999999998</real>
		<key>longitude</key>
		<real>99.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017842</string>
		<key>latitude</key>
		<real>55.530000000000001</real>
		<key>longitude</key>
		<real>101.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507636</string>
		<key>latitude</key>
		<real>56.079999999999998</real>
		<key>longitude</key>
		<real>99.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500609</string>
		<key>latitude</key>
		<real>56.049999999999997</real>
		<key>longitude</key>
		<real>99.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012532</string>
		<key>latitude</key>
		<real>54.809719000000001</real>
		<key>longitude</key>
		<real>105.15778400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492110</string>
		<key>latitude</key>
		<real>56.369999999999997</real>
		<key>longitude</key>
		<real>98.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509844</string>
		<key>latitude</key>
		<real>58.380000000000003</real>
		<key>longitude</key>
		<real>97.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497142</string>
		<key>latitude</key>
		<real>56.960000000000001</real>
		<key>longitude</key>
		<real>97.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501036</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>98.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507638</string>
		<key>latitude</key>
		<real>57.450000000000003</real>
		<key>longitude</key>
		<real>97.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016910</string>
		<key>latitude</key>
		<real>55.649999999999999</real>
		<key>longitude</key>
		<real>109.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019199</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>109.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511709</string>
		<key>latitude</key>
		<real>55.560000000000002</real>
		<key>longitude</key>
		<real>98.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012956</string>
		<key>latitude</key>
		<real>61.276668999999998</real>
		<key>longitude</key>
		<real>108.010834</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511276</string>
		<key>latitude</key>
		<real>55.100000000000001</real>
		<key>longitude</key>
		<real>99.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013865</string>
		<key>latitude</key>
		<real>54.174197999999997</real>
		<key>longitude</key>
		<real>103.03040300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489870</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019963</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>101.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014917</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>101.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015082</string>
		<key>latitude</key>
		<real>54.479999999999997</real>
		<key>longitude</key>
		<real>101.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022129</string>
		<key>latitude</key>
		<real>55.939999999999998</real>
		<key>longitude</key>
		<real>110.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018854</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>101.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023896</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>101.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021093</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>101.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023085</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>101.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2052144</string>
		<key>latitude</key>
		<real>54.509999999999998</real>
		<key>longitude</key>
		<real>100.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018046</string>
		<key>latitude</key>
		<real>54.549999999999997</real>
		<key>longitude</key>
		<real>100.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014927</string>
		<key>latitude</key>
		<real>54.560000000000002</real>
		<key>longitude</key>
		<real>100.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2052150</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>101.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510041</string>
		<key>latitude</key>
		<real>55.960000000000001</real>
		<key>longitude</key>
		<real>97.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016742</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>100.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024809</string>
		<key>latitude</key>
		<real>54.280000000000001</real>
		<key>longitude</key>
		<real>101.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022650</string>
		<key>latitude</key>
		<real>54.228889000000002</real>
		<key>longitude</key>
		<real>101.866112</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027288</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>100.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020743</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>101.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485680</string>
		<key>latitude</key>
		<real>56.049999999999997</real>
		<key>longitude</key>
		<real>97.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022105</string>
		<key>latitude</key>
		<real>54.136940000000003</real>
		<key>longitude</key>
		<real>101.99472</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055166</string>
		<key>latitude</key>
		<real>54.108798999999998</real>
		<key>longitude</key>
		<real>102.16480300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027198</string>
		<key>latitude</key>
		<real>54.010280999999999</real>
		<key>longitude</key>
		<real>103.05444300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050832</string>
		<key>latitude</key>
		<real>54.104999999999997</real>
		<key>longitude</key>
		<real>102.043098</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016043</string>
		<key>latitude</key>
		<real>54.083328000000002</real>
		<key>longitude</key>
		<real>102.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488616</string>
		<key>latitude</key>
		<real>55.079999999999998</real>
		<key>longitude</key>
		<real>98.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018162</string>
		<key>latitude</key>
		<real>54.046391</real>
		<key>longitude</key>
		<real>102.056938</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499385</string>
		<key>latitude</key>
		<real>58.490000000000002</real>
		<key>longitude</key>
		<real>96.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013323</string>
		<key>latitude</key>
		<real>54.033329000000002</real>
		<key>longitude</key>
		<real>102.099998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497397</string>
		<key>latitude</key>
		<real>56.159999999999997</real>
		<key>longitude</key>
		<real>97.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497549</string>
		<key>latitude</key>
		<real>54.909999999999997</real>
		<key>longitude</key>
		<real>99.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017890</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>102.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491977</string>
		<key>latitude</key>
		<real>54.829999999999998</real>
		<key>longitude</key>
		<real>99.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019799</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>102.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023333</string>
		<key>latitude</key>
		<real>53.960000000000001</real>
		<key>longitude</key>
		<real>105.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014533</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>102.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012484</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>102.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903642</string>
		<key>latitude</key>
		<real>53.909999999999997</real>
		<key>longitude</key>
		<real>102.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019180</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>102.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024062</string>
		<key>latitude</key>
		<real>53.862301000000002</real>
		<key>longitude</key>
		<real>102.252403</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903663</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>102.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489571</string>
		<key>latitude</key>
		<real>56.149999999999999</real>
		<key>longitude</key>
		<real>96.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7903956</string>
		<key>latitude</key>
		<real>53.859999999999999</real>
		<key>longitude</key>
		<real>101.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6312678</string>
		<key>latitude</key>
		<real>56.119999999999997</real>
		<key>longitude</key>
		<real>96.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015469</string>
		<key>latitude</key>
		<real>53.700198999999998</real>
		<key>longitude</key>
		<real>102.71169999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903666</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>102.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018216</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>101.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014704</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>102.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903671</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>102.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014705</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>102.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497497</string>
		<key>latitude</key>
		<real>56.200000000000003</real>
		<key>longitude</key>
		<real>96.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7902696</string>
		<key>latitude</key>
		<real>54.490000000000002</real>
		<key>longitude</key>
		<real>99</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050891</string>
		<key>latitude</key>
		<real>53.609999999999999</real>
		<key>longitude</key>
		<real>102.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023472</string>
		<key>latitude</key>
		<real>55.866669000000002</real>
		<key>longitude</key>
		<real>111.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512218</string>
		<key>latitude</key>
		<real>56.670000000000002</real>
		<key>longitude</key>
		<real>96.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026955</string>
		<key>latitude</key>
		<real>53.588889999999999</real>
		<key>longitude</key>
		<real>102.54666899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6903687</string>
		<key>latitude</key>
		<real>53.569099000000001</real>
		<key>longitude</key>
		<real>102.58989699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012702</string>
		<key>latitude</key>
		<real>53.560000000000002</real>
		<key>longitude</key>
		<real>102.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050902</string>
		<key>latitude</key>
		<real>53.560000000000002</real>
		<key>longitude</key>
		<real>102.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019437</string>
		<key>latitude</key>
		<real>53.533329000000002</real>
		<key>longitude</key>
		<real>102.599998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025230</string>
		<key>latitude</key>
		<real>59.264439000000003</real>
		<key>longitude</key>
		<real>112.428612</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018813</string>
		<key>latitude</key>
		<real>56.157218999999998</real>
		<key>longitude</key>
		<real>111.70555899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018697</string>
		<key>latitude</key>
		<real>55.579999999999998</real>
		<key>longitude</key>
		<real>111.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485490</string>
		<key>latitude</key>
		<real>56.710000000000001</real>
		<key>longitude</key>
		<real>95.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505933</string>
		<key>latitude</key>
		<real>56.240000000000002</real>
		<key>longitude</key>
		<real>96.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017336</string>
		<key>latitude</key>
		<real>55.450001</real>
		<key>longitude</key>
		<real>111.26667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504682</string>
		<key>latitude</key>
		<real>56.200000000000003</real>
		<key>longitude</key>
		<real>95.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024018</string>
		<key>latitude</key>
		<real>55.283329000000002</real>
		<key>longitude</key>
		<real>111.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012425</string>
		<key>latitude</key>
		<real>55.049999</real>
		<key>longitude</key>
		<real>111.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025848</string>
		<key>latitude</key>
		<real>55.133330999999998</real>
		<key>longitude</key>
		<real>111.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014243</string>
		<key>latitude</key>
		<real>54.979999999999997</real>
		<key>longitude</key>
		<real>111.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014365</string>
		<key>latitude</key>
		<real>54.780000000000001</real>
		<key>longitude</key>
		<real>110.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013198</string>
		<key>latitude</key>
		<real>54.850000000000001</real>
		<key>longitude</key>
		<real>111.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027663</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>111</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024176</string>
		<key>latitude</key>
		<real>54.880000000000003</real>
		<key>longitude</key>
		<real>111.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024212</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>110.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027317</string>
		<key>latitude</key>
		<real>54.719999999999999</real>
		<key>longitude</key>
		<real>110.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019895</string>
		<key>latitude</key>
		<real>54.420000000000002</real>
		<key>longitude</key>
		<real>110.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014547</string>
		<key>latitude</key>
		<real>54.380000000000003</real>
		<key>longitude</key>
		<real>110.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014290</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>110.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017160</string>
		<key>latitude</key>
		<real>54.600000000000001</real>
		<key>longitude</key>
		<real>110.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017282</string>
		<key>latitude</key>
		<real>54.369999999999997</real>
		<key>longitude</key>
		<real>110.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021188</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>110.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024167</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>110.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014569</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>110.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016711</string>
		<key>latitude</key>
		<real>54.530000000000001</real>
		<key>longitude</key>
		<real>110.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022334</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>110.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024200</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>110.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017187</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>110.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017469</string>
		<key>latitude</key>
		<real>54.380000000000003</real>
		<key>longitude</key>
		<real>110.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024400</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>110.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013101</string>
		<key>latitude</key>
		<real>53.93</real>
		<key>longitude</key>
		<real>110.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014230</string>
		<key>latitude</key>
		<real>53.93</real>
		<key>longitude</key>
		<real>110.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026013</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>110.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014288</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>109.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510689</string>
		<key>latitude</key>
		<real>61.669998</real>
		<key>longitude</key>
		<real>96.370002999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014261</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>109.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014259</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>109.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026496</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>109.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015950</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>109.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012337</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>109.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015953</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>109.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014285</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>109.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013681</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>109.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027109</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>109.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019308</string>
		<key>latitude</key>
		<real>53.649999999999999</real>
		<key>longitude</key>
		<real>109.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012997</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>109.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015193</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>109.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019838</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>109.65000000000001</real>
	</dict>
</array>
</plist>
