<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1529004</string>
		<key>latitude</key>
		<real>40.5</real>
		<key>longitude</key>
		<real>95.800003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529492</string>
		<key>latitude</key>
		<real>40.400002000000001</real>
		<key>longitude</key>
		<real>95.766670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538518</string>
		<key>latitude</key>
		<real>42.784720999999998</real>
		<key>longitude</key>
		<real>93.749442999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529061</string>
		<key>latitude</key>
		<real>40.299999</real>
		<key>longitude</key>
		<real>97.166672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528998</string>
		<key>latitude</key>
		<real>40.280000000000001</real>
		<key>longitude</key>
		<real>97.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529484</string>
		<key>latitude</key>
		<real>42.799999</real>
		<key>longitude</key>
		<real>93.449996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529531</string>
		<key>latitude</key>
		<real>40.166671999999998</real>
		<key>longitude</key>
		<real>94.683327000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281544</string>
		<key>latitude</key>
		<real>39.866669000000002</real>
		<key>longitude</key>
		<real>96.766670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280757</string>
		<key>latitude</key>
		<real>39.829999999999998</real>
		<key>longitude</key>
		<real>97.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279548</string>
		<key>latitude</key>
		<real>39.799999999999997</real>
		<key>longitude</key>
		<real>97.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516274</string>
		<key>latitude</key>
		<real>44.616669000000002</real>
		<key>longitude</key>
		<real>94.916672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280957</string>
		<key>latitude</key>
		<real>39.82</real>
		<key>longitude</key>
		<real>98.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529109</string>
		<key>latitude</key>
		<real>42.033329000000002</real>
		<key>longitude</key>
		<real>92.233329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279945</string>
		<key>latitude</key>
		<real>39.740000000000002</real>
		<key>longitude</key>
		<real>98.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280943</string>
		<key>latitude</key>
		<real>39.979999999999997</real>
		<key>longitude</key>
		<real>98.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279716</string>
		<key>latitude</key>
		<real>39.600000000000001</real>
		<key>longitude</key>
		<real>98.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280706</string>
		<key>latitude</key>
		<real>39.780000000000001</real>
		<key>longitude</key>
		<real>98.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279423</string>
		<key>latitude</key>
		<real>39.619999999999997</real>
		<key>longitude</key>
		<real>98.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281315</string>
		<key>latitude</key>
		<real>39.5</real>
		<key>longitude</key>
		<real>98.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515378</string>
		<key>latitude</key>
		<real>45.130000000000003</real>
		<key>longitude</key>
		<real>97.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516187</string>
		<key>latitude</key>
		<real>44.780000000000001</real>
		<key>longitude</key>
		<real>98.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515247</string>
		<key>latitude</key>
		<real>45.350000000000001</real>
		<key>longitude</key>
		<real>96.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516023</string>
		<key>latitude</key>
		<real>44.530000000000001</real>
		<key>longitude</key>
		<real>99.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515917</string>
		<key>latitude</key>
		<real>45.5</real>
		<key>longitude</key>
		<real>96</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515106</string>
		<key>latitude</key>
		<real>45.57</real>
		<key>longitude</key>
		<real>95.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515229</string>
		<key>latitude</key>
		<real>45.329999999999998</real>
		<key>longitude</key>
		<real>97.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516306</string>
		<key>latitude</key>
		<real>45.009999999999998</real>
		<key>longitude</key>
		<real>98.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516296</string>
		<key>latitude</key>
		<real>45.556548999999997</real>
		<key>longitude</key>
		<real>94.364486999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037927</string>
		<key>latitude</key>
		<real>41.965279000000002</real>
		<key>longitude</key>
		<real>101.063889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515580</string>
		<key>latitude</key>
		<real>45.710000000000001</real>
		<key>longitude</key>
		<real>97.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028313</string>
		<key>latitude</key>
		<real>43.229999999999997</real>
		<key>longitude</key>
		<real>101.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515187</string>
		<key>latitude</key>
		<real>45.829762000000002</real>
		<key>longitude</key>
		<real>94.815437000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515878</string>
		<key>latitude</key>
		<real>45.93</real>
		<key>longitude</key>
		<real>96.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1514994</string>
		<key>latitude</key>
		<real>45.983330000000002</real>
		<key>longitude</key>
		<real>94.699996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029596</string>
		<key>latitude</key>
		<real>44.740000000000002</real>
		<key>longitude</key>
		<real>100.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281556</string>
		<key>latitude</key>
		<real>38.033329000000002</real>
		<key>longitude</key>
		<real>93.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515331</string>
		<key>latitude</key>
		<real>46.25</real>
		<key>longitude</key>
		<real>95.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516290</string>
		<key>latitude</key>
		<real>45.5</real>
		<key>longitude</key>
		<real>99.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516272</string>
		<key>latitude</key>
		<real>45.560000000000002</real>
		<key>longitude</key>
		<real>99.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030851</string>
		<key>latitude</key>
		<real>44.549999999999997</real>
		<key>longitude</key>
		<real>100.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516393</string>
		<key>latitude</key>
		<real>46.369999999999997</real>
		<key>longitude</key>
		<real>96.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529595</string>
		<key>latitude</key>
		<real>44.766669999999998</real>
		<key>longitude</key>
		<real>91.233329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515213</string>
		<key>latitude</key>
		<real>46.350000000000001</real>
		<key>longitude</key>
		<real>97.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515979</string>
		<key>latitude</key>
		<real>46.306862000000002</real>
		<key>longitude</key>
		<real>93.904090999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1785036</string>
		<key>latitude</key>
		<real>38.93</real>
		<key>longitude</key>
		<real>100.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516147</string>
		<key>latitude</key>
		<real>46.170000000000002</real>
		<key>longitude</key>
		<real>98.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516205</string>
		<key>latitude</key>
		<real>45.799999</real>
		<key>longitude</key>
		<real>92.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516099</string>
		<key>latitude</key>
		<real>46.450001</real>
		<key>longitude</key>
		<real>94.116669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030465</string>
		<key>latitude</key>
		<real>43.173611000000001</real>
		<key>longitude</key>
		<real>102.13194300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281038</string>
		<key>latitude</key>
		<real>37.351551000000001</real>
		<key>longitude</key>
		<real>96.749741</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516082</string>
		<key>latitude</key>
		<real>46.409999999999997</real>
		<key>longitude</key>
		<real>98.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030512</string>
		<key>latitude</key>
		<real>45.200000000000003</real>
		<key>longitude</key>
		<real>100.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515131</string>
		<key>latitude</key>
		<real>46.710000000000001</real>
		<key>longitude</key>
		<real>96.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279690</string>
		<key>latitude</key>
		<real>37.283329000000002</real>
		<key>longitude</key>
		<real>95.516670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032373</string>
		<key>latitude</key>
		<real>45.409999999999997</real>
		<key>longitude</key>
		<real>100.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8073281</string>
		<key>latitude</key>
		<real>37.368858000000003</real>
		<key>longitude</key>
		<real>97.356216000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8073614</string>
		<key>latitude</key>
		<real>37.321289</real>
		<key>longitude</key>
		<real>97.134567000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516037</string>
		<key>latitude</key>
		<real>46.210000000000001</real>
		<key>longitude</key>
		<real>99.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1514961</string>
		<key>latitude</key>
		<real>46.049999</real>
		<key>longitude</key>
		<real>92.016670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516329</string>
		<key>latitude</key>
		<real>46.899999999999999</real>
		<key>longitude</key>
		<real>97.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515097</string>
		<key>latitude</key>
		<real>46.599997999999999</real>
		<key>longitude</key>
		<real>93.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030526</string>
		<key>latitude</key>
		<real>45.170000000000002</real>
		<key>longitude</key>
		<real>101.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516305</string>
		<key>latitude</key>
		<real>46.810000000000002</real>
		<key>longitude</key>
		<real>98.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029463</string>
		<key>latitude</key>
		<real>43.616669000000002</real>
		<key>longitude</key>
		<real>102.533333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1811746</string>
		<key>latitude</key>
		<real>39.200001</real>
		<key>longitude</key>
		<real>101.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516173</string>
		<key>latitude</key>
		<real>46.083328000000002</real>
		<key>longitude</key>
		<real>91.566672999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515018</string>
		<key>latitude</key>
		<real>46.683331000000003</real>
		<key>longitude</key>
		<real>92.783332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030474</string>
		<key>latitude</key>
		<real>44.670000000000002</real>
		<key>longitude</key>
		<real>102.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516186</string>
		<key>latitude</key>
		<real>46.936779000000001</real>
		<key>longitude</key>
		<real>93.616730000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279694</string>
		<key>latitude</key>
		<real>37.299999999999997</real>
		<key>longitude</key>
		<real>99</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028357</string>
		<key>latitude</key>
		<real>46.07</real>
		<key>longitude</key>
		<real>100.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030696</string>
		<key>latitude</key>
		<real>46.289999999999999</real>
		<key>longitude</key>
		<real>100.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030473</string>
		<key>latitude</key>
		<real>44.666671999999998</real>
		<key>longitude</key>
		<real>102.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281659</string>
		<key>latitude</key>
		<real>39.066668999999997</real>
		<key>longitude</key>
		<real>90.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032533</string>
		<key>latitude</key>
		<real>46.189999999999998</real>
		<key>longitude</key>
		<real>100.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516036</string>
		<key>latitude</key>
		<real>46.939999999999998</real>
		<key>longitude</key>
		<real>99.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7351285</string>
		<key>latitude</key>
		<real>37.969999999999999</real>
		<key>longitude</key>
		<real>100.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032523</string>
		<key>latitude</key>
		<real>46.700000000000003</real>
		<key>longitude</key>
		<real>100.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032532</string>
		<key>latitude</key>
		<real>46.719999999999999</real>
		<key>longitude</key>
		<real>100.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028720</string>
		<key>latitude</key>
		<real>45.960000000000001</real>
		<key>longitude</key>
		<real>101.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031402</string>
		<key>latitude</key>
		<real>46.420000000000002</real>
		<key>longitude</key>
		<real>100.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515101</string>
		<key>latitude</key>
		<real>46.916671999999998</real>
		<key>longitude</key>
		<real>92.116669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1796356</string>
		<key>latitude</key>
		<real>37.329999999999998</real>
		<key>longitude</key>
		<real>100.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1784148</string>
		<key>latitude</key>
		<real>38.883330999999998</real>
		<key>longitude</key>
		<real>102.400002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032857</string>
		<key>latitude</key>
		<real>45.462780000000002</real>
		<key>longitude</key>
		<real>102.420563</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1809049</string>
		<key>latitude</key>
		<real>37.219999999999999</real>
		<key>longitude</key>
		<real>100.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1805733</string>
		<key>latitude</key>
		<real>38.495280999999999</real>
		<key>longitude</key>
		<real>102.173889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030040</string>
		<key>latitude</key>
		<real>45.950000000000003</real>
		<key>longitude</key>
		<real>102.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515579</string>
		<key>latitude</key>
		<real>46.93</real>
		<key>longitude</key>
		<real>91.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810676</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>102</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7351996</string>
		<key>latitude</key>
		<real>37.079999999999998</real>
		<key>longitude</key>
		<real>100.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029546</string>
		<key>latitude</key>
		<real>46</real>
		<key>longitude</key>
		<real>102.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030369</string>
		<key>latitude</key>
		<real>46.299999999999997</real>
		<key>longitude</key>
		<real>102.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029635</string>
		<key>latitude</key>
		<real>46.469999999999999</real>
		<key>longitude</key>
		<real>102.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1803936</string>
		<key>latitude</key>
		<real>37.928058999999998</real>
		<key>longitude</key>
		<real>102.64138800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032457</string>
		<key>latitude</key>
		<real>46.520000000000003</real>
		<key>longitude</key>
		<real>102.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029542</string>
		<key>latitude</key>
		<real>46.82</real>
		<key>longitude</key>
		<real>102.25</real>
	</dict>
</array>
</plist>
