<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2029669</string>
		<key>latitude</key>
		<real>43</real>
		<key>longitude</key>
		<real>104</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029499</string>
		<key>latitude</key>
		<real>42.841991</real>
		<key>longitude</key>
		<real>105.137962</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028577</string>
		<key>latitude</key>
		<real>43.306567999999999</real>
		<key>longitude</key>
		<real>104.074173</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037922</string>
		<key>latitude</key>
		<real>40.799999</real>
		<key>longitude</key>
		<real>105.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031998</string>
		<key>latitude</key>
		<real>43.467869</real>
		<key>longitude</key>
		<real>103.51284</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032007</string>
		<key>latitude</key>
		<real>43.570830999999998</real>
		<key>longitude</key>
		<real>104.425003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030465</string>
		<key>latitude</key>
		<real>43.173611000000001</real>
		<key>longitude</key>
		<real>102.13194300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029735</string>
		<key>latitude</key>
		<real>43.783360000000002</real>
		<key>longitude</key>
		<real>104.480667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031403</string>
		<key>latitude</key>
		<real>42.972382000000003</real>
		<key>longitude</key>
		<real>106.11866000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029463</string>
		<key>latitude</key>
		<real>43.616669000000002</real>
		<key>longitude</key>
		<real>102.533333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032631</string>
		<key>latitude</key>
		<real>43.655949</real>
		<key>longitude</key>
		<real>105.755768</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032202</string>
		<key>latitude</key>
		<real>44.097450000000002</real>
		<key>longitude</key>
		<real>103.542877</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037927</string>
		<key>latitude</key>
		<real>41.965279000000002</real>
		<key>longitude</key>
		<real>101.063889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050964</string>
		<key>latitude</key>
		<real>41.091388999999999</real>
		<key>longitude</key>
		<real>107.066391</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028313</string>
		<key>latitude</key>
		<real>43.229999999999997</real>
		<key>longitude</key>
		<real>101.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034062</string>
		<key>latitude</key>
		<real>40.884720000000002</real>
		<key>longitude</key>
		<real>107.139999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031832</string>
		<key>latitude</key>
		<real>44.424461000000001</real>
		<key>longitude</key>
		<real>105.320778</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030251</string>
		<key>latitude</key>
		<real>43.200000000000003</real>
		<key>longitude</key>
		<real>107.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029321</string>
		<key>latitude</key>
		<real>44.650002000000001</real>
		<key>longitude</key>
		<real>104.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038411</string>
		<key>latitude</key>
		<real>40.299999</real>
		<key>longitude</key>
		<real>106.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030473</string>
		<key>latitude</key>
		<real>44.666671999999998</real>
		<key>longitude</key>
		<real>102.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028252</string>
		<key>latitude</key>
		<real>44.079999999999998</real>
		<key>longitude</key>
		<real>106.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030474</string>
		<key>latitude</key>
		<real>44.670000000000002</real>
		<key>longitude</key>
		<real>102.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1791249</string>
		<key>latitude</key>
		<real>39.664718999999998</real>
		<key>longitude</key>
		<real>106.812218</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1798402</string>
		<key>latitude</key>
		<real>39.619999999999997</real>
		<key>longitude</key>
		<real>106.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1791325</string>
		<key>latitude</key>
		<real>39.499439000000002</real>
		<key>longitude</key>
		<real>106.71167</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8054575</string>
		<key>latitude</key>
		<real>39.500221000000003</real>
		<key>longitude</key>
		<real>106.72020000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028411</string>
		<key>latitude</key>
		<real>45.049999</real>
		<key>longitude</key>
		<real>105.56667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1794971</string>
		<key>latitude</key>
		<real>39.234169000000001</real>
		<key>longitude</key>
		<real>106.343887</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030890</string>
		<key>latitude</key>
		<real>45.243228999999999</real>
		<key>longitude</key>
		<real>104.80510700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1811746</string>
		<key>latitude</key>
		<real>39.200001</real>
		<key>longitude</key>
		<real>101.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1784148</string>
		<key>latitude</key>
		<real>38.883330999999998</real>
		<key>longitude</key>
		<real>102.400002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037045</string>
		<key>latitude</key>
		<real>41.560000000000002</real>
		<key>longitude</key>
		<real>108.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1816821</string>
		<key>latitude</key>
		<real>38.838611999999998</real>
		<key>longitude</key>
		<real>105.66861</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030851</string>
		<key>latitude</key>
		<real>44.549999999999997</real>
		<key>longitude</key>
		<real>100.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1804271</string>
		<key>latitude</key>
		<real>39.32</real>
		<key>longitude</key>
		<real>106.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029636</string>
		<key>latitude</key>
		<real>45.450001</real>
		<key>longitude</key>
		<real>103.900002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1813344</string>
		<key>latitude</key>
		<real>39.041938999999999</real>
		<key>longitude</key>
		<real>106.39582799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1794806</string>
		<key>latitude</key>
		<real>39.229999999999997</real>
		<key>longitude</key>
		<real>106.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030531</string>
		<key>latitude</key>
		<real>45.533329000000002</real>
		<key>longitude</key>
		<real>102.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032857</string>
		<key>latitude</key>
		<real>45.462780000000002</real>
		<key>longitude</key>
		<real>102.420563</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029527</string>
		<key>latitude</key>
		<real>45.299999999999997</real>
		<key>longitude</key>
		<real>106.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030526</string>
		<key>latitude</key>
		<real>45.170000000000002</real>
		<key>longitude</key>
		<real>101.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033618</string>
		<key>latitude</key>
		<real>40.710000000000001</real>
		<key>longitude</key>
		<real>108.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028722</string>
		<key>latitude</key>
		<real>45.509999999999998</real>
		<key>longitude</key>
		<real>105.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1805733</string>
		<key>latitude</key>
		<real>38.495280999999999</real>
		<key>longitude</key>
		<real>102.173889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1801039</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>106.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029596</string>
		<key>latitude</key>
		<real>44.740000000000002</real>
		<key>longitude</key>
		<real>100.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2050968</string>
		<key>latitude</key>
		<real>40.670000000000002</real>
		<key>longitude</key>
		<real>108.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029241</string>
		<key>latitude</key>
		<real>45.849997999999999</real>
		<key>longitude</key>
		<real>103.400002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028905</string>
		<key>latitude</key>
		<real>44.399999999999999</real>
		<key>longitude</key>
		<real>108.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1786657</string>
		<key>latitude</key>
		<real>38.468060000000001</real>
		<key>longitude</key>
		<real>106.27306400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031740</string>
		<key>latitude</key>
		<real>45.5</real>
		<key>longitude</key>
		<real>106.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031368</string>
		<key>latitude</key>
		<real>43.149999999999999</real>
		<key>longitude</key>
		<real>109.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030512</string>
		<key>latitude</key>
		<real>45.200000000000003</real>
		<key>longitude</key>
		<real>100.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029969</string>
		<key>latitude</key>
		<real>46</real>
		<key>longitude</key>
		<real>105</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029495</string>
		<key>latitude</key>
		<real>46.007930999999999</real>
		<key>longitude</key>
		<real>104.942093</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1785036</string>
		<key>latitude</key>
		<real>38.93</real>
		<key>longitude</key>
		<real>100.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030035</string>
		<key>latitude</key>
		<real>46.091208999999999</real>
		<key>longitude</key>
		<real>103.839508</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030065</string>
		<key>latitude</key>
		<real>45.759999999999998</real>
		<key>longitude</key>
		<real>106.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1803416</string>
		<key>latitude</key>
		<real>38.316668999999997</real>
		<key>longitude</key>
		<real>106.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029546</string>
		<key>latitude</key>
		<real>46</real>
		<key>longitude</key>
		<real>102.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029118</string>
		<key>latitude</key>
		<real>45.530000000000001</real>
		<key>longitude</key>
		<real>107.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1789278</string>
		<key>latitude</key>
		<real>39.840000000000003</real>
		<key>longitude</key>
		<real>108.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030040</string>
		<key>latitude</key>
		<real>45.950000000000003</real>
		<key>longitude</key>
		<real>102.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1792283</string>
		<key>latitude</key>
		<real>39.090000000000003</real>
		<key>longitude</key>
		<real>107.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1803936</string>
		<key>latitude</key>
		<real>37.928058999999998</real>
		<key>longitude</key>
		<real>102.64138800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032373</string>
		<key>latitude</key>
		<real>45.409999999999997</real>
		<key>longitude</key>
		<real>100.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516023</string>
		<key>latitude</key>
		<real>44.530000000000001</real>
		<key>longitude</key>
		<real>99.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810676</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>102</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1790842</string>
		<key>latitude</key>
		<real>37.99194</real>
		<key>longitude</key>
		<real>106.202499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032814</string>
		<key>latitude</key>
		<real>46.263888999999999</real>
		<key>longitude</key>
		<real>102.775002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028720</string>
		<key>latitude</key>
		<real>45.960000000000001</real>
		<key>longitude</key>
		<real>101.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280943</string>
		<key>latitude</key>
		<real>39.979999999999997</real>
		<key>longitude</key>
		<real>98.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030470</string>
		<key>latitude</key>
		<real>43.609999999999999</real>
		<key>longitude</key>
		<real>109.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030369</string>
		<key>latitude</key>
		<real>46.299999999999997</real>
		<key>longitude</key>
		<real>102.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8054542</string>
		<key>latitude</key>
		<real>41.770000000000003</real>
		<key>longitude</key>
		<real>109.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032937</string>
		<key>latitude</key>
		<real>46.130000000000003</real>
		<key>longitude</key>
		<real>106.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032362</string>
		<key>latitude</key>
		<real>45.229999999999997</real>
		<key>longitude</key>
		<real>108.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032191</string>
		<key>latitude</key>
		<real>46.496738000000001</real>
		<key>longitude</key>
		<real>104.117767</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280706</string>
		<key>latitude</key>
		<real>39.780000000000001</real>
		<key>longitude</key>
		<real>98.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1799155</string>
		<key>latitude</key>
		<real>38.369999999999997</real>
		<key>longitude</key>
		<real>107.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029700</string>
		<key>latitude</key>
		<real>44.68</real>
		<key>longitude</key>
		<real>109.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028972</string>
		<key>latitude</key>
		<real>46.390000000000001</real>
		<key>longitude</key>
		<real>105.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038432</string>
		<key>latitude</key>
		<real>40.649999999999999</real>
		<key>longitude</key>
		<real>109.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028653</string>
		<key>latitude</key>
		<real>46.18</real>
		<key>longitude</key>
		<real>106.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030429</string>
		<key>latitude</key>
		<real>46.599997999999999</real>
		<key>longitude</key>
		<real>104.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032457</string>
		<key>latitude</key>
		<real>46.520000000000003</real>
		<key>longitude</key>
		<real>102.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029635</string>
		<key>latitude</key>
		<real>46.469999999999999</real>
		<key>longitude</key>
		<real>102.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7351285</string>
		<key>latitude</key>
		<real>37.969999999999999</real>
		<key>longitude</key>
		<real>100.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028357</string>
		<key>latitude</key>
		<real>46.07</real>
		<key>longitude</key>
		<real>100.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029494</string>
		<key>latitude</key>
		<real>46.650002000000001</real>
		<key>longitude</key>
		<real>103.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2051340</string>
		<key>latitude</key>
		<real>40.539999999999999</real>
		<key>longitude</key>
		<real>109.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279945</string>
		<key>latitude</key>
		<real>39.740000000000002</real>
		<key>longitude</key>
		<real>98.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279423</string>
		<key>latitude</key>
		<real>39.619999999999997</real>
		<key>longitude</key>
		<real>98.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032860</string>
		<key>latitude</key>
		<real>45.770000000000003</real>
		<key>longitude</key>
		<real>107.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037643</string>
		<key>latitude</key>
		<real>40.57</real>
		<key>longitude</key>
		<real>110.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281315</string>
		<key>latitude</key>
		<real>39.5</real>
		<key>longitude</key>
		<real>98.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516306</string>
		<key>latitude</key>
		<real>45.009999999999998</real>
		<key>longitude</key>
		<real>98.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029961</string>
		<key>latitude</key>
		<real>46.75</real>
		<key>longitude</key>
		<real>103.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031088</string>
		<key>latitude</key>
		<real>46.049999999999997</real>
		<key>longitude</key>
		<real>107.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516290</string>
		<key>latitude</key>
		<real>45.5</real>
		<key>longitude</key>
		<real>99.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516187</string>
		<key>latitude</key>
		<real>44.780000000000001</real>
		<key>longitude</key>
		<real>98.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032533</string>
		<key>latitude</key>
		<real>46.189999999999998</real>
		<key>longitude</key>
		<real>100.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038552</string>
		<key>latitude</key>
		<real>41.689999999999998</real>
		<key>longitude</key>
		<real>110.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034758</string>
		<key>latitude</key>
		<real>40.390000000000001</real>
		<key>longitude</key>
		<real>110.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280957</string>
		<key>latitude</key>
		<real>39.82</real>
		<key>longitude</key>
		<real>98.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516272</string>
		<key>latitude</key>
		<real>45.560000000000002</real>
		<key>longitude</key>
		<real>99.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1807993</string>
		<key>latitude</key>
		<real>37.399169999999998</real>
		<key>longitude</key>
		<real>106.06028000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279716</string>
		<key>latitude</key>
		<real>39.600000000000001</real>
		<key>longitude</key>
		<real>98.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034918</string>
		<key>latitude</key>
		<real>40.710000000000001</real>
		<key>longitude</key>
		<real>110.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031402</string>
		<key>latitude</key>
		<real>46.420000000000002</real>
		<key>longitude</key>
		<real>100.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030428</string>
		<key>latitude</key>
		<real>46.896568000000002</real>
		<key>longitude</key>
		<real>102.78259300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032480</string>
		<key>latitude</key>
		<real>46.916671999999998</real>
		<key>longitude</key>
		<real>105.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029542</string>
		<key>latitude</key>
		<real>46.82</real>
		<key>longitude</key>
		<real>102.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1818130</string>
		<key>latitude</key>
		<real>39.579999999999998</real>
		<key>longitude</key>
		<real>109.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8052068</string>
		<key>latitude</key>
		<real>39.579999999999998</real>
		<key>longitude</key>
		<real>109.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030696</string>
		<key>latitude</key>
		<real>46.289999999999999</real>
		<key>longitude</key>
		<real>100.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2029784</string>
		<key>latitude</key>
		<real>43.579999999999998</real>
		<key>longitude</key>
		<real>110.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1812256</string>
		<key>latitude</key>
		<real>39.82</real>
		<key>longitude</key>
		<real>109.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8052067</string>
		<key>latitude</key>
		<real>38.600000000000001</real>
		<key>longitude</key>
		<real>108.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8054116</string>
		<key>latitude</key>
		<real>39.829999999999998</real>
		<key>longitude</key>
		<real>110</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031798</string>
		<key>latitude</key>
		<real>44.5</real>
		<key>longitude</key>
		<real>110</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035196</string>
		<key>latitude</key>
		<real>40.539999999999999</real>
		<key>longitude</key>
		<real>110.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279548</string>
		<key>latitude</key>
		<real>39.799999999999997</real>
		<key>longitude</key>
		<real>97.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032593</string>
		<key>latitude</key>
		<real>46.869999999999997</real>
		<key>longitude</key>
		<real>106.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2030996</string>
		<key>latitude</key>
		<real>46.420000000000002</real>
		<key>longitude</key>
		<real>107.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280757</string>
		<key>latitude</key>
		<real>39.829999999999998</real>
		<key>longitude</key>
		<real>97.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516037</string>
		<key>latitude</key>
		<real>46.210000000000001</real>
		<key>longitude</key>
		<real>99.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032081</string>
		<key>latitude</key>
		<real>44.880000000000003</real>
		<key>longitude</key>
		<real>110.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6997302</string>
		<key>latitude</key>
		<real>46.090000000000003</real>
		<key>longitude</key>
		<real>108.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031601</string>
		<key>latitude</key>
		<real>46.799999999999997</real>
		<key>longitude</key>
		<real>107.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1792895</string>
		<key>latitude</key>
		<real>37.149999999999999</real>
		<key>longitude</key>
		<real>106.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032051</string>
		<key>latitude</key>
		<real>46.130000000000003</real>
		<key>longitude</key>
		<real>108.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028581</string>
		<key>latitude</key>
		<real>45.920000000000002</real>
		<key>longitude</key>
		<real>109.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032050</string>
		<key>latitude</key>
		<real>46.359999999999999</real>
		<key>longitude</key>
		<real>108.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028790</string>
		<key>latitude</key>
		<real>45.799999999999997</real>
		<key>longitude</key>
		<real>109.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032523</string>
		<key>latitude</key>
		<real>46.700000000000003</real>
		<key>longitude</key>
		<real>100.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032532</string>
		<key>latitude</key>
		<real>46.719999999999999</real>
		<key>longitude</key>
		<real>100.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515229</string>
		<key>latitude</key>
		<real>45.329999999999998</real>
		<key>longitude</key>
		<real>97.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515378</string>
		<key>latitude</key>
		<real>45.130000000000003</real>
		<key>longitude</key>
		<real>97.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1809049</string>
		<key>latitude</key>
		<real>37.219999999999999</real>
		<key>longitude</key>
		<real>100.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055112</string>
		<key>latitude</key>
		<real>46.5</real>
		<key>longitude</key>
		<real>108.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1796356</string>
		<key>latitude</key>
		<real>37.329999999999998</real>
		<key>longitude</key>
		<real>100.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7351996</string>
		<key>latitude</key>
		<real>37.079999999999998</real>
		<key>longitude</key>
		<real>100.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6997301</string>
		<key>latitude</key>
		<real>46.619999999999997</real>
		<key>longitude</key>
		<real>108.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516147</string>
		<key>latitude</key>
		<real>46.170000000000002</real>
		<key>longitude</key>
		<real>98.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1785777</string>
		<key>latitude</key>
		<real>38.289999999999999</real>
		<key>longitude</key>
		<real>109.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032070</string>
		<key>latitude</key>
		<real>45.530000000000001</real>
		<key>longitude</key>
		<real>110.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516082</string>
		<key>latitude</key>
		<real>46.409999999999997</real>
		<key>longitude</key>
		<real>98.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516036</string>
		<key>latitude</key>
		<real>46.939999999999998</real>
		<key>longitude</key>
		<real>99.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2031966</string>
		<key>latitude</key>
		<real>46.619999999999997</real>
		<key>longitude</key>
		<real>109.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279694</string>
		<key>latitude</key>
		<real>37.299999999999997</real>
		<key>longitude</key>
		<real>99</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2032598</string>
		<key>latitude</key>
		<real>46.25</real>
		<key>longitude</key>
		<real>110.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028445</string>
		<key>latitude</key>
		<real>46.899999999999999</real>
		<key>longitude</key>
		<real>109.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516305</string>
		<key>latitude</key>
		<real>46.810000000000002</real>
		<key>longitude</key>
		<real>98.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515213</string>
		<key>latitude</key>
		<real>46.350000000000001</real>
		<key>longitude</key>
		<real>97.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8073281</string>
		<key>latitude</key>
		<real>37.368858000000003</real>
		<key>longitude</key>
		<real>97.356216000000003</real>
	</dict>
</array>
</plist>
