<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1529512</string>
		<key>latitude</key>
		<real>42.960000000000001</real>
		<key>longitude</key>
		<real>87.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529031</string>
		<key>latitude</key>
		<real>42.060000000000002</real>
		<key>longitude</key>
		<real>86.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529114</string>
		<key>latitude</key>
		<real>42.933331000000003</real>
		<key>longitude</key>
		<real>89.166672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529376</string>
		<key>latitude</key>
		<real>41.759999999999998</real>
		<key>longitude</key>
		<real>86.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529001</string>
		<key>latitude</key>
		<real>41.330559000000001</real>
		<key>longitude</key>
		<real>86.257782000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529617</string>
		<key>latitude</key>
		<real>43.5</real>
		<key>longitude</key>
		<real>87.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529102</string>
		<key>latitude</key>
		<real>43.799999999999997</real>
		<key>longitude</key>
		<real>87.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532362</string>
		<key>latitude</key>
		<real>43.850000000000001</real>
		<key>longitude</key>
		<real>87.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532378</string>
		<key>latitude</key>
		<real>43.869999999999997</real>
		<key>longitude</key>
		<real>87.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532302</string>
		<key>latitude</key>
		<real>43.880000000000003</real>
		<key>longitude</key>
		<real>87.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532368</string>
		<key>latitude</key>
		<real>43.920000000000002</real>
		<key>longitude</key>
		<real>87.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529047</string>
		<key>latitude</key>
		<real>42.57</real>
		<key>longitude</key>
		<real>85.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532301</string>
		<key>latitude</key>
		<real>43.979999999999997</real>
		<key>longitude</key>
		<real>87.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529569</string>
		<key>latitude</key>
		<real>44.020000000000003</real>
		<key>longitude</key>
		<real>87.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538459</string>
		<key>latitude</key>
		<real>44.060000000000002</real>
		<key>longitude</key>
		<real>87.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538460</string>
		<key>latitude</key>
		<real>44.109999999999999</real>
		<key>longitude</key>
		<real>87.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538461</string>
		<key>latitude</key>
		<real>44.140000000000001</real>
		<key>longitude</key>
		<real>87.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538472</string>
		<key>latitude</key>
		<real>44.079999999999998</real>
		<key>longitude</key>
		<real>88.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529085</string>
		<key>latitude</key>
		<real>44.200000000000003</real>
		<key>longitude</key>
		<real>87.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529511</string>
		<key>latitude</key>
		<real>44.530000000000001</real>
		<key>longitude</key>
		<real>86.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529195</string>
		<key>latitude</key>
		<real>44.299999999999997</real>
		<key>longitude</key>
		<real>86.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529109</string>
		<key>latitude</key>
		<real>42.033329000000002</real>
		<key>longitude</key>
		<real>92.233329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529528</string>
		<key>latitude</key>
		<real>44.333328000000002</real>
		<key>longitude</key>
		<real>84.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281659</string>
		<key>latitude</key>
		<real>39.066668999999997</real>
		<key>longitude</key>
		<real>90.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529077</string>
		<key>latitude</key>
		<real>42.200001</real>
		<key>longitude</key>
		<real>83.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529595</string>
		<key>latitude</key>
		<real>44.766669999999998</real>
		<key>longitude</key>
		<real>91.233329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529363</string>
		<key>latitude</key>
		<real>41.727778999999998</real>
		<key>longitude</key>
		<real>82.936394000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529484</string>
		<key>latitude</key>
		<real>42.799999</real>
		<key>longitude</key>
		<real>93.449996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529626</string>
		<key>latitude</key>
		<real>45.630000000000003</real>
		<key>longitude</key>
		<real>85.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538518</string>
		<key>latitude</key>
		<real>42.784720999999998</real>
		<key>longitude</key>
		<real>93.749442999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529625</string>
		<key>latitude</key>
		<real>45.969999999999999</real>
		<key>longitude</key>
		<real>85.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529103</string>
		<key>latitude</key>
		<real>46.100000000000001</real>
		<key>longitude</key>
		<real>85.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516173</string>
		<key>latitude</key>
		<real>46.083328000000002</real>
		<key>longitude</key>
		<real>91.566672999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516205</string>
		<key>latitude</key>
		<real>45.799999</real>
		<key>longitude</key>
		<real>92.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280240</string>
		<key>latitude</key>
		<real>37.833328000000002</real>
		<key>longitude</key>
		<real>84.533332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1514961</string>
		<key>latitude</key>
		<real>46.049999</real>
		<key>longitude</key>
		<real>92.016670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524537</string>
		<key>latitude</key>
		<real>45.255001</real>
		<key>longitude</key>
		<real>82.487831</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515579</string>
		<key>latitude</key>
		<real>46.93</real>
		<key>longitude</key>
		<real>91.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515101</string>
		<key>latitude</key>
		<real>46.916671999999998</real>
		<key>longitude</key>
		<real>92.116669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515018</string>
		<key>latitude</key>
		<real>46.683331000000003</real>
		<key>longitude</key>
		<real>92.783332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516296</string>
		<key>latitude</key>
		<real>45.556548999999997</real>
		<key>longitude</key>
		<real>94.364486999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279860</string>
		<key>latitude</key>
		<real>38.383330999999998</real>
		<key>longitude</key>
		<real>82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515097</string>
		<key>latitude</key>
		<real>46.599997999999999</real>
		<key>longitude</key>
		<real>93.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281556</string>
		<key>latitude</key>
		<real>38.033329000000002</real>
		<key>longitude</key>
		<real>93.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1515979</string>
		<key>latitude</key>
		<real>46.306862000000002</real>
		<key>longitude</key>
		<real>93.904090999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516099</string>
		<key>latitude</key>
		<real>46.450001</real>
		<key>longitude</key>
		<real>94.116669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516186</string>
		<key>latitude</key>
		<real>46.936779000000001</real>
		<key>longitude</key>
		<real>93.616730000000004</real>
	</dict>
</array>
</plist>
