<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1520747</string>
		<key>latitude</key>
		<real>42.725830000000002</real>
		<key>longitude</key>
		<real>80.178329000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529660</string>
		<key>latitude</key>
		<real>41.123058</real>
		<key>longitude</key>
		<real>80.264442000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522818</string>
		<key>latitude</key>
		<real>43.019717999999997</real>
		<key>longitude</key>
		<real>79.220284000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527232</string>
		<key>latitude</key>
		<real>42.499481000000003</real>
		<key>longitude</key>
		<real>78.527023</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527475</string>
		<key>latitude</key>
		<real>42.754910000000002</real>
		<key>longitude</key>
		<real>78.694550000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528121</string>
		<key>latitude</key>
		<real>42.490000000000002</real>
		<key>longitude</key>
		<real>78.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527121</string>
		<key>latitude</key>
		<real>42.729999999999997</real>
		<key>longitude</key>
		<real>78.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529634</string>
		<key>latitude</key>
		<real>40.584437999999999</real>
		<key>longitude</key>
		<real>80.404167000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528260</string>
		<key>latitude</key>
		<real>42</real>
		<key>longitude</key>
		<real>78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527497</string>
		<key>latitude</key>
		<real>42.340000000000003</real>
		<key>longitude</key>
		<real>78.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524696</string>
		<key>latitude</key>
		<real>43.541671999999998</real>
		<key>longitude</key>
		<real>79.470284000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529641</string>
		<key>latitude</key>
		<real>40.515560000000001</real>
		<key>longitude</key>
		<real>81.263610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529171</string>
		<key>latitude</key>
		<real>40.5</real>
		<key>longitude</key>
		<real>78.699996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528241</string>
		<key>latitude</key>
		<real>42.140000000000001</real>
		<key>longitude</key>
		<real>77.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520253</string>
		<key>latitude</key>
		<real>44.162781000000003</real>
		<key>longitude</key>
		<real>80</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528646</string>
		<key>latitude</key>
		<real>42.659999999999997</real>
		<key>longitude</key>
		<real>77.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538375</string>
		<key>latitude</key>
		<real>43.980282000000003</real>
		<key>longitude</key>
		<real>81.314171000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529363</string>
		<key>latitude</key>
		<real>41.727778999999998</real>
		<key>longitude</key>
		<real>82.936394000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528666</string>
		<key>latitude</key>
		<real>42.119999999999997</real>
		<key>longitude</key>
		<real>76.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522684</string>
		<key>latitude</key>
		<real>44.224997999999999</real>
		<key>longitude</key>
		<real>80.380279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528512</string>
		<key>latitude</key>
		<real>42.649999999999999</real>
		<key>longitude</key>
		<real>77.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517957</string>
		<key>latitude</key>
		<real>43.399999999999999</real>
		<key>longitude</key>
		<real>77.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521180</string>
		<key>latitude</key>
		<real>43.509999999999998</real>
		<key>longitude</key>
		<real>77.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523741</string>
		<key>latitude</key>
		<real>43.359999999999999</real>
		<key>longitude</key>
		<real>77.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518518</string>
		<key>latitude</key>
		<real>43.299999999999997</real>
		<key>longitude</key>
		<real>77.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529077</string>
		<key>latitude</key>
		<real>42.200001</real>
		<key>longitude</key>
		<real>83.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526482</string>
		<key>latitude</key>
		<real>43.359999999999999</real>
		<key>longitude</key>
		<real>77.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526395</string>
		<key>latitude</key>
		<real>43.07</real>
		<key>longitude</key>
		<real>76.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540859</string>
		<key>latitude</key>
		<real>43.329999999999998</real>
		<key>longitude</key>
		<real>77.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539912</string>
		<key>latitude</key>
		<real>43.25</real>
		<key>longitude</key>
		<real>76.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524192</string>
		<key>latitude</key>
		<real>43.350000000000001</real>
		<key>longitude</key>
		<real>77.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526384</string>
		<key>latitude</key>
		<real>43.25</real>
		<key>longitude</key>
		<real>76.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524193</string>
		<key>latitude</key>
		<real>43.229999999999997</real>
		<key>longitude</key>
		<real>76.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524308</string>
		<key>latitude</key>
		<real>43.43</real>
		<key>longitude</key>
		<real>77.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539930</string>
		<key>latitude</key>
		<real>43.479999999999997</real>
		<key>longitude</key>
		<real>77.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539962</string>
		<key>latitude</key>
		<real>43.340000000000003</real>
		<key>longitude</key>
		<real>76.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520208</string>
		<key>latitude</key>
		<real>43.369999999999997</real>
		<key>longitude</key>
		<real>76.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539963</string>
		<key>latitude</key>
		<real>43.340000000000003</real>
		<key>longitude</key>
		<real>76.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539940</string>
		<key>latitude</key>
		<real>43.619999999999997</real>
		<key>longitude</key>
		<real>77.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524958</string>
		<key>latitude</key>
		<real>43.359999999999999</real>
		<key>longitude</key>
		<real>76.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522192</string>
		<key>latitude</key>
		<real>43.240000000000002</real>
		<key>longitude</key>
		<real>76.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539964</string>
		<key>latitude</key>
		<real>43.350000000000001</real>
		<key>longitude</key>
		<real>76.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539965</string>
		<key>latitude</key>
		<real>43.340000000000003</real>
		<key>longitude</key>
		<real>76.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539946</string>
		<key>latitude</key>
		<real>43.689999999999998</real>
		<key>longitude</key>
		<real>77.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539952</string>
		<key>latitude</key>
		<real>43.609999999999999</real>
		<key>longitude</key>
		<real>77.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522549</string>
		<key>latitude</key>
		<real>43.350000000000001</real>
		<key>longitude</key>
		<real>76.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539966</string>
		<key>latitude</key>
		<real>43.359999999999999</real>
		<key>longitude</key>
		<real>76.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519931</string>
		<key>latitude</key>
		<real>43.200000000000003</real>
		<key>longitude</key>
		<real>76.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517252</string>
		<key>latitude</key>
		<real>43.369999999999997</real>
		<key>longitude</key>
		<real>76.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519580</string>
		<key>latitude</key>
		<real>44.359999999999999</real>
		<key>longitude</key>
		<real>77.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519844</string>
		<key>latitude</key>
		<real>44.670000000000002</real>
		<key>longitude</key>
		<real>78.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519293</string>
		<key>latitude</key>
		<real>43.189999999999998</real>
		<key>longitude</key>
		<real>76.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519948</string>
		<key>latitude</key>
		<real>43.880000000000003</real>
		<key>longitude</key>
		<real>77.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527004</string>
		<key>latitude</key>
		<real>42.460000000000001</real>
		<key>longitude</key>
		<real>76.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537162</string>
		<key>latitude</key>
		<real>44.5</real>
		<key>longitude</key>
		<real>78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520561</string>
		<key>latitude</key>
		<real>43.25</real>
		<key>longitude</key>
		<real>76.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519633</string>
		<key>latitude</key>
		<real>44.399999999999999</real>
		<key>longitude</key>
		<real>77.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518296</string>
		<key>latitude</key>
		<real>44.829999999999998</real>
		<key>longitude</key>
		<real>78.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517563</string>
		<key>latitude</key>
		<real>43.219999999999999</real>
		<key>longitude</key>
		<real>76.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525925</string>
		<key>latitude</key>
		<real>44.600000000000001</real>
		<key>longitude</key>
		<real>77.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527592</string>
		<key>latitude</key>
		<real>41.43</real>
		<key>longitude</key>
		<real>75.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518468</string>
		<key>latitude</key>
		<real>43.359999999999999</real>
		<key>longitude</key>
		<real>76.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527590</string>
		<key>latitude</key>
		<real>41.43</real>
		<key>longitude</key>
		<real>75.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527902</string>
		<key>latitude</key>
		<real>42.219999999999999</real>
		<key>longitude</key>
		<real>75.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522642</string>
		<key>latitude</key>
		<real>44.890000000000001</real>
		<key>longitude</key>
		<real>78.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517733</string>
		<key>latitude</key>
		<real>43.270000000000003</real>
		<key>longitude</key>
		<real>76.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517671</string>
		<key>latitude</key>
		<real>44.229999999999997</real>
		<key>longitude</key>
		<real>76.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528796</string>
		<key>latitude</key>
		<real>41.170000000000002</real>
		<key>longitude</key>
		<real>75.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518542</string>
		<key>latitude</key>
		<real>45.020000000000003</real>
		<key>longitude</key>
		<real>78.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528606</string>
		<key>latitude</key>
		<real>42.780000000000001</real>
		<key>longitude</key>
		<real>75.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526229</string>
		<key>latitude</key>
		<real>45.278061000000001</real>
		<key>longitude</key>
		<real>79.355002999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527551</string>
		<key>latitude</key>
		<real>42.75</real>
		<key>longitude</key>
		<real>75.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518543</string>
		<key>latitude</key>
		<real>45</real>
		<key>longitude</key>
		<real>77.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519691</string>
		<key>latitude</key>
		<real>45.409999999999997</real>
		<key>longitude</key>
		<real>79.918610000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522281</string>
		<key>latitude</key>
		<real>43.520000000000003</real>
		<key>longitude</key>
		<real>75.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525846</string>
		<key>latitude</key>
		<real>44.57</real>
		<key>longitude</key>
		<real>76.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521330</string>
		<key>latitude</key>
		<real>45.524169999999998</real>
		<key>longitude</key>
		<real>80.608611999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517637</string>
		<key>latitude</key>
		<real>45.240000000000002</real>
		<key>longitude</key>
		<real>77.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527199</string>
		<key>latitude</key>
		<real>42.840000000000003</real>
		<key>longitude</key>
		<real>75.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527338</string>
		<key>latitude</key>
		<real>42.82</real>
		<key>longitude</key>
		<real>75.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518789</string>
		<key>latitude</key>
		<real>43.32</real>
		<key>longitude</key>
		<real>75.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523014</string>
		<key>latitude</key>
		<real>45.616669000000002</real>
		<key>longitude</key>
		<real>80.483329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281307</string>
		<key>latitude</key>
		<real>38.833328000000002</real>
		<key>longitude</key>
		<real>77.466667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524537</string>
		<key>latitude</key>
		<real>45.255001</real>
		<key>longitude</key>
		<real>82.487831</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528252</string>
		<key>latitude</key>
		<real>42.890000000000001</real>
		<key>longitude</key>
		<real>75.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7073339</string>
		<key>latitude</key>
		<real>39.68</real>
		<key>longitude</key>
		<real>76.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528766</string>
		<key>latitude</key>
		<real>41.270000000000003</real>
		<key>longitude</key>
		<real>74.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527747</string>
		<key>latitude</key>
		<real>41</real>
		<key>longitude</key>
		<real>75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525850</string>
		<key>latitude</key>
		<real>44.810000000000002</real>
		<key>longitude</key>
		<real>76.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528193</string>
		<key>latitude</key>
		<real>42.890000000000001</real>
		<key>longitude</key>
		<real>74.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279860</string>
		<key>latitude</key>
		<real>38.383330999999998</real>
		<key>longitude</key>
		<real>82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528947</string>
		<key>latitude</key>
		<real>41.229999999999997</real>
		<key>longitude</key>
		<real>74.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280849</string>
		<key>latitude</key>
		<real>39.450000000000003</real>
		<key>longitude</key>
		<real>75.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1279987</string>
		<key>latitude</key>
		<real>39.390000000000001</real>
		<key>longitude</key>
		<real>76.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521757</string>
		<key>latitude</key>
		<real>43.609999999999999</real>
		<key>longitude</key>
		<real>75.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521079</string>
		<key>latitude</key>
		<real>45.899999999999999</real>
		<key>longitude</key>
		<real>78.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527690</string>
		<key>latitude</key>
		<real>42.880000000000003</real>
		<key>longitude</key>
		<real>74.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524243</string>
		<key>latitude</key>
		<real>43.039999999999999</real>
		<key>longitude</key>
		<real>74.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528566</string>
		<key>latitude</key>
		<real>41.93</real>
		<key>longitude</key>
		<real>74.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529047</string>
		<key>latitude</key>
		<real>42.57</real>
		<key>longitude</key>
		<real>85.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528334</string>
		<key>latitude</key>
		<real>42.899999999999999</real>
		<key>longitude</key>
		<real>74.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528675</string>
		<key>latitude</key>
		<real>42.869999999999997</real>
		<key>longitude</key>
		<real>74.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538652</string>
		<key>latitude</key>
		<real>42.420000000000002</real>
		<key>longitude</key>
		<real>74.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8064044</string>
		<key>latitude</key>
		<real>42.560000000000002</real>
		<key>longitude</key>
		<real>74.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280037</string>
		<key>latitude</key>
		<real>38.420000000000002</real>
		<key>longitude</key>
		<real>77.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8064028</string>
		<key>latitude</key>
		<real>43.049999999999997</real>
		<key>longitude</key>
		<real>74.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517836</string>
		<key>latitude</key>
		<real>46.169719999999998</real>
		<key>longitude</key>
		<real>80.939437999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516854</string>
		<key>latitude</key>
		<real>46.200001</real>
		<key>longitude</key>
		<real>80.766670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529528</string>
		<key>latitude</key>
		<real>44.333328000000002</real>
		<key>longitude</key>
		<real>84.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527360</string>
		<key>latitude</key>
		<real>42.850000000000001</real>
		<key>longitude</key>
		<real>74.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521333</string>
		<key>latitude</key>
		<real>46.235000999999997</real>
		<key>longitude</key>
		<real>78.945556999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538000</string>
		<key>latitude</key>
		<real>46.229999999999997</real>
		<key>longitude</key>
		<real>78.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518598</string>
		<key>latitude</key>
		<real>43.880000000000003</real>
		<key>longitude</key>
		<real>74.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528913</string>
		<key>latitude</key>
		<real>43.020000000000003</real>
		<key>longitude</key>
		<real>74.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528702</string>
		<key>latitude</key>
		<real>42.829999999999998</real>
		<key>longitude</key>
		<real>74.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520897</string>
		<key>latitude</key>
		<real>43.600000000000001</real>
		<key>longitude</key>
		<real>74.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528005</string>
		<key>latitude</key>
		<real>41.399999999999999</real>
		<key>longitude</key>
		<real>74.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1527351</string>
		<key>latitude</key>
		<real>42.640000000000001</real>
		<key>longitude</key>
		<real>73.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1346620</string>
		<key>latitude</key>
		<real>37.961109</real>
		<key>longitude</key>
		<real>77.249167999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529376</string>
		<key>latitude</key>
		<real>41.759999999999998</real>
		<key>longitude</key>
		<real>86.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528211</string>
		<key>latitude</key>
		<real>42.829999999999998</real>
		<key>longitude</key>
		<real>73.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528182</string>
		<key>latitude</key>
		<real>42.810000000000002</real>
		<key>longitude</key>
		<real>73.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524294</string>
		<key>latitude</key>
		<real>43.869999999999997</real>
		<key>longitude</key>
		<real>74.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529001</string>
		<key>latitude</key>
		<real>41.330559000000001</real>
		<key>longitude</key>
		<real>86.257782000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528234</string>
		<key>latitude</key>
		<real>42.82</real>
		<key>longitude</key>
		<real>73.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519030</string>
		<key>latitude</key>
		<real>43.600000000000001</real>
		<key>longitude</key>
		<real>73.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520536</string>
		<key>latitude</key>
		<real>43.68</real>
		<key>longitude</key>
		<real>73.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529031</string>
		<key>latitude</key>
		<real>42.060000000000002</real>
		<key>longitude</key>
		<real>86.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524182</string>
		<key>latitude</key>
		<real>42.740000000000002</real>
		<key>longitude</key>
		<real>73.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1281019</string>
		<key>latitude</key>
		<real>37.099719999999998</real>
		<key>longitude</key>
		<real>79.926940999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1346629</string>
		<key>latitude</key>
		<real>37.076939000000003</real>
		<key>longitude</key>
		<real>79.731667000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526268</string>
		<key>latitude</key>
		<real>46.950001</real>
		<key>longitude</key>
		<real>79.666672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529195</string>
		<key>latitude</key>
		<real>44.299999999999997</real>
		<key>longitude</key>
		<real>86.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8145969</string>
		<key>latitude</key>
		<real>40.630000000000003</real>
		<key>longitude</key>
		<real>73.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522714</string>
		<key>latitude</key>
		<real>44.229999999999997</real>
		<key>longitude</key>
		<real>73.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520386</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>74.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529626</string>
		<key>latitude</key>
		<real>45.630000000000003</real>
		<key>longitude</key>
		<real>85.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1528320</string>
		<key>latitude</key>
		<real>40.310000000000002</real>
		<key>longitude</key>
		<real>73.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523470</string>
		<key>latitude</key>
		<real>46.530000000000001</real>
		<key>longitude</key>
		<real>76.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518981</string>
		<key>latitude</key>
		<real>45.109999999999999</real>
		<key>longitude</key>
		<real>73.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537980</string>
		<key>latitude</key>
		<real>45.210000000000001</real>
		<key>longitude</key>
		<real>73.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1280240</string>
		<key>latitude</key>
		<real>37.833328000000002</real>
		<key>longitude</key>
		<real>84.533332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529625</string>
		<key>latitude</key>
		<real>45.969999999999999</real>
		<key>longitude</key>
		<real>85.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520789</string>
		<key>latitude</key>
		<real>45.416111000000001</real>
		<key>longitude</key>
		<real>73.684441000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1529103</string>
		<key>latitude</key>
		<real>46.100000000000001</real>
		<key>longitude</key>
		<real>85.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537253</string>
		<key>latitude</key>
		<real>46.82</real>
		<key>longitude</key>
		<real>75.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1220962</string>
		<key>latitude</key>
		<real>38.170000000000002</real>
		<key>longitude</key>
		<real>73.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525798</string>
		<key>latitude</key>
		<real>46.850000000000001</real>
		<key>longitude</key>
		<real>75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7536148</string>
		<key>latitude</key>
		<real>46.031058999999999</real>
		<key>longitude</key>
		<real>73.702468999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519563</string>
		<key>latitude</key>
		<real>46.119166999999997</real>
		<key>longitude</key>
		<real>73.619163999999998</real>
	</dict>
</array>
</plist>
