<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1490918</string>
		<key>latitude</key>
		<real>65.611816000000005</real>
		<key>longitude</key>
		<real>72.684173999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498087</string>
		<key>latitude</key>
		<real>65.533332999999999</real>
		<key>longitude</key>
		<real>72.516670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496441</string>
		<key>latitude</key>
		<real>66.624718000000001</real>
		<key>longitude</key>
		<real>72.922782999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486321</string>
		<key>latitude</key>
		<real>66.833327999999995</real>
		<key>longitude</key>
		<real>70.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495626</string>
		<key>latitude</key>
		<real>65.850020999999998</real>
		<key>longitude</key>
		<real>74.485930999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486462</string>
		<key>latitude</key>
		<real>66</real>
		<key>longitude</key>
		<real>76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512019</string>
		<key>latitude</key>
		<real>66.560562000000004</real>
		<key>longitude</key>
		<real>67.797500999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496511</string>
		<key>latitude</key>
		<real>66.083327999999995</real>
		<key>longitude</key>
		<real>76.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493197</string>
		<key>latitude</key>
		<real>66.529999000000004</real>
		<key>longitude</key>
		<real>66.601935999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500933</string>
		<key>latitude</key>
		<real>66.657218999999998</real>
		<key>longitude</key>
		<real>66.418327000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539209</string>
		<key>latitude</key>
		<real>64.433998000000003</real>
		<key>longitude</key>
		<real>76.502609000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540711</string>
		<key>latitude</key>
		<real>63.789768000000002</real>
		<key>longitude</key>
		<real>74.523009999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539210</string>
		<key>latitude</key>
		<real>64.480000000000004</real>
		<key>longitude</key>
		<real>76.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504850</string>
		<key>latitude</key>
		<real>68.459716999999998</real>
		<key>longitude</key>
		<real>73.590278999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1539208</string>
		<key>latitude</key>
		<real>64.980000000000004</real>
		<key>longitude</key>
		<real>77.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488414</string>
		<key>latitude</key>
		<real>65.969999999999999</real>
		<key>longitude</key>
		<real>78.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503726</string>
		<key>latitude</key>
		<real>66.801392000000007</real>
		<key>longitude</key>
		<real>65.808059999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490085</string>
		<key>latitude</key>
		<real>64.920000000000002</real>
		<key>longitude</key>
		<real>77.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489853</string>
		<key>latitude</key>
		<real>67.469999999999999</real>
		<key>longitude</key>
		<real>78.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498161</string>
		<key>latitude</key>
		<real>65.370000000000005</real>
		<key>longitude</key>
		<real>64.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496503</string>
		<key>latitude</key>
		<real>63.199359999999999</real>
		<key>longitude</key>
		<real>75.450667999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510450</string>
		<key>latitude</key>
		<real>63.711941000000003</real>
		<key>longitude</key>
		<real>66.672218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491229</string>
		<key>latitude</key>
		<real>67.483329999999995</real>
		<key>longitude</key>
		<real>64.416672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494554</string>
		<key>latitude</key>
		<real>63.788330000000002</real>
		<key>longitude</key>
		<real>65.909171999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497749</string>
		<key>latitude</key>
		<real>67.050003000000004</real>
		<key>longitude</key>
		<real>63.783329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486910</string>
		<key>latitude</key>
		<real>67.5</real>
		<key>longitude</key>
		<real>64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489126</string>
		<key>latitude</key>
		<real>67.616669000000002</real>
		<key>longitude</key>
		<real>64.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486913</string>
		<key>latitude</key>
		<real>67.583327999999995</real>
		<key>longitude</key>
		<real>63.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494088</string>
		<key>latitude</key>
		<real>67.583327999999995</real>
		<key>longitude</key>
		<real>63.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7287775</string>
		<key>latitude</key>
		<real>62.439650999999998</real>
		<key>longitude</key>
		<real>71.760292000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485470</string>
		<key>latitude</key>
		<real>67.483329999999995</real>
		<key>longitude</key>
		<real>63.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511542</string>
		<key>latitude</key>
		<real>69.066672999999994</real>
		<key>longitude</key>
		<real>76.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510214</string>
		<key>latitude</key>
		<real>63.939999999999998</real>
		<key>longitude</key>
		<real>65.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6695754</string>
		<key>latitude</key>
		<real>62.265369</real>
		<key>longitude</key>
		<real>74.479056999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493308</string>
		<key>latitude</key>
		<real>62.200001</real>
		<key>longitude</key>
		<real>74.466667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503773</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504670</string>
		<key>latitude</key>
		<real>61.916671999999998</real>
		<key>longitude</key>
		<real>72.033332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502073</string>
		<key>latitude</key>
		<real>65.700000000000003</real>
		<key>longitude</key>
		<real>82.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505965</string>
		<key>latitude</key>
		<real>63.190601000000001</real>
		<key>longitude</key>
		<real>64.416199000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511646</string>
		<key>latitude</key>
		<real>62.509999999999998</real>
		<key>longitude</key>
		<real>65.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1536757</string>
		<key>latitude</key>
		<real>62.520000000000003</real>
		<key>longitude</key>
		<real>65.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7289676</string>
		<key>latitude</key>
		<real>61.719999999999999</real>
		<key>longitude</key>
		<real>75.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497210</string>
		<key>latitude</key>
		<real>61.939999999999998</real>
		<key>longitude</key>
		<real>76.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540356</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>77.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496476</string>
		<key>latitude</key>
		<real>62.140000000000001</real>
		<key>longitude</key>
		<real>65.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1544819</string>
		<key>latitude</key>
		<real>69.748099999999994</real>
		<key>longitude</key>
		<real>61.654701000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503481</string>
		<key>latitude</key>
		<real>62.863331000000002</real>
		<key>longitude</key>
		<real>61.643608</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512101</string>
		<key>latitude</key>
		<real>61.924720999999998</real>
		<key>longitude</key>
		<real>63.023060000000001</real>
	</dict>
</array>
</plist>
