<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1547511</string>
		<key>latitude</key>
		<real>-19.758329</real>
		<key>longitude</key>
		<real>63.358330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1547449</string>
		<key>latitude</key>
		<real>-19.700001</real>
		<key>longitude</key>
		<real>63.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1545752</string>
		<key>latitude</key>
		<real>-19.683330999999999</real>
		<key>longitude</key>
		<real>63.416671999999998</real>
	</dict>
</array>
</plist>
