<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1546102</string>
		<key>latitude</key>
		<real>-49.349997999999999</real>
		<key>longitude</key>
		<real>70.216667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1546558</string>
		<key>latitude</key>
		<real>-49.25</real>
		<key>longitude</key>
		<real>69.166672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1546748</string>
		<key>latitude</key>
		<real>-43</real>
		<key>longitude</key>
		<real>67</real>
	</dict>
</array>
</plist>
