<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1035025</string>
		<key>latitude</key>
		<real>-14.539999999999999</real>
		<key>longitude</key>
		<real>40.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1049896</string>
		<key>latitude</key>
		<real>-12.98</real>
		<key>longitude</key>
		<real>40.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1028918</string>
		<key>latitude</key>
		<real>-12.970000000000001</real>
		<key>longitude</key>
		<real>40.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1037807</string>
		<key>latitude</key>
		<real>-12.949999999999999</real>
		<key>longitude</key>
		<real>40.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1037390</string>
		<key>latitude</key>
		<real>-15.029999999999999</real>
		<key>longitude</key>
		<real>40.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1037125</string>
		<key>latitude</key>
		<real>-13.130000000000001</real>
		<key>longitude</key>
		<real>39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1033356</string>
		<key>latitude</key>
		<real>-15.119999999999999</real>
		<key>longitude</key>
		<real>39.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1033354</string>
		<key>latitude</key>
		<real>-15</real>
		<key>longitude</key>
		<real>39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1051823</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1041510</string>
		<key>latitude</key>
		<real>-16.190000000000001</real>
		<key>longitude</key>
		<real>39.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1052944</string>
		<key>latitude</key>
		<real>-16.23</real>
		<key>longitude</key>
		<real>39.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1086131</string>
		<key>latitude</key>
		<real>-13.43</real>
		<key>longitude</key>
		<real>37.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1085237</string>
		<key>latitude</key>
		<real>-11.359999999999999</real>
		<key>longitude</key>
		<real>40.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1037370</string>
		<key>latitude</key>
		<real>-11.32</real>
		<key>longitude</key>
		<real>40.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1088155</string>
		<key>latitude</key>
		<real>-14.869999999999999</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878054</string>
		<key>latitude</key>
		<real>-11.369999999999999</real>
		<key>longitude</key>
		<real>38.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1030006</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877532</string>
		<key>latitude</key>
		<real>-10.949999999999999</real>
		<key>longitude</key>
		<real>39.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878223</string>
		<key>latitude</key>
		<real>-10.9</real>
		<key>longitude</key>
		<real>39.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877670</string>
		<key>latitude</key>
		<real>-10.949999999999999</real>
		<key>longitude</key>
		<real>39.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878121</string>
		<key>latitude</key>
		<real>-10.869999999999999</real>
		<key>longitude</key>
		<real>39.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877631</string>
		<key>latitude</key>
		<real>-10.83</real>
		<key>longitude</key>
		<real>39.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877588</string>
		<key>latitude</key>
		<real>-10.800000000000001</real>
		<key>longitude</key>
		<real>39.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877391</string>
		<key>latitude</key>
		<real>-10.75</real>
		<key>longitude</key>
		<real>39.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878455</string>
		<key>latitude</key>
		<real>-10.880000000000001</real>
		<key>longitude</key>
		<real>38.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878367</string>
		<key>latitude</key>
		<real>-10.720000000000001</real>
		<key>longitude</key>
		<real>39.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878184</string>
		<key>latitude</key>
		<real>-10.82</real>
		<key>longitude</key>
		<real>39.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877581</string>
		<key>latitude</key>
		<real>-10.68</real>
		<key>longitude</key>
		<real>39.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878362</string>
		<key>latitude</key>
		<real>-10.65</real>
		<key>longitude</key>
		<real>39.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877597</string>
		<key>latitude</key>
		<real>-10.9</real>
		<key>longitude</key>
		<real>38.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1047660</string>
		<key>latitude</key>
		<real>-14.800000000000001</real>
		<key>longitude</key>
		<real>36.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877744</string>
		<key>latitude</key>
		<real>-10.67</real>
		<key>longitude</key>
		<real>39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878058</string>
		<key>latitude</key>
		<real>-10.720000000000001</real>
		<key>longitude</key>
		<real>38.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878141</string>
		<key>latitude</key>
		<real>-10.4</real>
		<key>longitude</key>
		<real>40.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878195</string>
		<key>latitude</key>
		<real>-10.57</real>
		<key>longitude</key>
		<real>38.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877776</string>
		<key>latitude</key>
		<real>-10.32</real>
		<key>longitude</key>
		<real>40.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877605</string>
		<key>latitude</key>
		<real>-10.380000000000001</real>
		<key>longitude</key>
		<real>39.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877747</string>
		<key>latitude</key>
		<real>-10.27</real>
		<key>longitude</key>
		<real>40.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877471</string>
		<key>latitude</key>
		<real>-10.33</real>
		<key>longitude</key>
		<real>39.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877784</string>
		<key>latitude</key>
		<real>-10.300000000000001</real>
		<key>longitude</key>
		<real>39.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877702</string>
		<key>latitude</key>
		<real>-10.380000000000001</real>
		<key>longitude</key>
		<real>38.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921687</string>
		<key>latitude</key>
		<real>-11.81</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092516</string>
		<key>latitude</key>
		<real>-11.82</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092396</string>
		<key>latitude</key>
		<real>-11.779999999999999</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921674</string>
		<key>latitude</key>
		<real>-11.85</real>
		<key>longitude</key>
		<real>43.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092343</string>
		<key>latitude</key>
		<real>-11.720000000000001</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092342</string>
		<key>latitude</key>
		<real>-11.710000000000001</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092341</string>
		<key>latitude</key>
		<real>-11.720000000000001</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877925</string>
		<key>latitude</key>
		<real>-10.1</real>
		<key>longitude</key>
		<real>39.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092169</string>
		<key>latitude</key>
		<real>-11.699999999999999</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921772</string>
		<key>latitude</key>
		<real>-11.699999999999999</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921856</string>
		<key>latitude</key>
		<real>-11.67</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921918</string>
		<key>latitude</key>
		<real>-11.869999999999999</real>
		<key>longitude</key>
		<real>43.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921729</string>
		<key>latitude</key>
		<real>-11.66</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092157</string>
		<key>latitude</key>
		<real>-11.65</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921661</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092065</string>
		<key>latitude</key>
		<real>-11.640000000000001</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921745</string>
		<key>latitude</key>
		<real>-12.359999999999999</real>
		<key>longitude</key>
		<real>43.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921942</string>
		<key>latitude</key>
		<real>-11.92</real>
		<key>longitude</key>
		<real>43.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921870</string>
		<key>latitude</key>
		<real>-12.25</real>
		<key>longitude</key>
		<real>43.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092529</string>
		<key>latitude</key>
		<real>-11.85</real>
		<key>longitude</key>
		<real>43.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921714</string>
		<key>latitude</key>
		<real>-11.91</real>
		<key>longitude</key>
		<real>43.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092041</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921713</string>
		<key>latitude</key>
		<real>-11.59</real>
		<key>longitude</key>
		<real>43.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090583</string>
		<key>latitude</key>
		<real>-12.26</real>
		<key>longitude</key>
		<real>43.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921777</string>
		<key>latitude</key>
		<real>-11.83</real>
		<key>longitude</key>
		<real>43.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878281</string>
		<key>latitude</key>
		<real>-10</real>
		<key>longitude</key>
		<real>39.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921884</string>
		<key>latitude</key>
		<real>-11.859999999999999</real>
		<key>longitude</key>
		<real>43.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092003</string>
		<key>latitude</key>
		<real>-11.550000000000001</real>
		<key>longitude</key>
		<real>43.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921889</string>
		<key>latitude</key>
		<real>-12.279999999999999</real>
		<key>longitude</key>
		<real>43.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090640</string>
		<key>latitude</key>
		<real>-12.33</real>
		<key>longitude</key>
		<real>43.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921913</string>
		<key>latitude</key>
		<real>-12.300000000000001</real>
		<key>longitude</key>
		<real>43.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921882</string>
		<key>latitude</key>
		<real>-11.58</real>
		<key>longitude</key>
		<real>43.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921654</string>
		<key>latitude</key>
		<real>-12.34</real>
		<key>longitude</key>
		<real>43.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921731</string>
		<key>latitude</key>
		<real>-11.470000000000001</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877433</string>
		<key>latitude</key>
		<real>-10.07</real>
		<key>longitude</key>
		<real>38.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921756</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091713</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921858</string>
		<key>latitude</key>
		<real>-11.539999999999999</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091674</string>
		<key>latitude</key>
		<real>-11.41</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091996</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>43.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091712</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>43.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878006</string>
		<key>latitude</key>
		<real>-10</real>
		<key>longitude</key>
		<real>38.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091711</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>43.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921786</string>
		<key>latitude</key>
		<real>-11.380000000000001</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921806</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091870</string>
		<key>latitude</key>
		<real>-11.48</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921956</string>
		<key>latitude</key>
		<real>-11.49</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091868</string>
		<key>latitude</key>
		<real>-11.470000000000001</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1024312</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921944</string>
		<key>latitude</key>
		<real>-11.43</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091828</string>
		<key>latitude</key>
		<real>-11.43</real>
		<key>longitude</key>
		<real>43.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921852</string>
		<key>latitude</key>
		<real>-11.390000000000001</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921967</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927245</string>
		<key>latitude</key>
		<real>-14.390000000000001</real>
		<key>longitude</key>
		<real>35.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090919</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921675</string>
		<key>latitude</key>
		<real>-12.199999999999999</real>
		<key>longitude</key>
		<real>44.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090930</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921957</string>
		<key>latitude</key>
		<real>-12.210000000000001</real>
		<key>longitude</key>
		<real>44.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921814</string>
		<key>latitude</key>
		<real>-12.23</real>
		<key>longitude</key>
		<real>44.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921996</string>
		<key>latitude</key>
		<real>-12.23</real>
		<key>longitude</key>
		<real>44.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921784</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924206</string>
		<key>latitude</key>
		<real>-15.81</real>
		<key>longitude</key>
		<real>35.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090960</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921655</string>
		<key>latitude</key>
		<real>-12.24</real>
		<key>longitude</key>
		<real>44.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921939</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927246</string>
		<key>latitude</key>
		<real>-14.48</real>
		<key>longitude</key>
		<real>35.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921783</string>
		<key>latitude</key>
		<real>-12.19</real>
		<key>longitude</key>
		<real>44.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091390</string>
		<key>latitude</key>
		<real>-12.279999999999999</real>
		<key>longitude</key>
		<real>44.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030185</string>
		<key>latitude</key>
		<real>-12.31</real>
		<key>longitude</key>
		<real>44.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921764</string>
		<key>latitude</key>
		<real>-12.31</real>
		<key>longitude</key>
		<real>44.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091370</string>
		<key>latitude</key>
		<real>-12.26</real>
		<key>longitude</key>
		<real>44.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922001</string>
		<key>latitude</key>
		<real>-12.25</real>
		<key>longitude</key>
		<real>44.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091121</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>44.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923292</string>
		<key>latitude</key>
		<real>-15.43</real>
		<key>longitude</key>
		<real>35.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921753</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>44.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1026634</string>
		<key>latitude</key>
		<real>-13.25</real>
		<key>longitude</key>
		<real>35.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921847</string>
		<key>latitude</key>
		<real>-12.31</real>
		<key>longitude</key>
		<real>44.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091117</string>
		<key>latitude</key>
		<real>-12.16</real>
		<key>longitude</key>
		<real>44.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1043893</string>
		<key>latitude</key>
		<real>-13.31</real>
		<key>longitude</key>
		<real>35.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091436</string>
		<key>latitude</key>
		<real>-12.33</real>
		<key>longitude</key>
		<real>44.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921929</string>
		<key>latitude</key>
		<real>-12.23</real>
		<key>longitude</key>
		<real>44.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155921</string>
		<key>latitude</key>
		<real>-9.7699999999999996</real>
		<key>longitude</key>
		<real>37.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921711</string>
		<key>latitude</key>
		<real>-12.27</real>
		<key>longitude</key>
		<real>44.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921838</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>44.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921762</string>
		<key>latitude</key>
		<real>-12.31</real>
		<key>longitude</key>
		<real>44.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921998</string>
		<key>latitude</key>
		<real>-12.359999999999999</real>
		<key>longitude</key>
		<real>44.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927643</string>
		<key>latitude</key>
		<real>-15.17</real>
		<key>longitude</key>
		<real>35.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091088</string>
		<key>latitude</key>
		<real>-12.140000000000001</real>
		<key>longitude</key>
		<real>44.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921703</string>
		<key>latitude</key>
		<real>-12.16</real>
		<key>longitude</key>
		<real>44.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921946</string>
		<key>latitude</key>
		<real>-12.199999999999999</real>
		<key>longitude</key>
		<real>44.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921721</string>
		<key>latitude</key>
		<real>-12.130000000000001</real>
		<key>longitude</key>
		<real>44.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921746</string>
		<key>latitude</key>
		<real>-12.33</real>
		<key>longitude</key>
		<real>44.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921834</string>
		<key>latitude</key>
		<real>-12.23</real>
		<key>longitude</key>
		<real>44.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921763</string>
		<key>latitude</key>
		<real>-12.35</real>
		<key>longitude</key>
		<real>44.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921835</string>
		<key>latitude</key>
		<real>-12.220000000000001</real>
		<key>longitude</key>
		<real>44.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921897</string>
		<key>latitude</key>
		<real>-12.18</real>
		<key>longitude</key>
		<real>44.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091159</string>
		<key>latitude</key>
		<real>-12.24</real>
		<key>longitude</key>
		<real>44.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155946</string>
		<key>latitude</key>
		<real>-9.5</real>
		<key>longitude</key>
		<real>38.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923295</string>
		<key>latitude</key>
		<real>-15.390000000000001</real>
		<key>longitude</key>
		<real>35.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921906</string>
		<key>latitude</key>
		<real>-12.26</real>
		<key>longitude</key>
		<real>44.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925788</string>
		<key>latitude</key>
		<real>-15.93</real>
		<key>longitude</key>
		<real>35.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921726</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>44.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091076</string>
		<key>latitude</key>
		<real>-12.119999999999999</real>
		<key>longitude</key>
		<real>44.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091102</string>
		<key>latitude</key>
		<real>-12.140000000000001</real>
		<key>longitude</key>
		<real>44.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927834</string>
		<key>latitude</key>
		<real>-15.050000000000001</real>
		<key>longitude</key>
		<real>35.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925789</string>
		<key>latitude</key>
		<real>-16.030000000000001</real>
		<key>longitude</key>
		<real>35.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1105840</string>
		<key>latitude</key>
		<real>-15.050000000000001</real>
		<key>longitude</key>
		<real>35.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1028434</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>36.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839145</string>
		<key>latitude</key>
		<real>-14.08</real>
		<key>longitude</key>
		<real>34.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877416</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926308</string>
		<key>latitude</key>
		<real>-14.07</real>
		<key>longitude</key>
		<real>34.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927792</string>
		<key>latitude</key>
		<real>-16.010000000000002</real>
		<key>longitude</key>
		<real>35.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931865</string>
		<key>latitude</key>
		<real>-14.98</real>
		<key>longitude</key>
		<real>34.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930580</string>
		<key>latitude</key>
		<real>-15.67</real>
		<key>longitude</key>
		<real>35.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1054116</string>
		<key>latitude</key>
		<real>-16.620000000000001</real>
		<key>longitude</key>
		<real>44.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090467</string>
		<key>latitude</key>
		<real>-12.9</real>
		<key>longitude</key>
		<real>45.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923817</string>
		<key>latitude</key>
		<real>-15.5</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090476</string>
		<key>latitude</key>
		<real>-12.949999999999999</real>
		<key>longitude</key>
		<real>45.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521421</string>
		<key>latitude</key>
		<real>-12.720000000000001</real>
		<key>longitude</key>
		<real>45.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922015</string>
		<key>latitude</key>
		<real>-12.720000000000001</real>
		<key>longitude</key>
		<real>45.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090340</string>
		<key>latitude</key>
		<real>-12.85</real>
		<key>longitude</key>
		<real>45.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090161</string>
		<key>latitude</key>
		<real>-12.76</real>
		<key>longitude</key>
		<real>45.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090126</string>
		<key>latitude</key>
		<real>-12.699999999999999</real>
		<key>longitude</key>
		<real>45.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521432</string>
		<key>latitude</key>
		<real>-12.699999999999999</real>
		<key>longitude</key>
		<real>45.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>157377</string>
		<key>latitude</key>
		<real>-8.9199999999999999</real>
		<key>longitude</key>
		<real>39.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090322</string>
		<key>latitude</key>
		<real>-12.83</real>
		<key>longitude</key>
		<real>45.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521425</string>
		<key>latitude</key>
		<real>-12.83</real>
		<key>longitude</key>
		<real>45.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090177</string>
		<key>latitude</key>
		<real>-12.789999999999999</real>
		<key>longitude</key>
		<real>45.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521437</string>
		<key>latitude</key>
		<real>-12.789999999999999</real>
		<key>longitude</key>
		<real>45.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090415</string>
		<key>latitude</key>
		<real>-12.93</real>
		<key>longitude</key>
		<real>45.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521426</string>
		<key>latitude</key>
		<real>-12.93</real>
		<key>longitude</key>
		<real>45.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1066702</string>
		<key>latitude</key>
		<real>-16.75</real>
		<key>longitude</key>
		<real>44.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839184</string>
		<key>latitude</key>
		<real>-15.789999999999999</real>
		<key>longitude</key>
		<real>35.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090311</string>
		<key>latitude</key>
		<real>-12.85</real>
		<key>longitude</key>
		<real>45.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923652</string>
		<key>latitude</key>
		<real>-16.07</real>
		<key>longitude</key>
		<real>35.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930283</string>
		<key>latitude</key>
		<real>-16.109999999999999</real>
		<key>longitude</key>
		<real>35.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931755</string>
		<key>latitude</key>
		<real>-15.779999999999999</real>
		<key>longitude</key>
		<real>35.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090119</string>
		<key>latitude</key>
		<real>-12.699999999999999</real>
		<key>longitude</key>
		<real>45.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931039</string>
		<key>latitude</key>
		<real>-15.67</real>
		<key>longitude</key>
		<real>34.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931754</string>
		<key>latitude</key>
		<real>-15.65</real>
		<key>longitude</key>
		<real>34.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1024031</string>
		<key>latitude</key>
		<real>-12.83</real>
		<key>longitude</key>
		<real>45.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090397</string>
		<key>latitude</key>
		<real>-12.91</real>
		<key>longitude</key>
		<real>45.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521423</string>
		<key>latitude</key>
		<real>-12.91</real>
		<key>longitude</key>
		<real>45.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921917</string>
		<key>latitude</key>
		<real>-12.84</real>
		<key>longitude</key>
		<real>45.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1090225</string>
		<key>latitude</key>
		<real>-12.73</real>
		<key>longitude</key>
		<real>45.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521430</string>
		<key>latitude</key>
		<real>-12.74</real>
		<key>longitude</key>
		<real>45.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521431</string>
		<key>latitude</key>
		<real>-12.779999999999999</real>
		<key>longitude</key>
		<real>45.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921815</string>
		<key>latitude</key>
		<real>-12.779999999999999</real>
		<key>longitude</key>
		<real>45.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924492</string>
		<key>latitude</key>
		<real>-14.82</real>
		<key>longitude</key>
		<real>34.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926623</string>
		<key>latitude</key>
		<real>-13.75</real>
		<key>longitude</key>
		<real>34.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921900</string>
		<key>latitude</key>
		<real>-12.789999999999999</real>
		<key>longitude</key>
		<real>45.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921707</string>
		<key>latitude</key>
		<real>-12.800000000000001</real>
		<key>longitude</key>
		<real>45.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521435</string>
		<key>latitude</key>
		<real>-12.789999999999999</real>
		<key>longitude</key>
		<real>45.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930629</string>
		<key>latitude</key>
		<real>-13.99</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924963</string>
		<key>latitude</key>
		<real>-15.4</real>
		<key>longitude</key>
		<real>34.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924055</string>
		<key>latitude</key>
		<real>-13.779999999999999</real>
		<key>longitude</key>
		<real>34.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877401</string>
		<key>latitude</key>
		<real>-10.68</real>
		<key>longitude</key>
		<real>35.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924567</string>
		<key>latitude</key>
		<real>-16.75</real>
		<key>longitude</key>
		<real>35.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877426</string>
		<key>latitude</key>
		<real>-10.699999999999999</real>
		<key>longitude</key>
		<real>35.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931070</string>
		<key>latitude</key>
		<real>-16.030000000000001</real>
		<key>longitude</key>
		<real>34.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924572</string>
		<key>latitude</key>
		<real>-16.920000000000002</real>
		<key>longitude</key>
		<real>35.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924053</string>
		<key>latitude</key>
		<real>-13.720000000000001</real>
		<key>longitude</key>
		<real>34.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930582</string>
		<key>latitude</key>
		<real>-12.07</real>
		<key>longitude</key>
		<real>34.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930025</string>
		<key>latitude</key>
		<real>-14.380000000000001</real>
		<key>longitude</key>
		<real>34.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925596</string>
		<key>latitude</key>
		<real>-15.6</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877384</string>
		<key>latitude</key>
		<real>-11.300000000000001</real>
		<key>longitude</key>
		<real>35.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1061912</string>
		<key>latitude</key>
		<real>-18.07</real>
		<key>longitude</key>
		<real>44.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924705</string>
		<key>latitude</key>
		<real>-12.93</real>
		<key>longitude</key>
		<real>34.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878073</string>
		<key>latitude</key>
		<real>-10.58</real>
		<key>longitude</key>
		<real>35.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877998</string>
		<key>latitude</key>
		<real>-10.93</real>
		<key>longitude</key>
		<real>35.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1043458</string>
		<key>latitude</key>
		<real>-18.390000000000001</real>
		<key>longitude</key>
		<real>36.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878023</string>
		<key>latitude</key>
		<real>-11.279999999999999</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878400</string>
		<key>latitude</key>
		<real>-10.800000000000001</real>
		<key>longitude</key>
		<real>35.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1039000</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>34.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878041</string>
		<key>latitude</key>
		<real>-10.75</real>
		<key>longitude</key>
		<real>34.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878242</string>
		<key>latitude</key>
		<real>-11.08</real>
		<key>longitude</key>
		<real>34.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924732</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>34.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155285</string>
		<key>latitude</key>
		<real>-9.9299999999999997</real>
		<key>longitude</key>
		<real>35.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155274</string>
		<key>latitude</key>
		<real>-8.6799999999999997</real>
		<key>longitude</key>
		<real>36.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152793</string>
		<key>latitude</key>
		<real>-8.7799999999999994</real>
		<key>longitude</key>
		<real>36.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155016</string>
		<key>latitude</key>
		<real>-8.9299999999999997</real>
		<key>longitude</key>
		<real>36.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878087</string>
		<key>latitude</key>
		<real>-10.470000000000001</real>
		<key>longitude</key>
		<real>34.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1036973</string>
		<key>latitude</key>
		<real>-18.25</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153384</string>
		<key>latitude</key>
		<real>-8.8000000000000007</real>
		<key>longitude</key>
		<real>35.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153408</string>
		<key>latitude</key>
		<real>-9.7799999999999994</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>151479</string>
		<key>latitude</key>
		<real>-9.3300000000000001</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159067</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155093</string>
		<key>latitude</key>
		<real>-8.7300000000000004</real>
		<key>longitude</key>
		<real>35.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152718</string>
		<key>latitude</key>
		<real>-9.0199999999999996</real>
		<key>longitude</key>
		<real>34.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155101</string>
		<key>latitude</key>
		<real>-8.8499999999999996</real>
		<key>longitude</key>
		<real>34.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159218</string>
		<key>latitude</key>
		<real>-8.9000000000000004</real>
		<key>longitude</key>
		<real>34.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155052</string>
		<key>latitude</key>
		<real>-8.5700000000000003</real>
		<key>longitude</key>
		<real>34.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1024696</string>
		<key>latitude</key>
		<real>-19.609999999999999</real>
		<key>longitude</key>
		<real>34.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1059051</string>
		<key>latitude</key>
		<real>-19.52</real>
		<key>longitude</key>
		<real>45.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>150453</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>34.380000000000003</real>
	</dict>
</array>
</plist>
