<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1636308</string>
		<key>latitude</key>
		<real>-0.86667000000000005</real>
		<key>longitude</key>
		<real>134.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1628692</string>
		<key>latitude</key>
		<real>-0.90000000000000002</real>
		<key>longitude</key>
		<real>134.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627453</string>
		<key>latitude</key>
		<real>-1.8833299999999999</real>
		<key>longitude</key>
		<real>136.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1996549</string>
		<key>latitude</key>
		<real>-2.0833300000000001</real>
		<key>longitude</key>
		<real>132.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038282</string>
		<key>latitude</key>
		<real>6.9060100000000002</real>
		<key>longitude</key>
		<real>134.129974</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7671223</string>
		<key>latitude</key>
		<real>7.0419200000000002</real>
		<key>longitude</key>
		<real>134.25561500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1634614</string>
		<key>latitude</key>
		<real>-3.3666700000000001</real>
		<key>longitude</key>
		<real>135.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559446</string>
		<key>latitude</key>
		<real>7.3397800000000002</real>
		<key>longitude</key>
		<real>134.47326699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038353</string>
		<key>latitude</key>
		<real>7.3605099999999997</real>
		<key>longitude</key>
		<real>134.54570000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732415</string>
		<key>latitude</key>
		<real>7.3425700000000003</real>
		<key>longitude</key>
		<real>134.478882</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626542</string>
		<key>latitude</key>
		<real>-0.88332999999999995</real>
		<key>longitude</key>
		<real>131.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7701549</string>
		<key>latitude</key>
		<real>7.3645100000000001</real>
		<key>longitude</key>
		<real>134.514847</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4037645</string>
		<key>latitude</key>
		<real>7.3669799999999999</real>
		<key>longitude</key>
		<real>134.51866100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732276</string>
		<key>latitude</key>
		<real>7.4461300000000001</real>
		<key>longitude</key>
		<real>134.476776</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4037930</string>
		<key>latitude</key>
		<real>7.4939999999999998</real>
		<key>longitude</key>
		<real>134.63450599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559804</string>
		<key>latitude</key>
		<real>7.4956699999999996</real>
		<key>longitude</key>
		<real>134.63670300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303944</string>
		<key>latitude</key>
		<real>7.5004299999999997</real>
		<key>longitude</key>
		<real>134.62354999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559582</string>
		<key>latitude</key>
		<real>7.5030000000000001</real>
		<key>longitude</key>
		<real>134.621002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559820</string>
		<key>latitude</key>
		<real>7.4882600000000004</real>
		<key>longitude</key>
		<real>134.485626</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038014</string>
		<key>latitude</key>
		<real>7.5545600000000004</real>
		<key>longitude</key>
		<real>134.636124</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559864</string>
		<key>latitude</key>
		<real>7.5313400000000001</real>
		<key>longitude</key>
		<real>134.52713</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559543</string>
		<key>latitude</key>
		<real>7.6241599999999998</real>
		<key>longitude</key>
		<real>134.64207500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732297</string>
		<key>latitude</key>
		<real>7.6098600000000003</real>
		<key>longitude</key>
		<real>134.57440199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1641428</string>
		<key>latitude</key>
		<real>-2.9333300000000002</real>
		<key>longitude</key>
		<real>132.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082612</string>
		<key>latitude</key>
		<real>-2.5666699999999998</real>
		<key>longitude</key>
		<real>140.51666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082727</string>
		<key>latitude</key>
		<real>-2.6333299999999999</real>
		<key>longitude</key>
		<real>140.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082600</string>
		<key>latitude</key>
		<real>-2.5333299999999999</real>
		<key>longitude</key>
		<real>140.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2084442</string>
		<key>latitude</key>
		<real>-2.67408</real>
		<key>longitude</key>
		<real>141.302841</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098322</string>
		<key>latitude</key>
		<real>-2.7000000000000002</real>
		<key>longitude</key>
		<real>141.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089168</string>
		<key>latitude</key>
		<real>-3.6098599999999998</real>
		<key>longitude</key>
		<real>141.05183400000001</real>
	</dict>
</array>
</plist>
