<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7040623</string>
		<key>latitude</key>
		<real>-3.7259000000000002</real>
		<key>longitude</key>
		<real>128.145554</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7040630</string>
		<key>latitude</key>
		<real>-3.7197800000000001</real>
		<key>longitude</key>
		<real>128.08744799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7040617</string>
		<key>latitude</key>
		<real>-3.7089500000000002</real>
		<key>longitude</key>
		<real>128.200684</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651531</string>
		<key>latitude</key>
		<real>-3.69543</real>
		<key>longitude</key>
		<real>128.18139600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1632046</string>
		<key>latitude</key>
		<real>-3.6301299999999999</real>
		<key>longitude</key>
		<real>128.25477599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1643323</string>
		<key>latitude</key>
		<real>-3.58229</real>
		<key>longitude</key>
		<real>128.086716</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1901631</string>
		<key>latitude</key>
		<real>-3.5910799999999998</real>
		<key>longitude</key>
		<real>128.34007299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1628682</string>
		<key>latitude</key>
		<real>-3.5699999999999998</real>
		<key>longitude</key>
		<real>128.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1631695</string>
		<key>latitude</key>
		<real>-3.52</real>
		<key>longitude</key>
		<real>128.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1638133</string>
		<key>latitude</key>
		<real>-3.78017</real>
		<key>longitude</key>
		<real>126.51705200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1642125</string>
		<key>latitude</key>
		<real>-3.3500000000000001</real>
		<key>longitude</key>
		<real>128.36000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1937274</string>
		<key>latitude</key>
		<real>-8.5186100000000007</real>
		<key>longitude</key>
		<real>127.00250200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651591</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>128.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1634519</string>
		<key>latitude</key>
		<real>-3.25712</real>
		<key>longitude</key>
		<real>127.100319</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1942534</string>
		<key>latitude</key>
		<real>-8.4600000000000009</real>
		<key>longitude</key>
		<real>126.38472</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1631075</string>
		<key>latitude</key>
		<real>-3.0649099999999998</real>
		<key>longitude</key>
		<real>128.19480899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625027</string>
		<key>latitude</key>
		<real>-2.85344</real>
		<key>longitude</key>
		<real>128.472961</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1943673</string>
		<key>latitude</key>
		<real>-8.8819400000000002</real>
		<key>longitude</key>
		<real>126.37610599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651867</string>
		<key>latitude</key>
		<real>-3.0863499999999999</real>
		<key>longitude</key>
		<real>126.434563</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1645456</string>
		<key>latitude</key>
		<real>-8.5500000000000007</real>
		<key>longitude</key>
		<real>125.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1636627</string>
		<key>latitude</key>
		<real>-3.2384599999999999</real>
		<key>longitude</key>
		<real>130.145264</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1645457</string>
		<key>latitude</key>
		<real>-8.5586099999999998</real>
		<key>longitude</key>
		<real>125.57360799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1966436</string>
		<key>latitude</key>
		<real>-8.8333300000000001</real>
		<key>longitude</key>
		<real>125.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651816</string>
		<key>latitude</key>
		<real>-8.7280599999999993</real>
		<key>longitude</key>
		<real>125.566391</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1890524</string>
		<key>latitude</key>
		<real>-8</real>
		<key>longitude</key>
		<real>131.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651810</string>
		<key>latitude</key>
		<real>-8.9924099999999996</real>
		<key>longitude</key>
		<real>125.508163</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651103</string>
		<key>latitude</key>
		<real>-9.1061099999999993</real>
		<key>longitude</key>
		<real>124.89250199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1622713</string>
		<key>latitude</key>
		<real>-2.1068899999999999</real>
		<key>longitude</key>
		<real>125.964287</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1638735</string>
		<key>latitude</key>
		<real>-1.3517699999999999</real>
		<key>longitude</key>
		<real>127.66928900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1938756</string>
		<key>latitude</key>
		<real>-9.1916700000000002</real>
		<key>longitude</key>
		<real>124.531387</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1623197</string>
		<key>latitude</key>
		<real>-5.6666699999999999</real>
		<key>longitude</key>
		<real>132.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439595</string>
		<key>latitude</key>
		<real>-9.5009999999999994</real>
		<key>longitude</key>
		<real>124.54540299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439603</string>
		<key>latitude</key>
		<real>-9.5772999999999993</real>
		<key>longitude</key>
		<real>124.6241</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1640576</string>
		<key>latitude</key>
		<real>-9.4466699999999992</real>
		<key>longitude</key>
		<real>124.478058</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439665</string>
		<key>latitude</key>
		<real>-9.5860000000000003</real>
		<key>longitude</key>
		<real>124.585899</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439676</string>
		<key>latitude</key>
		<real>-9.6085999999999991</real>
		<key>longitude</key>
		<real>124.597801</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439611</string>
		<key>latitude</key>
		<real>-9.548</real>
		<key>longitude</key>
		<real>124.505501</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1645389</string>
		<key>latitude</key>
		<real>-1.7951999999999999</real>
		<key>longitude</key>
		<real>125.361221</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439627</string>
		<key>latitude</key>
		<real>-9.5859000000000005</real>
		<key>longitude</key>
		<real>124.52780199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439608</string>
		<key>latitude</key>
		<real>-9.5614000000000008</real>
		<key>longitude</key>
		<real>124.50190000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630766</string>
		<key>latitude</key>
		<real>-9.6248000000000005</real>
		<key>longitude</key>
		<real>124.531502</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1641428</string>
		<key>latitude</key>
		<real>-2.9333300000000002</real>
		<key>longitude</key>
		<real>132.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626703</string>
		<key>latitude</key>
		<real>-9.8607099999999992</real>
		<key>longitude</key>
		<real>124.283951</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6977912</string>
		<key>latitude</key>
		<real>-4.8300000000000001</real>
		<key>longitude</key>
		<real>122.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1638874</string>
		<key>latitude</key>
		<real>-0.61667000000000005</real>
		<key>longitude</key>
		<real>127.48333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1648512</string>
		<key>latitude</key>
		<real>-1.9469700000000001</real>
		<key>longitude</key>
		<real>124.382851</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1947261</string>
		<key>latitude</key>
		<real>-9.5999999999999996</real>
		<key>longitude</key>
		<real>123.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1640972</string>
		<key>latitude</key>
		<real>-4.9299999999999997</real>
		<key>longitude</key>
		<real>122.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1638359</string>
		<key>latitude</key>
		<real>-5.0099999999999998</real>
		<key>longitude</key>
		<real>122.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1621900</string>
		<key>latitude</key>
		<real>-5.2999999999999998</real>
		<key>longitude</key>
		<real>122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7473831</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7461922</string>
		<key>latitude</key>
		<real>-8.5</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463931</string>
		<key>latitude</key>
		<real>-8.5600000000000005</real>
		<key>longitude</key>
		<real>122.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463907</string>
		<key>latitude</key>
		<real>-8.5299999999999994</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463951</string>
		<key>latitude</key>
		<real>-8.6099999999999994</real>
		<key>longitude</key>
		<real>122.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1640344</string>
		<key>latitude</key>
		<real>-3.9500000000000002</real>
		<key>longitude</key>
		<real>122.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463945</string>
		<key>latitude</key>
		<real>-8.5899999999999999</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7461917</string>
		<key>latitude</key>
		<real>-8.5</real>
		<key>longitude</key>
		<real>122.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463958</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>122.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463834</string>
		<key>latitude</key>
		<real>-8.5600000000000005</real>
		<key>longitude</key>
		<real>122.61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1634273</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>122.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463867</string>
		<key>latitude</key>
		<real>-8.5899999999999999</real>
		<key>longitude</key>
		<real>122.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463788</string>
		<key>latitude</key>
		<real>-8.5099999999999998</real>
		<key>longitude</key>
		<real>122.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463872</string>
		<key>latitude</key>
		<real>-8.5999999999999996</real>
		<key>longitude</key>
		<real>122.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2056999</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>123.650002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463809</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>122.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1634484</string>
		<key>latitude</key>
		<real>-8.5600000000000005</real>
		<key>longitude</key>
		<real>122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2057087</string>
		<key>latitude</key>
		<real>-10.16667</real>
		<key>longitude</key>
		<real>123.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463885</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626542</string>
		<key>latitude</key>
		<real>-0.88332999999999995</real>
		<key>longitude</key>
		<real>131.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1996549</string>
		<key>latitude</key>
		<real>-2.0833300000000001</real>
		<key>longitude</key>
		<real>132.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574347</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574313</string>
		<key>latitude</key>
		<real>-8.6799999999999997</real>
		<key>longitude</key>
		<real>122.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574409</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574385</string>
		<key>latitude</key>
		<real>-8.7100000000000009</real>
		<key>longitude</key>
		<real>122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574321</string>
		<key>latitude</key>
		<real>-8.6699999999999999</real>
		<key>longitude</key>
		<real>122.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2057031</string>
		<key>latitude</key>
		<real>-10.73333</real>
		<key>longitude</key>
		<real>123.033333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1637001</string>
		<key>latitude</key>
		<real>-0.94999999999999996</real>
		<key>longitude</key>
		<real>122.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626231</string>
		<key>latitude</key>
		<real>-0.91659999999999997</real>
		<key>longitude</key>
		<real>122.353798</real>
	</dict>
</array>
</plist>
