<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1748183</string>
		<key>latitude</key>
		<real>2.26667</real>
		<key>longitude</key>
		<real>111.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735902</string>
		<key>latitude</key>
		<real>2.2999999999999998</real>
		<key>longitude</key>
		<real>111.81667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735837</string>
		<key>latitude</key>
		<real>2.1166700000000001</real>
		<key>longitude</key>
		<real>111.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733045</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>112.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735799</string>
		<key>latitude</key>
		<real>1.24722</real>
		<key>longitude</key>
		<real>111.452782</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1737185</string>
		<key>latitude</key>
		<real>2.01667</real>
		<key>longitude</key>
		<real>112.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1762882</string>
		<key>latitude</key>
		<real>1.23333</real>
		<key>longitude</key>
		<real>111.466667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1748035</string>
		<key>latitude</key>
		<real>3.1166700000000001</real>
		<key>longitude</key>
		<real>113.01667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1737486</string>
		<key>latitude</key>
		<real>3.1666699999999999</real>
		<key>longitude</key>
		<real>113.033333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733038</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>113.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1735634</string>
		<key>latitude</key>
		<real>1.55</real>
		<key>longitude</key>
		<real>110.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1770847</string>
		<key>latitude</key>
		<real>1.4666699999999999</real>
		<key>longitude</key>
		<real>110.349998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626887</string>
		<key>latitude</key>
		<real>0.066669999999999993</real>
		<key>longitude</key>
		<real>111.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1641900</string>
		<key>latitude</key>
		<real>0.0</real>
		<key>longitude</key>
		<real>110.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1635333</string>
		<key>latitude</key>
		<real>1.06667</real>
		<key>longitude</key>
		<real>109.349998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1748489</string>
		<key>latitude</key>
		<real>4.3333300000000001</real>
		<key>longitude</key>
		<real>114</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1778677</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>113.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1738050</string>
		<key>latitude</key>
		<real>4.4147999999999996</real>
		<key>longitude</key>
		<real>114.008904</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1631637</string>
		<key>latitude</key>
		<real>1.1666700000000001</real>
		<key>longitude</key>
		<real>108.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626916</string>
		<key>latitude</key>
		<real>0.90000000000000002</real>
		<key>longitude</key>
		<real>109</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1637646</string>
		<key>latitude</key>
		<real>-0.13333</real>
		<key>longitude</key>
		<real>109.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630789</string>
		<key>latitude</key>
		<real>-0.033329999999999999</real>
		<key>longitude</key>
		<real>109.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625908</string>
		<key>latitude</key>
		<real>0.69999999999999996</real>
		<key>longitude</key>
		<real>108.900002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820491</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>114.18332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820187</string>
		<key>latitude</key>
		<real>4.6166700000000001</real>
		<key>longitude</key>
		<real>114.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1624106</string>
		<key>latitude</key>
		<real>-0.98333000000000004</real>
		<key>longitude</key>
		<real>113.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820814</string>
		<key>latitude</key>
		<real>4.5</real>
		<key>longitude</key>
		<real>114.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630349</string>
		<key>latitude</key>
		<real>-0.58333000000000002</real>
		<key>longitude</key>
		<real>114.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820071</string>
		<key>latitude</key>
		<real>4.7999999999999998</real>
		<key>longitude</key>
		<real>114.650002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820818</string>
		<key>latitude</key>
		<real>4.8333300000000001</real>
		<key>longitude</key>
		<real>114.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1737714</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>115</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630146</string>
		<key>latitude</key>
		<real>3.9166699999999999</real>
		<key>longitude</key>
		<real>108.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820903</string>
		<key>latitude</key>
		<real>4.7166699999999997</real>
		<key>longitude</key>
		<real>115.06667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820614</string>
		<key>latitude</key>
		<real>4.8833299999999999</real>
		<key>longitude</key>
		<real>114.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1637339</string>
		<key>latitude</key>
		<real>3.8985099999999999</real>
		<key>longitude</key>
		<real>115.675049</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820572</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>114.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820906</string>
		<key>latitude</key>
		<real>4.9402900000000001</real>
		<key>longitude</key>
		<real>114.948059</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1641898</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>113.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820363</string>
		<key>latitude</key>
		<real>5.0333300000000003</real>
		<key>longitude</key>
		<real>115.06667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1640118</string>
		<key>latitude</key>
		<real>-1.8333299999999999</real>
		<key>longitude</key>
		<real>109.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1647639</string>
		<key>latitude</key>
		<real>-2.4199999999999999</real>
		<key>longitude</key>
		<real>111.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1641897</string>
		<key>latitude</key>
		<real>1.5</real>
		<key>longitude</key>
		<real>116.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1636322</string>
		<key>latitude</key>
		<real>-2.4700000000000002</real>
		<key>longitude</key>
		<real>111.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1633118</string>
		<key>latitude</key>
		<real>-2.2000000000000002</real>
		<key>longitude</key>
		<real>113.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733782</string>
		<key>latitude</key>
		<real>5.2766700000000002</real>
		<key>longitude</key>
		<real>115.241669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734240</string>
		<key>latitude</key>
		<real>5.3333300000000001</real>
		<key>longitude</key>
		<real>115.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7302815</string>
		<key>latitude</key>
		<real>5.2888299999999999</real>
		<key>longitude</key>
		<real>115.26924099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1628884</string>
		<key>latitude</key>
		<real>-2.5333299999999999</real>
		<key>longitude</key>
		<real>112.949997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1632694</string>
		<key>latitude</key>
		<real>-2.6800000000000002</real>
		<key>longitude</key>
		<real>111.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733874</string>
		<key>latitude</key>
		<real>5.3472999999999997</real>
		<key>longitude</key>
		<real>115.745499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1638054</string>
		<key>latitude</key>
		<real>2.6833300000000002</real>
		<key>longitude</key>
		<real>117.099998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1996551</string>
		<key>latitude</key>
		<real>0.61667000000000005</real>
		<key>longitude</key>
		<real>106.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734098</string>
		<key>latitude</key>
		<real>5.3377999999999997</real>
		<key>longitude</key>
		<real>116.160202</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1623024</string>
		<key>latitude</key>
		<real>2.0499999999999998</real>
		<key>longitude</key>
		<real>117.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733353</string>
		<key>latitude</key>
		<real>5.7333299999999996</real>
		<key>longitude</key>
		<real>115.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651461</string>
		<key>latitude</key>
		<real>-2.4177300000000002</real>
		<key>longitude</key>
		<real>115.249413</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627877</string>
		<key>latitude</key>
		<real>3.8166699999999998</real>
		<key>longitude</key>
		<real>117.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1639304</string>
		<key>latitude</key>
		<real>-3.0091299999999999</real>
		<key>longitude</key>
		<real>114.38758900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733449</string>
		<key>latitude</key>
		<real>5.8231000000000002</real>
		<key>longitude</key>
		<real>116.0466</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1623673</string>
		<key>latitude</key>
		<real>-0.38333</real>
		<key>longitude</key>
		<real>117.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627629</string>
		<key>latitude</key>
		<real>-1.1666700000000001</real>
		<key>longitude</key>
		<real>116.599998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733440</string>
		<key>latitude</key>
		<real>5.9257999999999997</real>
		<key>longitude</key>
		<real>116.06094400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733438</string>
		<key>latitude</key>
		<real>5.9070200000000002</real>
		<key>longitude</key>
		<real>116.101463</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733432</string>
		<key>latitude</key>
		<real>5.9748999999999999</real>
		<key>longitude</key>
		<real>116.07240299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1650064</string>
		<key>latitude</key>
		<real>-2.5833300000000001</real>
		<key>longitude</key>
		<real>115.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1641899</string>
		<key>latitude</key>
		<real>-2.5</real>
		<key>longitude</key>
		<real>115.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1637510</string>
		<key>latitude</key>
		<real>-0.58294999999999997</real>
		<key>longitude</key>
		<real>117.095032</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1629001</string>
		<key>latitude</key>
		<real>-0.5</real>
		<key>longitude</key>
		<real>117.150002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1624725</string>
		<key>latitude</key>
		<real>3.2999999999999998</real>
		<key>longitude</key>
		<real>117.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1648186</string>
		<key>latitude</key>
		<real>0.13333</real>
		<key>longitude</key>
		<real>117.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627529</string>
		<key>latitude</key>
		<real>-3.23333</real>
		<key>longitude</key>
		<real>114.533333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1650527</string>
		<key>latitude</key>
		<real>-1.26753</real>
		<key>longitude</key>
		<real>116.828873</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8224624</string>
		<key>latitude</key>
		<real>-1.24204</real>
		<key>longitude</key>
		<real>116.894188</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627592</string>
		<key>latitude</key>
		<real>-1.26667</real>
		<key>longitude</key>
		<real>116.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1650213</string>
		<key>latitude</key>
		<real>-3.3244199999999999</real>
		<key>longitude</key>
		<real>114.591003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733039</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>117</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733502</string>
		<key>latitude</key>
		<real>5.9538000000000002</real>
		<key>longitude</key>
		<real>116.664101</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630540</string>
		<key>latitude</key>
		<real>-3.4500000000000002</real>
		<key>longitude</key>
		<real>114.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1636022</string>
		<key>latitude</key>
		<real>-3.4166699999999999</real>
		<key>longitude</key>
		<real>114.849998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1636426</string>
		<key>latitude</key>
		<real>-2.8799999999999999</real>
		<key>longitude</key>
		<real>108.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736660</string>
		<key>latitude</key>
		<real>6.351</real>
		<key>longitude</key>
		<real>116.43049600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1624877</string>
		<key>latitude</key>
		<real>-2.75</real>
		<key>longitude</key>
		<real>107.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1625995</string>
		<key>latitude</key>
		<real>-3.2999999999999998</real>
		<key>longitude</key>
		<real>116.01667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1627520</string>
		<key>latitude</key>
		<real>-3.3999999999999999</real>
		<key>longitude</key>
		<real>116.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736458</string>
		<key>latitude</key>
		<real>6.8837000000000002</real>
		<key>longitude</key>
		<real>116.847702</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603928</string>
		<key>latitude</key>
		<real>6.9341999999999997</real>
		<key>longitude</key>
		<real>116.834801</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1923047</string>
		<key>latitude</key>
		<real>-2.6699999999999999</real>
		<key>longitude</key>
		<real>106.67</real>
	</dict>
</array>
</plist>
