<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1571067</string>
		<key>latitude</key>
		<real>11.56667</real>
		<key>longitude</key>
		<real>108.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1586350</string>
		<key>latitude</key>
		<real>11.92144</real>
		<key>longitude</key>
		<real>109.159126</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1565654</string>
		<key>latitude</key>
		<real>12.25</real>
		<key>longitude</key>
		<real>109.18332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1572151</string>
		<key>latitude</key>
		<real>12.25</real>
		<key>longitude</key>
		<real>109.18332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1591793</string>
		<key>latitude</key>
		<real>12.15</real>
		<key>longitude</key>
		<real>109.099998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559971</string>
		<key>latitude</key>
		<real>11.75</real>
		<key>longitude</key>
		<real>108.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1579634</string>
		<key>latitude</key>
		<real>12.33333</real>
		<key>longitude</key>
		<real>109</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1577882</string>
		<key>latitude</key>
		<real>11.5</real>
		<key>longitude</key>
		<real>108.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1571058</string>
		<key>latitude</key>
		<real>10.93333</real>
		<key>longitude</key>
		<real>108.099998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1584071</string>
		<key>latitude</key>
		<real>11.949999999999999</real>
		<key>longitude</key>
		<real>108.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1563281</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>109.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1581882</string>
		<key>latitude</key>
		<real>11.08333</real>
		<key>longitude</key>
		<real>108</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1577995</string>
		<key>latitude</key>
		<real>10.66667</real>
		<key>longitude</key>
		<real>107.783333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1569805</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>109.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1567723</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>109.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1572461</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>109.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1568574</string>
		<key>latitude</key>
		<real>13.77</real>
		<key>longitude</key>
		<real>109.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1584169</string>
		<key>latitude</key>
		<real>12.83</real>
		<key>longitude</key>
		<real>108.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1586896</string>
		<key>latitude</key>
		<real>12.67</real>
		<key>longitude</key>
		<real>108.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1584534</string>
		<key>latitude</key>
		<real>10.58333</real>
		<key>longitude</key>
		<real>107.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1562414</string>
		<key>latitude</key>
		<real>10.34599</real>
		<key>longitude</key>
		<real>107.084259</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1582720</string>
		<key>latitude</key>
		<real>11</real>
		<key>longitude</key>
		<real>107.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1892675</string>
		<key>latitude</key>
		<real>10.36833</real>
		<key>longitude</key>
		<real>107.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1586288</string>
		<key>latitude</key>
		<real>10.41667</real>
		<key>longitude</key>
		<real>106.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1587871</string>
		<key>latitude</key>
		<real>14.17</real>
		<key>longitude</key>
		<real>109</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1587923</string>
		<key>latitude</key>
		<real>10.949999999999999</real>
		<key>longitude</key>
		<real>106.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1582436</string>
		<key>latitude</key>
		<real>11.529999999999999</real>
		<key>longitude</key>
		<real>106.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910088</string>
		<key>latitude</key>
		<real>11.08</real>
		<key>longitude</key>
		<real>106.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1581088</string>
		<key>latitude</key>
		<real>13.75</real>
		<key>longitude</key>
		<real>108.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690237</string>
		<key>latitude</key>
		<real>12.449999999999999</real>
		<key>longitude</key>
		<real>107.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1586296</string>
		<key>latitude</key>
		<real>10.619999999999999</real>
		<key>longitude</key>
		<real>106.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1905480</string>
		<key>latitude</key>
		<real>11.75</real>
		<key>longitude</key>
		<real>106.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1566083</string>
		<key>latitude</key>
		<real>10.75</real>
		<key>longitude</key>
		<real>106.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1822227</string>
		<key>latitude</key>
		<real>12.449999999999999</real>
		<key>longitude</key>
		<real>107.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1580578</string>
		<key>latitude</key>
		<real>10.83</real>
		<key>longitude</key>
		<real>106.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1565593</string>
		<key>latitude</key>
		<real>10.83</real>
		<key>longitude</key>
		<real>106.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1565022</string>
		<key>latitude</key>
		<real>10.970000000000001</real>
		<key>longitude</key>
		<real>106.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1905475</string>
		<key>latitude</key>
		<real>11.17</real>
		<key>longitude</key>
		<real>106.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1728675</string>
		<key>latitude</key>
		<real>7.9867999999999997</real>
		<key>longitude</key>
		<real>117.064499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1587974</string>
		<key>latitude</key>
		<real>10.16667</real>
		<key>longitude</key>
		<real>106.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1684759</string>
		<key>latitude</key>
		<real>8.6753199999999993</real>
		<key>longitude</key>
		<real>117.33989699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1584807</string>
		<key>latitude</key>
		<real>8.6833299999999998</real>
		<key>longitude</key>
		<real>106.616669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1695736</string>
		<key>latitude</key>
		<real>8.7841699999999996</real>
		<key>longitude</key>
		<real>117.423058</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1567069</string>
		<key>latitude</key>
		<real>10.529999999999999</real>
		<key>longitude</key>
		<real>106.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1584661</string>
		<key>latitude</key>
		<real>10.970000000000001</real>
		<key>longitude</key>
		<real>106.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1716963</string>
		<key>latitude</key>
		<real>8.8620000000000001</real>
		<key>longitude</key>
		<real>117.489304</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1587976</string>
		<key>latitude</key>
		<real>10.23</real>
		<key>longitude</key>
		<real>106.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1691703</string>
		<key>latitude</key>
		<real>8.5061300000000006</real>
		<key>longitude</key>
		<real>117.431686</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1563926</string>
		<key>latitude</key>
		<real>9.9347200000000004</real>
		<key>longitude</key>
		<real>106.34528400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1574023</string>
		<key>latitude</key>
		<real>10.35</real>
		<key>longitude</key>
		<real>106.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1569684</string>
		<key>latitude</key>
		<real>13.98</real>
		<key>longitude</key>
		<real>108</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1682775</string>
		<key>latitude</key>
		<real>8.6546199999999995</real>
		<key>longitude</key>
		<real>117.51039900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1691872</string>
		<key>latitude</key>
		<real>8.9602799999999991</real>
		<key>longitude</key>
		<real>117.582779</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1575864</string>
		<key>latitude</key>
		<real>11.85</real>
		<key>longitude</key>
		<real>106.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734240</string>
		<key>latitude</key>
		<real>5.3333300000000001</real>
		<key>longitude</key>
		<real>115.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603928</string>
		<key>latitude</key>
		<real>6.9341999999999997</real>
		<key>longitude</key>
		<real>116.834801</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733432</string>
		<key>latitude</key>
		<real>5.9748999999999999</real>
		<key>longitude</key>
		<real>116.07240299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736660</string>
		<key>latitude</key>
		<real>6.351</real>
		<key>longitude</key>
		<real>116.43049600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1726256</string>
		<key>latitude</key>
		<real>8.6616700000000009</real>
		<key>longitude</key>
		<real>117.62222300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733782</string>
		<key>latitude</key>
		<real>5.2766700000000002</real>
		<key>longitude</key>
		<real>115.241669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7302815</string>
		<key>latitude</key>
		<real>5.2888299999999999</real>
		<key>longitude</key>
		<real>115.26924099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1736458</string>
		<key>latitude</key>
		<real>6.8837000000000002</real>
		<key>longitude</key>
		<real>116.847702</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733440</string>
		<key>latitude</key>
		<real>5.9257999999999997</real>
		<key>longitude</key>
		<real>116.06094400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733438</string>
		<key>latitude</key>
		<real>5.9070200000000002</real>
		<key>longitude</key>
		<real>116.101463</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733353</string>
		<key>latitude</key>
		<real>5.7333299999999996</real>
		<key>longitude</key>
		<real>115.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733449</string>
		<key>latitude</key>
		<real>5.8231000000000002</real>
		<key>longitude</key>
		<real>116.0466</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820363</string>
		<key>latitude</key>
		<real>5.0333300000000003</real>
		<key>longitude</key>
		<real>115.06667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820071</string>
		<key>latitude</key>
		<real>4.7999999999999998</real>
		<key>longitude</key>
		<real>114.650002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820572</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>114.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820491</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>114.18332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820906</string>
		<key>latitude</key>
		<real>4.9402900000000001</real>
		<key>longitude</key>
		<real>114.948059</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1578500</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>108</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820187</string>
		<key>latitude</key>
		<real>4.6166700000000001</real>
		<key>longitude</key>
		<real>114.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820614</string>
		<key>latitude</key>
		<real>4.8833299999999999</real>
		<key>longitude</key>
		<real>114.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820818</string>
		<key>latitude</key>
		<real>4.8333300000000001</real>
		<key>longitude</key>
		<real>114.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1738050</string>
		<key>latitude</key>
		<real>4.4147999999999996</real>
		<key>longitude</key>
		<real>114.008904</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1778677</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>113.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733874</string>
		<key>latitude</key>
		<real>5.3472999999999997</real>
		<key>longitude</key>
		<real>115.745499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1568769</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>108.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1568770</string>
		<key>latitude</key>
		<real>15.119999999999999</real>
		<key>longitude</key>
		<real>108.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1830377</string>
		<key>latitude</key>
		<real>13.49</real>
		<key>longitude</key>
		<real>106.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1737714</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>115</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820903</string>
		<key>latitude</key>
		<real>4.7166699999999997</real>
		<key>longitude</key>
		<real>115.06667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1820814</string>
		<key>latitude</key>
		<real>4.5</real>
		<key>longitude</key>
		<real>114.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1822449</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>107.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733502</string>
		<key>latitude</key>
		<real>5.9538000000000002</real>
		<key>longitude</key>
		<real>116.664101</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6942076</string>
		<key>latitude</key>
		<real>13.75</real>
		<key>longitude</key>
		<real>107</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1565088</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>107.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1734098</string>
		<key>latitude</key>
		<real>5.3377999999999997</real>
		<key>longitude</key>
		<real>116.160202</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1567148</string>
		<key>latitude</key>
		<real>15.57</real>
		<key>longitude</key>
		<real>108.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1733039</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>117</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1665045</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>107</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648299</string>
		<key>latitude</key>
		<real>15.02</real>
		<key>longitude</key>
		<real>107.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1905516</string>
		<key>latitude</key>
		<real>15.58</real>
		<key>longitude</key>
		<real>107.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1664331</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>106.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1665046</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>106.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648072</string>
		<key>latitude</key>
		<real>15.470000000000001</real>
		<key>longitude</key>
		<real>107.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1659990</string>
		<key>latitude</key>
		<real>15.42</real>
		<key>longitude</key>
		<real>106.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1655094</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>106.38</real>
	</dict>
</array>
</plist>
