<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>921028</string>
		<key>latitude</key>
		<real>-14.07</real>
		<key>longitude</key>
		<real>32.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>899825</string>
		<key>latitude</key>
		<real>-14.24</real>
		<key>longitude</key>
		<real>31.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>907439</string>
		<key>latitude</key>
		<real>-13.550000000000001</real>
		<key>longitude</key>
		<real>32.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>918702</string>
		<key>latitude</key>
		<real>-13.630000000000001</real>
		<key>longitude</key>
		<real>32.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>899903</string>
		<key>latitude</key>
		<real>-13.27</real>
		<key>longitude</key>
		<real>31.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>914555</string>
		<key>latitude</key>
		<real>-14.130000000000001</real>
		<key>longitude</key>
		<real>31.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926747</string>
		<key>latitude</key>
		<real>-13.800000000000001</real>
		<key>longitude</key>
		<real>32.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917388</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>32.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926745</string>
		<key>latitude</key>
		<real>-13.76</real>
		<key>longitude</key>
		<real>33.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>900056</string>
		<key>latitude</key>
		<real>-14.56</real>
		<key>longitude</key>
		<real>30.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1085582</string>
		<key>latitude</key>
		<real>-15.289999999999999</real>
		<key>longitude</key>
		<real>32.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1047925</string>
		<key>latitude</key>
		<real>-14.48</real>
		<key>longitude</key>
		<real>33.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926523</string>
		<key>latitude</key>
		<real>-13.58</real>
		<key>longitude</key>
		<real>33.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924716</string>
		<key>latitude</key>
		<real>-13.51</real>
		<key>longitude</key>
		<real>33.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927964</string>
		<key>latitude</key>
		<real>-14.02</real>
		<key>longitude</key>
		<real>33.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>928531</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>33.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925074</string>
		<key>latitude</key>
		<real>-13.98</real>
		<key>longitude</key>
		<real>33.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>928534</string>
		<key>latitude</key>
		<real>-13.029999999999999</real>
		<key>longitude</key>
		<real>33.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927967</string>
		<key>latitude</key>
		<real>-13.970000000000001</real>
		<key>longitude</key>
		<real>33.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>929083</string>
		<key>latitude</key>
		<real>-13.779999999999999</real>
		<key>longitude</key>
		<real>33.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926087</string>
		<key>latitude</key>
		<real>-13.529999999999999</real>
		<key>longitude</key>
		<real>33.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1026010</string>
		<key>latitude</key>
		<real>-15.5</real>
		<key>longitude</key>
		<real>33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>929975</string>
		<key>latitude</key>
		<real>-13.6</real>
		<key>longitude</key>
		<real>33.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>898912</string>
		<key>latitude</key>
		<real>-13.23</real>
		<key>longitude</key>
		<real>30.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924491</string>
		<key>latitude</key>
		<real>-13.529999999999999</real>
		<key>longitude</key>
		<real>33.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>929977</string>
		<key>latitude</key>
		<real>-13.65</real>
		<key>longitude</key>
		<real>33.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927384</string>
		<key>latitude</key>
		<real>-13.5</real>
		<key>longitude</key>
		<real>34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931597</string>
		<key>latitude</key>
		<real>-13.5</real>
		<key>longitude</key>
		<real>34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>904838</string>
		<key>latitude</key>
		<real>-13.130000000000001</real>
		<key>longitude</key>
		<real>30.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909299</string>
		<key>latitude</key>
		<real>-12.289999999999999</real>
		<key>longitude</key>
		<real>33.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924682</string>
		<key>latitude</key>
		<real>-14.17</real>
		<key>longitude</key>
		<real>34.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>900969</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>33.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>929742</string>
		<key>latitude</key>
		<real>-14.1</real>
		<key>longitude</key>
		<real>34.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930023</string>
		<key>latitude</key>
		<real>-14.26</real>
		<key>longitude</key>
		<real>34.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895949</string>
		<key>latitude</key>
		<real>-15</real>
		<key>longitude</key>
		<real>30</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1043298</string>
		<key>latitude</key>
		<real>-15.9</real>
		<key>longitude</key>
		<real>33.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909887</string>
		<key>latitude</key>
		<real>-15.619999999999999</real>
		<key>longitude</key>
		<real>30.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905846</string>
		<key>latitude</key>
		<real>-11.83</real>
		<key>longitude</key>
		<real>31.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930025</string>
		<key>latitude</key>
		<real>-14.380000000000001</real>
		<key>longitude</key>
		<real>34.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924053</string>
		<key>latitude</key>
		<real>-13.720000000000001</real>
		<key>longitude</key>
		<real>34.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924703</string>
		<key>latitude</key>
		<real>-12.800000000000001</real>
		<key>longitude</key>
		<real>34.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924055</string>
		<key>latitude</key>
		<real>-13.779999999999999</real>
		<key>longitude</key>
		<real>34.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930629</string>
		<key>latitude</key>
		<real>-13.99</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924705</string>
		<key>latitude</key>
		<real>-12.93</real>
		<key>longitude</key>
		<real>34.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>916211</string>
		<key>latitude</key>
		<real>-11.57</real>
		<key>longitude</key>
		<real>31.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926623</string>
		<key>latitude</key>
		<real>-13.75</real>
		<key>longitude</key>
		<real>34.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>906221</string>
		<key>latitude</key>
		<real>-13.619999999999999</real>
		<key>longitude</key>
		<real>29.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930813</string>
		<key>latitude</key>
		<real>-12.539999999999999</real>
		<key>longitude</key>
		<real>34.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925498</string>
		<key>latitude</key>
		<real>-11.9</real>
		<key>longitude</key>
		<real>33.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1027832</string>
		<key>latitude</key>
		<real>-16.100000000000001</real>
		<key>longitude</key>
		<real>33.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1026014</string>
		<key>latitude</key>
		<real>-16.16</real>
		<key>longitude</key>
		<real>33.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925496</string>
		<key>latitude</key>
		<real>-11.85</real>
		<key>longitude</key>
		<real>33.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924492</string>
		<key>latitude</key>
		<real>-14.82</real>
		<key>longitude</key>
		<real>34.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925812</string>
		<key>latitude</key>
		<real>-11.539999999999999</real>
		<key>longitude</key>
		<real>33.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>885800</string>
		<key>latitude</key>
		<real>-16.77</real>
		<key>longitude</key>
		<real>31.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>926308</string>
		<key>latitude</key>
		<real>-14.07</real>
		<key>longitude</key>
		<real>34.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839145</string>
		<key>latitude</key>
		<real>-14.08</real>
		<key>longitude</key>
		<real>34.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894460</string>
		<key>latitude</key>
		<real>-16.719999999999999</real>
		<key>longitude</key>
		<real>31.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921064</string>
		<key>latitude</key>
		<real>-14</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925596</string>
		<key>latitude</key>
		<real>-15.6</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924963</string>
		<key>latitude</key>
		<real>-15.4</real>
		<key>longitude</key>
		<real>34.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920901</string>
		<key>latitude</key>
		<real>-11.210000000000001</real>
		<key>longitude</key>
		<real>33.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931865</string>
		<key>latitude</key>
		<real>-14.98</real>
		<key>longitude</key>
		<real>34.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1105840</string>
		<key>latitude</key>
		<real>-15.050000000000001</real>
		<key>longitude</key>
		<real>35.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886843</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>900601</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927246</string>
		<key>latitude</key>
		<real>-14.48</real>
		<key>longitude</key>
		<real>35.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925475</string>
		<key>latitude</key>
		<real>-11.470000000000001</real>
		<key>longitude</key>
		<real>34.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>928434</string>
		<key>latitude</key>
		<real>-11.460000000000001</real>
		<key>longitude</key>
		<real>34.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7385181</string>
		<key>latitude</key>
		<real>-17.210000000000001</real>
		<key>longitude</key>
		<real>32.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>913029</string>
		<key>latitude</key>
		<real>-13.970000000000001</real>
		<key>longitude</key>
		<real>28.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1043893</string>
		<key>latitude</key>
		<real>-13.31</real>
		<key>longitude</key>
		<real>35.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>884798</string>
		<key>latitude</key>
		<real>-17.030000000000001</real>
		<key>longitude</key>
		<real>30.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909129</string>
		<key>latitude</key>
		<real>-15.42</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1026634</string>
		<key>latitude</key>
		<real>-13.25</real>
		<key>longitude</key>
		<real>35.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923817</string>
		<key>latitude</key>
		<real>-15.5</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924732</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>34.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927834</string>
		<key>latitude</key>
		<real>-15.050000000000001</real>
		<key>longitude</key>
		<real>35.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927245</string>
		<key>latitude</key>
		<real>-14.390000000000001</real>
		<key>longitude</key>
		<real>35.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931754</string>
		<key>latitude</key>
		<real>-15.65</real>
		<key>longitude</key>
		<real>34.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930582</string>
		<key>latitude</key>
		<real>-12.07</real>
		<key>longitude</key>
		<real>34.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931039</string>
		<key>latitude</key>
		<real>-15.67</real>
		<key>longitude</key>
		<real>34.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>881345</string>
		<key>latitude</key>
		<real>-17.309999999999999</real>
		<key>longitude</key>
		<real>31.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895061</string>
		<key>latitude</key>
		<real>-17.300000000000001</real>
		<key>longitude</key>
		<real>31.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931070</string>
		<key>latitude</key>
		<real>-16.030000000000001</real>
		<key>longitude</key>
		<real>34.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886146</string>
		<key>latitude</key>
		<real>-16.890000000000001</real>
		<key>longitude</key>
		<real>30.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>882722</string>
		<key>latitude</key>
		<real>-17.030000000000001</real>
		<key>longitude</key>
		<real>30.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908248</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>28.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927643</string>
		<key>latitude</key>
		<real>-15.17</real>
		<key>longitude</key>
		<real>35.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>884927</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>32.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>931755</string>
		<key>latitude</key>
		<real>-15.779999999999999</real>
		<key>longitude</key>
		<real>35.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901344</string>
		<key>latitude</key>
		<real>-12.960000000000001</real>
		<key>longitude</key>
		<real>28.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839184</string>
		<key>latitude</key>
		<real>-15.789999999999999</real>
		<key>longitude</key>
		<real>35.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>918905</string>
		<key>latitude</key>
		<real>-10.539999999999999</real>
		<key>longitude</key>
		<real>32.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930580</string>
		<key>latitude</key>
		<real>-15.67</real>
		<key>longitude</key>
		<real>35.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>916095</string>
		<key>latitude</key>
		<real>-14.449999999999999</real>
		<key>longitude</key>
		<real>28.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917688</string>
		<key>latitude</key>
		<real>-15.33</real>
		<key>longitude</key>
		<real>28.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>891099</string>
		<key>latitude</key>
		<real>-17.359999999999999</real>
		<key>longitude</key>
		<real>31.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924102</string>
		<key>latitude</key>
		<real>-11.02</real>
		<key>longitude</key>
		<real>33.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923295</string>
		<key>latitude</key>
		<real>-15.390000000000001</real>
		<key>longitude</key>
		<real>35.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886842</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>887648</string>
		<key>latitude</key>
		<real>-16.32</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>892876</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>30.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>899274</string>
		<key>latitude</key>
		<real>-11.359999999999999</real>
		<key>longitude</key>
		<real>29.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924591</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909863</string>
		<key>latitude</key>
		<real>-13.140000000000001</real>
		<key>longitude</key>
		<real>28.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889191</string>
		<key>latitude</key>
		<real>-16.809999999999999</real>
		<key>longitude</key>
		<real>29.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923292</string>
		<key>latitude</key>
		<real>-15.43</real>
		<key>longitude</key>
		<real>35.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886384</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>30.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>885159</string>
		<key>latitude</key>
		<real>-17.640000000000001</real>
		<key>longitude</key>
		<real>31.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924100</string>
		<key>latitude</key>
		<real>-10.800000000000001</real>
		<key>longitude</key>
		<real>33.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>893397</string>
		<key>latitude</key>
		<real>-16.030000000000001</real>
		<key>longitude</key>
		<real>28.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908734</string>
		<key>latitude</key>
		<real>-14.23</real>
		<key>longitude</key>
		<real>28.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923652</string>
		<key>latitude</key>
		<real>-16.07</real>
		<key>longitude</key>
		<real>35.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>930283</string>
		<key>latitude</key>
		<real>-16.109999999999999</real>
		<key>longitude</key>
		<real>35.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895417</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>30.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920928</string>
		<key>latitude</key>
		<real>-15.369999999999999</real>
		<key>longitude</key>
		<real>28.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921061</string>
		<key>latitude</key>
		<real>-11.26</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905789</string>
		<key>latitude</key>
		<real>-13.51</real>
		<key>longitude</key>
		<real>28.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927792</string>
		<key>latitude</key>
		<real>-16.010000000000002</real>
		<key>longitude</key>
		<real>35.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>893697</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>30.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878023</string>
		<key>latitude</key>
		<real>-11.279999999999999</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>911148</string>
		<key>latitude</key>
		<real>-12.800000000000001</real>
		<key>longitude</key>
		<real>28.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886841</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909137</string>
		<key>latitude</key>
		<real>-15.41</real>
		<key>longitude</key>
		<real>28.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920233</string>
		<key>latitude</key>
		<real>-14.66</real>
		<key>longitude</key>
		<real>28.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>912764</string>
		<key>latitude</key>
		<real>-10.210000000000001</real>
		<key>longitude</key>
		<real>31.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>896662</string>
		<key>latitude</key>
		<real>-10.220000000000001</real>
		<key>longitude</key>
		<real>31.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>900813</string>
		<key>latitude</key>
		<real>-12.83</real>
		<key>longitude</key>
		<real>28.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>904241</string>
		<key>latitude</key>
		<real>-10.17</real>
		<key>longitude</key>
		<real>31.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878242</string>
		<key>latitude</key>
		<real>-11.08</real>
		<key>longitude</key>
		<real>34.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>916668</string>
		<key>latitude</key>
		<real>-10.16</real>
		<key>longitude</key>
		<real>32.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925788</string>
		<key>latitude</key>
		<real>-15.93</real>
		<key>longitude</key>
		<real>35.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894310</string>
		<key>latitude</key>
		<real>-16.550000000000001</real>
		<key>longitude</key>
		<real>28.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>884428</string>
		<key>latitude</key>
		<real>-17.809999999999999</real>
		<key>longitude</key>
		<real>31.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>904264</string>
		<key>latitude</key>
		<real>-15.23</real>
		<key>longitude</key>
		<real>28.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106407</string>
		<key>latitude</key>
		<real>-17.82</real>
		<key>longitude</key>
		<real>31.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1105844</string>
		<key>latitude</key>
		<real>-17.82</real>
		<key>longitude</key>
		<real>31.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>905395</string>
		<key>latitude</key>
		<real>-12.550000000000001</real>
		<key>longitude</key>
		<real>28.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>890299</string>
		<key>latitude</key>
		<real>-17.829999999999998</real>
		<key>longitude</key>
		<real>31.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>925789</string>
		<key>latitude</key>
		<real>-16.030000000000001</real>
		<key>longitude</key>
		<real>35.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924206</string>
		<key>latitude</key>
		<real>-15.81</real>
		<key>longitude</key>
		<real>35.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>927856</string>
		<key>latitude</key>
		<real>-10.609999999999999</real>
		<key>longitude</key>
		<real>34.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106398</string>
		<key>latitude</key>
		<real>-17.859999999999999</real>
		<key>longitude</key>
		<real>31.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>899151</string>
		<key>latitude</key>
		<real>-10.050000000000001</real>
		<key>longitude</key>
		<real>32.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1085510</string>
		<key>latitude</key>
		<real>-17.890000000000001</real>
		<key>longitude</key>
		<real>31.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>914959</string>
		<key>latitude</key>
		<real>-12.84</real>
		<key>longitude</key>
		<real>28.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1085511</string>
		<key>latitude</key>
		<real>-17.890000000000001</real>
		<key>longitude</key>
		<real>31.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889215</string>
		<key>latitude</key>
		<real>-16.52</real>
		<key>longitude</key>
		<real>28.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877384</string>
		<key>latitude</key>
		<real>-11.300000000000001</real>
		<key>longitude</key>
		<real>35.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1085520</string>
		<key>latitude</key>
		<real>-17.91</real>
		<key>longitude</key>
		<real>31.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917524</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>898188</string>
		<key>latitude</key>
		<real>-16.539999999999999</real>
		<key>longitude</key>
		<real>28.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>884141</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>30.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>920820</string>
		<key>latitude</key>
		<real>-12.630000000000001</real>
		<key>longitude</key>
		<real>28.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>915883</string>
		<key>latitude</key>
		<real>-15.77</real>
		<key>longitude</key>
		<real>28.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106542</string>
		<key>latitude</key>
		<real>-18.010000000000002</real>
		<key>longitude</key>
		<real>31.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924567</string>
		<key>latitude</key>
		<real>-16.75</real>
		<key>longitude</key>
		<real>35.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>907770</string>
		<key>latitude</key>
		<real>-11.199999999999999</real>
		<key>longitude</key>
		<real>28.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>888089</string>
		<key>latitude</key>
		<real>-18.140000000000001</real>
		<key>longitude</key>
		<real>31.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919255</string>
		<key>latitude</key>
		<real>-11.17</real>
		<key>longitude</key>
		<real>28.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909845</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886990</string>
		<key>latitude</key>
		<real>-18.190000000000001</real>
		<key>longitude</key>
		<real>31.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908913</string>
		<key>latitude</key>
		<real>-10.26</real>
		<key>longitude</key>
		<real>29.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877998</string>
		<key>latitude</key>
		<real>-10.93</real>
		<key>longitude</key>
		<real>35.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919009</string>
		<key>latitude</key>
		<real>-12.529999999999999</real>
		<key>longitude</key>
		<real>27.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>890242</string>
		<key>latitude</key>
		<real>-18.280000000000001</real>
		<key>longitude</key>
		<real>32.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>883481</string>
		<key>latitude</key>
		<real>-18.219999999999999</real>
		<key>longitude</key>
		<real>32.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>924572</string>
		<key>latitude</key>
		<real>-16.920000000000002</real>
		<key>longitude</key>
		<real>35.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917889</string>
		<key>latitude</key>
		<real>-12.550000000000001</real>
		<key>longitude</key>
		<real>27.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>928657</string>
		<key>latitude</key>
		<real>-10.109999999999999</real>
		<key>longitude</key>
		<real>33.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878041</string>
		<key>latitude</key>
		<real>-10.75</real>
		<key>longitude</key>
		<real>34.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1039000</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>34.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878087</string>
		<key>latitude</key>
		<real>-10.470000000000001</real>
		<key>longitude</key>
		<real>34.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878400</string>
		<key>latitude</key>
		<real>-10.800000000000001</real>
		<key>longitude</key>
		<real>35.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919544</string>
		<key>latitude</key>
		<real>-12.359999999999999</real>
		<key>longitude</key>
		<real>27.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895308</string>
		<key>latitude</key>
		<real>-18.25</real>
		<key>longitude</key>
		<real>30.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922944</string>
		<key>latitude</key>
		<real>-12.199999999999999</real>
		<key>longitude</key>
		<real>27.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1047660</string>
		<key>latitude</key>
		<real>-14.800000000000001</real>
		<key>longitude</key>
		<real>36.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902344</string>
		<key>latitude</key>
		<real>-15.83</real>
		<key>longitude</key>
		<real>27.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235751</string>
		<key>latitude</key>
		<real>-9.6999999999999993</real>
		<key>longitude</key>
		<real>33.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235715</string>
		<key>latitude</key>
		<real>-9.9299999999999997</real>
		<key>longitude</key>
		<real>33.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894239</string>
		<key>latitude</key>
		<real>-18.129999999999999</real>
		<key>longitude</key>
		<real>30.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>907111</string>
		<key>latitude</key>
		<real>-15.859999999999999</real>
		<key>longitude</key>
		<real>27.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>882100</string>
		<key>latitude</key>
		<real>-18.530000000000001</real>
		<key>longitude</key>
		<real>32.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894413</string>
		<key>latitude</key>
		<real>-18.059999999999999</real>
		<key>longitude</key>
		<real>29.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>883258</string>
		<key>latitude</key>
		<real>-18.710000000000001</real>
		<key>longitude</key>
		<real>32.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>175555</string>
		<key>latitude</key>
		<real>-9.3399999999999999</real>
		<key>longitude</key>
		<real>32.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>158876</string>
		<key>latitude</key>
		<real>-9.4000000000000004</real>
		<key>longitude</key>
		<real>33.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>149402</string>
		<key>latitude</key>
		<real>-9.3000000000000007</real>
		<key>longitude</key>
		<real>32.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878073</string>
		<key>latitude</key>
		<real>-10.58</real>
		<key>longitude</key>
		<real>35.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889453</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>29.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>156111</string>
		<key>latitude</key>
		<real>-9.5800000000000001</real>
		<key>longitude</key>
		<real>33.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877426</string>
		<key>latitude</key>
		<real>-10.699999999999999</real>
		<key>longitude</key>
		<real>35.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152183</string>
		<key>latitude</key>
		<real>-9.5500000000000007</real>
		<key>longitude</key>
		<real>33.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902721</string>
		<key>latitude</key>
		<real>-10.380000000000001</real>
		<key>longitude</key>
		<real>28.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877401</string>
		<key>latitude</key>
		<real>-10.68</real>
		<key>longitude</key>
		<real>35.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>904422</string>
		<key>latitude</key>
		<real>-14.98</real>
		<key>longitude</key>
		<real>27.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153408</string>
		<key>latitude</key>
		<real>-9.7799999999999994</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159107</string>
		<key>latitude</key>
		<real>-9.4800000000000004</real>
		<key>longitude</key>
		<real>33.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917011</string>
		<key>latitude</key>
		<real>-16.5</real>
		<key>longitude</key>
		<real>27.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1088155</string>
		<key>latitude</key>
		<real>-14.869999999999999</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>906044</string>
		<key>latitude</key>
		<real>-16.280000000000001</real>
		<key>longitude</key>
		<real>27.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>877416</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159219</string>
		<key>latitude</key>
		<real>-9.25</real>
		<key>longitude</key>
		<real>33.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>882955</string>
		<key>latitude</key>
		<real>-18.890000000000001</real>
		<key>longitude</key>
		<real>32.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922262</string>
		<key>latitude</key>
		<real>-11.619999999999999</real>
		<key>longitude</key>
		<real>27.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>148942</string>
		<key>latitude</key>
		<real>-9.1199999999999992</real>
		<key>longitude</key>
		<real>32.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1030006</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154666</string>
		<key>latitude</key>
		<real>-9.3300000000000001</real>
		<key>longitude</key>
		<real>33.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>883183</string>
		<key>latitude</key>
		<real>-18.960000000000001</real>
		<key>longitude</key>
		<real>32.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>175967</string>
		<key>latitude</key>
		<real>-9.3699999999999992</real>
		<key>longitude</key>
		<real>30.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922704</string>
		<key>latitude</key>
		<real>-11.66</real>
		<key>longitude</key>
		<real>27.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7418156</string>
		<key>latitude</key>
		<real>-18.969999999999999</real>
		<key>longitude</key>
		<real>32.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>884979</string>
		<key>latitude</key>
		<real>-18.969999999999999</real>
		<key>longitude</key>
		<real>32.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>149437</string>
		<key>latitude</key>
		<real>-9.25</real>
		<key>longitude</key>
		<real>33.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>887358</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>32.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>158151</string>
		<key>latitude</key>
		<real>-9.2300000000000004</real>
		<key>longitude</key>
		<real>33.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>156627</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>33.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>892156</string>
		<key>latitude</key>
		<real>-19.07</real>
		<key>longitude</key>
		<real>31.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176555</string>
		<key>latitude</key>
		<real>-9.7899999999999991</real>
		<key>longitude</key>
		<real>29.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153352</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>32.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>893172</string>
		<key>latitude</key>
		<real>-19.02</real>
		<key>longitude</key>
		<real>30.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>890983</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>28.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1036973</string>
		<key>latitude</key>
		<real>-18.25</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922806</string>
		<key>latitude</key>
		<real>-11.77</real>
		<key>longitude</key>
		<real>27.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>158422</string>
		<key>latitude</key>
		<real>-9.1500000000000004</real>
		<key>longitude</key>
		<real>33.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176146</string>
		<key>latitude</key>
		<real>-8.8399999999999999</real>
		<key>longitude</key>
		<real>31.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1040947</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>33.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155285</string>
		<key>latitude</key>
		<real>-9.9299999999999997</real>
		<key>longitude</key>
		<real>35.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1086131</string>
		<key>latitude</key>
		<real>-13.43</real>
		<key>longitude</key>
		<real>37.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154380</string>
		<key>latitude</key>
		<real>-8.9000000000000004</real>
		<key>longitude</key>
		<real>33.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>175961</string>
		<key>latitude</key>
		<real>-8.7599999999999998</real>
		<key>longitude</key>
		<real>31.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902106</string>
		<key>latitude</key>
		<real>-16.420000000000002</real>
		<key>longitude</key>
		<real>27.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1049261</string>
		<key>latitude</key>
		<real>-19.120000000000001</real>
		<key>longitude</key>
		<real>33.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>149239</string>
		<key>latitude</key>
		<real>-8.9299999999999997</real>
		<key>longitude</key>
		<real>33.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1040039</string>
		<key>latitude</key>
		<real>-19.149999999999999</real>
		<key>longitude</key>
		<real>33.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886119</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>30</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>888710</string>
		<key>latitude</key>
		<real>-18.93</real>
		<key>longitude</key>
		<real>29.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154635</string>
		<key>latitude</key>
		<real>-8.9800000000000004</real>
		<key>longitude</key>
		<real>33.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>151479</string>
		<key>latitude</key>
		<real>-9.3300000000000001</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>894015</string>
		<key>latitude</key>
		<real>-18.149999999999999</real>
		<key>longitude</key>
		<real>28.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>156098</string>
		<key>latitude</key>
		<real>-8.5700000000000003</real>
		<key>longitude</key>
		<real>32.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>896972</string>
		<key>latitude</key>
		<real>-16.5</real>
		<key>longitude</key>
		<real>27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>897456</string>
		<key>latitude</key>
		<real>-17.260000000000002</real>
		<key>longitude</key>
		<real>27.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159380</string>
		<key>latitude</key>
		<real>-8.8499999999999996</real>
		<key>longitude</key>
		<real>33.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>882599</string>
		<key>latitude</key>
		<real>-19.030000000000001</real>
		<key>longitude</key>
		<real>29.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>884814</string>
		<key>latitude</key>
		<real>-19.280000000000001</real>
		<key>longitude</key>
		<real>30.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>160464</string>
		<key>latitude</key>
		<real>-8.8499999999999996</real>
		<key>longitude</key>
		<real>34.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176947</string>
		<key>latitude</key>
		<real>-9.4199999999999999</real>
		<key>longitude</key>
		<real>28.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154375</string>
		<key>latitude</key>
		<real>-8.5</real>
		<key>longitude</key>
		<real>33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>888667</string>
		<key>latitude</key>
		<real>-19.329999999999998</real>
		<key>longitude</key>
		<real>30.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>917748</string>
		<key>latitude</key>
		<real>-16.809999999999999</real>
		<key>longitude</key>
		<real>26.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>175499</string>
		<key>latitude</key>
		<real>-9.3499999999999996</real>
		<key>longitude</key>
		<real>28.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901766</string>
		<key>latitude</key>
		<real>-15.75</real>
		<key>longitude</key>
		<real>26.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1024312</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152718</string>
		<key>latitude</key>
		<real>-9.0199999999999996</real>
		<key>longitude</key>
		<real>34.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159218</string>
		<key>latitude</key>
		<real>-8.9000000000000004</real>
		<key>longitude</key>
		<real>34.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>915680</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>27.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>913613</string>
		<key>latitude</key>
		<real>-12.1</real>
		<key>longitude</key>
		<real>26.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>908718</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>27.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>897045</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>26.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>895057</string>
		<key>latitude</key>
		<real>-17.620000000000001</real>
		<key>longitude</key>
		<real>27.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>878675</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>150453</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>34.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>159067</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>890422</string>
		<key>latitude</key>
		<real>-19.449999999999999</real>
		<key>longitude</key>
		<real>29.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155101</string>
		<key>latitude</key>
		<real>-8.8499999999999996</real>
		<key>longitude</key>
		<real>34.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1043458</string>
		<key>latitude</key>
		<real>-18.390000000000001</real>
		<key>longitude</key>
		<real>36.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922741</string>
		<key>latitude</key>
		<real>-10.98</real>
		<key>longitude</key>
		<real>26.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176758</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>29.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1028434</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>36.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155052</string>
		<key>latitude</key>
		<real>-8.5700000000000003</real>
		<key>longitude</key>
		<real>34.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923058</string>
		<key>latitude</key>
		<real>-10.880000000000001</real>
		<key>longitude</key>
		<real>26.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155093</string>
		<key>latitude</key>
		<real>-8.7300000000000004</real>
		<key>longitude</key>
		<real>35.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1024696</string>
		<key>latitude</key>
		<real>-19.609999999999999</real>
		<key>longitude</key>
		<real>34.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>888225</string>
		<key>latitude</key>
		<real>-18.93</real>
		<key>longitude</key>
		<real>27.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153384</string>
		<key>latitude</key>
		<real>-8.8000000000000007</real>
		<key>longitude</key>
		<real>35.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889390</string>
		<key>latitude</key>
		<real>-18.32</real>
		<key>longitude</key>
		<real>27.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155016</string>
		<key>latitude</key>
		<real>-8.9299999999999997</real>
		<key>longitude</key>
		<real>36.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>892711</string>
		<key>latitude</key>
		<real>-18.620000000000001</real>
		<key>longitude</key>
		<real>27.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>886748</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>27.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152793</string>
		<key>latitude</key>
		<real>-8.7799999999999994</real>
		<key>longitude</key>
		<real>36.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>892440</string>
		<key>latitude</key>
		<real>-18.620000000000001</real>
		<key>longitude</key>
		<real>26.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>889942</string>
		<key>latitude</key>
		<real>-18.370000000000001</real>
		<key>longitude</key>
		<real>26.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155274</string>
		<key>latitude</key>
		<real>-8.6799999999999997</real>
		<key>longitude</key>
		<real>36.719999999999999</real>
	</dict>
</array>
</plist>
