<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1855847</string>
		<key>latitude</key>
		<real>25.945620000000002</real>
		<key>longitude</key>
		<real>131.31088299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1852038</string>
		<key>latitude</key>
		<real>25.851949999999999</real>
		<key>longitude</key>
		<real>131.259277</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2111937</string>
		<key>latitude</key>
		<real>24.783331</real>
		<key>longitude</key>
		<real>141.316666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860941</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>130.98333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1855203</string>
		<key>latitude</key>
		<real>30.733329999999999</real>
		<key>longitude</key>
		<real>131</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860825</string>
		<key>latitude</key>
		<real>31.030000000000001</real>
		<key>longitude</key>
		<real>130.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860112</string>
		<key>latitude</key>
		<real>31.379999999999999</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1862010</string>
		<key>latitude</key>
		<real>31.23</real>
		<key>longitude</key>
		<real>130.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1857712</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>130.31999999999999</real>
	</dict>
</array>
</plist>
