<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2013162</string>
		<key>latitude</key>
		<real>65</real>
		<key>longitude</key>
		<real>130</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014583</string>
		<key>latitude</key>
		<real>64.966667000000001</real>
		<key>longitude</key>
		<real>130.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012530</string>
		<key>latitude</key>
		<real>66.769722000000002</real>
		<key>longitude</key>
		<real>123.371109</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027042</string>
		<key>latitude</key>
		<real>67.800560000000004</real>
		<key>longitude</key>
		<real>130.41139200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017215</string>
		<key>latitude</key>
		<real>63.924171000000001</real>
		<key>longitude</key>
		<real>127.47389200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013465</string>
		<key>latitude</key>
		<real>67.544724000000002</real>
		<key>longitude</key>
		<real>133.384995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021017</string>
		<key>latitude</key>
		<real>63.898609</real>
		<key>longitude</key>
		<real>122.761673</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027044</string>
		<key>latitude</key>
		<real>67.633330999999998</real>
		<key>longitude</key>
		<real>134.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019488</string>
		<key>latitude</key>
		<real>62.71611</real>
		<key>longitude</key>
		<real>129.66583299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013392</string>
		<key>latitude</key>
		<real>63.755279999999999</real>
		<key>longitude</key>
		<real>121.624718</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026160</string>
		<key>latitude</key>
		<real>62.668331000000002</real>
		<key>longitude</key>
		<real>131.16833500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023190</string>
		<key>latitude</key>
		<real>62.34639</real>
		<key>longitude</key>
		<real>129.962784</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012570</string>
		<key>latitude</key>
		<real>62.159438999999999</real>
		<key>longitude</key>
		<real>129.82943700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026861</string>
		<key>latitude</key>
		<real>62.098888000000002</real>
		<key>longitude</key>
		<real>126.699173</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020595</string>
		<key>latitude</key>
		<real>62.105282000000003</real>
		<key>longitude</key>
		<real>129.52778599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020221</string>
		<key>latitude</key>
		<real>62.105282000000003</real>
		<key>longitude</key>
		<real>129.726944</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013159</string>
		<key>latitude</key>
		<real>62.03389</real>
		<key>longitude</key>
		<real>129.73306299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019167</string>
		<key>latitude</key>
		<real>61.959437999999999</real>
		<key>longitude</key>
		<real>129.908615</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013639</string>
		<key>latitude</key>
		<real>63.445278000000002</real>
		<key>longitude</key>
		<real>120.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022564</string>
		<key>latitude</key>
		<real>61.90361</real>
		<key>longitude</key>
		<real>129.63833600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028051</string>
		<key>latitude</key>
		<real>63.900002000000001</real>
		<key>longitude</key>
		<real>119.01667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020121</string>
		<key>latitude</key>
		<real>61.733330000000002</real>
		<key>longitude</key>
		<real>130.281113</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025241</string>
		<key>latitude</key>
		<real>62.002499</real>
		<key>longitude</key>
		<real>132.43249499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022773</string>
		<key>latitude</key>
		<real>62.666671999999998</real>
		<key>longitude</key>
		<real>135.60000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013921</string>
		<key>latitude</key>
		<real>70.016670000000005</real>
		<key>longitude</key>
		<real>135.60000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018735</string>
		<key>latitude</key>
		<real>63.284168000000001</real>
		<key>longitude</key>
		<real>118.33194</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024626</string>
		<key>latitude</key>
		<real>62.216670999999998</real>
		<key>longitude</key>
		<real>135.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015913</string>
		<key>latitude</key>
		<real>62.144440000000003</real>
		<key>longitude</key>
		<real>117.63194300000001</real>
	</dict>
</array>
</plist>
