<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2020313</string>
		<key>latitude</key>
		<real>58.310558</real>
		<key>longitude</key>
		<real>112.898613</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020311</string>
		<key>latitude</key>
		<real>57.816108999999997</real>
		<key>longitude</key>
		<real>114.00277699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015399</string>
		<key>latitude</key>
		<real>57.633330999999998</real>
		<key>longitude</key>
		<real>113.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026583</string>
		<key>latitude</key>
		<real>57.850558999999997</real>
		<key>longitude</key>
		<real>114.19332900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027196</string>
		<key>latitude</key>
		<real>58.010559000000001</real>
		<key>longitude</key>
		<real>114.276939</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025230</string>
		<key>latitude</key>
		<real>59.264439000000003</real>
		<key>longitude</key>
		<real>112.428612</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013375</string>
		<key>latitude</key>
		<real>59.451110999999997</real>
		<key>longitude</key>
		<real>112.557777</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018069</string>
		<key>latitude</key>
		<real>59.628891000000003</real>
		<key>longitude</key>
		<real>112.740562</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021504</string>
		<key>latitude</key>
		<real>58.509441000000002</real>
		<key>longitude</key>
		<real>115.32167099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018813</string>
		<key>latitude</key>
		<real>56.157218999999998</real>
		<key>longitude</key>
		<real>111.70555899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027911</string>
		<key>latitude</key>
		<real>57.850000000000001</real>
		<key>longitude</key>
		<real>108.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016907</string>
		<key>latitude</key>
		<real>56.148060000000001</real>
		<key>longitude</key>
		<real>113.426666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022083</string>
		<key>latitude</key>
		<real>57.785277999999998</real>
		<key>longitude</key>
		<real>108.11193799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023472</string>
		<key>latitude</key>
		<real>55.866669000000002</real>
		<key>longitude</key>
		<real>111.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013931</string>
		<key>latitude</key>
		<real>57.409999999999997</real>
		<key>longitude</key>
		<real>107.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015701</string>
		<key>latitude</key>
		<real>56.344439999999999</real>
		<key>longitude</key>
		<real>114.87944</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022129</string>
		<key>latitude</key>
		<real>55.939999999999998</real>
		<key>longitude</key>
		<real>110.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018697</string>
		<key>latitude</key>
		<real>55.579999999999998</real>
		<key>longitude</key>
		<real>111.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017336</string>
		<key>latitude</key>
		<real>55.450001</real>
		<key>longitude</key>
		<real>111.26667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019199</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>109.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020208</string>
		<key>latitude</key>
		<real>57.32056</real>
		<key>longitude</key>
		<real>107.088058</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024018</string>
		<key>latitude</key>
		<real>55.283329000000002</real>
		<key>longitude</key>
		<real>111.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016910</string>
		<key>latitude</key>
		<real>55.649999999999999</real>
		<key>longitude</key>
		<real>109.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055815</string>
		<key>latitude</key>
		<real>56.316108999999997</real>
		<key>longitude</key>
		<real>116.08055899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025848</string>
		<key>latitude</key>
		<real>55.133330999999998</real>
		<key>longitude</key>
		<real>111.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021208</string>
		<key>latitude</key>
		<real>55.133330999999998</real>
		<key>longitude</key>
		<real>112.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023029</string>
		<key>latitude</key>
		<real>56.270000000000003</real>
		<key>longitude</key>
		<real>107.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012425</string>
		<key>latitude</key>
		<real>55.049999</real>
		<key>longitude</key>
		<real>111.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014243</string>
		<key>latitude</key>
		<real>54.979999999999997</real>
		<key>longitude</key>
		<real>111.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020584</string>
		<key>latitude</key>
		<real>56.170000000000002</real>
		<key>longitude</key>
		<real>107.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020838</string>
		<key>latitude</key>
		<real>60.725281000000003</real>
		<key>longitude</key>
		<real>114.92778</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024176</string>
		<key>latitude</key>
		<real>54.880000000000003</real>
		<key>longitude</key>
		<real>111.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013198</string>
		<key>latitude</key>
		<real>54.850000000000001</real>
		<key>longitude</key>
		<real>111.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012379</string>
		<key>latitude</key>
		<real>56.75</real>
		<key>longitude</key>
		<real>106.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027663</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>111</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014365</string>
		<key>latitude</key>
		<real>54.780000000000001</real>
		<key>longitude</key>
		<real>110.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027317</string>
		<key>latitude</key>
		<real>54.719999999999999</real>
		<key>longitude</key>
		<real>110.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024212</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>110.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017160</string>
		<key>latitude</key>
		<real>54.600000000000001</real>
		<key>longitude</key>
		<real>110.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016711</string>
		<key>latitude</key>
		<real>54.530000000000001</real>
		<key>longitude</key>
		<real>110.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025630</string>
		<key>latitude</key>
		<real>56.906390999999999</real>
		<key>longitude</key>
		<real>118.26306200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013923</string>
		<key>latitude</key>
		<real>56.793799999999997</real>
		<key>longitude</key>
		<real>105.767197</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014569</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>110.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055822</string>
		<key>latitude</key>
		<real>56.816391000000003</real>
		<key>longitude</key>
		<real>118.298607</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023117</string>
		<key>latitude</key>
		<real>56.801898999999999</real>
		<key>longitude</key>
		<real>105.580299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024167</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>110.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027244</string>
		<key>latitude</key>
		<real>54.433331000000003</real>
		<key>longitude</key>
		<real>113.599998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019895</string>
		<key>latitude</key>
		<real>54.420000000000002</real>
		<key>longitude</key>
		<real>110.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017469</string>
		<key>latitude</key>
		<real>54.380000000000003</real>
		<key>longitude</key>
		<real>110.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014290</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>110.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014547</string>
		<key>latitude</key>
		<real>54.380000000000003</real>
		<key>longitude</key>
		<real>110.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017282</string>
		<key>latitude</key>
		<real>54.369999999999997</real>
		<key>longitude</key>
		<real>110.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2055868</string>
		<key>latitude</key>
		<real>56.847099</real>
		<key>longitude</key>
		<real>105.254204</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021188</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>110.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023468</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>106</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012956</string>
		<key>latitude</key>
		<real>61.276668999999998</real>
		<key>longitude</key>
		<real>108.010834</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017723</string>
		<key>latitude</key>
		<real>56.033329000000002</real>
		<key>longitude</key>
		<real>105.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022334</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>110.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024200</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>110.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017187</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>110.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024400</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>110.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026013</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>110.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013101</string>
		<key>latitude</key>
		<real>53.93</real>
		<key>longitude</key>
		<real>110.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014230</string>
		<key>latitude</key>
		<real>53.93</real>
		<key>longitude</key>
		<real>110.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014288</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>109.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014261</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>109.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026496</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>109.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014259</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>109.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022232</string>
		<key>latitude</key>
		<real>56.703201</real>
		<key>longitude</key>
		<real>104.249397</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014285</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>109.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019004</string>
		<key>latitude</key>
		<real>57.133400000000002</real>
		<key>longitude</key>
		<real>103.91120100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015950</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>109.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012337</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>109.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015953</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>109.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017378</string>
		<key>latitude</key>
		<real>57.263900999999997</real>
		<key>longitude</key>
		<real>103.75190000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012557</string>
		<key>latitude</key>
		<real>56.576801000000003</real>
		<key>longitude</key>
		<real>104.121696</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019308</string>
		<key>latitude</key>
		<real>53.649999999999999</real>
		<key>longitude</key>
		<real>109.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027109</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>109.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027859</string>
		<key>latitude</key>
		<real>62.449168999999998</real>
		<key>longitude</key>
		<real>114.327782</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012997</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>109.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016733</string>
		<key>latitude</key>
		<real>56.491501</real>
		<key>longitude</key>
		<real>103.959999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023731</string>
		<key>latitude</key>
		<real>56.977001000000001</real>
		<key>longitude</key>
		<real>103.62400100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015193</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>109.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019838</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>109.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013681</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>109.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018571</string>
		<key>latitude</key>
		<real>60.373610999999997</real>
		<key>longitude</key>
		<real>120.42639200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012532</string>
		<key>latitude</key>
		<real>54.809719000000001</real>
		<key>longitude</key>
		<real>105.15778400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015913</string>
		<key>latitude</key>
		<real>62.144440000000003</real>
		<key>longitude</key>
		<real>117.63194300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023333</string>
		<key>latitude</key>
		<real>53.960000000000001</real>
		<key>longitude</key>
		<real>105.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014836</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>119.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019912</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>119.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021980</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>119.45</real>
	</dict>
</array>
</plist>
