<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2014833</string>
		<key>latitude</key>
		<real>64.283332999999999</real>
		<key>longitude</key>
		<real>100.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027296</string>
		<key>latitude</key>
		<real>66</real>
		<key>longitude</key>
		<real>111.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014624</string>
		<key>latitude</key>
		<real>66.416672000000005</real>
		<key>longitude</key>
		<real>112.400002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018567</string>
		<key>latitude</key>
		<real>68.509247000000002</real>
		<key>longitude</key>
		<real>112.46910099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025456</string>
		<key>latitude</key>
		<real>63.012779000000002</real>
		<key>longitude</key>
		<real>112.47139</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019951</string>
		<key>latitude</key>
		<real>62.535277999999998</real>
		<key>longitude</key>
		<real>113.961113</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027859</string>
		<key>latitude</key>
		<real>62.449168999999998</real>
		<key>longitude</key>
		<real>114.327782</real>
	</dict>
</array>
</plist>
