<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2015306</string>
		<key>latitude</key>
		<real>71.687218000000001</real>
		<key>longitude</key>
		<real>128.86944600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2056029</string>
		<key>latitude</key>
		<real>70.864440999999999</real>
		<key>longitude</key>
		<real>134.639725</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017155</string>
		<key>latitude</key>
		<real>71.916672000000005</real>
		<key>longitude</key>
		<real>114.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013921</string>
		<key>latitude</key>
		<real>70.016670000000005</real>
		<key>longitude</key>
		<real>135.60000600000001</real>
	</dict>
</array>
</plist>
