<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2015179</string>
		<key>latitude</key>
		<real>58.956389999999999</real>
		<key>longitude</key>
		<real>126.292503</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020871</string>
		<key>latitude</key>
		<real>58.516669999999998</real>
		<key>longitude</key>
		<real>125.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020848</string>
		<key>latitude</key>
		<real>58.577781999999999</real>
		<key>longitude</key>
		<real>125.43055699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027968</string>
		<key>latitude</key>
		<real>58.603062000000001</real>
		<key>longitude</key>
		<real>125.389442</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019135</string>
		<key>latitude</key>
		<real>58.835281000000002</real>
		<key>longitude</key>
		<real>125.48693799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025261</string>
		<key>latitude</key>
		<real>56.847900000000003</real>
		<key>longitude</key>
		<real>124.9104</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016977</string>
		<key>latitude</key>
		<real>56.799999</real>
		<key>longitude</key>
		<real>124.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019309</string>
		<key>latitude</key>
		<real>56.670898000000001</real>
		<key>longitude</key>
		<real>124.649101</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026777</string>
		<key>latitude</key>
		<real>56.5807</real>
		<key>longitude</key>
		<real>124.768097</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014718</string>
		<key>latitude</key>
		<real>55.166671999999998</real>
		<key>longitude</key>
		<real>124.716667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019867</string>
		<key>latitude</key>
		<real>61.468060000000001</real>
		<key>longitude</key>
		<real>128.92027300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017824</string>
		<key>latitude</key>
		<real>61.478062000000001</real>
		<key>longitude</key>
		<real>129.12721300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027786</string>
		<key>latitude</key>
		<real>60.895279000000002</real>
		<key>longitude</key>
		<real>131.96083100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023866</string>
		<key>latitude</key>
		<real>59.316668999999997</real>
		<key>longitude</key>
		<real>121.400002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024259</string>
		<key>latitude</key>
		<real>54.150002000000001</real>
		<key>longitude</key>
		<real>127.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020121</string>
		<key>latitude</key>
		<real>61.733330000000002</real>
		<key>longitude</key>
		<real>130.281113</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022564</string>
		<key>latitude</key>
		<real>61.90361</real>
		<key>longitude</key>
		<real>129.63833600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027748</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>128</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019167</string>
		<key>latitude</key>
		<real>61.959437999999999</real>
		<key>longitude</key>
		<real>129.908615</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013918</string>
		<key>latitude</key>
		<real>60.416671999999998</real>
		<key>longitude</key>
		<real>134.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013159</string>
		<key>latitude</key>
		<real>62.03389</real>
		<key>longitude</key>
		<real>129.73306299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026861</string>
		<key>latitude</key>
		<real>62.098888000000002</real>
		<key>longitude</key>
		<real>126.699173</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020595</string>
		<key>latitude</key>
		<real>62.105282000000003</real>
		<key>longitude</key>
		<real>129.52778599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020221</string>
		<key>latitude</key>
		<real>62.105282000000003</real>
		<key>longitude</key>
		<real>129.726944</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012570</string>
		<key>latitude</key>
		<real>62.159438999999999</real>
		<key>longitude</key>
		<real>129.82943700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016277</string>
		<key>latitude</key>
		<real>54.233330000000002</real>
		<key>longitude</key>
		<real>124.43332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012593</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>127.26667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023190</string>
		<key>latitude</key>
		<real>62.34639</real>
		<key>longitude</key>
		<real>129.962784</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018214</string>
		<key>latitude</key>
		<real>53.583328000000002</real>
		<key>longitude</key>
		<real>126.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022888</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>134</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018571</string>
		<key>latitude</key>
		<real>60.373610999999997</real>
		<key>longitude</key>
		<real>120.42639200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019296</string>
		<key>latitude</key>
		<real>53.983330000000002</real>
		<key>longitude</key>
		<real>124.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025241</string>
		<key>latitude</key>
		<real>62.002499</real>
		<key>longitude</key>
		<real>132.43249499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015707</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>123.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016443</string>
		<key>latitude</key>
		<real>53.983330000000002</real>
		<key>longitude</key>
		<real>123.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015646</string>
		<key>latitude</key>
		<real>53.666671999999998</real>
		<key>longitude</key>
		<real>124.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014078</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>122.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014611</string>
		<key>latitude</key>
		<real>54.506110999999997</real>
		<key>longitude</key>
		<real>134.405823</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025256</string>
		<key>latitude</key>
		<real>54.718330000000002</real>
		<key>longitude</key>
		<real>135.31500199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012938</string>
		<key>latitude</key>
		<real>53.969999999999999</real>
		<key>longitude</key>
		<real>121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024626</string>
		<key>latitude</key>
		<real>62.216670999999998</real>
		<key>longitude</key>
		<real>135.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014836</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>119.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027806</string>
		<key>latitude</key>
		<real>53.859999999999999</real>
		<key>longitude</key>
		<real>120.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019912</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>119.77</real>
	</dict>
</array>
</plist>
