<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2121529</string>
		<key>latitude</key>
		<real>50</real>
		<key>longitude</key>
		<real>143</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125424</string>
		<key>latitude</key>
		<real>50.033329000000002</real>
		<key>longitude</key>
		<real>142.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121126</string>
		<key>latitude</key>
		<real>49.75</real>
		<key>longitude</key>
		<real>142.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121909</string>
		<key>latitude</key>
		<real>49.216670999999998</real>
		<key>longitude</key>
		<real>143.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123805</string>
		<key>latitude</key>
		<real>49.283329000000002</real>
		<key>longitude</key>
		<real>142.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125626</string>
		<key>latitude</key>
		<real>49.116669000000002</real>
		<key>longitude</key>
		<real>142.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120334</string>
		<key>latitude</key>
		<real>50.845557999999997</real>
		<key>longitude</key>
		<real>142.654999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119964</string>
		<key>latitude</key>
		<real>48.983330000000002</real>
		<key>longitude</key>
		<real>142.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126493</string>
		<key>latitude</key>
		<real>49.633330999999998</real>
		<key>longitude</key>
		<real>142.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121367</string>
		<key>latitude</key>
		<real>49.170000000000002</real>
		<key>longitude</key>
		<real>142.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2127282</string>
		<key>latitude</key>
		<real>50.897499000000003</real>
		<key>longitude</key>
		<real>142.156113</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123292</string>
		<key>latitude</key>
		<real>51.049999</real>
		<key>longitude</key>
		<real>142.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123614</string>
		<key>latitude</key>
		<real>48.633330999999998</real>
		<key>longitude</key>
		<real>142.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120261</string>
		<key>latitude</key>
		<real>49.079999999999998</real>
		<key>longitude</key>
		<real>142.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122783</string>
		<key>latitude</key>
		<real>51.833328000000002</real>
		<key>longitude</key>
		<real>143.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124187</string>
		<key>latitude</key>
		<real>48.399999999999999</real>
		<key>longitude</key>
		<real>142.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126018</string>
		<key>latitude</key>
		<real>51.469999999999999</real>
		<key>longitude</key>
		<real>140.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120530</string>
		<key>latitude</key>
		<real>47.770000000000003</real>
		<key>longitude</key>
		<real>142.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123688</string>
		<key>latitude</key>
		<real>49</real>
		<key>longitude</key>
		<real>140.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119932</string>
		<key>latitude</key>
		<real>49.090000000000003</real>
		<key>longitude</key>
		<real>140.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119370</string>
		<key>latitude</key>
		<real>49.030000000000001</real>
		<key>longitude</key>
		<real>140.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121052</string>
		<key>latitude</key>
		<real>48.969999999999999</real>
		<key>longitude</key>
		<real>140.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123371</string>
		<key>latitude</key>
		<real>49</real>
		<key>longitude</key>
		<real>140.21000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123836</string>
		<key>latitude</key>
		<real>52.224997999999999</real>
		<key>longitude</key>
		<real>141.51306199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125945</string>
		<key>latitude</key>
		<real>47.349997999999999</real>
		<key>longitude</key>
		<real>142.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120257</string>
		<key>latitude</key>
		<real>47.316668999999997</real>
		<key>longitude</key>
		<real>142.616669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126359</string>
		<key>latitude</key>
		<real>47.32</real>
		<key>longitude</key>
		<real>142.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126250</string>
		<key>latitude</key>
		<real>47.439999999999998</real>
		<key>longitude</key>
		<real>141.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121103</string>
		<key>latitude</key>
		<real>47.233330000000002</real>
		<key>longitude</key>
		<real>142.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121198</string>
		<key>latitude</key>
		<real>47.170000000000002</real>
		<key>longitude</key>
		<real>142.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119640</string>
		<key>latitude</key>
		<real>47.170000000000002</real>
		<key>longitude</key>
		<real>142.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013216</string>
		<key>latitude</key>
		<real>50.119999999999997</real>
		<key>longitude</key>
		<real>139.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119441</string>
		<key>latitude</key>
		<real>46.958117999999999</real>
		<key>longitude</key>
		<real>142.73365799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120452</string>
		<key>latitude</key>
		<real>46.920569999999998</real>
		<key>longitude</key>
		<real>142.636887</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124615</string>
		<key>latitude</key>
		<real>47.049999999999997</real>
		<key>longitude</key>
		<real>142.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124604</string>
		<key>latitude</key>
		<real>46.885978999999999</real>
		<key>longitude</key>
		<real>142.74443099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126638</string>
		<key>latitude</key>
		<real>52.365828999999998</real>
		<key>longitude</key>
		<real>140.44555700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126290</string>
		<key>latitude</key>
		<real>46.960000000000001</real>
		<key>longitude</key>
		<real>142.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121874</string>
		<key>latitude</key>
		<real>46.939999999999998</real>
		<key>longitude</key>
		<real>142.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119701</string>
		<key>latitude</key>
		<real>48.916671999999998</real>
		<key>longitude</key>
		<real>148.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2127154</string>
		<key>latitude</key>
		<real>46.710000000000001</real>
		<key>longitude</key>
		<real>142.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120400</string>
		<key>latitude</key>
		<real>53.380828999999999</real>
		<key>longitude</key>
		<real>142.95639</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124286</string>
		<key>latitude</key>
		<real>46.632770999999998</real>
		<key>longitude</key>
		<real>142.781296</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122894</string>
		<key>latitude</key>
		<real>46.670000000000002</real>
		<key>longitude</key>
		<real>141.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122614</string>
		<key>latitude</key>
		<real>53.573891000000003</real>
		<key>longitude</key>
		<real>142.94778400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123174</string>
		<key>latitude</key>
		<real>53.566940000000002</real>
		<key>longitude</key>
		<real>142.504166</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125472</string>
		<key>latitude</key>
		<real>46.560000000000002</real>
		<key>longitude</key>
		<real>141.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122850</string>
		<key>latitude</key>
		<real>53.140560000000001</real>
		<key>longitude</key>
		<real>140.729996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125112</string>
		<key>latitude</key>
		<real>53.099997999999999</real>
		<key>longitude</key>
		<real>140.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121324</string>
		<key>latitude</key>
		<real>46.43</real>
		<key>longitude</key>
		<real>141.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123621</string>
		<key>latitude</key>
		<real>53.251389000000003</real>
		<key>longitude</key>
		<real>140.18222</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017042</string>
		<key>latitude</key>
		<real>50.367161000000003</real>
		<key>longitude</key>
		<real>137.499573</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016308</string>
		<key>latitude</key>
		<real>50.583328000000002</real>
		<key>longitude</key>
		<real>137.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021851</string>
		<key>latitude</key>
		<real>50.551991000000001</real>
		<key>longitude</key>
		<real>137.015244</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027749</string>
		<key>latitude</key>
		<real>50.226109000000001</real>
		<key>longitude</key>
		<real>136.89944499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022174</string>
		<key>latitude</key>
		<real>50.407218999999998</real>
		<key>longitude</key>
		<real>136.88194300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019935</string>
		<key>latitude</key>
		<real>53.935279999999999</real>
		<key>longitude</key>
		<real>139.92416399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023943</string>
		<key>latitude</key>
		<real>51.198329999999999</real>
		<key>longitude</key>
		<real>136.666946</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2129501</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>141.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2127515</string>
		<key>latitude</key>
		<real>45.409999999999997</real>
		<key>longitude</key>
		<real>141.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2129324</string>
		<key>latitude</key>
		<real>45.369999999999997</real>
		<key>longitude</key>
		<real>141.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2129379</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>141.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2130557</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>141.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2128277</string>
		<key>latitude</key>
		<real>45.259999999999998</real>
		<key>longitude</key>
		<real>142.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2130316</string>
		<key>latitude</key>
		<real>45.439999999999998</real>
		<key>longitude</key>
		<real>141.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015852</string>
		<key>latitude</key>
		<real>46.538891</real>
		<key>longitude</key>
		<real>138.32972699999999</real>
	</dict>
</array>
</plist>
