<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2027316</string>
		<key>latitude</key>
		<real>56.450001</real>
		<key>longitude</key>
		<real>138.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125742</string>
		<key>latitude</key>
		<real>57.766669999999998</real>
		<key>longitude</key>
		<real>140.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013918</string>
		<key>latitude</key>
		<real>60.416671999999998</real>
		<key>longitude</key>
		<real>134.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016305</string>
		<key>latitude</key>
		<real>60.416671999999998</real>
		<key>longitude</key>
		<real>137.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022888</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>134</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025256</string>
		<key>latitude</key>
		<real>54.718330000000002</real>
		<key>longitude</key>
		<real>135.31500199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027786</string>
		<key>latitude</key>
		<real>60.895279000000002</real>
		<key>longitude</key>
		<real>131.96083100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014611</string>
		<key>latitude</key>
		<real>54.506110999999997</real>
		<key>longitude</key>
		<real>134.405823</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122605</string>
		<key>latitude</key>
		<real>59.383330999999998</real>
		<key>longitude</key>
		<real>143.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024626</string>
		<key>latitude</key>
		<real>62.216670999999998</real>
		<key>longitude</key>
		<real>135.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025241</string>
		<key>latitude</key>
		<real>62.002499</real>
		<key>longitude</key>
		<real>132.43249499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019935</string>
		<key>latitude</key>
		<real>53.935279999999999</real>
		<key>longitude</key>
		<real>139.92416399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020121</string>
		<key>latitude</key>
		<real>61.733330000000002</real>
		<key>longitude</key>
		<real>130.281113</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017824</string>
		<key>latitude</key>
		<real>61.478062000000001</real>
		<key>longitude</key>
		<real>129.12721300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019867</string>
		<key>latitude</key>
		<real>61.468060000000001</real>
		<key>longitude</key>
		<real>128.92027300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019167</string>
		<key>latitude</key>
		<real>61.959437999999999</real>
		<key>longitude</key>
		<real>129.908615</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022564</string>
		<key>latitude</key>
		<real>61.90361</real>
		<key>longitude</key>
		<real>129.63833600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013159</string>
		<key>latitude</key>
		<real>62.03389</real>
		<key>longitude</key>
		<real>129.73306299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020221</string>
		<key>latitude</key>
		<real>62.105282000000003</real>
		<key>longitude</key>
		<real>129.726944</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012570</string>
		<key>latitude</key>
		<real>62.159438999999999</real>
		<key>longitude</key>
		<real>129.82943700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020595</string>
		<key>latitude</key>
		<real>62.105282000000003</real>
		<key>longitude</key>
		<real>129.52778599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023190</string>
		<key>latitude</key>
		<real>62.34639</real>
		<key>longitude</key>
		<real>129.962784</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123174</string>
		<key>latitude</key>
		<real>53.566940000000002</real>
		<key>longitude</key>
		<real>142.504166</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122614</string>
		<key>latitude</key>
		<real>53.573891000000003</real>
		<key>longitude</key>
		<real>142.94778400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024259</string>
		<key>latitude</key>
		<real>54.150002000000001</real>
		<key>longitude</key>
		<real>127.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027748</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>128</real>
	</dict>
</array>
</plist>
