<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2122605</string>
		<key>latitude</key>
		<real>59.383330999999998</real>
		<key>longitude</key>
		<real>143.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125742</string>
		<key>latitude</key>
		<real>57.766669999999998</real>
		<key>longitude</key>
		<real>140.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2116271</string>
		<key>latitude</key>
		<real>59.738331000000002</real>
		<key>longitude</key>
		<real>149.386932</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027316</string>
		<key>latitude</key>
		<real>56.450001</real>
		<key>longitude</key>
		<real>138.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2127060</string>
		<key>latitude</key>
		<real>59.700001</real>
		<key>longitude</key>
		<real>150.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123628</string>
		<key>latitude</key>
		<real>59.566668999999997</real>
		<key>longitude</key>
		<real>150.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123235</string>
		<key>latitude</key>
		<real>59.900002000000001</real>
		<key>longitude</key>
		<real>150.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120129</string>
		<key>latitude</key>
		<real>59.75</real>
		<key>longitude</key>
		<real>150.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121102</string>
		<key>latitude</key>
		<real>59.883330999999998</real>
		<key>longitude</key>
		<real>150.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122574</string>
		<key>latitude</key>
		<real>59.583328000000002</real>
		<key>longitude</key>
		<real>151.28332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016305</string>
		<key>latitude</key>
		<real>60.416671999999998</real>
		<key>longitude</key>
		<real>137.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122256</string>
		<key>latitude</key>
		<real>60.099997999999999</real>
		<key>longitude</key>
		<real>150.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120047</string>
		<key>latitude</key>
		<real>61.150002000000001</real>
		<key>longitude</key>
		<real>149.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122614</string>
		<key>latitude</key>
		<real>53.573891000000003</real>
		<key>longitude</key>
		<real>142.94778400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123174</string>
		<key>latitude</key>
		<real>53.566940000000002</real>
		<key>longitude</key>
		<real>142.504166</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019935</string>
		<key>latitude</key>
		<real>53.935279999999999</real>
		<key>longitude</key>
		<real>139.92416399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121197</string>
		<key>latitude</key>
		<real>62.078811999999999</real>
		<key>longitude</key>
		<real>150.47699</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122414</string>
		<key>latitude</key>
		<real>62.266669999999998</real>
		<key>longitude</key>
		<real>151.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024626</string>
		<key>latitude</key>
		<real>62.216670999999998</real>
		<key>longitude</key>
		<real>135.800003</real>
	</dict>
</array>
</plist>
