<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2120048</string>
		<key>latitude</key>
		<real>64.566672999999994</real>
		<key>longitude</key>
		<real>143.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122311</string>
		<key>latitude</key>
		<real>63.466670999999998</real>
		<key>longitude</key>
		<real>142.816666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126785</string>
		<key>latitude</key>
		<real>68.533332999999999</real>
		<key>longitude</key>
		<real>146.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119283</string>
		<key>latitude</key>
		<real>65.75</real>
		<key>longitude</key>
		<real>150.85000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123100</string>
		<key>latitude</key>
		<real>63.049438000000002</real>
		<key>longitude</key>
		<real>147.18583699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2028164</string>
		<key>latitude</key>
		<real>69.300003000000004</real>
		<key>longitude</key>
		<real>139.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120864</string>
		<key>latitude</key>
		<real>62.783329000000002</real>
		<key>longitude</key>
		<real>148.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124611</string>
		<key>latitude</key>
		<real>62.716670999999998</real>
		<key>longitude</key>
		<real>147.949997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027044</string>
		<key>latitude</key>
		<real>67.633330999999998</real>
		<key>longitude</key>
		<real>134.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121025</string>
		<key>latitude</key>
		<real>67.449996999999996</real>
		<key>longitude</key>
		<real>153.683334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930488</string>
		<key>latitude</key>
		<real>62.505192000000001</real>
		<key>longitude</key>
		<real>139.048462</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119626</string>
		<key>latitude</key>
		<real>62.549999</real>
		<key>longitude</key>
		<real>149.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121373</string>
		<key>latitude</key>
		<real>62.883330999999998</real>
		<key>longitude</key>
		<real>152.433334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121197</string>
		<key>latitude</key>
		<real>62.078811999999999</real>
		<key>longitude</key>
		<real>150.47699</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120900</string>
		<key>latitude</key>
		<real>63.283329000000002</real>
		<key>longitude</key>
		<real>153.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022773</string>
		<key>latitude</key>
		<real>62.666671999999998</real>
		<key>longitude</key>
		<real>135.60000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122414</string>
		<key>latitude</key>
		<real>62.266669999999998</real>
		<key>longitude</key>
		<real>151.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013921</string>
		<key>latitude</key>
		<real>70.016670000000005</real>
		<key>longitude</key>
		<real>135.60000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024626</string>
		<key>latitude</key>
		<real>62.216670999999998</real>
		<key>longitude</key>
		<real>135.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123627</string>
		<key>latitude</key>
		<real>63</real>
		<key>longitude</key>
		<real>154</real>
	</dict>
</array>
</plist>
