<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2015608</string>
		<key>latitude</key>
		<real>50.096938999999999</real>
		<key>longitude</key>
		<real>128.048889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021799</string>
		<key>latitude</key>
		<real>49.616669000000002</real>
		<key>longitude</key>
		<real>127.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026609</string>
		<key>latitude</key>
		<real>50.266669999999998</real>
		<key>longitude</key>
		<real>127.533333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036973</string>
		<key>latitude</key>
		<real>50.244129000000001</real>
		<key>longitude</key>
		<real>127.49015799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023724</string>
		<key>latitude</key>
		<real>50.450001</real>
		<key>longitude</key>
		<real>127.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017705</string>
		<key>latitude</key>
		<real>49.599997999999999</real>
		<key>longitude</key>
		<real>128.683334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016170</string>
		<key>latitude</key>
		<real>50.659438999999999</real>
		<key>longitude</key>
		<real>128.010559</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013032</string>
		<key>latitude</key>
		<real>50.369999999999997</real>
		<key>longitude</key>
		<real>129.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017487</string>
		<key>latitude</key>
		<real>49.780000000000001</real>
		<key>longitude</key>
		<real>129.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012626</string>
		<key>latitude</key>
		<real>50.119999999999997</real>
		<key>longitude</key>
		<real>129.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026895</string>
		<key>latitude</key>
		<real>50.920000000000002</real>
		<key>longitude</key>
		<real>128.46000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016680</string>
		<key>latitude</key>
		<real>49.759999999999998</real>
		<key>longitude</key>
		<real>129.52000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018882</string>
		<key>latitude</key>
		<real>49.780000000000001</real>
		<key>longitude</key>
		<real>129.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017409</string>
		<key>latitude</key>
		<real>50.719999999999999</real>
		<key>longitude</key>
		<real>129.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016942</string>
		<key>latitude</key>
		<real>51.093330000000002</real>
		<key>longitude</key>
		<real>128.37861599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026889</string>
		<key>latitude</key>
		<real>51.129719000000001</real>
		<key>longitude</key>
		<real>128.342499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025917</string>
		<key>latitude</key>
		<real>49.810000000000002</real>
		<key>longitude</key>
		<real>129.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018964</string>
		<key>latitude</key>
		<real>49.799999999999997</real>
		<key>longitude</key>
		<real>129.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015833</string>
		<key>latitude</key>
		<real>51.400002000000001</real>
		<key>longitude</key>
		<real>128.133331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027487</string>
		<key>latitude</key>
		<real>49.420000000000002</real>
		<key>longitude</key>
		<real>130.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015686</string>
		<key>latitude</key>
		<real>50.32</real>
		<key>longitude</key>
		<real>130.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035601</string>
		<key>latitude</key>
		<real>49.183331000000003</real>
		<key>longitude</key>
		<real>125.216667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036965</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>128</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016701</string>
		<key>latitude</key>
		<real>52</real>
		<key>longitude</key>
		<real>127.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033667</string>
		<key>latitude</key>
		<real>48.229999999999997</real>
		<key>longitude</key>
		<real>129.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033301</string>
		<key>latitude</key>
		<real>47.869999999999997</real>
		<key>longitude</key>
		<real>128.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022454</string>
		<key>latitude</key>
		<real>49.119999999999997</real>
		<key>longitude</key>
		<real>131.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033413</string>
		<key>latitude</key>
		<real>47.700000000000003</real>
		<key>longitude</key>
		<real>128.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021370</string>
		<key>latitude</key>
		<real>49.219999999999999</real>
		<key>longitude</key>
		<real>131.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033915</string>
		<key>latitude</key>
		<real>50.799999</real>
		<key>longitude</key>
		<real>124.283333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036597</string>
		<key>latitude</key>
		<real>50.416671999999998</real>
		<key>longitude</key>
		<real>124.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2023360</string>
		<key>latitude</key>
		<real>48.979999999999997</real>
		<key>longitude</key>
		<real>131.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8222846</string>
		<key>latitude</key>
		<real>49.240000000000002</real>
		<key>longitude</key>
		<real>131.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035610</string>
		<key>latitude</key>
		<real>48.483330000000002</real>
		<key>longitude</key>
		<real>124.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026657</string>
		<key>latitude</key>
		<real>49.020000000000003</real>
		<key>longitude</key>
		<real>131.69999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019026</string>
		<key>latitude</key>
		<real>52.329999999999998</real>
		<key>longitude</key>
		<real>129.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037069</string>
		<key>latitude</key>
		<real>47.450001</real>
		<key>longitude</key>
		<real>126.93332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014694</string>
		<key>latitude</key>
		<real>50.079999999999998</real>
		<key>longitude</key>
		<real>132.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015367</string>
		<key>latitude</key>
		<real>49</real>
		<key>longitude</key>
		<real>131.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038541</string>
		<key>latitude</key>
		<real>47.583328000000002</real>
		<key>longitude</key>
		<real>126.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016477</string>
		<key>latitude</key>
		<real>52.633330999999998</real>
		<key>longitude</key>
		<real>126.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035583</string>
		<key>latitude</key>
		<real>48.483330000000002</real>
		<key>longitude</key>
		<real>124.48333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020707</string>
		<key>latitude</key>
		<real>49.030000000000001</real>
		<key>longitude</key>
		<real>131.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038665</string>
		<key>latitude</key>
		<real>50.566668999999997</real>
		<key>longitude</key>
		<real>123.716667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034651</string>
		<key>latitude</key>
		<real>47.25</real>
		<key>longitude</key>
		<real>127.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014038</string>
		<key>latitude</key>
		<real>52.783329000000002</real>
		<key>longitude</key>
		<real>126.533333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035669</string>
		<key>latitude</key>
		<real>47.130000000000003</real>
		<key>longitude</key>
		<real>129.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024261</string>
		<key>latitude</key>
		<real>52.469999999999999</real>
		<key>longitude</key>
		<real>130.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014016</string>
		<key>latitude</key>
		<real>48.479999999999997</real>
		<key>longitude</key>
		<real>131.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026639</string>
		<key>latitude</key>
		<real>48.5</real>
		<key>longitude</key>
		<real>132</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036986</string>
		<key>latitude</key>
		<real>47.399999999999999</real>
		<key>longitude</key>
		<real>130.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034440</string>
		<key>latitude</key>
		<real>46.950000000000003</real>
		<key>longitude</key>
		<real>128.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037393</string>
		<key>latitude</key>
		<real>47.579999999999998</real>
		<key>longitude</key>
		<real>130.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026659</string>
		<key>latitude</key>
		<real>49</real>
		<key>longitude</key>
		<real>132.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027740</string>
		<key>latitude</key>
		<real>47.700000000000003</real>
		<key>longitude</key>
		<real>131.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2047258</string>
		<key>latitude</key>
		<real>51.07</real>
		<key>longitude</key>
		<real>132.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034615</string>
		<key>latitude</key>
		<real>52.333328000000002</real>
		<key>longitude</key>
		<real>124.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036237</string>
		<key>latitude</key>
		<real>46.950000000000003</real>
		<key>longitude</key>
		<real>128.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035758</string>
		<key>latitude</key>
		<real>47.166671999999998</real>
		<key>longitude</key>
		<real>125.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014134</string>
		<key>latitude</key>
		<real>51.079999999999998</real>
		<key>longitude</key>
		<real>132.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037334</string>
		<key>latitude</key>
		<real>47.783329000000002</real>
		<key>longitude</key>
		<real>124.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014743</string>
		<key>latitude</key>
		<real>53.116669000000002</real>
		<key>longitude</key>
		<real>126.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034228</string>
		<key>latitude</key>
		<real>46.833328000000002</real>
		<key>longitude</key>
		<real>126.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027052</string>
		<key>latitude</key>
		<real>47.939999999999998</real>
		<key>longitude</key>
		<real>132.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025579</string>
		<key>latitude</key>
		<real>51.119999999999997</real>
		<key>longitude</key>
		<real>133.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034655</string>
		<key>latitude</key>
		<real>46.640560000000001</real>
		<key>longitude</key>
		<real>126.99694100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026643</string>
		<key>latitude</key>
		<real>48.799999999999997</real>
		<key>longitude</key>
		<real>132.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027277</string>
		<key>latitude</key>
		<real>48.119999999999997</real>
		<key>longitude</key>
		<real>132.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035677</string>
		<key>latitude</key>
		<real>48.100000000000001</real>
		<key>longitude</key>
		<real>123.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036581</string>
		<key>latitude</key>
		<real>46.829999999999998</real>
		<key>longitude</key>
		<real>130.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035325</string>
		<key>latitude</key>
		<real>46.683331000000003</real>
		<key>longitude</key>
		<real>126.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037311</string>
		<key>latitude</key>
		<real>47.909999999999997</real>
		<key>longitude</key>
		<real>123.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037331</string>
		<key>latitude</key>
		<real>46.43</real>
		<key>longitude</key>
		<real>127.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018214</string>
		<key>latitude</key>
		<real>53.583328000000002</real>
		<key>longitude</key>
		<real>126.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020841</string>
		<key>latitude</key>
		<real>47.939999999999998</real>
		<key>longitude</key>
		<real>132.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020591</string>
		<key>latitude</key>
		<real>53.450001</real>
		<key>longitude</key>
		<real>125.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035217</string>
		<key>latitude</key>
		<real>46.633330999999998</real>
		<key>longitude</key>
		<real>125.599998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035265</string>
		<key>latitude</key>
		<real>47.340000000000003</real>
		<key>longitude</key>
		<real>123.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012593</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>127.26667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2045548</string>
		<key>latitude</key>
		<real>47.259999999999998</real>
		<key>longitude</key>
		<real>124.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037375</string>
		<key>latitude</key>
		<real>47.259999999999998</real>
		<key>longitude</key>
		<real>132.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033403</string>
		<key>latitude</key>
		<real>46.32</real>
		<key>longitude</key>
		<real>129.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037370</string>
		<key>latitude</key>
		<real>46.719999999999999</real>
		<key>longitude</key>
		<real>131.13999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036226</string>
		<key>latitude</key>
		<real>46.262217999999997</real>
		<key>longitude</key>
		<real>126.285561</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036102</string>
		<key>latitude</key>
		<real>46.079999999999998</real>
		<key>longitude</key>
		<real>127.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038421</string>
		<key>latitude</key>
		<real>46.079999999999998</real>
		<key>longitude</key>
		<real>127.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035225</string>
		<key>latitude</key>
		<real>46.649999999999999</real>
		<key>longitude</key>
		<real>124.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035980</string>
		<key>latitude</key>
		<real>46.549999</real>
		<key>longitude</key>
		<real>125.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037860</string>
		<key>latitude</key>
		<real>46.583328000000002</real>
		<key>longitude</key>
		<real>125</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034786</string>
		<key>latitude</key>
		<real>46.640000000000001</real>
		<key>longitude</key>
		<real>131.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034600</string>
		<key>latitude</key>
		<real>46.829999999999998</real>
		<key>longitude</key>
		<real>124.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630159</string>
		<key>latitude</key>
		<real>46.079999999999998</real>
		<key>longitude</key>
		<real>127.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038413</string>
		<key>latitude</key>
		<real>46.039999999999999</real>
		<key>longitude</key>
		<real>127.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037424</string>
		<key>latitude</key>
		<real>46.089179999999999</real>
		<key>longitude</key>
		<real>126.933311</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630035</string>
		<key>latitude</key>
		<real>46.039999999999999</real>
		<key>longitude</key>
		<real>127.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630157</string>
		<key>latitude</key>
		<real>46.030000000000001</real>
		<key>longitude</key>
		<real>127.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630156</string>
		<key>latitude</key>
		<real>46.009999999999998</real>
		<key>longitude</key>
		<real>127.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036030</string>
		<key>latitude</key>
		<real>46.009999999999998</real>
		<key>longitude</key>
		<real>127.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033225</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>122.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027748</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>128</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022058</string>
		<key>latitude</key>
		<real>48.57</real>
		<key>longitude</key>
		<real>133.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8054803</string>
		<key>latitude</key>
		<real>48.009999999999998</real>
		<key>longitude</key>
		<real>122.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630155</string>
		<key>latitude</key>
		<real>45.990000000000002</real>
		<key>longitude</key>
		<real>128.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036081</string>
		<key>latitude</key>
		<real>46.57</real>
		<key>longitude</key>
		<real>131.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038650</string>
		<key>latitude</key>
		<real>46.400002000000001</real>
		<key>longitude</key>
		<real>125.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036670</string>
		<key>latitude</key>
		<real>47.200000000000003</real>
		<key>longitude</key>
		<real>123.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016412</string>
		<key>latitude</key>
		<real>48.600000000000001</real>
		<key>longitude</key>
		<real>133.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026908</string>
		<key>latitude</key>
		<real>48.600000000000001</real>
		<key>longitude</key>
		<real>133.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035705</string>
		<key>latitude</key>
		<real>45.950000000000003</real>
		<key>longitude</key>
		<real>128.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035322</string>
		<key>latitude</key>
		<real>47.75</real>
		<key>longitude</key>
		<real>122.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033781</string>
		<key>latitude</key>
		<real>45.920000000000002</real>
		<key>longitude</key>
		<real>127.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036876</string>
		<key>latitude</key>
		<real>46.469999999999999</real>
		<key>longitude</key>
		<real>124.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630153</string>
		<key>latitude</key>
		<real>45.909999999999997</real>
		<key>longitude</key>
		<real>127.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630152</string>
		<key>latitude</key>
		<real>45.899999999999999</real>
		<key>longitude</key>
		<real>127.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036346</string>
		<key>latitude</key>
		<real>45.941817999999998</real>
		<key>longitude</key>
		<real>126.971458</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630154</string>
		<key>latitude</key>
		<real>45.909999999999997</real>
		<key>longitude</key>
		<real>127.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038438</string>
		<key>latitude</key>
		<real>46.560000000000002</real>
		<key>longitude</key>
		<real>131.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036671</string>
		<key>latitude</key>
		<real>45.983330000000002</real>
		<key>longitude</key>
		<real>126.599998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036753</string>
		<key>latitude</key>
		<real>46.219999999999999</real>
		<key>longitude</key>
		<real>130.52000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630138</string>
		<key>latitude</key>
		<real>45.909999999999997</real>
		<key>longitude</key>
		<real>127.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033168</string>
		<key>latitude</key>
		<real>46.083328000000002</real>
		<key>longitude</key>
		<real>125.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024259</string>
		<key>latitude</key>
		<real>54.150002000000001</real>
		<key>longitude</key>
		<real>127.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035970</string>
		<key>latitude</key>
		<real>47.329999999999998</real>
		<key>longitude</key>
		<real>123.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017519</string>
		<key>latitude</key>
		<real>53.079999999999998</real>
		<key>longitude</key>
		<real>132.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038288</string>
		<key>latitude</key>
		<real>45.840000000000003</real>
		<key>longitude</key>
		<real>127.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015646</string>
		<key>latitude</key>
		<real>53.666671999999998</real>
		<key>longitude</key>
		<real>124.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035593</string>
		<key>latitude</key>
		<real>47.520000000000003</real>
		<key>longitude</key>
		<real>122.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036481</string>
		<key>latitude</key>
		<real>45.82</real>
		<key>longitude</key>
		<real>127.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034954</string>
		<key>latitude</key>
		<real>45.799999999999997</real>
		<key>longitude</key>
		<real>128.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037252</string>
		<key>latitude</key>
		<real>50.780000000000001</real>
		<key>longitude</key>
		<real>121.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630151</string>
		<key>latitude</key>
		<real>45.840000000000003</real>
		<key>longitude</key>
		<real>127.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6958004</string>
		<key>latitude</key>
		<real>52.990631</real>
		<key>longitude</key>
		<real>123.23522199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628595</string>
		<key>latitude</key>
		<real>45.829999999999998</real>
		<key>longitude</key>
		<real>127.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630150</string>
		<key>latitude</key>
		<real>45.759999999999998</real>
		<key>longitude</key>
		<real>127.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630149</string>
		<key>latitude</key>
		<real>45.759999999999998</real>
		<key>longitude</key>
		<real>127.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038283</string>
		<key>latitude</key>
		<real>45.75</real>
		<key>longitude</key>
		<real>127.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630136</string>
		<key>latitude</key>
		<real>45.759999999999998</real>
		<key>longitude</key>
		<real>127.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630134</string>
		<key>latitude</key>
		<real>45.729999999999997</real>
		<key>longitude</key>
		<real>127.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630137</string>
		<key>latitude</key>
		<real>45.770000000000003</real>
		<key>longitude</key>
		<real>127.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038285</string>
		<key>latitude</key>
		<real>45.75</real>
		<key>longitude</key>
		<real>127.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630135</string>
		<key>latitude</key>
		<real>45.75</real>
		<key>longitude</key>
		<real>127.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630148</string>
		<key>latitude</key>
		<real>45.752972</real>
		<key>longitude</key>
		<real>126.923042</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037013</string>
		<key>latitude</key>
		<real>45.75</real>
		<key>longitude</key>
		<real>126.650002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2024461</string>
		<key>latitude</key>
		<real>53.066668999999997</real>
		<key>longitude</key>
		<real>132.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628605</string>
		<key>latitude</key>
		<real>45.649999999999999</real>
		<key>longitude</key>
		<real>127.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015217</string>
		<key>latitude</key>
		<real>53.133330999999998</real>
		<key>longitude</key>
		<real>132.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036122</string>
		<key>latitude</key>
		<real>45.630000000000003</real>
		<key>longitude</key>
		<real>127.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037330</string>
		<key>latitude</key>
		<real>48.359999999999999</real>
		<key>longitude</key>
		<real>134.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013328</string>
		<key>latitude</key>
		<real>48.560000000000002</real>
		<key>longitude</key>
		<real>134.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630133</string>
		<key>latitude</key>
		<real>45.549999999999997</real>
		<key>longitude</key>
		<real>127.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630147</string>
		<key>latitude</key>
		<real>45.57</real>
		<key>longitude</key>
		<real>127.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035732</string>
		<key>latitude</key>
		<real>47.5</real>
		<key>longitude</key>
		<real>122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630146</string>
		<key>latitude</key>
		<real>45.564177999999998</real>
		<key>longitude</key>
		<real>126.927834</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038679</string>
		<key>latitude</key>
		<real>45.549999999999997</real>
		<key>longitude</key>
		<real>126.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628562</string>
		<key>latitude</key>
		<real>45.539999999999999</real>
		<key>longitude</key>
		<real>126.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013326</string>
		<key>latitude</key>
		<real>48.57</real>
		<key>longitude</key>
		<real>134.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630145</string>
		<key>latitude</key>
		<real>45.509999999999998</real>
		<key>longitude</key>
		<real>127.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034558</string>
		<key>latitude</key>
		<real>45.616669000000002</real>
		<key>longitude</key>
		<real>126.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038274</string>
		<key>latitude</key>
		<real>45.770000000000003</real>
		<key>longitude</key>
		<real>130.52000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033541</string>
		<key>latitude</key>
		<real>45.479999999999997</real>
		<key>longitude</key>
		<real>127.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036966</string>
		<key>latitude</key>
		<real>45.43</real>
		<key>longitude</key>
		<real>127.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630132</string>
		<key>latitude</key>
		<real>45.441380000000002</real>
		<key>longitude</key>
		<real>126.966652</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035261</string>
		<key>latitude</key>
		<real>45.799999999999997</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630131</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>127.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038446</string>
		<key>latitude</key>
		<real>46.329999999999998</real>
		<key>longitude</key>
		<real>132.21000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033245</string>
		<key>latitude</key>
		<real>45.409999999999997</real>
		<key>longitude</key>
		<real>127.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019296</string>
		<key>latitude</key>
		<real>53.983330000000002</real>
		<key>longitude</key>
		<real>124.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019266</string>
		<key>latitude</key>
		<real>48.549999999999997</real>
		<key>longitude</key>
		<real>134.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033147</string>
		<key>latitude</key>
		<real>45.683331000000003</real>
		<key>longitude</key>
		<real>125.31667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033952</string>
		<key>latitude</key>
		<real>45.340000000000003</real>
		<key>longitude</key>
		<real>127.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630130</string>
		<key>latitude</key>
		<real>45.350000000000001</real>
		<key>longitude</key>
		<real>127.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035463</string>
		<key>latitude</key>
		<real>45.32</real>
		<key>longitude</key>
		<real>127.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016443</string>
		<key>latitude</key>
		<real>53.983330000000002</real>
		<key>longitude</key>
		<real>123.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020738</string>
		<key>latitude</key>
		<real>49.236111000000001</real>
		<key>longitude</key>
		<real>135.17416399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036602</string>
		<key>latitude</key>
		<real>46.700000000000003</real>
		<key>longitude</key>
		<real>122.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630144</string>
		<key>latitude</key>
		<real>45.270000000000003</real>
		<key>longitude</key>
		<real>127.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035831</string>
		<key>latitude</key>
		<real>45.280000000000001</real>
		<key>longitude</key>
		<real>127.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017648</string>
		<key>latitude</key>
		<real>48.520000000000003</real>
		<key>longitude</key>
		<real>134.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630129</string>
		<key>latitude</key>
		<real>45.259999999999998</real>
		<key>longitude</key>
		<real>128.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034599</string>
		<key>latitude</key>
		<real>46.380000000000003</real>
		<key>longitude</key>
		<real>123.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033747</string>
		<key>latitude</key>
		<real>45.299999</real>
		<key>longitude</key>
		<real>126.900002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033536</string>
		<key>latitude</key>
		<real>49.280000000000001</real>
		<key>longitude</key>
		<real>120.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016277</string>
		<key>latitude</key>
		<real>54.233330000000002</real>
		<key>longitude</key>
		<real>124.43332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8054801</string>
		<key>latitude</key>
		<real>49.289999999999999</real>
		<key>longitude</key>
		<real>120.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034834</string>
		<key>latitude</key>
		<real>45.349997999999999</real>
		<key>longitude</key>
		<real>126.283333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018278</string>
		<key>latitude</key>
		<real>48.57</real>
		<key>longitude</key>
		<real>135.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2056769</string>
		<key>latitude</key>
		<real>48.539999999999999</real>
		<key>longitude</key>
		<real>135.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022890</string>
		<key>latitude</key>
		<real>48.479999999999997</real>
		<key>longitude</key>
		<real>135.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2056755</string>
		<key>latitude</key>
		<real>48.439999999999998</real>
		<key>longitude</key>
		<real>135.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019246</string>
		<key>latitude</key>
		<real>48.399999999999999</real>
		<key>longitude</key>
		<real>135.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033149</string>
		<key>latitude</key>
		<real>45.5</real>
		<key>longitude</key>
		<real>125.133331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020162</string>
		<key>latitude</key>
		<real>48.548889000000003</real>
		<key>longitude</key>
		<real>135.19000199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2056752</string>
		<key>latitude</key>
		<real>48.439999999999998</real>
		<key>longitude</key>
		<real>135.13999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2016226</string>
		<key>latitude</key>
		<real>48.329999999999998</real>
		<key>longitude</key>
		<real>135.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015707</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>123.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2015136</string>
		<key>latitude</key>
		<real>48.499439000000002</real>
		<key>longitude</key>
		<real>135.197495</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036066</string>
		<key>latitude</key>
		<real>45.299999999999997</real>
		<key>longitude</key>
		<real>130.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2021766</string>
		<key>latitude</key>
		<real>48.218330000000002</real>
		<key>longitude</key>
		<real>135.05639600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013286</string>
		<key>latitude</key>
		<real>48.477778999999998</real>
		<key>longitude</key>
		<real>135.26722699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037685</string>
		<key>latitude</key>
		<real>45.369999999999997</real>
		<key>longitude</key>
		<real>130.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2019388</string>
		<key>latitude</key>
		<real>48.352500999999997</real>
		<key>longitude</key>
		<real>135.23249799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2022317</string>
		<key>latitude</key>
		<real>47.886108</real>
		<key>longitude</key>
		<real>134.94639599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020824</string>
		<key>latitude</key>
		<real>47.145279000000002</real>
		<key>longitude</key>
		<real>134.33833300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2013229</string>
		<key>latitude</key>
		<real>47.537776999999998</real>
		<key>longitude</key>
		<real>134.75250199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038080</string>
		<key>latitude</key>
		<real>45.329999999999998</real>
		<key>longitude</key>
		<real>131.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2036389</string>
		<key>latitude</key>
		<real>45.299999999999997</real>
		<key>longitude</key>
		<real>130.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014078</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>122.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037930</string>
		<key>latitude</key>
		<real>45.5</real>
		<key>longitude</key>
		<real>124.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2035746</string>
		<key>latitude</key>
		<real>45.549999999999997</real>
		<key>longitude</key>
		<real>131.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033111</string>
		<key>latitude</key>
		<real>45.539999999999999</real>
		<key>longitude</key>
		<real>131.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2033128</string>
		<key>latitude</key>
		<real>45.850000000000001</real>
		<key>longitude</key>
		<real>123.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2026696</string>
		<key>latitude</key>
		<real>46.82</real>
		<key>longitude</key>
		<real>134.25999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6607632</string>
		<key>latitude</key>
		<real>46.631110999999997</real>
		<key>longitude</key>
		<real>134.32055700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2012938</string>
		<key>latitude</key>
		<real>53.969999999999999</real>
		<key>longitude</key>
		<real>121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020689</string>
		<key>latitude</key>
		<real>46.476391</real>
		<key>longitude</key>
		<real>134.25694300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8054117</string>
		<key>latitude</key>
		<real>46.090000000000003</real>
		<key>longitude</key>
		<real>122.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034312</string>
		<key>latitude</key>
		<real>46.079999999999998</real>
		<key>longitude</key>
		<real>122.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025159</string>
		<key>latitude</key>
		<real>45.93</real>
		<key>longitude</key>
		<real>133.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2038569</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>122.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020887</string>
		<key>latitude</key>
		<real>45.869999999999997</real>
		<key>longitude</key>
		<real>133.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034701</string>
		<key>latitude</key>
		<real>46.600000000000001</real>
		<key>longitude</key>
		<real>121.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8052580</string>
		<key>latitude</key>
		<real>46.07</real>
		<key>longitude</key>
		<real>121.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2037470</string>
		<key>latitude</key>
		<real>45.369999999999997</real>
		<key>longitude</key>
		<real>123.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2020812</string>
		<key>latitude</key>
		<real>45.479999999999997</real>
		<key>longitude</key>
		<real>133.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2027806</string>
		<key>latitude</key>
		<real>53.859999999999999</real>
		<key>longitude</key>
		<real>120.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2017354</string>
		<key>latitude</key>
		<real>45.520000000000003</real>
		<key>longitude</key>
		<real>133.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034497</string>
		<key>latitude</key>
		<real>45.329999999999998</real>
		<key>longitude</key>
		<real>122.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2014611</string>
		<key>latitude</key>
		<real>54.506110999999997</real>
		<key>longitude</key>
		<real>134.405823</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2018888</string>
		<key>latitude</key>
		<real>45.853062000000001</real>
		<key>longitude</key>
		<real>134.50889599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2034323</string>
		<key>latitude</key>
		<real>45.369999999999997</real>
		<key>longitude</key>
		<real>121.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2025256</string>
		<key>latitude</key>
		<real>54.718330000000002</real>
		<key>longitude</key>
		<real>135.31500199999999</real>
	</dict>
</array>
</plist>
