<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2071379</string>
		<key>latitude</key>
		<real>-30.850000000000001</real>
		<key>longitude</key>
		<real>128.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2071828</string>
		<key>latitude</key>
		<real>-31.716669</real>
		<key>longitude</key>
		<real>128.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839519</string>
		<key>latitude</key>
		<real>-30.776319999999998</real>
		<key>longitude</key>
		<real>124.92346999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839599</string>
		<key>latitude</key>
		<real>-27.937929</real>
		<key>longitude</key>
		<real>125.271271</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839503</string>
		<key>latitude</key>
		<real>-32.125019000000002</real>
		<key>longitude</key>
		<real>124.505821</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2063588</string>
		<key>latitude</key>
		<real>-31.920000000000002</real>
		<key>longitude</key>
		<real>133.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2067890</string>
		<key>latitude</key>
		<real>-28.633329</real>
		<key>longitude</key>
		<real>122.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077489</string>
		<key>latitude</key>
		<real>-32.020000000000003</real>
		<key>longitude</key>
		<real>133.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072951</string>
		<key>latitude</key>
		<real>-32.100000000000001</real>
		<key>longitude</key>
		<real>133.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2074685</string>
		<key>latitude</key>
		<real>-32.119999999999997</real>
		<key>longitude</key>
		<real>133.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6355222</string>
		<key>latitude</key>
		<real>-25.240601000000002</real>
		<key>longitude</key>
		<real>130.98890700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839652</string>
		<key>latitude</key>
		<real>-32.149999999999999</real>
		<key>longitude</key>
		<real>133.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2061399</string>
		<key>latitude</key>
		<real>-32.369999999999997</real>
		<key>longitude</key>
		<real>133.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2071858</string>
		<key>latitude</key>
		<real>-33.519699000000003</real>
		<key>longitude</key>
		<real>122.155861</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2071860</string>
		<key>latitude</key>
		<real>-33.866669000000002</real>
		<key>longitude</key>
		<real>121.900002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839853</string>
		<key>latitude</key>
		<real>-25.366301</real>
		<key>longitude</key>
		<real>121.93242600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2058645</string>
		<key>latitude</key>
		<real>-25</real>
		<key>longitude</key>
		<real>122</real>
	</dict>
</array>
</plist>
