<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2071860</string>
		<key>latitude</key>
		<real>-33.866669000000002</real>
		<key>longitude</key>
		<real>121.900002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2071858</string>
		<key>latitude</key>
		<real>-33.519699000000003</real>
		<key>longitude</key>
		<real>122.155861</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2070960</string>
		<key>latitude</key>
		<real>-33.650002000000001</real>
		<key>longitude</key>
		<real>121.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2070470</string>
		<key>latitude</key>
		<real>-33.233330000000002</real>
		<key>longitude</key>
		<real>121.716667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2062008</string>
		<key>latitude</key>
		<real>-32.983330000000002</real>
		<key>longitude</key>
		<real>121.633331</real>
	</dict>
</array>
</plist>
