<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2077895</string>
		<key>latitude</key>
		<real>-23.700001</real>
		<key>longitude</key>
		<real>133.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839681</string>
		<key>latitude</key>
		<real>-23.731000999999999</real>
		<key>longitude</key>
		<real>133.83320599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839682</string>
		<key>latitude</key>
		<real>-19.541540000000001</real>
		<key>longitude</key>
		<real>134.82363899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064513</string>
		<key>latitude</key>
		<real>-20</real>
		<key>longitude</key>
		<real>134</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075074</string>
		<key>latitude</key>
		<real>-19.91667</real>
		<key>longitude</key>
		<real>138.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2060436</string>
		<key>latitude</key>
		<real>-19.649999999999999</real>
		<key>longitude</key>
		<real>134.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077456</string>
		<key>latitude</key>
		<real>-25</real>
		<key>longitude</key>
		<real>135</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839561</string>
		<key>latitude</key>
		<real>-22.279078999999999</real>
		<key>longitude</key>
		<real>139.625336</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2065594</string>
		<key>latitude</key>
		<real>-20.733329999999999</real>
		<key>longitude</key>
		<real>139.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839378</string>
		<key>latitude</key>
		<real>-19.74831</real>
		<key>longitude</key>
		<real>139.01443499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075982</string>
		<key>latitude</key>
		<real>-22.899999999999999</real>
		<key>longitude</key>
		<real>139.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2076914</string>
		<key>latitude</key>
		<real>-24.350000000000001</real>
		<key>longitude</key>
		<real>139.46667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839572</string>
		<key>latitude</key>
		<real>-20.698891</real>
		<key>longitude</key>
		<real>140.27114900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2149900</string>
		<key>latitude</key>
		<real>-21.533331</real>
		<key>longitude</key>
		<real>140.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255151</string>
		<key>latitude</key>
		<real>-18.312811</real>
		<key>longitude</key>
		<real>138.515625</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171306</string>
		<key>latitude</key>
		<real>-20.700001</real>
		<key>longitude</key>
		<real>140.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839575</string>
		<key>latitude</key>
		<real>-24.576758999999999</real>
		<key>longitude</key>
		<real>140.07162500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839566</string>
		<key>latitude</key>
		<real>-18.064609999999998</real>
		<key>longitude</key>
		<real>139.037476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2076533</string>
		<key>latitude</key>
		<real>-25.899999999999999</real>
		<key>longitude</key>
		<real>139.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158310</string>
		<key>latitude</key>
		<real>-21.27</real>
		<key>longitude</key>
		<real>141.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072064</string>
		<key>latitude</key>
		<real>-17.549999</real>
		<key>longitude</key>
		<real>133.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064787</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>133.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075336</string>
		<key>latitude</key>
		<real>-17.716669</real>
		<key>longitude</key>
		<real>139.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839594</string>
		<key>latitude</key>
		<real>-20.59</real>
		<key>longitude</key>
		<real>141.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162098</string>
		<key>latitude</key>
		<real>-20.649999999999999</real>
		<key>longitude</key>
		<real>141.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6355222</string>
		<key>latitude</key>
		<real>-25.240601000000002</real>
		<key>longitude</key>
		<real>130.98890700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161798</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>140.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155085</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>141.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839568</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>141.34999999999999</real>
	</dict>
</array>
</plist>
