<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2079404</string>
		<key>latitude</key>
		<real>-22.25</real>
		<key>longitude</key>
		<real>114.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079492</string>
		<key>latitude</key>
		<real>-21.933330999999999</real>
		<key>longitude</key>
		<real>114.133331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839506</string>
		<key>latitude</key>
		<real>-22.31785</real>
		<key>longitude</key>
		<real>114.204002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064155</string>
		<key>latitude</key>
		<real>-21.649999999999999</real>
		<key>longitude</key>
		<real>115.099998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2074865</string>
		<key>latitude</key>
		<real>-24.866671</real>
		<key>longitude</key>
		<real>113.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2061676</string>
		<key>latitude</key>
		<real>-25.933330999999999</real>
		<key>longitude</key>
		<real>113.542221</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839659</string>
		<key>latitude</key>
		<real>-22.276738999999999</real>
		<key>longitude</key>
		<real>116.90057400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2073200</string>
		<key>latitude</key>
		<real>-20.66667</real>
		<key>longitude</key>
		<real>116.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839634</string>
		<key>latitude</key>
		<real>-21.039708999999998</real>
		<key>longitude</key>
		<real>116.85742999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6620339</string>
		<key>latitude</key>
		<real>-20.737649999999999</real>
		<key>longitude</key>
		<real>116.84629099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2062276</string>
		<key>latitude</key>
		<real>-20.783331</real>
		<key>longitude</key>
		<real>117.133331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2063176</string>
		<key>latitude</key>
		<real>-20.633329</real>
		<key>longitude</key>
		<real>117.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6354929</string>
		<key>latitude</key>
		<real>-22.693898999999998</real>
		<key>longitude</key>
		<real>117.793098</real>
	</dict>
</array>
</plist>
