<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7839513</string>
		<key>latitude</key>
		<real>-19.000689999999999</real>
		<key>longitude</key>
		<real>127.45204200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2070176</string>
		<key>latitude</key>
		<real>-18.266670000000001</real>
		<key>longitude</key>
		<real>127.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839505</string>
		<key>latitude</key>
		<real>-21.613309999999998</real>
		<key>longitude</key>
		<real>123.71367600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6355222</string>
		<key>latitude</key>
		<real>-25.240601000000002</real>
		<key>longitude</key>
		<real>130.98890700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2071536</string>
		<key>latitude</key>
		<real>-18.183330999999999</real>
		<key>longitude</key>
		<real>125.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839500</string>
		<key>latitude</key>
		<real>-17.504470999999999</real>
		<key>longitude</key>
		<real>125.28014400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839681</string>
		<key>latitude</key>
		<real>-23.731000999999999</real>
		<key>longitude</key>
		<real>133.83320599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077895</string>
		<key>latitude</key>
		<real>-23.700001</real>
		<key>longitude</key>
		<real>133.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072924</string>
		<key>latitude</key>
		<real>-17.299999</real>
		<key>longitude</key>
		<real>123.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075720</string>
		<key>latitude</key>
		<real>-17.966669</real>
		<key>longitude</key>
		<real>122.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072064</string>
		<key>latitude</key>
		<real>-17.549999</real>
		<key>longitude</key>
		<real>133.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064787</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>133.39999399999999</real>
	</dict>
</array>
</plist>
