<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2148540</string>
		<key>latitude</key>
		<real>-21.27</real>
		<key>longitude</key>
		<real>143.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156024</string>
		<key>latitude</key>
		<real>-22.600000000000001</real>
		<key>longitude</key>
		<real>144.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143350</string>
		<key>latitude</key>
		<real>-22.399999999999999</real>
		<key>longitude</key>
		<real>143.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162976</string>
		<key>latitude</key>
		<real>-20.850000000000001</real>
		<key>longitude</key>
		<real>144.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839578</string>
		<key>latitude</key>
		<real>-20.890000000000001</real>
		<key>longitude</key>
		<real>144.38999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839414</string>
		<key>latitude</key>
		<real>-22.510000000000002</real>
		<key>longitude</key>
		<real>142.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170081</string>
		<key>latitude</key>
		<real>-23.399999999999999</real>
		<key>longitude</key>
		<real>144.22999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159630</string>
		<key>latitude</key>
		<real>-23.449999999999999</real>
		<key>longitude</key>
		<real>144.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177762</string>
		<key>latitude</key>
		<real>-22.969999999999999</real>
		<key>longitude</key>
		<real>145.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146215</string>
		<key>latitude</key>
		<real>-20.77</real>
		<key>longitude</key>
		<real>145.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162781</string>
		<key>latitude</key>
		<real>-23.5</real>
		<key>longitude</key>
		<real>144.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839558</string>
		<key>latitude</key>
		<real>-23.050000000000001</real>
		<key>longitude</key>
		<real>145.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839592</string>
		<key>latitude</key>
		<real>-23.879999999999999</real>
		<key>longitude</key>
		<real>143.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176895</string>
		<key>latitude</key>
		<real>-23.57</real>
		<key>longitude</key>
		<real>145.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153459</string>
		<key>latitude</key>
		<real>-20.530000000000001</real>
		<key>longitude</key>
		<real>145.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2160882</string>
		<key>latitude</key>
		<real>-21.579999999999998</real>
		<key>longitude</key>
		<real>141.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152274</string>
		<key>latitude</key>
		<real>-20</real>
		<key>longitude</key>
		<real>145</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162577</string>
		<key>latitude</key>
		<real>-24.27</real>
		<key>longitude</key>
		<real>144.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839570</string>
		<key>latitude</key>
		<real>-20.210000000000001</real>
		<key>longitude</key>
		<real>145.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162098</string>
		<key>latitude</key>
		<real>-20.649999999999999</real>
		<key>longitude</key>
		<real>141.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162355</string>
		<key>latitude</key>
		<real>-23.600000000000001</real>
		<key>longitude</key>
		<real>146.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839594</string>
		<key>latitude</key>
		<real>-20.59</real>
		<key>longitude</key>
		<real>141.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158310</string>
		<key>latitude</key>
		<real>-21.27</real>
		<key>longitude</key>
		<real>141.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175650</string>
		<key>latitude</key>
		<real>-24.420000000000002</real>
		<key>longitude</key>
		<real>145.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171722</string>
		<key>latitude</key>
		<real>-20.100000000000001</real>
		<key>longitude</key>
		<real>146.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178011</string>
		<key>latitude</key>
		<real>-23.649999999999999</real>
		<key>longitude</key>
		<real>146.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162054</string>
		<key>latitude</key>
		<real>-24.829999999999998</real>
		<key>longitude</key>
		<real>143.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156688</string>
		<key>latitude</key>
		<real>-21.383329</real>
		<key>longitude</key>
		<real>147.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2149900</string>
		<key>latitude</key>
		<real>-21.533331</real>
		<key>longitude</key>
		<real>140.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152046</string>
		<key>latitude</key>
		<real>-20.100000000000001</real>
		<key>longitude</key>
		<real>146.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839560</string>
		<key>latitude</key>
		<real>-24.789999999999999</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175376</string>
		<key>latitude</key>
		<real>-22.700001</real>
		<key>longitude</key>
		<real>147.550003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2166311</string>
		<key>latitude</key>
		<real>-18.579999999999998</real>
		<key>longitude</key>
		<real>143.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171365</string>
		<key>latitude</key>
		<real>-22.816669000000001</real>
		<key>longitude</key>
		<real>147.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839577</string>
		<key>latitude</key>
		<real>-18.559999999999999</real>
		<key>longitude</key>
		<real>143.53999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839559</string>
		<key>latitude</key>
		<real>-25.170000000000002</real>
		<key>longitude</key>
		<real>142.46000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167629</string>
		<key>latitude</key>
		<real>-18.52</real>
		<key>longitude</key>
		<real>144.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171306</string>
		<key>latitude</key>
		<real>-20.700001</real>
		<key>longitude</key>
		<real>140.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2147518</string>
		<key>latitude</key>
		<real>-24.879999999999999</real>
		<key>longitude</key>
		<real>146.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143051</string>
		<key>latitude</key>
		<real>-19.600000000000001</real>
		<key>longitude</key>
		<real>146.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143538</string>
		<key>latitude</key>
		<real>-23.649999999999999</real>
		<key>longitude</key>
		<real>147.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156648</string>
		<key>latitude</key>
		<real>-18.82</real>
		<key>longitude</key>
		<real>145.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839399</string>
		<key>latitude</key>
		<real>-19.350000000000001</real>
		<key>longitude</key>
		<real>146.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143412</string>
		<key>latitude</key>
		<real>-25.43</real>
		<key>longitude</key>
		<real>142.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151197</string>
		<key>latitude</key>
		<real>-19.050000000000001</real>
		<key>longitude</key>
		<real>146.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151017</string>
		<key>latitude</key>
		<real>-19.32</real>
		<key>longitude</key>
		<real>146.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839572</string>
		<key>latitude</key>
		<real>-20.698891</real>
		<key>longitude</key>
		<real>140.27114900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165719</string>
		<key>latitude</key>
		<real>-18.300000000000001</real>
		<key>longitude</key>
		<real>143.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156033</string>
		<key>latitude</key>
		<real>-18.949999999999999</real>
		<key>longitude</key>
		<real>146.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839565</string>
		<key>latitude</key>
		<real>-19.849340000000002</real>
		<key>longitude</key>
		<real>147.27238500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151704</string>
		<key>latitude</key>
		<real>-23.016670000000001</real>
		<key>longitude</key>
		<real>147.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6533368</string>
		<key>latitude</key>
		<real>-22.001631</real>
		<key>longitude</key>
		<real>148.046616</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145425</string>
		<key>latitude</key>
		<real>-18.73</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171280</string>
		<key>latitude</key>
		<real>-19.317301</real>
		<key>longitude</key>
		<real>146.82489000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2154261</string>
		<key>latitude</key>
		<real>-19.299999</real>
		<key>longitude</key>
		<real>146.816666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178220</string>
		<key>latitude</key>
		<real>-19.283331</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155175</string>
		<key>latitude</key>
		<real>-19.383329</real>
		<key>longitude</key>
		<real>146.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146142</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176359</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153930</string>
		<key>latitude</key>
		<real>-19.200001</real>
		<key>longitude</key>
		<real>146.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165490</string>
		<key>latitude</key>
		<real>-19.516670000000001</real>
		<key>longitude</key>
		<real>147.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172418</string>
		<key>latitude</key>
		<real>-23.08333</real>
		<key>longitude</key>
		<real>148.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146364</string>
		<key>latitude</key>
		<real>-18.699999999999999</real>
		<key>longitude</key>
		<real>146.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170977</string>
		<key>latitude</key>
		<real>-20.549999</real>
		<key>longitude</key>
		<real>147.85000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839584</string>
		<key>latitude</key>
		<real>-18.66</real>
		<key>longitude</key>
		<real>146.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075982</string>
		<key>latitude</key>
		<real>-22.899999999999999</real>
		<key>longitude</key>
		<real>139.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303211</string>
		<key>latitude</key>
		<real>-19.155139999999999</real>
		<key>longitude</key>
		<real>146.84849500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146083</string>
		<key>latitude</key>
		<real>-18.620000000000001</real>
		<key>longitude</key>
		<real>146.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162737</string>
		<key>latitude</key>
		<real>-18.649999999999999</real>
		<key>longitude</key>
		<real>146.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839587</string>
		<key>latitude</key>
		<real>-22.243459999999999</real>
		<key>longitude</key>
		<real>148.23672500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163237</string>
		<key>latitude</key>
		<real>-19.66667</real>
		<key>longitude</key>
		<real>147.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839413</string>
		<key>latitude</key>
		<real>-20.697800000000001</real>
		<key>longitude</key>
		<real>148.01348899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178285</string>
		<key>latitude</key>
		<real>-25.920000000000002</real>
		<key>longitude</key>
		<real>144.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159640</string>
		<key>latitude</key>
		<real>-18.52</real>
		<key>longitude</key>
		<real>146.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2174207</string>
		<key>latitude</key>
		<real>-19.566669000000001</real>
		<key>longitude</key>
		<real>147.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177413</string>
		<key>latitude</key>
		<real>-19.58333</real>
		<key>longitude</key>
		<real>147.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8219813</string>
		<key>latitude</key>
		<real>-18.632681000000002</real>
		<key>longitude</key>
		<real>146.324478</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170354</string>
		<key>latitude</key>
		<real>-18.58333</real>
		<key>longitude</key>
		<real>146.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159198</string>
		<key>latitude</key>
		<real>-18.58333</real>
		<key>longitude</key>
		<real>146.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2164283</string>
		<key>latitude</key>
		<real>-19.883329</real>
		<key>longitude</key>
		<real>147.683334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839561</string>
		<key>latitude</key>
		<real>-22.279078999999999</real>
		<key>longitude</key>
		<real>139.625336</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167426</string>
		<key>latitude</key>
		<real>-23.533331</real>
		<key>longitude</key>
		<real>148.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930555</string>
		<key>latitude</key>
		<real>-23.03829</real>
		<key>longitude</key>
		<real>148.34463500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839386</string>
		<key>latitude</key>
		<real>-26.149999999999999</real>
		<key>longitude</key>
		<real>143.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165543</string>
		<key>latitude</key>
		<real>-23.733329999999999</real>
		<key>longitude</key>
		<real>148.133331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172195</string>
		<key>latitude</key>
		<real>-18.219999999999999</real>
		<key>longitude</key>
		<real>145.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161639</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167126</string>
		<key>latitude</key>
		<real>-21.133329</real>
		<key>longitude</key>
		<real>148.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175815</string>
		<key>latitude</key>
		<real>-18.129999999999999</real>
		<key>longitude</key>
		<real>145.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156088</string>
		<key>latitude</key>
		<real>-18.100000000000001</real>
		<key>longitude</key>
		<real>145.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157565</string>
		<key>latitude</key>
		<real>-23.966669</real>
		<key>longitude</key>
		<real>148.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2169493</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>148.51666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155514</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>148.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2148602</string>
		<key>latitude</key>
		<real>-24.116671</real>
		<key>longitude</key>
		<real>148.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155628</string>
		<key>latitude</key>
		<real>-21.683330999999999</real>
		<key>longitude</key>
		<real>148.683334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2065594</string>
		<key>latitude</key>
		<real>-20.733329999999999</real>
		<key>longitude</key>
		<real>139.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167115</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>145.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2166693</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>148.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2174444</string>
		<key>latitude</key>
		<real>-20.016670000000001</real>
		<key>longitude</key>
		<real>148.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159441</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>146.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839350</string>
		<key>latitude</key>
		<real>-17.969999999999999</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839575</string>
		<key>latitude</key>
		<real>-24.576758999999999</real>
		<key>longitude</key>
		<real>140.07162500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156641</string>
		<key>latitude</key>
		<real>-17.68</real>
		<key>longitude</key>
		<real>145.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145903</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>145.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153027</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>148.71667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175286</string>
		<key>latitude</key>
		<real>-20.716669</real>
		<key>longitude</key>
		<real>148.60000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177499</string>
		<key>latitude</key>
		<real>-25.799999</real>
		<key>longitude</key>
		<real>146.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839569</string>
		<key>latitude</key>
		<real>-24.063359999999999</real>
		<key>longitude</key>
		<real>148.31958</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162679</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>145.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165864</string>
		<key>latitude</key>
		<real>-21.16667</real>
		<key>longitude</key>
		<real>148.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2149882</string>
		<key>latitude</key>
		<real>-21.233329999999999</real>
		<key>longitude</key>
		<real>148.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2206564</string>
		<key>latitude</key>
		<real>-17.950001</real>
		<key>longitude</key>
		<real>146.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2164180</string>
		<key>latitude</key>
		<real>-20.516670000000001</real>
		<key>longitude</key>
		<real>148.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151905</string>
		<key>latitude</key>
		<real>-20.316669000000001</real>
		<key>longitude</key>
		<real>148.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168424</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>148.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153152</string>
		<key>latitude</key>
		<real>-20.866671</real>
		<key>longitude</key>
		<real>148.73333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152490</string>
		<key>latitude</key>
		<real>-20.41667</real>
		<key>longitude</key>
		<real>148.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156577</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>148.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172768</string>
		<key>latitude</key>
		<real>-20.899999999999999</real>
		<key>longitude</key>
		<real>148.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152048</string>
		<key>latitude</key>
		<real>-17.629999999999999</real>
		<key>longitude</key>
		<real>145.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167618</string>
		<key>latitude</key>
		<real>-17.816669000000001</real>
		<key>longitude</key>
		<real>146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157491</string>
		<key>latitude</key>
		<real>-21.170000000000002</real>
		<key>longitude</key>
		<real>148.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156548</string>
		<key>latitude</key>
		<real>-20.969999999999999</real>
		<key>longitude</key>
		<real>148.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2147873</string>
		<key>latitude</key>
		<real>-21.170000000000002</real>
		<key>longitude</key>
		<real>148.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2148101</string>
		<key>latitude</key>
		<real>-20.33333</real>
		<key>longitude</key>
		<real>148.616669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152257</string>
		<key>latitude</key>
		<real>-26.620000000000001</real>
		<key>longitude</key>
		<real>144.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163713</string>
		<key>latitude</key>
		<real>-21.379999999999999</real>
		<key>longitude</key>
		<real>148.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170723</string>
		<key>latitude</key>
		<real>-20.41667</real>
		<key>longitude</key>
		<real>148.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2149540</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>146.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168977</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>148.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2160914</string>
		<key>latitude</key>
		<real>-21.030000000000001</real>
		<key>longitude</key>
		<real>148.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158731</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>148.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167190</string>
		<key>latitude</key>
		<real>-21.27</real>
		<key>longitude</key>
		<real>148.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839395</string>
		<key>latitude</key>
		<real>-17.309999999999999</real>
		<key>longitude</key>
		<real>144.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175235</string>
		<key>latitude</key>
		<real>-21.58333</real>
		<key>longitude</key>
		<real>149.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167041</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>145.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172477</string>
		<key>latitude</key>
		<real>-20.283331</real>
		<key>longitude</key>
		<real>148.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162591</string>
		<key>latitude</key>
		<real>-17.43</real>
		<key>longitude</key>
		<real>145.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145478</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>145.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167246</string>
		<key>latitude</key>
		<real>-26.670000000000002</real>
		<key>longitude</key>
		<real>143.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158131</string>
		<key>latitude</key>
		<real>-17.649999999999999</real>
		<key>longitude</key>
		<real>145.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6354936</string>
		<key>latitude</key>
		<real>-20.267499999999998</real>
		<key>longitude</key>
		<real>148.716904</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157678</string>
		<key>latitude</key>
		<real>-17.52</real>
		<key>longitude</key>
		<real>145.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152849</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>149.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146911</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>149.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143177</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>145.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156915</string>
		<key>latitude</key>
		<real>-17.633329</real>
		<key>longitude</key>
		<real>146.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839379</string>
		<key>latitude</key>
		<real>-26.136088999999998</real>
		<key>longitude</key>
		<real>146.604095</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175403</string>
		<key>latitude</key>
		<real>-23.58333</real>
		<key>longitude</key>
		<real>148.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839593</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>149.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163558</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>145.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2144384</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>145.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2148973</string>
		<key>latitude</key>
		<real>-17.600000000000001</real>
		<key>longitude</key>
		<real>146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2076914</string>
		<key>latitude</key>
		<real>-24.350000000000001</real>
		<key>longitude</key>
		<real>139.46667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145005</string>
		<key>latitude</key>
		<real>-21.170000000000002</real>
		<key>longitude</key>
		<real>149.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177200</string>
		<key>latitude</key>
		<real>-21.300000000000001</real>
		<key>longitude</key>
		<real>149.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2147298</string>
		<key>latitude</key>
		<real>-17.43</real>
		<key>longitude</key>
		<real>145.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156472</string>
		<key>latitude</key>
		<real>-17.582581000000001</real>
		<key>longitude</key>
		<real>146.043488</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170647</string>
		<key>latitude</key>
		<real>-26.629999999999999</real>
		<key>longitude</key>
		<real>145.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168182</string>
		<key>latitude</key>
		<real>-21.129999999999999</real>
		<key>longitude</key>
		<real>149.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2164124</string>
		<key>latitude</key>
		<real>-21.030000000000001</real>
		<key>longitude</key>
		<real>149.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2166857</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>149.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151092</string>
		<key>latitude</key>
		<real>-21.23</real>
		<key>longitude</key>
		<real>149.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156273</string>
		<key>latitude</key>
		<real>-21.329999999999998</real>
		<key>longitude</key>
		<real>149.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171764</string>
		<key>latitude</key>
		<real>-26.399999999999999</real>
		<key>longitude</key>
		<real>146.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146263</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>145.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162683</string>
		<key>latitude</key>
		<real>-17.533331</real>
		<key>longitude</key>
		<real>146.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2164975</string>
		<key>latitude</key>
		<real>-17.516670000000001</real>
		<key>longitude</key>
		<real>146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165339</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>149.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171623</string>
		<key>latitude</key>
		<real>-17.149999999999999</real>
		<key>longitude</key>
		<real>144.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155308</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>149.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176693</string>
		<key>latitude</key>
		<real>-17.449999999999999</real>
		<key>longitude</key>
		<real>145.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2150216</string>
		<key>latitude</key>
		<real>-21.43</real>
		<key>longitude</key>
		<real>149.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159006</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>145.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161026</string>
		<key>latitude</key>
		<real>-21.620000000000001</real>
		<key>longitude</key>
		<real>149.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167939</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>145.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2154917</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>149.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177914</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>149.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151201</string>
		<key>latitude</key>
		<real>-24.466669</real>
		<key>longitude</key>
		<real>148.616669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145220</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>149.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159220</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>149.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153566</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>145.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177541</string>
		<key>latitude</key>
		<real>-17.27</real>
		<key>longitude</key>
		<real>145.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157481</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>145.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142206</string>
		<key>latitude</key>
		<real>-17.280000000000001</real>
		<key>longitude</key>
		<real>145.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168819</string>
		<key>latitude</key>
		<real>-17.149999999999999</real>
		<key>longitude</key>
		<real>145.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146473</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>145.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162783</string>
		<key>latitude</key>
		<real>-21.699999999999999</real>
		<key>longitude</key>
		<real>149.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177402</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>145.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162019</string>
		<key>latitude</key>
		<real>-17.219999999999999</real>
		<key>longitude</key>
		<real>145.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172276</string>
		<key>latitude</key>
		<real>-21.920000000000002</real>
		<key>longitude</key>
		<real>149.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171642</string>
		<key>latitude</key>
		<real>-17.07</real>
		<key>longitude</key>
		<real>145.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159944</string>
		<key>latitude</key>
		<real>-17.149999999999999</real>
		<key>longitude</key>
		<real>145.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155085</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>141.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171500</string>
		<key>latitude</key>
		<real>-22.120000000000001</real>
		<key>longitude</key>
		<real>149.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839378</string>
		<key>latitude</key>
		<real>-19.74831</real>
		<key>longitude</key>
		<real>139.01443499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158767</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>145.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178013</string>
		<key>latitude</key>
		<real>-17.116671</real>
		<key>longitude</key>
		<real>145.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168806</string>
		<key>latitude</key>
		<real>-23.649999999999999</real>
		<key>longitude</key>
		<real>149.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158075</string>
		<key>latitude</key>
		<real>-17.08333</real>
		<key>longitude</key>
		<real>145.78332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175959</string>
		<key>latitude</key>
		<real>-16.93</real>
		<key>longitude</key>
		<real>145.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156831</string>
		<key>latitude</key>
		<real>-26.41667</real>
		<key>longitude</key>
		<real>147.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2154468</string>
		<key>latitude</key>
		<real>-22.620000000000001</real>
		<key>longitude</key>
		<real>149.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143804</string>
		<key>latitude</key>
		<real>-16.983329999999999</real>
		<key>longitude</key>
		<real>145.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839568</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>141.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142902</string>
		<key>latitude</key>
		<real>-16.950001</real>
		<key>longitude</key>
		<real>145.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172797</string>
		<key>latitude</key>
		<real>-16.91667</real>
		<key>longitude</key>
		<real>145.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839567</string>
		<key>latitude</key>
		<real>-16.902678999999999</real>
		<key>longitude</key>
		<real>145.752869</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167771</string>
		<key>latitude</key>
		<real>-16.899999999999999</real>
		<key>longitude</key>
		<real>145.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151886</string>
		<key>latitude</key>
		<real>-16.883329</real>
		<key>longitude</key>
		<real>145.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161198</string>
		<key>latitude</key>
		<real>-16.829999999999998</real>
		<key>longitude</key>
		<real>145.52000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2166910</string>
		<key>latitude</key>
		<real>-16.82</real>
		<key>longitude</key>
		<real>145.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2160944</string>
		<key>latitude</key>
		<real>-16.816669000000001</real>
		<key>longitude</key>
		<real>145.64999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2207391</string>
		<key>latitude</key>
		<real>-16.842091</real>
		<key>longitude</key>
		<real>145.739227</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161798</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>140.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2206601</string>
		<key>latitude</key>
		<real>-16.816669000000001</real>
		<key>longitude</key>
		<real>145.71667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146013</string>
		<key>latitude</key>
		<real>-16.788758999999999</real>
		<key>longitude</key>
		<real>145.69682299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156566</string>
		<key>latitude</key>
		<real>-16.68</real>
		<key>longitude</key>
		<real>145.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142940</string>
		<key>latitude</key>
		<real>-24.149999999999999</real>
		<key>longitude</key>
		<real>149.46667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2206599</string>
		<key>latitude</key>
		<real>-16.75</real>
		<key>longitude</key>
		<real>145.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156233</string>
		<key>latitude</key>
		<real>-26.450001</real>
		<key>longitude</key>
		<real>147.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839415</string>
		<key>latitude</key>
		<real>-24.030000000000001</real>
		<key>longitude</key>
		<real>149.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158692</string>
		<key>latitude</key>
		<real>-22.82</real>
		<key>longitude</key>
		<real>149.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168306</string>
		<key>latitude</key>
		<real>-23.73</real>
		<key>longitude</key>
		<real>149.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162101</string>
		<key>latitude</key>
		<real>-16.620000000000001</real>
		<key>longitude</key>
		<real>145.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142804</string>
		<key>latitude</key>
		<real>-27.25</real>
		<key>longitude</key>
		<real>145.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163341</string>
		<key>latitude</key>
		<real>-16.58333</real>
		<key>longitude</key>
		<real>145.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162715</string>
		<key>latitude</key>
		<real>-25.850000000000001</real>
		<key>longitude</key>
		<real>148.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2076533</string>
		<key>latitude</key>
		<real>-25.899999999999999</real>
		<key>longitude</key>
		<real>139.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176910</string>
		<key>latitude</key>
		<real>-24.18</real>
		<key>longitude</key>
		<real>149.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075074</string>
		<key>latitude</key>
		<real>-19.91667</real>
		<key>longitude</key>
		<real>138.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177960</string>
		<key>latitude</key>
		<real>-26.549999</real>
		<key>longitude</key>
		<real>148.183334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839346</string>
		<key>latitude</key>
		<real>-26.392890999999999</real>
		<key>longitude</key>
		<real>148.430984</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075336</string>
		<key>latitude</key>
		<real>-17.716669</real>
		<key>longitude</key>
		<real>139.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839566</string>
		<key>latitude</key>
		<real>-18.064609999999998</real>
		<key>longitude</key>
		<real>139.037476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163333</string>
		<key>latitude</key>
		<real>-26.566669000000001</real>
		<key>longitude</key>
		<real>148.616669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151187</string>
		<key>latitude</key>
		<real>-26.58333</real>
		<key>longitude</key>
		<real>148.78332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255151</string>
		<key>latitude</key>
		<real>-18.312811</real>
		<key>longitude</key>
		<real>138.515625</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2147347</string>
		<key>latitude</key>
		<real>-25.649999999999999</real>
		<key>longitude</key>
		<real>149.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2144885</string>
		<key>latitude</key>
		<real>-26.600000000000001</real>
		<key>longitude</key>
		<real>149.183334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142223</string>
		<key>latitude</key>
		<real>-26.616671</real>
		<key>longitude</key>
		<real>149.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162488</string>
		<key>latitude</key>
		<real>-26.649999999999999</real>
		<key>longitude</key>
		<real>149.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2147854</string>
		<key>latitude</key>
		<real>-27.16667</real>
		<key>longitude</key>
		<real>149.066666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168215</string>
		<key>latitude</key>
		<real>-26.649999999999999</real>
		<key>longitude</key>
		<real>149.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158235</string>
		<key>latitude</key>
		<real>-27.329999999999998</real>
		<key>longitude</key>
		<real>149.88</real>
	</dict>
</array>
</plist>
