<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2078138</string>
		<key>latitude</key>
		<real>-10.5</real>
		<key>longitude</key>
		<real>105.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2078132</string>
		<key>latitude</key>
		<real>-10.43333</real>
		<key>longitude</key>
		<real>105.68332700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2078127</string>
		<key>latitude</key>
		<real>-10.421720000000001</real>
		<key>longitude</key>
		<real>105.679123</real>
	</dict>
</array>
</plist>
