<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2079582</string>
		<key>latitude</key>
		<real>-13.848330000000001</real>
		<key>longitude</key>
		<real>136.419174</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839403</string>
		<key>latitude</key>
		<real>-12.66175</real>
		<key>longitude</key>
		<real>135.82281499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839408</string>
		<key>latitude</key>
		<real>-15.30564</real>
		<key>longitude</key>
		<real>134.973557</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064735</string>
		<key>latitude</key>
		<real>-12.23333</real>
		<key>longitude</key>
		<real>136.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2076017</string>
		<key>latitude</key>
		<real>-16.066669000000001</real>
		<key>longitude</key>
		<real>136.28332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2067089</string>
		<key>latitude</key>
		<real>-12.06667</real>
		<key>longitude</key>
		<real>134.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2066808</string>
		<key>latitude</key>
		<real>-14.93333</real>
		<key>longitude</key>
		<real>133.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839412</string>
		<key>latitude</key>
		<real>-12.387230000000001</real>
		<key>longitude</key>
		<real>133.37934899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2073208</string>
		<key>latitude</key>
		<real>-16.25</real>
		<key>longitude</key>
		<real>133.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2068655</string>
		<key>latitude</key>
		<real>-14.466670000000001</real>
		<key>longitude</key>
		<real>132.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839404</string>
		<key>latitude</key>
		<real>-14.65</real>
		<key>longitude</key>
		<real>132.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064787</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>133.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072064</string>
		<key>latitude</key>
		<real>-17.549999</real>
		<key>longitude</key>
		<real>133.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2078024</string>
		<key>latitude</key>
		<real>-13.24</real>
		<key>longitude</key>
		<real>131.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839375</string>
		<key>latitude</key>
		<real>-13.039999999999999</real>
		<key>longitude</key>
		<real>131.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077026</string>
		<key>latitude</key>
		<real>-13.07</real>
		<key>longitude</key>
		<real>131.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255151</string>
		<key>latitude</key>
		<real>-18.312811</real>
		<key>longitude</key>
		<real>138.515625</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839405</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>131.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839566</string>
		<key>latitude</key>
		<real>-18.064609999999998</real>
		<key>longitude</key>
		<real>139.037476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2066653</string>
		<key>latitude</key>
		<real>-12.529999999999999</real>
		<key>longitude</key>
		<real>131.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075336</string>
		<key>latitude</key>
		<real>-17.716669</real>
		<key>longitude</key>
		<real>139.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839407</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>130.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6301965</string>
		<key>latitude</key>
		<real>-12.49</real>
		<key>longitude</key>
		<real>130.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079692</string>
		<key>latitude</key>
		<real>-12.369999999999999</real>
		<key>longitude</key>
		<real>130.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839402</string>
		<key>latitude</key>
		<real>-12.4</real>
		<key>longitude</key>
		<real>130.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077383</string>
		<key>latitude</key>
		<real>-12.42</real>
		<key>longitude</key>
		<real>130.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079693</string>
		<key>latitude</key>
		<real>-12.42</real>
		<key>longitude</key>
		<real>130.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079686</string>
		<key>latitude</key>
		<real>-12.44</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2073124</string>
		<key>latitude</key>
		<real>-12.460000000000001</real>
		<key>longitude</key>
		<real>130.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079695</string>
		<key>latitude</key>
		<real>-12.43</real>
		<key>longitude</key>
		<real>130.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079691</string>
		<key>latitude</key>
		<real>-12.460000000000001</real>
		<key>longitude</key>
		<real>130.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079696</string>
		<key>latitude</key>
		<real>-12.380000000000001</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2063845</string>
		<key>latitude</key>
		<real>-12.43</real>
		<key>longitude</key>
		<real>130.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839410</string>
		<key>latitude</key>
		<real>-15.9292</real>
		<key>longitude</key>
		<real>130.76165800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839682</string>
		<key>latitude</key>
		<real>-19.541540000000001</real>
		<key>longitude</key>
		<real>134.82363899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161798</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>140.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155085</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>141.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839568</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>141.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082539</string>
		<key>latitude</key>
		<real>-8.4666700000000006</real>
		<key>longitude</key>
		<real>140.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090495</string>
		<key>latitude</key>
		<real>-8.7106600000000007</real>
		<key>longitude</key>
		<real>141.636673</real>
	</dict>
</array>
</plist>
