<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7839573</string>
		<key>latitude</key>
		<real>-13.68</real>
		<key>longitude</key>
		<real>143.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171097</string>
		<key>latitude</key>
		<real>-13.93</real>
		<key>longitude</key>
		<real>143.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170658</string>
		<key>latitude</key>
		<real>-15.466670000000001</real>
		<key>longitude</key>
		<real>145.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151012</string>
		<key>latitude</key>
		<real>-15.66667</real>
		<key>longitude</key>
		<real>145.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2207364</string>
		<key>latitude</key>
		<real>-15.93333</real>
		<key>longitude</key>
		<real>145.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2144209</string>
		<key>latitude</key>
		<real>-12.66667</real>
		<key>longitude</key>
		<real>141.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2169554</string>
		<key>latitude</key>
		<real>-16.25</real>
		<key>longitude</key>
		<real>145.316666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2207360</string>
		<key>latitude</key>
		<real>-16.33333</real>
		<key>longitude</key>
		<real>145.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157947</string>
		<key>latitude</key>
		<real>-16.399999999999999</real>
		<key>longitude</key>
		<real>145.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156783</string>
		<key>latitude</key>
		<real>-16.466669</real>
		<key>longitude</key>
		<real>145.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172137</string>
		<key>latitude</key>
		<real>-16.5</real>
		<key>longitude</key>
		<real>145.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152681</string>
		<key>latitude</key>
		<real>-16.483329999999999</real>
		<key>longitude</key>
		<real>145.46667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162101</string>
		<key>latitude</key>
		<real>-16.620000000000001</real>
		<key>longitude</key>
		<real>145.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163341</string>
		<key>latitude</key>
		<real>-16.58333</real>
		<key>longitude</key>
		<real>145.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156566</string>
		<key>latitude</key>
		<real>-16.68</real>
		<key>longitude</key>
		<real>145.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2206599</string>
		<key>latitude</key>
		<real>-16.75</real>
		<key>longitude</key>
		<real>145.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161198</string>
		<key>latitude</key>
		<real>-16.829999999999998</real>
		<key>longitude</key>
		<real>145.52000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171623</string>
		<key>latitude</key>
		<real>-17.149999999999999</real>
		<key>longitude</key>
		<real>144.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146013</string>
		<key>latitude</key>
		<real>-16.788758999999999</real>
		<key>longitude</key>
		<real>145.69682299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175959</string>
		<key>latitude</key>
		<real>-16.93</real>
		<key>longitude</key>
		<real>145.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2160944</string>
		<key>latitude</key>
		<real>-16.816669000000001</real>
		<key>longitude</key>
		<real>145.64999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2166910</string>
		<key>latitude</key>
		<real>-16.82</real>
		<key>longitude</key>
		<real>145.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2206601</string>
		<key>latitude</key>
		<real>-16.816669000000001</real>
		<key>longitude</key>
		<real>145.71667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2207391</string>
		<key>latitude</key>
		<real>-16.842091</real>
		<key>longitude</key>
		<real>145.739227</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158767</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>145.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839395</string>
		<key>latitude</key>
		<real>-17.309999999999999</real>
		<key>longitude</key>
		<real>144.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151886</string>
		<key>latitude</key>
		<real>-16.883329</real>
		<key>longitude</key>
		<real>145.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2168819</string>
		<key>latitude</key>
		<real>-17.149999999999999</real>
		<key>longitude</key>
		<real>145.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171642</string>
		<key>latitude</key>
		<real>-17.07</real>
		<key>longitude</key>
		<real>145.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167771</string>
		<key>latitude</key>
		<real>-16.899999999999999</real>
		<key>longitude</key>
		<real>145.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839567</string>
		<key>latitude</key>
		<real>-16.902678999999999</real>
		<key>longitude</key>
		<real>145.752869</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172797</string>
		<key>latitude</key>
		<real>-16.91667</real>
		<key>longitude</key>
		<real>145.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142902</string>
		<key>latitude</key>
		<real>-16.950001</real>
		<key>longitude</key>
		<real>145.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143804</string>
		<key>latitude</key>
		<real>-16.983329999999999</real>
		<key>longitude</key>
		<real>145.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839382</string>
		<key>latitude</key>
		<real>-10.970000000000001</real>
		<key>longitude</key>
		<real>142.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177023</string>
		<key>latitude</key>
		<real>-10.890000000000001</real>
		<key>longitude</key>
		<real>142.38999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145478</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>145.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158075</string>
		<key>latitude</key>
		<real>-17.08333</real>
		<key>longitude</key>
		<real>145.78332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146473</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>145.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162019</string>
		<key>latitude</key>
		<real>-17.219999999999999</real>
		<key>longitude</key>
		<real>145.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159944</string>
		<key>latitude</key>
		<real>-17.149999999999999</real>
		<key>longitude</key>
		<real>145.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177541</string>
		<key>latitude</key>
		<real>-17.27</real>
		<key>longitude</key>
		<real>145.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178013</string>
		<key>latitude</key>
		<real>-17.116671</real>
		<key>longitude</key>
		<real>145.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2144384</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>145.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2142206</string>
		<key>latitude</key>
		<real>-17.280000000000001</real>
		<key>longitude</key>
		<real>145.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162591</string>
		<key>latitude</key>
		<real>-17.43</real>
		<key>longitude</key>
		<real>145.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167939</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>145.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2163558</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>145.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153566</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>145.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143177</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>145.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159006</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>145.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839397</string>
		<key>latitude</key>
		<real>-10.70379</real>
		<key>longitude</key>
		<real>142.179565</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2147298</string>
		<key>latitude</key>
		<real>-17.43</real>
		<key>longitude</key>
		<real>145.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167041</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>145.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146263</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>145.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2207413</string>
		<key>latitude</key>
		<real>-10.6</real>
		<key>longitude</key>
		<real>142.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177402</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>145.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152669</string>
		<key>latitude</key>
		<real>-10.585000000000001</real>
		<key>longitude</key>
		<real>142.21777299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156641</string>
		<key>latitude</key>
		<real>-17.68</real>
		<key>longitude</key>
		<real>145.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157678</string>
		<key>latitude</key>
		<real>-17.52</real>
		<key>longitude</key>
		<real>145.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162679</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>145.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2157481</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>145.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176693</string>
		<key>latitude</key>
		<real>-17.449999999999999</real>
		<key>longitude</key>
		<real>145.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152048</string>
		<key>latitude</key>
		<real>-17.629999999999999</real>
		<key>longitude</key>
		<real>145.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2164975</string>
		<key>latitude</key>
		<real>-17.516670000000001</real>
		<key>longitude</key>
		<real>146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162683</string>
		<key>latitude</key>
		<real>-17.533331</real>
		<key>longitude</key>
		<real>146.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2148973</string>
		<key>latitude</key>
		<real>-17.600000000000001</real>
		<key>longitude</key>
		<real>146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156472</string>
		<key>latitude</key>
		<real>-17.582581000000001</real>
		<key>longitude</key>
		<real>146.043488</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2158131</string>
		<key>latitude</key>
		<real>-17.649999999999999</real>
		<key>longitude</key>
		<real>145.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156915</string>
		<key>latitude</key>
		<real>-17.633329</real>
		<key>longitude</key>
		<real>146.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839398</string>
		<key>latitude</key>
		<real>-10.199999999999999</real>
		<key>longitude</key>
		<real>142.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839568</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>141.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2149540</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>146.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177272</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>142.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167618</string>
		<key>latitude</key>
		<real>-17.816669000000001</real>
		<key>longitude</key>
		<real>146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165719</string>
		<key>latitude</key>
		<real>-18.300000000000001</real>
		<key>longitude</key>
		<real>143.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145903</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>145.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839350</string>
		<key>latitude</key>
		<real>-17.969999999999999</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167115</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>145.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2206564</string>
		<key>latitude</key>
		<real>-17.950001</real>
		<key>longitude</key>
		<real>146.08332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159441</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>146.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156088</string>
		<key>latitude</key>
		<real>-18.100000000000001</real>
		<key>longitude</key>
		<real>145.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2167629</string>
		<key>latitude</key>
		<real>-18.52</real>
		<key>longitude</key>
		<real>144.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2175815</string>
		<key>latitude</key>
		<real>-18.129999999999999</real>
		<key>longitude</key>
		<real>145.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839577</string>
		<key>latitude</key>
		<real>-18.559999999999999</real>
		<key>longitude</key>
		<real>143.53999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2166311</string>
		<key>latitude</key>
		<real>-18.579999999999998</real>
		<key>longitude</key>
		<real>143.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2172195</string>
		<key>latitude</key>
		<real>-18.219999999999999</real>
		<key>longitude</key>
		<real>145.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161639</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155085</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>141.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2161798</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>140.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159640</string>
		<key>latitude</key>
		<real>-18.52</real>
		<key>longitude</key>
		<real>146.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098329</string>
		<key>latitude</key>
		<real>-9.0800000000000001</real>
		<key>longitude</key>
		<real>143.21000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146083</string>
		<key>latitude</key>
		<real>-18.620000000000001</real>
		<key>longitude</key>
		<real>146.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2170354</string>
		<key>latitude</key>
		<real>-18.58333</real>
		<key>longitude</key>
		<real>146.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159198</string>
		<key>latitude</key>
		<real>-18.58333</real>
		<key>longitude</key>
		<real>146.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839584</string>
		<key>latitude</key>
		<real>-18.66</real>
		<key>longitude</key>
		<real>146.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2145425</string>
		<key>latitude</key>
		<real>-18.73</real>
		<key>longitude</key>
		<real>145.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2162737</string>
		<key>latitude</key>
		<real>-18.649999999999999</real>
		<key>longitude</key>
		<real>146.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156648</string>
		<key>latitude</key>
		<real>-18.82</real>
		<key>longitude</key>
		<real>145.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146364</string>
		<key>latitude</key>
		<real>-18.699999999999999</real>
		<key>longitude</key>
		<real>146.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8219813</string>
		<key>latitude</key>
		<real>-18.632681000000002</real>
		<key>longitude</key>
		<real>146.324478</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156033</string>
		<key>latitude</key>
		<real>-18.949999999999999</real>
		<key>longitude</key>
		<real>146.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094687</string>
		<key>latitude</key>
		<real>-8.6300000000000008</real>
		<key>longitude</key>
		<real>142.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099101</string>
		<key>latitude</key>
		<real>-9.4675499999999992</real>
		<key>longitude</key>
		<real>147.19581600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088122</string>
		<key>latitude</key>
		<real>-9.4431399999999996</real>
		<key>longitude</key>
		<real>147.17971800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087178</string>
		<key>latitude</key>
		<real>-9.4549900000000004</real>
		<key>longitude</key>
		<real>147.21122700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089856</string>
		<key>latitude</key>
		<real>-9.4166699999999999</real>
		<key>longitude</key>
		<real>147.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151197</string>
		<key>latitude</key>
		<real>-19.050000000000001</real>
		<key>longitude</key>
		<real>146.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2075336</string>
		<key>latitude</key>
		<real>-17.716669</real>
		<key>longitude</key>
		<real>139.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090495</string>
		<key>latitude</key>
		<real>-8.7106600000000007</real>
		<key>longitude</key>
		<real>141.636673</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303211</string>
		<key>latitude</key>
		<real>-19.155139999999999</real>
		<key>longitude</key>
		<real>146.84849500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153930</string>
		<key>latitude</key>
		<real>-19.200001</real>
		<key>longitude</key>
		<real>146.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146142</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176359</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839399</string>
		<key>latitude</key>
		<real>-19.350000000000001</real>
		<key>longitude</key>
		<real>146.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178220</string>
		<key>latitude</key>
		<real>-19.283331</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151017</string>
		<key>latitude</key>
		<real>-19.32</real>
		<key>longitude</key>
		<real>146.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2154261</string>
		<key>latitude</key>
		<real>-19.299999</real>
		<key>longitude</key>
		<real>146.816666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171280</string>
		<key>latitude</key>
		<real>-19.317301</real>
		<key>longitude</key>
		<real>146.82489000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155175</string>
		<key>latitude</key>
		<real>-19.383329</real>
		<key>longitude</key>
		<real>146.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143051</string>
		<key>latitude</key>
		<real>-19.600000000000001</real>
		<key>longitude</key>
		<real>146.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165490</string>
		<key>latitude</key>
		<real>-19.516670000000001</real>
		<key>longitude</key>
		<real>147.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839566</string>
		<key>latitude</key>
		<real>-18.064609999999998</real>
		<key>longitude</key>
		<real>139.037476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093691</string>
		<key>latitude</key>
		<real>-8.8785299999999996</real>
		<key>longitude</key>
		<real>147.740723</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2174207</string>
		<key>latitude</key>
		<real>-19.566669000000001</real>
		<key>longitude</key>
		<real>147.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177413</string>
		<key>latitude</key>
		<real>-19.58333</real>
		<key>longitude</key>
		<real>147.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082539</string>
		<key>latitude</key>
		<real>-8.4666700000000006</real>
		<key>longitude</key>
		<real>140.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089478</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>148.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094982</string>
		<key>latitude</key>
		<real>-8.7666699999999995</real>
		<key>longitude</key>
		<real>148.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088163</string>
		<key>latitude</key>
		<real>-8.7536699999999996</real>
		<key>longitude</key>
		<real>148.25341800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255151</string>
		<key>latitude</key>
		<real>-18.312811</real>
		<key>longitude</key>
		<real>138.515625</real>
	</dict>
</array>
</plist>
