<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2090409</string>
		<key>latitude</key>
		<real>-5.8600000000000003</real>
		<key>longitude</key>
		<real>144.22999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2095925</string>
		<key>latitude</key>
		<real>-6.2800000000000002</real>
		<key>longitude</key>
		<real>143.99000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2095101</string>
		<key>latitude</key>
		<real>-5.8300000000000001</real>
		<key>longitude</key>
		<real>144.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2084734</string>
		<key>latitude</key>
		<real>-6.1500000000000004</real>
		<key>longitude</key>
		<real>143.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090990</string>
		<key>latitude</key>
		<real>-6.1799999999999997</real>
		<key>longitude</key>
		<real>143.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2083551</string>
		<key>latitude</key>
		<real>-5.75</real>
		<key>longitude</key>
		<real>144.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2084246</string>
		<key>latitude</key>
		<real>-5.4800000000000004</real>
		<key>longitude</key>
		<real>143.69999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2086331</string>
		<key>latitude</key>
		<real>-6.25</real>
		<key>longitude</key>
		<real>143.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088143</string>
		<key>latitude</key>
		<real>-5.4699999999999998</real>
		<key>longitude</key>
		<real>143.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093059</string>
		<key>latitude</key>
		<real>-6.0199999999999996</real>
		<key>longitude</key>
		<real>144.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082774</string>
		<key>latitude</key>
		<real>-6.0800000000000001</real>
		<key>longitude</key>
		<real>145.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2096742</string>
		<key>latitude</key>
		<real>-6.0800000000000001</real>
		<key>longitude</key>
		<real>145.38999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2097855</string>
		<key>latitude</key>
		<real>-6.5</real>
		<key>longitude</key>
		<real>145.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2091993</string>
		<key>latitude</key>
		<real>-5</real>
		<key>longitude</key>
		<real>145.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2084598</string>
		<key>latitude</key>
		<real>-6.3899999999999997</real>
		<key>longitude</key>
		<real>145.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2095038</string>
		<key>latitude</key>
		<real>-6.29</real>
		<key>longitude</key>
		<real>145.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2100765</string>
		<key>latitude</key>
		<real>-4.0625299999999998</real>
		<key>longitude</key>
		<real>144.06608600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2091996</string>
		<key>latitude</key>
		<real>-5.2246499999999996</real>
		<key>longitude</key>
		<real>145.79655500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093310</string>
		<key>latitude</key>
		<real>-5.2000000000000002</real>
		<key>longitude</key>
		<real>145.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2097846</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>143.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2100933</string>
		<key>latitude</key>
		<real>-4.2400000000000002</real>
		<key>longitude</key>
		<real>142.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2085203</string>
		<key>latitude</key>
		<real>-4.0294100000000004</real>
		<key>longitude</key>
		<real>143.127914</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099488</string>
		<key>latitude</key>
		<real>-5.5833300000000001</real>
		<key>longitude</key>
		<real>146.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099134</string>
		<key>latitude</key>
		<real>-3.5816400000000002</real>
		<key>longitude</key>
		<real>143.663467</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2083537</string>
		<key>latitude</key>
		<real>-3.55342</real>
		<key>longitude</key>
		<real>143.62678500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2083549</string>
		<key>latitude</key>
		<real>-7.5</real>
		<key>longitude</key>
		<real>142</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098584</string>
		<key>latitude</key>
		<real>-6.5833300000000001</real>
		<key>longitude</key>
		<real>146.580566</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094144</string>
		<key>latitude</key>
		<real>-7.96</real>
		<key>longitude</key>
		<real>145.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093846</string>
		<key>latitude</key>
		<real>-6.1219299999999999</real>
		<key>longitude</key>
		<real>141.290604</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090136</string>
		<key>latitude</key>
		<real>-6.5672899999999998</real>
		<key>longitude</key>
		<real>146.73925800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094687</string>
		<key>latitude</key>
		<real>-8.6300000000000008</real>
		<key>longitude</key>
		<real>142.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098869</string>
		<key>latitude</key>
		<real>-7.2000000000000002</real>
		<key>longitude</key>
		<real>146.64999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088628</string>
		<key>latitude</key>
		<real>-6</real>
		<key>longitude</key>
		<real>147</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2083653</string>
		<key>latitude</key>
		<real>-7.33514</real>
		<key>longitude</key>
		<real>146.71798699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2092740</string>
		<key>latitude</key>
		<real>-6.7220800000000001</real>
		<key>longitude</key>
		<real>146.98469499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098899</string>
		<key>latitude</key>
		<real>-6.7333299999999996</real>
		<key>longitude</key>
		<real>147.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090468</string>
		<key>latitude</key>
		<real>-7.0106000000000002</real>
		<key>longitude</key>
		<real>146.96719400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098329</string>
		<key>latitude</key>
		<real>-9.0800000000000001</real>
		<key>longitude</key>
		<real>143.21000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087246</string>
		<key>latitude</key>
		<real>-3.5</real>
		<key>longitude</key>
		<real>142</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2101169</string>
		<key>latitude</key>
		<real>-3.1374399999999998</real>
		<key>longitude</key>
		<real>142.34750399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090495</string>
		<key>latitude</key>
		<real>-8.7106600000000007</real>
		<key>longitude</key>
		<real>141.636673</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082430</string>
		<key>latitude</key>
		<real>-6.0833300000000001</real>
		<key>longitude</key>
		<real>140.28332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089168</string>
		<key>latitude</key>
		<real>-3.6098599999999998</real>
		<key>longitude</key>
		<real>141.05183400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2097418</string>
		<key>latitude</key>
		<real>-6.60243</real>
		<key>longitude</key>
		<real>147.868134</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098322</string>
		<key>latitude</key>
		<real>-2.7000000000000002</real>
		<key>longitude</key>
		<real>141.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2084442</string>
		<key>latitude</key>
		<real>-2.67408</real>
		<key>longitude</key>
		<real>141.302841</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082539</string>
		<key>latitude</key>
		<real>-8.4666700000000006</real>
		<key>longitude</key>
		<real>140.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177272</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>142.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839398</string>
		<key>latitude</key>
		<real>-10.199999999999999</real>
		<key>longitude</key>
		<real>142.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089856</string>
		<key>latitude</key>
		<real>-9.4166699999999999</real>
		<key>longitude</key>
		<real>147.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088122</string>
		<key>latitude</key>
		<real>-9.4431399999999996</real>
		<key>longitude</key>
		<real>147.17971800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093691</string>
		<key>latitude</key>
		<real>-8.8785299999999996</real>
		<key>longitude</key>
		<real>147.740723</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099101</string>
		<key>latitude</key>
		<real>-9.4675499999999992</real>
		<key>longitude</key>
		<real>147.19581600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087178</string>
		<key>latitude</key>
		<real>-9.4549900000000004</real>
		<key>longitude</key>
		<real>147.21122700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082600</string>
		<key>latitude</key>
		<real>-2.5333299999999999</real>
		<key>longitude</key>
		<real>140.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082727</string>
		<key>latitude</key>
		<real>-2.6333299999999999</real>
		<key>longitude</key>
		<real>140.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082612</string>
		<key>latitude</key>
		<real>-2.5666699999999998</real>
		<key>longitude</key>
		<real>140.51666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2152669</string>
		<key>latitude</key>
		<real>-10.585000000000001</real>
		<key>longitude</key>
		<real>142.21777299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2207413</string>
		<key>latitude</key>
		<real>-10.6</real>
		<key>longitude</key>
		<real>142.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2091495</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>147</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094982</string>
		<key>latitude</key>
		<real>-8.7666699999999995</real>
		<key>longitude</key>
		<real>148.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088163</string>
		<key>latitude</key>
		<real>-8.7536699999999996</real>
		<key>longitude</key>
		<real>148.25341800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839397</string>
		<key>latitude</key>
		<real>-10.70379</real>
		<key>longitude</key>
		<real>142.179565</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2092164</string>
		<key>latitude</key>
		<real>-2.0225900000000001</real>
		<key>longitude</key>
		<real>147.27119400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177023</string>
		<key>latitude</key>
		<real>-10.890000000000001</real>
		<key>longitude</key>
		<real>142.38999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090567</string>
		<key>latitude</key>
		<real>-2.0662199999999999</real>
		<key>longitude</key>
		<real>147.42181400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839382</string>
		<key>latitude</key>
		<real>-10.970000000000001</real>
		<key>longitude</key>
		<real>142.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089478</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>148.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094746</string>
		<key>latitude</key>
		<real>-6.2166699999999997</real>
		<key>longitude</key>
		<real>149.550003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1622167</string>
		<key>latitude</key>
		<real>-3.9166699999999999</real>
		<key>longitude</key>
		<real>138.73333700000001</real>
	</dict>
</array>
</plist>
