<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2132606</string>
		<key>latitude</key>
		<real>-10.616669999999999</real>
		<key>longitude</key>
		<real>150.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2132895</string>
		<key>latitude</key>
		<real>-10.552619999999999</real>
		<key>longitude</key>
		<real>150.314941</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087362</string>
		<key>latitude</key>
		<real>-9.6600000000000001</real>
		<key>longitude</key>
		<real>150.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089478</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>148.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088163</string>
		<key>latitude</key>
		<real>-8.7536699999999996</real>
		<key>longitude</key>
		<real>148.25341800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094982</string>
		<key>latitude</key>
		<real>-8.7666699999999995</real>
		<key>longitude</key>
		<real>148.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087178</string>
		<key>latitude</key>
		<real>-9.4549900000000004</real>
		<key>longitude</key>
		<real>147.21122700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099101</string>
		<key>latitude</key>
		<real>-9.4675499999999992</real>
		<key>longitude</key>
		<real>147.19581600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088122</string>
		<key>latitude</key>
		<real>-9.4431399999999996</real>
		<key>longitude</key>
		<real>147.17971800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089856</string>
		<key>latitude</key>
		<real>-9.4166699999999999</real>
		<key>longitude</key>
		<real>147.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093691</string>
		<key>latitude</key>
		<real>-8.8785299999999996</real>
		<key>longitude</key>
		<real>147.740723</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2177413</string>
		<key>latitude</key>
		<real>-19.58333</real>
		<key>longitude</key>
		<real>147.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2174207</string>
		<key>latitude</key>
		<real>-19.566669000000001</real>
		<key>longitude</key>
		<real>147.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303211</string>
		<key>latitude</key>
		<real>-19.155139999999999</real>
		<key>longitude</key>
		<real>146.84849500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8219813</string>
		<key>latitude</key>
		<real>-18.632681000000002</real>
		<key>longitude</key>
		<real>146.324478</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2159198</string>
		<key>latitude</key>
		<real>-18.58333</real>
		<key>longitude</key>
		<real>146.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2153930</string>
		<key>latitude</key>
		<real>-19.200001</real>
		<key>longitude</key>
		<real>146.76666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2146142</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2176359</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2165490</string>
		<key>latitude</key>
		<real>-19.516670000000001</real>
		<key>longitude</key>
		<real>147.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2155175</string>
		<key>latitude</key>
		<real>-19.383329</real>
		<key>longitude</key>
		<real>146.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178220</string>
		<key>latitude</key>
		<real>-19.283331</real>
		<key>longitude</key>
		<real>146.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2154261</string>
		<key>latitude</key>
		<real>-19.299999</real>
		<key>longitude</key>
		<real>146.816666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2171280</string>
		<key>latitude</key>
		<real>-19.317301</real>
		<key>longitude</key>
		<real>146.82489000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151017</string>
		<key>latitude</key>
		<real>-19.32</real>
		<key>longitude</key>
		<real>146.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2156033</string>
		<key>latitude</key>
		<real>-18.949999999999999</real>
		<key>longitude</key>
		<real>146.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2151197</string>
		<key>latitude</key>
		<real>-19.050000000000001</real>
		<key>longitude</key>
		<real>146.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839399</string>
		<key>latitude</key>
		<real>-19.350000000000001</real>
		<key>longitude</key>
		<real>146.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2143051</string>
		<key>latitude</key>
		<real>-19.600000000000001</real>
		<key>longitude</key>
		<real>146.83000000000001</real>
	</dict>
</array>
</plist>
