<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2109528</string>
		<key>latitude</key>
		<real>-8.1449700000000007</real>
		<key>longitude</key>
		<real>159.592117</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2103350</string>
		<key>latitude</key>
		<real>-8</real>
		<key>longitude</key>
		<real>159</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2107200</string>
		<key>latitude</key>
		<real>-8.7666699999999995</real>
		<key>longitude</key>
		<real>160.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2109701</string>
		<key>latitude</key>
		<real>-8.7676099999999995</real>
		<key>longitude</key>
		<real>160.70335399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2102384</string>
		<key>latitude</key>
		<real>-9.0995799999999996</real>
		<key>longitude</key>
		<real>160.147583</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2105596</string>
		<key>latitude</key>
		<real>-9.4166699999999999</real>
		<key>longitude</key>
		<real>160.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2102985</string>
		<key>latitude</key>
		<real>-9.4333299999999998</real>
		<key>longitude</key>
		<real>159.949997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2108502</string>
		<key>latitude</key>
		<real>-9.4333299999999998</real>
		<key>longitude</key>
		<real>159.949997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2105575</string>
		<key>latitude</key>
		<real>-8.3279899999999998</real>
		<key>longitude</key>
		<real>157.266525</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2108831</string>
		<key>latitude</key>
		<real>-9.75</real>
		<key>longitude</key>
		<real>160</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2108857</string>
		<key>latitude</key>
		<real>-8.1030300000000004</real>
		<key>longitude</key>
		<real>156.841858</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094027</string>
		<key>latitude</key>
		<real>-6.2166699999999997</real>
		<key>longitude</key>
		<real>155.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2100633</string>
		<key>latitude</key>
		<real>-6.21319</real>
		<key>longitude</key>
		<real>155.536743</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088659</string>
		<key>latitude</key>
		<real>-6.3163999999999998</real>
		<key>longitude</key>
		<real>155.48483300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178753</string>
		<key>latitude</key>
		<real>-10.454420000000001</real>
		<key>longitude</key>
		<real>161.920456</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089470</string>
		<key>latitude</key>
		<real>-6</real>
		<key>longitude</key>
		<real>155</real>
	</dict>
</array>
</plist>
