<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2097853</string>
		<key>latitude</key>
		<real>-4.6128299999999998</real>
		<key>longitude</key>
		<real>151.887756</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093685</string>
		<key>latitude</key>
		<real>-4.3520200000000004</real>
		<key>longitude</key>
		<real>152.26327499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087894</string>
		<key>latitude</key>
		<real>-4.1967100000000004</real>
		<key>longitude</key>
		<real>152.17214999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093967</string>
		<key>latitude</key>
		<real>-5.5502099999999999</real>
		<key>longitude</key>
		<real>150.142853</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2083546</string>
		<key>latitude</key>
		<real>-5.8783300000000001</real>
		<key>longitude</key>
		<real>149.82605000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090021</string>
		<key>latitude</key>
		<real>-3.6666699999999999</real>
		<key>longitude</key>
		<real>152.433334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094746</string>
		<key>latitude</key>
		<real>-6.2166699999999997</real>
		<key>longitude</key>
		<real>149.550003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089470</string>
		<key>latitude</key>
		<real>-6</real>
		<key>longitude</key>
		<real>155</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089693</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>151.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098948</string>
		<key>latitude</key>
		<real>-2.6596799999999998</real>
		<key>longitude</key>
		<real>152.0103</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088659</string>
		<key>latitude</key>
		<real>-6.3163999999999998</real>
		<key>longitude</key>
		<real>155.48483300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2100633</string>
		<key>latitude</key>
		<real>-6.21319</real>
		<key>longitude</key>
		<real>155.536743</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094027</string>
		<key>latitude</key>
		<real>-6.2166699999999997</real>
		<key>longitude</key>
		<real>155.633331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094342</string>
		<key>latitude</key>
		<real>-2.5744400000000001</real>
		<key>longitude</key>
		<real>150.79669200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087362</string>
		<key>latitude</key>
		<real>-9.6600000000000001</real>
		<key>longitude</key>
		<real>150.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2097418</string>
		<key>latitude</key>
		<real>-6.60243</real>
		<key>longitude</key>
		<real>147.868134</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089478</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>148.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088163</string>
		<key>latitude</key>
		<real>-8.7536699999999996</real>
		<key>longitude</key>
		<real>148.25341800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2094982</string>
		<key>latitude</key>
		<real>-8.7666699999999995</real>
		<key>longitude</key>
		<real>148.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2132606</string>
		<key>latitude</key>
		<real>-10.616669999999999</real>
		<key>longitude</key>
		<real>150.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2132895</string>
		<key>latitude</key>
		<real>-10.552619999999999</real>
		<key>longitude</key>
		<real>150.314941</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088628</string>
		<key>latitude</key>
		<real>-6</real>
		<key>longitude</key>
		<real>147</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098899</string>
		<key>latitude</key>
		<real>-6.7333299999999996</real>
		<key>longitude</key>
		<real>147.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2092740</string>
		<key>latitude</key>
		<real>-6.7220800000000001</real>
		<key>longitude</key>
		<real>146.98469499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090468</string>
		<key>latitude</key>
		<real>-7.0106000000000002</real>
		<key>longitude</key>
		<real>146.96719400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2093691</string>
		<key>latitude</key>
		<real>-8.8785299999999996</real>
		<key>longitude</key>
		<real>147.740723</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2108857</string>
		<key>latitude</key>
		<real>-8.1030300000000004</real>
		<key>longitude</key>
		<real>156.841858</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090136</string>
		<key>latitude</key>
		<real>-6.5672899999999998</real>
		<key>longitude</key>
		<real>146.73925800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2083653</string>
		<key>latitude</key>
		<real>-7.33514</real>
		<key>longitude</key>
		<real>146.71798699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098584</string>
		<key>latitude</key>
		<real>-6.5833300000000001</real>
		<key>longitude</key>
		<real>146.580566</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2098869</string>
		<key>latitude</key>
		<real>-7.2000000000000002</real>
		<key>longitude</key>
		<real>146.64999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099488</string>
		<key>latitude</key>
		<real>-5.5833300000000001</real>
		<key>longitude</key>
		<real>146.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2105575</string>
		<key>latitude</key>
		<real>-8.3279899999999998</real>
		<key>longitude</key>
		<real>157.266525</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2087178</string>
		<key>latitude</key>
		<real>-9.4549900000000004</real>
		<key>longitude</key>
		<real>147.21122700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2089856</string>
		<key>latitude</key>
		<real>-9.4166699999999999</real>
		<key>longitude</key>
		<real>147.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2088122</string>
		<key>latitude</key>
		<real>-9.4431399999999996</real>
		<key>longitude</key>
		<real>147.17971800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2099101</string>
		<key>latitude</key>
		<real>-9.4675499999999992</real>
		<key>longitude</key>
		<real>147.19581600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2090567</string>
		<key>latitude</key>
		<real>-2.0662199999999999</real>
		<key>longitude</key>
		<real>147.42181400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2092164</string>
		<key>latitude</key>
		<real>-2.0225900000000001</real>
		<key>longitude</key>
		<real>147.27119400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2091495</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>147</real>
	</dict>
</array>
</plist>
