<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2178603</string>
		<key>latitude</key>
		<real>-10.72484</real>
		<key>longitude</key>
		<real>165.78753699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626465</string>
		<key>latitude</key>
		<real>-0.54756000000000005</real>
		<key>longitude</key>
		<real>166.91729699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110418</string>
		<key>latitude</key>
		<real>-0.54723999999999995</real>
		<key>longitude</key>
		<real>166.91598500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626485</string>
		<key>latitude</key>
		<real>-0.52544999999999997</real>
		<key>longitude</key>
		<real>166.912476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110425</string>
		<key>latitude</key>
		<real>-0.51700000000000002</real>
		<key>longitude</key>
		<real>166.932999</real>
	</dict>
</array>
</plist>
