<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2120591</string>
		<key>latitude</key>
		<real>60.466670999999998</real>
		<key>longitude</key>
		<real>166.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122389</string>
		<key>latitude</key>
		<real>59.235278999999998</real>
		<key>longitude</key>
		<real>163.071945</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125166</string>
		<key>latitude</key>
		<real>58.564999</real>
		<key>longitude</key>
		<real>162.29722599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120059</string>
		<key>latitude</key>
		<real>56.236671000000001</real>
		<key>longitude</key>
		<real>162.51889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2115627</string>
		<key>latitude</key>
		<real>56.227778999999998</real>
		<key>longitude</key>
		<real>162.47778299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124440</string>
		<key>latitude</key>
		<real>56.299999</real>
		<key>longitude</key>
		<real>160.85000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122262</string>
		<key>latitude</key>
		<real>59.116669000000002</real>
		<key>longitude</key>
		<real>159.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124220</string>
		<key>latitude</key>
		<real>56.066668999999997</real>
		<key>longitude</key>
		<real>159.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121658</string>
		<key>latitude</key>
		<real>61.683331000000003</real>
		<key>longitude</key>
		<real>160.366669</real>
	</dict>
</array>
</plist>
