<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2127202</string>
		<key>latitude</key>
		<real>64.75</real>
		<key>longitude</key>
		<real>177.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120245</string>
		<key>latitude</key>
		<real>64.733329999999995</real>
		<key>longitude</key>
		<real>177.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119272</string>
		<key>latitude</key>
		<real>66.966667000000001</real>
		<key>longitude</key>
		<real>171.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126965</string>
		<key>latitude</key>
		<real>64.283332999999999</real>
		<key>longitude</key>
		<real>173.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126099</string>
		<key>latitude</key>
		<real>67.5</real>
		<key>longitude</key>
		<real>172</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119625</string>
		<key>latitude</key>
		<real>64.650002000000001</real>
		<key>longitude</key>
		<real>170.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2131859</string>
		<key>latitude</key>
		<real>63.066668999999997</real>
		<key>longitude</key>
		<real>179.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126710</string>
		<key>latitude</key>
		<real>63.049999</real>
		<key>longitude</key>
		<real>179.316666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123814</string>
		<key>latitude</key>
		<real>69.383330999999998</real>
		<key>longitude</key>
		<real>178.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2126682</string>
		<key>latitude</key>
		<real>68.054642000000001</real>
		<key>longitude</key>
		<real>166.43720999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122090</string>
		<key>latitude</key>
		<real>69.700828999999999</real>
		<key>longitude</key>
		<real>170.31332399999999</real>
	</dict>
</array>
</plist>
