<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6930874</string>
		<key>latitude</key>
		<real>43.799849999999999</real>
		<key>longitude</key>
		<real>146.72137499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123979</string>
		<key>latitude</key>
		<real>45.233330000000002</real>
		<key>longitude</key>
		<real>147.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2128975</string>
		<key>latitude</key>
		<real>43.323608</real>
		<key>longitude</key>
		<real>145.574997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119447</string>
		<key>latitude</key>
		<real>44.030560000000001</real>
		<key>longitude</key>
		<real>145.85556</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122334</string>
		<key>latitude</key>
		<real>44.069439000000003</real>
		<key>longitude</key>
		<real>145.86389199999999</real>
	</dict>
</array>
</plist>
