<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2120612</string>
		<key>latitude</key>
		<real>57.799999</real>
		<key>longitude</key>
		<real>158.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122262</string>
		<key>latitude</key>
		<real>59.116669000000002</real>
		<key>longitude</key>
		<real>159.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125166</string>
		<key>latitude</key>
		<real>58.564999</real>
		<key>longitude</key>
		<real>162.29722599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124440</string>
		<key>latitude</key>
		<real>56.299999</real>
		<key>longitude</key>
		<real>160.85000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124220</string>
		<key>latitude</key>
		<real>56.066668999999997</real>
		<key>longitude</key>
		<real>159.866669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122389</string>
		<key>latitude</key>
		<real>59.235278999999998</real>
		<key>longitude</key>
		<real>163.071945</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125711</string>
		<key>latitude</key>
		<real>55.933331000000003</real>
		<key>longitude</key>
		<real>158.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2115627</string>
		<key>latitude</key>
		<real>56.227778999999998</real>
		<key>longitude</key>
		<real>162.47778299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120059</string>
		<key>latitude</key>
		<real>56.236671000000001</real>
		<key>longitude</key>
		<real>162.51889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123434</string>
		<key>latitude</key>
		<real>55.066668999999997</real>
		<key>longitude</key>
		<real>158.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125072</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>159</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123278</string>
		<key>latitude</key>
		<real>54.716670999999998</real>
		<key>longitude</key>
		<real>158.616669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2121658</string>
		<key>latitude</key>
		<real>61.683331000000003</real>
		<key>longitude</key>
		<real>160.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2125693</string>
		<key>latitude</key>
		<real>61.950001</real>
		<key>longitude</key>
		<real>159.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120591</string>
		<key>latitude</key>
		<real>60.466670999999998</real>
		<key>longitude</key>
		<real>166.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120769</string>
		<key>latitude</key>
		<real>61.383330999999998</real>
		<key>longitude</key>
		<real>152.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122414</string>
		<key>latitude</key>
		<real>62.266669999999998</real>
		<key>longitude</key>
		<real>151.699997</real>
	</dict>
</array>
</plist>
