<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2121385</string>
		<key>latitude</key>
		<real>50.678890000000003</real>
		<key>longitude</key>
		<real>156.125</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122293</string>
		<key>latitude</key>
		<real>51.5</real>
		<key>longitude</key>
		<real>156.51666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2118647</string>
		<key>latitude</key>
		<real>52.930560999999997</real>
		<key>longitude</key>
		<real>158.40278599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122229</string>
		<key>latitude</key>
		<real>52.950001</real>
		<key>longitude</key>
		<real>158.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2122104</string>
		<key>latitude</key>
		<real>53.045200000000001</real>
		<key>longitude</key>
		<real>158.64830000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2124185</string>
		<key>latitude</key>
		<real>53.150002000000001</real>
		<key>longitude</key>
		<real>158.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2119538</string>
		<key>latitude</key>
		<real>53.187302000000003</real>
		<key>longitude</key>
		<real>158.380493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2120063</string>
		<key>latitude</key>
		<real>52.823329999999999</real>
		<key>longitude</key>
		<real>156.278336</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2123278</string>
		<key>latitude</key>
		<real>54.716670999999998</real>
		<key>longitude</key>
		<real>158.616669</real>
	</dict>
</array>
</plist>
