<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2126123</string>
		<key>latitude</key>
		<real>70.633330999999998</real>
		<key>longitude</key>
		<real>147.91667200000001</real>
	</dict>
</array>
</plist>
