<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2138555</string>
		<key>latitude</key>
		<real>-20.233329999999999</real>
		<key>longitude</key>
		<real>164.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138998</string>
		<key>latitude</key>
		<real>-20.549999</real>
		<key>longitude</key>
		<real>164.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140556</string>
		<key>latitude</key>
		<real>-20.555009999999999</real>
		<key>longitude</key>
		<real>164.27169799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140558</string>
		<key>latitude</key>
		<real>-20.566669000000001</real>
		<key>longitude</key>
		<real>164.28332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140914</string>
		<key>latitude</key>
		<real>-20.669411</real>
		<key>longitude</key>
		<real>164.397705</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140915</string>
		<key>latitude</key>
		<real>-20.66667</real>
		<key>longitude</key>
		<real>164.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139259</string>
		<key>latitude</key>
		<real>-20.350000000000001</real>
		<key>longitude</key>
		<real>164.433334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140438</string>
		<key>latitude</key>
		<real>-20.350000000000001</real>
		<key>longitude</key>
		<real>164.433334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137748</string>
		<key>latitude</key>
		<real>-20.966669</real>
		<key>longitude</key>
		<real>164.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138410</string>
		<key>latitude</key>
		<real>-20.399999999999999</real>
		<key>longitude</key>
		<real>164.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138607</string>
		<key>latitude</key>
		<real>-20.399999999999999</real>
		<key>longitude</key>
		<real>164.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140691</string>
		<key>latitude</key>
		<real>-21.059508999999998</real>
		<key>longitude</key>
		<real>164.865814</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521417</string>
		<key>latitude</key>
		<real>-21.059999999999999</real>
		<key>longitude</key>
		<real>164.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138592</string>
		<key>latitude</key>
		<real>-21.129999999999999</real>
		<key>longitude</key>
		<real>164.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140685</string>
		<key>latitude</key>
		<real>-21.050000000000001</real>
		<key>longitude</key>
		<real>164.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138590</string>
		<key>latitude</key>
		<real>-21.109999999999999</real>
		<key>longitude</key>
		<real>164.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141050</string>
		<key>latitude</key>
		<real>-20.68</real>
		<key>longitude</key>
		<real>164.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138522</string>
		<key>latitude</key>
		<real>-21.350000000000001</real>
		<key>longitude</key>
		<real>165.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138519</string>
		<key>latitude</key>
		<real>-21.34</real>
		<key>longitude</key>
		<real>165.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137873</string>
		<key>latitude</key>
		<real>-20.780000000000001</real>
		<key>longitude</key>
		<real>165.22999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137869</string>
		<key>latitude</key>
		<real>-20.789999999999999</real>
		<key>longitude</key>
		<real>165.24000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138717</string>
		<key>latitude</key>
		<real>-20.93</real>
		<key>longitude</key>
		<real>165.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138685</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>165.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138687</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>165.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141714</string>
		<key>latitude</key>
		<real>-21.57</real>
		<key>longitude</key>
		<real>165.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141986</string>
		<key>latitude</key>
		<real>-21.57</real>
		<key>longitude</key>
		<real>165.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139685</string>
		<key>latitude</key>
		<real>-21.5</real>
		<key>longitude</key>
		<real>165.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141006</string>
		<key>latitude</key>
		<real>-21.280000000000001</real>
		<key>longitude</key>
		<real>165.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141004</string>
		<key>latitude</key>
		<real>-21.289999999999999</real>
		<key>longitude</key>
		<real>165.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141316</string>
		<key>latitude</key>
		<real>-21.670000000000002</real>
		<key>longitude</key>
		<real>165.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141314</string>
		<key>latitude</key>
		<real>-21.670000000000002</real>
		<key>longitude</key>
		<real>165.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140464</string>
		<key>latitude</key>
		<real>-21.75</real>
		<key>longitude</key>
		<real>165.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140466</string>
		<key>latitude</key>
		<real>-21.710000000000001</real>
		<key>longitude</key>
		<real>165.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139230</string>
		<key>latitude</key>
		<real>-21.420000000000002</real>
		<key>longitude</key>
		<real>165.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138356</string>
		<key>latitude</key>
		<real>-21.649999999999999</real>
		<key>longitude</key>
		<real>165.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138354</string>
		<key>latitude</key>
		<real>-21.640000000000001</real>
		<key>longitude</key>
		<real>165.84999999999999</real>
	</dict>
</array>
</plist>
