<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2134814</string>
		<key>latitude</key>
		<real>-13.883330000000001</real>
		<key>longitude</key>
		<real>167.550003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137421</string>
		<key>latitude</key>
		<real>-13.75</real>
		<key>longitude</key>
		<real>167.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2135662</string>
		<key>latitude</key>
		<real>-15.31667</real>
		<key>longitude</key>
		<real>167.96667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2135175</string>
		<key>latitude</key>
		<real>-15.050000000000001</real>
		<key>longitude</key>
		<real>167.050003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2208266</string>
		<key>latitude</key>
		<real>-15.5</real>
		<key>longitude</key>
		<real>168</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2135368</string>
		<key>latitude</key>
		<real>-15.51667</real>
		<key>longitude</key>
		<real>167.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2136150</string>
		<key>latitude</key>
		<real>-15.533329999999999</real>
		<key>longitude</key>
		<real>167.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2134898</string>
		<key>latitude</key>
		<real>-15.33333</real>
		<key>longitude</key>
		<real>166.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2135517</string>
		<key>latitude</key>
		<real>-16.066669000000001</real>
		<key>longitude</key>
		<real>167.383331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2136697</string>
		<key>latitude</key>
		<real>-16.099920000000001</real>
		<key>longitude</key>
		<real>167.41636700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2134431</string>
		<key>latitude</key>
		<real>-16</real>
		<key>longitude</key>
		<real>167</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2208265</string>
		<key>latitude</key>
		<real>-16.25</real>
		<key>longitude</key>
		<real>167.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137152</string>
		<key>latitude</key>
		<real>-16.450001</real>
		<key>longitude</key>
		<real>167.816666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2208267</string>
		<key>latitude</key>
		<real>-17.33333</real>
		<key>longitude</key>
		<real>168.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2135171</string>
		<key>latitude</key>
		<real>-17.733809999999998</real>
		<key>longitude</key>
		<real>168.32188400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2178603</string>
		<key>latitude</key>
		<real>-10.72484</real>
		<key>longitude</key>
		<real>165.78753699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2136243</string>
		<key>latitude</key>
		<real>-19.483329999999999</real>
		<key>longitude</key>
		<real>169.21667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2136825</string>
		<key>latitude</key>
		<real>-19.549999</real>
		<key>longitude</key>
		<real>169.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2134739</string>
		<key>latitude</key>
		<real>-19.5</real>
		<key>longitude</key>
		<real>169.5</real>
	</dict>
</array>
</plist>
