<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>209228</string>
		<key>latitude</key>
		<real>-6.1500000000000004</real>
		<key>longitude</key>
		<real>23.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215527</string>
		<key>latitude</key>
		<real>-6.1299999999999999</real>
		<key>longitude</key>
		<real>24.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205706</string>
		<key>latitude</key>
		<real>-6.0999999999999996</real>
		<key>longitude</key>
		<real>24.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216449</string>
		<key>latitude</key>
		<real>-6.75</real>
		<key>longitude</key>
		<real>23.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>207570</string>
		<key>latitude</key>
		<real>-7</real>
		<key>longitude</key>
		<real>23.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>210379</string>
		<key>latitude</key>
		<real>-4.9699999999999998</real>
		<key>longitude</key>
		<real>23.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215601</string>
		<key>latitude</key>
		<real>-5.8899999999999997</real>
		<key>longitude</key>
		<real>22.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214481</string>
		<key>latitude</key>
		<real>-5.9000000000000004</real>
		<key>longitude</key>
		<real>22.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214389</string>
		<key>latitude</key>
		<real>-7.5700000000000003</real>
		<key>longitude</key>
		<real>24.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217389</string>
		<key>latitude</key>
		<real>-5.5099999999999998</real>
		<key>longitude</key>
		<real>22.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211098</string>
		<key>latitude</key>
		<real>-5.3700000000000001</real>
		<key>longitude</key>
		<real>25.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214138</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214139</string>
		<key>latitude</key>
		<real>-4.5</real>
		<key>longitude</key>
		<real>22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204498</string>
		<key>latitude</key>
		<real>-3.5</real>
		<key>longitude</key>
		<real>23.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211647</string>
		<key>latitude</key>
		<real>-3.48</real>
		<key>longitude</key>
		<real>23.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>210939</string>
		<key>latitude</key>
		<real>-5.3499999999999996</real>
		<key>longitude</key>
		<real>21.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>207596</string>
		<key>latitude</key>
		<real>-4.8499999999999996</real>
		<key>longitude</key>
		<real>21.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204891</string>
		<key>latitude</key>
		<real>-8.4000000000000004</real>
		<key>longitude</key>
		<real>22.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215668</string>
		<key>latitude</key>
		<real>-6.0499999999999998</real>
		<key>longitude</key>
		<real>26.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214614</string>
		<key>latitude</key>
		<real>-8.7400000000000002</real>
		<key>longitude</key>
		<real>24.989999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>388578</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>25.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212360</string>
		<key>latitude</key>
		<real>-5.3799999999999999</real>
		<key>longitude</key>
		<real>27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>213940</string>
		<key>latitude</key>
		<real>-4.4500000000000002</real>
		<key>longitude</key>
		<real>26.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214478</string>
		<key>latitude</key>
		<real>-9.0800000000000001</real>
		<key>longitude</key>
		<real>23.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204953</string>
		<key>latitude</key>
		<real>-6.4199999999999999</real>
		<key>longitude</key>
		<real>20.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214575</string>
		<key>latitude</key>
		<real>-3.6000000000000001</real>
		<key>longitude</key>
		<real>26.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214229</string>
		<key>latitude</key>
		<real>-9.3200000000000003</real>
		<key>longitude</key>
		<real>22.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205703</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212902</string>
		<key>latitude</key>
		<real>-2.9500000000000002</real>
		<key>longitude</key>
		<real>25.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214755</string>
		<key>latitude</key>
		<real>-2.9500000000000002</real>
		<key>longitude</key>
		<real>25.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>209610</string>
		<key>latitude</key>
		<real>-2.9166699999999999</real>
		<key>longitude</key>
		<real>25.91667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>209598</string>
		<key>latitude</key>
		<real>-7.2999999999999998</real>
		<key>longitude</key>
		<real>27.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217834</string>
		<key>latitude</key>
		<real>-9.1999999999999993</real>
		<key>longitude</key>
		<real>25.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215976</string>
		<key>latitude</key>
		<real>-4.3200000000000003</real>
		<key>longitude</key>
		<real>20.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211384</string>
		<key>latitude</key>
		<real>-2.25</real>
		<key>longitude</key>
		<real>23.299999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205297</string>
		<key>latitude</key>
		<real>-8.3000000000000007</real>
		<key>longitude</key>
		<real>27.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145724</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>20.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205945</string>
		<key>latitude</key>
		<real>-2.5833300000000001</real>
		<key>longitude</key>
		<real>26.733329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923051</string>
		<key>latitude</key>
		<real>-10.630000000000001</real>
		<key>longitude</key>
		<real>23.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876212</string>
		<key>latitude</key>
		<real>-10.4</real>
		<key>longitude</key>
		<real>22.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313084</string>
		<key>latitude</key>
		<real>-4.0499999999999998</real>
		<key>longitude</key>
		<real>19.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922773</string>
		<key>latitude</key>
		<real>-10.710000000000001</real>
		<key>longitude</key>
		<real>25.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1105460</string>
		<key>latitude</key>
		<real>-10.74</real>
		<key>longitude</key>
		<real>25.510000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876177</string>
		<key>latitude</key>
		<real>-10.710000000000001</real>
		<key>longitude</key>
		<real>22.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145702</string>
		<key>latitude</key>
		<real>-8.6400000000000006</real>
		<key>longitude</key>
		<real>19.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205413</string>
		<key>latitude</key>
		<real>-3.1699999999999999</real>
		<key>longitude</key>
		<real>28.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7789926</string>
		<key>latitude</key>
		<real>-9.7100000000000009</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145531</string>
		<key>latitude</key>
		<real>-9.6600000000000001</real>
		<key>longitude</key>
		<real>20.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2311502</string>
		<key>latitude</key>
		<real>-7.1299999999999999</real>
		<key>longitude</key>
		<real>18.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214974</string>
		<key>latitude</key>
		<real>-5.9500000000000002</real>
		<key>longitude</key>
		<real>29.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216541</string>
		<key>latitude</key>
		<real>-4.2999999999999998</real>
		<key>longitude</key>
		<real>28.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>208705</string>
		<key>latitude</key>
		<real>-5.8700000000000001</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2314705</string>
		<key>latitude</key>
		<real>-5.04</real>
		<key>longitude</key>
		<real>18.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2591272</string>
		<key>latitude</key>
		<real>-5.0099999999999998</real>
		<key>longitude</key>
		<real>18.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>901298</string>
		<key>latitude</key>
		<real>-11.33</real>
		<key>longitude</key>
		<real>24.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145701</string>
		<key>latitude</key>
		<real>-10.26</real>
		<key>longitude</key>
		<real>20.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>923058</string>
		<key>latitude</key>
		<real>-10.880000000000001</real>
		<key>longitude</key>
		<real>26.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316259</string>
		<key>latitude</key>
		<real>-4.5499999999999998</real>
		<key>longitude</key>
		<real>18.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922741</string>
		<key>latitude</key>
		<real>-10.98</real>
		<key>longitude</key>
		<real>26.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>157738</string>
		<key>latitude</key>
		<real>-4.8799999999999999</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204405</string>
		<key>latitude</key>
		<real>-3.4100000000000001</real>
		<key>longitude</key>
		<real>29.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153709</string>
		<key>latitude</key>
		<real>-4.8300000000000001</real>
		<key>longitude</key>
		<real>29.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>175499</string>
		<key>latitude</key>
		<real>-9.3499999999999996</real>
		<key>longitude</key>
		<real>28.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>423549</string>
		<key>latitude</key>
		<real>-3.9700000000000002</real>
		<key>longitude</key>
		<real>29.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176947</string>
		<key>latitude</key>
		<real>-9.4199999999999999</real>
		<key>longitude</key>
		<real>28.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303939</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>29.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425374</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425378</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425306</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>29.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>423328</string>
		<key>latitude</key>
		<real>-3.9500000000000002</real>
		<key>longitude</key>
		<real>29.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215605</string>
		<key>latitude</key>
		<real>-2.4700000000000002</real>
		<key>longitude</key>
		<real>28.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218241</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>21.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217831</string>
		<key>latitude</key>
		<real>-2.5099999999999998</real>
		<key>longitude</key>
		<real>28.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430021</string>
		<key>latitude</key>
		<real>-2.8900000000000001</real>
		<key>longitude</key>
		<real>29.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>423327</string>
		<key>latitude</key>
		<real>-3.8500000000000001</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202326</string>
		<key>latitude</key>
		<real>-2.48</real>
		<key>longitude</key>
		<real>28.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876485</string>
		<key>latitude</key>
		<real>-11.07</real>
		<key>longitude</key>
		<real>20.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7032728</string>
		<key>latitude</key>
		<real>-2.4700000000000002</real>
		<key>longitude</key>
		<real>28.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>213632</string>
		<key>latitude</key>
		<real>-2.2999999999999998</real>
		<key>longitude</key>
		<real>28.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430020</string>
		<key>latitude</key>
		<real>-2.8799999999999999</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>428514</string>
		<key>latitude</key>
		<real>-3.1200000000000001</real>
		<key>longitude</key>
		<real>29.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>428515</string>
		<key>latitude</key>
		<real>-3.0800000000000001</real>
		<key>longitude</key>
		<real>29.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176758</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>29.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>434386</string>
		<key>latitude</key>
		<real>-3.5</real>
		<key>longitude</key>
		<real>29.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425551</string>
		<key>latitude</key>
		<real>-3.27</real>
		<key>longitude</key>
		<real>29.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425550</string>
		<key>latitude</key>
		<real>-3.25</real>
		<key>longitude</key>
		<real>29.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>176555</string>
		<key>latitude</key>
		<real>-9.7899999999999991</real>
		<key>longitude</key>
		<real>29.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430951</string>
		<key>latitude</key>
		<real>-3.0699999999999998</real>
		<key>longitude</key>
		<real>29.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>902721</string>
		<key>latitude</key>
		<real>-10.380000000000001</real>
		<key>longitude</key>
		<real>28.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876123</string>
		<key>latitude</key>
		<real>-11.550000000000001</real>
		<key>longitude</key>
		<real>20.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430952</string>
		<key>latitude</key>
		<real>-2.9199999999999999</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218355</string>
		<key>latitude</key>
		<real>-0.33333000000000002</real>
		<key>longitude</key>
		<real>20.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6413340</string>
		<key>latitude</key>
		<real>-2.1699999999999999</real>
		<key>longitude</key>
		<real>29.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>201865</string>
		<key>latitude</key>
		<real>-2.48</real>
		<key>longitude</key>
		<real>29.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202239</string>
		<key>latitude</key>
		<real>-2.46</real>
		<key>longitude</key>
		<real>29.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922704</string>
		<key>latitude</key>
		<real>-11.66</real>
		<key>longitude</key>
		<real>27.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>922262</string>
		<key>latitude</key>
		<real>-11.619999999999999</real>
		<key>longitude</key>
		<real>27.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202065</string>
		<key>latitude</key>
		<real>-2.0600000000000001</real>
		<key>longitude</key>
		<real>29.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876233</string>
		<key>latitude</key>
		<real>-11.65</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205970</string>
		<key>latitude</key>
		<real>-1.57361</real>
		<key>longitude</key>
		<real>29.045000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6413341</string>
		<key>latitude</key>
		<real>-2.3300000000000001</real>
		<key>longitude</key>
		<real>29.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216281</string>
		<key>latitude</key>
		<real>-1.6799999999999999</real>
		<key>longitude</key>
		<real>29.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202905</string>
		<key>latitude</key>
		<real>-1.7</real>
		<key>longitude</key>
		<real>29.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7605614</string>
		<key>latitude</key>
		<real>-1.6699999999999999</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7605645</string>
		<key>latitude</key>
		<real>-1.6799999999999999</real>
		<key>longitude</key>
		<real>29.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212731</string>
		<key>latitude</key>
		<real>-0.36193999999999998</real>
		<key>longitude</key>
		<real>28.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>909845</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>29</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>919255</string>
		<key>latitude</key>
		<real>-11.17</real>
		<key>longitude</key>
		<real>28.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>907770</string>
		<key>latitude</key>
		<real>-11.199999999999999</real>
		<key>longitude</key>
		<real>28.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>206938</string>
		<key>latitude</key>
		<real>-0.66666999999999998</real>
		<key>longitude</key>
		<real>28.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7572238</string>
		<key>latitude</key>
		<real>-1.49</real>
		<key>longitude</key>
		<real>29.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>201521</string>
		<key>latitude</key>
		<real>-1.5</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7319869</string>
		<key>latitude</key>
		<real>-1.5</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212760</string>
		<key>latitude</key>
		<real>-1.09056</real>
		<key>longitude</key>
		<real>29.2925</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>227439</string>
		<key>latitude</key>
		<real>-1.1299999999999999</real>
		<key>longitude</key>
		<real>29.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921061</string>
		<key>latitude</key>
		<real>-11.26</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>227592</string>
		<key>latitude</key>
		<real>-0.88332999999999995</real>
		<key>longitude</key>
		<real>29.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>899274</string>
		<key>latitude</key>
		<real>-11.359999999999999</real>
		<key>longitude</key>
		<real>29.559999999999999</real>
	</dict>
</array>
</plist>
