<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2182017</string>
		<key>latitude</key>
		<real>-34.983330000000002</real>
		<key>longitude</key>
		<real>173.46667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2189343</string>
		<key>latitude</key>
		<real>-35.099997999999999</real>
		<key>longitude</key>
		<real>173.78332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910039</string>
		<key>latitude</key>
		<real>-35.033588000000002</real>
		<key>longitude</key>
		<real>173.48840300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2180048</string>
		<key>latitude</key>
		<real>-35.200001</real>
		<key>longitude</key>
		<real>173.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2188874</string>
		<key>latitude</key>
		<real>-35.226761000000003</real>
		<key>longitude</key>
		<real>173.94738799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2185081</string>
		<key>latitude</key>
		<real>-35.282200000000003</real>
		<key>longitude</key>
		<real>174.09115600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2185493</string>
		<key>latitude</key>
		<real>-35.316668999999997</real>
		<key>longitude</key>
		<real>174.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2193678</string>
		<key>latitude</key>
		<real>-35.049999</real>
		<key>longitude</key>
		<real>173.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2180173</string>
		<key>latitude</key>
		<real>-35.316668999999997</real>
		<key>longitude</key>
		<real>173.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6228827</string>
		<key>latitude</key>
		<real>-35.114849</real>
		<key>longitude</key>
		<real>173.26365699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2185786</string>
		<key>latitude</key>
		<real>-35.316668999999997</real>
		<key>longitude</key>
		<real>173.78332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2194098</string>
		<key>latitude</key>
		<real>-35.166671999999998</real>
		<key>longitude</key>
		<real>173.16667200000001</real>
	</dict>
</array>
</plist>
