<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2194371</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>177.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2202064</string>
		<key>latitude</key>
		<real>-17.800000000000001</real>
		<key>longitude</key>
		<real>177.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2202179</string>
		<key>latitude</key>
		<real>-17.800000000000001</real>
		<key>longitude</key>
		<real>177.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2205218</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>178</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7302224</string>
		<key>latitude</key>
		<real>-17.77</real>
		<key>longitude</key>
		<real>177.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2198148</string>
		<key>latitude</key>
		<real>-18.140000000000001</real>
		<key>longitude</key>
		<real>178.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2201316</string>
		<key>latitude</key>
		<real>-18.030000000000001</real>
		<key>longitude</key>
		<real>178.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2205272</string>
		<key>latitude</key>
		<real>-18</real>
		<key>longitude</key>
		<real>178.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2204506</string>
		<key>latitude</key>
		<real>-17.620000000000001</real>
		<key>longitude</key>
		<real>177.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2201391</string>
		<key>latitude</key>
		<real>-18.050000000000001</real>
		<key>longitude</key>
		<real>178.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2201079</string>
		<key>latitude</key>
		<real>-16.800000000000001</real>
		<key>longitude</key>
		<real>179.33000000000001</real>
	</dict>
</array>
</plist>
