<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2138285</string>
		<key>latitude</key>
		<real>-21.549999</real>
		<key>longitude</key>
		<real>167.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137735</string>
		<key>latitude</key>
		<real>-21.466669</real>
		<key>longitude</key>
		<real>168.03332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137703</string>
		<key>latitude</key>
		<real>-22.566669000000001</real>
		<key>longitude</key>
		<real>167.449997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137773</string>
		<key>latitude</key>
		<real>-22.66667</real>
		<key>longitude</key>
		<real>167.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137643</string>
		<key>latitude</key>
		<real>-22.149999999999999</real>
		<key>longitude</key>
		<real>166.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137644</string>
		<key>latitude</key>
		<real>-22.149999999999999</real>
		<key>longitude</key>
		<real>166.883331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137690</string>
		<key>latitude</key>
		<real>-20.916869999999999</real>
		<key>longitude</key>
		<real>167.26460299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140066</string>
		<key>latitude</key>
		<real>-22.283331</real>
		<key>longitude</key>
		<real>166.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140471</string>
		<key>latitude</key>
		<real>-22.233329999999999</real>
		<key>longitude</key>
		<real>166.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140550</string>
		<key>latitude</key>
		<real>-20.783331</real>
		<key>longitude</key>
		<real>167.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138679</string>
		<key>latitude</key>
		<real>-22.216669</real>
		<key>longitude</key>
		<real>166.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141390</string>
		<key>latitude</key>
		<real>-22.149999999999999</real>
		<key>longitude</key>
		<real>166.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141394</string>
		<key>latitude</key>
		<real>-22.149999999999999</real>
		<key>longitude</key>
		<real>166.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139520</string>
		<key>latitude</key>
		<real>-22.266670000000001</real>
		<key>longitude</key>
		<real>166.46667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139521</string>
		<key>latitude</key>
		<real>-22.276309999999999</real>
		<key>longitude</key>
		<real>166.457199</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137776</string>
		<key>latitude</key>
		<real>-22.27</real>
		<key>longitude</key>
		<real>166.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138981</string>
		<key>latitude</key>
		<real>-22.129999999999999</real>
		<key>longitude</key>
		<real>166.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139988</string>
		<key>latitude</key>
		<real>-22.170000000000002</real>
		<key>longitude</key>
		<real>166.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140827</string>
		<key>latitude</key>
		<real>-22.02</real>
		<key>longitude</key>
		<real>166.22999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138103</string>
		<key>latitude</key>
		<real>-21.620000000000001</real>
		<key>longitude</key>
		<real>166.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138101</string>
		<key>latitude</key>
		<real>-21.609999999999999</real>
		<key>longitude</key>
		<real>166.21000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141722</string>
		<key>latitude</key>
		<real>-21.870000000000001</real>
		<key>longitude</key>
		<real>166.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141721</string>
		<key>latitude</key>
		<real>-21.859999999999999</real>
		<key>longitude</key>
		<real>166.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139104</string>
		<key>latitude</key>
		<real>-20.649999999999999</real>
		<key>longitude</key>
		<real>166.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141305</string>
		<key>latitude</key>
		<real>-20.649999999999999</real>
		<key>longitude</key>
		<real>166.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141658</string>
		<key>latitude</key>
		<real>-21.530000000000001</real>
		<key>longitude</key>
		<real>165.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138356</string>
		<key>latitude</key>
		<real>-21.649999999999999</real>
		<key>longitude</key>
		<real>165.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138354</string>
		<key>latitude</key>
		<real>-21.640000000000001</real>
		<key>longitude</key>
		<real>165.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140464</string>
		<key>latitude</key>
		<real>-21.75</real>
		<key>longitude</key>
		<real>165.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140466</string>
		<key>latitude</key>
		<real>-21.710000000000001</real>
		<key>longitude</key>
		<real>165.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141314</string>
		<key>latitude</key>
		<real>-21.670000000000002</real>
		<key>longitude</key>
		<real>165.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141316</string>
		<key>latitude</key>
		<real>-21.670000000000002</real>
		<key>longitude</key>
		<real>165.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139230</string>
		<key>latitude</key>
		<real>-21.420000000000002</real>
		<key>longitude</key>
		<real>165.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141004</string>
		<key>latitude</key>
		<real>-21.289999999999999</real>
		<key>longitude</key>
		<real>165.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141006</string>
		<key>latitude</key>
		<real>-21.280000000000001</real>
		<key>longitude</key>
		<real>165.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139685</string>
		<key>latitude</key>
		<real>-21.5</real>
		<key>longitude</key>
		<real>165.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141714</string>
		<key>latitude</key>
		<real>-21.57</real>
		<key>longitude</key>
		<real>165.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141986</string>
		<key>latitude</key>
		<real>-21.57</real>
		<key>longitude</key>
		<real>165.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138685</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>165.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138687</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>165.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138717</string>
		<key>latitude</key>
		<real>-20.93</real>
		<key>longitude</key>
		<real>165.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138519</string>
		<key>latitude</key>
		<real>-21.34</real>
		<key>longitude</key>
		<real>165.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2136825</string>
		<key>latitude</key>
		<real>-19.549999</real>
		<key>longitude</key>
		<real>169.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138522</string>
		<key>latitude</key>
		<real>-21.350000000000001</real>
		<key>longitude</key>
		<real>165.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2136243</string>
		<key>latitude</key>
		<real>-19.483329999999999</real>
		<key>longitude</key>
		<real>169.21667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137869</string>
		<key>latitude</key>
		<real>-20.789999999999999</real>
		<key>longitude</key>
		<real>165.24000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137873</string>
		<key>latitude</key>
		<real>-20.780000000000001</real>
		<key>longitude</key>
		<real>165.22999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2134739</string>
		<key>latitude</key>
		<real>-19.5</real>
		<key>longitude</key>
		<real>169.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138590</string>
		<key>latitude</key>
		<real>-21.109999999999999</real>
		<key>longitude</key>
		<real>164.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138592</string>
		<key>latitude</key>
		<real>-21.129999999999999</real>
		<key>longitude</key>
		<real>164.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140685</string>
		<key>latitude</key>
		<real>-21.050000000000001</real>
		<key>longitude</key>
		<real>164.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521417</string>
		<key>latitude</key>
		<real>-21.059999999999999</real>
		<key>longitude</key>
		<real>164.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140691</string>
		<key>latitude</key>
		<real>-21.059508999999998</real>
		<key>longitude</key>
		<real>164.865814</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2141050</string>
		<key>latitude</key>
		<real>-20.68</real>
		<key>longitude</key>
		<real>164.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2137748</string>
		<key>latitude</key>
		<real>-20.966669</real>
		<key>longitude</key>
		<real>164.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138410</string>
		<key>latitude</key>
		<real>-20.399999999999999</real>
		<key>longitude</key>
		<real>164.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138607</string>
		<key>latitude</key>
		<real>-20.399999999999999</real>
		<key>longitude</key>
		<real>164.566666</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140915</string>
		<key>latitude</key>
		<real>-20.66667</real>
		<key>longitude</key>
		<real>164.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140914</string>
		<key>latitude</key>
		<real>-20.669411</real>
		<key>longitude</key>
		<real>164.397705</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2139259</string>
		<key>latitude</key>
		<real>-20.350000000000001</real>
		<key>longitude</key>
		<real>164.433334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140438</string>
		<key>latitude</key>
		<real>-20.350000000000001</real>
		<key>longitude</key>
		<real>164.433334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140558</string>
		<key>latitude</key>
		<real>-20.566669000000001</real>
		<key>longitude</key>
		<real>164.28332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2140556</string>
		<key>latitude</key>
		<real>-20.555009999999999</real>
		<key>longitude</key>
		<real>164.27169799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138998</string>
		<key>latitude</key>
		<real>-20.549999</real>
		<key>longitude</key>
		<real>164.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2138555</string>
		<key>latitude</key>
		<real>-20.233329999999999</real>
		<key>longitude</key>
		<real>164.01666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2135171</string>
		<key>latitude</key>
		<real>-17.733809999999998</real>
		<key>longitude</key>
		<real>168.32188400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2208267</string>
		<key>latitude</key>
		<real>-17.33333</real>
		<key>longitude</key>
		<real>168.5</real>
	</dict>
</array>
</plist>
