<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2214602</string>
		<key>latitude</key>
		<real>25.18</real>
		<key>longitude</key>
		<real>15.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2215636</string>
		<key>latitude</key>
		<real>25</real>
		<key>longitude</key>
		<real>17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2212774</string>
		<key>latitude</key>
		<real>27.18</real>
		<key>longitude</key>
		<real>15.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2216746</string>
		<key>latitude</key>
		<real>27.02</real>
		<key>longitude</key>
		<real>14.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2212775</string>
		<key>latitude</key>
		<real>27.039999999999999</real>
		<key>longitude</key>
		<real>14.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2219960</string>
		<key>latitude</key>
		<real>27.050000000000001</real>
		<key>longitude</key>
		<real>14.4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220082</string>
		<key>latitude</key>
		<real>27.829999999999998</real>
		<key>longitude</key>
		<real>16.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2214603</string>
		<key>latitude</key>
		<real>25.920000000000002</real>
		<key>longitude</key>
		<real>13.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2218478</string>
		<key>latitude</key>
		<real>27.550000000000001</real>
		<key>longitude</key>
		<real>14.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2219944</string>
		<key>latitude</key>
		<real>28</real>
		<key>longitude</key>
		<real>17.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220309</string>
		<key>latitude</key>
		<real>27.5</real>
		<key>longitude</key>
		<real>13.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602693</string>
		<key>latitude</key>
		<real>26.550000000000001</real>
		<key>longitude</key>
		<real>12.85</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2219235</string>
		<key>latitude</key>
		<real>26.59</real>
		<key>longitude</key>
		<real>12.779999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2216645</string>
		<key>latitude</key>
		<real>29.129999999999999</real>
		<key>longitude</key>
		<real>15.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2209055</string>
		<key>latitude</key>
		<real>29.16</real>
		<key>longitude</key>
		<real>16.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2210553</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>16.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436628</string>
		<key>latitude</key>
		<real>21.84</real>
		<key>longitude</key>
		<real>17.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425714</string>
		<key>latitude</key>
		<real>21.329999999999998</real>
		<key>longitude</key>
		<real>17.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2217350</string>
		<key>latitude</key>
		<real>26.100000000000001</real>
		<key>longitude</key>
		<real>10.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602689</string>
		<key>latitude</key>
		<real>30.469999999999999</real>
		<key>longitude</key>
		<real>13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2210554</string>
		<key>latitude</key>
		<real>31.210000000000001</real>
		<key>longitude</key>
		<real>16.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2217351</string>
		<key>latitude</key>
		<real>24.960000000000001</real>
		<key>longitude</key>
		<real>10.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2215210</string>
		<key>latitude</key>
		<real>30.41</real>
		<key>longitude</key>
		<real>19.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602692</string>
		<key>latitude</key>
		<real>28.93</real>
		<key>longitude</key>
		<real>21.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>88533</string>
		<key>latitude</key>
		<real>29.109999999999999</real>
		<key>longitude</key>
		<real>21.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>88635</string>
		<key>latitude</key>
		<real>29.170000000000002</real>
		<key>longitude</key>
		<real>21.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>86049</string>
		<key>latitude</key>
		<real>29.030000000000001</real>
		<key>longitude</key>
		<real>21.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>89113</string>
		<key>latitude</key>
		<real>30.760000000000002</real>
		<key>longitude</key>
		<real>20.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>88380</string>
		<key>latitude</key>
		<real>30.949999999999999</real>
		<key>longitude</key>
		<real>20.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2214432</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>10.85</real>
	</dict>
</array>
</plist>
