<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3348966</string>
		<key>latitude</key>
		<real>-13.779999999999999</real>
		<key>longitude</key>
		<real>16.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351380</string>
		<key>latitude</key>
		<real>-13.73</real>
		<key>longitude</key>
		<real>15.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3348303</string>
		<key>latitude</key>
		<real>-14.699999999999999</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351500</string>
		<key>latitude</key>
		<real>-12.85</real>
		<key>longitude</key>
		<real>15.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3348313</string>
		<key>latitude</key>
		<real>-12.779999999999999</real>
		<key>longitude</key>
		<real>15.74</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351024</string>
		<key>latitude</key>
		<real>-13.779999999999999</real>
		<key>longitude</key>
		<real>14.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347853</string>
		<key>latitude</key>
		<real>-12.91</real>
		<key>longitude</key>
		<real>15.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3348310</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>15.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347353</string>
		<key>latitude</key>
		<real>-14.66</real>
		<key>longitude</key>
		<real>17.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7909030</string>
		<key>latitude</key>
		<real>-14.67</real>
		<key>longitude</key>
		<real>17.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3348078</string>
		<key>latitude</key>
		<real>-12.380000000000001</real>
		<key>longitude</key>
		<real>16.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351640</string>
		<key>latitude</key>
		<real>-12.35</real>
		<key>longitude</key>
		<real>17.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3350372</string>
		<key>latitude</key>
		<real>-12.15</real>
		<key>longitude</key>
		<real>17.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3349580</string>
		<key>latitude</key>
		<real>-12.17</real>
		<key>longitude</key>
		<real>17.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351660</string>
		<key>latitude</key>
		<real>-12.85</real>
		<key>longitude</key>
		<real>13.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351014</string>
		<key>latitude</key>
		<real>-12.02</real>
		<key>longitude</key>
		<real>17.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3349096</string>
		<key>latitude</key>
		<real>-16.510000000000002</real>
		<key>longitude</key>
		<real>15.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347762</string>
		<key>latitude</key>
		<real>-14.92</real>
		<key>longitude</key>
		<real>13.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7860622</string>
		<key>latitude</key>
		<real>-11.41</real>
		<key>longitude</key>
		<real>15.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3345497</string>
		<key>latitude</key>
		<real>-11.359999999999999</real>
		<key>longitude</key>
		<real>15.119999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3350246</string>
		<key>latitude</key>
		<real>-12.43</real>
		<key>longitude</key>
		<real>13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351879</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372346</string>
		<key>latitude</key>
		<real>-12.32</real>
		<key>longitude</key>
		<real>13.6</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371903</string>
		<key>latitude</key>
		<real>-12.6</real>
		<key>longitude</key>
		<real>13.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3351663</string>
		<key>latitude</key>
		<real>-12.58</real>
		<key>longitude</key>
		<real>13.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347939</string>
		<key>latitude</key>
		<real>-12.35</real>
		<key>longitude</key>
		<real>13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346821</string>
		<key>latitude</key>
		<real>-17.07</real>
		<key>longitude</key>
		<real>15.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3349234</string>
		<key>latitude</key>
		<real>-10.83</real>
		<key>longitude</key>
		<real>15.029999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353996</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>15.880000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346598</string>
		<key>latitude</key>
		<real>-10.73</real>
		<key>longitude</key>
		<real>14.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3357804</string>
		<key>latitude</key>
		<real>-17.469999999999999</real>
		<key>longitude</key>
		<real>16.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347016</string>
		<key>latitude</key>
		<real>-15.33</real>
		<key>longitude</key>
		<real>12.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346015</string>
		<key>latitude</key>
		<real>-11.210000000000001</real>
		<key>longitude</key>
		<real>13.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7866653</string>
		<key>latitude</key>
		<real>-10.84</real>
		<key>longitude</key>
		<real>14.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354588</string>
		<key>latitude</key>
		<real>-17.57</real>
		<key>longitude</key>
		<real>15.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371203</string>
		<key>latitude</key>
		<real>-17.579999999999998</real>
		<key>longitude</key>
		<real>16.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354147</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>15.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354021</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>15.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876337</string>
		<key>latitude</key>
		<real>-15.949999999999999</real>
		<key>longitude</key>
		<real>19.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354537</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>15.970000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347019</string>
		<key>latitude</key>
		<real>-15.199999999999999</real>
		<key>longitude</key>
		<real>12.15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354247</string>
		<key>latitude</key>
		<real>-17.920000000000002</real>
		<key>longitude</key>
		<real>15.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346661</string>
		<key>latitude</key>
		<real>-10.73</real>
		<key>longitude</key>
		<real>13.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354178</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>15.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239861</string>
		<key>latitude</key>
		<real>-9.9600000000000009</real>
		<key>longitude</key>
		<real>14.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239858</string>
		<key>latitude</key>
		<real>-9.6799999999999997</real>
		<key>longitude</key>
		<real>16.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347719</string>
		<key>latitude</key>
		<real>-11.779999999999999</real>
		<key>longitude</key>
		<real>19.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2592240</string>
		<key>latitude</key>
		<real>-9.5399999999999991</real>
		<key>longitude</key>
		<real>16.309999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239862</string>
		<key>latitude</key>
		<real>-9.5399999999999991</real>
		<key>longitude</key>
		<real>16.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371206</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>14.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371207</string>
		<key>latitude</key>
		<real>-18.5</real>
		<key>longitude</key>
		<real>15.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354077</string>
		<key>latitude</key>
		<real>-18.059999999999999</real>
		<key>longitude</key>
		<real>13.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371208</string>
		<key>latitude</key>
		<real>-18.5</real>
		<key>longitude</key>
		<real>17.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347494</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>19.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239076</string>
		<key>latitude</key>
		<real>-9.3000000000000007</real>
		<key>longitude</key>
		<real>14.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>875996</string>
		<key>latitude</key>
		<real>-12.85</real>
		<key>longitude</key>
		<real>20.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876233</string>
		<key>latitude</key>
		<real>-11.65</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354716</string>
		<key>latitude</key>
		<real>-19.18</real>
		<key>longitude</key>
		<real>15.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2241660</string>
		<key>latitude</key>
		<real>-8.9100000000000001</real>
		<key>longitude</key>
		<real>14.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876123</string>
		<key>latitude</key>
		<real>-11.550000000000001</real>
		<key>longitude</key>
		<real>20.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356386</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353383</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>19.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876485</string>
		<key>latitude</key>
		<real>-11.07</real>
		<key>longitude</key>
		<real>20.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2243598</string>
		<key>latitude</key>
		<real>-8.9800000000000004</real>
		<key>longitude</key>
		<real>13.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352593</string>
		<key>latitude</key>
		<real>-19.23</real>
		<key>longitude</key>
		<real>17.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371204</string>
		<key>latitude</key>
		<real>-18.420000000000002</real>
		<key>longitude</key>
		<real>19.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2240444</string>
		<key>latitude</key>
		<real>-8.9199999999999999</real>
		<key>longitude</key>
		<real>13.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2240449</string>
		<key>latitude</key>
		<real>-8.8399999999999999</real>
		<key>longitude</key>
		<real>13.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371202</string>
		<key>latitude</key>
		<real>-19.420000000000002</real>
		<key>longitude</key>
		<real>13.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145701</string>
		<key>latitude</key>
		<real>-10.26</real>
		<key>longitude</key>
		<real>20.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2242001</string>
		<key>latitude</key>
		<real>-8.5800000000000001</real>
		<key>longitude</key>
		<real>13.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3357114</string>
		<key>latitude</key>
		<real>-19.57</real>
		<key>longitude</key>
		<real>18.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145531</string>
		<key>latitude</key>
		<real>-9.6600000000000001</real>
		<key>longitude</key>
		<real>20.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7789926</string>
		<key>latitude</key>
		<real>-9.7100000000000009</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145702</string>
		<key>latitude</key>
		<real>-8.6400000000000006</real>
		<key>longitude</key>
		<real>19.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145724</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>20.739999999999998</real>
	</dict>
</array>
</plist>
