<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2270385</string>
		<key>latitude</key>
		<real>33.079999999999998</real>
		<key>longitude</key>
		<real>-16.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2271576</string>
		<key>latitude</key>
		<real>33.079999999999998</real>
		<key>longitude</key>
		<real>-16.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010683</string>
		<key>latitude</key>
		<real>33.07</real>
		<key>longitude</key>
		<real>-16.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014047</string>
		<key>latitude</key>
		<real>33.07</real>
		<key>longitude</key>
		<real>-16.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2261651</string>
		<key>latitude</key>
		<real>33.049999999999997</real>
		<key>longitude</key>
		<real>-16.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014028</string>
		<key>latitude</key>
		<real>32.740000000000002</real>
		<key>longitude</key>
		<real>-16.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010676</string>
		<key>latitude</key>
		<real>32.740000000000002</real>
		<key>longitude</key>
		<real>-16.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014041</string>
		<key>latitude</key>
		<real>32.810000000000002</real>
		<key>longitude</key>
		<real>-16.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270266</string>
		<key>latitude</key>
		<real>32.740000000000002</real>
		<key>longitude</key>
		<real>-16.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263491</string>
		<key>latitude</key>
		<real>32.799999999999997</real>
		<key>longitude</key>
		<real>-16.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010681</string>
		<key>latitude</key>
		<real>32.799999999999997</real>
		<key>longitude</key>
		<real>-16.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2266895</string>
		<key>latitude</key>
		<real>32.700000000000003</real>
		<key>longitude</key>
		<real>-16.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2272341</string>
		<key>latitude</key>
		<real>32.700000000000003</real>
		<key>longitude</key>
		<real>-16.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2593105</string>
		<key>latitude</key>
		<real>32.670000000000002</real>
		<key>longitude</key>
		<real>-16.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263257</string>
		<key>latitude</key>
		<real>32.68</real>
		<key>longitude</key>
		<real>-16.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263540</string>
		<key>latitude</key>
		<real>32.68</real>
		<key>longitude</key>
		<real>-16.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263197</string>
		<key>latitude</key>
		<real>32.799999999999997</real>
		<key>longitude</key>
		<real>-17.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014038</string>
		<key>latitude</key>
		<real>32.68</real>
		<key>longitude</key>
		<real>-16.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270386</string>
		<key>latitude</key>
		<real>32.68</real>
		<key>longitude</key>
		<real>-16.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2264407</string>
		<key>latitude</key>
		<real>32.670000000000002</real>
		<key>longitude</key>
		<real>-16.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2264412</string>
		<key>latitude</key>
		<real>32.850000000000001</real>
		<key>longitude</key>
		<real>-17.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2268746</string>
		<key>latitude</key>
		<real>32.719999999999999</real>
		<key>longitude</key>
		<real>-16.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2265494</string>
		<key>latitude</key>
		<real>32.670000000000002</real>
		<key>longitude</key>
		<real>-16.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010680</string>
		<key>latitude</key>
		<real>32.539999999999999</real>
		<key>longitude</key>
		<real>-16.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014039</string>
		<key>latitude</key>
		<real>32.520000000000003</real>
		<key>longitude</key>
		<real>-16.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270258</string>
		<key>latitude</key>
		<real>32.630000000000003</real>
		<key>longitude</key>
		<real>-16.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010674</string>
		<key>latitude</key>
		<real>32.689999999999998</real>
		<key>longitude</key>
		<real>-16.989999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2268418</string>
		<key>latitude</key>
		<real>32.670000000000002</real>
		<key>longitude</key>
		<real>-16.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2267827</string>
		<key>latitude</key>
		<real>32.630000000000003</real>
		<key>longitude</key>
		<real>-16.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014666</string>
		<key>latitude</key>
		<real>32.659999999999997</real>
		<key>longitude</key>
		<real>-16.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270361</string>
		<key>latitude</key>
		<real>32.670000000000002</real>
		<key>longitude</key>
		<real>-17.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014017</string>
		<key>latitude</key>
		<real>32.759999999999998</real>
		<key>longitude</key>
		<real>-17.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270380</string>
		<key>latitude</key>
		<real>32.630000000000003</real>
		<key>longitude</key>
		<real>-16.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010673</string>
		<key>latitude</key>
		<real>32.759999999999998</real>
		<key>longitude</key>
		<real>-17.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2271598</string>
		<key>latitude</key>
		<real>32.719999999999999</real>
		<key>longitude</key>
		<real>-17.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2268382</string>
		<key>latitude</key>
		<real>32.770000000000003</real>
		<key>longitude</key>
		<real>-17.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2268419</string>
		<key>latitude</key>
		<real>32.740000000000002</real>
		<key>longitude</key>
		<real>-17.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270408</string>
		<key>latitude</key>
		<real>32.719999999999999</real>
		<key>longitude</key>
		<real>-17.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2264557</string>
		<key>latitude</key>
		<real>32.670000000000002</real>
		<key>longitude</key>
		<real>-17.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2267364</string>
		<key>latitude</key>
		<real>32.729999999999997</real>
		<key>longitude</key>
		<real>-17.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263905</string>
		<key>latitude</key>
		<real>32.649999999999999</real>
		<key>longitude</key>
		<real>-17.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2513061</string>
		<key>latitude</key>
		<real>29.219999999999999</real>
		<key>longitude</key>
		<real>-13.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360194</string>
		<key>latitude</key>
		<real>29.18</real>
		<key>longitude</key>
		<real>-13.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2514305</string>
		<key>latitude</key>
		<real>29.16</real>
		<key>longitude</key>
		<real>-13.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360199</string>
		<key>latitude</key>
		<real>29.079999999999998</real>
		<key>longitude</key>
		<real>-13.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516814</string>
		<key>latitude</key>
		<real>29.149999999999999</real>
		<key>longitude</key>
		<real>-13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360180</string>
		<key>latitude</key>
		<real>29.16</real>
		<key>longitude</key>
		<real>-13.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510796</string>
		<key>latitude</key>
		<real>29.100000000000001</real>
		<key>longitude</key>
		<real>-13.619999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510455</string>
		<key>latitude</key>
		<real>29.059999999999999</real>
		<key>longitude</key>
		<real>-13.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510450</string>
		<key>latitude</key>
		<real>29.039999999999999</real>
		<key>longitude</key>
		<real>-13.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510747</string>
		<key>latitude</key>
		<real>29.120000000000001</real>
		<key>longitude</key>
		<real>-13.470000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515133</string>
		<key>latitude</key>
		<real>29.050000000000001</real>
		<key>longitude</key>
		<real>-13.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510486</string>
		<key>latitude</key>
		<real>29.050000000000001</real>
		<key>longitude</key>
		<real>-13.630000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510573</string>
		<key>latitude</key>
		<real>29.059999999999999</real>
		<key>longitude</key>
		<real>-13.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2518338</string>
		<key>latitude</key>
		<real>29.059999999999999</real>
		<key>longitude</key>
		<real>-13.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516883</string>
		<key>latitude</key>
		<real>29.07</real>
		<key>longitude</key>
		<real>-13.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2509408</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360204</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2521309</string>
		<key>latitude</key>
		<real>28.829999999999998</real>
		<key>longitude</key>
		<real>-17.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516033</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>-17.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2513662</string>
		<key>latitude</key>
		<real>28.989999999999998</real>
		<key>longitude</key>
		<real>-13.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2511447</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>-13.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510715</string>
		<key>latitude</key>
		<real>29.02</real>
		<key>longitude</key>
		<real>-13.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510105</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>-13.74</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6534182</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>-17.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515499</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>-13.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360188</string>
		<key>latitude</key>
		<real>28.98</real>
		<key>longitude</key>
		<real>-13.619999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515336</string>
		<key>latitude</key>
		<real>28.800000000000001</real>
		<key>longitude</key>
		<real>-17.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2514353</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>-13.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510485</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516848</string>
		<key>latitude</key>
		<real>28.969999999999999</real>
		<key>longitude</key>
		<real>-13.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2517747</string>
		<key>latitude</key>
		<real>28.91</real>
		<key>longitude</key>
		<real>-13.779999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6534187</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>-17.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2517346</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>-17.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360198</string>
		<key>latitude</key>
		<real>28.940000000000001</real>
		<key>longitude</key>
		<real>-13.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360174</string>
		<key>latitude</key>
		<real>28.969999999999999</real>
		<key>longitude</key>
		<real>-13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696897</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>-13.6</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6355013</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>-13.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2521570</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2512465</string>
		<key>latitude</key>
		<real>28.859999999999999</real>
		<key>longitude</key>
		<real>-13.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2549263</string>
		<key>latitude</key>
		<real>31.510000000000002</real>
		<key>longitude</key>
		<real>-9.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2549259</string>
		<key>latitude</key>
		<real>31.510000000000002</real>
		<key>longitude</key>
		<real>-9.7599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6546650</string>
		<key>latitude</key>
		<real>31.449999999999999</real>
		<key>longitude</key>
		<real>-9.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2568400</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>-9.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2534515</string>
		<key>latitude</key>
		<real>29.379999999999999</real>
		<key>longitude</key>
		<real>-10.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545624</string>
		<key>latitude</key>
		<real>29.370000000000001</real>
		<key>longitude</key>
		<real>-10.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2548526</string>
		<key>latitude</key>
		<real>28.989999999999998</real>
		<key>longitude</key>
		<real>-10.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6546501</string>
		<key>latitude</key>
		<real>28.989999999999998</real>
		<key>longitude</key>
		<real>-10.06</real>
	</dict>
</array>
</plist>
