<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6295630</string>
		<key>latitude</key>
		<real>0.0</real>
		<key>longitude</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2302357</string>
		<key>latitude</key>
		<real>5.1053499999999996</real>
		<key>longitude</key>
		<real>-1.2465999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2297810</string>
		<key>latitude</key>
		<real>5.2617599999999998</real>
		<key>longitude</key>
		<real>-0.75897000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2304389</string>
		<key>latitude</key>
		<real>5.2848300000000004</real>
		<key>longitude</key>
		<real>-0.73711000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2301190</string>
		<key>latitude</key>
		<real>5.0898099999999999</real>
		<key>longitude</key>
		<real>-1.3480399999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294915</string>
		<key>latitude</key>
		<real>4.8844700000000003</real>
		<key>longitude</key>
		<real>-1.75536</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295672</string>
		<key>latitude</key>
		<real>5.20913</real>
		<key>longitude</key>
		<real>-1.0605800000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295458</string>
		<key>latitude</key>
		<real>4.9340000000000002</real>
		<key>longitude</key>
		<real>-1.7137</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294034</string>
		<key>latitude</key>
		<real>5.3511300000000004</real>
		<key>longitude</key>
		<real>-0.62312999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2298528</string>
		<key>latitude</key>
		<real>4.9145200000000004</real>
		<key>longitude</key>
		<real>-1.7876099999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295385</string>
		<key>latitude</key>
		<real>5.0087200000000003</real>
		<key>longitude</key>
		<real>-1.6301099999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295773</string>
		<key>latitude</key>
		<real>5.5499999999999998</real>
		<key>longitude</key>
		<real>-0.20000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2296458</string>
		<key>latitude</key>
		<real>5.5330199999999996</real>
		<key>longitude</key>
		<real>-0.4224</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2306104</string>
		<key>latitude</key>
		<real>5.5560200000000002</real>
		<key>longitude</key>
		<real>-0.19689999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294665</string>
		<key>latitude</key>
		<real>5.5836499999999996</real>
		<key>longitude</key>
		<real>-0.10722</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2300721</string>
		<key>latitude</key>
		<real>5.57714</real>
		<key>longitude</key>
		<real>-0.31035000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2304928</string>
		<key>latitude</key>
		<real>5.5499999999999998</real>
		<key>longitude</key>
		<real>-0.58333000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2296969</string>
		<key>latitude</key>
		<real>5.6010600000000004</real>
		<key>longitude</key>
		<real>-0.077130000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294962</string>
		<key>latitude</key>
		<real>5.5371100000000002</real>
		<key>longitude</key>
		<real>-0.69984000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295692</string>
		<key>latitude</key>
		<real>5.6130399999999998</real>
		<key>longitude</key>
		<real>-0.047460000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303611</string>
		<key>latitude</key>
		<real>4.8699199999999996</real>
		<key>longitude</key>
		<real>-2.2404600000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2302353</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-1</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2301639</string>
		<key>latitude</key>
		<real>5.6500300000000001</real>
		<key>longitude</key>
		<real>-0.2361</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294700</string>
		<key>latitude</key>
		<real>5.6669799999999997</real>
		<key>longitude</key>
		<real>-0.016570000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2298330</string>
		<key>latitude</key>
		<real>5.6823399999999999</real>
		<key>longitude</key>
		<real>-0.16413</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2306079</string>
		<key>latitude</key>
		<real>5.7000000000000002</real>
		<key>longitude</key>
		<real>-0.33000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2297141</string>
		<key>latitude</key>
		<real>5.8089300000000001</real>
		<key>longitude</key>
		<real>-0.35026000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2306119</string>
		<key>latitude</key>
		<real>5.8471799999999998</real>
		<key>longitude</key>
		<real>-0.17754</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294768</string>
		<key>latitude</key>
		<real>5.3064400000000003</real>
		<key>longitude</key>
		<real>-1.9847399999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2306224</string>
		<key>latitude</key>
		<real>5.3616999999999999</real>
		<key>longitude</key>
		<real>-1.9473199999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2304548</string>
		<key>latitude</key>
		<real>5.7947300000000004</real>
		<key>longitude</key>
		<real>0.89727999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2304220</string>
		<key>latitude</key>
		<real>5.8600599999999998</real>
		<key>longitude</key>
		<real>-0.66349999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2300883</string>
		<key>latitude</key>
		<real>5.7011900000000004</real>
		<key>longitude</key>
		<real>-1.28657</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2305027</string>
		<key>latitude</key>
		<real>5.9746199999999998</real>
		<key>longitude</key>
		<real>-0.085419999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2305164</string>
		<key>latitude</key>
		<real>5.8937999999999997</real>
		<key>longitude</key>
		<real>-1.0163599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2297816</string>
		<key>latitude</key>
		<real>6.0282400000000003</real>
		<key>longitude</key>
		<real>0.07775</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2299645</string>
		<key>latitude</key>
		<real>5.9179300000000001</real>
		<key>longitude</key>
		<real>0.9879</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295840</string>
		<key>latitude</key>
		<real>5.4327399999999999</real>
		<key>longitude</key>
		<real>-2.1428400000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2302135</string>
		<key>latitude</key>
		<real>6.04237</real>
		<key>longitude</key>
		<real>-0.16955000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2296564</string>
		<key>latitude</key>
		<real>5.9231299999999996</real>
		<key>longitude</key>
		<real>-0.99507000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295065</string>
		<key>latitude</key>
		<real>6.0408900000000001</real>
		<key>longitude</key>
		<real>-0.45004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2299522</string>
		<key>latitude</key>
		<real>6.0940799999999999</real>
		<key>longitude</key>
		<real>-0.25913000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2304931</string>
		<key>latitude</key>
		<real>6.0402399999999998</real>
		<key>longitude</key>
		<real>-0.80876000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2299636</string>
		<key>latitude</key>
		<real>6.1649399999999996</real>
		<key>longitude</key>
		<real>-0.55376000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294076</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-2.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2365267</string>
		<key>latitude</key>
		<real>6.13748</real>
		<key>longitude</key>
		<real>1.21227</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303726</string>
		<key>latitude</key>
		<real>6.3331099999999996</real>
		<key>longitude</key>
		<real>0.28460000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2301400</string>
		<key>latitude</key>
		<real>5.9656200000000004</real>
		<key>longitude</key>
		<real>-1.7799499999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2364049</string>
		<key>latitude</key>
		<real>6.1688900000000002</real>
		<key>longitude</key>
		<real>1.2502800000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597172</string>
		<key>latitude</key>
		<real>5.1362199999999998</real>
		<key>longitude</key>
		<real>-3.0230800000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303236</string>
		<key>latitude</key>
		<real>6.38706</real>
		<key>longitude</key>
		<real>-0.37737999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8032140</string>
		<key>latitude</key>
		<real>5.1731699999999998</real>
		<key>longitude</key>
		<real>-3.1709700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2365975</string>
		<key>latitude</key>
		<real>6.3241699999999996</real>
		<key>longitude</key>
		<real>1.29556</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2296606</string>
		<key>latitude</key>
		<real>6.2060199999999996</real>
		<key>longitude</key>
		<real>-1.66191</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2367990</string>
		<key>latitude</key>
		<real>6.2333299999999996</real>
		<key>longitude</key>
		<real>1.6000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2301360</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>-0.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2284744</string>
		<key>latitude</key>
		<real>5.4150999999999998</real>
		<key>longitude</key>
		<real>-3.0300600000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2363534</string>
		<key>latitude</key>
		<real>6.4261100000000004</real>
		<key>longitude</key>
		<real>1.21333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2363490</string>
		<key>latitude</key>
		<real>6.3333300000000001</real>
		<key>longitude</key>
		<real>1.5333300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2365266</string>
		<key>latitude</key>
		<real>6.4886100000000004</real>
		<key>longitude</key>
		<real>1.00667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2297313</string>
		<key>latitude</key>
		<real>6.5512100000000002</real>
		<key>longitude</key>
		<real>-0.76619999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2300379</string>
		<key>latitude</key>
		<real>6.5999999999999996</real>
		<key>longitude</key>
		<real>0.46666999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2393947</string>
		<key>latitude</key>
		<real>6.2803599999999999</real>
		<key>longitude</key>
		<real>1.8225100000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2297834</string>
		<key>latitude</key>
		<real>6.5932000000000004</real>
		<key>longitude</key>
		<real>-0.73462000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293428</string>
		<key>latitude</key>
		<real>5.28634</real>
		<key>longitude</key>
		<real>-3.30402</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294305</string>
		<key>latitude</key>
		<real>6.13009</real>
		<key>longitude</key>
		<real>-2.1613500000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2365173</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>1.3333299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293507</string>
		<key>latitude</key>
		<real>5.4677899999999999</real>
		<key>longitude</key>
		<real>-3.2071100000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303224</string>
		<key>latitude</key>
		<real>6.4533500000000004</real>
		<key>longitude</key>
		<real>-1.57741</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597317</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-3.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2299349</string>
		<key>latitude</key>
		<real>6.6166700000000001</real>
		<key>longitude</key>
		<real>-1.2166699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2292542</string>
		<key>latitude</key>
		<real>5.6083100000000004</real>
		<key>longitude</key>
		<real>-3.1562999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2394824</string>
		<key>latitude</key>
		<real>6.4076399999999998</real>
		<key>longitude</key>
		<real>1.88198</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2364041</string>
		<key>latitude</key>
		<real>6.5800000000000001</real>
		<key>longitude</key>
		<real>1.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392308</string>
		<key>latitude</key>
		<real>6.3630699999999996</real>
		<key>longitude</key>
		<real>2.0850599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2291087</string>
		<key>latitude</key>
		<real>5.2741400000000001</real>
		<key>longitude</key>
		<real>-3.5950199999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2288873</string>
		<key>latitude</key>
		<real>5.2037699999999996</real>
		<key>longitude</key>
		<real>-3.7395999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2305537</string>
		<key>latitude</key>
		<real>6.8000400000000001</real>
		<key>longitude</key>
		<real>-1.0819300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2288115</string>
		<key>latitude</key>
		<real>5.2118000000000002</real>
		<key>longitude</key>
		<real>-3.7388400000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392895</string>
		<key>latitude</key>
		<real>6.6299999999999999</real>
		<key>longitude</key>
		<real>1.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2365560</string>
		<key>latitude</key>
		<real>6.9000000000000004</real>
		<key>longitude</key>
		<real>0.63332999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392897</string>
		<key>latitude</key>
		<real>6.6399999999999997</real>
		<key>longitude</key>
		<real>1.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874124</string>
		<key>latitude</key>
		<real>6.3610600000000002</real>
		<key>longitude</key>
		<real>2.36781</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2298890</string>
		<key>latitude</key>
		<real>6.6884800000000002</real>
		<key>longitude</key>
		<real>-1.62443</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2394092</string>
		<key>latitude</key>
		<real>6.3833299999999999</real>
		<key>longitude</key>
		<real>2.3500000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2304116</string>
		<key>latitude</key>
		<real>6.75</real>
		<key>longitude</key>
		<real>-1.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8033190</string>
		<key>latitude</key>
		<real>5.4995700000000003</real>
		<key>longitude</key>
		<real>-3.5569000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2302417</string>
		<key>latitude</key>
		<real>6.7248799999999997</real>
		<key>longitude</key>
		<real>-1.59606</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2394819</string>
		<key>latitude</key>
		<real>6.3653599999999999</real>
		<key>longitude</key>
		<real>2.4183300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597275</string>
		<key>latitude</key>
		<real>6.3666700000000001</real>
		<key>longitude</key>
		<real>2.4166699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294938</string>
		<key>latitude</key>
		<real>6.7345300000000003</real>
		<key>longitude</key>
		<real>-1.6127499999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2299233</string>
		<key>latitude</key>
		<real>6.9953599999999998</real>
		<key>longitude</key>
		<real>0.29305999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294234</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303060</string>
		<key>latitude</key>
		<real>6.4634600000000004</real>
		<key>longitude</key>
		<real>-2.3193800000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2395914</string>
		<key>latitude</key>
		<real>6.4485200000000003</real>
		<key>longitude</key>
		<real>2.3556599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293045</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-3.6600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2364752</string>
		<key>latitude</key>
		<real>6.9500000000000002</real>
		<key>longitude</key>
		<real>1.1666700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2282335</string>
		<key>latitude</key>
		<real>5.2567700000000004</real>
		<key>longitude</key>
		<real>-3.96299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2291580</string>
		<key>latitude</key>
		<real>5.3583800000000004</real>
		<key>longitude</key>
		<real>-3.88687</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2394545</string>
		<key>latitude</key>
		<real>6.8166700000000002</real>
		<key>longitude</key>
		<real>1.7833300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8031739</string>
		<key>latitude</key>
		<real>5.36036</real>
		<key>longitude</key>
		<real>-3.8899599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2395635</string>
		<key>latitude</key>
		<real>6.66547</real>
		<key>longitude</key>
		<real>2.1513800000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2595327</string>
		<key>latitude</key>
		<real>5.2435600000000004</real>
		<key>longitude</key>
		<real>-4.0352100000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2300372</string>
		<key>latitude</key>
		<real>7.1518100000000002</real>
		<key>longitude</key>
		<real>0.47361999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2395504</string>
		<key>latitude</key>
		<real>6.6666699999999999</real>
		<key>longitude</key>
		<real>2.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2595323</string>
		<key>latitude</key>
		<real>5.31311</real>
		<key>longitude</key>
		<real>-3.9947599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392087</string>
		<key>latitude</key>
		<real>6.4964599999999999</real>
		<key>longitude</key>
		<real>2.6035900000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293538</string>
		<key>latitude</key>
		<real>5.3094299999999999</real>
		<key>longitude</key>
		<real>-4.0197200000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2395568</string>
		<key>latitude</key>
		<real>6.9333299999999998</real>
		<key>longitude</key>
		<real>1.68333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8031572</string>
		<key>latitude</key>
		<real>5.3532400000000004</real>
		<key>longitude</key>
		<real>-4.0080099999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8031575</string>
		<key>latitude</key>
		<real>5.3453200000000001</real>
		<key>longitude</key>
		<real>-4.03505</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2298264</string>
		<key>latitude</key>
		<real>7.0627300000000002</real>
		<key>longitude</key>
		<real>-1.4000999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293521</string>
		<key>latitude</key>
		<real>5.4086100000000004</real>
		<key>longitude</key>
		<real>-4.0160099999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2348395</string>
		<key>latitude</key>
		<real>6.4166699999999999</real>
		<key>longitude</key>
		<real>2.8833299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392325</string>
		<key>latitude</key>
		<real>6.6699999999999999</real>
		<key>longitude</key>
		<real>2.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2291708</string>
		<key>latitude</key>
		<real>6.0769399999999996</real>
		<key>longitude</key>
		<real>-3.4144399999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2292852</string>
		<key>latitude</key>
		<real>5.4946200000000003</real>
		<key>longitude</key>
		<real>-4.0518299999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339065</string>
		<key>latitude</key>
		<real>6.6333299999999999</real>
		<key>longitude</key>
		<real>2.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597273</string>
		<key>latitude</key>
		<real>7.0833300000000001</real>
		<key>longitude</key>
		<real>1.8333299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392009</string>
		<key>latitude</key>
		<real>6.7361800000000001</real>
		<key>longitude</key>
		<real>2.6586599999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2287778</string>
		<key>latitude</key>
		<real>5.2051499999999997</real>
		<key>longitude</key>
		<real>-4.4146000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2352356</string>
		<key>latitude</key>
		<real>6.5999999999999996</real>
		<key>longitude</key>
		<real>2.9333300000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2367563</string>
		<key>latitude</key>
		<real>7.3499999999999996</real>
		<key>longitude</key>
		<real>1.06667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2292531</string>
		<key>latitude</key>
		<real>5.6315099999999996</real>
		<key>longitude</key>
		<real>-4.0845799999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303258</string>
		<key>latitude</key>
		<real>7.0903400000000003</real>
		<key>longitude</key>
		<real>-2.0249799999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2393508</string>
		<key>latitude</key>
		<real>7.0894300000000001</real>
		<key>longitude</key>
		<real>2.0517300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2290582</string>
		<key>latitude</key>
		<real>5.3255600000000003</real>
		<key>longitude</key>
		<real>-4.3768500000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597316</string>
		<key>latitude</key>
		<real>5.4166699999999999</real>
		<key>longitude</key>
		<real>-4.3333300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2334528</string>
		<key>latitude</key>
		<real>6.5999999999999996</real>
		<key>longitude</key>
		<real>3.0666699999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2368035</string>
		<key>latitude</key>
		<real>7.4666699999999997</real>
		<key>longitude</key>
		<real>0.90000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2395915</string>
		<key>latitude</key>
		<real>7.1828599999999998</real>
		<key>longitude</key>
		<real>1.99119</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2301217</string>
		<key>latitude</key>
		<real>7.38558</real>
		<key>longitude</key>
		<real>-1.3561700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2395049</string>
		<key>latitude</key>
		<real>7.1782599999999999</real>
		<key>longitude</key>
		<real>2.0667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2301464</string>
		<key>latitude</key>
		<real>7.1724199999999998</real>
		<key>longitude</key>
		<real>-2.1027999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2332459</string>
		<key>latitude</key>
		<real>6.4530599999999998</real>
		<key>longitude</key>
		<real>3.3958300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596951</string>
		<key>latitude</key>
		<real>5.9828900000000003</real>
		<key>longitude</key>
		<real>-3.9439299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2367660</string>
		<key>latitude</key>
		<real>7.5833300000000001</real>
		<key>longitude</key>
		<real>0.59999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2364370</string>
		<key>latitude</key>
		<real>7.5</real>
		<key>longitude</key>
		<real>1.1666700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293342</string>
		<key>latitude</key>
		<real>6.1069399999999998</real>
		<key>longitude</key>
		<real>-3.8619400000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2280289</string>
		<key>latitude</key>
		<real>5.3163900000000002</real>
		<key>longitude</key>
		<real>-4.5700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2392108</string>
		<key>latitude</key>
		<real>6.9800800000000001</real>
		<key>longitude</key>
		<real>2.6648999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597322</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>-3.4166699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2367886</string>
		<key>latitude</key>
		<real>7.5333300000000003</real>
		<key>longitude</key>
		<real>1.1333299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597318</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>-4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2566677</string>
		<key>latitude</key>
		<real>6.5780599999999998</real>
		<key>longitude</key>
		<real>3.3344399999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338313</string>
		<key>latitude</key>
		<real>6.59422</real>
		<key>longitude</key>
		<real>3.3374799999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2390719</string>
		<key>latitude</key>
		<real>7.25</real>
		<key>longitude</key>
		<real>2.1666699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2394814</string>
		<key>latitude</key>
		<real>7.2209700000000003</real>
		<key>longitude</key>
		<real>2.3401700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337759</string>
		<key>latitude</key>
		<real>6.8865299999999996</real>
		<key>longitude</key>
		<real>3.0205000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293268</string>
		<key>latitude</key>
		<real>5.9280099999999996</real>
		<key>longitude</key>
		<real>-4.21319</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2344082</string>
		<key>latitude</key>
		<real>6.6008599999999999</real>
		<key>longitude</key>
		<real>3.4881799999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597277</string>
		<key>latitude</key>
		<real>7.1666699999999999</real>
		<key>longitude</key>
		<real>2.5833300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338876</string>
		<key>latitude</key>
		<real>6.8143700000000003</real>
		<key>longitude</key>
		<real>3.1957499999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2295021</string>
		<key>latitude</key>
		<real>7.3399099999999997</real>
		<key>longitude</key>
		<real>-2.3267600000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294893</string>
		<key>latitude</key>
		<real>7.4415899999999997</real>
		<key>longitude</key>
		<real>-2.0851999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2296524</string>
		<key>latitude</key>
		<real>7.37134</real>
		<key>longitude</key>
		<real>-2.31819</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2288118</string>
		<key>latitude</key>
		<real>6.3150000000000004</real>
		<key>longitude</key>
		<real>-3.96028</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2281641</string>
		<key>latitude</key>
		<real>5.6691700000000003</real>
		<key>longitude</key>
		<real>-4.5702800000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293107</string>
		<key>latitude</key>
		<real>6.3899999999999997</real>
		<key>longitude</key>
		<real>-3.90028</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293549</string>
		<key>latitude</key>
		<real>6.7297200000000004</real>
		<key>longitude</key>
		<real>-3.4963899999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2294727</string>
		<key>latitude</key>
		<real>7.5861599999999996</real>
		<key>longitude</key>
		<real>-1.94137</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2288105</string>
		<key>latitude</key>
		<real>5.1366699999999996</real>
		<key>longitude</key>
		<real>-5.0241699999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2332453</string>
		<key>latitude</key>
		<real>6.5833300000000001</real>
		<key>longitude</key>
		<real>3.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2393551</string>
		<key>latitude</key>
		<real>7.3633199999999999</real>
		<key>longitude</key>
		<real>2.59978</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2325458</string>
		<key>latitude</key>
		<real>6.6666699999999999</real>
		<key>longitude</key>
		<real>3.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2303125</string>
		<key>latitude</key>
		<real>7.4534000000000002</real>
		<key>longitude</key>
		<real>-2.5840399999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2343776</string>
		<key>latitude</key>
		<real>6.6142300000000001</real>
		<key>longitude</key>
		<real>3.9001899999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2293260</string>
		<key>latitude</key>
		<real>7.1344399999999997</real>
		<key>longitude</key>
		<real>-3.20472</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2323411</string>
		<key>latitude</key>
		<real>6.8432300000000001</real>
		<key>longitude</key>
		<real>3.6477599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2325307</string>
		<key>latitude</key>
		<real>6.9500000000000002</real>
		<key>longitude</key>
		<real>3.5099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2343252</string>
		<key>latitude</key>
		<real>6.5841200000000004</real>
		<key>longitude</key>
		<real>3.9833599999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2292755</string>
		<key>latitude</key>
		<real>6.6652800000000001</real>
		<key>longitude</key>
		<real>-3.9722200000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337379</string>
		<key>latitude</key>
		<real>6.9100200000000003</real>
		<key>longitude</key>
		<real>3.6655700000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2352947</string>
		<key>latitude</key>
		<real>7.1500000000000004</real>
		<key>longitude</key>
		<real>3.3500000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2327546</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>3.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330241</string>
		<key>latitude</key>
		<real>7.4500000000000002</real>
		<key>longitude</key>
		<real>2.8500000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337227</string>
		<key>latitude</key>
		<real>6.9928100000000004</real>
		<key>longitude</key>
		<real>3.6818499999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2280761</string>
		<key>latitude</key>
		<real>5.8983299999999996</real>
		<key>longitude</key>
		<real>-4.8283300000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338400</string>
		<key>latitude</key>
		<real>6.81609</real>
		<key>longitude</key>
		<real>3.91588</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338404</string>
		<key>latitude</key>
		<real>6.7783699999999998</real>
		<key>longitude</key>
		<real>4.0338599999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2291113</string>
		<key>latitude</key>
		<real>6.6486099999999997</real>
		<key>longitude</key>
		<real>-4.1991699999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2287927</string>
		<key>latitude</key>
		<real>5.52278</real>
		<key>longitude</key>
		<real>-5.2397200000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338669</string>
		<key>latitude</key>
		<real>7.4333299999999998</real>
		<key>longitude</key>
		<real>3.2833299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338403</string>
		<key>latitude</key>
		<real>6.9798</real>
		<key>longitude</key>
		<real>4.0032899999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2290412</string>
		<key>latitude</key>
		<real>7.0590999999999999</real>
		<key>longitude</key>
		<real>-3.9630999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2346317</string>
		<key>latitude</key>
		<real>5.3509099999999998</real>
		<key>longitude</key>
		<real>5.5075799999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2325733</string>
		<key>latitude</key>
		<real>7.5499999999999998</real>
		<key>longitude</key>
		<real>3.4333300000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2281426</string>
		<key>latitude</key>
		<real>6.6488100000000001</real>
		<key>longitude</key>
		<real>-4.6136799999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2306774</string>
		<key>latitude</key>
		<real>-1.4013899999999999</real>
		<key>longitude</key>
		<real>5.6325000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2289887</string>
		<key>latitude</key>
		<real>5.8397199999999998</real>
		<key>longitude</key>
		<real>-5.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597329</string>
		<key>latitude</key>
		<real>5.6666699999999999</real>
		<key>longitude</key>
		<real>-5.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2281436</string>
		<key>latitude</key>
		<real>6.6525100000000004</real>
		<key>longitude</key>
		<real>-4.69693</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2289983</string>
		<key>latitude</key>
		<real>6.6451000000000002</real>
		<key>longitude</key>
		<real>-4.7047699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339354</string>
		<key>latitude</key>
		<real>7.3899999999999997</real>
		<key>longitude</key>
		<real>3.8999999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2352110</string>
		<key>latitude</key>
		<real>6.5886199999999997</real>
		<key>longitude</key>
		<real>4.8342999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2336648</string>
		<key>latitude</key>
		<real>7.3547200000000004</real>
		<key>longitude</key>
		<real>3.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597331</string>
		<key>latitude</key>
		<real>7.25</real>
		<key>longitude</key>
		<real>-4.1666699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2291383</string>
		<key>latitude</key>
		<real>7.06264</real>
		<key>longitude</key>
		<real>-4.4994800000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2280316</string>
		<key>latitude</key>
		<real>6.56128</real>
		<key>longitude</key>
		<real>-5.0157499999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2349558</string>
		<key>latitude</key>
		<real>7.3333300000000001</real>
		<key>longitude</key>
		<real>4.1833299999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338273</string>
		<key>latitude</key>
		<real>7.3499999999999996</real>
		<key>longitude</key>
		<real>4.1833299999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2325821</string>
		<key>latitude</key>
		<real>6.7456899999999997</real>
		<key>longitude</key>
		<real>4.8774800000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2332357</string>
		<key>latitude</key>
		<real>7.4699999999999998</real>
		<key>longitude</key>
		<real>4.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330028</string>
		<key>latitude</key>
		<real>7.3799999999999999</real>
		<key>longitude</key>
		<real>4.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2323011</string>
		<key>latitude</key>
		<real>6.5385799999999996</real>
		<key>longitude</key>
		<real>5.1608999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2351358</string>
		<key>latitude</key>
		<real>7.4699999999999998</real>
		<key>longitude</key>
		<real>4.2800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2282827</string>
		<key>latitude</key>
		<real>6.3830900000000002</real>
		<key>longitude</key>
		<real>-5.4175899999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341355</string>
		<key>latitude</key>
		<real>7.4699999999999998</real>
		<key>longitude</key>
		<real>4.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2326302</string>
		<key>latitude</key>
		<real>7.5999999999999996</real>
		<key>longitude</key>
		<real>4.1833299999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2336905</string>
		<key>latitude</key>
		<real>7.6333299999999999</real>
		<key>longitude</key>
		<real>4.1833299999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2326171</string>
		<key>latitude</key>
		<real>7.0999999999999996</real>
		<key>longitude</key>
		<real>4.8333300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2327124</string>
		<key>latitude</key>
		<real>6.2995000000000001</real>
		<key>longitude</key>
		<real>5.5938299999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597324</string>
		<key>latitude</key>
		<real>6.8333300000000001</real>
		<key>longitude</key>
		<real>-5.1666699999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347283</string>
		<key>latitude</key>
		<real>6.3350400000000002</real>
		<key>longitude</key>
		<real>5.6274899999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597365</string>
		<key>latitude</key>
		<real>7.5</real>
		<key>longitude</key>
		<real>4.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338900</string>
		<key>latitude</key>
		<real>7.4699999999999998</real>
		<key>longitude</key>
		<real>4.5700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2279755</string>
		<key>latitude</key>
		<real>6.8205499999999999</real>
		<key>longitude</key>
		<real>-5.2767400000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339150</string>
		<key>latitude</key>
		<real>7.1127000000000002</real>
		<key>longitude</key>
		<real>5.1158999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2326168</string>
		<key>latitude</key>
		<real>7.1666699999999999</real>
		<key>longitude</key>
		<real>5.0833300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2290224</string>
		<key>latitude</key>
		<real>6.9215400000000002</real>
		<key>longitude</key>
		<real>-5.3388799999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2280743</string>
		<key>latitude</key>
		<real>7.1573799999999999</real>
		<key>longitude</key>
		<real>-5.2256600000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337704</string>
		<key>latitude</key>
		<real>7.6200000000000001</real>
		<key>longitude</key>
		<real>4.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2350841</string>
		<key>latitude</key>
		<real>7.2525599999999999</real>
		<key>longitude</key>
		<real>5.1931200000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337762</string>
		<key>latitude</key>
		<real>7.35067</real>
		<key>longitude</key>
		<real>5.1133300000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338401</string>
		<key>latitude</key>
		<real>7.6799999999999997</real>
		<key>longitude</key>
		<real>4.8200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6832960</string>
		<key>latitude</key>
		<real>7.2451999999999996</real>
		<key>longitude</key>
		<real>5.2956000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338810</string>
		<key>latitude</key>
		<real>7.50251</real>
		<key>longitude</key>
		<real>5.0625799999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2343983</string>
		<key>latitude</key>
		<real>7.6500000000000004</real>
		<key>longitude</key>
		<real>4.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338287</string>
		<key>latitude</key>
		<real>7.4900000000000002</real>
		<key>longitude</key>
		<real>5.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2290956</string>
		<key>latitude</key>
		<real>7.6894900000000002</real>
		<key>longitude</key>
		<real>-5.0217700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2282178</string>
		<key>latitude</key>
		<real>7.4546200000000002</real>
		<key>longitude</key>
		<real>-5.2926299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2325314</string>
		<key>latitude</key>
		<real>7.1962000000000002</real>
		<key>longitude</key>
		<real>5.5868099999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2338630</string>
		<key>latitude</key>
		<real>7.6699999999999999</real>
		<key>longitude</key>
		<real>5.1299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2352379</string>
		<key>latitude</key>
		<real>7.6200000000000001</real>
		<key>longitude</key>
		<real>5.2199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337207</string>
		<key>latitude</key>
		<real>7.46</real>
		<key>longitude</key>
		<real>5.4299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2343299</string>
		<key>latitude</key>
		<real>7.43614</real>
		<key>longitude</key>
		<real>5.45932</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2595346</string>
		<key>latitude</key>
		<real>7.6699999999999999</real>
		<key>longitude</key>
		<real>5.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2291779</string>
		<key>latitude</key>
		<real>7.6735600000000002</real>
		<key>longitude</key>
		<real>-5.5764399999999998</real>
	</dict>
</array>
</plist>
