<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2306774</string>
		<key>latitude</key>
		<real>-1.4013899999999999</real>
		<key>longitude</key>
		<real>5.6325000000000003</real>
	</dict>
</array>
</plist>
