<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2255564</string>
		<key>latitude</key>
		<real>1.61361</real>
		<key>longitude</key>
		<real>16.051670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255329</string>
		<key>latitude</key>
		<real>1.3333299999999999</real>
		<key>longitude</key>
		<real>15.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255304</string>
		<key>latitude</key>
		<real>1.6480600000000001</real>
		<key>longitude</key>
		<real>14.58056</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258431</string>
		<key>latitude</key>
		<real>2</real>
		<key>longitude</key>
		<real>17.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383204</string>
		<key>latitude</key>
		<real>3.5</real>
		<key>longitude</key>
		<real>16.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383827</string>
		<key>latitude</key>
		<real>3.5271599999999999</real>
		<key>longitude</key>
		<real>16.040001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220853</string>
		<key>latitude</key>
		<real>3.51667</real>
		<key>longitude</key>
		<real>15.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255244</string>
		<key>latitude</key>
		<real>2.0833300000000001</real>
		<key>longitude</key>
		<real>14.133330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2257879</string>
		<key>latitude</key>
		<real>0.00694</real>
		<key>longitude</key>
		<real>15.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2567932</string>
		<key>latitude</key>
		<real>-0.0094400000000000005</real>
		<key>longitude</key>
		<real>15.57194</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2259918</string>
		<key>latitude</key>
		<real>1.5913900000000001</real>
		<key>longitude</key>
		<real>18.050280000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2259655</string>
		<key>latitude</key>
		<real>1.6380600000000001</real>
		<key>longitude</key>
		<real>18.066669000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386820</string>
		<key>latitude</key>
		<real>4.2166699999999997</real>
		<key>longitude</key>
		<real>15.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389086</string>
		<key>latitude</key>
		<real>4.2611600000000003</real>
		<key>longitude</key>
		<real>15.792160000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400033</string>
		<key>latitude</key>
		<real>0.99092000000000002</real>
		<key>longitude</key>
		<real>13.96556</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386756</string>
		<key>latitude</key>
		<real>4.11775</real>
		<key>longitude</key>
		<real>15.13926</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225325</string>
		<key>latitude</key>
		<real>4.0333300000000003</real>
		<key>longitude</key>
		<real>14.93333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255542</string>
		<key>latitude</key>
		<real>-0.48193000000000003</real>
		<key>longitude</key>
		<real>15.89988</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386161</string>
		<key>latitude</key>
		<real>4.5</real>
		<key>longitude</key>
		<real>16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2593118</string>
		<key>latitude</key>
		<real>0.0</real>
		<key>longitude</key>
		<real>14.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260487</string>
		<key>latitude</key>
		<real>-0.5</real>
		<key>longitude</key>
		<real>16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224513</string>
		<key>latitude</key>
		<real>3.1666699999999999</real>
		<key>longitude</key>
		<real>13.616669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224928</string>
		<key>latitude</key>
		<real>2.9166699999999999</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2384770</string>
		<key>latitude</key>
		<real>3.86781</real>
		<key>longitude</key>
		<real>17.989229000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388614</string>
		<key>latitude</key>
		<real>4.3188700000000004</real>
		<key>longitude</key>
		<real>17.469529999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231835</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385105</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234663</string>
		<key>latitude</key>
		<real>4.4333299999999998</real>
		<key>longitude</key>
		<real>14.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387495</string>
		<key>latitude</key>
		<real>4.9409000000000001</real>
		<key>longitude</key>
		<real>15.86645</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223306</string>
		<key>latitude</key>
		<real>4.4666699999999997</real>
		<key>longitude</key>
		<real>14.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312895</string>
		<key>latitude</key>
		<real>0.048649999999999999</real>
		<key>longitude</key>
		<real>18.260339999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8070734</string>
		<key>latitude</key>
		<real>0.055449999999999999</real>
		<key>longitude</key>
		<real>18.275061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8070735</string>
		<key>latitude</key>
		<real>0.0201</real>
		<key>longitude</key>
		<real>18.27833</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2384377</string>
		<key>latitude</key>
		<real>3.6415299999999999</real>
		<key>longitude</key>
		<real>18.593639</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313762</string>
		<key>latitude</key>
		<real>3.6499999999999999</real>
		<key>longitude</key>
		<real>18.633329</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260009</string>
		<key>latitude</key>
		<real>-0.87250000000000005</real>
		<key>longitude</key>
		<real>14.82056</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260494</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2384618</string>
		<key>latitude</key>
		<real>4.25</real>
		<key>longitude</key>
		<real>18.283331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313371</string>
		<key>latitude</key>
		<real>-1.06046</real>
		<key>longitude</key>
		<real>17.182099999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2232486</string>
		<key>latitude</key>
		<real>3.5833300000000001</real>
		<key>longitude</key>
		<real>13.116669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388873</string>
		<key>latitude</key>
		<real>4.25671</real>
		<key>longitude</key>
		<real>18.415831000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396926</string>
		<key>latitude</key>
		<real>0.5</real>
		<key>longitude</key>
		<real>13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2232497</string>
		<key>latitude</key>
		<real>4.2333299999999996</real>
		<key>longitude</key>
		<real>13.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224162</string>
		<key>latitude</key>
		<real>2.6666699999999999</real>
		<key>longitude</key>
		<real>12.66667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233056</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>13.56667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2402123</string>
		<key>latitude</key>
		<real>0.56667000000000001</real>
		<key>longitude</key>
		<real>12.883330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236053</string>
		<key>latitude</key>
		<real>3.98333</real>
		<key>longitude</key>
		<real>13.18333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399371</string>
		<key>latitude</key>
		<real>0.57381000000000004</real>
		<key>longitude</key>
		<real>12.864190000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234359</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>13.68333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385666</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>18.533331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389853</string>
		<key>latitude</key>
		<real>4.3612200000000003</real>
		<key>longitude</key>
		<real>18.554960000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596686</string>
		<key>latitude</key>
		<real>4.3666700000000001</real>
		<key>longitude</key>
		<real>18.58333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317301</string>
		<key>latitude</key>
		<real>4.3499999999999996</real>
		<key>longitude</key>
		<real>18.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388720</string>
		<key>latitude</key>
		<real>4.8004800000000003</real>
		<key>longitude</key>
		<real>18.127469999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396898</string>
		<key>latitude</key>
		<real>-0.65486999999999995</real>
		<key>longitude</key>
		<real>13.675330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383765</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388707</string>
		<key>latitude</key>
		<real>5.2652000000000001</real>
		<key>longitude</key>
		<real>17.62285</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389804</string>
		<key>latitude</key>
		<real>5.6666699999999999</real>
		<key>longitude</key>
		<real>15.966670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228019</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>13.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231326</string>
		<key>latitude</key>
		<real>5.3333300000000001</real>
		<key>longitude</key>
		<real>14.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317285</string>
		<key>latitude</key>
		<real>1.22095</real>
		<key>longitude</key>
		<real>19.802050000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2259947</string>
		<key>latitude</key>
		<real>-1.8799999999999999</real>
		<key>longitude</key>
		<real>15.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2382604</string>
		<key>latitude</key>
		<real>5.9333299999999998</real>
		<key>longitude</key>
		<real>15.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387926</string>
		<key>latitude</key>
		<real>5.9340400000000004</real>
		<key>longitude</key>
		<real>15.59599</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2315728</string>
		<key>latitude</key>
		<real>3.25</real>
		<key>longitude</key>
		<real>19.766670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316821</string>
		<key>latitude</key>
		<real>3.2166700000000001</real>
		<key>longitude</key>
		<real>19.783331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399831</string>
		<key>latitude</key>
		<real>-1.5800000000000001</real>
		<key>longitude</key>
		<real>14.26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234536</string>
		<key>latitude</key>
		<real>4.9333299999999998</real>
		<key>longitude</key>
		<real>13.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396076</string>
		<key>latitude</key>
		<real>2</real>
		<key>longitude</key>
		<real>12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387435</string>
		<key>latitude</key>
		<real>4.96075</real>
		<key>longitude</key>
		<real>18.703500999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255422</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>15.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2384205</string>
		<key>latitude</key>
		<real>5.9712199999999998</real>
		<key>longitude</key>
		<real>15.26276</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234339</string>
		<key>latitude</key>
		<real>5.5999999999999996</real>
		<key>longitude</key>
		<real>14.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2226515</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>12.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222230</string>
		<key>latitude</key>
		<real>2.9333300000000002</real>
		<key>longitude</key>
		<real>11.98333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235776</string>
		<key>latitude</key>
		<real>3.76667</real>
		<key>longitude</key>
		<real>12.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231319</string>
		<key>latitude</key>
		<real>5.8833299999999999</real>
		<key>longitude</key>
		<real>14.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316748</string>
		<key>latitude</key>
		<real>-2.1699999999999999</real>
		<key>longitude</key>
		<real>16.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396925</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221789</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>11.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399672</string>
		<key>latitude</key>
		<real>-0.82716000000000001</real>
		<key>longitude</key>
		<real>12.740069999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399870</string>
		<key>latitude</key>
		<real>-0.81433</real>
		<key>longitude</key>
		<real>12.72869</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387546</string>
		<key>latitude</key>
		<real>6.3193299999999999</real>
		<key>longitude</key>
		<real>16.379919000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2569147</string>
		<key>latitude</key>
		<real>-2.3599999999999999</real>
		<key>longitude</key>
		<real>16.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397574</string>
		<key>latitude</key>
		<real>-1.6299999999999999</real>
		<key>longitude</key>
		<real>13.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400555</string>
		<key>latitude</key>
		<real>-1.6299999999999999</real>
		<key>longitude</key>
		<real>13.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396646</string>
		<key>latitude</key>
		<real>1.5994999999999999</real>
		<key>longitude</key>
		<real>11.579330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397978</string>
		<key>latitude</key>
		<real>-1.4099999999999999</real>
		<key>longitude</key>
		<real>13.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316473</string>
		<key>latitude</key>
		<real>4.1833299999999998</real>
		<key>longitude</key>
		<real>19.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2401506</string>
		<key>latitude</key>
		<real>-1.6499999999999999</real>
		<key>longitude</key>
		<real>13.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400454</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2401346</string>
		<key>latitude</key>
		<real>-1.54</real>
		<key>longitude</key>
		<real>13.24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2401578</string>
		<key>latitude</key>
		<real>2.0759699999999999</real>
		<key>longitude</key>
		<real>11.50065</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225457</string>
		<key>latitude</key>
		<real>4.6833299999999998</real>
		<key>longitude</key>
		<real>12.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398269</string>
		<key>latitude</key>
		<real>-1.5600000000000001</real>
		<key>longitude</key>
		<real>13.220000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2315417</string>
		<key>latitude</key>
		<real>-1.95</real>
		<key>longitude</key>
		<real>18.266670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2401495</string>
		<key>latitude</key>
		<real>-0.092069999999999999</real>
		<key>longitude</key>
		<real>11.938459999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225703</string>
		<key>latitude</key>
		<real>2.9666700000000001</real>
		<key>longitude</key>
		<real>11.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231851</string>
		<key>latitude</key>
		<real>4.0999999999999996</real>
		<key>longitude</key>
		<real>11.9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216661</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>20.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398283</string>
		<key>latitude</key>
		<real>0.78205999999999998</real>
		<key>longitude</key>
		<real>11.54904</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2309332</string>
		<key>latitude</key>
		<real>2.1510600000000002</real>
		<key>longitude</key>
		<real>11.335279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223734</string>
		<key>latitude</key>
		<real>4.5166700000000004</real>
		<key>longitude</key>
		<real>12.033329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2307795</string>
		<key>latitude</key>
		<real>1.6274200000000001</real>
		<key>longitude</key>
		<real>11.313459999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387440</string>
		<key>latitude</key>
		<real>6.4833299999999996</real>
		<key>longitude</key>
		<real>17.433330999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260401</string>
		<key>latitude</key>
		<real>-2.54</real>
		<key>longitude</key>
		<real>14.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399959</string>
		<key>latitude</key>
		<real>-1.13032</real>
		<key>longitude</key>
		<real>12.47359</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388036</string>
		<key>latitude</key>
		<real>6.4926300000000001</real>
		<key>longitude</key>
		<real>17.455179000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235660</string>
		<key>latitude</key>
		<real>2.3833299999999999</real>
		<key>longitude</key>
		<real>11.283329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233238</string>
		<key>latitude</key>
		<real>6.4000000000000004</real>
		<key>longitude</key>
		<real>14.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228079</string>
		<key>latitude</key>
		<real>3.51667</real>
		<key>longitude</key>
		<real>11.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228028</string>
		<key>latitude</key>
		<real>4.4500000000000002</real>
		<key>longitude</key>
		<real>11.9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223527</string>
		<key>latitude</key>
		<real>3.73333</real>
		<key>longitude</key>
		<real>11.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2307145</string>
		<key>latitude</key>
		<real>1.12985</real>
		<key>longitude</key>
		<real>11.266030000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383119</string>
		<key>latitude</key>
		<real>5.7180099999999996</real>
		<key>longitude</key>
		<real>19.073891</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223226</string>
		<key>latitude</key>
		<real>3.98333</real>
		<key>longitude</key>
		<real>11.6</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2227402</string>
		<key>latitude</key>
		<real>6.5166700000000004</real>
		<key>longitude</key>
		<real>14.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225712</string>
		<key>latitude</key>
		<real>3.8166699999999998</real>
		<key>longitude</key>
		<real>11.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>208891</string>
		<key>latitude</key>
		<real>2.5142199999999999</real>
		<key>longitude</key>
		<real>20.813641000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233376</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385836</string>
		<key>latitude</key>
		<real>5.75</real>
		<key>longitude</key>
		<real>19.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220957</string>
		<key>latitude</key>
		<real>3.8666700000000001</real>
		<key>longitude</key>
		<real>11.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2566983</string>
		<key>latitude</key>
		<real>1.5</real>
		<key>longitude</key>
		<real>11.16667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231926</string>
		<key>latitude</key>
		<real>2.8833299999999999</real>
		<key>longitude</key>
		<real>11.18333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235780</string>
		<key>latitude</key>
		<real>3.5</real>
		<key>longitude</key>
		<real>11.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2232283</string>
		<key>latitude</key>
		<real>2.8999999999999999</real>
		<key>longitude</key>
		<real>11.15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2227980</string>
		<key>latitude</key>
		<real>3.7833299999999999</real>
		<key>longitude</key>
		<real>11.383330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224641</string>
		<key>latitude</key>
		<real>3.25</real>
		<key>longitude</key>
		<real>11.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223293</string>
		<key>latitude</key>
		<real>4.1666699999999999</real>
		<key>longitude</key>
		<real>11.533329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385535</string>
		<key>latitude</key>
		<real>4.9933699999999996</real>
		<key>longitude</key>
		<real>19.961860999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2566981</string>
		<key>latitude</key>
		<real>2</real>
		<key>longitude</key>
		<real>11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383650</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223421</string>
		<key>latitude</key>
		<real>4.4500000000000002</real>
		<key>longitude</key>
		<real>11.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2232774</string>
		<key>latitude</key>
		<real>6.8333300000000001</real>
		<key>longitude</key>
		<real>14.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2311968</string>
		<key>latitude</key>
		<real>-2.7200000000000002</real>
		<key>longitude</key>
		<real>17.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231494</string>
		<key>latitude</key>
		<real>5.3166700000000002</real>
		<key>longitude</key>
		<real>12.216670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223216</string>
		<key>latitude</key>
		<real>4.0166700000000004</real>
		<key>longitude</key>
		<real>11.383330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387890</string>
		<key>latitude</key>
		<real>6.5104600000000001</real>
		<key>longitude</key>
		<real>18.273309999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2307197</string>
		<key>latitude</key>
		<real>2.02475</real>
		<key>longitude</key>
		<real>10.94599</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217637</string>
		<key>latitude</key>
		<real>3.3333300000000001</real>
		<key>longitude</key>
		<real>20.883329</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218229</string>
		<key>latitude</key>
		<real>1.5</real>
		<key>longitude</key>
		<real>21.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220849</string>
		<key>latitude</key>
		<real>5.5333300000000003</real>
		<key>longitude</key>
		<real>12.31667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312249</string>
		<key>latitude</key>
		<real>-3.02</real>
		<key>longitude</key>
		<real>16.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2310547</string>
		<key>latitude</key>
		<real>1.2968299999999999</real>
		<key>longitude</key>
		<real>10.936909999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222366</string>
		<key>latitude</key>
		<real>4.3666700000000001</real>
		<key>longitude</key>
		<real>11.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236015</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400553</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>11.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231775</string>
		<key>latitude</key>
		<real>4.0833300000000001</real>
		<key>longitude</key>
		<real>11.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2310309</string>
		<key>latitude</key>
		<real>1.8657999999999999</real>
		<key>longitude</key>
		<real>10.76892</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383523</string>
		<key>latitude</key>
		<real>7.2426899999999996</real>
		<key>longitude</key>
		<real>16.44059</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234520</string>
		<key>latitude</key>
		<real>7.0499999999999998</real>
		<key>longitude</key>
		<real>14.43333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2310134</string>
		<key>latitude</key>
		<real>1.85592</real>
		<key>longitude</key>
		<real>10.68994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218680</string>
		<key>latitude</key>
		<real>-0.21667</real>
		<key>longitude</key>
		<real>20.866671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383653</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2307970</string>
		<key>latitude</key>
		<real>2.1360899999999998</real>
		<key>longitude</key>
		<real>10.61322</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229267</string>
		<key>latitude</key>
		<real>3.23333</real>
		<key>longitude</key>
		<real>10.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230362</string>
		<key>latitude</key>
		<real>4.4333299999999998</real>
		<key>longitude</key>
		<real>11.16667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223162</string>
		<key>latitude</key>
		<real>4.5999999999999996</real>
		<key>longitude</key>
		<real>11.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218355</string>
		<key>latitude</key>
		<real>-0.33333000000000002</real>
		<key>longitude</key>
		<real>20.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2310533</string>
		<key>latitude</key>
		<real>1.0322499999999999</real>
		<key>longitude</key>
		<real>10.648820000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224584</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>11.383330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2308994</string>
		<key>latitude</key>
		<real>1.4367700000000001</real>
		<key>longitude</key>
		<real>10.55124</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231881</string>
		<key>latitude</key>
		<real>3.6499999999999999</real>
		<key>longitude</key>
		<real>10.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235814</string>
		<key>latitude</key>
		<real>2.7833299999999999</real>
		<key>longitude</key>
		<real>10.56667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233252</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>11.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235194</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>11.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317397</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>17.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216404</string>
		<key>latitude</key>
		<real>4.2833300000000003</real>
		<key>longitude</key>
		<real>21.016670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211734</string>
		<key>latitude</key>
		<real>2.1499999999999999</real>
		<key>longitude</key>
		<real>21.516670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2307502</string>
		<key>latitude</key>
		<real>2.0164300000000002</real>
		<key>longitude</key>
		<real>10.470660000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2309890</string>
		<key>latitude</key>
		<real>1.5811299999999999</real>
		<key>longitude</key>
		<real>10.46716</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221530</string>
		<key>latitude</key>
		<real>6.4666699999999997</real>
		<key>longitude</key>
		<real>12.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258534</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255404</string>
		<key>latitude</key>
		<real>-3.5</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235409</string>
		<key>latitude</key>
		<real>3.3333300000000001</real>
		<key>longitude</key>
		<real>10.51667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233387</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398929</string>
		<key>latitude</key>
		<real>-1.8999999999999999</real>
		<key>longitude</key>
		<real>11.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>237478</string>
		<key>latitude</key>
		<real>4.3190200000000001</real>
		<key>longitude</key>
		<real>21.178609999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397674</string>
		<key>latitude</key>
		<real>-0.17827000000000001</real>
		<key>longitude</key>
		<real>10.76488</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398430</string>
		<key>latitude</key>
		<real>-1.6200000000000001</real>
		<key>longitude</key>
		<real>11.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235669</string>
		<key>latitude</key>
		<real>6.3666700000000001</real>
		<key>longitude</key>
		<real>12.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389691</string>
		<key>latitude</key>
		<real>7.3008199999999999</real>
		<key>longitude</key>
		<real>18.283300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224863</string>
		<key>latitude</key>
		<real>4.2333299999999996</real>
		<key>longitude</key>
		<real>10.616669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224827</string>
		<key>latitude</key>
		<real>7.3166700000000002</real>
		<key>longitude</key>
		<real>13.58333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218241</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>21.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225263</string>
		<key>latitude</key>
		<real>4.7666700000000004</real>
		<key>longitude</key>
		<real>10.83333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2227808</string>
		<key>latitude</key>
		<real>7.3833299999999999</real>
		<key>longitude</key>
		<real>13.56667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386012</string>
		<key>latitude</key>
		<real>6.9896099999999999</real>
		<key>longitude</key>
		<real>19.187441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2256895</string>
		<key>latitude</key>
		<real>-2.9500000000000002</real>
		<key>longitude</key>
		<real>12.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240049</string>
		<key>latitude</key>
		<real>5.0666700000000002</real>
		<key>longitude</key>
		<real>21.116671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240604</string>
		<key>latitude</key>
		<real>5.7679499999999999</real>
		<key>longitude</key>
		<real>20.675650000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412482</string>
		<key>latitude</key>
		<real>5.8390399999999998</real>
		<key>longitude</key>
		<real>20.634460000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240999</string>
		<key>latitude</key>
		<real>5.0266599999999997</real>
		<key>longitude</key>
		<real>21.208759000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386243</string>
		<key>latitude</key>
		<real>7.0833300000000001</real>
		<key>longitude</key>
		<real>19.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397842</string>
		<key>latitude</key>
		<real>-0.5</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221394</string>
		<key>latitude</key>
		<real>4.9666699999999997</real>
		<key>longitude</key>
		<real>10.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230285</string>
		<key>latitude</key>
		<real>6.0830299999999999</real>
		<key>longitude</key>
		<real>11.490500000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2256175</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240396</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>21.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255285</string>
		<key>latitude</key>
		<real>-3.6800000000000002</real>
		<key>longitude</key>
		<real>13.35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398073</string>
		<key>latitude</key>
		<real>-1.8700000000000001</real>
		<key>longitude</key>
		<real>11.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231565</string>
		<key>latitude</key>
		<real>5.7333299999999996</real>
		<key>longitude</key>
		<real>10.91667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400578</string>
		<key>latitude</key>
		<real>-1.22</real>
		<key>longitude</key>
		<real>10.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234865</string>
		<key>latitude</key>
		<real>5.1409099999999999</real>
		<key>longitude</key>
		<real>10.51975</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231506</string>
		<key>latitude</key>
		<real>5.7290999999999999</real>
		<key>longitude</key>
		<real>10.90011</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234635</string>
		<key>latitude</key>
		<real>5.0569499999999996</real>
		<key>longitude</key>
		<real>10.46978</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221513</string>
		<key>latitude</key>
		<real>7.3666700000000001</real>
		<key>longitude</key>
		<real>12.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234794</string>
		<key>latitude</key>
		<real>6.75</real>
		<key>longitude</key>
		<real>11.81667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220852</string>
		<key>latitude</key>
		<real>6.4625199999999996</real>
		<key>longitude</key>
		<real>11.44157</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6620518</string>
		<key>latitude</key>
		<real>6.4584299999999999</real>
		<key>longitude</key>
		<real>11.43299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7110232</string>
		<key>latitude</key>
		<real>5.6307499999999999</real>
		<key>longitude</key>
		<real>10.74339</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236887</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397614</string>
		<key>latitude</key>
		<real>-2.3999999999999999</real>
		<key>longitude</key>
		<real>11.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231504</string>
		<key>latitude</key>
		<real>5.5078699999999996</real>
		<key>longitude</key>
		<real>10.6356</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397466</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2257925</string>
		<key>latitude</key>
		<real>-3.46</real>
		<key>longitude</key>
		<real>12.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234842</string>
		<key>latitude</key>
		<real>5.1959</real>
		<key>longitude</key>
		<real>10.384410000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7109573</string>
		<key>latitude</key>
		<real>5.3399999999999999</real>
		<key>longitude</key>
		<real>10.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222934</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234904</string>
		<key>latitude</key>
		<real>5.3799999999999999</real>
		<key>longitude</key>
		<real>10.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235189</string>
		<key>latitude</key>
		<real>5.4699999999999998</real>
		<key>longitude</key>
		<real>10.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341275</string>
		<key>latitude</key>
		<real>6.7000000000000002</real>
		<key>longitude</key>
		<real>11.26667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230641</string>
		<key>latitude</key>
		<real>6.0999999999999996</real>
		<key>longitude</key>
		<real>10.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238566</string>
		<key>latitude</key>
		<real>6.2679299999999998</real>
		<key>longitude</key>
		<real>21.224679999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229748</string>
		<key>latitude</key>
		<real>6.2000000000000002</real>
		<key>longitude</key>
		<real>10.66667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396253</string>
		<key>latitude</key>
		<real>-2.8500000000000001</real>
		<key>longitude</key>
		<real>11.029999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223602</string>
		<key>latitude</key>
		<real>6.3333300000000001</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239880</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397141</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235888</string>
		<key>latitude</key>
		<real>7.2333299999999996</real>
		<key>longitude</key>
		<real>20.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255146</string>
		<key>latitude</key>
		<real>7.1881009999999996</real>
		<key>longitude</key>
		<real>21.09375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2348228</string>
		<key>latitude</key>
		<real>7.2333299999999996</real>
		<key>longitude</key>
		<real>10.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399001</string>
		<key>latitude</key>
		<real>-3.4300000000000002</real>
		<key>longitude</key>
		<real>10.66</real>
	</dict>
</array>
</plist>
