<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2379025</string>
		<key>latitude</key>
		<real>19</real>
		<key>longitude</key>
		<real>-7.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2377539</string>
		<key>latitude</key>
		<real>16.620000000000001</real>
		<key>longitude</key>
		<real>-7.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6914211</string>
		<key>latitude</key>
		<real>16.719999999999999</real>
		<key>longitude</key>
		<real>-9.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2381291</string>
		<key>latitude</key>
		<real>16.66</real>
		<key>longitude</key>
		<real>-9.6099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2376551</string>
		<key>latitude</key>
		<real>18.699999999999999</real>
		<key>longitude</key>
		<real>-10.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2379024</string>
		<key>latitude</key>
		<real>16.5</real>
		<key>longitude</key>
		<real>-10</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6779095</string>
		<key>latitude</key>
		<real>15.210000000000001</real>
		<key>longitude</key>
		<real>-7.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6759824</string>
		<key>latitude</key>
		<real>15.24</real>
		<key>longitude</key>
		<real>-9.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2381972</string>
		<key>latitude</key>
		<real>20.5</real>
		<key>longitude</key>
		<real>-10.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2376193</string>
		<key>latitude</key>
		<real>18.559999999999999</real>
		<key>longitude</key>
		<real>-11.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2378538</string>
		<key>latitude</key>
		<real>16.620000000000001</real>
		<key>longitude</key>
		<real>-11.4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2450849</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>-6.1200000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448489</string>
		<key>latitude</key>
		<real>15.119999999999999</real>
		<key>longitude</key>
		<real>-10.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453866</string>
		<key>latitude</key>
		<real>17</real>
		<key>longitude</key>
		<real>-4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2381344</string>
		<key>latitude</key>
		<real>16.600000000000001</real>
		<key>longitude</key>
		<real>-11.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2454532</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>-7.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2452655</string>
		<key>latitude</key>
		<real>14.25</real>
		<key>longitude</key>
		<real>-5.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2378080</string>
		<key>latitude</key>
		<real>20</real>
		<key>longitude</key>
		<real>-12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460954</string>
		<key>latitude</key>
		<real>18.899999999999999</real>
		<key>longitude</key>
		<real>-3.5299999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2452830</string>
		<key>latitude</key>
		<real>15.93</real>
		<key>longitude</key>
		<real>-3.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2454955</string>
		<key>latitude</key>
		<real>13.57</real>
		<key>longitude</key>
		<real>-8.0299999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2456917</string>
		<key>latitude</key>
		<real>16.41</real>
		<key>longitude</key>
		<real>-3.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451477</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>-6</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460546</string>
		<key>latitude</key>
		<real>13.550000000000001</real>
		<key>longitude</key>
		<real>-7.4500000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2381163</string>
		<key>latitude</key>
		<real>16.640000000000001</real>
		<key>longitude</key>
		<real>-12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449938</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>-4.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453662</string>
		<key>latitude</key>
		<real>13.699999999999999</real>
		<key>longitude</key>
		<real>-6.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2380519</string>
		<key>latitude</key>
		<real>20.440000000000001</real>
		<key>longitude</key>
		<real>-12.26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455465</string>
		<key>latitude</key>
		<real>13.960000000000001</real>
		<key>longitude</key>
		<real>-5.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451464</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>-11.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6910806</string>
		<key>latitude</key>
		<real>13.460000000000001</real>
		<key>longitude</key>
		<real>-6.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455516</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>-11.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455518</string>
		<key>latitude</key>
		<real>14.44</real>
		<key>longitude</key>
		<real>-11.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451478</string>
		<key>latitude</key>
		<real>13.43</real>
		<key>longitude</key>
		<real>-6.2199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2376719</string>
		<key>latitude</key>
		<real>15.16</real>
		<key>longitude</key>
		<real>-12.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449067</string>
		<key>latitude</key>
		<real>16.77</real>
		<key>longitude</key>
		<real>-3.0099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448694</string>
		<key>latitude</key>
		<real>13.41</real>
		<key>longitude</key>
		<real>-6.1600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455517</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>-11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2456013</string>
		<key>latitude</key>
		<real>16.699999999999999</real>
		<key>longitude</key>
		<real>-2.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460755</string>
		<key>latitude</key>
		<real>13.81</real>
		<key>longitude</key>
		<real>-10.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2379384</string>
		<key>latitude</key>
		<real>16.050000000000001</real>
		<key>longitude</key>
		<real>-12.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453348</string>
		<key>latitude</key>
		<real>14.49</real>
		<key>longitude</key>
		<real>-4.1900000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453347</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451285</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-4.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6912297</string>
		<key>latitude</key>
		<real>13.02</real>
		<key>longitude</key>
		<real>-9.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449066</string>
		<key>latitude</key>
		<real>20</real>
		<key>longitude</key>
		<real>-3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6768610</string>
		<key>latitude</key>
		<real>14.51</real>
		<key>longitude</key>
		<real>-4.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2454530</string>
		<key>latitude</key>
		<real>12.859999999999999</real>
		<key>longitude</key>
		<real>-7.5599999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455216</string>
		<key>latitude</key>
		<real>13.029999999999999</real>
		<key>longitude</key>
		<real>-9.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455558</string>
		<key>latitude</key>
		<real>12.74</real>
		<key>longitude</key>
		<real>-8.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2458589</string>
		<key>latitude</key>
		<real>13.91</real>
		<key>longitude</key>
		<real>-4.5499999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2252606</string>
		<key>latitude</key>
		<real>15.02</real>
		<key>longitude</key>
		<real>-12.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460594</string>
		<key>latitude</key>
		<real>12.65</real>
		<key>longitude</key>
		<real>-8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460596</string>
		<key>latitude</key>
		<real>12.65</real>
		<key>longitude</key>
		<real>-8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2381334</string>
		<key>latitude</key>
		<real>20.52</real>
		<key>longitude</key>
		<real>-13.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2247044</string>
		<key>latitude</key>
		<real>15.26</real>
		<key>longitude</key>
		<real>-12.869999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451350</string>
		<key>latitude</key>
		<real>12.52</real>
		<key>longitude</key>
		<real>-7.9299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2245666</string>
		<key>latitude</key>
		<real>15.19</real>
		<key>longitude</key>
		<real>-12.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2246641</string>
		<key>latitude</key>
		<real>15.27</real>
		<key>longitude</key>
		<real>-13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2250849</string>
		<key>latitude</key>
		<real>15.49</real>
		<key>longitude</key>
		<real>-13.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451778</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>-4.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2378736</string>
		<key>latitude</key>
		<real>16.149999999999999</real>
		<key>longitude</key>
		<real>-13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460489</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>-3.6099999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460377</string>
		<key>latitude</key>
		<real>12.84</real>
		<key>longitude</key>
		<real>-5.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2248752</string>
		<key>latitude</key>
		<real>15.619999999999999</real>
		<key>longitude</key>
		<real>-13.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2246922</string>
		<key>latitude</key>
		<real>15.6</real>
		<key>longitude</key>
		<real>-13.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2458334</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-2.9500000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2248753</string>
		<key>latitude</key>
		<real>15.5</real>
		<key>longitude</key>
		<real>-13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451274</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-4.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455456</string>
		<key>latitude</key>
		<real>12.84</real>
		<key>longitude</key>
		<real>-4.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2450173</string>
		<key>latitude</key>
		<real>22.68</real>
		<key>longitude</key>
		<real>-3.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2457331</string>
		<key>latitude</key>
		<real>12.85</real>
		<key>longitude</key>
		<real>-11.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2375558</string>
		<key>latitude</key>
		<real>22.719999999999999</real>
		<key>longitude</key>
		<real>-12.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2244990</string>
		<key>latitude</key>
		<real>13.98</real>
		<key>longitude</key>
		<real>-13.279999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2359027</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>-3.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2357163</string>
		<key>latitude</key>
		<real>12.73</real>
		<key>longitude</key>
		<real>-3.8700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2355211</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2250645</string>
		<key>latitude</key>
		<real>12.56</real>
		<key>longitude</key>
		<real>-12.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303936</string>
		<key>latitude</key>
		<real>12.550000000000001</real>
		<key>longitude</key>
		<real>-12.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2252081</string>
		<key>latitude</key>
		<real>12.550000000000001</real>
		<key>longitude</key>
		<real>-12.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2354176</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-3.0699999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2252263</string>
		<key>latitude</key>
		<real>13.75</real>
		<key>longitude</key>
		<real>-13.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2244987</string>
		<key>latitude</key>
		<real>13.73</real>
		<key>longitude</key>
		<real>-13.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930711</string>
		<key>latitude</key>
		<real>13.59</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2353568</string>
		<key>latitude</key>
		<real>13.58</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2357043</string>
		<key>latitude</key>
		<real>13.58</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2356948</string>
		<key>latitude</key>
		<real>13.550000000000001</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2244991</string>
		<key>latitude</key>
		<real>13.75</real>
		<key>longitude</key>
		<real>-13.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361477</string>
		<key>latitude</key>
		<real>12.470000000000001</real>
		<key>longitude</key>
		<real>-3.4700000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930701</string>
		<key>latitude</key>
		<real>12.470000000000001</real>
		<key>longitude</key>
		<real>-3.4700000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2245546</string>
		<key>latitude</key>
		<real>13.029999999999999</real>
		<key>longitude</key>
		<real>-13.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597265</string>
		<key>latitude</key>
		<real>12.67</real>
		<key>longitude</key>
		<real>-3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2354265</string>
		<key>latitude</key>
		<real>12.77</real>
		<key>longitude</key>
		<real>-2.8799999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2360238</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>-2.3500000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2414055</string>
		<key>latitude</key>
		<real>12.529999999999999</real>
		<key>longitude</key>
		<real>-13.130000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2353688</string>
		<key>latitude</key>
		<real>12.970000000000001</real>
		<key>longitude</key>
		<real>-2.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2418596</string>
		<key>latitude</key>
		<real>12.48</real>
		<key>longitude</key>
		<real>-13.300000000000001</real>
	</dict>
</array>
</plist>
