<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>220448</string>
		<key>latitude</key>
		<real>2.7387700000000001</real>
		<key>longitude</key>
		<real>23.783259999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>219414</string>
		<key>latitude</key>
		<real>1.23909</real>
		<key>longitude</key>
		<real>23.61598</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217570</string>
		<key>latitude</key>
		<real>2.7858200000000002</real>
		<key>longitude</key>
		<real>24.729980000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>203717</string>
		<key>latitude</key>
		<real>0.81020999999999999</real>
		<key>longitude</key>
		<real>24.433589999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>206362</string>
		<key>latitude</key>
		<real>3.4656400000000001</real>
		<key>longitude</key>
		<real>23.538830000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217745</string>
		<key>latitude</key>
		<real>2.1833300000000002</real>
		<key>longitude</key>
		<real>22.466669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218253</string>
		<key>latitude</key>
		<real>3.8146100000000001</real>
		<key>longitude</key>
		<real>23.686648999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212730</string>
		<key>latitude</key>
		<real>0.51666999999999996</real>
		<key>longitude</key>
		<real>25.200001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>219344</string>
		<key>latitude</key>
		<real>0.31667000000000001</real>
		<key>longitude</key>
		<real>25.116671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>203312</string>
		<key>latitude</key>
		<real>0.0</real>
		<key>longitude</key>
		<real>25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211734</string>
		<key>latitude</key>
		<real>2.1499999999999999</real>
		<key>longitude</key>
		<real>21.516670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>219563</string>
		<key>latitude</key>
		<real>3.88856</real>
		<key>longitude</key>
		<real>25.661359999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236844</string>
		<key>latitude</key>
		<real>4.31325</real>
		<key>longitude</key>
		<real>22.555240999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236524</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>23.91667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240498</string>
		<key>latitude</key>
		<real>4.74132</real>
		<key>longitude</key>
		<real>22.818380000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218229</string>
		<key>latitude</key>
		<real>1.5</real>
		<key>longitude</key>
		<real>21.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236423</string>
		<key>latitude</key>
		<real>4.76403</real>
		<key>longitude</key>
		<real>22.820601</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216139</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>237556</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>23.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239300</string>
		<key>latitude</key>
		<real>4.6481599999999998</real>
		<key>longitude</key>
		<real>22.263309</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>208891</string>
		<key>latitude</key>
		<real>2.5142199999999999</real>
		<key>longitude</key>
		<real>20.813641000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235826</string>
		<key>latitude</key>
		<real>5.0314399999999999</real>
		<key>longitude</key>
		<real>25.136140999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238373</string>
		<key>latitude</key>
		<real>4.6227499999999999</real>
		<key>longitude</key>
		<real>21.88645</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217637</string>
		<key>latitude</key>
		<real>3.3333300000000001</real>
		<key>longitude</key>
		<real>20.883329</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8145527</string>
		<key>latitude</key>
		<real>2.4598800000000001</real>
		<key>longitude</key>
		<real>27.398969999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216661</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>20.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>237478</string>
		<key>latitude</key>
		<real>4.3190200000000001</real>
		<key>longitude</key>
		<real>21.178609999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215771</string>
		<key>latitude</key>
		<real>2.7739099999999999</real>
		<key>longitude</key>
		<real>27.616029999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216404</string>
		<key>latitude</key>
		<real>4.2833300000000003</real>
		<key>longitude</key>
		<real>21.016670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218680</string>
		<key>latitude</key>
		<real>-0.21667</real>
		<key>longitude</key>
		<real>20.866671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218355</string>
		<key>latitude</key>
		<real>-0.33333000000000002</real>
		<key>longitude</key>
		<real>20.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240396</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>21.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218241</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>21.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238637</string>
		<key>latitude</key>
		<real>5.25</real>
		<key>longitude</key>
		<real>26.316669000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204318</string>
		<key>latitude</key>
		<real>2.14838</real>
		<key>longitude</key>
		<real>27.994658999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240999</string>
		<key>latitude</key>
		<real>5.0266599999999997</real>
		<key>longitude</key>
		<real>21.208759000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240049</string>
		<key>latitude</key>
		<real>5.0666700000000002</real>
		<key>longitude</key>
		<real>21.116671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236950</string>
		<key>latitude</key>
		<real>5.3997799999999998</real>
		<key>longitude</key>
		<real>26.486878999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317285</string>
		<key>latitude</key>
		<real>1.22095</real>
		<key>longitude</key>
		<real>19.802050000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211384</string>
		<key>latitude</key>
		<real>-2.25</real>
		<key>longitude</key>
		<real>23.299999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316821</string>
		<key>latitude</key>
		<real>3.2166700000000001</real>
		<key>longitude</key>
		<real>19.783331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2315728</string>
		<key>latitude</key>
		<real>3.25</real>
		<key>longitude</key>
		<real>19.766670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238639</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236052</string>
		<key>latitude</key>
		<real>6.5013300000000003</real>
		<key>longitude</key>
		<real>23.265829</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316473</string>
		<key>latitude</key>
		<real>4.1833299999999998</real>
		<key>longitude</key>
		<real>19.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212731</string>
		<key>latitude</key>
		<real>-0.36193999999999998</real>
		<key>longitude</key>
		<real>28.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>219496</string>
		<key>latitude</key>
		<real>4.3443699999999996</real>
		<key>longitude</key>
		<real>28.204491000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236637</string>
		<key>latitude</key>
		<real>6.5159900000000004</real>
		<key>longitude</key>
		<real>21.986218999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239899</string>
		<key>latitude</key>
		<real>6.5423299999999998</real>
		<key>longitude</key>
		<real>21.986329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>366444</string>
		<key>latitude</key>
		<real>5.5999999999999996</real>
		<key>longitude</key>
		<real>27.466669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236887</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240604</string>
		<key>latitude</key>
		<real>5.7679499999999999</real>
		<key>longitude</key>
		<real>20.675650000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385535</string>
		<key>latitude</key>
		<real>4.9933699999999996</real>
		<key>longitude</key>
		<real>19.961860999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238566</string>
		<key>latitude</key>
		<real>6.2679299999999998</real>
		<key>longitude</key>
		<real>21.224679999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>363656</string>
		<key>latitude</key>
		<real>4.5721299999999996</real>
		<key>longitude</key>
		<real>28.395491</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238640</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412482</string>
		<key>latitude</key>
		<real>5.8390399999999998</real>
		<key>longitude</key>
		<real>20.634460000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>209610</string>
		<key>latitude</key>
		<real>-2.9166699999999999</real>
		<key>longitude</key>
		<real>25.91667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212902</string>
		<key>latitude</key>
		<real>-2.9500000000000002</real>
		<key>longitude</key>
		<real>25.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214755</string>
		<key>latitude</key>
		<real>-2.9500000000000002</real>
		<key>longitude</key>
		<real>25.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205945</string>
		<key>latitude</key>
		<real>-2.5833300000000001</real>
		<key>longitude</key>
		<real>26.733329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>206938</string>
		<key>latitude</key>
		<real>-0.66666999999999998</real>
		<key>longitude</key>
		<real>28.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215597</string>
		<key>latitude</key>
		<real>0.083330000000000001</real>
		<key>longitude</key>
		<real>29.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>211647</string>
		<key>latitude</key>
		<real>-3.48</real>
		<key>longitude</key>
		<real>23.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204498</string>
		<key>latitude</key>
		<real>-3.5</real>
		<key>longitude</key>
		<real>23.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408656</string>
		<key>latitude</key>
		<real>5.4000000000000004</real>
		<key>longitude</key>
		<real>28.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217562</string>
		<key>latitude</key>
		<real>0.14999999999999999</real>
		<key>longitude</key>
		<real>29.283331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313762</string>
		<key>latitude</key>
		<real>3.6499999999999999</real>
		<key>longitude</key>
		<real>18.633329</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204283</string>
		<key>latitude</key>
		<real>3.0371600000000001</real>
		<key>longitude</key>
		<real>29.535509000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2384377</string>
		<key>latitude</key>
		<real>3.6415299999999999</real>
		<key>longitude</key>
		<real>18.593639</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>219057</string>
		<key>latitude</key>
		<real>0.5</real>
		<key>longitude</key>
		<real>29.466669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239880</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>382250</string>
		<key>latitude</key>
		<real>4.5361099999999999</real>
		<key>longitude</key>
		<real>29.25778</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317301</string>
		<key>latitude</key>
		<real>4.3499999999999996</real>
		<key>longitude</key>
		<real>18.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596686</string>
		<key>latitude</key>
		<real>4.3666700000000001</real>
		<key>longitude</key>
		<real>18.58333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389853</string>
		<key>latitude</key>
		<real>4.3612200000000003</real>
		<key>longitude</key>
		<real>18.554960000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255146</string>
		<key>latitude</key>
		<real>7.1881009999999996</real>
		<key>longitude</key>
		<real>21.09375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385666</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>18.533331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388873</string>
		<key>latitude</key>
		<real>4.25671</real>
		<key>longitude</key>
		<real>18.415831000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235888</string>
		<key>latitude</key>
		<real>7.2333299999999996</real>
		<key>longitude</key>
		<real>20.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387435</string>
		<key>latitude</key>
		<real>4.96075</real>
		<key>longitude</key>
		<real>18.703500999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>212760</string>
		<key>latitude</key>
		<real>-1.09056</real>
		<key>longitude</key>
		<real>29.2925</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383119</string>
		<key>latitude</key>
		<real>5.7180099999999996</real>
		<key>longitude</key>
		<real>19.073891</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385836</string>
		<key>latitude</key>
		<real>5.75</real>
		<key>longitude</key>
		<real>19.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205970</string>
		<key>latitude</key>
		<real>-1.57361</real>
		<key>longitude</key>
		<real>29.045000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>370457</string>
		<key>latitude</key>
		<real>4.9158400000000002</real>
		<key>longitude</key>
		<real>29.474150000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>214575</string>
		<key>latitude</key>
		<real>-3.6000000000000001</real>
		<key>longitude</key>
		<real>26.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>227592</string>
		<key>latitude</key>
		<real>-0.88332999999999995</real>
		<key>longitude</key>
		<real>29.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>216281</string>
		<key>latitude</key>
		<real>-1.6799999999999999</real>
		<key>longitude</key>
		<real>29.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>227439</string>
		<key>latitude</key>
		<real>-1.1299999999999999</real>
		<key>longitude</key>
		<real>29.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7605614</string>
		<key>latitude</key>
		<real>-1.6699999999999999</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7605645</string>
		<key>latitude</key>
		<real>-1.6799999999999999</real>
		<key>longitude</key>
		<real>29.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202905</string>
		<key>latitude</key>
		<real>-1.7</real>
		<key>longitude</key>
		<real>29.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>213632</string>
		<key>latitude</key>
		<real>-2.2999999999999998</real>
		<key>longitude</key>
		<real>28.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215605</string>
		<key>latitude</key>
		<real>-2.4700000000000002</real>
		<key>longitude</key>
		<real>28.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7572238</string>
		<key>latitude</key>
		<real>-1.49</real>
		<key>longitude</key>
		<real>29.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>201521</string>
		<key>latitude</key>
		<real>-1.5</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7319869</string>
		<key>latitude</key>
		<real>-1.5</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>217831</string>
		<key>latitude</key>
		<real>-2.5099999999999998</real>
		<key>longitude</key>
		<real>28.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7032728</string>
		<key>latitude</key>
		<real>-2.4700000000000002</real>
		<key>longitude</key>
		<real>28.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202326</string>
		<key>latitude</key>
		<real>-2.48</real>
		<key>longitude</key>
		<real>28.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>205413</string>
		<key>latitude</key>
		<real>-3.1699999999999999</real>
		<key>longitude</key>
		<real>28.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202065</string>
		<key>latitude</key>
		<real>-2.0600000000000001</real>
		<key>longitude</key>
		<real>29.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6413340</string>
		<key>latitude</key>
		<real>-2.1699999999999999</real>
		<key>longitude</key>
		<real>29.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386012</string>
		<key>latitude</key>
		<real>6.9896099999999999</real>
		<key>longitude</key>
		<real>19.187441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386243</string>
		<key>latitude</key>
		<real>7.0833300000000001</real>
		<key>longitude</key>
		<real>19.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>370247</string>
		<key>latitude</key>
		<real>6.4598300000000002</real>
		<key>longitude</key>
		<real>29.399678999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>365763</string>
		<key>latitude</key>
		<real>7.2736900000000002</real>
		<key>longitude</key>
		<real>28.682230000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430021</string>
		<key>latitude</key>
		<real>-2.8900000000000001</real>
		<key>longitude</key>
		<real>29.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>202239</string>
		<key>latitude</key>
		<real>-2.46</real>
		<key>longitude</key>
		<real>29.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>201865</string>
		<key>latitude</key>
		<real>-2.48</real>
		<key>longitude</key>
		<real>29.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430020</string>
		<key>latitude</key>
		<real>-2.8799999999999999</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>428515</string>
		<key>latitude</key>
		<real>-3.0800000000000001</real>
		<key>longitude</key>
		<real>29.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>428514</string>
		<key>latitude</key>
		<real>-3.1200000000000001</real>
		<key>longitude</key>
		<real>29.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204405</string>
		<key>latitude</key>
		<real>-3.4100000000000001</real>
		<key>longitude</key>
		<real>29.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>430952</string>
		<key>latitude</key>
		<real>-2.9199999999999999</real>
		<key>longitude</key>
		<real>29.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425306</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>29.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303939</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>29.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425374</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425378</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>29.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>425551</string>
		<key>latitude</key>
		<real>-3.27</real>
		<key>longitude</key>
		<real>29.609999999999999</real>
	</dict>
</array>
</plist>
