<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2315026</string>
		<key>latitude</key>
		<real>-6.4699999999999998</real>
		<key>longitude</key>
		<real>16.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236566</string>
		<key>latitude</key>
		<real>-7.1100000000000003</real>
		<key>longitude</key>
		<real>15.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312888</string>
		<key>latitude</key>
		<real>-5.25</real>
		<key>longitude</key>
		<real>14.869999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317277</string>
		<key>latitude</key>
		<real>-5.5</real>
		<key>longitude</key>
		<real>14.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2314300</string>
		<key>latitude</key>
		<real>-4.5</real>
		<key>longitude</key>
		<real>15.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312892</string>
		<key>latitude</key>
		<real>-4.7699999999999996</real>
		<key>longitude</key>
		<real>14.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2315057</string>
		<key>latitude</key>
		<real>-4.5899999999999999</real>
		<key>longitude</key>
		<real>15.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2593460</string>
		<key>latitude</key>
		<real>-4.3799999999999999</real>
		<key>longitude</key>
		<real>15.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239520</string>
		<key>latitude</key>
		<real>-6.2699999999999996</real>
		<key>longitude</key>
		<real>14.24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2314129</string>
		<key>latitude</key>
		<real>-4.5499999999999998</real>
		<key>longitude</key>
		<real>17.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312096</string>
		<key>latitude</key>
		<real>-4.3200000000000003</real>
		<key>longitude</key>
		<real>15.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2314302</string>
		<key>latitude</key>
		<real>-4.3200000000000003</real>
		<key>longitude</key>
		<real>15.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236568</string>
		<key>latitude</key>
		<real>-7.6100000000000003</real>
		<key>longitude</key>
		<real>15.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260535</string>
		<key>latitude</key>
		<real>-4.2699999999999996</real>
		<key>longitude</key>
		<real>15.279999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2572183</string>
		<key>latitude</key>
		<real>-4.2699999999999996</real>
		<key>longitude</key>
		<real>15.279999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2566086</string>
		<key>latitude</key>
		<real>-4.2300000000000004</real>
		<key>longitude</key>
		<real>15.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2566016</string>
		<key>latitude</key>
		<real>-4.25</real>
		<key>longitude</key>
		<real>15.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258984</string>
		<key>latitude</key>
		<real>-4.3600000000000003</real>
		<key>longitude</key>
		<real>14.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2242885</string>
		<key>latitude</key>
		<real>-8.1899999999999995</real>
		<key>longitude</key>
		<real>15.369999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236355</string>
		<key>latitude</key>
		<real>-6.5899999999999999</real>
		<key>longitude</key>
		<real>13.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313002</string>
		<key>latitude</key>
		<real>-5.8200000000000003</real>
		<key>longitude</key>
		<real>13.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255404</string>
		<key>latitude</key>
		<real>-3.5</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2310882</string>
		<key>latitude</key>
		<real>-5.3499999999999996</real>
		<key>longitude</key>
		<real>13.369999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260668</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317396</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2259105</string>
		<key>latitude</key>
		<real>-4.0099999999999998</real>
		<key>longitude</key>
		<real>13.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2591272</string>
		<key>latitude</key>
		<real>-5.0099999999999998</real>
		<key>longitude</key>
		<real>18.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2314705</string>
		<key>latitude</key>
		<real>-5.04</real>
		<key>longitude</key>
		<real>18.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316259</string>
		<key>latitude</key>
		<real>-4.5499999999999998</real>
		<key>longitude</key>
		<real>18.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317397</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>17.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2257990</string>
		<key>latitude</key>
		<real>-4.1500000000000004</real>
		<key>longitude</key>
		<real>13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312249</string>
		<key>latitude</key>
		<real>-3.02</real>
		<key>longitude</key>
		<real>16.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2241660</string>
		<key>latitude</key>
		<real>-8.9100000000000001</real>
		<key>longitude</key>
		<real>14.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2311502</string>
		<key>latitude</key>
		<real>-7.1299999999999999</real>
		<key>longitude</key>
		<real>18.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2311127</string>
		<key>latitude</key>
		<real>-4.9800000000000004</real>
		<key>longitude</key>
		<real>12.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2259383</string>
		<key>latitude</key>
		<real>-4.1699999999999999</real>
		<key>longitude</key>
		<real>13.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239001</string>
		<key>latitude</key>
		<real>-7.2300000000000004</real>
		<key>longitude</key>
		<real>12.869999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2242001</string>
		<key>latitude</key>
		<real>-8.5800000000000001</real>
		<key>longitude</key>
		<real>13.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239076</string>
		<key>latitude</key>
		<real>-9.3000000000000007</real>
		<key>longitude</key>
		<real>14.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255285</string>
		<key>latitude</key>
		<real>-3.6800000000000002</real>
		<key>longitude</key>
		<real>13.35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2592240</string>
		<key>latitude</key>
		<real>-9.5399999999999991</real>
		<key>longitude</key>
		<real>16.309999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239862</string>
		<key>latitude</key>
		<real>-9.5399999999999991</real>
		<key>longitude</key>
		<real>16.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236967</string>
		<key>latitude</key>
		<real>-6.1299999999999999</real>
		<key>longitude</key>
		<real>12.369999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2312393</string>
		<key>latitude</key>
		<real>-5.9299999999999997</real>
		<key>longitude</key>
		<real>12.35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2569147</string>
		<key>latitude</key>
		<real>-2.3599999999999999</real>
		<key>longitude</key>
		<real>16.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2243598</string>
		<key>latitude</key>
		<real>-8.9800000000000004</real>
		<key>longitude</key>
		<real>13.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260401</string>
		<key>latitude</key>
		<real>-2.54</real>
		<key>longitude</key>
		<real>14.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2311968</string>
		<key>latitude</key>
		<real>-2.7200000000000002</real>
		<key>longitude</key>
		<real>17.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2243266</string>
		<key>latitude</key>
		<real>-4.9299999999999997</real>
		<key>longitude</key>
		<real>12.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2240354</string>
		<key>latitude</key>
		<real>-5.5300000000000002</real>
		<key>longitude</key>
		<real>12.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2566971</string>
		<key>latitude</key>
		<real>-4.21</real>
		<key>longitude</key>
		<real>12.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239858</string>
		<key>latitude</key>
		<real>-9.6799999999999997</real>
		<key>longitude</key>
		<real>16.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258261</string>
		<key>latitude</key>
		<real>-4.2000000000000002</real>
		<key>longitude</key>
		<real>12.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2238852</string>
		<key>latitude</key>
		<real>-5.5999999999999996</real>
		<key>longitude</key>
		<real>12.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2243271</string>
		<key>latitude</key>
		<real>-5.5499999999999998</real>
		<key>longitude</key>
		<real>12.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2316748</string>
		<key>latitude</key>
		<real>-2.1699999999999999</real>
		<key>longitude</key>
		<real>16.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258534</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2240444</string>
		<key>latitude</key>
		<real>-8.9199999999999999</real>
		<key>longitude</key>
		<real>13.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2240449</string>
		<key>latitude</key>
		<real>-8.8399999999999999</real>
		<key>longitude</key>
		<real>13.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313084</string>
		<key>latitude</key>
		<real>-4.0499999999999998</real>
		<key>longitude</key>
		<real>19.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255422</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>15.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2239861</string>
		<key>latitude</key>
		<real>-9.9600000000000009</real>
		<key>longitude</key>
		<real>14.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2259947</string>
		<key>latitude</key>
		<real>-1.8799999999999999</real>
		<key>longitude</key>
		<real>15.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2257925</string>
		<key>latitude</key>
		<real>-3.46</real>
		<key>longitude</key>
		<real>12.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255148</string>
		<key>latitude</key>
		<real>-4.8200000000000003</real>
		<key>longitude</key>
		<real>11.880000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255414</string>
		<key>latitude</key>
		<real>-4.7800000000000002</real>
		<key>longitude</key>
		<real>11.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258378</string>
		<key>latitude</key>
		<real>-4.7599999999999998</real>
		<key>longitude</key>
		<real>11.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258314</string>
		<key>latitude</key>
		<real>-4.7999999999999998</real>
		<key>longitude</key>
		<real>11.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2258738</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2256895</string>
		<key>latitude</key>
		<real>-2.9500000000000002</real>
		<key>longitude</key>
		<real>12.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400454</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145702</string>
		<key>latitude</key>
		<real>-8.6400000000000006</real>
		<key>longitude</key>
		<real>19.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2256175</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2315417</string>
		<key>latitude</key>
		<real>-1.95</real>
		<key>longitude</key>
		<real>18.266670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399831</string>
		<key>latitude</key>
		<real>-1.5800000000000001</real>
		<key>longitude</key>
		<real>14.26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>204953</string>
		<key>latitude</key>
		<real>-6.4199999999999999</real>
		<key>longitude</key>
		<real>20.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346598</string>
		<key>latitude</key>
		<real>-10.73</real>
		<key>longitude</key>
		<real>14.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>215976</string>
		<key>latitude</key>
		<real>-4.3200000000000003</real>
		<key>longitude</key>
		<real>20.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3349234</string>
		<key>latitude</key>
		<real>-10.83</real>
		<key>longitude</key>
		<real>15.029999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397574</string>
		<key>latitude</key>
		<real>-1.6299999999999999</real>
		<key>longitude</key>
		<real>13.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400555</string>
		<key>latitude</key>
		<real>-1.6299999999999999</real>
		<key>longitude</key>
		<real>13.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2401506</string>
		<key>latitude</key>
		<real>-1.6499999999999999</real>
		<key>longitude</key>
		<real>13.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2313371</string>
		<key>latitude</key>
		<real>-1.06046</real>
		<key>longitude</key>
		<real>17.182099999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260494</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7866653</string>
		<key>latitude</key>
		<real>-10.84</real>
		<key>longitude</key>
		<real>14.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346661</string>
		<key>latitude</key>
		<real>-10.73</real>
		<key>longitude</key>
		<real>13.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398269</string>
		<key>latitude</key>
		<real>-1.5600000000000001</real>
		<key>longitude</key>
		<real>13.220000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2401346</string>
		<key>latitude</key>
		<real>-1.54</real>
		<key>longitude</key>
		<real>13.24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260009</string>
		<key>latitude</key>
		<real>-0.87250000000000005</real>
		<key>longitude</key>
		<real>14.82056</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145724</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>20.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397978</string>
		<key>latitude</key>
		<real>-1.4099999999999999</real>
		<key>longitude</key>
		<real>13.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3345497</string>
		<key>latitude</key>
		<real>-11.359999999999999</real>
		<key>longitude</key>
		<real>15.119999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>210939</string>
		<key>latitude</key>
		<real>-5.3499999999999996</real>
		<key>longitude</key>
		<real>21.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7860622</string>
		<key>latitude</key>
		<real>-11.41</real>
		<key>longitude</key>
		<real>15.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2260487</string>
		<key>latitude</key>
		<real>-0.5</real>
		<key>longitude</key>
		<real>16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2255542</string>
		<key>latitude</key>
		<real>-0.48193000000000003</real>
		<key>longitude</key>
		<real>15.89988</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346015</string>
		<key>latitude</key>
		<real>-11.210000000000001</real>
		<key>longitude</key>
		<real>13.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>207596</string>
		<key>latitude</key>
		<real>-4.8499999999999996</real>
		<key>longitude</key>
		<real>21.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145531</string>
		<key>latitude</key>
		<real>-9.6600000000000001</real>
		<key>longitude</key>
		<real>20.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7789926</string>
		<key>latitude</key>
		<real>-9.7100000000000009</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398929</string>
		<key>latitude</key>
		<real>-1.8999999999999999</real>
		<key>longitude</key>
		<real>11.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397141</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396898</string>
		<key>latitude</key>
		<real>-0.65486999999999995</real>
		<key>longitude</key>
		<real>13.675330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396925</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397614</string>
		<key>latitude</key>
		<real>-2.3999999999999999</real>
		<key>longitude</key>
		<real>11.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2396253</string>
		<key>latitude</key>
		<real>-2.8500000000000001</real>
		<key>longitude</key>
		<real>11.029999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399001</string>
		<key>latitude</key>
		<real>-3.4300000000000002</real>
		<key>longitude</key>
		<real>10.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399959</string>
		<key>latitude</key>
		<real>-1.13032</real>
		<key>longitude</key>
		<real>12.47359</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399672</string>
		<key>latitude</key>
		<real>-0.82716000000000001</real>
		<key>longitude</key>
		<real>12.740069999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2399870</string>
		<key>latitude</key>
		<real>-0.81433</real>
		<key>longitude</key>
		<real>12.72869</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398430</string>
		<key>latitude</key>
		<real>-1.6200000000000001</real>
		<key>longitude</key>
		<real>11.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145701</string>
		<key>latitude</key>
		<real>-10.26</real>
		<key>longitude</key>
		<real>20.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397466</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2398073</string>
		<key>latitude</key>
		<real>-1.8700000000000001</real>
		<key>longitude</key>
		<real>11.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400553</string>
		<key>latitude</key>
		<real>-1</real>
		<key>longitude</key>
		<real>11.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876485</string>
		<key>latitude</key>
		<real>-11.07</real>
		<key>longitude</key>
		<real>20.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876233</string>
		<key>latitude</key>
		<real>-11.65</real>
		<key>longitude</key>
		<real>20.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2400578</string>
		<key>latitude</key>
		<real>-1.22</real>
		<key>longitude</key>
		<real>10.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>876123</string>
		<key>latitude</key>
		<real>-11.550000000000001</real>
		<key>longitude</key>
		<real>20.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218241</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>21.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>218355</string>
		<key>latitude</key>
		<real>-0.33333000000000002</real>
		<key>longitude</key>
		<real>20.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2397842</string>
		<key>latitude</key>
		<real>-0.5</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
</array>
</plist>
