<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2409914</string>
		<key>latitude</key>
		<real>7.5263900000000001</real>
		<key>longitude</key>
		<real>-12.505000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2274275</string>
		<key>latitude</key>
		<real>6.7533300000000001</real>
		<key>longitude</key>
		<real>-11.36861</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2274895</string>
		<key>latitude</key>
		<real>6.3005399999999998</real>
		<key>longitude</key>
		<real>-10.796900000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2277960</string>
		<key>latitude</key>
		<real>6.3166700000000002</real>
		<key>longitude</key>
		<real>-10.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7873978</string>
		<key>latitude</key>
		<real>6.2833899999999998</real>
		<key>longitude</key>
		<real>-10.751580000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2403303</string>
		<key>latitude</key>
		<real>7.4500000000000002</real>
		<key>longitude</key>
		<real>-11.9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2571039</string>
		<key>latitude</key>
		<real>7.35806</real>
		<key>longitude</key>
		<real>-11.720829999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2409970</string>
		<key>latitude</key>
		<real>7.2461099999999998</real>
		<key>longitude</key>
		<real>-11.525829999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2409215</string>
		<key>latitude</key>
		<real>7.5</real>
		<key>longitude</key>
		<real>-11.83333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2403698</string>
		<key>latitude</key>
		<real>7.6466700000000003</real>
		<key>longitude</key>
		<real>-11.96111</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2278682</string>
		<key>latitude</key>
		<real>6.44611</real>
		<key>longitude</key>
		<real>-10.612500000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2409382</string>
		<key>latitude</key>
		<real>7.4108299999999998</real>
		<key>longitude</key>
		<real>-11.54222</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597314</string>
		<key>latitude</key>
		<real>6.2286099999999998</real>
		<key>longitude</key>
		<real>-10.355829999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2570857</string>
		<key>latitude</key>
		<real>7.5522200000000002</real>
		<key>longitude</key>
		<real>-11.606389999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2402689</string>
		<key>latitude</key>
		<real>7.3152799999999996</real>
		<key>longitude</key>
		<real>-11.30611</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2274890</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>-10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2273435</string>
		<key>latitude</key>
		<real>6.8708299999999998</real>
		<key>longitude</key>
		<real>-10.817220000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2404423</string>
		<key>latitude</key>
		<real>7.5072200000000002</real>
		<key>longitude</key>
		<real>-11.47861</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2276086</string>
		<key>latitude</key>
		<real>6.5300000000000002</real>
		<key>longitude</key>
		<real>-10.35167</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2408683</string>
		<key>latitude</key>
		<real>7.4661099999999996</real>
		<key>longitude</key>
		<real>-11.237500000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2278248</string>
		<key>latitude</key>
		<real>7.0666700000000002</real>
		<key>longitude</key>
		<real>-10.487500000000001</real>
	</dict>
</array>
</plist>
