<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2411397</string>
		<key>latitude</key>
		<real>-7.9333299999999998</real>
		<key>longitude</key>
		<real>-14.41667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2572137</string>
		<key>latitude</key>
		<real>-7.9446599999999998</real>
		<key>longitude</key>
		<real>-14.370810000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2411430</string>
		<key>latitude</key>
		<real>-7.9500000000000002</real>
		<key>longitude</key>
		<real>-14.35</real>
	</dict>
</array>
</plist>
