<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>241443</string>
		<key>latitude</key>
		<real>-4.7333299999999996</real>
		<key>longitude</key>
		<real>55.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>241170</string>
		<key>latitude</key>
		<real>-4.5833300000000001</real>
		<key>longitude</key>
		<real>55.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>241131</string>
		<key>latitude</key>
		<real>-4.6166700000000001</real>
		<key>longitude</key>
		<real>55.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>241424</string>
		<key>latitude</key>
		<real>-4.625</real>
		<key>longitude</key>
		<real>55.404170999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>241423</string>
		<key>latitude</key>
		<real>-4.6166700000000001</real>
		<key>longitude</key>
		<real>55.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>241302</string>
		<key>latitude</key>
		<real>-4.5916699999999997</real>
		<key>longitude</key>
		<real>55.450001</real>
	</dict>
</array>
</plist>
