<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>240210</string>
		<key>latitude</key>
		<real>10.284879999999999</real>
		<key>longitude</key>
		<real>22.788179</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236178</string>
		<key>latitude</key>
		<real>10.33333</real>
		<key>longitude</key>
		<real>22.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408660</string>
		<key>latitude</key>
		<real>11.15</real>
		<key>longitude</key>
		<real>25.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>373413</string>
		<key>latitude</key>
		<real>8.4852699999999999</real>
		<key>longitude</key>
		<real>25.327030000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>365618</string>
		<key>latitude</key>
		<real>12.02</real>
		<key>longitude</key>
		<real>24.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>369004</string>
		<key>latitude</key>
		<real>12.050000000000001</real>
		<key>longitude</key>
		<real>24.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>368246</string>
		<key>latitude</key>
		<real>8.4595500000000001</real>
		<key>longitude</key>
		<real>25.677999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236901</string>
		<key>latitude</key>
		<real>8.0777099999999997</real>
		<key>longitude</key>
		<real>22.400749000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7754689</string>
		<key>latitude</key>
		<real>12.529999999999999</real>
		<key>longitude</key>
		<real>23.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408657</string>
		<key>latitude</key>
		<real>8.1500000000000004</real>
		<key>longitude</key>
		<real>26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>363533</string>
		<key>latitude</key>
		<real>12.91</real>
		<key>longitude</key>
		<real>23.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408658</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238640</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408665</string>
		<key>latitude</key>
		<real>8.8499999999999996</real>
		<key>longitude</key>
		<real>27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7430962</string>
		<key>latitude</key>
		<real>8.4621899999999997</real>
		<key>longitude</key>
		<real>27.103300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364367</string>
		<key>latitude</key>
		<real>8.76816</real>
		<key>longitude</key>
		<real>27.400189999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236052</string>
		<key>latitude</key>
		<real>6.5013300000000003</real>
		<key>longitude</key>
		<real>23.265829</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>242048</string>
		<key>latitude</key>
		<real>11</real>
		<key>longitude</key>
		<real>20.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240591</string>
		<key>latitude</key>
		<real>8.4166699999999999</real>
		<key>longitude</key>
		<real>20.66667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>409393</string>
		<key>latitude</key>
		<real>8.4353400000000001</real>
		<key>longitude</key>
		<real>20.638611000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>237379</string>
		<key>latitude</key>
		<real>8.4109099999999994</real>
		<key>longitude</key>
		<real>20.647279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379303</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>22.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379302</string>
		<key>latitude</key>
		<real>13.48</real>
		<key>longitude</key>
		<real>22.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245338</string>
		<key>latitude</key>
		<real>11.0297</real>
		<key>longitude</key>
		<real>20.282699999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379102</string>
		<key>latitude</key>
		<real>11.029999999999999</real>
		<key>longitude</key>
		<real>27.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379555</string>
		<key>latitude</key>
		<real>13.630000000000001</real>
		<key>longitude</key>
		<real>25.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245669</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>22.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239899</string>
		<key>latitude</key>
		<real>6.5423299999999998</real>
		<key>longitude</key>
		<real>21.986329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236637</string>
		<key>latitude</key>
		<real>6.5159900000000004</real>
		<key>longitude</key>
		<real>21.986218999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255146</string>
		<key>latitude</key>
		<real>7.1881009999999996</real>
		<key>longitude</key>
		<real>21.09375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235888</string>
		<key>latitude</key>
		<real>7.2333299999999996</real>
		<key>longitude</key>
		<real>20.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239880</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>371745</string>
		<key>latitude</key>
		<real>14.199999999999999</real>
		<key>longitude</key>
		<real>24.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>371712</string>
		<key>latitude</key>
		<real>8.30016</real>
		<key>longitude</key>
		<real>27.990279999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>374739</string>
		<key>latitude</key>
		<real>8.5332399999999993</real>
		<key>longitude</key>
		<real>28.100370000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>380308</string>
		<key>latitude</key>
		<real>9.5952500000000001</real>
		<key>longitude</key>
		<real>28.434930999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>242246</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>21.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364933</string>
		<key>latitude</key>
		<real>13.6</real>
		<key>longitude</key>
		<real>26.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238639</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>363885</string>
		<key>latitude</key>
		<real>7.7028600000000003</real>
		<key>longitude</key>
		<real>27.9953</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379535</string>
		<key>latitude</key>
		<real>11.73</real>
		<key>longitude</key>
		<real>28.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238566</string>
		<key>latitude</key>
		<real>6.2679299999999998</real>
		<key>longitude</key>
		<real>21.224679999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243503</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245785</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236887</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429344</string>
		<key>latitude</key>
		<real>9.4514899999999997</real>
		<key>longitude</key>
		<real>18.944928999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>237556</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>23.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236524</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>23.91667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235826</string>
		<key>latitude</key>
		<real>5.0314399999999999</real>
		<key>longitude</key>
		<real>25.136140999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378699</string>
		<key>latitude</key>
		<real>12.699999999999999</real>
		<key>longitude</key>
		<real>28.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408670</string>
		<key>latitude</key>
		<real>8</real>
		<key>longitude</key>
		<real>28.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243783</string>
		<key>latitude</key>
		<real>13.949999999999999</real>
		<key>longitude</key>
		<real>20.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236950</string>
		<key>latitude</key>
		<real>5.3997799999999998</real>
		<key>longitude</key>
		<real>26.486878999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379198</string>
		<key>latitude</key>
		<real>11.4</real>
		<key>longitude</key>
		<real>29.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238637</string>
		<key>latitude</key>
		<real>5.25</real>
		<key>longitude</key>
		<real>26.316669000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412482</string>
		<key>latitude</key>
		<real>5.8390399999999998</real>
		<key>longitude</key>
		<real>20.634460000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426370</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240604</string>
		<key>latitude</key>
		<real>5.7679499999999999</real>
		<key>longitude</key>
		<real>20.675650000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236423</string>
		<key>latitude</key>
		<real>4.76403</real>
		<key>longitude</key>
		<real>22.820601</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>365763</string>
		<key>latitude</key>
		<real>7.2736900000000002</real>
		<key>longitude</key>
		<real>28.682230000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240498</string>
		<key>latitude</key>
		<real>4.74132</real>
		<key>longitude</key>
		<real>22.818380000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243590</string>
		<key>latitude</key>
		<real>15.119999999999999</real>
		<key>longitude</key>
		<real>22.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>244878</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>20.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427315</string>
		<key>latitude</key>
		<real>9.3332999999999995</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>370366</string>
		<key>latitude</key>
		<real>10.98</real>
		<key>longitude</key>
		<real>29.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386243</string>
		<key>latitude</key>
		<real>7.0833300000000001</real>
		<key>longitude</key>
		<real>19.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240396</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>21.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>366444</string>
		<key>latitude</key>
		<real>5.5999999999999996</real>
		<key>longitude</key>
		<real>27.466669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425791</string>
		<key>latitude</key>
		<real>9.1428999999999991</real>
		<key>longitude</key>
		<real>18.392299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2431555</string>
		<key>latitude</key>
		<real>11.5</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436067</string>
		<key>latitude</key>
		<real>9.1561000000000003</real>
		<key>longitude</key>
		<real>18.365299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239300</string>
		<key>latitude</key>
		<real>4.6481599999999998</real>
		<key>longitude</key>
		<real>22.263309</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386012</string>
		<key>latitude</key>
		<real>6.9896099999999999</real>
		<key>longitude</key>
		<real>19.187441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427637</string>
		<key>latitude</key>
		<real>12.18</real>
		<key>longitude</key>
		<real>18.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>380348</string>
		<key>latitude</key>
		<real>12.35</real>
		<key>longitude</key>
		<real>29.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2432193</string>
		<key>latitude</key>
		<real>12.18</real>
		<key>longitude</key>
		<real>18.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240999</string>
		<key>latitude</key>
		<real>5.0266599999999997</real>
		<key>longitude</key>
		<real>21.208759000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240049</string>
		<key>latitude</key>
		<real>5.0666700000000002</real>
		<key>longitude</key>
		<real>21.116671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238373</string>
		<key>latitude</key>
		<real>4.6227499999999999</real>
		<key>longitude</key>
		<real>21.88645</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386042</string>
		<key>latitude</key>
		<real>7.69937</real>
		<key>longitude</key>
		<real>18.62903</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>376450</string>
		<key>latitude</key>
		<real>12.050000000000001</real>
		<key>longitude</key>
		<real>29.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435899</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408656</string>
		<key>latitude</key>
		<real>5.4000000000000004</real>
		<key>longitude</key>
		<real>28.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436400</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>18.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>370247</string>
		<key>latitude</key>
		<real>6.4598300000000002</real>
		<key>longitude</key>
		<real>29.399678999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385535</string>
		<key>latitude</key>
		<real>4.9933699999999996</real>
		<key>longitude</key>
		<real>19.961860999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385836</string>
		<key>latitude</key>
		<real>5.75</real>
		<key>longitude</key>
		<real>19.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>367927</string>
		<key>latitude</key>
		<real>6.8019999999999996</real>
		<key>longitude</key>
		<real>29.691230999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383119</string>
		<key>latitude</key>
		<real>5.7180099999999996</real>
		<key>longitude</key>
		<real>19.073891</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>363656</string>
		<key>latitude</key>
		<real>4.5721299999999996</real>
		<key>longitude</key>
		<real>28.395491</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434508</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408667</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387435</string>
		<key>latitude</key>
		<real>4.96075</real>
		<key>longitude</key>
		<real>18.703500999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>370457</string>
		<key>latitude</key>
		<real>4.9158400000000002</real>
		<key>longitude</key>
		<real>29.474150000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>382250</string>
		<key>latitude</key>
		<real>4.5361099999999999</real>
		<key>longitude</key>
		<real>29.25778</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596686</string>
		<key>latitude</key>
		<real>4.3666700000000001</real>
		<key>longitude</key>
		<real>18.58333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385666</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>18.533331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389853</string>
		<key>latitude</key>
		<real>4.3612200000000003</real>
		<key>longitude</key>
		<real>18.554960000000001</real>
	</dict>
</array>
</plist>
