<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7602866</string>
		<key>latitude</key>
		<real>18.25</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603258</string>
		<key>latitude</key>
		<real>20.329999999999998</real>
		<key>longitude</key>
		<real>16.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2424015</string>
		<key>latitude</key>
		<real>20.460000000000001</real>
		<key>longitude</key>
		<real>16.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2432678</string>
		<key>latitude</key>
		<real>17.93</real>
		<key>longitude</key>
		<real>19.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2446796</string>
		<key>latitude</key>
		<real>18.690000000000001</real>
		<key>longitude</key>
		<real>12.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445702</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2430873</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603255</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>16.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425714</string>
		<key>latitude</key>
		<real>21.329999999999998</real>
		<key>longitude</key>
		<real>17.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428394</string>
		<key>latitude</key>
		<real>14.119999999999999</real>
		<key>longitude</key>
		<real>15.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436628</string>
		<key>latitude</key>
		<real>21.84</real>
		<key>longitude</key>
		<real>17.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434508</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427336</string>
		<key>latitude</key>
		<real>13.640000000000001</real>
		<key>longitude</key>
		<real>16.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440495</string>
		<key>latitude</key>
		<real>14.25</real>
		<key>longitude</key>
		<real>13.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434979</string>
		<key>latitude</key>
		<real>13.460000000000001</real>
		<key>longitude</key>
		<real>14.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425296</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>14.720000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429323</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>14.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435899</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428228</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>15.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426991</string>
		<key>latitude</key>
		<real>13.23</real>
		<key>longitude</key>
		<real>18.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436400</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>18.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603251</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>16.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428231</string>
		<key>latitude</key>
		<real>12.48</real>
		<key>longitude</key>
		<real>15.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333563</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>13.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228881</string>
		<key>latitude</key>
		<real>12.57</real>
		<key>longitude</key>
		<real>14.470000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445704</string>
		<key>latitude</key>
		<real>13.32</real>
		<key>longitude</key>
		<real>12.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448083</string>
		<key>latitude</key>
		<real>19.75</real>
		<key>longitude</key>
		<real>10.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329946</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>13.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6777949</string>
		<key>latitude</key>
		<real>13.26</real>
		<key>longitude</key>
		<real>12.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>244878</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>20.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426370</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345526</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243783</string>
		<key>latitude</key>
		<real>13.949999999999999</real>
		<key>longitude</key>
		<real>20.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2437797</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441447</string>
		<key>latitude</key>
		<real>13.210000000000001</real>
		<key>longitude</key>
		<real>12.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243503</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245785</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341294</string>
		<key>latitude</key>
		<real>12.9</real>
		<key>longitude</key>
		<real>11.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2344838</string>
		<key>latitude</key>
		<real>13.109999999999999</real>
		<key>longitude</key>
		<real>11.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>242246</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>21.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2444219</string>
		<key>latitude</key>
		<real>13.98</real>
		<key>longitude</key>
		<real>10.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341656</string>
		<key>latitude</key>
		<real>12.869999999999999</real>
		<key>longitude</key>
		<real>11.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345172</string>
		<key>latitude</key>
		<real>12.49</real>
		<key>longitude</key>
		<real>11.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333490</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>10.630000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339706</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>11.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2328952</string>
		<key>latitude</key>
		<real>12.880000000000001</real>
		<key>longitude</key>
		<real>10.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340350</string>
		<key>latitude</key>
		<real>12.640000000000001</real>
		<key>longitude</key>
		<real>10.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347041</string>
		<key>latitude</key>
		<real>12.789999999999999</real>
		<key>longitude</key>
		<real>10.23</real>
	</dict>
</array>
</plist>
