<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2428132</string>
		<key>latitude</key>
		<real>10</real>
		<key>longitude</key>
		<real>15.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2431724</string>
		<key>latitude</key>
		<real>9.6294000000000004</real>
		<key>longitude</key>
		<real>15.513199999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429296</string>
		<key>latitude</key>
		<real>9.3952000000000009</real>
		<key>longitude</key>
		<real>16.298901000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434910</string>
		<key>latitude</key>
		<real>10.279999999999999</real>
		<key>longitude</key>
		<real>15.369999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435474</string>
		<key>latitude</key>
		<real>9.3201999999999998</real>
		<key>longitude</key>
		<real>16.155199</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425287</string>
		<key>latitude</key>
		<real>9.5</real>
		<key>longitude</key>
		<real>16.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2430506</string>
		<key>latitude</key>
		<real>9.3085900000000006</real>
		<key>longitude</key>
		<real>15.80658</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221030</string>
		<key>latitude</key>
		<real>10.34</real>
		<key>longitude</key>
		<real>15.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434584</string>
		<key>latitude</key>
		<real>10.48</real>
		<key>longitude</key>
		<real>16.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2431573</string>
		<key>latitude</key>
		<real>10.92</real>
		<key>longitude</key>
		<real>15.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435508</string>
		<key>latitude</key>
		<real>8.9832699999999992</real>
		<key>longitude</key>
		<real>16.31991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426240</string>
		<key>latitude</key>
		<real>9.3642000000000003</real>
		<key>longitude</key>
		<real>14.9046</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429060</string>
		<key>latitude</key>
		<real>8.7529000000000003</real>
		<key>longitude</key>
		<real>15.87236</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434478</string>
		<key>latitude</key>
		<real>11.34</real>
		<key>longitude</key>
		<real>16.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429425</string>
		<key>latitude</key>
		<real>8.6233699999999995</real>
		<key>longitude</key>
		<real>16.085629999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603253</string>
		<key>latitude</key>
		<real>9.3300000000000001</real>
		<key>longitude</key>
		<real>14.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428216</string>
		<key>latitude</key>
		<real>11.4</real>
		<key>longitude</key>
		<real>16.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427455</string>
		<key>latitude</key>
		<real>8.5666700000000002</real>
		<key>longitude</key>
		<real>16.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435854</string>
		<key>latitude</key>
		<real>8.6760999999999999</real>
		<key>longitude</key>
		<real>16.565999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435708</string>
		<key>latitude</key>
		<real>8.6698000000000004</real>
		<key>longitude</key>
		<real>15.3813</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2431736</string>
		<key>latitude</key>
		<real>9.3626699999999996</real>
		<key>longitude</key>
		<real>17.365970999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230599</string>
		<key>latitude</key>
		<real>10.109999999999999</real>
		<key>longitude</key>
		<real>14.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230600</string>
		<key>latitude</key>
		<real>10.109999999999999</real>
		<key>longitude</key>
		<real>14.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233805</string>
		<key>latitude</key>
		<real>10.73</real>
		<key>longitude</key>
		<real>14.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2226641</string>
		<key>latitude</key>
		<real>10.4</real>
		<key>longitude</key>
		<real>14.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2433437</string>
		<key>latitude</key>
		<real>8.6500000000000004</real>
		<key>longitude</key>
		<real>16.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228373</string>
		<key>latitude</key>
		<real>10.59</real>
		<key>longitude</key>
		<real>14.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231755</string>
		<key>latitude</key>
		<real>11</real>
		<key>longitude</key>
		<real>14.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222312</string>
		<key>latitude</key>
		<real>10.460000000000001</real>
		<key>longitude</key>
		<real>14.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429058</string>
		<key>latitude</key>
		<real>8.25</real>
		<key>longitude</key>
		<real>16.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2433055</string>
		<key>latitude</key>
		<real>11.81</real>
		<key>longitude</key>
		<real>15.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428042</string>
		<key>latitude</key>
		<real>9.7638999999999996</real>
		<key>longitude</key>
		<real>14.1539</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6730148</string>
		<key>latitude</key>
		<real>10.25</real>
		<key>longitude</key>
		<real>14.15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429605</string>
		<key>latitude</key>
		<real>8.9125599999999991</real>
		<key>longitude</key>
		<real>17.553920999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435837</string>
		<key>latitude</key>
		<real>8.2668199999999992</real>
		<key>longitude</key>
		<real>16.938980000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230876</string>
		<key>latitude</key>
		<real>9.9299999999999997</real>
		<key>longitude</key>
		<real>13.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225991</string>
		<key>latitude</key>
		<real>11.050000000000001</real>
		<key>longitude</key>
		<real>14.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427036</string>
		<key>latitude</key>
		<real>11.779999999999999</real>
		<key>longitude</key>
		<real>17.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427949</string>
		<key>latitude</key>
		<real>11.06</real>
		<key>longitude</key>
		<real>17.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435014</string>
		<key>latitude</key>
		<real>7.7961999999999998</real>
		<key>longitude</key>
		<real>15.668200000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222439</string>
		<key>latitude</key>
		<real>8.6723999999999997</real>
		<key>longitude</key>
		<real>14.178599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229780</string>
		<key>latitude</key>
		<real>10.869999999999999</real>
		<key>longitude</key>
		<real>13.880000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2226275</string>
		<key>latitude</key>
		<real>10.74</real>
		<key>longitude</key>
		<real>13.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229798</string>
		<key>latitude</key>
		<real>12.08</real>
		<key>longitude</key>
		<real>15.029999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603254</string>
		<key>latitude</key>
		<real>12.119999999999999</real>
		<key>longitude</key>
		<real>15.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427123</string>
		<key>latitude</key>
		<real>12.109999999999999</real>
		<key>longitude</key>
		<real>15.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428334</string>
		<key>latitude</key>
		<real>12.130000000000001</real>
		<key>longitude</key>
		<real>15.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427697</string>
		<key>latitude</key>
		<real>8.3404000000000007</real>
		<key>longitude</key>
		<real>17.766300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221607</string>
		<key>latitude</key>
		<real>8.4022000000000006</real>
		<key>longitude</key>
		<real>14.1698</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229681</string>
		<key>latitude</key>
		<real>9.0500000000000007</real>
		<key>longitude</key>
		<real>13.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223603</string>
		<key>latitude</key>
		<real>8.5</real>
		<key>longitude</key>
		<real>14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436067</string>
		<key>latitude</key>
		<real>9.1561000000000003</real>
		<key>longitude</key>
		<real>18.365299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2331715</string>
		<key>latitude</key>
		<real>10.890000000000001</real>
		<key>longitude</key>
		<real>13.630000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339665</string>
		<key>latitude</key>
		<real>11.1</real>
		<key>longitude</key>
		<real>13.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222568</string>
		<key>latitude</key>
		<real>9.3833300000000008</real>
		<key>longitude</key>
		<real>13.533329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425791</string>
		<key>latitude</key>
		<real>9.1428999999999991</real>
		<key>longitude</key>
		<real>18.392299999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603252</string>
		<key>latitude</key>
		<real>8.3294200000000007</real>
		<key>longitude</key>
		<real>17.915669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428231</string>
		<key>latitude</key>
		<real>12.48</real>
		<key>longitude</key>
		<real>15.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427315</string>
		<key>latitude</key>
		<real>9.3332999999999995</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434985</string>
		<key>latitude</key>
		<real>12.380000000000001</real>
		<key>longitude</key>
		<real>17.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229673</string>
		<key>latitude</key>
		<real>9.3333300000000001</real>
		<key>longitude</key>
		<real>13.41667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231320</string>
		<key>latitude</key>
		<real>9.3000000000000007</real>
		<key>longitude</key>
		<real>13.4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603251</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>16.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329821</string>
		<key>latitude</key>
		<real>10.27</real>
		<key>longitude</key>
		<real>13.26</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347954</string>
		<key>latitude</key>
		<real>11.52</real>
		<key>longitude</key>
		<real>13.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2322021</string>
		<key>latitude</key>
		<real>11.23</real>
		<key>longitude</key>
		<real>13.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2321057</string>
		<key>latitude</key>
		<real>10.449999999999999</real>
		<key>longitude</key>
		<real>13.220000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383523</string>
		<key>latitude</key>
		<real>7.2426899999999996</real>
		<key>longitude</key>
		<real>16.44059</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2344854</string>
		<key>latitude</key>
		<real>12.02</real>
		<key>longitude</key>
		<real>13.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2431555</string>
		<key>latitude</key>
		<real>11.5</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339468</string>
		<key>latitude</key>
		<real>9.9000000000000004</real>
		<key>longitude</key>
		<real>13.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435124</string>
		<key>latitude</key>
		<real>11.98</real>
		<key>longitude</key>
		<real>18.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329087</string>
		<key>latitude</key>
		<real>12.34</real>
		<key>longitude</key>
		<real>14.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2342192</string>
		<key>latitude</key>
		<real>12.369999999999999</real>
		<key>longitude</key>
		<real>14.220000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429344</string>
		<key>latitude</key>
		<real>9.4514899999999997</real>
		<key>longitude</key>
		<real>18.944928999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228881</string>
		<key>latitude</key>
		<real>12.57</real>
		<key>longitude</key>
		<real>14.470000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383650</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428228</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>15.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2334044</string>
		<key>latitude</key>
		<real>11.66</real>
		<key>longitude</key>
		<real>13.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222539</string>
		<key>latitude</key>
		<real>8.4833300000000005</real>
		<key>longitude</key>
		<real>13.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330719</string>
		<key>latitude</key>
		<real>12.359999999999999</real>
		<key>longitude</key>
		<real>13.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340446</string>
		<key>latitude</key>
		<real>10.16</real>
		<key>longitude</key>
		<real>12.74</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2346794</string>
		<key>latitude</key>
		<real>11.5</real>
		<key>longitude</key>
		<real>13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234520</string>
		<key>latitude</key>
		<real>7.0499999999999998</real>
		<key>longitude</key>
		<real>14.43333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2331447</string>
		<key>latitude</key>
		<real>11.85</real>
		<key>longitude</key>
		<real>13.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345498</string>
		<key>latitude</key>
		<real>11.16</real>
		<key>longitude</key>
		<real>12.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2432193</string>
		<key>latitude</key>
		<real>12.18</real>
		<key>longitude</key>
		<real>18.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2232774</string>
		<key>latitude</key>
		<real>6.8333300000000001</real>
		<key>longitude</key>
		<real>14.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2346853</string>
		<key>latitude</key>
		<real>11.880000000000001</real>
		<key>longitude</key>
		<real>13.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427637</string>
		<key>latitude</key>
		<real>12.18</real>
		<key>longitude</key>
		<real>18.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386042</string>
		<key>latitude</key>
		<real>7.69937</real>
		<key>longitude</key>
		<real>18.62903</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2318480</string>
		<key>latitude</key>
		<real>11.380000000000001</real>
		<key>longitude</key>
		<real>12.720000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2565342</string>
		<key>latitude</key>
		<real>9.3333300000000001</real>
		<key>longitude</key>
		<real>12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389691</string>
		<key>latitude</key>
		<real>7.3008199999999999</real>
		<key>longitude</key>
		<real>18.283300000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2227808</string>
		<key>latitude</key>
		<real>7.3833299999999999</real>
		<key>longitude</key>
		<real>13.56667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2336056</string>
		<key>latitude</key>
		<real>9.2833299999999994</real>
		<key>longitude</key>
		<real>12.466670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2318044</string>
		<key>latitude</key>
		<real>9.1999999999999993</real>
		<key>longitude</key>
		<real>12.48333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329946</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>13.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224827</string>
		<key>latitude</key>
		<real>7.3166700000000002</real>
		<key>longitude</key>
		<real>13.58333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383653</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2319080</string>
		<key>latitude</key>
		<real>9.2666699999999995</real>
		<key>longitude</key>
		<real>12.41667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2323418</string>
		<key>latitude</key>
		<real>10.51</real>
		<key>longitude</key>
		<real>12.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2425296</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>14.720000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2427336</string>
		<key>latitude</key>
		<real>13.640000000000001</real>
		<key>longitude</key>
		<real>16.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434979</string>
		<key>latitude</key>
		<real>13.460000000000001</real>
		<key>longitude</key>
		<real>14.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387546</string>
		<key>latitude</key>
		<real>6.3193299999999999</real>
		<key>longitude</key>
		<real>16.379919000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2331528</string>
		<key>latitude</key>
		<real>12.109999999999999</real>
		<key>longitude</key>
		<real>12.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333563</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>13.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2328960</string>
		<key>latitude</key>
		<real>9.2833299999999994</real>
		<key>longitude</key>
		<real>12.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388036</string>
		<key>latitude</key>
		<real>6.4926300000000001</real>
		<key>longitude</key>
		<real>17.455179000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387440</string>
		<key>latitude</key>
		<real>6.4833299999999996</real>
		<key>longitude</key>
		<real>17.433330999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2429323</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>14.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2346995</string>
		<key>latitude</key>
		<real>10.609999999999999</real>
		<key>longitude</key>
		<real>12.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330087</string>
		<key>latitude</key>
		<real>10.73</real>
		<key>longitude</key>
		<real>12.15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2227402</string>
		<key>latitude</key>
		<real>6.5166700000000004</real>
		<key>longitude</key>
		<real>14.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2323344</string>
		<key>latitude</key>
		<real>10.220000000000001</real>
		<key>longitude</key>
		<real>12.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347279</string>
		<key>latitude</key>
		<real>11.81</real>
		<key>longitude</key>
		<real>12.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340404</string>
		<key>latitude</key>
		<real>11.48</real>
		<key>longitude</key>
		<real>12.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426991</string>
		<key>latitude</key>
		<real>13.23</real>
		<key>longitude</key>
		<real>18.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2328617</string>
		<key>latitude</key>
		<real>9.4666700000000006</real>
		<key>longitude</key>
		<real>12.033329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436400</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>18.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233238</string>
		<key>latitude</key>
		<real>6.4000000000000004</real>
		<key>longitude</key>
		<real>14.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330543</string>
		<key>latitude</key>
		<real>9.0500000000000007</real>
		<key>longitude</key>
		<real>12.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2346788</string>
		<key>latitude</key>
		<real>12.279999999999999</real>
		<key>longitude</key>
		<real>12.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2382604</string>
		<key>latitude</key>
		<real>5.9333299999999998</real>
		<key>longitude</key>
		<real>15.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387926</string>
		<key>latitude</key>
		<real>5.9340400000000004</real>
		<key>longitude</key>
		<real>15.59599</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2384205</string>
		<key>latitude</key>
		<real>5.9712199999999998</real>
		<key>longitude</key>
		<real>15.26276</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345283</string>
		<key>latitude</key>
		<real>11.74</real>
		<key>longitude</key>
		<real>12.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387890</string>
		<key>latitude</key>
		<real>6.5104600000000001</real>
		<key>longitude</key>
		<real>18.273309999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2428394</string>
		<key>latitude</key>
		<real>14.119999999999999</real>
		<key>longitude</key>
		<real>15.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341955</string>
		<key>latitude</key>
		<real>8.4333299999999998</real>
		<key>longitude</key>
		<real>12.06667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221513</string>
		<key>latitude</key>
		<real>7.3666700000000001</real>
		<key>longitude</key>
		<real>12.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230028</string>
		<key>latitude</key>
		<real>7.9666699999999997</real>
		<key>longitude</key>
		<real>12.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2318534</string>
		<key>latitude</key>
		<real>10.390000000000001</real>
		<key>longitude</key>
		<real>11.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340170</string>
		<key>latitude</key>
		<real>11.5</real>
		<key>longitude</key>
		<real>11.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2236015</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2321926</string>
		<key>latitude</key>
		<real>8.1166699999999992</real>
		<key>longitude</key>
		<real>12.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245338</string>
		<key>latitude</key>
		<real>11.0297</real>
		<key>longitude</key>
		<real>20.282699999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389804</string>
		<key>latitude</key>
		<real>5.6666699999999999</real>
		<key>longitude</key>
		<real>15.966670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345521</string>
		<key>latitude</key>
		<real>11.75</real>
		<key>longitude</key>
		<real>11.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386243</string>
		<key>latitude</key>
		<real>7.0833300000000001</real>
		<key>longitude</key>
		<real>19.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386012</string>
		<key>latitude</key>
		<real>6.9896099999999999</real>
		<key>longitude</key>
		<real>19.187441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231319</string>
		<key>latitude</key>
		<real>5.8833299999999999</real>
		<key>longitude</key>
		<real>14.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339483</string>
		<key>latitude</key>
		<real>10.300000000000001</real>
		<key>longitude</key>
		<real>11.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345785</string>
		<key>latitude</key>
		<real>9.6166699999999992</real>
		<key>longitude</key>
		<real>11.43333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>242048</string>
		<key>latitude</key>
		<real>11</real>
		<key>longitude</key>
		<real>20.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345029</string>
		<key>latitude</key>
		<real>10.210000000000001</real>
		<key>longitude</key>
		<real>11.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345526</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2335369</string>
		<key>latitude</key>
		<real>9.8141700000000007</real>
		<key>longitude</key>
		<real>11.30889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445704</string>
		<key>latitude</key>
		<real>13.32</real>
		<key>longitude</key>
		<real>12.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347155</string>
		<key>latitude</key>
		<real>9.8647200000000002</real>
		<key>longitude</key>
		<real>11.22528</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2336589</string>
		<key>latitude</key>
		<real>8.8833300000000008</real>
		<key>longitude</key>
		<real>11.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2332197</string>
		<key>latitude</key>
		<real>9.2166700000000006</real>
		<key>longitude</key>
		<real>11.283329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333451</string>
		<key>latitude</key>
		<real>10.039999999999999</real>
		<key>longitude</key>
		<real>11.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329562</string>
		<key>latitude</key>
		<real>11.1</real>
		<key>longitude</key>
		<real>11.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603255</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>16.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6777949</string>
		<key>latitude</key>
		<real>13.26</real>
		<key>longitude</key>
		<real>12.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2595347</string>
		<key>latitude</key>
		<real>10.25</real>
		<key>longitude</key>
		<real>11.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340451</string>
		<key>latitude</key>
		<real>10.289999999999999</real>
		<key>longitude</key>
		<real>11.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345096</string>
		<key>latitude</key>
		<real>11.550000000000001</real>
		<key>longitude</key>
		<real>11.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341758</string>
		<key>latitude</key>
		<real>10.18</real>
		<key>longitude</key>
		<real>11.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234339</string>
		<key>latitude</key>
		<real>5.5999999999999996</real>
		<key>longitude</key>
		<real>14.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2335709</string>
		<key>latitude</key>
		<real>10.380000000000001</real>
		<key>longitude</key>
		<real>11.1</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>409393</string>
		<key>latitude</key>
		<real>8.4353400000000001</real>
		<key>longitude</key>
		<real>20.638611000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597367</string>
		<key>latitude</key>
		<real>12</real>
		<key>longitude</key>
		<real>11.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>237379</string>
		<key>latitude</key>
		<real>8.4109099999999994</real>
		<key>longitude</key>
		<real>20.647279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221530</string>
		<key>latitude</key>
		<real>6.4666699999999997</real>
		<key>longitude</key>
		<real>12.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240591</string>
		<key>latitude</key>
		<real>8.4166699999999999</real>
		<key>longitude</key>
		<real>20.66667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2336624</string>
		<key>latitude</key>
		<real>11.98</real>
		<key>longitude</key>
		<real>11.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426370</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341294</string>
		<key>latitude</key>
		<real>12.9</real>
		<key>longitude</key>
		<real>11.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435899</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2351027</string>
		<key>latitude</key>
		<real>10.289999999999999</real>
		<key>longitude</key>
		<real>10.970000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2324857</string>
		<key>latitude</key>
		<real>9.9833300000000005</real>
		<key>longitude</key>
		<real>10.93333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388707</string>
		<key>latitude</key>
		<real>5.2652000000000001</real>
		<key>longitude</key>
		<real>17.62285</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441447</string>
		<key>latitude</key>
		<real>13.210000000000001</real>
		<key>longitude</key>
		<real>12.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231326</string>
		<key>latitude</key>
		<real>5.3333300000000001</real>
		<key>longitude</key>
		<real>14.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387495</string>
		<key>latitude</key>
		<real>4.9409000000000001</real>
		<key>longitude</key>
		<real>15.86645</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345172</string>
		<key>latitude</key>
		<real>12.49</real>
		<key>longitude</key>
		<real>11.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2430873</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440495</string>
		<key>latitude</key>
		<real>14.25</real>
		<key>longitude</key>
		<real>13.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2324767</string>
		<key>latitude</key>
		<real>11.710000000000001</real>
		<key>longitude</key>
		<real>11.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235669</string>
		<key>latitude</key>
		<real>6.3666700000000001</real>
		<key>longitude</key>
		<real>12.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347758</string>
		<key>latitude</key>
		<real>10.369999999999999</real>
		<key>longitude</key>
		<real>10.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2344418</string>
		<key>latitude</key>
		<real>10.82</real>
		<key>longitude</key>
		<real>10.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385836</string>
		<key>latitude</key>
		<real>5.75</real>
		<key>longitude</key>
		<real>19.08333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383119</string>
		<key>latitude</key>
		<real>5.7180099999999996</real>
		<key>longitude</key>
		<real>19.073891</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234794</string>
		<key>latitude</key>
		<real>6.75</real>
		<key>longitude</key>
		<real>11.81667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2344838</string>
		<key>latitude</key>
		<real>13.109999999999999</real>
		<key>longitude</key>
		<real>11.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329639</string>
		<key>latitude</key>
		<real>8.6333300000000008</real>
		<key>longitude</key>
		<real>10.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2318383</string>
		<key>latitude</key>
		<real>11.51</real>
		<key>longitude</key>
		<real>10.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2383765</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347330</string>
		<key>latitude</key>
		<real>7.8586799999999997</real>
		<key>longitude</key>
		<real>10.971869999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2324024</string>
		<key>latitude</key>
		<real>11.359999999999999</real>
		<key>longitude</key>
		<real>10.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2335015</string>
		<key>latitude</key>
		<real>11.25</real>
		<key>longitude</key>
		<real>10.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2386161</string>
		<key>latitude</key>
		<real>4.5</real>
		<key>longitude</key>
		<real>16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339706</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>11.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2342439</string>
		<key>latitude</key>
		<real>11.109999999999999</real>
		<key>longitude</key>
		<real>10.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345152</string>
		<key>latitude</key>
		<real>10.99</real>
		<key>longitude</key>
		<real>10.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330082</string>
		<key>latitude</key>
		<real>11.32</real>
		<key>longitude</key>
		<real>10.470000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2388720</string>
		<key>latitude</key>
		<real>4.8004800000000003</real>
		<key>longitude</key>
		<real>18.127469999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235888</string>
		<key>latitude</key>
		<real>7.2333299999999996</real>
		<key>longitude</key>
		<real>20.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233387</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341656</string>
		<key>latitude</key>
		<real>12.869999999999999</real>
		<key>longitude</key>
		<real>11.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341641</string>
		<key>latitude</key>
		<real>8.5333299999999994</real>
		<key>longitude</key>
		<real>10.466670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2387435</string>
		<key>latitude</key>
		<real>4.96075</real>
		<key>longitude</key>
		<real>18.703500999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317936</string>
		<key>latitude</key>
		<real>11.449999999999999</real>
		<key>longitude</key>
		<real>10.369999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341275</string>
		<key>latitude</key>
		<real>6.7000000000000002</real>
		<key>longitude</key>
		<real>11.26667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234536</string>
		<key>latitude</key>
		<real>4.9333299999999998</real>
		<key>longitude</key>
		<real>13.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2331686</string>
		<key>latitude</key>
		<real>11.779999999999999</real>
		<key>longitude</key>
		<real>10.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220852</string>
		<key>latitude</key>
		<real>6.4625199999999996</real>
		<key>longitude</key>
		<real>11.44157</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6620518</string>
		<key>latitude</key>
		<real>6.4584299999999999</real>
		<key>longitude</key>
		<real>11.43299</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2342199</string>
		<key>latitude</key>
		<real>12.130000000000001</real>
		<key>longitude</key>
		<real>10.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223306</string>
		<key>latitude</key>
		<real>4.4666699999999997</real>
		<key>longitude</key>
		<real>14.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255146</string>
		<key>latitude</key>
		<real>7.1881009999999996</real>
		<key>longitude</key>
		<real>21.09375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220849</string>
		<key>latitude</key>
		<real>5.5333300000000003</real>
		<key>longitude</key>
		<real>12.31667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>239880</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597366</string>
		<key>latitude</key>
		<real>8</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434508</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234663</string>
		<key>latitude</key>
		<real>4.4333299999999998</real>
		<key>longitude</key>
		<real>14.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340350</string>
		<key>latitude</key>
		<real>12.640000000000001</real>
		<key>longitude</key>
		<real>10.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234359</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>13.68333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230285</string>
		<key>latitude</key>
		<real>6.0830299999999999</real>
		<key>longitude</key>
		<real>11.490500000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243783</string>
		<key>latitude</key>
		<real>13.949999999999999</real>
		<key>longitude</key>
		<real>20.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2348228</string>
		<key>latitude</key>
		<real>7.2333299999999996</real>
		<key>longitude</key>
		<real>10.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2334861</string>
		<key>latitude</key>
		<real>12.289999999999999</real>
		<key>longitude</key>
		<real>10.35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231494</string>
		<key>latitude</key>
		<real>5.3166700000000002</real>
		<key>longitude</key>
		<real>12.216670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228019</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>13.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243503</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245785</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233056</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>13.56667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333490</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>10.630000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2328952</string>
		<key>latitude</key>
		<real>12.880000000000001</real>
		<key>longitude</key>
		<real>10.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385666</string>
		<key>latitude</key>
		<real>4.3833299999999999</real>
		<key>longitude</key>
		<real>18.533331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2389853</string>
		<key>latitude</key>
		<real>4.3612200000000003</real>
		<key>longitude</key>
		<real>18.554960000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596686</string>
		<key>latitude</key>
		<real>4.3666700000000001</real>
		<key>longitude</key>
		<real>18.58333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412482</string>
		<key>latitude</key>
		<real>5.8390399999999998</real>
		<key>longitude</key>
		<real>20.634460000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>242246</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>21.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240604</string>
		<key>latitude</key>
		<real>5.7679499999999999</real>
		<key>longitude</key>
		<real>20.675650000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2226515</string>
		<key>latitude</key>
		<real>4.5833300000000001</real>
		<key>longitude</key>
		<real>12.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2385535</string>
		<key>latitude</key>
		<real>4.9933699999999996</real>
		<key>longitude</key>
		<real>19.961860999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>236887</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>238566</string>
		<key>latitude</key>
		<real>6.2679299999999998</real>
		<key>longitude</key>
		<real>21.224679999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225457</string>
		<key>latitude</key>
		<real>4.6833299999999998</real>
		<key>longitude</key>
		<real>12.366669999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2229748</string>
		<key>latitude</key>
		<real>6.2000000000000002</real>
		<key>longitude</key>
		<real>10.66667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223602</string>
		<key>latitude</key>
		<real>6.3333300000000001</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230641</string>
		<key>latitude</key>
		<real>6.0999999999999996</real>
		<key>longitude</key>
		<real>10.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233376</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231565</string>
		<key>latitude</key>
		<real>5.7333299999999996</real>
		<key>longitude</key>
		<real>10.91667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>244878</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>20.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231506</string>
		<key>latitude</key>
		<real>5.7290999999999999</real>
		<key>longitude</key>
		<real>10.90011</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223734</string>
		<key>latitude</key>
		<real>4.5166700000000004</real>
		<key>longitude</key>
		<real>12.033329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7110232</string>
		<key>latitude</key>
		<real>5.6307499999999999</real>
		<key>longitude</key>
		<real>10.74339</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2224584</string>
		<key>latitude</key>
		<real>4.9500000000000002</real>
		<key>longitude</key>
		<real>11.383330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2228028</string>
		<key>latitude</key>
		<real>4.4500000000000002</real>
		<key>longitude</key>
		<real>11.9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2231504</string>
		<key>latitude</key>
		<real>5.5078699999999996</real>
		<key>longitude</key>
		<real>10.6356</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223421</string>
		<key>latitude</key>
		<real>4.4500000000000002</real>
		<key>longitude</key>
		<real>11.633330000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2233252</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>11.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235194</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>11.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222934</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240049</string>
		<key>latitude</key>
		<real>5.0666700000000002</real>
		<key>longitude</key>
		<real>21.116671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2235189</string>
		<key>latitude</key>
		<real>5.4699999999999998</real>
		<key>longitude</key>
		<real>10.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2223162</string>
		<key>latitude</key>
		<real>4.5999999999999996</real>
		<key>longitude</key>
		<real>11.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240999</string>
		<key>latitude</key>
		<real>5.0266599999999997</real>
		<key>longitude</key>
		<real>21.208759000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234904</string>
		<key>latitude</key>
		<real>5.3799999999999999</real>
		<key>longitude</key>
		<real>10.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2222366</string>
		<key>latitude</key>
		<real>4.3666700000000001</real>
		<key>longitude</key>
		<real>11.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7109573</string>
		<key>latitude</key>
		<real>5.3399999999999999</real>
		<key>longitude</key>
		<real>10.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234803</string>
		<key>latitude</key>
		<real>5.4500000000000002</real>
		<key>longitude</key>
		<real>10.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234968</string>
		<key>latitude</key>
		<real>5.3899999999999997</real>
		<key>longitude</key>
		<real>10.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2221394</string>
		<key>latitude</key>
		<real>4.9666699999999997</real>
		<key>longitude</key>
		<real>10.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234865</string>
		<key>latitude</key>
		<real>5.1409099999999999</real>
		<key>longitude</key>
		<real>10.51975</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2225263</string>
		<key>latitude</key>
		<real>4.7666700000000004</real>
		<key>longitude</key>
		<real>10.83333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2437797</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2230362</string>
		<key>latitude</key>
		<real>4.4333299999999998</real>
		<key>longitude</key>
		<real>11.16667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234842</string>
		<key>latitude</key>
		<real>5.1959</real>
		<key>longitude</key>
		<real>10.384410000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2234635</string>
		<key>latitude</key>
		<real>5.0569499999999996</real>
		<key>longitude</key>
		<real>10.46978</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>240396</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>21.5</real>
	</dict>
</array>
</plist>
