<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2455290</string>
		<key>latitude</key>
		<real>18.440000000000001</real>
		<key>longitude</key>
		<real>1.4099999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2457163</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-0.040000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2450534</string>
		<key>latitude</key>
		<real>16.219999999999999</real>
		<key>longitude</key>
		<real>-0.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2457161</string>
		<key>latitude</key>
		<real>16.640000000000001</real>
		<key>longitude</key>
		<real>1.6399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597449</string>
		<key>latitude</key>
		<real>19.920000000000002</real>
		<key>longitude</key>
		<real>1.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2461003</string>
		<key>latitude</key>
		<real>15.66</real>
		<key>longitude</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449893</string>
		<key>latitude</key>
		<real>20.199999999999999</real>
		<key>longitude</key>
		<real>1.01</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453514</string>
		<key>latitude</key>
		<real>15.92</real>
		<key>longitude</key>
		<real>2.3999999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449067</string>
		<key>latitude</key>
		<real>16.77</real>
		<key>longitude</key>
		<real>-3.0099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2456013</string>
		<key>latitude</key>
		<real>16.699999999999999</real>
		<key>longitude</key>
		<real>-2.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449661</string>
		<key>latitude</key>
		<real>15.19</real>
		<key>longitude</key>
		<real>-1.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448705</string>
		<key>latitude</key>
		<real>15.449999999999999</real>
		<key>longitude</key>
		<real>2.04</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2356982</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-0.33000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2447416</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>0.92000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596771</string>
		<key>latitude</key>
		<real>21.329999999999998</real>
		<key>longitude</key>
		<real>0.94999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460954</string>
		<key>latitude</key>
		<real>18.899999999999999</real>
		<key>longitude</key>
		<real>-3.5299999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449066</string>
		<key>latitude</key>
		<real>20</real>
		<key>longitude</key>
		<real>-3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2360372</string>
		<key>latitude</key>
		<real>14.44</real>
		<key>longitude</key>
		<real>-0.23999999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2456917</string>
		<key>latitude</key>
		<real>16.41</real>
		<key>longitude</key>
		<real>-3.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2355248</string>
		<key>latitude</key>
		<real>14.33</real>
		<key>longitude</key>
		<real>-1.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453866</string>
		<key>latitude</key>
		<real>17</real>
		<key>longitude</key>
		<real>-4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361082</string>
		<key>latitude</key>
		<real>14.039999999999999</real>
		<key>longitude</key>
		<real>-0.029999999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2353785</string>
		<key>latitude</key>
		<real>14.039999999999999</real>
		<key>longitude</key>
		<real>-0.059999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930713</string>
		<key>latitude</key>
		<real>14.029999999999999</real>
		<key>longitude</key>
		<real>-0.050000000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2443250</string>
		<key>latitude</key>
		<real>14.15</real>
		<key>longitude</key>
		<real>1.24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2438678</string>
		<key>latitude</key>
		<real>14.210000000000001</real>
		<key>longitude</key>
		<real>1.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2438855</string>
		<key>latitude</key>
		<real>14.01</real>
		<key>longitude</key>
		<real>0.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2355737</string>
		<key>latitude</key>
		<real>13.92</real>
		<key>longitude</key>
		<real>-0.17000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2458334</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-2.9500000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2595293</string>
		<key>latitude</key>
		<real>14.33</real>
		<key>longitude</key>
		<real>2.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440371</string>
		<key>latitude</key>
		<real>14.32</real>
		<key>longitude</key>
		<real>2.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361177</string>
		<key>latitude</key>
		<real>14.1</real>
		<key>longitude</key>
		<real>-1.6299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2452830</string>
		<key>latitude</key>
		<real>15.93</real>
		<key>longitude</key>
		<real>-3.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597264</string>
		<key>latitude</key>
		<real>13.92</real>
		<key>longitude</key>
		<real>-2.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2355803</string>
		<key>latitude</key>
		<real>13.44</real>
		<key>longitude</key>
		<real>0.53000000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597268</string>
		<key>latitude</key>
		<real>13.42</real>
		<key>longitude</key>
		<real>0.57999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2354349</string>
		<key>latitude</key>
		<real>13.77</real>
		<key>longitude</key>
		<real>-2.0699999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2362973</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>-1.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2357611</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-0.57999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2444995</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>3.3199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2355914</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-1.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2359142</string>
		<key>latitude</key>
		<real>13.33</real>
		<key>longitude</key>
		<real>-1.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2595294</string>
		<key>latitude</key>
		<real>13.52</real>
		<key>longitude</key>
		<real>2.1099999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440485</string>
		<key>latitude</key>
		<real>13.51</real>
		<key>longitude</key>
		<real>2.1099999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930711</string>
		<key>latitude</key>
		<real>13.59</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2569011</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>2.1800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2353568</string>
		<key>latitude</key>
		<real>13.58</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2357043</string>
		<key>latitude</key>
		<real>13.58</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930706</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>-1.0900000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2359608</string>
		<key>latitude</key>
		<real>13.09</real>
		<key>longitude</key>
		<real>-1.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2356948</string>
		<key>latitude</key>
		<real>13.550000000000001</real>
		<key>longitude</key>
		<real>-2.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2362323</string>
		<key>latitude</key>
		<real>12.970000000000001</real>
		<key>longitude</key>
		<real>-0.14000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460489</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>-3.6099999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2360516</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>0.040000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453347</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2442248</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>2.3399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451285</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-4.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6768610</string>
		<key>latitude</key>
		<real>14.51</real>
		<key>longitude</key>
		<real>-4.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597270</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-2.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2360238</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>-2.3500000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453348</string>
		<key>latitude</key>
		<real>14.49</real>
		<key>longitude</key>
		<real>-4.1900000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361809</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>-2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361946</string>
		<key>latitude</key>
		<real>12.67</real>
		<key>longitude</key>
		<real>-0.57999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597259</string>
		<key>latitude</key>
		<real>12.67</real>
		<key>longitude</key>
		<real>0.67000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2360541</string>
		<key>latitude</key>
		<real>12.65</real>
		<key>longitude</key>
		<real>0.48999999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439812</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>2.3700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2353688</string>
		<key>latitude</key>
		<real>12.970000000000001</real>
		<key>longitude</key>
		<real>-2.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2356667</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>-2.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930712</string>
		<key>latitude</key>
		<real>12.59</real>
		<key>longitude</key>
		<real>-1.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2355211</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2353257</string>
		<key>latitude</key>
		<real>12.58</real>
		<key>longitude</key>
		<real>-1.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2356983</string>
		<key>latitude</key>
		<real>12.58</real>
		<key>longitude</key>
		<real>-1.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445486</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>3.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439374</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>5.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361845</string>
		<key>latitude</key>
		<real>12.66</real>
		<key>longitude</key>
		<real>-1.8899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597262</string>
		<key>latitude</key>
		<real>12.58</real>
		<key>longitude</key>
		<real>-1.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2354176</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-3.0699999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445488</string>
		<key>latitude</key>
		<real>13.050000000000001</real>
		<key>longitude</key>
		<real>3.1899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445553</string>
		<key>latitude</key>
		<real>13.640000000000001</real>
		<key>longitude</key>
		<real>4.0300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2449938</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>-4.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2354265</string>
		<key>latitude</key>
		<real>12.77</real>
		<key>longitude</key>
		<real>-2.8799999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439376</string>
		<key>latitude</key>
		<real>14.890000000000001</real>
		<key>longitude</key>
		<real>5.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2450173</string>
		<key>latitude</key>
		<real>22.68</real>
		<key>longitude</key>
		<real>-3.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2458589</string>
		<key>latitude</key>
		<real>13.91</real>
		<key>longitude</key>
		<real>-4.5499999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597265</string>
		<key>latitude</key>
		<real>12.67</real>
		<key>longitude</key>
		<real>-3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2443304</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>5.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2359027</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>-3.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2442478</string>
		<key>latitude</key>
		<real>14.76</real>
		<key>longitude</key>
		<real>5.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2357163</string>
		<key>latitude</key>
		<real>12.73</real>
		<key>longitude</key>
		<real>-3.8700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451274</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-4.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2361477</string>
		<key>latitude</key>
		<real>12.470000000000001</real>
		<key>longitude</key>
		<real>-3.4700000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930701</string>
		<key>latitude</key>
		<real>12.470000000000001</real>
		<key>longitude</key>
		<real>-3.4700000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455465</string>
		<key>latitude</key>
		<real>13.960000000000001</real>
		<key>longitude</key>
		<real>-5.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7015634</string>
		<key>latitude</key>
		<real>13.800000000000001</real>
		<key>longitude</key>
		<real>5.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2437732</string>
		<key>latitude</key>
		<real>13.800000000000001</real>
		<key>longitude</key>
		<real>5.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2335568</string>
		<key>latitude</key>
		<real>12.550000000000001</real>
		<key>longitude</key>
		<real>3.8199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337680</string>
		<key>latitude</key>
		<real>13.73</real>
		<key>longitude</key>
		<real>5.2999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2451778</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>-4.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347116</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>4.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340132</string>
		<key>latitude</key>
		<real>12.640000000000001</real>
		<key>longitude</key>
		<real>4.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2349431</string>
		<key>latitude</key>
		<real>12.74</real>
		<key>longitude</key>
		<real>4.5300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339892</string>
		<key>latitude</key>
		<real>13.359999999999999</real>
		<key>longitude</key>
		<real>5.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2455456</string>
		<key>latitude</key>
		<real>12.84</real>
		<key>longitude</key>
		<real>-4.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2318858</string>
		<key>latitude</key>
		<real>13.289999999999999</real>
		<key>longitude</key>
		<real>5.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2478216</string>
		<key>latitude</key>
		<real>22.789999999999999</real>
		<key>longitude</key>
		<real>5.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2322907</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>5.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2322911</string>
		<key>latitude</key>
		<real>13.06</real>
		<key>longitude</key>
		<real>5.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339811</string>
		<key>latitude</key>
		<real>12.49</real>
		<key>longitude</key>
		<real>4.6399999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340323</string>
		<key>latitude</key>
		<real>13.44</real>
		<key>longitude</key>
		<real>5.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7021662</string>
		<key>latitude</key>
		<real>12.93</real>
		<key>longitude</key>
		<real>5.2000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2324706</string>
		<key>latitude</key>
		<real>13.119999999999999</real>
		<key>longitude</key>
		<real>5.5099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345349</string>
		<key>latitude</key>
		<real>12.85</real>
		<key>longitude</key>
		<real>5.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2342125</string>
		<key>latitude</key>
		<real>12.960000000000001</real>
		<key>longitude</key>
		<real>5.7400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2460377</string>
		<key>latitude</key>
		<real>12.84</real>
		<key>longitude</key>
		<real>-5.7800000000000002</real>
	</dict>
</array>
</plist>
