<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2447513</string>
		<key>latitude</key>
		<real>18.739999999999998</real>
		<key>longitude</key>
		<real>7.3899999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2447938</string>
		<key>latitude</key>
		<real>17.02</real>
		<key>longitude</key>
		<real>8.0199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6306035</string>
		<key>latitude</key>
		<real>16.969999999999999</real>
		<key>longitude</key>
		<real>8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448085</string>
		<key>latitude</key>
		<real>16.969999999999999</real>
		<key>longitude</key>
		<real>7.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440476</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596709</string>
		<key>latitude</key>
		<real>19.370000000000001</real>
		<key>longitude</key>
		<real>5.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448083</string>
		<key>latitude</key>
		<real>19.75</real>
		<key>longitude</key>
		<real>10.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2438974</string>
		<key>latitude</key>
		<real>15.9</real>
		<key>longitude</key>
		<real>5.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448245</string>
		<key>latitude</key>
		<real>15.449999999999999</real>
		<key>longitude</key>
		<real>6.2800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439374</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>5.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439155</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>8.8900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2446267</string>
		<key>latitude</key>
		<real>14.51</real>
		<key>longitude</key>
		<real>6.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441289</string>
		<key>latitude</key>
		<real>14.25</real>
		<key>longitude</key>
		<real>7.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2437797</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>10.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2442478</string>
		<key>latitude</key>
		<real>14.76</real>
		<key>longitude</key>
		<real>5.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2446466</string>
		<key>latitude</key>
		<real>14.42</real>
		<key>longitude</key>
		<real>6.04</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441194</string>
		<key>latitude</key>
		<real>13.960000000000001</real>
		<key>longitude</key>
		<real>7.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439376</string>
		<key>latitude</key>
		<real>14.890000000000001</real>
		<key>longitude</key>
		<real>5.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2438823</string>
		<key>latitude</key>
		<real>13.76</real>
		<key>longitude</key>
		<real>7.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2437798</string>
		<key>latitude</key>
		<real>13.81</real>
		<key>longitude</key>
		<real>8.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6728346</string>
		<key>latitude</key>
		<real>13.779999999999999</real>
		<key>longitude</key>
		<real>8.9700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441530</string>
		<key>latitude</key>
		<real>14.07</real>
		<key>longitude</key>
		<real>5.96</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2443304</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>5.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440921</string>
		<key>latitude</key>
		<real>13.710000000000001</real>
		<key>longitude</key>
		<real>9.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2448024</string>
		<key>latitude</key>
		<real>13.51</real>
		<key>longitude</key>
		<real>7.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2438774</string>
		<key>latitude</key>
		<real>13.56</real>
		<key>longitude</key>
		<real>7.0499999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2444219</string>
		<key>latitude</key>
		<real>13.98</real>
		<key>longitude</key>
		<real>10.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441291</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>7.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441217</string>
		<key>latitude</key>
		<real>13.42</real>
		<key>longitude</key>
		<real>8.4700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345282</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>7.79</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2446796</string>
		<key>latitude</key>
		<real>18.690000000000001</real>
		<key>longitude</key>
		<real>12.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441526</string>
		<key>latitude</key>
		<real>13.31</real>
		<key>longitude</key>
		<real>7.1600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6750152</string>
		<key>latitude</key>
		<real>13.6</real>
		<key>longitude</key>
		<real>10.130000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2336137</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>7.2199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7015634</string>
		<key>latitude</key>
		<real>13.800000000000001</real>
		<key>longitude</key>
		<real>5.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2437732</string>
		<key>latitude</key>
		<real>13.800000000000001</real>
		<key>longitude</key>
		<real>5.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345094</string>
		<key>latitude</key>
		<real>13.039999999999999</real>
		<key>longitude</key>
		<real>8.3200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2317818</string>
		<key>latitude</key>
		<real>13.050000000000001</real>
		<key>longitude</key>
		<real>8.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2337680</string>
		<key>latitude</key>
		<real>13.73</real>
		<key>longitude</key>
		<real>5.2999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330664</string>
		<key>latitude</key>
		<real>12.98</real>
		<key>longitude</key>
		<real>7.9500000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2334802</string>
		<key>latitude</key>
		<real>12.99</real>
		<key>longitude</key>
		<real>7.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441482</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>8.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340323</string>
		<key>latitude</key>
		<real>13.44</real>
		<key>longitude</key>
		<real>5.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2323146</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>6.5099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2324325</string>
		<key>latitude</key>
		<real>12.859999999999999</real>
		<key>longitude</key>
		<real>7.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2330589</string>
		<key>latitude</key>
		<real>13.140000000000001</real>
		<key>longitude</key>
		<real>10.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347483</string>
		<key>latitude</key>
		<real>12.75</real>
		<key>longitude</key>
		<real>7.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2478216</string>
		<key>latitude</key>
		<real>22.789999999999999</real>
		<key>longitude</key>
		<real>5.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2348419</string>
		<key>latitude</key>
		<real>12.77</real>
		<key>longitude</key>
		<real>9.0199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2318858</string>
		<key>latitude</key>
		<real>13.289999999999999</real>
		<key>longitude</key>
		<real>5.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329920</string>
		<key>latitude</key>
		<real>12.869999999999999</real>
		<key>longitude</key>
		<real>6.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339892</string>
		<key>latitude</key>
		<real>13.359999999999999</real>
		<key>longitude</key>
		<real>5.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2334674</string>
		<key>latitude</key>
		<real>12.65</real>
		<key>longitude</key>
		<real>8.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2319345</string>
		<key>latitude</key>
		<real>12.69</real>
		<key>longitude</key>
		<real>7.2000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2324706</string>
		<key>latitude</key>
		<real>13.119999999999999</real>
		<key>longitude</key>
		<real>5.5099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333490</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>10.630000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2342125</string>
		<key>latitude</key>
		<real>12.960000000000001</real>
		<key>longitude</key>
		<real>5.7400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340091</string>
		<key>latitude</key>
		<real>12.630000000000001</real>
		<key>longitude</key>
		<real>9.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2334756</string>
		<key>latitude</key>
		<real>12.59</real>
		<key>longitude</key>
		<real>6.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2322907</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>5.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2322911</string>
		<key>latitude</key>
		<real>13.06</real>
		<key>longitude</key>
		<real>5.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445702</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347116</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>4.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2347041</string>
		<key>latitude</key>
		<real>12.789999999999999</real>
		<key>longitude</key>
		<real>10.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2328952</string>
		<key>latitude</key>
		<real>12.880000000000001</real>
		<key>longitude</key>
		<real>10.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7021662</string>
		<key>latitude</key>
		<real>12.93</real>
		<key>longitude</key>
		<real>5.2000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2322529</string>
		<key>latitude</key>
		<real>12.57</real>
		<key>longitude</key>
		<real>6.0599999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2453514</string>
		<key>latitude</key>
		<real>15.92</real>
		<key>longitude</key>
		<real>2.3999999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345349</string>
		<key>latitude</key>
		<real>12.85</real>
		<key>longitude</key>
		<real>5.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2331037</string>
		<key>latitude</key>
		<real>12.57</real>
		<key>longitude</key>
		<real>9.9600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2444995</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>3.3199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445553</string>
		<key>latitude</key>
		<real>13.640000000000001</real>
		<key>longitude</key>
		<real>4.0300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341656</string>
		<key>latitude</key>
		<real>12.869999999999999</real>
		<key>longitude</key>
		<real>11.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340350</string>
		<key>latitude</key>
		<real>12.640000000000001</real>
		<key>longitude</key>
		<real>10.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2344838</string>
		<key>latitude</key>
		<real>13.109999999999999</real>
		<key>longitude</key>
		<real>11.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339706</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>11.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2441447</string>
		<key>latitude</key>
		<real>13.210000000000001</real>
		<key>longitude</key>
		<real>12.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2440495</string>
		<key>latitude</key>
		<real>14.25</real>
		<key>longitude</key>
		<real>13.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2349431</string>
		<key>latitude</key>
		<real>12.74</real>
		<key>longitude</key>
		<real>4.5300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445486</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>3.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2341294</string>
		<key>latitude</key>
		<real>12.9</real>
		<key>longitude</key>
		<real>11.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2339811</string>
		<key>latitude</key>
		<real>12.49</real>
		<key>longitude</key>
		<real>4.6399999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6777949</string>
		<key>latitude</key>
		<real>13.26</real>
		<key>longitude</key>
		<real>12.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2340132</string>
		<key>latitude</key>
		<real>12.640000000000001</real>
		<key>longitude</key>
		<real>4.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445704</string>
		<key>latitude</key>
		<real>13.32</real>
		<key>longitude</key>
		<real>12.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345172</string>
		<key>latitude</key>
		<real>12.49</real>
		<key>longitude</key>
		<real>11.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2345526</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>12.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2335568</string>
		<key>latitude</key>
		<real>12.550000000000001</real>
		<key>longitude</key>
		<real>3.8199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2445488</string>
		<key>latitude</key>
		<real>13.050000000000001</real>
		<key>longitude</key>
		<real>3.1899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2442248</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>2.3399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2439812</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>2.3700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2333563</string>
		<key>latitude</key>
		<real>12.92</real>
		<key>longitude</key>
		<real>13.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2329946</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>13.609999999999999</real>
	</dict>
</array>
</plist>
