<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2493456</string>
		<key>latitude</key>
		<real>26.48</real>
		<key>longitude</key>
		<real>8.4700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2493455</string>
		<key>latitude</key>
		<real>26.829999999999998</real>
		<key>longitude</key>
		<real>8.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2217350</string>
		<key>latitude</key>
		<real>26.100000000000001</real>
		<key>longitude</key>
		<real>10.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2217351</string>
		<key>latitude</key>
		<real>24.960000000000001</real>
		<key>longitude</key>
		<real>10.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2503633</string>
		<key>latitude</key>
		<real>28.120000000000001</real>
		<key>longitude</key>
		<real>6.8200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2493330</string>
		<key>latitude</key>
		<real>28.039999999999999</real>
		<key>longitude</key>
		<real>9.5399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2478217</string>
		<key>latitude</key>
		<real>23.75</real>
		<key>longitude</key>
		<real>4.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2478216</string>
		<key>latitude</key>
		<real>22.789999999999999</real>
		<key>longitude</key>
		<real>5.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2219235</string>
		<key>latitude</key>
		<real>26.59</real>
		<key>longitude</key>
		<real>12.779999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2217440</string>
		<key>latitude</key>
		<real>30.129999999999999</real>
		<key>longitude</key>
		<real>9.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602693</string>
		<key>latitude</key>
		<real>26.550000000000001</real>
		<key>longitude</key>
		<real>12.85</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2485794</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>6.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2589581</string>
		<key>latitude</key>
		<real>28</real>
		<key>longitude</key>
		<real>3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2220309</string>
		<key>latitude</key>
		<real>27.5</real>
		<key>longitude</key>
		<real>13.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2214432</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>10.85</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2482605</string>
		<key>latitude</key>
		<real>27.27</real>
		<key>longitude</key>
		<real>2.54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2493222</string>
		<key>latitude</key>
		<real>27.190000000000001</real>
		<key>longitude</key>
		<real>2.46</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2214603</string>
		<key>latitude</key>
		<real>25.920000000000002</real>
		<key>longitude</key>
		<real>13.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602689</string>
		<key>latitude</key>
		<real>30.469999999999999</real>
		<key>longitude</key>
		<real>13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2498305</string>
		<key>latitude</key>
		<real>30.57</real>
		<key>longitude</key>
		<real>2.8799999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2496045</string>
		<key>latitude</key>
		<real>31.079999999999998</real>
		<key>longitude</key>
		<real>3.1699999999999999</real>
	</dict>
</array>
</plist>
