<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2476301</string>
		<key>latitude</key>
		<real>27.670000000000002</real>
		<key>longitude</key>
		<real>-8.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2375989</string>
		<key>latitude</key>
		<real>24</real>
		<key>longitude</key>
		<real>-9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2476302</string>
		<key>latitude</key>
		<real>27.420000000000002</real>
		<key>longitude</key>
		<real>-5.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597551</string>
		<key>latitude</key>
		<real>28.829999999999998</real>
		<key>longitude</key>
		<real>-9.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2548525</string>
		<key>latitude</key>
		<real>28.75</real>
		<key>longitude</key>
		<real>-10</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2380975</string>
		<key>latitude</key>
		<real>25.219999999999999</real>
		<key>longitude</key>
		<real>-11.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2461874</string>
		<key>latitude</key>
		<real>26.739999999999998</real>
		<key>longitude</key>
		<real>-11.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2548526</string>
		<key>latitude</key>
		<real>28.989999999999998</real>
		<key>longitude</key>
		<real>-10.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6546501</string>
		<key>latitude</key>
		<real>28.989999999999998</real>
		<key>longitude</key>
		<real>-10.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2530241</string>
		<key>latitude</key>
		<real>28.440000000000001</real>
		<key>longitude</key>
		<real>-11.1</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529621</string>
		<key>latitude</key>
		<real>29.579999999999998</real>
		<key>longitude</key>
		<real>-9.0299999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529362</string>
		<key>latitude</key>
		<real>29.739999999999998</real>
		<key>longitude</key>
		<real>-7.9699999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2531877</string>
		<key>latitude</key>
		<real>29.719999999999999</real>
		<key>longitude</key>
		<real>-8.9700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2527087</string>
		<key>latitude</key>
		<real>29.579999999999998</real>
		<key>longitude</key>
		<real>-9.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545624</string>
		<key>latitude</key>
		<real>29.370000000000001</real>
		<key>longitude</key>
		<real>-10.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2540554</string>
		<key>latitude</key>
		<real>29.629999999999999</real>
		<key>longitude</key>
		<real>-9.5399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2538332</string>
		<key>latitude</key>
		<real>29.579999999999998</real>
		<key>longitude</key>
		<real>-9.6999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2534515</string>
		<key>latitude</key>
		<real>29.379999999999999</real>
		<key>longitude</key>
		<real>-10.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2530395</string>
		<key>latitude</key>
		<real>29.780000000000001</real>
		<key>longitude</key>
		<real>-9.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6547047</string>
		<key>latitude</key>
		<real>29.690000000000001</real>
		<key>longitude</key>
		<real>-9.6999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2527089</string>
		<key>latitude</key>
		<real>29.699999999999999</real>
		<key>longitude</key>
		<real>-9.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2551043</string>
		<key>latitude</key>
		<real>29.710000000000001</real>
		<key>longitude</key>
		<real>-9.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2532230</string>
		<key>latitude</key>
		<real>30.030000000000001</real>
		<key>longitude</key>
		<real>-8.8800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2561978</string>
		<key>latitude</key>
		<real>30.140000000000001</real>
		<key>longitude</key>
		<real>-8.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2545956</string>
		<key>latitude</key>
		<real>30.100000000000001</real>
		<key>longitude</key>
		<real>-9.0299999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2561614</string>
		<key>latitude</key>
		<real>30.219999999999999</real>
		<key>longitude</key>
		<real>-7.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2558337</string>
		<key>latitude</key>
		<real>30.190000000000001</real>
		<key>longitude</key>
		<real>-8.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2556991</string>
		<key>latitude</key>
		<real>30.23</real>
		<key>longitude</key>
		<real>-8.8599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2565267</string>
		<key>latitude</key>
		<real>29.82</real>
		<key>longitude</key>
		<real>-5.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2527825</string>
		<key>latitude</key>
		<real>30.239999999999998</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2527695</string>
		<key>latitude</key>
		<real>30.390000000000001</real>
		<key>longitude</key>
		<real>-8.6999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529251</string>
		<key>latitude</key>
		<real>30.41</real>
		<key>longitude</key>
		<real>-8.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2546466</string>
		<key>latitude</key>
		<real>30.34</real>
		<key>longitude</key>
		<real>-9.4100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529647</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>-8.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2539134</string>
		<key>latitude</key>
		<real>30.390000000000001</real>
		<key>longitude</key>
		<real>-9.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2531014</string>
		<key>latitude</key>
		<real>30.530000000000001</real>
		<key>longitude</key>
		<real>-7.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2557415</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>-8.6099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529649</string>
		<key>latitude</key>
		<real>30.469999999999999</real>
		<key>longitude</key>
		<real>-8.8800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545834</string>
		<key>latitude</key>
		<real>30.469999999999999</real>
		<key>longitude</key>
		<real>-8.8800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545936</string>
		<key>latitude</key>
		<real>30.350000000000001</real>
		<key>longitude</key>
		<real>-9.5399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2545957</string>
		<key>latitude</key>
		<real>30.359999999999999</real>
		<key>longitude</key>
		<real>-9.5399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2550479</string>
		<key>latitude</key>
		<real>30.609999999999999</real>
		<key>longitude</key>
		<real>-8.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529245</string>
		<key>latitude</key>
		<real>30.579999999999998</real>
		<key>longitude</key>
		<real>-7.2000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2462900</string>
		<key>latitude</key>
		<real>27.030000000000001</real>
		<key>longitude</key>
		<real>-13.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2561668</string>
		<key>latitude</key>
		<real>30.420000000000002</real>
		<key>longitude</key>
		<real>-9.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545515</string>
		<key>latitude</key>
		<real>30.420000000000002</real>
		<key>longitude</key>
		<real>-9.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2557533</string>
		<key>latitude</key>
		<real>30.670000000000002</real>
		<key>longitude</key>
		<real>-8.1799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2597554</string>
		<key>latitude</key>
		<real>30.670000000000002</real>
		<key>longitude</key>
		<real>-7.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529723</string>
		<key>latitude</key>
		<real>30.690000000000001</real>
		<key>longitude</key>
		<real>-8.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545905</string>
		<key>latitude</key>
		<real>30.300000000000001</real>
		<key>longitude</key>
		<real>-5.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2560237</string>
		<key>latitude</key>
		<real>30.18</real>
		<key>longitude</key>
		<real>-5.5499999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2557500</string>
		<key>latitude</key>
		<real>30.489999999999998</real>
		<key>longitude</key>
		<real>-9.6400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2526452</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>-5.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6547302</string>
		<key>latitude</key>
		<real>30.350000000000001</real>
		<key>longitude</key>
		<real>-5.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2561655</string>
		<key>latitude</key>
		<real>30.579999999999998</real>
		<key>longitude</key>
		<real>-9.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2568012</string>
		<key>latitude</key>
		<real>30.539999999999999</real>
		<key>longitude</key>
		<real>-9.7100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2462881</string>
		<key>latitude</key>
		<real>27.16</real>
		<key>longitude</key>
		<real>-13.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529923</string>
		<key>latitude</key>
		<real>27.940000000000001</real>
		<key>longitude</key>
		<real>-12.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2555372</string>
		<key>latitude</key>
		<real>30.719999999999999</real>
		<key>longitude</key>
		<real>-9.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2546627</string>
		<key>latitude</key>
		<real>30.84</real>
		<key>longitude</key>
		<real>-7.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2557347</string>
		<key>latitude</key>
		<real>30.780000000000001</real>
		<key>longitude</key>
		<real>-9.1199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2561539</string>
		<key>latitude</key>
		<real>30.690000000000001</real>
		<key>longitude</key>
		<real>-6.4500000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2531994</string>
		<key>latitude</key>
		<real>30.77</real>
		<key>longitude</key>
		<real>-9.4600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2450173</string>
		<key>latitude</key>
		<real>22.68</real>
		<key>longitude</key>
		<real>-3.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2528130</string>
		<key>latitude</key>
		<real>30.879999999999999</real>
		<key>longitude</key>
		<real>-9.0500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2568400</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>-9.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529374</string>
		<key>latitude</key>
		<real>30.920000000000002</real>
		<key>longitude</key>
		<real>-6.9299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2530066</string>
		<key>latitude</key>
		<real>30.920000000000002</real>
		<key>longitude</key>
		<real>-6.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2540850</string>
		<key>latitude</key>
		<real>30.920000000000002</real>
		<key>longitude</key>
		<real>-6.8899999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2540846</string>
		<key>latitude</key>
		<real>30.940000000000001</real>
		<key>longitude</key>
		<real>-6.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2558118</string>
		<key>latitude</key>
		<real>31.039999999999999</real>
		<key>longitude</key>
		<real>-7.21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2561957</string>
		<key>latitude</key>
		<real>31.109999999999999</real>
		<key>longitude</key>
		<real>-8.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2556629</string>
		<key>latitude</key>
		<real>31.140000000000001</real>
		<key>longitude</key>
		<real>-8.3100000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2540512</string>
		<key>latitude</key>
		<real>31.18</real>
		<key>longitude</key>
		<real>-8.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2530843</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>-9.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2375558</string>
		<key>latitude</key>
		<real>22.719999999999999</real>
		<key>longitude</key>
		<real>-12.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2532628</string>
		<key>latitude</key>
		<real>31.059999999999999</real>
		<key>longitude</key>
		<real>-6.5499999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2558052</string>
		<key>latitude</key>
		<real>31.219999999999999</real>
		<key>longitude</key>
		<real>-8.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2527184</string>
		<key>latitude</key>
		<real>31.23</real>
		<key>longitude</key>
		<real>-8.3200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2541830</string>
		<key>latitude</key>
		<real>31.289999999999999</real>
		<key>longitude</key>
		<real>-7.9699999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2530160</string>
		<key>latitude</key>
		<real>31.219999999999999</real>
		<key>longitude</key>
		<real>-9.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6547284</string>
		<key>latitude</key>
		<real>31.260000000000002</real>
		<key>longitude</key>
		<real>-8.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2529019</string>
		<key>latitude</key>
		<real>31.289999999999999</real>
		<key>longitude</key>
		<real>-7.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2551646</string>
		<key>latitude</key>
		<real>31.280000000000001</real>
		<key>longitude</key>
		<real>-8.8599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2555262</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>-9.1799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2569052</string>
		<key>latitude</key>
		<real>31.210000000000001</real>
		<key>longitude</key>
		<real>-9.7100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596325</string>
		<key>latitude</key>
		<real>31.030000000000001</real>
		<key>longitude</key>
		<real>-5.1200000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2558398</string>
		<key>latitude</key>
		<real>31.109999999999999</real>
		<key>longitude</key>
		<real>-5.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2546081</string>
		<key>latitude</key>
		<real>31.370000000000001</real>
		<key>longitude</key>
		<real>-5.79</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2521570</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516883</string>
		<key>latitude</key>
		<real>29.07</real>
		<key>longitude</key>
		<real>-13.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360174</string>
		<key>latitude</key>
		<real>28.969999999999999</real>
		<key>longitude</key>
		<real>-13.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2518348</string>
		<key>latitude</key>
		<real>28.43</real>
		<key>longitude</key>
		<real>-13.869999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510747</string>
		<key>latitude</key>
		<real>29.120000000000001</real>
		<key>longitude</key>
		<real>-13.470000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360173</string>
		<key>latitude</key>
		<real>28.350000000000001</real>
		<key>longitude</key>
		<real>-13.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510715</string>
		<key>latitude</key>
		<real>29.02</real>
		<key>longitude</key>
		<real>-13.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2518338</string>
		<key>latitude</key>
		<real>29.059999999999999</real>
		<key>longitude</key>
		<real>-13.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696897</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>-13.6</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2512186</string>
		<key>latitude</key>
		<real>28.5</real>
		<key>longitude</key>
		<real>-13.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360180</string>
		<key>latitude</key>
		<real>29.16</real>
		<key>longitude</key>
		<real>-13.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516848</string>
		<key>latitude</key>
		<real>28.969999999999999</real>
		<key>longitude</key>
		<real>-13.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2514305</string>
		<key>latitude</key>
		<real>29.16</real>
		<key>longitude</key>
		<real>-13.49</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510573</string>
		<key>latitude</key>
		<real>29.059999999999999</real>
		<key>longitude</key>
		<real>-13.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2516814</string>
		<key>latitude</key>
		<real>29.149999999999999</real>
		<key>longitude</key>
		<real>-13.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2513061</string>
		<key>latitude</key>
		<real>29.219999999999999</real>
		<key>longitude</key>
		<real>-13.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360188</string>
		<key>latitude</key>
		<real>28.98</real>
		<key>longitude</key>
		<real>-13.619999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2511447</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>-13.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6355013</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>-13.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360198</string>
		<key>latitude</key>
		<real>28.940000000000001</real>
		<key>longitude</key>
		<real>-13.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510485</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2513662</string>
		<key>latitude</key>
		<real>28.989999999999998</real>
		<key>longitude</key>
		<real>-13.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360194</string>
		<key>latitude</key>
		<real>29.18</real>
		<key>longitude</key>
		<real>-13.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2514353</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>-13.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510486</string>
		<key>latitude</key>
		<real>29.050000000000001</real>
		<key>longitude</key>
		<real>-13.630000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360187</string>
		<key>latitude</key>
		<real>28.510000000000002</real>
		<key>longitude</key>
		<real>-13.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515133</string>
		<key>latitude</key>
		<real>29.050000000000001</real>
		<key>longitude</key>
		<real>-13.65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510796</string>
		<key>latitude</key>
		<real>29.100000000000001</real>
		<key>longitude</key>
		<real>-13.619999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515698</string>
		<key>latitude</key>
		<real>28.609999999999999</real>
		<key>longitude</key>
		<real>-13.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510105</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>-13.74</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2519217</string>
		<key>latitude</key>
		<real>28.739999999999998</real>
		<key>longitude</key>
		<real>-13.869999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510455</string>
		<key>latitude</key>
		<real>29.059999999999999</real>
		<key>longitude</key>
		<real>-13.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2517747</string>
		<key>latitude</key>
		<real>28.91</real>
		<key>longitude</key>
		<real>-13.779999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2510450</string>
		<key>latitude</key>
		<real>29.039999999999999</real>
		<key>longitude</key>
		<real>-13.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360204</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360184</string>
		<key>latitude</key>
		<real>28.690000000000001</real>
		<key>longitude</key>
		<real>-13.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2512465</string>
		<key>latitude</key>
		<real>28.859999999999999</real>
		<key>longitude</key>
		<real>-13.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2509408</string>
		<key>latitude</key>
		<real>28.960000000000001</real>
		<key>longitude</key>
		<real>-13.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515849</string>
		<key>latitude</key>
		<real>28.68</real>
		<key>longitude</key>
		<real>-13.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2515499</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>-13.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6360199</string>
		<key>latitude</key>
		<real>29.079999999999998</real>
		<key>longitude</key>
		<real>-13.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2505525</string>
		<key>latitude</key>
		<real>30.25</real>
		<key>longitude</key>
		<real>-3.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2538027</string>
		<key>latitude</key>
		<real>31.280000000000001</real>
		<key>longitude</key>
		<real>-4.2699999999999996</real>
	</dict>
</array>
</plist>
