<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2483761</string>
		<key>latitude</key>
		<real>26.719999999999999</real>
		<key>longitude</key>
		<real>0.17000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2508807</string>
		<key>latitude</key>
		<real>25.75</real>
		<key>longitude</key>
		<real>-1</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2506795</string>
		<key>latitude</key>
		<real>26.969999999999999</real>
		<key>longitude</key>
		<real>1.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2507678</string>
		<key>latitude</key>
		<real>26.710000000000001</real>
		<key>longitude</key>
		<real>1.3799999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2474871</string>
		<key>latitude</key>
		<real>27.789999999999999</real>
		<key>longitude</key>
		<real>-0.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2508813</string>
		<key>latitude</key>
		<real>27.870000000000001</real>
		<key>longitude</key>
		<real>-0.28999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2493222</string>
		<key>latitude</key>
		<real>27.190000000000001</real>
		<key>longitude</key>
		<real>2.46</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2482605</string>
		<key>latitude</key>
		<real>27.27</real>
		<key>longitude</key>
		<real>2.54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2476403</string>
		<key>latitude</key>
		<real>29.260000000000002</real>
		<key>longitude</key>
		<real>0.23000000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2589581</string>
		<key>latitude</key>
		<real>28</real>
		<key>longitude</key>
		<real>3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596771</string>
		<key>latitude</key>
		<real>21.329999999999998</real>
		<key>longitude</key>
		<real>0.94999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2478217</string>
		<key>latitude</key>
		<real>23.75</real>
		<key>longitude</key>
		<real>4.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2450173</string>
		<key>latitude</key>
		<real>22.68</real>
		<key>longitude</key>
		<real>-3.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2505525</string>
		<key>latitude</key>
		<real>30.25</real>
		<key>longitude</key>
		<real>-3.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2498305</string>
		<key>latitude</key>
		<real>30.57</real>
		<key>longitude</key>
		<real>2.8799999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2476302</string>
		<key>latitude</key>
		<real>27.420000000000002</real>
		<key>longitude</key>
		<real>-5.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2496045</string>
		<key>latitude</key>
		<real>31.079999999999998</real>
		<key>longitude</key>
		<real>3.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2478216</string>
		<key>latitude</key>
		<real>22.789999999999999</real>
		<key>longitude</key>
		<real>5.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2565267</string>
		<key>latitude</key>
		<real>29.82</real>
		<key>longitude</key>
		<real>-5.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2560237</string>
		<key>latitude</key>
		<real>30.18</real>
		<key>longitude</key>
		<real>-5.5499999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2538027</string>
		<key>latitude</key>
		<real>31.280000000000001</real>
		<key>longitude</key>
		<real>-4.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6545905</string>
		<key>latitude</key>
		<real>30.300000000000001</real>
		<key>longitude</key>
		<real>-5.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2526452</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>-5.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6547302</string>
		<key>latitude</key>
		<real>30.350000000000001</real>
		<key>longitude</key>
		<real>-5.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2596325</string>
		<key>latitude</key>
		<real>31.030000000000001</real>
		<key>longitude</key>
		<real>-5.1200000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2558398</string>
		<key>latitude</key>
		<real>31.109999999999999</real>
		<key>longitude</key>
		<real>-5.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2546081</string>
		<key>latitude</key>
		<real>31.370000000000001</real>
		<key>longitude</key>
		<real>-5.79</real>
	</dict>
</array>
</plist>
