<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3151882</string>
		<key>latitude</key>
		<real>63.460000000000001</real>
		<key>longitude</key>
		<real>8.0099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3136903</string>
		<key>latitude</key>
		<real>62.780000000000001</real>
		<key>longitude</key>
		<real>6.4699999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3141667</string>
		<key>latitude</key>
		<real>62.579999999999998</real>
		<key>longitude</key>
		<real>6.1299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3134955</string>
		<key>latitude</key>
		<real>62.549999999999997</real>
		<key>longitude</key>
		<real>6.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626370</string>
		<key>latitude</key>
		<real>62.810000000000002</real>
		<key>longitude</key>
		<real>6.8899999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3139597</string>
		<key>latitude</key>
		<real>63.729999999999997</real>
		<key>longitude</key>
		<real>8.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3155805</string>
		<key>latitude</key>
		<real>62.5</real>
		<key>longitude</key>
		<real>6.1299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626369</string>
		<key>latitude</key>
		<real>62.5</real>
		<key>longitude</key>
		<real>6.1299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3160310</string>
		<key>latitude</key>
		<real>62.600000000000001</real>
		<key>longitude</key>
		<real>6.4400000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3149312</string>
		<key>latitude</key>
		<real>63.109999999999999</real>
		<key>longitude</key>
		<real>7.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453331</string>
		<key>latitude</key>
		<real>63.109999999999999</real>
		<key>longitude</key>
		<real>7.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626371</string>
		<key>latitude</key>
		<real>62.850000000000001</real>
		<key>longitude</key>
		<real>7.1399999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3156680</string>
		<key>latitude</key>
		<real>62.340000000000003</real>
		<key>longitude</key>
		<real>5.6299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3145922</string>
		<key>latitude</key>
		<real>62.670000000000002</real>
		<key>longitude</key>
		<real>6.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626372</string>
		<key>latitude</key>
		<real>63.049999999999997</real>
		<key>longitude</key>
		<real>7.6299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3163392</string>
		<key>latitude</key>
		<real>62.469999999999999</real>
		<key>longitude</key>
		<real>6.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453341</string>
		<key>latitude</key>
		<real>62.469999999999999</real>
		<key>longitude</key>
		<real>6.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3142061</string>
		<key>latitude</key>
		<real>63.100000000000001</real>
		<key>longitude</key>
		<real>7.8200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3158697</string>
		<key>latitude</key>
		<real>62.920000000000002</real>
		<key>longitude</key>
		<real>7.4500000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3133349</string>
		<key>latitude</key>
		<real>62.340000000000003</real>
		<key>longitude</key>
		<real>5.8499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3148346</string>
		<key>latitude</key>
		<real>62.439999999999998</real>
		<key>longitude</key>
		<real>6.1900000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3153861</string>
		<key>latitude</key>
		<real>62.369999999999997</real>
		<key>longitude</key>
		<real>6.0300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3132428</string>
		<key>latitude</key>
		<real>62.57</real>
		<key>longitude</key>
		<real>6.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3145580</string>
		<key>latitude</key>
		<real>62.740000000000002</real>
		<key>longitude</key>
		<real>7.1600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3145582</string>
		<key>latitude</key>
		<real>62.740000000000002</real>
		<key>longitude</key>
		<real>7.1600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3157656</string>
		<key>latitude</key>
		<real>63.609999999999999</real>
		<key>longitude</key>
		<real>8.9700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3148133</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>5.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3162880</string>
		<key>latitude</key>
		<real>62.75</real>
		<key>longitude</key>
		<real>7.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3161969</string>
		<key>latitude</key>
		<real>62.890000000000001</real>
		<key>longitude</key>
		<real>7.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3138747</string>
		<key>latitude</key>
		<real>62.5</real>
		<key>longitude</key>
		<real>6.7000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3134357</string>
		<key>latitude</key>
		<real>62.579999999999998</real>
		<key>longitude</key>
		<real>6.9299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3162412</string>
		<key>latitude</key>
		<real>63.270000000000003</real>
		<key>longitude</key>
		<real>8.5299999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3345453</string>
		<key>latitude</key>
		<real>62.630000000000003</real>
		<key>longitude</key>
		<real>7.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3152548</string>
		<key>latitude</key>
		<real>62.780000000000001</real>
		<key>longitude</key>
		<real>7.4800000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626374</string>
		<key>latitude</key>
		<real>63.119999999999997</real>
		<key>longitude</key>
		<real>8.3200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3139914</string>
		<key>latitude</key>
		<real>62.049999999999997</real>
		<key>longitude</key>
		<real>5.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626366</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>5.5599999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3139557</string>
		<key>latitude</key>
		<real>62.479999999999997</real>
		<key>longitude</key>
		<real>6.8099999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626368</string>
		<key>latitude</key>
		<real>62.399999999999999</real>
		<key>longitude</key>
		<real>6.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3146487</string>
		<key>latitude</key>
		<real>61.939999999999998</real>
		<key>longitude</key>
		<real>5.1100000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3143333</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>6.1299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3336588</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>6.1299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3224678</string>
		<key>latitude</key>
		<real>62.18</real>
		<key>longitude</key>
		<real>6.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3159198</string>
		<key>latitude</key>
		<real>63.700000000000003</real>
		<key>longitude</key>
		<real>9.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3131449</string>
		<key>latitude</key>
		<real>62.149999999999999</real>
		<key>longitude</key>
		<real>6.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626376</string>
		<key>latitude</key>
		<real>64.170000000000002</real>
		<key>longitude</key>
		<real>10.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3207861</string>
		<key>latitude</key>
		<real>62.909999999999997</real>
		<key>longitude</key>
		<real>8.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2616145</string>
		<key>latitude</key>
		<real>62.280000000000001</real>
		<key>longitude</key>
		<real>-6.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3143410</string>
		<key>latitude</key>
		<real>63.689999999999998</real>
		<key>longitude</key>
		<real>9.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3160100</string>
		<key>latitude</key>
		<real>63.689999999999998</real>
		<key>longitude</key>
		<real>9.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3160491</string>
		<key>latitude</key>
		<real>63.770000000000003</real>
		<key>longitude</key>
		<real>9.8100000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626367</string>
		<key>latitude</key>
		<real>62.380000000000003</real>
		<key>longitude</key>
		<real>6.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626377</string>
		<key>latitude</key>
		<real>64.299999999999997</real>
		<key>longitude</key>
		<real>10.51</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3148602</string>
		<key>latitude</key>
		<real>63.289999999999999</real>
		<key>longitude</key>
		<real>9.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2618795</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>-6.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3158615</string>
		<key>latitude</key>
		<real>62.780000000000001</real>
		<key>longitude</key>
		<real>8.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3145495</string>
		<key>latitude</key>
		<real>62.670000000000002</real>
		<key>longitude</key>
		<real>7.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2621415</string>
		<key>latitude</key>
		<real>62.32</real>
		<key>longitude</key>
		<real>-6.9400000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3163608</string>
		<key>latitude</key>
		<real>63.969999999999999</real>
		<key>longitude</key>
		<real>10.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3135813</string>
		<key>latitude</key>
		<real>62.310000000000002</real>
		<key>longitude</key>
		<real>6.9400000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3162903</string>
		<key>latitude</key>
		<real>63.960000000000001</real>
		<key>longitude</key>
		<real>10.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3163155</string>
		<key>latitude</key>
		<real>62.57</real>
		<key>longitude</key>
		<real>7.6900000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2621808</string>
		<key>latitude</key>
		<real>62.240000000000002</real>
		<key>longitude</key>
		<real>-6.8099999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7798678</string>
		<key>latitude</key>
		<real>62.210000000000001</real>
		<key>longitude</key>
		<real>-6.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3149239</string>
		<key>latitude</key>
		<real>63.399999999999999</real>
		<key>longitude</key>
		<real>9.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622676</string>
		<key>latitude</key>
		<real>62.299999999999997</real>
		<key>longitude</key>
		<real>-7.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622677</string>
		<key>latitude</key>
		<real>62.299999999999997</real>
		<key>longitude</key>
		<real>-7.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626373</string>
		<key>latitude</key>
		<real>62.969999999999999</real>
		<key>longitude</key>
		<real>8.7200000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622387</string>
		<key>latitude</key>
		<real>62.219999999999999</real>
		<key>longitude</key>
		<real>-6.8700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3135132</string>
		<key>latitude</key>
		<real>61.770000000000003</real>
		<key>longitude</key>
		<real>5.2999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3144369</string>
		<key>latitude</key>
		<real>61.909999999999997</real>
		<key>longitude</key>
		<real>5.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3147747</string>
		<key>latitude</key>
		<real>63.509999999999998</real>
		<key>longitude</key>
		<real>9.8100000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614402</string>
		<key>latitude</key>
		<real>62.119999999999997</real>
		<key>longitude</key>
		<real>-6.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3132864</string>
		<key>latitude</key>
		<real>62.299999999999997</real>
		<key>longitude</key>
		<real>7.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626375</string>
		<key>latitude</key>
		<real>63.579999999999998</real>
		<key>longitude</key>
		<real>9.9600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614323</string>
		<key>latitude</key>
		<real>62.25</real>
		<key>longitude</key>
		<real>-7.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2618511</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>-6.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3141866</string>
		<key>latitude</key>
		<real>63.060000000000002</real>
		<key>longitude</key>
		<real>9.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2612225</string>
		<key>latitude</key>
		<real>62.130000000000003</real>
		<key>longitude</key>
		<real>-7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2619504</string>
		<key>latitude</key>
		<real>62.049999999999997</real>
		<key>longitude</key>
		<real>-6.7599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626365</string>
		<key>latitude</key>
		<real>61.969999999999999</real>
		<key>longitude</key>
		<real>6.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2610343</string>
		<key>latitude</key>
		<real>62.159999999999997</real>
		<key>longitude</key>
		<real>-7.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2619693</string>
		<key>latitude</key>
		<real>62.030000000000001</real>
		<key>longitude</key>
		<real>-6.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2616495</string>
		<key>latitude</key>
		<real>62.149999999999999</real>
		<key>longitude</key>
		<real>-7.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3135377</string>
		<key>latitude</key>
		<real>62.68</real>
		<key>longitude</key>
		<real>8.5500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2611396</string>
		<key>latitude</key>
		<real>62.009999999999998</real>
		<key>longitude</key>
		<real>-6.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3132174</string>
		<key>latitude</key>
		<real>61.82</real>
		<key>longitude</key>
		<real>6.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2624653</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>-6.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3135381</string>
		<key>latitude</key>
		<real>62.670000000000002</real>
		<key>longitude</key>
		<real>8.5600000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3143423</string>
		<key>latitude</key>
		<real>63.310000000000002</real>
		<key>longitude</key>
		<real>9.8499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3155473</string>
		<key>latitude</key>
		<real>61.780000000000001</real>
		<key>longitude</key>
		<real>6.2199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3140431</string>
		<key>latitude</key>
		<real>61.770000000000003</real>
		<key>longitude</key>
		<real>6.21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622320</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>-7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2610816</string>
		<key>latitude</key>
		<real>62.079999999999998</real>
		<key>longitude</key>
		<real>-7.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2610685</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>-7.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3154972</string>
		<key>latitude</key>
		<real>62.649999999999999</real>
		<key>longitude</key>
		<real>8.7200000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2616914</string>
		<key>latitude</key>
		<real>62.049999999999997</real>
		<key>longitude</key>
		<real>-7.1900000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3135601</string>
		<key>latitude</key>
		<real>61.899999999999999</real>
		<key>longitude</key>
		<real>6.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2612890</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>-7.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626380</string>
		<key>latitude</key>
		<real>63.329999999999998</real>
		<key>longitude</key>
		<real>10.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626378</string>
		<key>latitude</key>
		<real>63.049999999999997</real>
		<key>longitude</key>
		<real>9.7100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3139148</string>
		<key>latitude</key>
		<real>63.25</real>
		<key>longitude</key>
		<real>10.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614219</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-6.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614212</string>
		<key>latitude</key>
		<real>61.840000000000003</real>
		<key>longitude</key>
		<real>-6.8099999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3133880</string>
		<key>latitude</key>
		<real>63.43</real>
		<key>longitude</key>
		<real>10.4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3133881</string>
		<key>latitude</key>
		<real>63.43</real>
		<key>longitude</key>
		<real>10.4</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3146125</string>
		<key>latitude</key>
		<real>63.289999999999999</real>
		<key>longitude</key>
		<real>10.279999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6692397</string>
		<key>latitude</key>
		<real>62.259999999999998</real>
		<key>longitude</key>
		<real>8.1999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626381</string>
		<key>latitude</key>
		<real>63.299999999999997</real>
		<key>longitude</key>
		<real>10.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3146831</string>
		<key>latitude</key>
		<real>63.130000000000003</real>
		<key>longitude</key>
		<real>10.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626379</string>
		<key>latitude</key>
		<real>63.039999999999999</real>
		<key>longitude</key>
		<real>10.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3161622</string>
		<key>latitude</key>
		<real>62.82</real>
		<key>longitude</key>
		<real>10.01</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3143513</string>
		<key>latitude</key>
		<real>62.590000000000003</real>
		<key>longitude</key>
		<real>9.6899999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3147714</string>
		<key>latitude</key>
		<real>62.119999999999997</real>
		<key>longitude</key>
		<real>8.8599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626331</string>
		<key>latitude</key>
		<real>62.119999999999997</real>
		<key>longitude</key>
		<real>8.8599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626332</string>
		<key>latitude</key>
		<real>61.880000000000003</real>
		<key>longitude</key>
		<real>8.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3159107</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>9.1199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626333</string>
		<key>latitude</key>
		<real>61.840000000000003</real>
		<key>longitude</key>
		<real>8.5700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3147026</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>8.5500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3159049</string>
		<key>latitude</key>
		<real>61.979999999999997</real>
		<key>longitude</key>
		<real>9.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3133053</string>
		<key>latitude</key>
		<real>61.880000000000003</real>
		<key>longitude</key>
		<real>9.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3156868</string>
		<key>latitude</key>
		<real>62.130000000000003</real>
		<key>longitude</key>
		<real>10</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3144096</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>10</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3143120</string>
		<key>latitude</key>
		<real>61.770000000000003</real>
		<key>longitude</key>
		<real>9.5399999999999991</real>
	</dict>
</array>
</plist>
