<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2628020</string>
		<key>latitude</key>
		<real>65.150000000000006</real>
		<key>longitude</key>
		<real>-13.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6354943</string>
		<key>latitude</key>
		<real>65.269999999999996</real>
		<key>longitude</key>
		<real>-14.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2632428</string>
		<key>latitude</key>
		<real>65.030000000000001</real>
		<key>longitude</key>
		<real>-14.220000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2625189</string>
		<key>latitude</key>
		<real>65.760000000000005</real>
		<key>longitude</key>
		<real>-14.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3337405</string>
		<key>latitude</key>
		<real>65</real>
		<key>longitude</key>
		<real>-15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2627642</string>
		<key>latitude</key>
		<real>66.439999999999998</real>
		<key>longitude</key>
		<real>-15.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2632811</string>
		<key>latitude</key>
		<real>64.319999999999993</real>
		<key>longitude</key>
		<real>-15.24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2630299</string>
		<key>latitude</key>
		<real>64.25</real>
		<key>longitude</key>
		<real>-15.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2621415</string>
		<key>latitude</key>
		<real>62.32</real>
		<key>longitude</key>
		<real>-6.9400000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622676</string>
		<key>latitude</key>
		<real>62.299999999999997</real>
		<key>longitude</key>
		<real>-7.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622677</string>
		<key>latitude</key>
		<real>62.299999999999997</real>
		<key>longitude</key>
		<real>-7.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3337404</string>
		<key>latitude</key>
		<real>65.5</real>
		<key>longitude</key>
		<real>-17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614323</string>
		<key>latitude</key>
		<real>62.25</real>
		<key>longitude</key>
		<real>-7.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2616145</string>
		<key>latitude</key>
		<real>62.280000000000001</real>
		<key>longitude</key>
		<real>-6.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2629833</string>
		<key>latitude</key>
		<real>66.040000000000006</real>
		<key>longitude</key>
		<real>-17.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2621808</string>
		<key>latitude</key>
		<real>62.240000000000002</real>
		<key>longitude</key>
		<real>-6.8099999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622387</string>
		<key>latitude</key>
		<real>62.219999999999999</real>
		<key>longitude</key>
		<real>-6.8700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2618795</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>-6.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7798678</string>
		<key>latitude</key>
		<real>62.210000000000001</real>
		<key>longitude</key>
		<real>-6.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2610343</string>
		<key>latitude</key>
		<real>62.159999999999997</real>
		<key>longitude</key>
		<real>-7.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2616495</string>
		<key>latitude</key>
		<real>62.149999999999999</real>
		<key>longitude</key>
		<real>-7.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2612225</string>
		<key>latitude</key>
		<real>62.130000000000003</real>
		<key>longitude</key>
		<real>-7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2612890</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>-7.3600000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2618511</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>-6.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614402</string>
		<key>latitude</key>
		<real>62.119999999999997</real>
		<key>longitude</key>
		<real>-6.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2610816</string>
		<key>latitude</key>
		<real>62.079999999999998</real>
		<key>longitude</key>
		<real>-7.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2610685</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>-7.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2616914</string>
		<key>latitude</key>
		<real>62.049999999999997</real>
		<key>longitude</key>
		<real>-7.1900000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2619504</string>
		<key>latitude</key>
		<real>62.049999999999997</real>
		<key>longitude</key>
		<real>-6.7599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2619693</string>
		<key>latitude</key>
		<real>62.030000000000001</real>
		<key>longitude</key>
		<real>-6.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2622320</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>-7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2611396</string>
		<key>latitude</key>
		<real>62.009999999999998</real>
		<key>longitude</key>
		<real>-6.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2628310</string>
		<key>latitude</key>
		<real>66.540000000000006</real>
		<key>longitude</key>
		<real>-17.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2624653</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>-6.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2629399</string>
		<key>latitude</key>
		<real>65.640000000000001</real>
		<key>longitude</key>
		<real>-18.010000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2633274</string>
		<key>latitude</key>
		<real>65.680000000000007</real>
		<key>longitude</key>
		<real>-18.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614212</string>
		<key>latitude</key>
		<real>61.840000000000003</real>
		<key>longitude</key>
		<real>-6.8099999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2614219</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-6.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2629691</string>
		<key>latitude</key>
		<real>65</real>
		<key>longitude</key>
		<real>-18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2632287</string>
		<key>latitude</key>
		<real>65.969999999999999</real>
		<key>longitude</key>
		<real>-18.530000000000001</real>
	</dict>
</array>
</plist>
