<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7535696</string>
		<key>latitude</key>
		<real>78.052902000000003</real>
		<key>longitude</key>
		<real>17.709961</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2729907</string>
		<key>latitude</key>
		<real>78.218597000000003</real>
		<key>longitude</key>
		<real>15.64007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2729456</string>
		<key>latitude</key>
		<real>78.201851000000005</real>
		<key>longitude</key>
		<real>15.591189999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521757</string>
		<key>latitude</key>
		<real>78.157059000000004</real>
		<key>longitude</key>
		<real>15.86426</real>
	</dict>
</array>
</plist>
