<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>287218</string>
		<key>latitude</key>
		<real>16.996379999999998</real>
		<key>longitude</key>
		<real>54.690632000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411742</string>
		<key>latitude</key>
		<real>18.383329</real>
		<key>longitude</key>
		<real>54.066668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286140</string>
		<key>latitude</key>
		<real>17.670000000000002</real>
		<key>longitude</key>
		<real>54.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287939</string>
		<key>latitude</key>
		<real>19.933330999999999</real>
		<key>longitude</key>
		<real>56.316668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411737</string>
		<key>latitude</key>
		<real>19.950001</real>
		<key>longitude</key>
		<real>56.283329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288131</string>
		<key>latitude</key>
		<real>17.354679000000001</real>
		<key>longitude</key>
		<real>53.965240000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7630442</string>
		<key>latitude</key>
		<real>17.018820000000002</real>
		<key>longitude</key>
		<real>54.099201000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286621</string>
		<key>latitude</key>
		<real>17.015051</real>
		<key>longitude</key>
		<real>54.092368999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286963</string>
		<key>latitude</key>
		<real>21</real>
		<key>longitude</key>
		<real>57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>75000</string>
		<key>latitude</key>
		<real>16.633329</real>
		<key>longitude</key>
		<real>53.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>70656</string>
		<key>latitude</key>
		<real>17.77</real>
		<key>longitude</key>
		<real>52.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7928383</string>
		<key>latitude</key>
		<real>17.32</real>
		<key>longitude</key>
		<real>52.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288602</string>
		<key>latitude</key>
		<real>20.66667</real>
		<key>longitude</key>
		<real>58.883330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>79700</string>
		<key>latitude</key>
		<real>16.210000000000001</real>
		<key>longitude</key>
		<real>52.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289212</string>
		<key>latitude</key>
		<real>22.140000000000001</real>
		<key>longitude</key>
		<real>56.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>75034</string>
		<key>latitude</key>
		<real>15.59</real>
		<key>longitude</key>
		<real>52.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>78566</string>
		<key>latitude</key>
		<real>16.73</real>
		<key>longitude</key>
		<real>51.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289433</string>
		<key>latitude</key>
		<real>22.375601</real>
		<key>longitude</key>
		<real>57.523338000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411735</string>
		<key>latitude</key>
		<real>22.399999999999999</real>
		<key>longitude</key>
		<real>57.533329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411738</string>
		<key>latitude</key>
		<real>22</real>
		<key>longitude</key>
		<real>58.549999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289415</string>
		<key>latitude</key>
		<real>22.383880999999999</real>
		<key>longitude</key>
		<real>58.213248999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71834</string>
		<key>latitude</key>
		<real>15.42</real>
		<key>longitude</key>
		<real>51.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411739</string>
		<key>latitude</key>
		<real>22.93</real>
		<key>longitude</key>
		<real>56.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288899</string>
		<key>latitude</key>
		<real>22.969999999999999</real>
		<key>longitude</key>
		<real>57.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286987</string>
		<key>latitude</key>
		<real>22.93</real>
		<key>longitude</key>
		<real>57.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288902</string>
		<key>latitude</key>
		<real>22.450001</real>
		<key>longitude</key>
		<real>58.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7930439</string>
		<key>latitude</key>
		<real>17.460000000000001</real>
		<key>longitude</key>
		<real>50.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7930440</string>
		<key>latitude</key>
		<real>17.460000000000001</real>
		<key>longitude</key>
		<real>50.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287814</string>
		<key>latitude</key>
		<real>22.93</real>
		<key>longitude</key>
		<real>57.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411720</string>
		<key>latitude</key>
		<real>23.199999999999999</real>
		<key>longitude</key>
		<real>56.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288239</string>
		<key>latitude</key>
		<real>23.050000000000001</real>
		<key>longitude</key>
		<real>57.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289142</string>
		<key>latitude</key>
		<real>22.570999</real>
		<key>longitude</key>
		<real>58.694721000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287830</string>
		<key>latitude</key>
		<real>23.23</real>
		<key>longitude</key>
		<real>56.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287832</string>
		<key>latitude</key>
		<real>22.690570999999998</real>
		<key>longitude</key>
		<real>58.533371000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71005</string>
		<key>latitude</key>
		<real>15.210000000000001</real>
		<key>longitude</key>
		<real>51.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412084</string>
		<key>latitude</key>
		<real>23.300000000000001</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>30485</string>
		<key>latitude</key>
		<real>15.720000000000001</real>
		<key>longitude</key>
		<real>50.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>291279</string>
		<key>latitude</key>
		<real>23.140000000000001</real>
		<key>longitude</key>
		<real>53.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289011</string>
		<key>latitude</key>
		<real>23.390000000000001</real>
		<key>longitude</key>
		<real>57.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288712</string>
		<key>latitude</key>
		<real>22.55283</real>
		<key>longitude</key>
		<real>59.484870999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286245</string>
		<key>latitude</key>
		<real>22.566669000000001</real>
		<key>longitude</key>
		<real>59.528888999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286293</string>
		<key>latitude</key>
		<real>23.32</real>
		<key>longitude</key>
		<real>58.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>75427</string>
		<key>latitude</key>
		<real>12.65</real>
		<key>longitude</key>
		<real>54.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287241</string>
		<key>latitude</key>
		<real>23.373609999999999</real>
		<key>longitude</key>
		<real>58.143329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>72589</string>
		<key>latitude</key>
		<real>12.633330000000001</real>
		<key>longitude</key>
		<real>53.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288721</string>
		<key>latitude</key>
		<real>23.407859999999999</real>
		<key>longitude</key>
		<real>58.128300000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6940758</string>
		<key>latitude</key>
		<real>12.5025</real>
		<key>longitude</key>
		<real>54.008201999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71799</string>
		<key>latitude</key>
		<real>12.68333</real>
		<key>longitude</key>
		<real>53.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290400</string>
		<key>latitude</key>
		<real>23.280000000000001</real>
		<key>longitude</key>
		<real>53.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411740</string>
		<key>latitude</key>
		<real>23.5</real>
		<key>longitude</key>
		<real>58.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71549</string>
		<key>latitude</key>
		<real>15.039999999999999</real>
		<key>longitude</key>
		<real>50.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108241</string>
		<key>latitude</key>
		<real>22.5</real>
		<key>longitude</key>
		<real>51</real>
	</dict>
</array>
</plist>
