<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2966208</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>-9.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963174</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>-8.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965896</string>
		<key>latitude</key>
		<real>54.990000000000002</real>
		<key>longitude</key>
		<real>-8.4299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964817</string>
		<key>latitude</key>
		<real>55.079999999999998</real>
		<key>longitude</key>
		<real>-8.2899999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965934</string>
		<key>latitude</key>
		<real>55.060000000000002</real>
		<key>longitude</key>
		<real>-8.3000000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3316137</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>-9.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3309085</string>
		<key>latitude</key>
		<real>54.960000000000001</real>
		<key>longitude</key>
		<real>-8.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965007</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>-8.2599999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963827</string>
		<key>latitude</key>
		<real>55.049999999999997</real>
		<key>longitude</key>
		<real>-8.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964524</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>-8.3599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964973</string>
		<key>latitude</key>
		<real>55.130000000000003</real>
		<key>longitude</key>
		<real>-8.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962015</string>
		<key>latitude</key>
		<real>54.840000000000003</real>
		<key>longitude</key>
		<real>-8.4700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966646</string>
		<key>latitude</key>
		<real>54.280000000000001</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964503</string>
		<key>latitude</key>
		<real>55.020000000000003</real>
		<key>longitude</key>
		<real>-8.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964735</string>
		<key>latitude</key>
		<real>54.909999999999997</real>
		<key>longitude</key>
		<real>-8.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966935</string>
		<key>latitude</key>
		<real>54.759999999999998</real>
		<key>longitude</key>
		<real>-8.4100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965056</string>
		<key>latitude</key>
		<real>55.119999999999997</real>
		<key>longitude</key>
		<real>-7.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963482</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-8.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965741</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-7.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964006</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>-8.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3308992</string>
		<key>latitude</key>
		<real>54.890000000000001</real>
		<key>longitude</key>
		<real>-8.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3316260</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>-9.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964285</string>
		<key>latitude</key>
		<real>54.869999999999997</real>
		<key>longitude</key>
		<real>-8.1099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3315936</string>
		<key>latitude</key>
		<real>54.280000000000001</real>
		<key>longitude</key>
		<real>-9.0399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963295</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-8.4499999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3308944</string>
		<key>latitude</key>
		<real>54.899999999999999</real>
		<key>longitude</key>
		<real>-8.0399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964751</string>
		<key>latitude</key>
		<real>54.920000000000002</real>
		<key>longitude</key>
		<real>-8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3307495</string>
		<key>latitude</key>
		<real>55.049999999999997</real>
		<key>longitude</key>
		<real>-7.8200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963409</string>
		<key>latitude</key>
		<real>54.240000000000002</real>
		<key>longitude</key>
		<real>-9.0600000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964980</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>-9.3200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965946</string>
		<key>latitude</key>
		<real>54.640000000000001</real>
		<key>longitude</key>
		<real>-8.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961666</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-9.7200000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963284</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>-7.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965689</string>
		<key>latitude</key>
		<real>55.130000000000003</real>
		<key>longitude</key>
		<real>-7.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3315955</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>-9.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966778</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-9.1699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964942</string>
		<key>latitude</key>
		<real>54.210000000000001</real>
		<key>longitude</key>
		<real>-8.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3307595</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>-7.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2960863</string>
		<key>latitude</key>
		<real>54.25</real>
		<key>longitude</key>
		<real>-8.8900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962795</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-9.8200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962505</string>
		<key>latitude</key>
		<real>54.649999999999999</real>
		<key>longitude</key>
		<real>-8.1999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962903</string>
		<key>latitude</key>
		<real>54.380000000000003</real>
		<key>longitude</key>
		<real>-8.6199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961897</string>
		<key>latitude</key>
		<real>55.039999999999999</real>
		<key>longitude</key>
		<real>-7.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963940</string>
		<key>latitude</key>
		<real>54.960000000000001</real>
		<key>longitude</key>
		<real>-7.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962961</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>-7.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964752</string>
		<key>latitude</key>
		<real>54.649999999999999</real>
		<key>longitude</key>
		<real>-8.1199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3315787</string>
		<key>latitude</key>
		<real>53.990000000000002</real>
		<key>longitude</key>
		<real>-9.2400000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962345</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>-9.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961675</string>
		<key>latitude</key>
		<real>54.560000000000002</real>
		<key>longitude</key>
		<real>-8.2100000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961457</string>
		<key>latitude</key>
		<real>54.240000000000002</real>
		<key>longitude</key>
		<real>-8.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961095</string>
		<key>latitude</key>
		<real>54.469999999999999</real>
		<key>longitude</key>
		<real>-8.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966330</string>
		<key>latitude</key>
		<real>54.689999999999998</real>
		<key>longitude</key>
		<real>-7.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311053</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>-8.7200000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965759</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>-8.5299999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962707</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>-7.6200000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3315550</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-10.130000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961422</string>
		<key>latitude</key>
		<real>54.25</real>
		<key>longitude</key>
		<real>-8.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965455</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-10.119999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964653</string>
		<key>latitude</key>
		<real>54.240000000000002</real>
		<key>longitude</key>
		<real>-8.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965929</string>
		<key>latitude</key>
		<real>54.479999999999997</real>
		<key>longitude</key>
		<real>-8.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966698</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>-8.1199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311217</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>-8.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2960970</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>-9.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966668</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>-7.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311596</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>-8.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963025</string>
		<key>latitude</key>
		<real>54.270000000000003</real>
		<key>longitude</key>
		<real>-8.5899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964233</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-9.1199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961337</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>-7.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3315578</string>
		<key>latitude</key>
		<real>53.590000000000003</real>
		<key>longitude</key>
		<real>-9.9600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963162</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-8.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965226</string>
		<key>latitude</key>
		<real>54.859999999999999</real>
		<key>longitude</key>
		<real>-7.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962666</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-9.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966406</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>-8.1799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966203</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>-8.6199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965654</string>
		<key>latitude</key>
		<real>53.850000000000001</real>
		<key>longitude</key>
		<real>-9.3000000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962928</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>-9.5500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3308493</string>
		<key>latitude</key>
		<real>54.759999999999998</real>
		<key>longitude</key>
		<real>-7.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961944</string>
		<key>latitude</key>
		<real>54.869999999999997</real>
		<key>longitude</key>
		<real>-7.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962962</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-9.9499999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311197</string>
		<key>latitude</key>
		<real>54.270000000000003</real>
		<key>longitude</key>
		<real>-8.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963292</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>-7.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965333</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>-8.7799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311206</string>
		<key>latitude</key>
		<real>54.289999999999999</real>
		<key>longitude</key>
		<real>-8.4399999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2967080</string>
		<key>latitude</key>
		<real>54.030000000000001</real>
		<key>longitude</key>
		<real>-8.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961423</string>
		<key>latitude</key>
		<real>54.270000000000003</real>
		<key>longitude</key>
		<real>-8.4700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310979</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>-8.9100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310923</string>
		<key>latitude</key>
		<real>54.210000000000001</real>
		<key>longitude</key>
		<real>-8.5600000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965216</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>-8.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964051</string>
		<key>latitude</key>
		<real>54.770000000000003</real>
		<key>longitude</key>
		<real>-7.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963362</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-8.9600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310920</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>-8.5500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311499</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>-8.3100000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966564</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>-9.3200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965626</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>-7.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966075</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-9.0500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961299</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-8.9499999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966649</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>-9.2200000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965248</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>-8.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961182</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>-8.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964278</string>
		<key>latitude</key>
		<real>54.270000000000003</real>
		<key>longitude</key>
		<real>-8.3399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966703</string>
		<key>latitude</key>
		<real>53.759999999999998</real>
		<key>longitude</key>
		<real>-9.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310955</string>
		<key>latitude</key>
		<real>54.039999999999999</real>
		<key>longitude</key>
		<real>-8.7200000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311152</string>
		<key>latitude</key>
		<real>54.189999999999998</real>
		<key>longitude</key>
		<real>-8.4499999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965765</string>
		<key>latitude</key>
		<real>54.57</real>
		<key>longitude</key>
		<real>-7.8399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961692</string>
		<key>latitude</key>
		<real>54.390000000000001</real>
		<key>longitude</key>
		<real>-8.1099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310956</string>
		<key>latitude</key>
		<real>54.030000000000001</real>
		<key>longitude</key>
		<real>-8.6999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962056</string>
		<key>latitude</key>
		<real>54.549999999999997</real>
		<key>longitude</key>
		<real>-7.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966788</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>-9.1300000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965421</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>-9.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2653594</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>-7.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966700</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>-8.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962706</string>
		<key>latitude</key>
		<real>54.310000000000002</real>
		<key>longitude</key>
		<real>-8.1799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963208</string>
		<key>latitude</key>
		<real>53.850000000000001</real>
		<key>longitude</key>
		<real>-9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964632</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>-8.3000000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6325505</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-8.8499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310905</string>
		<key>latitude</key>
		<real>54.109999999999999</real>
		<key>longitude</key>
		<real>-8.4900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962069</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-9.2799999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966492</string>
		<key>latitude</key>
		<real>54.079999999999998</real>
		<key>longitude</key>
		<real>-8.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963186</string>
		<key>latitude</key>
		<real>54.359999999999999</real>
		<key>longitude</key>
		<real>-8.0399999999999991</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961787</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-8.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963399</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-8.8499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965750</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-8.6899999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310884</string>
		<key>latitude</key>
		<real>54.079999999999998</real>
		<key>longitude</key>
		<real>-8.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2651334</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>-7.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966715</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-9.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311141</string>
		<key>latitude</key>
		<real>54.090000000000003</real>
		<key>longitude</key>
		<real>-8.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964049</string>
		<key>latitude</key>
		<real>54.289999999999999</real>
		<key>longitude</key>
		<real>-7.9900000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965471</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-9</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963248</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-8.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964598</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-8.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965388</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964131</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>-8.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966784</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-8.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2646029</string>
		<key>latitude</key>
		<real>54.469999999999999</real>
		<key>longitude</key>
		<real>-7.6299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521313</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-8.6300000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962306</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-9.2300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966253</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>-8.8499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3311631</string>
		<key>latitude</key>
		<real>54.270000000000003</real>
		<key>longitude</key>
		<real>-7.9000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964677</string>
		<key>latitude</key>
		<real>54.189999999999998</real>
		<key>longitude</key>
		<real>-8.0199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966566</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-8.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966740</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-8.9700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966596</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-8.1999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963281</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>-9.1199999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966769</string>
		<key>latitude</key>
		<real>54.159999999999997</real>
		<key>longitude</key>
		<real>-8.0099999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961757</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-8.1500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965313</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>-8.6699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965119</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-8.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966044</string>
		<key>latitude</key>
		<real>53.969999999999999</real>
		<key>longitude</key>
		<real>-8.3000000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310833</string>
		<key>latitude</key>
		<real>54.090000000000003</real>
		<key>longitude</key>
		<real>-8.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2656557</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>-7.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2649984</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-7.6399999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962975</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3310813</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>-8.1999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964212</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-8.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961481</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-9.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966719</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>-8.6300000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966762</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-8.3000000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966454</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-7.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964584</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>-8.0299999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965570</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-8.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965857</string>
		<key>latitude</key>
		<real>53.5</real>
		<key>longitude</key>
		<real>-9.0199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964494</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-8.7300000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963234</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>-8.5999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961303</string>
		<key>latitude</key>
		<real>54.189999999999998</real>
		<key>longitude</key>
		<real>-7.7000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964913</string>
		<key>latitude</key>
		<real>53.649999999999999</real>
		<key>longitude</key>
		<real>-8.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965727</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-8.0899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2960924</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>-8.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963513</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>-7.9400000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961099</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-8.8499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964420</string>
		<key>latitude</key>
		<real>53.850000000000001</real>
		<key>longitude</key>
		<real>-8.1999999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966507</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-8.4700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966704</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-8.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963176</string>
		<key>latitude</key>
		<real>53.850000000000001</real>
		<key>longitude</key>
		<real>-8.1799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966760</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>-7.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964582</string>
		<key>latitude</key>
		<real>53.93</real>
		<key>longitude</key>
		<real>-8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966293</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-7.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961061</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>-8.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964020</string>
		<key>latitude</key>
		<real>53.609999999999999</real>
		<key>longitude</key>
		<real>-8.5600000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961731</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>-8.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966638</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-7.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966567</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>-8.4800000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962570</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-7.8700000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961327</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>-8.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961561</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-8.5700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964589</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-7.9199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965306</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-7.7800000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961564</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-8.0500000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965036</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>-8.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2967048</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-7.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966973</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-7.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965714</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-7.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966773</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>-8.0800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964204</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-8.2699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963367</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>-7.5300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961732</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-8.1799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965132</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-7.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2960948</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>-7.9299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966756</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-7.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966840</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-8.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963336</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-8.3200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964596</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>-7.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962424</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-7.6299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966873</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-7.5800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962233</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-7.8300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3309508</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-7.5199999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963036</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-7.9800000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963103</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-8.0999999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962840</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>-7.7999999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963366</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>-7.8799999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961566</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-7.5300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961181</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-8.0700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965834</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>-7.9299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962439</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-7.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962839</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-7.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2963538</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-7.8099999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2964990</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-7.6299999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2965739</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-7.6799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966515</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-7.7699999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962983</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-7.6200000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962084</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-7.7000000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2962580</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-7.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2967090</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>-7.6500000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2966482</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>-7.5300000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2961931</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-7.5199999999999996</real>
	</dict>
</array>
</plist>
