<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>178443</string>
		<key>latitude</key>
		<real>1.7471000000000001</real>
		<key>longitude</key>
		<real>40.057319999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400745</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>40.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>200017</string>
		<key>latitude</key>
		<real>3.51667</real>
		<key>longitude</key>
		<real>39.066668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>186180</string>
		<key>latitude</key>
		<real>3.5167000000000002</real>
		<key>longitude</key>
		<real>39.058418000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187585</string>
		<key>latitude</key>
		<real>2.3283900000000002</real>
		<key>longitude</key>
		<real>37.989860999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>58802</string>
		<key>latitude</key>
		<real>3</real>
		<key>longitude</key>
		<real>42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192950</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>65170</string>
		<key>latitude</key>
		<real>2.3446400000000001</real>
		<key>longitude</key>
		<real>42.276440000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64480</string>
		<key>latitude</key>
		<real>2.3166699999999998</real>
		<key>longitude</key>
		<real>42.316668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>52381</string>
		<key>latitude</key>
		<real>1.6279399999999999</real>
		<key>longitude</key>
		<real>42.440658999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>197745</string>
		<key>latitude</key>
		<real>-0.45355000000000001</real>
		<key>longitude</key>
		<real>39.64011</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>58994</string>
		<key>latitude</key>
		<real>3.3289200000000001</real>
		<key>longitude</key>
		<real>42.220908999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>331259</string>
		<key>latitude</key>
		<real>4.0499999999999998</real>
		<key>longitude</key>
		<real>38.299999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>60457</string>
		<key>latitude</key>
		<real>1.2531099999999999</real>
		<key>longitude</key>
		<real>42.573768999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187896</string>
		<key>latitude</key>
		<real>3.9366300000000001</real>
		<key>longitude</key>
		<real>41.867007999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187231</string>
		<key>latitude</key>
		<real>0.23205999999999999</real>
		<key>longitude</key>
		<real>37.940520999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63949</string>
		<key>latitude</key>
		<real>1.0833299999999999</real>
		<key>longitude</key>
		<real>42.583328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56084</string>
		<key>latitude</key>
		<real>1.3333299999999999</real>
		<key>longitude</key>
		<real>42.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56083</string>
		<key>latitude</key>
		<real>0.0</real>
		<key>longitude</key>
		<real>42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400741</string>
		<key>latitude</key>
		<real>0.0</real>
		<key>longitude</key>
		<real>38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>196231</string>
		<key>latitude</key>
		<real>0.35461999999999999</real>
		<key>longitude</key>
		<real>37.582180000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>186827</string>
		<key>latitude</key>
		<real>0.046260000000000003</real>
		<key>longitude</key>
		<real>37.655869000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>54715</string>
		<key>latitude</key>
		<real>3.7937599999999998</real>
		<key>longitude</key>
		<real>42.544497999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56166</string>
		<key>latitude</key>
		<real>0.48829</real>
		<key>longitude</key>
		<real>42.785350999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336231</string>
		<key>latitude</key>
		<real>5.2833300000000003</real>
		<key>longitude</key>
		<real>39.766669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>199284</string>
		<key>latitude</key>
		<real>-0.33316000000000001</real>
		<key>longitude</key>
		<real>37.645882</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56399</string>
		<key>latitude</key>
		<real>0.069680000000000006</real>
		<key>longitude</key>
		<real>42.744968</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>179204</string>
		<key>latitude</key>
		<real>0.089039999999999994</real>
		<key>longitude</key>
		<real>37.241371000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187725</string>
		<key>latitude</key>
		<real>1.0967899999999999</real>
		<key>longitude</key>
		<real>36.697989999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>326036</string>
		<key>latitude</key>
		<real>4.8833299999999999</real>
		<key>longitude</key>
		<real>38.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>55671</string>
		<key>latitude</key>
		<real>-0.35816999999999999</real>
		<key>longitude</key>
		<real>42.545361</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184921</string>
		<key>latitude</key>
		<real>-0.93435000000000001</real>
		<key>longitude</key>
		<real>38.060051000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184433</string>
		<key>latitude</key>
		<real>0.016670000000000001</real>
		<key>longitude</key>
		<real>37.072830000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>194565</string>
		<key>latitude</key>
		<real>-0.33011000000000001</real>
		<key>longitude</key>
		<real>37.316668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>198476</string>
		<key>latitude</key>
		<real>-0.53112000000000004</real>
		<key>longitude</key>
		<real>37.450600000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64538</string>
		<key>latitude</key>
		<real>3</real>
		<key>longitude</key>
		<real>43.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184367</string>
		<key>latitude</key>
		<real>-0.16755999999999999</real>
		<key>longitude</key>
		<real>37.02129</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192859</string>
		<key>latitude</key>
		<real>-0.49886000000000003</real>
		<key>longitude</key>
		<real>37.280312000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63580</string>
		<key>latitude</key>
		<real>-1.21933</real>
		<key>longitude</key>
		<real>41.837359999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>50814</string>
		<key>latitude</key>
		<real>3.80958</real>
		<key>longitude</key>
		<real>43.246281000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64536</string>
		<key>latitude</key>
		<real>3.1138300000000001</real>
		<key>longitude</key>
		<real>43.649799000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192295</string>
		<key>latitude</key>
		<real>-0.39385999999999999</real>
		<key>longitude</key>
		<real>37.001209000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>180868</string>
		<key>latitude</key>
		<real>-0.67000000000000004</real>
		<key>longitude</key>
		<real>37.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>180992</string>
		<key>latitude</key>
		<real>0.26699000000000001</real>
		<key>longitude</key>
		<real>36.53886</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>182701</string>
		<key>latitude</key>
		<real>-0.42013</real>
		<key>longitude</key>
		<real>36.947589999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>328716</string>
		<key>latitude</key>
		<real>5.75</real>
		<key>longitude</key>
		<real>38.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>193627</string>
		<key>latitude</key>
		<real>-0.69999999999999996</real>
		<key>longitude</key>
		<real>37.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>191038</string>
		<key>latitude</key>
		<real>-1.3700000000000001</real>
		<key>longitude</key>
		<real>38.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>185579</string>
		<key>latitude</key>
		<real>-0.71999999999999997</real>
		<key>longitude</key>
		<real>37.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>49593</string>
		<key>latitude</key>
		<real>4.5499999999999998</real>
		<key>longitude</key>
		<real>43.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>181735</string>
		<key>latitude</key>
		<real>-0.56516</real>
		<key>longitude</key>
		<real>36.960911000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187733</string>
		<key>latitude</key>
		<real>-0.78000000000000003</real>
		<key>longitude</key>
		<real>37.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>333103</string>
		<key>latitude</key>
		<real>5.8833299999999999</real>
		<key>longitude</key>
		<real>38.983330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>344620</string>
		<key>latitude</key>
		<real>5.6333299999999999</real>
		<key>longitude</key>
		<real>38.233330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>194451</string>
		<key>latitude</key>
		<real>-0.68000000000000005</real>
		<key>longitude</key>
		<real>36.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400742</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>332817</string>
		<key>latitude</key>
		<real>5.25</real>
		<key>longitude</key>
		<real>37.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>183027</string>
		<key>latitude</key>
		<real>0.042099999999999999</real>
		<key>longitude</key>
		<real>36.367339999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>183689</string>
		<key>latitude</key>
		<real>-2.0698099999999999</real>
		<key>longitude</key>
		<real>40.676600999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63571</string>
		<key>latitude</key>
		<real>2.8025699999999998</real>
		<key>longitude</key>
		<real>44.078060000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>179330</string>
		<key>latitude</key>
		<real>-1.03</real>
		<key>longitude</key>
		<real>37.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>194406</string>
		<key>latitude</key>
		<real>-1.3</real>
		<key>longitude</key>
		<real>37.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400744</string>
		<key>latitude</key>
		<real>0.5</real>
		<key>longitude</key>
		<real>36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>200575</string>
		<key>latitude</key>
		<real>0.46666999999999997</real>
		<key>longitude</key>
		<real>35.966670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>343846</string>
		<key>latitude</key>
		<real>6.3333300000000001</real>
		<key>longitude</key>
		<real>39.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>189741</string>
		<key>latitude</key>
		<real>-2.27</real>
		<key>longitude</key>
		<real>40.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>178093</string>
		<key>latitude</key>
		<real>-2.3900000000000001</real>
		<key>longitude</key>
		<real>40.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>51966</string>
		<key>latitude</key>
		<real>1.8333299999999999</real>
		<key>longitude</key>
		<real>44.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>49747</string>
		<key>latitude</key>
		<real>4.1212900000000001</real>
		<key>longitude</key>
		<real>43.889449999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188492</string>
		<key>latitude</key>
		<real>-1.52</real>
		<key>longitude</key>
		<real>37.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>178077</string>
		<key>latitude</key>
		<real>-1.78</real>
		<key>longitude</key>
		<real>37.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184707</string>
		<key>latitude</key>
		<real>-0.71999999999999997</real>
		<key>longitude</key>
		<real>36.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192710</string>
		<key>latitude</key>
		<real>-1.1699999999999999</real>
		<key>longitude</key>
		<real>36.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188080</string>
		<key>latitude</key>
		<real>-1.8</real>
		<key>longitude</key>
		<real>37.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336526</string>
		<key>latitude</key>
		<real>5.6500000000000004</real>
		<key>longitude</key>
		<real>37.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192202</string>
		<key>latitude</key>
		<real>-0.93000000000000005</real>
		<key>longitude</key>
		<real>36.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>198442</string>
		<key>latitude</key>
		<real>-1.3</real>
		<key>longitude</key>
		<real>36.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>195821</string>
		<key>latitude</key>
		<real>0.49193999999999999</real>
		<key>longitude</key>
		<real>35.743031000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>52867</string>
		<key>latitude</key>
		<real>1.7878400000000001</real>
		<key>longitude</key>
		<real>44.529991000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>189280</string>
		<key>latitude</key>
		<real>3.11911</real>
		<key>longitude</key>
		<real>35.597270999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>189773</string>
		<key>latitude</key>
		<real>-0.29999999999999999</real>
		<key>longitude</key>
		<real>36.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184622</string>
		<key>latitude</key>
		<real>-0.28333000000000003</real>
		<key>longitude</key>
		<real>36.066668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>181656</string>
		<key>latitude</key>
		<real>-1.25</real>
		<key>longitude</key>
		<real>36.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184742</string>
		<key>latitude</key>
		<real>-1.28</real>
		<key>longitude</key>
		<real>36.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>191675</string>
		<key>latitude</key>
		<real>-2.5299999999999998</real>
		<key>longitude</key>
		<real>40.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>189386</string>
		<key>latitude</key>
		<real>-1.1000000000000001</real>
		<key>longitude</key>
		<real>36.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184745</string>
		<key>latitude</key>
		<real>-1.28</real>
		<key>longitude</key>
		<real>36.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>200787</string>
		<key>latitude</key>
		<real>-1.45</real>
		<key>longitude</key>
		<real>36.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184736</string>
		<key>latitude</key>
		<real>-1.3200000000000001</real>
		<key>longitude</key>
		<real>36.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>327162</string>
		<key>latitude</key>
		<real>4.9666699999999997</real>
		<key>longitude</key>
		<real>36.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192126</string>
		<key>latitude</key>
		<real>-1.25</real>
		<key>longitude</key>
		<real>36.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>181135</string>
		<key>latitude</key>
		<real>-0.17333000000000001</real>
		<key>longitude</key>
		<real>35.863818999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>198636</string>
		<key>latitude</key>
		<real>0.051580000000000001</real>
		<key>longitude</key>
		<real>35.730781999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>197392</string>
		<key>latitude</key>
		<real>-1.2</real>
		<key>longitude</key>
		<real>36.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>343663</string>
		<key>latitude</key>
		<real>6.0333300000000003</real>
		<key>longitude</key>
		<real>37.549999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>190544</string>
		<key>latitude</key>
		<real>-1.74</real>
		<key>longitude</key>
		<real>37.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>335286</string>
		<key>latitude</key>
		<real>6.4833299999999996</real>
		<key>longitude</key>
		<real>38.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>338998</string>
		<key>latitude</key>
		<real>6.4166699999999999</real>
		<key>longitude</key>
		<real>38.316668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>183595</string>
		<key>latitude</key>
		<real>-1.3600000000000001</real>
		<key>longitude</key>
		<real>36.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>54225</string>
		<key>latitude</key>
		<real>1.71594</real>
		<key>longitude</key>
		<real>44.771659999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>331968</string>
		<key>latitude</key>
		<real>4.8333300000000001</real>
		<key>longitude</key>
		<real>36.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>186315</string>
		<key>latitude</key>
		<real>-0.24790000000000001</real>
		<key>longitude</key>
		<real>35.737431000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>199604</string>
		<key>latitude</key>
		<real>1.3077399999999999</real>
		<key>longitude</key>
		<real>35.203899</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>181562</string>
		<key>latitude</key>
		<real>-2.1299999999999999</real>
		<key>longitude</key>
		<real>37.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>326321</string>
		<key>latitude</key>
		<real>6.5999999999999996</real>
		<key>longitude</key>
		<real>38.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188981</string>
		<key>latitude</key>
		<real>-0.16496</real>
		<key>longitude</key>
		<real>35.590857999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>50672</string>
		<key>latitude</key>
		<real>2.6185</real>
		<key>longitude</key>
		<real>44.893799000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>51299</string>
		<key>latitude</key>
		<real>4.0189700000000004</real>
		<key>longitude</key>
		<real>44.511119999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>333750</string>
		<key>latitude</key>
		<real>5.6500000000000004</real>
		<key>longitude</key>
		<real>36.650002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>198629</string>
		<key>latitude</key>
		<real>0.52036000000000004</real>
		<key>longitude</key>
		<real>35.269919999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>325780</string>
		<key>latitude</key>
		<real>6.75</real>
		<key>longitude</key>
		<real>38.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336350</string>
		<key>latitude</key>
		<real>7.0166700000000004</real>
		<key>longitude</key>
		<real>39.983330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>195298</string>
		<key>latitude</key>
		<real>-1.8500000000000001</real>
		<key>longitude</key>
		<real>36.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400740</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>39.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>186101</string>
		<key>latitude</key>
		<real>-2.6899999999999999</real>
		<key>longitude</key>
		<real>38.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188617</string>
		<key>latitude</key>
		<real>-0.20000000000000001</real>
		<key>longitude</key>
		<real>35.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>235191</string>
		<key>latitude</key>
		<real>1.95</real>
		<key>longitude</key>
		<real>34.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>338726</string>
		<key>latitude</key>
		<real>6.9833299999999996</real>
		<key>longitude</key>
		<real>39.183331000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>191220</string>
		<key>latitude</key>
		<real>1.01572</real>
		<key>longitude</key>
		<real>35.006222000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>186531</string>
		<key>latitude</key>
		<real>0.31667000000000001</real>
		<key>longitude</key>
		<real>35.183331000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>342856</string>
		<key>latitude</key>
		<real>5.7833300000000003</real>
		<key>longitude</key>
		<real>36.566668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>332129</string>
		<key>latitude</key>
		<real>6.8666700000000001</real>
		<key>longitude</key>
		<real>38.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>65785</string>
		<key>latitude</key>
		<real>2.1381000000000001</real>
		<key>longitude</key>
		<real>45.121200999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>343413</string>
		<key>latitude</key>
		<real>7.0999999999999996</real>
		<key>longitude</key>
		<real>39.200001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184379</string>
		<key>latitude</key>
		<real>-1.0800000000000001</real>
		<key>longitude</key>
		<real>35.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184471</string>
		<key>latitude</key>
		<real>0.1066</real>
		<key>longitude</key>
		<real>35.183781000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336454</string>
		<key>latitude</key>
		<real>7.1333299999999999</real>
		<key>longitude</key>
		<real>40.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>444188</string>
		<key>latitude</key>
		<real>6.0586200000000003</real>
		<key>longitude</key>
		<real>36.727299000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>332938</string>
		<key>latitude</key>
		<real>7.0666700000000002</real>
		<key>longitude</key>
		<real>38.783329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>194038</string>
		<key>latitude</key>
		<real>0.20387</real>
		<key>longitude</key>
		<real>35.104999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>448226</string>
		<key>latitude</key>
		<real>1.9166700000000001</real>
		<key>longitude</key>
		<real>34.783329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187968</string>
		<key>latitude</key>
		<real>-3.2200000000000002</real>
		<key>longitude</key>
		<real>40.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>185939</string>
		<key>latitude</key>
		<real>-0.15406</real>
		<key>longitude</key>
		<real>35.198779999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>343137</string>
		<key>latitude</key>
		<real>7.0499999999999998</real>
		<key>longitude</key>
		<real>38.466670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192900</string>
		<key>latitude</key>
		<real>-0.36774000000000001</real>
		<key>longitude</key>
		<real>35.283138000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336259</string>
		<key>latitude</key>
		<real>5.8872200000000001</real>
		<key>longitude</key>
		<real>43.597777999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>234328</string>
		<key>latitude</key>
		<real>1.2591699999999999</real>
		<key>longitude</key>
		<real>34.753891000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>337853</string>
		<key>latitude</key>
		<real>6.2999999999999998</real>
		<key>longitude</key>
		<real>36.883330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>53654</string>
		<key>latitude</key>
		<real>2.0371100000000002</real>
		<key>longitude</key>
		<real>45.34375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>193980</string>
		<key>latitude</key>
		<real>-0.40394000000000002</real>
		<key>longitude</key>
		<real>35.224411000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>229112</string>
		<key>latitude</key>
		<real>2.5345300000000002</real>
		<key>longitude</key>
		<real>34.666592000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>228512</string>
		<key>latitude</key>
		<real>2.51667</real>
		<key>longitude</key>
		<real>34.650002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>328689</string>
		<key>latitude</key>
		<real>7.2000000000000002</real>
		<key>longitude</key>
		<real>38.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188408</string>
		<key>latitude</key>
		<real>-1.8999999999999999</real>
		<key>longitude</key>
		<real>36.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443356</string>
		<key>latitude</key>
		<real>2.6389</real>
		<key>longitude</key>
		<real>34.643951000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64833</string>
		<key>latitude</key>
		<real>2.1166700000000001</real>
		<key>longitude</key>
		<real>45.400002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>341877</string>
		<key>latitude</key>
		<real>6.9666699999999997</real>
		<key>longitude</key>
		<real>37.866669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>178202</string>
		<key>latitude</key>
		<real>0.60750999999999999</real>
		<key>longitude</key>
		<real>34.769660999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>200308</string>
		<key>latitude</key>
		<real>-0.78000000000000003</real>
		<key>longitude</key>
		<real>35.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>189367</string>
		<key>latitude</key>
		<real>-0.57999999999999996</real>
		<key>longitude</key>
		<real>35.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>234769</string>
		<key>latitude</key>
		<real>1.4166700000000001</real>
		<key>longitude</key>
		<real>34.533329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>195272</string>
		<key>latitude</key>
		<real>0.28421999999999997</real>
		<key>longitude</key>
		<real>34.752281000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>201229</string>
		<key>latitude</key>
		<real>-0.17462</real>
		<key>longitude</key>
		<real>34.916302000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56335</string>
		<key>latitude</key>
		<real>2.7808700000000002</real>
		<key>longitude</key>
		<real>45.500481000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>343593</string>
		<key>latitude</key>
		<real>7.0666700000000002</real>
		<key>longitude</key>
		<real>37.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>184570</string>
		<key>latitude</key>
		<real>-2.54</real>
		<key>longitude</key>
		<real>36.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>179888</string>
		<key>latitude</key>
		<real>-0.68000000000000005</real>
		<key>longitude</key>
		<real>35.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>189574</string>
		<key>latitude</key>
		<real>-1.1100000000000001</real>
		<key>longitude</key>
		<real>35.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>232235</string>
		<key>latitude</key>
		<real>1.3999999999999999</real>
		<key>longitude</key>
		<real>34.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>178522</string>
		<key>latitude</key>
		<real>-3.3900000000000001</real>
		<key>longitude</key>
		<real>38.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>151988</string>
		<key>latitude</key>
		<real>-2.5499999999999998</real>
		<key>longitude</key>
		<real>36.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188121</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>38.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>54460</string>
		<key>latitude</key>
		<real>2.9725999999999999</real>
		<key>longitude</key>
		<real>45.534697999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400743</string>
		<key>latitude</key>
		<real>0.5</real>
		<key>longitude</key>
		<real>34.583328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>200067</string>
		<key>latitude</key>
		<real>0.5635</real>
		<key>longitude</key>
		<real>34.560550999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>62660</string>
		<key>latitude</key>
		<real>4.4333299999999998</real>
		<key>longitude</key>
		<real>45.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192067</string>
		<key>latitude</key>
		<real>-3.6299999999999999</real>
		<key>longitude</key>
		<real>39.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>191245</string>
		<key>latitude</key>
		<real>-0.10221</real>
		<key>longitude</key>
		<real>34.761710999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>178073</string>
		<key>latitude</key>
		<real>-3.3999999999999999</real>
		<key>longitude</key>
		<real>38.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>332880</string>
		<key>latitude</key>
		<real>7.3166700000000002</real>
		<key>longitude</key>
		<real>38.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>230088</string>
		<key>latitude</key>
		<real>2.3333300000000001</real>
		<key>longitude</key>
		<real>34.349997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>234306</string>
		<key>latitude</key>
		<real>1.1666700000000001</real>
		<key>longitude</key>
		<real>34.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>179634</string>
		<key>latitude</key>
		<real>-3.6800000000000002</real>
		<key>longitude</key>
		<real>39.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>181389</string>
		<key>latitude</key>
		<real>-0.066669999999999993</real>
		<key>longitude</key>
		<real>34.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7911406</string>
		<key>latitude</key>
		<real>0.97841999999999996</real>
		<key>longitude</key>
		<real>34.374298000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>187977</string>
		<key>latitude</key>
		<real>0.68000000000000005</real>
		<key>longitude</key>
		<real>34.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>185702</string>
		<key>latitude</key>
		<real>0.34000000000000002</real>
		<key>longitude</key>
		<real>34.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56414</string>
		<key>latitude</key>
		<real>3.3765999999999998</real>
		<key>longitude</key>
		<real>45.599601999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>192869</string>
		<key>latitude</key>
		<real>-0.78000000000000003</real>
		<key>longitude</key>
		<real>34.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>155848</string>
		<key>latitude</key>
		<real>-2.73</real>
		<key>longitude</key>
		<real>36.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>178040</string>
		<key>latitude</key>
		<real>0.10000000000000001</real>
		<key>longitude</key>
		<real>34.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>199971</string>
		<key>latitude</key>
		<real>0.20999999999999999</real>
		<key>longitude</key>
		<real>34.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>181702</string>
		<key>latitude</key>
		<real>-0.51000000000000001</real>
		<key>longitude</key>
		<real>34.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>57060</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>45.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63689</string>
		<key>latitude</key>
		<real>3.8537499999999998</real>
		<key>longitude</key>
		<real>45.567439999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64460</string>
		<key>latitude</key>
		<real>4.73583</real>
		<key>longitude</key>
		<real>45.203609</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>188011</string>
		<key>latitude</key>
		<real>0.12194000000000001</real>
		<key>longitude</key>
		<real>34.435279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>191299</string>
		<key>latitude</key>
		<real>-0.68000000000000005</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>179525</string>
		<key>latitude</key>
		<real>-3.3999999999999999</real>
		<key>longitude</key>
		<real>37.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154733</string>
		<key>latitude</key>
		<real>-3.23</real>
		<key>longitude</key>
		<real>37.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>182498</string>
		<key>latitude</key>
		<real>-0.80000000000000004</real>
		<key>longitude</key>
		<real>34.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153209</string>
		<key>latitude</key>
		<real>-3.3500000000000001</real>
		<key>longitude</key>
		<real>37.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>196740</string>
		<key>latitude</key>
		<real>-0.42999999999999999</real>
		<key>longitude</key>
		<real>34.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>182763</string>
		<key>latitude</key>
		<real>-0.5</real>
		<key>longitude</key>
		<real>34.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161100</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>37.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>157268</string>
		<key>latitude</key>
		<real>-3.2799999999999998</real>
		<key>longitude</key>
		<real>36.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>196742</string>
		<key>latitude</key>
		<real>-0.53000000000000003</real>
		<key>longitude</key>
		<real>34.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>150689</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>36.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>151445</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>36.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>149155</string>
		<key>latitude</key>
		<real>-3.3700000000000001</real>
		<key>longitude</key>
		<real>36.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>191837</string>
		<key>latitude</key>
		<real>-1.1799999999999999</real>
		<key>longitude</key>
		<real>34.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161325</string>
		<key>latitude</key>
		<real>-3.3700000000000001</real>
		<key>longitude</key>
		<real>36.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154758</string>
		<key>latitude</key>
		<real>-3.3700000000000001</real>
		<key>longitude</key>
		<real>36.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>186731</string>
		<key>latitude</key>
		<real>-1.0600000000000001</real>
		<key>longitude</key>
		<real>34.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6640202</string>
		<key>latitude</key>
		<real>-3.5600000000000001</real>
		<key>longitude</key>
		<real>36.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>154321</string>
		<key>latitude</key>
		<real>-3.5699999999999998</real>
		<key>longitude</key>
		<real>36.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>333516</string>
		<key>latitude</key>
		<real>6.7400000000000002</real>
		<key>longitude</key>
		<real>44.278061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>153247</string>
		<key>latitude</key>
		<real>-3.2999999999999998</real>
		<key>longitude</key>
		<real>36.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>444186</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161322</string>
		<key>latitude</key>
		<real>-3</real>
		<key>longitude</key>
		<real>36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>149854</string>
		<key>latitude</key>
		<real>-1.23</real>
		<key>longitude</key>
		<real>34.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>341742</string>
		<key>latitude</key>
		<real>7.2833300000000003</real>
		<key>longitude</key>
		<real>36.233330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>333772</string>
		<key>latitude</key>
		<real>7.6666699999999999</real>
		<key>longitude</key>
		<real>36.833328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152663</string>
		<key>latitude</key>
		<real>-1.8500000000000001</real>
		<key>longitude</key>
		<real>34.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>149581</string>
		<key>latitude</key>
		<real>-1.3500000000000001</real>
		<key>longitude</key>
		<real>34.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>330534</string>
		<key>latitude</key>
		<real>6.9833299999999996</real>
		<key>longitude</key>
		<real>35.583328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>152743</string>
		<key>latitude</key>
		<real>-3.3500000000000001</real>
		<key>longitude</key>
		<real>35.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>158324</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>35.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>327694</string>
		<key>latitude</key>
		<real>7.2000000000000002</real>
		<key>longitude</key>
		<real>35.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>151610</string>
		<key>latitude</key>
		<real>-3.2400000000000002</real>
		<key>longitude</key>
		<real>35.490000000000002</real>
	</dict>
</array>
</plist>
