<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3356332</string>
		<key>latitude</key>
		<real>-21.93</real>
		<key>longitude</key>
		<real>15.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353871</string>
		<key>latitude</key>
		<real>-22.350000000000001</real>
		<key>longitude</key>
		<real>16.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352461</string>
		<key>latitude</key>
		<real>-22</real>
		<key>longitude</key>
		<real>15.6</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354540</string>
		<key>latitude</key>
		<real>-21.43</real>
		<key>longitude</key>
		<real>15.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371199</string>
		<key>latitude</key>
		<real>-22.079999999999998</real>
		<key>longitude</key>
		<real>15.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354898</string>
		<key>latitude</key>
		<real>-21.98</real>
		<key>longitude</key>
		<real>16.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3355338</string>
		<key>latitude</key>
		<real>-22</real>
		<key>longitude</key>
		<real>17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3358670</string>
		<key>latitude</key>
		<real>-22.420000000000002</real>
		<key>longitude</key>
		<real>14.970000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3357953</string>
		<key>latitude</key>
		<real>-22.329999999999998</real>
		<key>longitude</key>
		<real>17.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371350</string>
		<key>latitude</key>
		<real>-22.57</real>
		<key>longitude</key>
		<real>17.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352136</string>
		<key>latitude</key>
		<real>-22.559999999999999</real>
		<key>longitude</key>
		<real>17.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3358815</string>
		<key>latitude</key>
		<real>-22.609999999999999</real>
		<key>longitude</key>
		<real>17.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353907</string>
		<key>latitude</key>
		<real>-22.390000000000001</real>
		<key>longitude</key>
		<real>17.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352137</string>
		<key>latitude</key>
		<real>-22.75</real>
		<key>longitude</key>
		<real>17.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352844</string>
		<key>latitude</key>
		<real>-22.68</real>
		<key>longitude</key>
		<real>14.529999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356832</string>
		<key>latitude</key>
		<real>-22.120000000000001</real>
		<key>longitude</key>
		<real>14.279999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363754</string>
		<key>latitude</key>
		<real>-22.949999999999999</real>
		<key>longitude</key>
		<real>14.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353540</string>
		<key>latitude</key>
		<real>-23.32</real>
		<key>longitude</key>
		<real>17.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353811</string>
		<key>latitude</key>
		<real>-20.460000000000001</real>
		<key>longitude</key>
		<real>16.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3359638</string>
		<key>latitude</key>
		<real>-22.960000000000001</real>
		<key>longitude</key>
		<real>14.51</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3364236</string>
		<key>latitude</key>
		<real>-22.98</real>
		<key>longitude</key>
		<real>14.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353715</string>
		<key>latitude</key>
		<real>-20.120000000000001</real>
		<key>longitude</key>
		<real>16.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356213</string>
		<key>latitude</key>
		<real>-20.370000000000001</real>
		<key>longitude</key>
		<real>14.970000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354876</string>
		<key>latitude</key>
		<real>-20.579999999999998</real>
		<key>longitude</key>
		<real>17.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352919</string>
		<key>latitude</key>
		<real>-21.82</real>
		<key>longitude</key>
		<real>18.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352083</string>
		<key>latitude</key>
		<real>-22.399999999999999</real>
		<key>longitude</key>
		<real>18.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371209</string>
		<key>latitude</key>
		<real>-20.329999999999998</real>
		<key>longitude</key>
		<real>18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3355916</string>
		<key>latitude</key>
		<real>-24.23</real>
		<key>longitude</key>
		<real>17.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353934</string>
		<key>latitude</key>
		<real>-19.649999999999999</real>
		<key>longitude</key>
		<real>17.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371200</string>
		<key>latitude</key>
		<real>-24.5</real>
		<key>longitude</key>
		<real>17.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3357247</string>
		<key>latitude</key>
		<real>-22.449999999999999</real>
		<key>longitude</key>
		<real>18.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354716</string>
		<key>latitude</key>
		<real>-19.18</real>
		<key>longitude</key>
		<real>15.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3355624</string>
		<key>latitude</key>
		<real>-24.829999999999998</real>
		<key>longitude</key>
		<real>16.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3357114</string>
		<key>latitude</key>
		<real>-19.57</real>
		<key>longitude</key>
		<real>18.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371205</string>
		<key>latitude</key>
		<real>-21.75</real>
		<key>longitude</key>
		<real>19.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3355595</string>
		<key>latitude</key>
		<real>-24.629999999999999</real>
		<key>longitude</key>
		<real>17.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3352593</string>
		<key>latitude</key>
		<real>-19.23</real>
		<key>longitude</key>
		<real>17.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371202</string>
		<key>latitude</key>
		<real>-19.420000000000002</real>
		<key>longitude</key>
		<real>13.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371207</string>
		<key>latitude</key>
		<real>-18.5</real>
		<key>longitude</key>
		<real>15.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3358666</string>
		<key>latitude</key>
		<real>-24.129999999999999</real>
		<key>longitude</key>
		<real>19.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371208</string>
		<key>latitude</key>
		<real>-18.5</real>
		<key>longitude</key>
		<real>17.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371206</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>14.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354247</string>
		<key>latitude</key>
		<real>-17.920000000000002</real>
		<key>longitude</key>
		<real>15.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354537</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>15.970000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354178</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>15.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354147</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>15.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354021</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>15.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354077</string>
		<key>latitude</key>
		<real>-18.059999999999999</real>
		<key>longitude</key>
		<real>13.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354588</string>
		<key>latitude</key>
		<real>-17.57</real>
		<key>longitude</key>
		<real>15.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371203</string>
		<key>latitude</key>
		<real>-17.579999999999998</real>
		<key>longitude</key>
		<real>16.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3357804</string>
		<key>latitude</key>
		<real>-17.469999999999999</real>
		<key>longitude</key>
		<real>16.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353996</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>15.880000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3358416</string>
		<key>latitude</key>
		<real>-26.48</real>
		<key>longitude</key>
		<real>17.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3355672</string>
		<key>latitude</key>
		<real>-26.649999999999999</real>
		<key>longitude</key>
		<real>15.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356024</string>
		<key>latitude</key>
		<real>-26.699999999999999</real>
		<key>longitude</key>
		<real>15.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3346821</string>
		<key>latitude</key>
		<real>-17.07</real>
		<key>longitude</key>
		<real>15.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356264</string>
		<key>latitude</key>
		<real>-26.579999999999998</real>
		<key>longitude</key>
		<real>18.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371204</string>
		<key>latitude</key>
		<real>-18.420000000000002</real>
		<key>longitude</key>
		<real>19.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3371201</string>
		<key>latitude</key>
		<real>-27</real>
		<key>longitude</key>
		<real>17.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933644</string>
		<key>latitude</key>
		<real>-21.68</real>
		<key>longitude</key>
		<real>21.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3356386</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933759</string>
		<key>latitude</key>
		<real>-21.57</real>
		<key>longitude</key>
		<real>21.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3353383</string>
		<key>latitude</key>
		<real>-17.93</real>
		<key>longitude</key>
		<real>19.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933416</string>
		<key>latitude</key>
		<real>-23.399999999999999</real>
		<key>longitude</key>
		<real>21.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3347494</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>19.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933726</string>
		<key>latitude</key>
		<real>-24</real>
		<key>longitude</key>
		<real>21.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933548</string>
		<key>latitude</key>
		<real>-23.969999999999999</real>
		<key>longitude</key>
		<real>21.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933510</string>
		<key>latitude</key>
		<real>-24.170000000000002</real>
		<key>longitude</key>
		<real>21.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933077</string>
		<key>latitude</key>
		<real>-18.370000000000001</real>
		<key>longitude</key>
		<real>21.850000000000001</real>
	</dict>
</array>
</plist>
