<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3371202</string>
		<key>latitude</key>
		<real>-19.420000000000002</real>
		<key>longitude</key>
		<real>13.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3354077</string>
		<key>latitude</key>
		<real>-18.059999999999999</real>
		<key>longitude</key>
		<real>13.84</real>
	</dict>
</array>
</plist>
