<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>942360</string>
		<key>latitude</key>
		<real>-34.100000000000001</real>
		<key>longitude</key>
		<real>23.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>964712</string>
		<key>latitude</key>
		<real>-34.049999999999997</real>
		<key>longitude</key>
		<real>23.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1022108</string>
		<key>latitude</key>
		<real>-34.079971</real>
		<key>longitude</key>
		<real>24.905688999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>957517</string>
		<key>latitude</key>
		<real>-34.020000000000003</real>
		<key>longitude</key>
		<real>24.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>993911</string>
		<key>latitude</key>
		<real>-34.049999999999997</real>
		<key>longitude</key>
		<real>24.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>988698</string>
		<key>latitude</key>
		<real>-34.039999999999999</real>
		<key>longitude</key>
		<real>23.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>986717</string>
		<key>latitude</key>
		<real>-34</real>
		<key>longitude</key>
		<real>24.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>956754</string>
		<key>latitude</key>
		<real>-34.020000000000003</real>
		<key>longitude</key>
		<real>22.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>973709</string>
		<key>latitude</key>
		<real>-34.18</real>
		<key>longitude</key>
		<real>22.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030222</string>
		<key>latitude</key>
		<real>-34.189999999999998</real>
		<key>longitude</key>
		<real>22.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1011880</string>
		<key>latitude</key>
		<real>-34.18</real>
		<key>longitude</key>
		<real>22.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1011951</string>
		<key>latitude</key>
		<real>-34.200000000000003</real>
		<key>longitude</key>
		<real>22.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1010511</string>
		<key>latitude</key>
		<real>-34.159999999999997</real>
		<key>longitude</key>
		<real>22.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7304422</string>
		<key>latitude</key>
		<real>-34.049999999999997</real>
		<key>longitude</key>
		<real>22.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>952745</string>
		<key>latitude</key>
		<real>-33.979999999999997</real>
		<key>longitude</key>
		<real>22.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>952199</string>
		<key>latitude</key>
		<real>-34.369999999999997</real>
		<key>longitude</key>
		<real>21.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>952200</string>
		<key>latitude</key>
		<real>-34.369999999999997</real>
		<key>longitude</key>
		<real>21.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>982103</string>
		<key>latitude</key>
		<real>-33.967232000000003</real>
		<key>longitude</key>
		<real>25.515450000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>942071</string>
		<key>latitude</key>
		<real>-33.977890000000002</real>
		<key>longitude</key>
		<real>25.583549000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>953975</string>
		<key>latitude</key>
		<real>-33.984039000000003</real>
		<key>longitude</key>
		<real>25.611360999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1002145</string>
		<key>latitude</key>
		<real>-33.960000000000001</real>
		<key>longitude</key>
		<real>22.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>951350</string>
		<key>latitude</key>
		<real>-33.950000000000003</real>
		<key>longitude</key>
		<real>25.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1001632</string>
		<key>latitude</key>
		<real>-33.950001</real>
		<key>longitude</key>
		<real>25.566669000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1019031</string>
		<key>latitude</key>
		<real>-33.950000000000003</real>
		<key>longitude</key>
		<real>22.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>964420</string>
		<key>latitude</key>
		<real>-33.920000000000002</real>
		<key>longitude</key>
		<real>25.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>946877</string>
		<key>latitude</key>
		<real>-33.759999999999998</real>
		<key>longitude</key>
		<real>25.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>945970</string>
		<key>latitude</key>
		<real>-33.659999999999997</real>
		<key>longitude</key>
		<real>23.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>961152</string>
		<key>latitude</key>
		<real>-34.090000000000003</real>
		<key>longitude</key>
		<real>21.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1023517</string>
		<key>latitude</key>
		<real>-34.82</real>
		<key>longitude</key>
		<real>20.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>967106</string>
		<key>latitude</key>
		<real>-33.590000000000003</real>
		<key>longitude</key>
		<real>22.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>940445</string>
		<key>latitude</key>
		<real>-33.590000000000003</real>
		<key>longitude</key>
		<real>22.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1023672</string>
		<key>latitude</key>
		<real>-33.549999999999997</real>
		<key>longitude</key>
		<real>25.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1010728</string>
		<key>latitude</key>
		<real>-33.490000000000002</real>
		<key>longitude</key>
		<real>22.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1015776</string>
		<key>latitude</key>
		<real>-34.530000000000001</real>
		<key>longitude</key>
		<real>20.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>939676</string>
		<key>latitude</key>
		<real>-33.289999999999999</real>
		<key>longitude</key>
		<real>23.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>990802</string>
		<key>latitude</key>
		<real>-33.399999999999999</real>
		<key>longitude</key>
		<real>25.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1023365</string>
		<key>latitude</key>
		<real>-33.653461</real>
		<key>longitude</key>
		<real>26.412680000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1014257</string>
		<key>latitude</key>
		<real>-33.530000000000001</real>
		<key>longitude</key>
		<real>21.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>963941</string>
		<key>latitude</key>
		<real>-34.270000000000003</real>
		<key>longitude</key>
		<real>20.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>950709</string>
		<key>latitude</key>
		<real>-34.020000000000003</real>
		<key>longitude</key>
		<real>20.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3365617</string>
		<key>latitude</key>
		<real>-34.310000000000002</real>
		<key>longitude</key>
		<real>19.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>964432</string>
		<key>latitude</key>
		<real>-33.590569000000002</real>
		<key>longitude</key>
		<real>26.891041000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>964078</string>
		<key>latitude</key>
		<real>-33.219999999999999</real>
		<key>longitude</key>
		<real>22.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361084</string>
		<key>latitude</key>
		<real>-34.439999999999998</real>
		<key>longitude</key>
		<real>19.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1000501</string>
		<key>latitude</key>
		<real>-33.299999999999997</real>
		<key>longitude</key>
		<real>26.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1085599</string>
		<key>latitude</key>
		<real>-34</real>
		<key>longitude</key>
		<real>20</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1001783</string>
		<key>latitude</key>
		<real>-33.219999999999999</real>
		<key>longitude</key>
		<real>26.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1022145</string>
		<key>latitude</key>
		<real>-33.829999999999998</real>
		<key>longitude</key>
		<real>20.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3366880</string>
		<key>latitude</key>
		<real>-34.420000000000002</real>
		<key>longitude</key>
		<real>19.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3364246</string>
		<key>latitude</key>
		<real>-33.950000000000003</real>
		<key>longitude</key>
		<real>19.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369179</string>
		<key>latitude</key>
		<real>-34.229999999999997</real>
		<key>longitude</key>
		<real>19.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362349</string>
		<key>latitude</key>
		<real>-33.799999999999997</real>
		<key>longitude</key>
		<real>19.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>995409</string>
		<key>latitude</key>
		<real>-33.100000000000001</real>
		<key>longitude</key>
		<real>27.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362671</string>
		<key>latitude</key>
		<real>-34.350000000000001</real>
		<key>longitude</key>
		<real>18.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3367513</string>
		<key>latitude</key>
		<real>-34.149999999999999</real>
		<key>longitude</key>
		<real>19.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3367877</string>
		<key>latitude</key>
		<real>-33.909999999999997</real>
		<key>longitude</key>
		<real>19.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3359041</string>
		<key>latitude</key>
		<real>-33.649999999999999</real>
		<key>longitude</key>
		<real>19.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3360934</string>
		<key>latitude</key>
		<real>-34.109999999999999</real>
		<key>longitude</key>
		<real>18.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6951112</string>
		<key>latitude</key>
		<real>-34.079999999999998</real>
		<key>longitude</key>
		<real>18.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3366920</string>
		<key>latitude</key>
		<real>-34.030000000000001</real>
		<key>longitude</key>
		<real>18.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3370221</string>
		<key>latitude</key>
		<real>-33.920000000000002</real>
		<key>longitude</key>
		<real>18.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361025</string>
		<key>latitude</key>
		<real>-33.93</real>
		<key>longitude</key>
		<real>18.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369086</string>
		<key>latitude</key>
		<real>-33.909999999999997</real>
		<key>longitude</key>
		<real>18.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>939666</string>
		<key>latitude</key>
		<real>-33.041381999999999</real>
		<key>longitude</key>
		<real>27.816481</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1000116</string>
		<key>latitude</key>
		<real>-33.033298000000002</real>
		<key>longitude</key>
		<real>27.862159999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1007420</string>
		<key>latitude</key>
		<real>-33.012259999999998</real>
		<key>longitude</key>
		<real>27.863319000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363094</string>
		<key>latitude</key>
		<real>-33.729999999999997</real>
		<key>longitude</key>
		<real>18.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1006984</string>
		<key>latitude</key>
		<real>-33.015289000000003</real>
		<key>longitude</key>
		<real>27.911619000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363613</string>
		<key>latitude</key>
		<real>-33.700000000000003</real>
		<key>longitude</key>
		<real>18.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369035</string>
		<key>latitude</key>
		<real>-33.990000000000002</real>
		<key>longitude</key>
		<real>18.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369083</string>
		<key>latitude</key>
		<real>-34.119999999999997</real>
		<key>longitude</key>
		<real>18.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3370147</string>
		<key>latitude</key>
		<real>-33.939999999999998</real>
		<key>longitude</key>
		<real>18.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369183</string>
		<key>latitude</key>
		<real>-34.060000000000002</real>
		<key>longitude</key>
		<real>18.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3359510</string>
		<key>latitude</key>
		<real>-33.640000000000001</real>
		<key>longitude</key>
		<real>19.010000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3367458</string>
		<key>latitude</key>
		<real>-34.049999999999997</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361077</string>
		<key>latitude</key>
		<real>-34.07</real>
		<key>longitude</key>
		<real>18.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361721</string>
		<key>latitude</key>
		<real>-33.859999999999999</real>
		<key>longitude</key>
		<real>18.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363222</string>
		<key>latitude</key>
		<real>-34.020000000000003</real>
		<key>longitude</key>
		<real>18.510000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3359348</string>
		<key>latitude</key>
		<real>-33.850000000000001</real>
		<key>longitude</key>
		<real>18.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3366939</string>
		<key>latitude</key>
		<real>-34.049999999999997</real>
		<key>longitude</key>
		<real>18.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7871282</string>
		<key>latitude</key>
		<real>-33.850000000000001</real>
		<key>longitude</key>
		<real>18.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363171</string>
		<key>latitude</key>
		<real>-34.079999999999998</real>
		<key>longitude</key>
		<real>18.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363441</string>
		<key>latitude</key>
		<real>-34.149999999999999</real>
		<key>longitude</key>
		<real>18.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3368014</string>
		<key>latitude</key>
		<real>-33.939999999999998</real>
		<key>longitude</key>
		<real>18.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3368039</string>
		<key>latitude</key>
		<real>-33.93</real>
		<key>longitude</key>
		<real>18.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361026</string>
		<key>latitude</key>
		<real>-33.869999999999997</real>
		<key>longitude</key>
		<real>18.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362764</string>
		<key>latitude</key>
		<real>-34.020000000000003</real>
		<key>longitude</key>
		<real>18.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3364682</string>
		<key>latitude</key>
		<real>-33.990000000000002</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3368538</string>
		<key>latitude</key>
		<real>-34.020000000000003</real>
		<key>longitude</key>
		<real>18.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369129</string>
		<key>latitude</key>
		<real>-33.369999999999997</real>
		<key>longitude</key>
		<real>19.309999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363453</string>
		<key>latitude</key>
		<real>-33.829999999999998</real>
		<key>longitude</key>
		<real>18.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3365999</string>
		<key>latitude</key>
		<real>-33.859999999999999</real>
		<key>longitude</key>
		<real>18.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369056</string>
		<key>latitude</key>
		<real>-34.030000000000001</real>
		<key>longitude</key>
		<real>18.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369098</string>
		<key>latitude</key>
		<real>-33.979999999999997</real>
		<key>longitude</key>
		<real>18.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362864</string>
		<key>latitude</key>
		<real>-33.939999999999998</real>
		<key>longitude</key>
		<real>18.510000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3359094</string>
		<key>latitude</key>
		<real>-33.409999999999997</real>
		<key>longitude</key>
		<real>19.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8184439</string>
		<key>latitude</key>
		<real>-33.810000000000002</real>
		<key>longitude</key>
		<real>18.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7302802</string>
		<key>latitude</key>
		<real>-33.960000000000001</real>
		<key>longitude</key>
		<real>18.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3367573</string>
		<key>latitude</key>
		<real>-33.899999999999999</real>
		<key>longitude</key>
		<real>18.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3367634</string>
		<key>latitude</key>
		<real>-33.990000000000002</real>
		<key>longitude</key>
		<real>18.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362024</string>
		<key>latitude</key>
		<real>-33.960000000000001</real>
		<key>longitude</key>
		<real>18.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363901</string>
		<key>latitude</key>
		<real>-33.950000000000003</real>
		<key>longitude</key>
		<real>18.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363978</string>
		<key>latitude</key>
		<real>-33.880000000000003</real>
		<key>longitude</key>
		<real>18.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363444</string>
		<key>latitude</key>
		<real>-33.939999999999998</real>
		<key>longitude</key>
		<real>18.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3368192</string>
		<key>latitude</key>
		<real>-33.869999999999997</real>
		<key>longitude</key>
		<real>18.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362001</string>
		<key>latitude</key>
		<real>-33.899999999999999</real>
		<key>longitude</key>
		<real>18.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363983</string>
		<key>latitude</key>
		<real>-33.859999999999999</real>
		<key>longitude</key>
		<real>18.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369157</string>
		<key>latitude</key>
		<real>-33.93</real>
		<key>longitude</key>
		<real>18.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3362324</string>
		<key>latitude</key>
		<real>-33.920000000000002</real>
		<key>longitude</key>
		<real>18.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7302538</string>
		<key>latitude</key>
		<real>-33.920000000000002</real>
		<key>longitude</key>
		<real>18.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6942529</string>
		<key>latitude</key>
		<real>-33.850000000000001</real>
		<key>longitude</key>
		<real>18.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3369090</string>
		<key>latitude</key>
		<real>-33.939999999999998</real>
		<key>longitude</key>
		<real>18.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361711</string>
		<key>latitude</key>
		<real>-33.920000000000002</real>
		<key>longitude</key>
		<real>18.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3368439</string>
		<key>latitude</key>
		<real>-33.909999999999997</real>
		<key>longitude</key>
		<real>18.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3363913</string>
		<key>latitude</key>
		<real>-33.899999999999999</real>
		<key>longitude</key>
		<real>18.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3360687</string>
		<key>latitude</key>
		<real>-33.82</real>
		<key>longitude</key>
		<real>18.489999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3364346</string>
		<key>latitude</key>
		<real>-33.460000000000001</real>
		<key>longitude</key>
		<real>18.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3370352</string>
		<key>latitude</key>
		<real>-33.57</real>
		<key>longitude</key>
		<real>18.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3368962</string>
		<key>latitude</key>
		<real>-33.380000000000003</real>
		<key>longitude</key>
		<real>18.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3358975</string>
		<key>latitude</key>
		<real>-33.340000000000003</real>
		<key>longitude</key>
		<real>18.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3364795</string>
		<key>latitude</key>
		<real>-33.100000000000001</real>
		<key>longitude</key>
		<real>18.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3364791</string>
		<key>latitude</key>
		<real>-32.969999999999999</real>
		<key>longitude</key>
		<real>18.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3361934</string>
		<key>latitude</key>
		<real>-33.009999999999998</real>
		<key>longitude</key>
		<real>17.940000000000001</real>
	</dict>
</array>
</plist>
