<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>8013484</string>
		<key>latitude</key>
		<real>38.770000000000003</real>
		<key>longitude</key>
		<real>-27.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372952</string>
		<key>latitude</key>
		<real>38.770000000000003</real>
		<key>longitude</key>
		<real>-27.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372760</string>
		<key>latitude</key>
		<real>38.729999999999997</real>
		<key>longitude</key>
		<real>-27.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010692</string>
		<key>latitude</key>
		<real>38.740000000000002</real>
		<key>longitude</key>
		<real>-27.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373300</string>
		<key>latitude</key>
		<real>38.780000000000001</real>
		<key>longitude</key>
		<real>-27.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014704</string>
		<key>latitude</key>
		<real>38.689999999999998</real>
		<key>longitude</key>
		<real>-27.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372588</string>
		<key>latitude</key>
		<real>38.649999999999999</real>
		<key>longitude</key>
		<real>-27.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010691</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-27.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373120</string>
		<key>latitude</key>
		<real>38.670000000000002</real>
		<key>longitude</key>
		<real>-27.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372524</string>
		<key>latitude</key>
		<real>38.670000000000002</real>
		<key>longitude</key>
		<real>-27.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373348</string>
		<key>latitude</key>
		<real>38.649999999999999</real>
		<key>longitude</key>
		<real>-27.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013468</string>
		<key>latitude</key>
		<real>38.659999999999997</real>
		<key>longitude</key>
		<real>-27.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372964</string>
		<key>latitude</key>
		<real>39.049999999999997</real>
		<key>longitude</key>
		<real>-27.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014675</string>
		<key>latitude</key>
		<real>39.079999999999998</real>
		<key>longitude</key>
		<real>-28.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373390</string>
		<key>latitude</key>
		<real>39.079999999999998</real>
		<key>longitude</key>
		<real>-28.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010693</string>
		<key>latitude</key>
		<real>39.049999999999997</real>
		<key>longitude</key>
		<real>-28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373025</string>
		<key>latitude</key>
		<real>37.780000000000001</real>
		<key>longitude</key>
		<real>-25.309999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010689</string>
		<key>latitude</key>
		<real>37.799999999999997</real>
		<key>longitude</key>
		<real>-25.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372745</string>
		<key>latitude</key>
		<real>37.799999999999997</real>
		<key>longitude</key>
		<real>-25.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373297</string>
		<key>latitude</key>
		<real>37.799999999999997</real>
		<key>longitude</key>
		<real>-25.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013464</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014682</string>
		<key>latitude</key>
		<real>37.789999999999999</real>
		<key>longitude</key>
		<real>-25.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372705</string>
		<key>latitude</key>
		<real>37.729999999999997</real>
		<key>longitude</key>
		<real>-25.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010687</string>
		<key>latitude</key>
		<real>37.810000000000002</real>
		<key>longitude</key>
		<real>-25.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010690</string>
		<key>latitude</key>
		<real>37.740000000000002</real>
		<key>longitude</key>
		<real>-25.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372568</string>
		<key>latitude</key>
		<real>37.719999999999999</real>
		<key>longitude</key>
		<real>-25.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014715</string>
		<key>latitude</key>
		<real>37.759999999999998</real>
		<key>longitude</key>
		<real>-25.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372472</string>
		<key>latitude</key>
		<real>37.719999999999999</real>
		<key>longitude</key>
		<real>-25.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373329</string>
		<key>latitude</key>
		<real>37.770000000000003</real>
		<key>longitude</key>
		<real>-25.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373011</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372677</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373099</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373305</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013442</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372741</string>
		<key>latitude</key>
		<real>37.75</real>
		<key>longitude</key>
		<real>-25.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013441</string>
		<key>latitude</key>
		<real>37.740000000000002</real>
		<key>longitude</key>
		<real>-25.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372783</string>
		<key>latitude</key>
		<real>37.729999999999997</real>
		<key>longitude</key>
		<real>-25.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010695</string>
		<key>latitude</key>
		<real>38.68</real>
		<key>longitude</key>
		<real>-28.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013503</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-28.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013500</string>
		<key>latitude</key>
		<real>38.729999999999997</real>
		<key>longitude</key>
		<real>-28.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372784</string>
		<key>latitude</key>
		<real>38.729999999999997</real>
		<key>longitude</key>
		<real>-28.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372485</string>
		<key>latitude</key>
		<real>38.68</real>
		<key>longitude</key>
		<real>-28.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411865</string>
		<key>latitude</key>
		<real>38.5</real>
		<key>longitude</key>
		<real>-28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372589</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-28.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373260</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-28.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014481</string>
		<key>latitude</key>
		<real>38.5</real>
		<key>longitude</key>
		<real>-28.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010698</string>
		<key>latitude</key>
		<real>38.490000000000002</real>
		<key>longitude</key>
		<real>-28.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372949</string>
		<key>latitude</key>
		<real>38.549999999999997</real>
		<key>longitude</key>
		<real>-28.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013515</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-28.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010697</string>
		<key>latitude</key>
		<real>38.539999999999999</real>
		<key>longitude</key>
		<real>-28.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372908</string>
		<key>latitude</key>
		<real>38.539999999999999</real>
		<key>longitude</key>
		<real>-28.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013513</string>
		<key>latitude</key>
		<real>38.439999999999998</real>
		<key>longitude</key>
		<real>-28.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372601</string>
		<key>latitude</key>
		<real>38.43</real>
		<key>longitude</key>
		<real>-28.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010699</string>
		<key>latitude</key>
		<real>38.57</real>
		<key>longitude</key>
		<real>-28.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372880</string>
		<key>latitude</key>
		<real>38.530000000000001</real>
		<key>longitude</key>
		<real>-28.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372988</string>
		<key>latitude</key>
		<real>38.530000000000001</real>
		<key>longitude</key>
		<real>-28.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8013523</string>
		<key>latitude</key>
		<real>38.530000000000001</real>
		<key>longitude</key>
		<real>-28.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373332</string>
		<key>latitude</key>
		<real>38.530000000000001</real>
		<key>longitude</key>
		<real>-28.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372707</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-28.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3372706</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-28.719999999999999</real>
	</dict>
</array>
</plist>
