<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3374351</string>
		<key>latitude</key>
		<real>17.149999999999999</real>
		<key>longitude</key>
		<real>-25.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374275</string>
		<key>latitude</key>
		<real>17.190000000000001</real>
		<key>longitude</key>
		<real>-25.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374346</string>
		<key>latitude</key>
		<real>17.199999999999999</real>
		<key>longitude</key>
		<real>-25.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374391</string>
		<key>latitude</key>
		<real>17.120000000000001</real>
		<key>longitude</key>
		<real>-25.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374274</string>
		<key>latitude</key>
		<real>17.129999999999999</real>
		<key>longitude</key>
		<real>-25.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602869</string>
		<key>latitude</key>
		<real>16.620000000000001</real>
		<key>longitude</key>
		<real>-24.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374336</string>
		<key>latitude</key>
		<real>17.02</real>
		<key>longitude</key>
		<real>-25.059999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374121</string>
		<key>latitude</key>
		<real>16.620000000000001</real>
		<key>longitude</key>
		<real>-24.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602872</string>
		<key>latitude</key>
		<real>16.600000000000001</real>
		<key>longitude</key>
		<real>-24.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374462</string>
		<key>latitude</key>
		<real>16.890000000000001</real>
		<key>longitude</key>
		<real>-24.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374165</string>
		<key>latitude</key>
		<real>16.57</real>
		<key>longitude</key>
		<real>-24.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602868</string>
		<key>latitude</key>
		<real>17.02</real>
		<key>longitude</key>
		<real>-25.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374198</string>
		<key>latitude</key>
		<real>16.829999999999998</real>
		<key>longitude</key>
		<real>-25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374201</string>
		<key>latitude</key>
		<real>16.829350000000002</real>
		<key>longitude</key>
		<real>-25.062901</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374314</string>
		<key>latitude</key>
		<real>16.75</real>
		<key>longitude</key>
		<real>-22.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374249</string>
		<key>latitude</key>
		<real>16.75</real>
		<key>longitude</key>
		<real>-22.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374218</string>
		<key>latitude</key>
		<real>16.600000000000001</real>
		<key>longitude</key>
		<real>-22.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374766</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>-24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374235</string>
		<key>latitude</key>
		<real>16.18</real>
		<key>longitude</key>
		<real>-22.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374301</string>
		<key>latitude</key>
		<real>16.129999999999999</real>
		<key>longitude</key>
		<real>-22.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374855</string>
		<key>latitude</key>
		<real>16.079999999999998</real>
		<key>longitude</key>
		<real>-22.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374166</string>
		<key>latitude</key>
		<real>15.279999999999999</real>
		<key>longitude</key>
		<real>-23.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374161</string>
		<key>latitude</key>
		<real>15.27</real>
		<key>longitude</key>
		<real>-23.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411928</string>
		<key>latitude</key>
		<real>15.199999999999999</real>
		<key>longitude</key>
		<real>-23.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374794</string>
		<key>latitude</key>
		<real>15.18</real>
		<key>longitude</key>
		<real>-23.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374487</string>
		<key>latitude</key>
		<real>15.220000000000001</real>
		<key>longitude</key>
		<real>-23.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374221</string>
		<key>latitude</key>
		<real>15.130000000000001</real>
		<key>longitude</key>
		<real>-23.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374226</string>
		<key>latitude</key>
		<real>15.1</real>
		<key>longitude</key>
		<real>-23.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374888</string>
		<key>latitude</key>
		<real>15.1</real>
		<key>longitude</key>
		<real>-23.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411925</string>
		<key>latitude</key>
		<real>15.1</real>
		<key>longitude</key>
		<real>-23.566669000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374360</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-23.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602871</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-23.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374120</string>
		<key>latitude</key>
		<real>15.133330000000001</real>
		<key>longitude</key>
		<real>-23.216669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374338</string>
		<key>latitude</key>
		<real>15.033329999999999</real>
		<key>longitude</key>
		<real>-24.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374211</string>
		<key>latitude</key>
		<real>15.024380000000001</real>
		<key>longitude</key>
		<real>-23.5625</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411926</string>
		<key>latitude</key>
		<real>15.01667</real>
		<key>longitude</key>
		<real>-23.533331</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411924</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-24.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603281</string>
		<key>latitude</key>
		<real>14.98333</real>
		<key>longitude</key>
		<real>-23.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374332</string>
		<key>latitude</key>
		<real>14.949999999999999</real>
		<key>longitude</key>
		<real>-23.516670000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411927</string>
		<key>latitude</key>
		<real>14.93333</real>
		<key>longitude</key>
		<real>-24.433330999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374725</string>
		<key>latitude</key>
		<real>14.91667</real>
		<key>longitude</key>
		<real>-23.616671</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374333</string>
		<key>latitude</key>
		<real>14.921480000000001</real>
		<key>longitude</key>
		<real>-23.508679999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602870</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-24.33333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374707</string>
		<key>latitude</key>
		<real>14.89054</real>
		<key>longitude</key>
		<real>-24.293430000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374210</string>
		<key>latitude</key>
		<real>14.896100000000001</real>
		<key>longitude</key>
		<real>-24.495560000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030386</string>
		<key>latitude</key>
		<real>15.36895</real>
		<key>longitude</key>
		<real>-25.839839999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374832</string>
		<key>latitude</key>
		<real>14.866669999999999</real>
		<key>longitude</key>
		<real>-24.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374117</string>
		<key>latitude</key>
		<real>14.866669999999999</real>
		<key>longitude</key>
		<real>-24.716669</real>
	</dict>
</array>
</plist>
