<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3405318</string>
		<key>latitude</key>
		<real>-5.6500000000000004</real>
		<key>longitude</key>
		<real>-47.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411871</string>
		<key>latitude</key>
		<real>-6.3899999999999997</real>
		<key>longitude</key>
		<real>-47.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407011</string>
		<key>latitude</key>
		<real>-6.4299999999999997</real>
		<key>longitude</key>
		<real>-48.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411874</string>
		<key>latitude</key>
		<real>-5.4100000000000001</real>
		<key>longitude</key>
		<real>-47.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384940</string>
		<key>latitude</key>
		<real>-6.4100000000000001</real>
		<key>longitude</key>
		<real>-48.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388760</string>
		<key>latitude</key>
		<real>-6.4000000000000004</real>
		<key>longitude</key>
		<real>-48.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391371</string>
		<key>latitude</key>
		<real>-6.3399999999999999</real>
		<key>longitude</key>
		<real>-47.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398269</string>
		<key>latitude</key>
		<real>-5.5300000000000002</real>
		<key>longitude</key>
		<real>-47.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387423</string>
		<key>latitude</key>
		<real>-5.5199999999999996</real>
		<key>longitude</key>
		<real>-47.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386245</string>
		<key>latitude</key>
		<real>-5.7199999999999998</real>
		<key>longitude</key>
		<real>-47.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394539</string>
		<key>latitude</key>
		<real>-5.8300000000000001</real>
		<key>longitude</key>
		<real>-47.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404921</string>
		<key>latitude</key>
		<real>-7.1200000000000001</real>
		<key>longitude</key>
		<real>-48.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407357</string>
		<key>latitude</key>
		<real>-7.1900000000000004</real>
		<key>longitude</key>
		<real>-48.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406923</string>
		<key>latitude</key>
		<real>-7.2000000000000002</real>
		<key>longitude</key>
		<real>-47.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411873</string>
		<key>latitude</key>
		<real>-7.1600000000000001</real>
		<key>longitude</key>
		<real>-48.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395503</string>
		<key>latitude</key>
		<real>-5.3700000000000001</real>
		<key>longitude</key>
		<real>-49.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407755</string>
		<key>latitude</key>
		<real>-5.5700000000000003</real>
		<key>longitude</key>
		<real>-46.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402724</string>
		<key>latitude</key>
		<real>-7.3300000000000001</real>
		<key>longitude</key>
		<real>-47.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397851</string>
		<key>latitude</key>
		<real>-5.1299999999999999</real>
		<key>longitude</key>
		<real>-49.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405547</string>
		<key>latitude</key>
		<real>-7.6799999999999997</real>
		<key>longitude</key>
		<real>-48.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389557</string>
		<key>latitude</key>
		<real>-7.6299999999999999</real>
		<key>longitude</key>
		<real>-47.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405341</string>
		<key>latitude</key>
		<real>-7.0199999999999996</real>
		<key>longitude</key>
		<real>-46.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398856</string>
		<key>latitude</key>
		<real>-5.8200000000000003</real>
		<key>longitude</key>
		<real>-46.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6317872</string>
		<key>latitude</key>
		<real>-6.0700000000000003</real>
		<key>longitude</key>
		<real>-49.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390581</string>
		<key>latitude</key>
		<real>-7.3600000000000003</real>
		<key>longitude</key>
		<real>-46.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399388</string>
		<key>latitude</key>
		<real>-6.96</real>
		<key>longitude</key>
		<real>-46.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411913</string>
		<key>latitude</key>
		<real>-8.0600000000000005</real>
		<key>longitude</key>
		<real>-48.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391188</string>
		<key>latitude</key>
		<real>-7.9699999999999998</real>
		<key>longitude</key>
		<real>-46.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406545</string>
		<key>latitude</key>
		<real>-7.5300000000000002</real>
		<key>longitude</key>
		<real>-46.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401845</string>
		<key>latitude</key>
		<real>-8.2599999999999998</real>
		<key>longitude</key>
		<real>-49.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389458</string>
		<key>latitude</key>
		<real>-8.3399999999999999</real>
		<key>longitude</key>
		<real>-49.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397900</string>
		<key>latitude</key>
		<real>-8.5700000000000003</real>
		<key>longitude</key>
		<real>-48.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388147</string>
		<key>latitude</key>
		<real>-7.0199999999999996</real>
		<key>longitude</key>
		<real>-45.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406318</string>
		<key>latitude</key>
		<real>-5.5</real>
		<key>longitude</key>
		<real>-45.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385935</string>
		<key>latitude</key>
		<real>-3.77</real>
		<key>longitude</key>
		<real>-49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402206</string>
		<key>latitude</key>
		<real>-8.8800000000000008</real>
		<key>longitude</key>
		<real>-48.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393106</string>
		<key>latitude</key>
		<real>-2.9700000000000002</real>
		<key>longitude</key>
		<real>-47.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411892</string>
		<key>latitude</key>
		<real>-9.0600000000000005</real>
		<key>longitude</key>
		<real>-48.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395443</string>
		<key>latitude</key>
		<real>-5</real>
		<key>longitude</key>
		<real>-45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396601</string>
		<key>latitude</key>
		<real>-4.3300000000000001</real>
		<key>longitude</key>
		<real>-45.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392731</string>
		<key>latitude</key>
		<real>-4.2199999999999998</real>
		<key>longitude</key>
		<real>-45.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391774</string>
		<key>latitude</key>
		<real>-4.6699999999999999</real>
		<key>longitude</key>
		<real>-44.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385922</string>
		<key>latitude</key>
		<real>-5.2599999999999998</real>
		<key>longitude</key>
		<real>-44.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384983</string>
		<key>latitude</key>
		<real>-4.0700000000000003</real>
		<key>longitude</key>
		<real>-45.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3400739</string>
		<key>latitude</key>
		<real>-4.8700000000000001</real>
		<key>longitude</key>
		<real>-44.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389609</string>
		<key>latitude</key>
		<real>-3.6699999999999999</real>
		<key>longitude</key>
		<real>-45.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384937</string>
		<key>latitude</key>
		<real>-9.4900000000000002</real>
		<key>longitude</key>
		<real>-48.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391220</string>
		<key>latitude</key>
		<real>-5.29</real>
		<key>longitude</key>
		<real>-44.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392088</string>
		<key>latitude</key>
		<real>-3.6099999999999999</real>
		<key>longitude</key>
		<real>-45.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392018</string>
		<key>latitude</key>
		<real>-3.8300000000000001</real>
		<key>longitude</key>
		<real>-45.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386279</string>
		<key>latitude</key>
		<real>-2.4199999999999999</real>
		<key>longitude</key>
		<real>-48.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406844</string>
		<key>latitude</key>
		<real>-2.79</real>
		<key>longitude</key>
		<real>-49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388868</string>
		<key>latitude</key>
		<real>-5.5800000000000001</real>
		<key>longitude</key>
		<real>-44.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406910</string>
		<key>latitude</key>
		<real>-4.29</real>
		<key>longitude</key>
		<real>-44.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393680</string>
		<key>latitude</key>
		<real>-4.5700000000000003</real>
		<key>longitude</key>
		<real>-44.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385658</string>
		<key>latitude</key>
		<real>-7.2300000000000004</real>
		<key>longitude</key>
		<real>-44.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394813</string>
		<key>latitude</key>
		<real>-6.3700000000000001</real>
		<key>longitude</key>
		<real>-44.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394640</string>
		<key>latitude</key>
		<real>-3.4900000000000002</real>
		<key>longitude</key>
		<real>-45.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407798</string>
		<key>latitude</key>
		<real>-9.1099999999999994</real>
		<key>longitude</key>
		<real>-45.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401963</string>
		<key>latitude</key>
		<real>-6.0300000000000002</real>
		<key>longitude</key>
		<real>-44.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394745</string>
		<key>latitude</key>
		<real>-2.5800000000000001</real>
		<key>longitude</key>
		<real>-49.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399377</string>
		<key>latitude</key>
		<real>-5.7300000000000004</real>
		<key>longitude</key>
		<real>-44.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390814</string>
		<key>latitude</key>
		<real>-6.5199999999999996</real>
		<key>longitude</key>
		<real>-44.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394372</string>
		<key>latitude</key>
		<real>-9.4499999999999993</real>
		<key>longitude</key>
		<real>-46.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3400969</string>
		<key>latitude</key>
		<real>-4.4800000000000004</real>
		<key>longitude</key>
		<real>-44.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392368</string>
		<key>latitude</key>
		<real>-3.29</real>
		<key>longitude</key>
		<real>-45.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392907</string>
		<key>latitude</key>
		<real>-6.5999999999999996</real>
		<key>longitude</key>
		<real>-44.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388847</string>
		<key>latitude</key>
		<real>-6.6399999999999997</real>
		<key>longitude</key>
		<real>-51.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393095</string>
		<key>latitude</key>
		<real>-6.4299999999999997</real>
		<key>longitude</key>
		<real>-43.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384986</string>
		<key>latitude</key>
		<real>-3.46</real>
		<key>longitude</key>
		<real>-44.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388318</string>
		<key>latitude</key>
		<real>-4.04</real>
		<key>longitude</key>
		<real>-44.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408386</string>
		<key>latitude</key>
		<real>-1.96</real>
		<key>longitude</key>
		<real>-48.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403697</string>
		<key>latitude</key>
		<real>-2.2400000000000002</real>
		<key>longitude</key>
		<real>-49.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385122</string>
		<key>latitude</key>
		<real>-3.2200000000000002</real>
		<key>longitude</key>
		<real>-45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407258</string>
		<key>latitude</key>
		<real>-3.4500000000000002</real>
		<key>longitude</key>
		<real>-44.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398343</string>
		<key>latitude</key>
		<real>-1.98</real>
		<key>longitude</key>
		<real>-48.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395122</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-45.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404722</string>
		<key>latitude</key>
		<real>-5.8399999999999999</real>
		<key>longitude</key>
		<real>-43.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468928</string>
		<key>latitude</key>
		<real>-10.17</real>
		<key>longitude</key>
		<real>-48.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394661</string>
		<key>latitude</key>
		<real>-1.8799999999999999</real>
		<key>longitude</key>
		<real>-48.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392942</string>
		<key>latitude</key>
		<real>-6.1799999999999997</real>
		<key>longitude</key>
		<real>-43.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474574</string>
		<key>latitude</key>
		<real>-10.210000000000001</real>
		<key>longitude</key>
		<real>-48.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398014</string>
		<key>latitude</key>
		<real>-1.77</real>
		<key>longitude</key>
		<real>-47.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3450158</string>
		<key>latitude</key>
		<real>-10.18</real>
		<key>longitude</key>
		<real>-48.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401703</string>
		<key>latitude</key>
		<real>-4.1299999999999999</real>
		<key>longitude</key>
		<real>-44.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3446361</string>
		<key>latitude</key>
		<real>-10.289999999999999</real>
		<key>longitude</key>
		<real>-48.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388615</string>
		<key>latitude</key>
		<real>-6.5</real>
		<key>longitude</key>
		<real>-43.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403309</string>
		<key>latitude</key>
		<real>-3.6299999999999999</real>
		<key>longitude</key>
		<real>-44.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396268</string>
		<key>latitude</key>
		<real>-1.8999999999999999</real>
		<key>longitude</key>
		<real>-49.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388869</string>
		<key>latitude</key>
		<real>-1.6699999999999999</real>
		<key>longitude</key>
		<real>-47.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407682</string>
		<key>latitude</key>
		<real>-3.2599999999999998</real>
		<key>longitude</key>
		<real>-44.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403127</string>
		<key>latitude</key>
		<real>-1.75</real>
		<key>longitude</key>
		<real>-47.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408424</string>
		<key>latitude</key>
		<real>-1.72</real>
		<key>longitude</key>
		<real>-48.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402000</string>
		<key>latitude</key>
		<real>-4.46</real>
		<key>longitude</key>
		<real>-43.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391940</string>
		<key>latitude</key>
		<real>-3.73</real>
		<key>longitude</key>
		<real>-44.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388635</string>
		<key>latitude</key>
		<real>-2.96</real>
		<key>longitude</key>
		<real>-44.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388270</string>
		<key>latitude</key>
		<real>-1.6299999999999999</real>
		<key>longitude</key>
		<real>-47.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386372</string>
		<key>latitude</key>
		<real>-4.2599999999999998</real>
		<key>longitude</key>
		<real>-43.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393762</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>-49.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395497</string>
		<key>latitude</key>
		<real>-2.04</real>
		<key>longitude</key>
		<real>-45.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397936</string>
		<key>latitude</key>
		<real>-3.3900000000000001</real>
		<key>longitude</key>
		<real>-44.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404760</string>
		<key>latitude</key>
		<real>-1.52</real>
		<key>longitude</key>
		<real>-48.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474575</string>
		<key>latitude</key>
		<real>-10.5</real>
		<key>longitude</key>
		<real>-48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406429</string>
		<key>latitude</key>
		<real>-1.51</real>
		<key>longitude</key>
		<real>-48.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392054</string>
		<key>latitude</key>
		<real>-2.52</real>
		<key>longitude</key>
		<real>-45.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393455</string>
		<key>latitude</key>
		<real>-1.55</real>
		<key>longitude</key>
		<real>-47.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405870</string>
		<key>latitude</key>
		<real>-1.46</real>
		<key>longitude</key>
		<real>-48.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389006</string>
		<key>latitude</key>
		<real>-2.7000000000000002</real>
		<key>longitude</key>
		<real>-44.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388546</string>
		<key>latitude</key>
		<real>-1.47</real>
		<key>longitude</key>
		<real>-48.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411162</string>
		<key>latitude</key>
		<real>-1.4299999999999999</real>
		<key>longitude</key>
		<real>-48.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385597</string>
		<key>latitude</key>
		<real>-1.3999999999999999</real>
		<key>longitude</key>
		<real>-48.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406866</string>
		<key>latitude</key>
		<real>-2.71</real>
		<key>longitude</key>
		<real>-44.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389622</string>
		<key>latitude</key>
		<real>-2.2311100000000001</real>
		<key>longitude</key>
		<real>-45.299999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394326</string>
		<key>latitude</key>
		<real>-1.52833</real>
		<key>longitude</key>
		<real>-49.216670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389339</string>
		<key>latitude</key>
		<real>-3.8300000000000001</real>
		<key>longitude</key>
		<real>-43.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407669</string>
		<key>latitude</key>
		<real>-1.3700000000000001</real>
		<key>longitude</key>
		<real>-48.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405792</string>
		<key>latitude</key>
		<real>-1.3600000000000001</real>
		<key>longitude</key>
		<real>-48.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398931</string>
		<key>latitude</key>
		<real>-9.8300000000000001</real>
		<key>longitude</key>
		<real>-45.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389459</string>
		<key>latitude</key>
		<real>-1.3500000000000001</real>
		<key>longitude</key>
		<real>-47.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389590</string>
		<key>latitude</key>
		<real>-1.3</real>
		<key>longitude</key>
		<real>-48.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402591</string>
		<key>latitude</key>
		<real>-1.29</real>
		<key>longitude</key>
		<real>-47.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452711</string>
		<key>latitude</key>
		<real>-10.710000000000001</real>
		<key>longitude</key>
		<real>-48.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3400617</string>
		<key>latitude</key>
		<real>-5.7800000000000002</real>
		<key>longitude</key>
		<real>-43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460664</string>
		<key>latitude</key>
		<real>-10.58</real>
		<key>longitude</key>
		<real>-49.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405304</string>
		<key>latitude</key>
		<real>-9.0700000000000003</real>
		<key>longitude</key>
		<real>-44.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385538</string>
		<key>latitude</key>
		<real>-3.54</real>
		<key>longitude</key>
		<real>-43.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391489</string>
		<key>latitude</key>
		<real>-4.8300000000000001</real>
		<key>longitude</key>
		<real>-43.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405778</string>
		<key>latitude</key>
		<real>-2.4500000000000002</real>
		<key>longitude</key>
		<real>-44.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393829</string>
		<key>latitude</key>
		<real>-1.21</real>
		<key>longitude</key>
		<real>-47.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390188</string>
		<key>latitude</key>
		<real>-2.9300000000000002</real>
		<key>longitude</key>
		<real>-44.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389062</string>
		<key>latitude</key>
		<real>-1.15194</real>
		<key>longitude</key>
		<real>-48.129440000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403208</string>
		<key>latitude</key>
		<real>-1.1958299999999999</real>
		<key>longitude</key>
		<real>-47.180827999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398350</string>
		<key>latitude</key>
		<real>-1.1299999999999999</real>
		<key>longitude</key>
		<real>-47.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392996</string>
		<key>latitude</key>
		<real>-5.6799999999999997</real>
		<key>longitude</key>
		<real>-43.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405825</string>
		<key>latitude</key>
		<real>-5.2999999999999998</real>
		<key>longitude</key>
		<real>-52.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393240</string>
		<key>latitude</key>
		<real>-5.9800000000000004</real>
		<key>longitude</key>
		<real>-43.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391412</string>
		<key>latitude</key>
		<real>-1.9399999999999999</real>
		<key>longitude</key>
		<real>-50.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404817</string>
		<key>latitude</key>
		<real>-1.68222</real>
		<key>longitude</key>
		<real>-50.480282000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399506</string>
		<key>latitude</key>
		<real>-6.7699999999999996</real>
		<key>longitude</key>
		<real>-43.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386201</string>
		<key>latitude</key>
		<real>-1.0761099999999999</real>
		<key>longitude</key>
		<real>-46.903061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407882</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-52.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406942</string>
		<key>latitude</key>
		<real>-2.8399999999999999</real>
		<key>longitude</key>
		<real>-44.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388368</string>
		<key>latitude</key>
		<real>-2.5297200000000002</real>
		<key>longitude</key>
		<real>-44.302779999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408073</string>
		<key>latitude</key>
		<real>-2.40889</real>
		<key>longitude</key>
		<real>-44.414718999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385908</string>
		<key>latitude</key>
		<real>-1.66333</real>
		<key>longitude</key>
		<real>-45.371670000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392213</string>
		<key>latitude</key>
		<real>-7</real>
		<key>longitude</key>
		<real>-43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398381</string>
		<key>latitude</key>
		<real>-2.7799999999999998</real>
		<key>longitude</key>
		<real>-44.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404394</string>
		<key>latitude</key>
		<real>-1.01139</real>
		<key>longitude</key>
		<real>-48.963329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386320</string>
		<key>latitude</key>
		<real>-2.5666699999999998</real>
		<key>longitude</key>
		<real>-44.233330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403395</string>
		<key>latitude</key>
		<real>-1.4466699999999999</real>
		<key>longitude</key>
		<real>-45.716670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405006</string>
		<key>latitude</key>
		<real>-1.0536099999999999</real>
		<key>longitude</key>
		<real>-46.765560000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385042</string>
		<key>latitude</key>
		<real>-2.51667</real>
		<key>longitude</key>
		<real>-44.266669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407756</string>
		<key>latitude</key>
		<real>-6.2400000000000002</real>
		<key>longitude</key>
		<real>-42.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385088</string>
		<key>latitude</key>
		<real>-0.85833000000000004</real>
		<key>longitude</key>
		<real>-48.141669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402229</string>
		<key>latitude</key>
		<real>-3.7400000000000002</real>
		<key>longitude</key>
		<real>-43.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385022</string>
		<key>latitude</key>
		<real>-1.1966699999999999</real>
		<key>longitude</key>
		<real>-46.139999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397355</string>
		<key>latitude</key>
		<real>-2.0666699999999998</real>
		<key>longitude</key>
		<real>-44.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406961</string>
		<key>latitude</key>
		<real>-1.0216700000000001</real>
		<key>longitude</key>
		<real>-46.634998000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3409644</string>
		<key>latitude</key>
		<real>-3.7400000000000002</real>
		<key>longitude</key>
		<real>-43.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397865</string>
		<key>latitude</key>
		<real>-7.5999999999999996</real>
		<key>longitude</key>
		<real>-43.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389012</string>
		<key>latitude</key>
		<real>-3.3300000000000001</real>
		<key>longitude</key>
		<real>-43.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402648</string>
		<key>latitude</key>
		<real>-1.1950000000000001</real>
		<key>longitude</key>
		<real>-46.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387928</string>
		<key>latitude</key>
		<real>-2.5899999999999999</real>
		<key>longitude</key>
		<real>-51.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401148</string>
		<key>latitude</key>
		<real>-1.82833</real>
		<key>longitude</key>
		<real>-44.868327999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386361</string>
		<key>latitude</key>
		<real>-5.0899999999999999</real>
		<key>longitude</key>
		<real>-42.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388441</string>
		<key>latitude</key>
		<real>-2.5619399999999999</real>
		<key>longitude</key>
		<real>-44.054169000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391329</string>
		<key>latitude</key>
		<real>-5.0300000000000002</real>
		<key>longitude</key>
		<real>-42.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388926</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>-48.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411698</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>-48.108330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388173</string>
		<key>latitude</key>
		<real>-5.9299999999999997</real>
		<key>longitude</key>
		<real>-42.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386496</string>
		<key>latitude</key>
		<real>-5.0899999999999999</real>
		<key>longitude</key>
		<real>-42.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395483</string>
		<key>latitude</key>
		<real>-0.76666999999999996</real>
		<key>longitude</key>
		<real>-47.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401992</string>
		<key>latitude</key>
		<real>-4.2599999999999998</real>
		<key>longitude</key>
		<real>-43.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389780</string>
		<key>latitude</key>
		<real>-0.75333000000000006</real>
		<key>longitude</key>
		<real>-48.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401188</string>
		<key>latitude</key>
		<real>-0.72889000000000004</real>
		<key>longitude</key>
		<real>-47.848061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390700</string>
		<key>latitude</key>
		<real>-6.2400000000000002</real>
		<key>longitude</key>
		<real>-42.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388626</string>
		<key>latitude</key>
		<real>-0.77471999999999996</real>
		<key>longitude</key>
		<real>-47.177219000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395440</string>
		<key>latitude</key>
		<real>-0.71750000000000003</real>
		<key>longitude</key>
		<real>-47.699717999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387204</string>
		<key>latitude</key>
		<real>-0.71667000000000003</real>
		<key>longitude</key>
		<real>-48.523330999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385745</string>
		<key>latitude</key>
		<real>-4.5899999999999999</real>
		<key>longitude</key>
		<real>-42.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401106</string>
		<key>latitude</key>
		<real>-5.3600000000000003</real>
		<key>longitude</key>
		<real>-42.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408221</string>
		<key>latitude</key>
		<real>-5.8899999999999997</real>
		<key>longitude</key>
		<real>-42.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385726</string>
		<key>latitude</key>
		<real>-3.21</real>
		<key>longitude</key>
		<real>-43.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393129</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>-53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394621</string>
		<key>latitude</key>
		<real>-5.5599999999999996</real>
		<key>longitude</key>
		<real>-42.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3479327</string>
		<key>latitude</key>
		<real>-11.31</real>
		<key>longitude</key>
		<real>-48.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394892</string>
		<key>latitude</key>
		<real>-4.1699999999999999</real>
		<key>longitude</key>
		<real>-42.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389822</string>
		<key>latitude</key>
		<real>-0.61360999999999999</real>
		<key>longitude</key>
		<real>-47.356110000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403251</string>
		<key>latitude</key>
		<real>-8.1099999999999994</real>
		<key>longitude</key>
		<real>-42.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449842</string>
		<key>latitude</key>
		<real>-11.449999999999999</real>
		<key>longitude</key>
		<real>-48.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397230</string>
		<key>latitude</key>
		<real>-4.7599999999999998</real>
		<key>longitude</key>
		<real>-42.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407797</string>
		<key>latitude</key>
		<real>-5.04</real>
		<key>longitude</key>
		<real>-42.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405796</string>
		<key>latitude</key>
		<real>-5.4500000000000002</real>
		<key>longitude</key>
		<real>-42.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398428</string>
		<key>latitude</key>
		<real>-2.5983299999999998</real>
		<key>longitude</key>
		<real>-43.461109</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391408</string>
		<key>latitude</key>
		<real>-3.8900000000000001</real>
		<key>longitude</key>
		<real>-42.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3410102</string>
		<key>latitude</key>
		<real>-3.7000000000000002</real>
		<key>longitude</key>
		<real>-42.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3451432</string>
		<key>latitude</key>
		<real>-11.619999999999999</real>
		<key>longitude</key>
		<real>-47.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3410315</string>
		<key>latitude</key>
		<real>-3.8900000000000001</real>
		<key>longitude</key>
		<real>-42.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404889</string>
		<key>latitude</key>
		<real>-3.6800000000000002</real>
		<key>longitude</key>
		<real>-42.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3463124</string>
		<key>latitude</key>
		<real>-11.050000000000001</real>
		<key>longitude</key>
		<real>-45.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456739</string>
		<key>latitude</key>
		<real>-11.029999999999999</real>
		<key>longitude</key>
		<real>-45.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3410007</string>
		<key>latitude</key>
		<real>-3.5699999999999998</real>
		<key>longitude</key>
		<real>-42.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398480</string>
		<key>latitude</key>
		<real>-1.405</real>
		<key>longitude</key>
		<real>-51.639999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395125</string>
		<key>latitude</key>
		<real>-3.7200000000000002</real>
		<key>longitude</key>
		<real>-42.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3479308</string>
		<key>latitude</key>
		<real>-11.44</real>
		<key>longitude</key>
		<real>-50.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389358</string>
		<key>latitude</key>
		<real>-3.52</real>
		<key>longitude</key>
		<real>-42.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391387</string>
		<key>latitude</key>
		<real>-1.7483299999999999</real>
		<key>longitude</key>
		<real>-52.238331000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388145</string>
		<key>latitude</key>
		<real>-9.0199999999999996</real>
		<key>longitude</key>
		<real>-42.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406196</string>
		<key>latitude</key>
		<real>-2.7469399999999999</real>
		<key>longitude</key>
		<real>-42.826388999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388949</string>
		<key>latitude</key>
		<real>-3.3599999999999999</real>
		<key>longitude</key>
		<real>-42.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396101</string>
		<key>latitude</key>
		<real>-3.46</real>
		<key>longitude</key>
		<real>-42.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397843</string>
		<key>latitude</key>
		<real>-1.3666700000000001</real>
		<key>longitude</key>
		<real>-52.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468734</string>
		<key>latitude</key>
		<real>-10.710000000000001</real>
		<key>longitude</key>
		<real>-43.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407903</string>
		<key>latitude</key>
		<real>-1.5233300000000001</real>
		<key>longitude</key>
		<real>-52.581668999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394561</string>
		<key>latitude</key>
		<real>-0.86667000000000005</real>
		<key>longitude</key>
		<real>-52.528331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452830</string>
		<key>latitude</key>
		<real>-10.130000000000001</real>
		<key>longitude</key>
		<real>-42.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391287</string>
		<key>latitude</key>
		<real>-1.8</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3470821</string>
		<key>latitude</key>
		<real>-11.09</real>
		<key>longitude</key>
		<real>-43.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444823</string>
		<key>latitude</key>
		<real>-10.82</real>
		<key>longitude</key>
		<real>-42.729999999999997</real>
	</dict>
</array>
</plist>
