<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3454005</string>
		<key>latitude</key>
		<real>-10.41</real>
		<key>longitude</key>
		<real>-36.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3465329</string>
		<key>latitude</key>
		<real>-10.130000000000001</real>
		<key>longitude</key>
		<real>-36.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395981</string>
		<key>latitude</key>
		<real>-9.6699999999999999</real>
		<key>longitude</key>
		<real>-35.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3457646</string>
		<key>latitude</key>
		<real>-10.279999999999999</real>
		<key>longitude</key>
		<real>-36.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6320645</string>
		<key>latitude</key>
		<real>-9.5700000000000003</real>
		<key>longitude</key>
		<real>-35.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401751</string>
		<key>latitude</key>
		<real>-9.6400000000000006</real>
		<key>longitude</key>
		<real>-35.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395395</string>
		<key>latitude</key>
		<real>-9.7100000000000009</real>
		<key>longitude</key>
		<real>-35.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406333</string>
		<key>latitude</key>
		<real>-9.4000000000000004</real>
		<key>longitude</key>
		<real>-35.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3453599</string>
		<key>latitude</key>
		<real>-10.74</real>
		<key>longitude</key>
		<real>-36.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3455637</string>
		<key>latitude</key>
		<real>-10.449999999999999</real>
		<key>longitude</key>
		<real>-36.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390522</string>
		<key>latitude</key>
		<real>-9.25</real>
		<key>longitude</key>
		<real>-35.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3467754</string>
		<key>latitude</key>
		<real>-10.23</real>
		<key>longitude</key>
		<real>-36.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456325</string>
		<key>latitude</key>
		<real>-10.32</real>
		<key>longitude</key>
		<real>-36.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3470819</string>
		<key>latitude</key>
		<real>-11.15</real>
		<key>longitude</key>
		<real>-37.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471355</string>
		<key>latitude</key>
		<real>-10.970000000000001</real>
		<key>longitude</key>
		<real>-37.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387987</string>
		<key>latitude</key>
		<real>-9.5600000000000005</real>
		<key>longitude</key>
		<real>-35.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3470674</string>
		<key>latitude</key>
		<real>-10.91</real>
		<key>longitude</key>
		<real>-37.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388269</string>
		<key>latitude</key>
		<real>-9.7799999999999994</real>
		<key>longitude</key>
		<real>-36.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3454231</string>
		<key>latitude</key>
		<real>-10.289999999999999</real>
		<key>longitude</key>
		<real>-36.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388341</string>
		<key>latitude</key>
		<real>-9.3200000000000003</real>
		<key>longitude</key>
		<real>-35.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471872</string>
		<key>latitude</key>
		<real>-10.91</real>
		<key>longitude</key>
		<real>-37.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392126</string>
		<key>latitude</key>
		<real>-9.5999999999999996</real>
		<key>longitude</key>
		<real>-35.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449710</string>
		<key>latitude</key>
		<real>-10.789999999999999</real>
		<key>longitude</key>
		<real>-37.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390288</string>
		<key>latitude</key>
		<real>-9.4800000000000004</real>
		<key>longitude</key>
		<real>-35.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3465713</string>
		<key>latitude</key>
		<real>-11.81</real>
		<key>longitude</key>
		<real>-37.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449310</string>
		<key>latitude</key>
		<real>-11.01</real>
		<key>longitude</key>
		<real>-37.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395458</string>
		<key>latitude</key>
		<real>-9.0099999999999998</real>
		<key>longitude</key>
		<real>-35.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460136</string>
		<key>latitude</key>
		<real>-10.59</real>
		<key>longitude</key>
		<real>-36.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456223</string>
		<key>latitude</key>
		<real>-10.859999999999999</real>
		<key>longitude</key>
		<real>-37.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3466898</string>
		<key>latitude</key>
		<real>-10.65</real>
		<key>longitude</key>
		<real>-36.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392415</string>
		<key>latitude</key>
		<real>-9.3000000000000007</real>
		<key>longitude</key>
		<real>-35.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3450874</string>
		<key>latitude</key>
		<real>-10.699999999999999</real>
		<key>longitude</key>
		<real>-37.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3461289</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-37.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3457582</string>
		<key>latitude</key>
		<real>-10.74</real>
		<key>longitude</key>
		<real>-37.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460127</string>
		<key>latitude</key>
		<real>-10.35</real>
		<key>longitude</key>
		<real>-36.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395077</string>
		<key>latitude</key>
		<real>-9.1500000000000004</real>
		<key>longitude</key>
		<real>-35.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394908</string>
		<key>latitude</key>
		<real>-9.3800000000000008</real>
		<key>longitude</key>
		<real>-35.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388456</string>
		<key>latitude</key>
		<real>-8.9000000000000004</real>
		<key>longitude</key>
		<real>-35.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405814</string>
		<key>latitude</key>
		<real>-9.8000000000000007</real>
		<key>longitude</key>
		<real>-36.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391397</string>
		<key>latitude</key>
		<real>-9.0500000000000007</real>
		<key>longitude</key>
		<real>-35.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3463900</string>
		<key>latitude</key>
		<real>-11.27</real>
		<key>longitude</key>
		<real>-37.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3458778</string>
		<key>latitude</key>
		<real>-10.81</real>
		<key>longitude</key>
		<real>-37.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406996</string>
		<key>latitude</key>
		<real>-9.5</real>
		<key>longitude</key>
		<real>-36.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3461484</string>
		<key>latitude</key>
		<real>-10.130000000000001</real>
		<key>longitude</key>
		<real>-36.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397063</string>
		<key>latitude</key>
		<real>-9.9299999999999997</real>
		<key>longitude</key>
		<real>-36.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403611</string>
		<key>latitude</key>
		<real>-9.7799999999999994</real>
		<key>longitude</key>
		<real>-36.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456498</string>
		<key>latitude</key>
		<real>-10.43</real>
		<key>longitude</key>
		<real>-36.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407693</string>
		<key>latitude</key>
		<real>-9.6799999999999997</real>
		<key>longitude</key>
		<real>-36.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388112</string>
		<key>latitude</key>
		<real>-9.9299999999999997</real>
		<key>longitude</key>
		<real>-36.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3458102</string>
		<key>latitude</key>
		<real>-10.35</real>
		<key>longitude</key>
		<real>-36.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3447533</string>
		<key>latitude</key>
		<real>-10.6</real>
		<key>longitude</key>
		<real>-37.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3467319</string>
		<key>latitude</key>
		<real>-10.5</real>
		<key>longitude</key>
		<real>-37.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406160</string>
		<key>latitude</key>
		<real>-8.8200000000000003</real>
		<key>longitude</key>
		<real>-35.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398456</string>
		<key>latitude</key>
		<real>-9.5700000000000003</real>
		<key>longitude</key>
		<real>-36.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386931</string>
		<key>latitude</key>
		<real>-8.7599999999999998</real>
		<key>longitude</key>
		<real>-35.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399571</string>
		<key>latitude</key>
		<real>-9.1999999999999993</real>
		<key>longitude</key>
		<real>-35.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452233</string>
		<key>latitude</key>
		<real>-10.210000000000001</real>
		<key>longitude</key>
		<real>-36.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389898</string>
		<key>latitude</key>
		<real>-9.5999999999999996</real>
		<key>longitude</key>
		<real>-36.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394116</string>
		<key>latitude</key>
		<real>-9.3100000000000005</real>
		<key>longitude</key>
		<real>-35.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452671</string>
		<key>latitude</key>
		<real>-10.19</real>
		<key>longitude</key>
		<real>-36.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449795</string>
		<key>latitude</key>
		<real>-10.65</real>
		<key>longitude</key>
		<real>-37.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403200</string>
		<key>latitude</key>
		<real>-9.4100000000000001</real>
		<key>longitude</key>
		<real>-36.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403941</string>
		<key>latitude</key>
		<real>-9.7200000000000006</real>
		<key>longitude</key>
		<real>-36.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395336</string>
		<key>latitude</key>
		<real>-9.5800000000000001</real>
		<key>longitude</key>
		<real>-36.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3450710</string>
		<key>latitude</key>
		<real>-11.029999999999999</real>
		<key>longitude</key>
		<real>-37.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3445818</string>
		<key>latitude</key>
		<real>-11.380000000000001</real>
		<key>longitude</key>
		<real>-37.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471609</string>
		<key>latitude</key>
		<real>-10.76</real>
		<key>longitude</key>
		<real>-37.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396270</string>
		<key>latitude</key>
		<real>-9.7400000000000002</real>
		<key>longitude</key>
		<real>-36.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471699</string>
		<key>latitude</key>
		<real>-11.26</real>
		<key>longitude</key>
		<real>-37.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471902</string>
		<key>latitude</key>
		<real>-10.279999999999999</real>
		<key>longitude</key>
		<real>-37.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397068</string>
		<key>latitude</key>
		<real>-8.9299999999999997</real>
		<key>longitude</key>
		<real>-35.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3458093</string>
		<key>latitude</key>
		<real>-10.66</real>
		<key>longitude</key>
		<real>-37.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456234</string>
		<key>latitude</key>
		<real>-10.49</real>
		<key>longitude</key>
		<real>-37.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390295</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>-35.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394645</string>
		<key>latitude</key>
		<real>-9.8800000000000008</real>
		<key>longitude</key>
		<real>-36.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401446</string>
		<key>latitude</key>
		<real>-9.6500000000000004</real>
		<key>longitude</key>
		<real>-36.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468823</string>
		<key>latitude</key>
		<real>-11.15</real>
		<key>longitude</key>
		<real>-37.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386628</string>
		<key>latitude</key>
		<real>-9.6500000000000004</real>
		<key>longitude</key>
		<real>-36.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3454394</string>
		<key>latitude</key>
		<real>-11.19</real>
		<key>longitude</key>
		<real>-37.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393792</string>
		<key>latitude</key>
		<real>-8.9199999999999999</real>
		<key>longitude</key>
		<real>-35.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387604</string>
		<key>latitude</key>
		<real>-8.5899999999999999</real>
		<key>longitude</key>
		<real>-35.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385109</string>
		<key>latitude</key>
		<real>-9.3699999999999992</real>
		<key>longitude</key>
		<real>-36.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403660</string>
		<key>latitude</key>
		<real>-8.8499999999999996</real>
		<key>longitude</key>
		<real>-35.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407327</string>
		<key>latitude</key>
		<real>-9.75</real>
		<key>longitude</key>
		<real>-36.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3446259</string>
		<key>latitude</key>
		<real>-10.07</real>
		<key>longitude</key>
		<real>-36.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396877</string>
		<key>latitude</key>
		<real>-9.8300000000000001</real>
		<key>longitude</key>
		<real>-36.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456977</string>
		<key>latitude</key>
		<real>-10.58</real>
		<key>longitude</key>
		<real>-37.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393544</string>
		<key>latitude</key>
		<real>-9.8300000000000001</real>
		<key>longitude</key>
		<real>-36.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385742</string>
		<key>latitude</key>
		<real>-9.1600000000000001</real>
		<key>longitude</key>
		<real>-36.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460974</string>
		<key>latitude</key>
		<real>-10.69</real>
		<key>longitude</key>
		<real>-37.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401980</string>
		<key>latitude</key>
		<real>-9.6300000000000008</real>
		<key>longitude</key>
		<real>-36.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401944</string>
		<key>latitude</key>
		<real>-8.9100000000000001</real>
		<key>longitude</key>
		<real>-35.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397337</string>
		<key>latitude</key>
		<real>-9.8800000000000008</real>
		<key>longitude</key>
		<real>-36.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3467780</string>
		<key>latitude</key>
		<real>-10.73</real>
		<key>longitude</key>
		<real>-37.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384930</string>
		<key>latitude</key>
		<real>-8.8000000000000007</real>
		<key>longitude</key>
		<real>-35.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392732</string>
		<key>latitude</key>
		<real>-9.3699999999999992</real>
		<key>longitude</key>
		<real>-36.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3451476</string>
		<key>latitude</key>
		<real>-11.07</real>
		<key>longitude</key>
		<real>-37.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460962</string>
		<key>latitude</key>
		<real>-10.130000000000001</real>
		<key>longitude</key>
		<real>-37.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456230</string>
		<key>latitude</key>
		<real>-10.08</real>
		<key>longitude</key>
		<real>-37.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3459342</string>
		<key>latitude</key>
		<real>-10.92</real>
		<key>longitude</key>
		<real>-37.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403420</string>
		<key>latitude</key>
		<real>-8.9299999999999997</real>
		<key>longitude</key>
		<real>-35.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408175</string>
		<key>latitude</key>
		<real>-8.7100000000000009</real>
		<key>longitude</key>
		<real>-35.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3451305</string>
		<key>latitude</key>
		<real>-10.539999999999999</real>
		<key>longitude</key>
		<real>-37.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389382</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-36.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386198</string>
		<key>latitude</key>
		<real>-9.9700000000000006</real>
		<key>longitude</key>
		<real>-37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402211</string>
		<key>latitude</key>
		<real>-9.2599999999999998</real>
		<key>longitude</key>
		<real>-36.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398412</string>
		<key>latitude</key>
		<real>-8.9700000000000006</real>
		<key>longitude</key>
		<real>-35.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408096</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>-36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398115</string>
		<key>latitude</key>
		<real>-8.4000000000000004</real>
		<key>longitude</key>
		<real>-35.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3458257</string>
		<key>latitude</key>
		<real>-10.67</real>
		<key>longitude</key>
		<real>-37.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389380</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-36.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399132</string>
		<key>latitude</key>
		<real>-8.5800000000000001</real>
		<key>longitude</key>
		<real>-35.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398355</string>
		<key>latitude</key>
		<real>-9.5399999999999991</real>
		<key>longitude</key>
		<real>-36.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393264</string>
		<key>latitude</key>
		<real>-8.6799999999999997</real>
		<key>longitude</key>
		<real>-35.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388454</string>
		<key>latitude</key>
		<real>-9.0099999999999998</real>
		<key>longitude</key>
		<real>-36.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397262</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>-35.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399051</string>
		<key>latitude</key>
		<real>-9.9700000000000006</real>
		<key>longitude</key>
		<real>-37.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391090</string>
		<key>latitude</key>
		<real>-9.3200000000000003</real>
		<key>longitude</key>
		<real>-36.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3462944</string>
		<key>latitude</key>
		<real>-10.550000000000001</real>
		<key>longitude</key>
		<real>-37.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390326</string>
		<key>latitude</key>
		<real>-8.5099999999999998</real>
		<key>longitude</key>
		<real>-35.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3447799</string>
		<key>latitude</key>
		<real>-10.5</real>
		<key>longitude</key>
		<real>-37.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395456</string>
		<key>latitude</key>
		<real>-8.7799999999999994</real>
		<key>longitude</key>
		<real>-35.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386116</string>
		<key>latitude</key>
		<real>-9.4199999999999999</real>
		<key>longitude</key>
		<real>-36.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402528</string>
		<key>latitude</key>
		<real>-8.6699999999999999</real>
		<key>longitude</key>
		<real>-35.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3390965</string>
		<key>latitude</key>
		<real>-8.8300000000000001</real>
		<key>longitude</key>
		<real>-36.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456240</string>
		<key>latitude</key>
		<real>-10.220000000000001</real>
		<key>longitude</key>
		<real>-37.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407841</string>
		<key>latitude</key>
		<real>-8.8200000000000003</real>
		<key>longitude</key>
		<real>-36.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407757</string>
		<key>latitude</key>
		<real>-8.4000000000000004</real>
		<key>longitude</key>
		<real>-35.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405853</string>
		<key>latitude</key>
		<real>-8.6300000000000008</real>
		<key>longitude</key>
		<real>-35.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403360</string>
		<key>latitude</key>
		<real>-8.8800000000000008</real>
		<key>longitude</key>
		<real>-36.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396716</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>-35.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391395</string>
		<key>latitude</key>
		<real>-9.9199999999999999</real>
		<key>longitude</key>
		<real>-37.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388008</string>
		<key>latitude</key>
		<real>-8.9000000000000004</real>
		<key>longitude</key>
		<real>-36.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405993</string>
		<key>latitude</key>
		<real>-9.6799999999999997</real>
		<key>longitude</key>
		<real>-37.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407623</string>
		<key>latitude</key>
		<real>-8.8900000000000006</real>
		<key>longitude</key>
		<real>-36.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395880</string>
		<key>latitude</key>
		<real>-9.5299999999999994</real>
		<key>longitude</key>
		<real>-36.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401340</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>-35.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405172</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>-35.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393190</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>-36.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398622</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>-35.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3466941</string>
		<key>latitude</key>
		<real>-10.359999999999999</real>
		<key>longitude</key>
		<real>-37.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405380</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-36.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388660</string>
		<key>latitude</key>
		<real>-8.8800000000000008</real>
		<key>longitude</key>
		<real>-36.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394841</string>
		<key>latitude</key>
		<real>-9.3100000000000005</real>
		<key>longitude</key>
		<real>-36.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388567</string>
		<key>latitude</key>
		<real>-8.4299999999999997</real>
		<key>longitude</key>
		<real>-35.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397761</string>
		<key>latitude</key>
		<real>-9.6400000000000006</real>
		<key>longitude</key>
		<real>-37.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404257</string>
		<key>latitude</key>
		<real>-9.4000000000000004</real>
		<key>longitude</key>
		<real>-36.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456879</string>
		<key>latitude</key>
		<real>-10.029999999999999</real>
		<key>longitude</key>
		<real>-37.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399058</string>
		<key>latitude</key>
		<real>-8.8900000000000006</real>
		<key>longitude</key>
		<real>-36.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408251</string>
		<key>latitude</key>
		<real>-8.4600000000000009</real>
		<key>longitude</key>
		<real>-35.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393525</string>
		<key>latitude</key>
		<real>-9.5199999999999996</real>
		<key>longitude</key>
		<real>-37.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394816</string>
		<key>latitude</key>
		<real>-8.9600000000000009</real>
		<key>longitude</key>
		<real>-36.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3399040</string>
		<key>latitude</key>
		<real>-9.3800000000000008</real>
		<key>longitude</key>
		<real>-37.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388114</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>-36.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398399</string>
		<key>latitude</key>
		<real>-8.5800000000000001</real>
		<key>longitude</key>
		<real>-36.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3400989</string>
		<key>latitude</key>
		<real>-9.3900000000000006</real>
		<key>longitude</key>
		<real>-37.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407871</string>
		<key>latitude</key>
		<real>-8.4900000000000002</real>
		<key>longitude</key>
		<real>-36.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393269</string>
		<key>latitude</key>
		<real>-9.6500000000000004</real>
		<key>longitude</key>
		<real>-37.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393174</string>
		<key>latitude</key>
		<real>-9.75</real>
		<key>longitude</key>
		<real>-37.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396496</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>-36.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392986</string>
		<key>latitude</key>
		<real>-9.5299999999999994</real>
		<key>longitude</key>
		<real>-37.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388447</string>
		<key>latitude</key>
		<real>-9.5600000000000005</real>
		<key>longitude</key>
		<real>-37.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404355</string>
		<key>latitude</key>
		<real>-8.4900000000000002</real>
		<key>longitude</key>
		<real>-36.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406038</string>
		<key>latitude</key>
		<real>-9.3699999999999992</real>
		<key>longitude</key>
		<real>-37.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389384</string>
		<key>latitude</key>
		<real>-9.3800000000000008</real>
		<key>longitude</key>
		<real>-37.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404231</string>
		<key>latitude</key>
		<real>-8.7699999999999996</real>
		<key>longitude</key>
		<real>-36.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398688</string>
		<key>latitude</key>
		<real>-8.5500000000000007</real>
		<key>longitude</key>
		<real>-36.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395188</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>-36.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403082</string>
		<key>latitude</key>
		<real>-8.7300000000000004</real>
		<key>longitude</key>
		<real>-36.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3403338</string>
		<key>latitude</key>
		<real>-9.3200000000000003</real>
		<key>longitude</key>
		<real>-37.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391686</string>
		<key>latitude</key>
		<real>-9.3100000000000005</real>
		<key>longitude</key>
		<real>-37.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408166</string>
		<key>latitude</key>
		<real>-9.1099999999999994</real>
		<key>longitude</key>
		<real>-37.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397983</string>
		<key>latitude</key>
		<real>-8.9499999999999993</real>
		<key>longitude</key>
		<real>-37.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3392657</string>
		<key>latitude</key>
		<real>-8.5</real>
		<key>longitude</key>
		<real>-36.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394860</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>-36.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404766</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>-37.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385920</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>-37.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395162</string>
		<key>latitude</key>
		<real>-9.1199999999999992</real>
		<key>longitude</key>
		<real>-37.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407216</string>
		<key>latitude</key>
		<real>-8.4199999999999999</real>
		<key>longitude</key>
		<real>-37.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395687</string>
		<key>latitude</key>
		<real>-8.8200000000000003</real>
		<key>longitude</key>
		<real>-37.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402848</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>-37.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398401</string>
		<key>latitude</key>
		<real>-8.5399999999999991</real>
		<key>longitude</key>
		<real>-37.689999999999998</real>
	</dict>
</array>
</plist>
