<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3415667</string>
		<key>latitude</key>
		<real>66.079999999999998</real>
		<key>longitude</key>
		<real>-23.120000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3412888</string>
		<key>latitude</key>
		<real>65.079999999999998</real>
		<key>longitude</key>
		<real>-22.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3414079</string>
		<key>latitude</key>
		<real>64.890000000000001</real>
		<key>longitude</key>
		<real>-23.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426184</string>
		<key>latitude</key>
		<real>64.75</real>
		<key>longitude</key>
		<real>-21.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3418076</string>
		<key>latitude</key>
		<real>64.540000000000006</real>
		<key>longitude</key>
		<real>-21.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3418365</string>
		<key>latitude</key>
		<real>64.620000000000005</real>
		<key>longitude</key>
		<real>-21.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3337403</string>
		<key>latitude</key>
		<real>65.329999999999998</real>
		<key>longitude</key>
		<real>-20</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2627309</string>
		<key>latitude</key>
		<real>65.75</real>
		<key>longitude</key>
		<real>-19.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3418653</string>
		<key>latitude</key>
		<real>64.319999999999993</real>
		<key>longitude</key>
		<real>-22.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3413650</string>
		<key>latitude</key>
		<real>64.409999999999997</real>
		<key>longitude</key>
		<real>-21.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3414979</string>
		<key>latitude</key>
		<real>64.150000000000006</real>
		<key>longitude</key>
		<real>-22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3413727</string>
		<key>latitude</key>
		<real>64.040000000000006</real>
		<key>longitude</key>
		<real>-22.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3416900</string>
		<key>latitude</key>
		<real>64.140000000000001</real>
		<key>longitude</key>
		<real>-21.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3413829</string>
		<key>latitude</key>
		<real>64.140000000000001</real>
		<key>longitude</key>
		<real>-21.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2627130</string>
		<key>latitude</key>
		<real>66.150000000000006</real>
		<key>longitude</key>
		<real>-18.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3415021</string>
		<key>latitude</key>
		<real>64.170000000000002</real>
		<key>longitude</key>
		<real>-21.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3417972</string>
		<key>latitude</key>
		<real>64.099999999999994</real>
		<key>longitude</key>
		<real>-22.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426182</string>
		<key>latitude</key>
		<real>64.170000000000002</real>
		<key>longitude</key>
		<real>-21.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6692263</string>
		<key>latitude</key>
		<real>64.120000000000005</real>
		<key>longitude</key>
		<real>-21.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3415212</string>
		<key>latitude</key>
		<real>64.109999999999999</real>
		<key>longitude</key>
		<real>-21.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3415496</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>-22.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3411954</string>
		<key>latitude</key>
		<real>63.990000000000002</real>
		<key>longitude</key>
		<real>-22.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3417195</string>
		<key>latitude</key>
		<real>64.090000000000003</real>
		<key>longitude</key>
		<real>-21.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3414222</string>
		<key>latitude</key>
		<real>63.979999999999997</real>
		<key>longitude</key>
		<real>-22.510000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3416706</string>
		<key>latitude</key>
		<real>64.069999999999993</real>
		<key>longitude</key>
		<real>-21.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3415846</string>
		<key>latitude</key>
		<real>64.060000000000002</real>
		<key>longitude</key>
		<real>-21.989999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426183</string>
		<key>latitude</key>
		<real>63.920000000000002</real>
		<key>longitude</key>
		<real>-22.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2632287</string>
		<key>latitude</key>
		<real>65.969999999999999</real>
		<key>longitude</key>
		<real>-18.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3416888</string>
		<key>latitude</key>
		<real>63.840000000000003</real>
		<key>longitude</key>
		<real>-22.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3415761</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>-21.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3412589</string>
		<key>latitude</key>
		<real>63.859999999999999</real>
		<key>longitude</key>
		<real>-21.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3413604</string>
		<key>latitude</key>
		<real>63.93</real>
		<key>longitude</key>
		<real>-21</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2633274</string>
		<key>latitude</key>
		<real>65.680000000000007</real>
		<key>longitude</key>
		<real>-18.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2629399</string>
		<key>latitude</key>
		<real>65.640000000000001</real>
		<key>longitude</key>
		<real>-18.010000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2628310</string>
		<key>latitude</key>
		<real>66.540000000000006</real>
		<key>longitude</key>
		<real>-17.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2629691</string>
		<key>latitude</key>
		<real>65</real>
		<key>longitude</key>
		<real>-18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2629833</string>
		<key>latitude</key>
		<real>66.040000000000006</real>
		<key>longitude</key>
		<real>-17.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3415720</string>
		<key>latitude</key>
		<real>63.75</real>
		<key>longitude</key>
		<real>-20.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3337406</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>-19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3337404</string>
		<key>latitude</key>
		<real>65.5</real>
		<key>longitude</key>
		<real>-17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3412093</string>
		<key>latitude</key>
		<real>63.439999999999998</real>
		<key>longitude</key>
		<real>-20.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3414109</string>
		<key>latitude</key>
		<real>63.420000000000002</real>
		<key>longitude</key>
		<real>-20.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2627642</string>
		<key>latitude</key>
		<real>66.439999999999998</real>
		<key>longitude</key>
		<real>-15.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2625252</string>
		<key>latitude</key>
		<real>63.420000000000002</real>
		<key>longitude</key>
		<real>-19.010000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2625189</string>
		<key>latitude</key>
		<real>65.760000000000005</real>
		<key>longitude</key>
		<real>-14.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3337405</string>
		<key>latitude</key>
		<real>65</real>
		<key>longitude</key>
		<real>-15</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6354943</string>
		<key>latitude</key>
		<real>65.269999999999996</real>
		<key>longitude</key>
		<real>-14.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2632811</string>
		<key>latitude</key>
		<real>64.319999999999993</real>
		<key>longitude</key>
		<real>-15.24</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2630299</string>
		<key>latitude</key>
		<real>64.25</real>
		<key>longitude</key>
		<real>-15.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2632428</string>
		<key>latitude</key>
		<real>65.030000000000001</real>
		<key>longitude</key>
		<real>-14.220000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2628020</string>
		<key>latitude</key>
		<real>65.150000000000006</real>
		<key>longitude</key>
		<real>-13.68</real>
	</dict>
</array>
</plist>
