<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3418910</string>
		<key>latitude</key>
		<real>72.790000000000006</real>
		<key>longitude</key>
		<real>-56.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3425505</string>
		<key>latitude</key>
		<real>72</real>
		<key>longitude</key>
		<real>-40</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426193</string>
		<key>latitude</key>
		<real>70.670000000000002</real>
		<key>longitude</key>
		<real>-52.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3420937</string>
		<key>latitude</key>
		<real>70.730000000000004</real>
		<key>longitude</key>
		<real>-52.649999999999999</real>
	</dict>
</array>
</plist>
