<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6096551</string>
		<key>latitude</key>
		<real>66.150000000000006</real>
		<key>longitude</key>
		<real>-65.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6114685</string>
		<key>latitude</key>
		<real>67.560000000000002</real>
		<key>longitude</key>
		<real>-64.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5983720</string>
		<key>latitude</key>
		<real>63.75</real>
		<key>longitude</key>
		<real>-68.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5992095</string>
		<key>latitude</key>
		<real>62.850000000000001</real>
		<key>longitude</key>
		<real>-69.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602006</string>
		<key>latitude</key>
		<real>66.930000000000007</real>
		<key>longitude</key>
		<real>-53.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3419842</string>
		<key>latitude</key>
		<real>66.939999999999998</real>
		<key>longitude</key>
		<real>-53.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3420635</string>
		<key>latitude</key>
		<real>69.25</real>
		<key>longitude</key>
		<real>-53.539999999999999</real>
	</dict>
</array>
</plist>
