<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6943727</string>
		<key>latitude</key>
		<real>55.090000000000003</real>
		<key>longitude</key>
		<real>-59.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6694966</string>
		<key>latitude</key>
		<real>55.469999999999999</real>
		<key>longitude</key>
		<real>-60.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910166</string>
		<key>latitude</key>
		<real>55.920000000000002</real>
		<key>longitude</key>
		<real>-61.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6947098</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-58.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943726</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-57.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3422861</string>
		<key>latitude</key>
		<real>61.200000000000003</real>
		<key>longitude</key>
		<real>-48.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3421193</string>
		<key>latitude</key>
		<real>61.990000000000002</real>
		<key>longitude</key>
		<real>-49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6295666</string>
		<key>latitude</key>
		<real>61.229999999999997</real>
		<key>longitude</key>
		<real>-48.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6957320</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-64.010000000000005</real>
	</dict>
</array>
</plist>
