<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3422891</string>
		<key>latitude</key>
		<real>70.480000000000004</real>
		<key>longitude</key>
		<real>-21.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3422887</string>
		<key>latitude</key>
		<real>70.450000000000003</real>
		<key>longitude</key>
		<real>-22.449999999999999</real>
	</dict>
</array>
</plist>
