<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3421765</string>
		<key>latitude</key>
		<real>60.140000000000001</real>
		<key>longitude</key>
		<real>-45.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3420846</string>
		<key>latitude</key>
		<real>60.719999999999999</real>
		<key>longitude</key>
		<real>-46.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602005</string>
		<key>latitude</key>
		<real>60.719999999999999</real>
		<key>longitude</key>
		<real>-46.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3421711</string>
		<key>latitude</key>
		<real>61.170000000000002</real>
		<key>longitude</key>
		<real>-45.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3421719</string>
		<key>latitude</key>
		<real>60.920000000000002</real>
		<key>longitude</key>
		<real>-46.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6295666</string>
		<key>latitude</key>
		<real>61.229999999999997</real>
		<key>longitude</key>
		<real>-48.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3422861</string>
		<key>latitude</key>
		<real>61.200000000000003</real>
		<key>longitude</key>
		<real>-48.170000000000002</real>
	</dict>
</array>
</plist>
