<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3424607</string>
		<key>latitude</key>
		<real>65.609999999999999</real>
		<key>longitude</key>
		<real>-37.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3422225</string>
		<key>latitude</key>
		<real>65.579999999999998</real>
		<key>longitude</key>
		<real>-37.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3422518</string>
		<key>latitude</key>
		<real>65.569999999999993</real>
		<key>longitude</key>
		<real>-37.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3421193</string>
		<key>latitude</key>
		<real>61.990000000000002</real>
		<key>longitude</key>
		<real>-49.670000000000002</real>
	</dict>
</array>
</plist>
