<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3426466</string>
		<key>latitude</key>
		<real>-54.281109000000001</real>
		<key>longitude</key>
		<real>-36.509200999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474415</string>
		<key>latitude</key>
		<real>-56</real>
		<key>longitude</key>
		<real>-33</real>
	</dict>
</array>
</plist>
