<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3442163</string>
		<key>latitude</key>
		<real>-34.369999999999997</real>
		<key>longitude</key>
		<real>-53.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3442105</string>
		<key>latitude</key>
		<real>-34.670000000000002</real>
		<key>longitude</key>
		<real>-54.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3443289</string>
		<key>latitude</key>
		<real>-34.170000000000002</real>
		<key>longitude</key>
		<real>-53.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3443061</string>
		<key>latitude</key>
		<real>-33.700000000000003</real>
		<key>longitude</key>
		<real>-53.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3466187</string>
		<key>latitude</key>
		<real>-33.689999999999998</real>
		<key>longitude</key>
		<real>-53.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3440777</string>
		<key>latitude</key>
		<real>-34.479999999999997</real>
		<key>longitude</key>
		<real>-54.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3442766</string>
		<key>latitude</key>
		<real>-33.68</real>
		<key>longitude</key>
		<real>-53.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449747</string>
		<key>latitude</key>
		<real>-33.520000000000003</real>
		<key>longitude</key>
		<real>-53.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3440771</string>
		<key>latitude</key>
		<real>-34</real>
		<key>longitude</key>
		<real>-54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3439652</string>
		<key>latitude</key>
		<real>-34.030000000000001</real>
		<key>longitude</key>
		<real>-54.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3442071</string>
		<key>latitude</key>
		<real>-33.670000000000002</real>
		<key>longitude</key>
		<real>-54.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3443256</string>
		<key>latitude</key>
		<real>-33.270000000000003</real>
		<key>longitude</key>
		<real>-53.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3439622</string>
		<key>latitude</key>
		<real>-32.93</real>
		<key>longitude</key>
		<real>-53.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3439590</string>
		<key>latitude</key>
		<real>-33.270000000000003</real>
		<key>longitude</key>
		<real>-54.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3439781</string>
		<key>latitude</key>
		<real>-33.229999999999997</real>
		<key>longitude</key>
		<real>-54.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3443861</string>
		<key>latitude</key>
		<real>-33.219999999999999</real>
		<key>longitude</key>
		<real>-54.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3439780</string>
		<key>latitude</key>
		<real>-33</real>
		<key>longitude</key>
		<real>-54.25</real>
	</dict>
</array>
</plist>
