<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3426886</string>
		<key>latitude</key>
		<real>-51.899999999999999</real>
		<key>longitude</key>
		<real>-58.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426691</string>
		<key>latitude</key>
		<real>-51.700000000000003</real>
		<key>longitude</key>
		<real>-57.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426768</string>
		<key>latitude</key>
		<real>-51.460000000000001</real>
		<key>longitude</key>
		<real>-58.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474414</string>
		<key>latitude</key>
		<real>-51.75</real>
		<key>longitude</key>
		<real>-59.170000000000002</real>
	</dict>
</array>
</plist>
