<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3592086</string>
		<key>latitude</key>
		<real>14.50944</real>
		<key>longitude</key>
		<real>-92.193329000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3516497</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-92.216667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598786</string>
		<key>latitude</key>
		<real>14.300000000000001</real>
		<key>longitude</key>
		<real>-91.916672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598787</string>
		<key>latitude</key>
		<real>14.300000000000001</real>
		<key>longitude</key>
		<real>-91.916672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3520989</string>
		<key>latitude</key>
		<real>14.72076</real>
		<key>longitude</key>
		<real>-92.421463000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3525491</string>
		<key>latitude</key>
		<real>14.59111</real>
		<key>longitude</key>
		<real>-92.193611000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590857</string>
		<key>latitude</key>
		<real>14.33333</real>
		<key>longitude</key>
		<real>-91.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3816960</string>
		<key>latitude</key>
		<real>14.79167</real>
		<key>longitude</key>
		<real>-92.387496999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3523418</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-92.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598129</string>
		<key>latitude</key>
		<real>14.66667</real>
		<key>longitude</key>
		<real>-92.150002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3532958</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-92.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3525846</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>-92.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3527541</string>
		<key>latitude</key>
		<real>14.779999999999999</real>
		<key>longitude</key>
		<real>-92.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3516266</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-92.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591885</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-92.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3526966</string>
		<key>latitude</key>
		<real>15.02</real>
		<key>longitude</key>
		<real>-92.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595674</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-91.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598958</string>
		<key>latitude</key>
		<real>14.85</real>
		<key>longitude</key>
		<real>-92.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3514833</string>
		<key>latitude</key>
		<real>14.98</real>
		<key>longitude</key>
		<real>-92.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3533466</string>
		<key>latitude</key>
		<real>15.279999999999999</real>
		<key>longitude</key>
		<real>-92.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589848</string>
		<key>latitude</key>
		<real>14.52</real>
		<key>longitude</key>
		<real>-91.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595721</string>
		<key>latitude</key>
		<real>14.65</real>
		<key>longitude</key>
		<real>-91.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590856</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590858</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598122</string>
		<key>latitude</key>
		<real>14.699999999999999</real>
		<key>longitude</key>
		<real>-91.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3514685</string>
		<key>latitude</key>
		<real>15.220000000000001</real>
		<key>longitude</key>
		<real>-92.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3526855</string>
		<key>latitude</key>
		<real>15.15</real>
		<key>longitude</key>
		<real>-92.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3515002</string>
		<key>latitude</key>
		<real>14.949999999999999</real>
		<key>longitude</key>
		<real>-92.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597587</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-91.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3523590</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-92.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3514994</string>
		<key>latitude</key>
		<real>15.15</real>
		<key>longitude</key>
		<real>-92.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592145</string>
		<key>latitude</key>
		<real>14.199999999999999</real>
		<key>longitude</key>
		<real>-91.300003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3531904</string>
		<key>latitude</key>
		<real>14.98</real>
		<key>longitude</key>
		<real>-92.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592105</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-91.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591093</string>
		<key>latitude</key>
		<real>14.283329999999999</real>
		<key>longitude</key>
		<real>-91.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592753</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-92.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594425</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-92.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592108</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>-91.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589548</string>
		<key>latitude</key>
		<real>14.57</real>
		<key>longitude</key>
		<real>-91.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3527768</string>
		<key>latitude</key>
		<real>15.33</real>
		<key>longitude</key>
		<real>-92.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589869</string>
		<key>latitude</key>
		<real>14.48</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597750</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589400</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3533491</string>
		<key>latitude</key>
		<real>15.35</real>
		<key>longitude</key>
		<real>-92.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3596389</string>
		<key>latitude</key>
		<real>14.77</real>
		<key>longitude</key>
		<real>-91.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589074</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-91.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589298</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-91.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595929</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590522</string>
		<key>latitude</key>
		<real>14.57</real>
		<key>longitude</key>
		<real>-91.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589677</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590195</string>
		<key>latitude</key>
		<real>14.52</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589776</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-91.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598073</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-91.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3596249</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-91.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594143</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>-91.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590288</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-91.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590029</string>
		<key>latitude</key>
		<real>14.449999999999999</real>
		<key>longitude</key>
		<real>-91.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592609</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594575</string>
		<key>latitude</key>
		<real>14.08333</real>
		<key>longitude</key>
		<real>-91.050003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590197</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589577</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-91.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3596644</string>
		<key>latitude</key>
		<real>14.65</real>
		<key>longitude</key>
		<real>-91.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590804</string>
		<key>latitude</key>
		<real>14.4</real>
		<key>longitude</key>
		<real>-91.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590384</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3514915</string>
		<key>latitude</key>
		<real>15.07</real>
		<key>longitude</key>
		<real>-92.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588668</string>
		<key>latitude</key>
		<real>14.42</real>
		<key>longitude</key>
		<real>-91.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590978</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>-91.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587506</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590411</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590412</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590567</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-91.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591106</string>
		<key>latitude</key>
		<real>14.65</real>
		<key>longitude</key>
		<real>-91.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589671</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-91.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589801</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-91.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595778</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-91.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590323</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-91.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589709</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591060</string>
		<key>latitude</key>
		<real>13.925560000000001</real>
		<key>longitude</key>
		<real>-90.824439999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588760</string>
		<key>latitude</key>
		<real>15.130000000000001</real>
		<key>longitude</key>
		<real>-92.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595802</string>
		<key>latitude</key>
		<real>14.16667</real>
		<key>longitude</key>
		<real>-91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589778</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-91.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589475</string>
		<key>latitude</key>
		<real>14.43</real>
		<key>longitude</key>
		<real>-91.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598678</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-91.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589573</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>-91.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589805</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>-91.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589799</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>-91.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589923</string>
		<key>latitude</key>
		<real>14.42</real>
		<key>longitude</key>
		<real>-91.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589626</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>-91.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589062</string>
		<key>latitude</key>
		<real>14.630000000000001</real>
		<key>longitude</key>
		<real>-91.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597993</string>
		<key>latitude</key>
		<real>14.85</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591541</string>
		<key>latitude</key>
		<real>14.42</real>
		<key>longitude</key>
		<real>-91.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591841</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-91.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588588</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-91.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588612</string>
		<key>latitude</key>
		<real>15.23</real>
		<key>longitude</key>
		<real>-92.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591997</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590419</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>-91.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594750</string>
		<key>latitude</key>
		<real>14.23</real>
		<key>longitude</key>
		<real>-90.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594753</string>
		<key>latitude</key>
		<real>14.23</real>
		<key>longitude</key>
		<real>-90.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595255</string>
		<key>latitude</key>
		<real>13.93333</real>
		<key>longitude</key>
		<real>-90.707497000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589706</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587510</string>
		<key>latitude</key>
		<real>14.779999999999999</real>
		<key>longitude</key>
		<real>-91.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589774</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3522926</string>
		<key>latitude</key>
		<real>15.369999999999999</real>
		<key>longitude</key>
		<real>-92.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587917</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594703</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594666</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589289</string>
		<key>latitude</key>
		<real>14.33</real>
		<key>longitude</key>
		<real>-91.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590979</string>
		<key>latitude</key>
		<real>14.83</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599253</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599793</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-91.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589865</string>
		<key>latitude</key>
		<real>15.029999999999999</real>
		<key>longitude</key>
		<real>-91.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589983</string>
		<key>latitude</key>
		<real>15.220000000000001</real>
		<key>longitude</key>
		<real>-91.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3593359</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599069</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-91.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592642</string>
		<key>latitude</key>
		<real>14.199999999999999</real>
		<key>longitude</key>
		<real>-90.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588460</string>
		<key>latitude</key>
		<real>15.119999999999999</real>
		<key>longitude</key>
		<real>-91.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589247</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-91.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595329</string>
		<key>latitude</key>
		<real>15.199999999999999</real>
		<key>longitude</key>
		<real>-91.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589105</string>
		<key>latitude</key>
		<real>14.640000000000001</real>
		<key>longitude</key>
		<real>-91.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589637</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-91.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590213</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-91.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598025</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-91.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588762</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588697</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-91.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589896</string>
		<key>latitude</key>
		<real>14.699999999999999</real>
		<key>longitude</key>
		<real>-91.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589433</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-91.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589458</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>-91.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590520</string>
		<key>latitude</key>
		<real>14.9</real>
		<key>longitude</key>
		<real>-91.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590605</string>
		<key>latitude</key>
		<real>14.880000000000001</real>
		<key>longitude</key>
		<real>-91.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589669</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-91.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589795</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-91.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590347</string>
		<key>latitude</key>
		<real>14.98</real>
		<key>longitude</key>
		<real>-91.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3516654</string>
		<key>latitude</key>
		<real>15.550000000000001</real>
		<key>longitude</key>
		<real>-92.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591210</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-91.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589850</string>
		<key>latitude</key>
		<real>14.630000000000001</real>
		<key>longitude</key>
		<real>-91.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589282</string>
		<key>latitude</key>
		<real>14.77</real>
		<key>longitude</key>
		<real>-91.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590318</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-91.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590219</string>
		<key>latitude</key>
		<real>14.949999999999999</real>
		<key>longitude</key>
		<real>-91.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595406</string>
		<key>latitude</key>
		<real>15.1</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589402</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>-91.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592286</string>
		<key>latitude</key>
		<real>14.85</real>
		<key>longitude</key>
		<real>-91.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587636</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>-90.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595803</string>
		<key>latitude</key>
		<real>14.31</real>
		<key>longitude</key>
		<real>-90.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595801</string>
		<key>latitude</key>
		<real>14.300000000000001</real>
		<key>longitude</key>
		<real>-90.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599287</string>
		<key>latitude</key>
		<real>15.130000000000001</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597802</string>
		<key>latitude</key>
		<real>15.4</real>
		<key>longitude</key>
		<real>-91.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588255</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-91.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588258</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-91.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589720</string>
		<key>latitude</key>
		<real>15.25</real>
		<key>longitude</key>
		<real>-91.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590424</string>
		<key>latitude</key>
		<real>14.699999999999999</real>
		<key>longitude</key>
		<real>-91.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591750</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>-91.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595108</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>-91.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597976</string>
		<key>latitude</key>
		<real>15.279999999999999</real>
		<key>longitude</key>
		<real>-91.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588726</string>
		<key>latitude</key>
		<real>15.199999999999999</real>
		<key>longitude</key>
		<real>-91.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589454</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-91.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588698</string>
		<key>latitude</key>
		<real>14.77</real>
		<key>longitude</key>
		<real>-91.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3600008</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-90.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590524</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>-91.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598006</string>
		<key>latitude</key>
		<real>14.779999999999999</real>
		<key>longitude</key>
		<real>-91.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595554</string>
		<key>latitude</key>
		<real>14.23</real>
		<key>longitude</key>
		<real>-90.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590399</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-91.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592483</string>
		<key>latitude</key>
		<real>15.039999999999999</real>
		<key>longitude</key>
		<real>-91.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591512</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-91.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592482</string>
		<key>latitude</key>
		<real>15.050000000000001</real>
		<key>longitude</key>
		<real>-91.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588257</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-91.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599788</string>
		<key>latitude</key>
		<real>14.48</real>
		<key>longitude</key>
		<real>-90.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588491</string>
		<key>latitude</key>
		<real>14.07</real>
		<key>longitude</key>
		<real>-90.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591521</string>
		<key>latitude</key>
		<real>14.630000000000001</real>
		<key>longitude</key>
		<real>-90.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591523</string>
		<key>latitude</key>
		<real>14.630000000000001</real>
		<key>longitude</key>
		<real>-90.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589256</string>
		<key>latitude</key>
		<real>15.029999999999999</real>
		<key>longitude</key>
		<real>-91.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589727</string>
		<key>latitude</key>
		<real>14.52</real>
		<key>longitude</key>
		<real>-90.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591833</string>
		<key>latitude</key>
		<real>14.41</real>
		<key>longitude</key>
		<real>-90.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595503</string>
		<key>latitude</key>
		<real>14.07</real>
		<key>longitude</key>
		<real>-90.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592751</string>
		<key>latitude</key>
		<real>15.220000000000001</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590188</string>
		<key>latitude</key>
		<real>15.380000000000001</real>
		<key>longitude</key>
		<real>-91.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595282</string>
		<key>latitude</key>
		<real>15.42</real>
		<key>longitude</key>
		<real>-91.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598571</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-90.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591517</string>
		<key>latitude</key>
		<real>14.970000000000001</real>
		<key>longitude</key>
		<real>-91.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589407</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-90.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587543</string>
		<key>latitude</key>
		<real>14.65</real>
		<key>longitude</key>
		<real>-90.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589468</string>
		<key>latitude</key>
		<real>15.32</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589460</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-90.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589408</string>
		<key>latitude</key>
		<real>14.69</real>
		<key>longitude</key>
		<real>-90.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588476</string>
		<key>latitude</key>
		<real>14.77</real>
		<key>longitude</key>
		<real>-90.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590475</string>
		<key>latitude</key>
		<real>14.539999999999999</real>
		<key>longitude</key>
		<real>-90.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598128</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-90.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590529</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-90.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598041</string>
		<key>latitude</key>
		<real>15.41</real>
		<key>longitude</key>
		<real>-91.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3594423</string>
		<key>latitude</key>
		<real>15.5</real>
		<key>longitude</key>
		<real>-91.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589251</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>-90.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598462</string>
		<key>latitude</key>
		<real>14.09</real>
		<key>longitude</key>
		<real>-90.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589253</string>
		<key>latitude</key>
		<real>14.52</real>
		<key>longitude</key>
		<real>-90.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589036</string>
		<key>latitude</key>
		<real>14.42</real>
		<key>longitude</key>
		<real>-90.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591939</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-91.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598655</string>
		<key>latitude</key>
		<real>14.93</real>
		<key>longitude</key>
		<real>-91.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591629</string>
		<key>latitude</key>
		<real>14.609999999999999</real>
		<key>longitude</key>
		<real>-90.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589480</string>
		<key>latitude</key>
		<real>14.789999999999999</real>
		<key>longitude</key>
		<real>-90.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589579</string>
		<key>latitude</key>
		<real>15.4</real>
		<key>longitude</key>
		<real>-91.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591092</string>
		<key>latitude</key>
		<real>14.23</real>
		<key>longitude</key>
		<real>-90.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590456</string>
		<key>latitude</key>
		<real>15.050000000000001</real>
		<key>longitude</key>
		<real>-91.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589632</string>
		<key>latitude</key>
		<real>15.5</real>
		<key>longitude</key>
		<real>-91.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590686</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-90.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599699</string>
		<key>latitude</key>
		<real>14.56</real>
		<key>longitude</key>
		<real>-90.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589103</string>
		<key>latitude</key>
		<real>15.470000000000001</real>
		<key>longitude</key>
		<real>-91.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598034</string>
		<key>latitude</key>
		<real>14.74</real>
		<key>longitude</key>
		<real>-90.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598032</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>-90.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595171</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-90.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598547</string>
		<key>latitude</key>
		<real>15.32</real>
		<key>longitude</key>
		<real>-91.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598570</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-90.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598572</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-90.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591574</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-90.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3596041</string>
		<key>latitude</key>
		<real>14.65</real>
		<key>longitude</key>
		<real>-90.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589541</string>
		<key>latitude</key>
		<real>15.380000000000001</real>
		<key>longitude</key>
		<real>-91.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589925</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-91.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589404</string>
		<key>latitude</key>
		<real>15.029999999999999</real>
		<key>longitude</key>
		<real>-91.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592770</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-90.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599735</string>
		<key>latitude</key>
		<real>14.49</real>
		<key>longitude</key>
		<real>-90.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595414</string>
		<key>latitude</key>
		<real>15.32</real>
		<key>longitude</key>
		<real>-91.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595416</string>
		<key>latitude</key>
		<real>15.32</real>
		<key>longitude</key>
		<real>-91.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589287</string>
		<key>latitude</key>
		<real>15.130000000000001</real>
		<key>longitude</key>
		<real>-91.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589975</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-90.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589285</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-90.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589060</string>
		<key>latitude</key>
		<real>14.57</real>
		<key>longitude</key>
		<real>-90.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588653</string>
		<key>latitude</key>
		<real>14.65</real>
		<key>longitude</key>
		<real>-90.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598692</string>
		<key>latitude</key>
		<real>15.35</real>
		<key>longitude</key>
		<real>-91.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598659</string>
		<key>latitude</key>
		<real>15.01</real>
		<key>longitude</key>
		<real>-91.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590393</string>
		<key>latitude</key>
		<real>14.609999999999999</real>
		<key>longitude</key>
		<real>-90.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589640</string>
		<key>latitude</key>
		<real>15.09</real>
		<key>longitude</key>
		<real>-91.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587902</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-90.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589852</string>
		<key>latitude</key>
		<real>14.609999999999999</real>
		<key>longitude</key>
		<real>-90.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589101</string>
		<key>latitude</key>
		<real>14.640000000000001</real>
		<key>longitude</key>
		<real>-90.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591415</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>-90.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587923</string>
		<key>latitude</key>
		<real>14.48</real>
		<key>longitude</key>
		<real>-90.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589072</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-90.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588308</string>
		<key>latitude</key>
		<real>15.52</real>
		<key>longitude</key>
		<real>-91.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589780</string>
		<key>latitude</key>
		<real>14.789999999999999</real>
		<key>longitude</key>
		<real>-90.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598513</string>
		<key>latitude</key>
		<real>15.039999999999999</real>
		<key>longitude</key>
		<real>-91.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599582</string>
		<key>latitude</key>
		<real>14.31</real>
		<key>longitude</key>
		<real>-90.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592519</string>
		<key>latitude</key>
		<real>14.630000000000001</real>
		<key>longitude</key>
		<real>-90.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589627</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-90.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598005</string>
		<key>latitude</key>
		<real>15.619999999999999</real>
		<key>longitude</key>
		<real>-91.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599912</string>
		<key>latitude</key>
		<real>15.34</real>
		<key>longitude</key>
		<real>-91.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595714</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-90.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589398</string>
		<key>latitude</key>
		<real>14.390000000000001</real>
		<key>longitude</key>
		<real>-90.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589885</string>
		<key>latitude</key>
		<real>14.720000000000001</real>
		<key>longitude</key>
		<real>-90.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592070</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>-90.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589452</string>
		<key>latitude</key>
		<real>14.57</real>
		<key>longitude</key>
		<real>-90.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595030</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-90.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590395</string>
		<key>latitude</key>
		<real>15.19</real>
		<key>longitude</key>
		<real>-91.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591064</string>
		<key>latitude</key>
		<real>14.57</real>
		<key>longitude</key>
		<real>-90.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598132</string>
		<key>latitude</key>
		<real>14.640000000000001</real>
		<key>longitude</key>
		<real>-90.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589569</string>
		<key>latitude</key>
		<real>14.76</real>
		<key>longitude</key>
		<real>-90.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589977</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-90.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595148</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>-90.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3595530</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-90.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590690</string>
		<key>latitude</key>
		<real>15.289999999999999</real>
		<key>longitude</key>
		<real>-91.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589900</string>
		<key>latitude</key>
		<real>15.6</real>
		<key>longitude</key>
		<real>-91.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598529</string>
		<key>latitude</key>
		<real>14.710000000000001</real>
		<key>longitude</key>
		<real>-90.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3587578</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-90.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591955</string>
		<key>latitude</key>
		<real>14.92</real>
		<key>longitude</key>
		<real>-90.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3592237</string>
		<key>latitude</key>
		<real>15.41</real>
		<key>longitude</key>
		<real>-91.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590526</string>
		<key>latitude</key>
		<real>15.220000000000001</real>
		<key>longitude</key>
		<real>-90.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598277</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-90.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599094</string>
		<key>latitude</key>
		<real>15.17</real>
		<key>longitude</key>
		<real>-90.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597772</string>
		<key>latitude</key>
		<real>15.34</real>
		<key>longitude</key>
		<real>-91.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3591851</string>
		<key>latitude</key>
		<real>14.66</real>
		<key>longitude</key>
		<real>-90.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589646</string>
		<key>latitude</key>
		<real>14.789999999999999</real>
		<key>longitude</key>
		<real>-90.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590030</string>
		<key>latitude</key>
		<real>14.76</real>
		<key>longitude</key>
		<real>-90.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589913</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-91.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598804</string>
		<key>latitude</key>
		<real>15.49</real>
		<key>longitude</key>
		<real>-91.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597301</string>
		<key>latitude</key>
		<real>14.960000000000001</real>
		<key>longitude</key>
		<real>-90.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3597837</string>
		<key>latitude</key>
		<real>15.130000000000001</real>
		<key>longitude</key>
		<real>-90.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3588043</string>
		<key>latitude</key>
		<real>15.380000000000001</real>
		<key>longitude</key>
		<real>-90.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590964</string>
		<key>latitude</key>
		<real>15.5</real>
		<key>longitude</key>
		<real>-90.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598670</string>
		<key>latitude</key>
		<real>15.4</real>
		<key>longitude</key>
		<real>-90.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590924</string>
		<key>latitude</key>
		<real>15.1</real>
		<key>longitude</key>
		<real>-90.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589730</string>
		<key>latitude</key>
		<real>15.1</real>
		<key>longitude</key>
		<real>-90.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3599602</string>
		<key>latitude</key>
		<real>15.08</real>
		<key>longitude</key>
		<real>-90.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589395</string>
		<key>latitude</key>
		<real>15.369999999999999</real>
		<key>longitude</key>
		<real>-90.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590316</string>
		<key>latitude</key>
		<real>15.380000000000001</real>
		<key>longitude</key>
		<real>-90.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3590573</string>
		<key>latitude</key>
		<real>15.470000000000001</real>
		<key>longitude</key>
		<real>-90.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3589917</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-90.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3598119</string>
		<key>latitude</key>
		<real>15.48</real>
		<key>longitude</key>
		<real>-90.370000000000005</real>
	</dict>
</array>
</plist>
