<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>356933</string>
		<key>latitude</key>
		<real>26.050000000000001</real>
		<key>longitude</key>
		<real>32.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>351434</string>
		<key>latitude</key>
		<real>26.050000000000001</real>
		<key>longitude</key>
		<real>32.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361435</string>
		<key>latitude</key>
		<real>26.239999999999998</real>
		<key>longitude</key>
		<real>32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355026</string>
		<key>latitude</key>
		<real>26.34</real>
		<key>longitude</key>
		<real>31.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358115</string>
		<key>latitude</key>
		<real>26.120000000000001</real>
		<key>longitude</key>
		<real>32.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360773</string>
		<key>latitude</key>
		<real>26.48</real>
		<key>longitude</key>
		<real>31.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347794</string>
		<key>latitude</key>
		<real>26.5</real>
		<key>longitude</key>
		<real>31.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361661</string>
		<key>latitude</key>
		<real>26.559999999999999</real>
		<key>longitude</key>
		<real>31.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347796</string>
		<key>latitude</key>
		<real>26.559999999999999</real>
		<key>longitude</key>
		<real>31.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360502</string>
		<key>latitude</key>
		<real>25.699999999999999</real>
		<key>longitude</key>
		<real>32.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>351483</string>
		<key>latitude</key>
		<real>25.68</real>
		<key>longitude</key>
		<real>32.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7603259</string>
		<key>latitude</key>
		<real>25.699999999999999</real>
		<key>longitude</key>
		<real>32.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350550</string>
		<key>latitude</key>
		<real>26.16</real>
		<key>longitude</key>
		<real>32.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361133</string>
		<key>latitude</key>
		<real>25.670000000000002</real>
		<key>longitude</key>
		<real>32.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350422</string>
		<key>latitude</key>
		<real>25.91</real>
		<key>longitude</key>
		<real>32.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350546</string>
		<key>latitude</key>
		<real>25.800000000000001</real>
		<key>longitude</key>
		<real>32.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354981</string>
		<key>latitude</key>
		<real>26.670000000000002</real>
		<key>longitude</key>
		<real>31.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355449</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>32.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347634</string>
		<key>latitude</key>
		<real>26.77</real>
		<key>longitude</key>
		<real>31.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349852</string>
		<key>latitude</key>
		<real>26.77</real>
		<key>longitude</key>
		<real>31.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361478</string>
		<key>latitude</key>
		<real>26.989999999999998</real>
		<key>longitude</key>
		<real>31.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362004</string>
		<key>latitude</key>
		<real>27.039999999999999</real>
		<key>longitude</key>
		<real>31.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411165</string>
		<key>latitude</key>
		<real>24.98</real>
		<key>longitude</key>
		<real>32.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359783</string>
		<key>latitude</key>
		<real>27.18</real>
		<key>longitude</key>
		<real>31.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360923</string>
		<key>latitude</key>
		<real>25.449999999999999</real>
		<key>longitude</key>
		<real>30.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359781</string>
		<key>latitude</key>
		<real>27.199999999999999</real>
		<key>longitude</key>
		<real>31.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359256</string>
		<key>latitude</key>
		<real>27.199999999999999</real>
		<key>longitude</key>
		<real>31.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362973</string>
		<key>latitude</key>
		<real>27.27</real>
		<key>longitude</key>
		<real>31.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352913</string>
		<key>latitude</key>
		<real>27.309999999999999</real>
		<key>longitude</key>
		<real>30.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>353802</string>
		<key>latitude</key>
		<real>24.48</real>
		<key>longitude</key>
		<real>32.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360526</string>
		<key>latitude</key>
		<real>27.440000000000001</real>
		<key>longitude</key>
		<real>30.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358620</string>
		<key>latitude</key>
		<real>26.73</real>
		<key>longitude</key>
		<real>33.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358269</string>
		<key>latitude</key>
		<real>27.559999999999999</real>
		<key>longitude</key>
		<real>30.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358274</string>
		<key>latitude</key>
		<real>27.640000000000001</real>
		<key>longitude</key>
		<real>30.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6692518</string>
		<key>latitude</key>
		<real>26.989999999999998</real>
		<key>longitude</key>
		<real>33.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361468</string>
		<key>latitude</key>
		<real>27.190000000000001</real>
		<key>longitude</key>
		<real>33.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352951</string>
		<key>latitude</key>
		<real>27.73</real>
		<key>longitude</key>
		<real>30.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6692512</string>
		<key>latitude</key>
		<real>27.390000000000001</real>
		<key>longitude</key>
		<real>33.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>357994</string>
		<key>latitude</key>
		<real>27</real>
		<key>longitude</key>
		<real>30</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361291</string>
		<key>latitude</key>
		<real>27.260000000000002</real>
		<key>longitude</key>
		<real>33.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360531</string>
		<key>latitude</key>
		<real>26.100000000000001</real>
		<key>longitude</key>
		<real>34.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6692521</string>
		<key>latitude</key>
		<real>27.25</real>
		<key>longitude</key>
		<real>33.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359792</string>
		<key>latitude</key>
		<real>24.09</real>
		<key>longitude</key>
		<real>32.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>351388</string>
		<key>latitude</key>
		<real>24</real>
		<key>longitude</key>
		<real>32.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362277</string>
		<key>latitude</key>
		<real>27.93</real>
		<key>longitude</key>
		<real>30.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360686</string>
		<key>latitude</key>
		<real>28.109999999999999</real>
		<key>longitude</key>
		<real>30.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>432887</string>
		<key>latitude</key>
		<real>28.109999999999999</real>
		<key>longitude</key>
		<real>30.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349717</string>
		<key>latitude</key>
		<real>28.309999999999999</real>
		<key>longitude</key>
		<real>30.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355005</string>
		<key>latitude</key>
		<real>28.199999999999999</real>
		<key>longitude</key>
		<real>33.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352628</string>
		<key>latitude</key>
		<real>28.420000000000002</real>
		<key>longitude</key>
		<real>30.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359678</string>
		<key>latitude</key>
		<real>28.239999999999998</real>
		<key>longitude</key>
		<real>33.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359212</string>
		<key>latitude</key>
		<real>28.5</real>
		<key>longitude</key>
		<real>30.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360688</string>
		<key>latitude</key>
		<real>28.100000000000001</real>
		<key>longitude</key>
		<real>30</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349340</string>
		<key>latitude</key>
		<real>27.850000000000001</real>
		<key>longitude</key>
		<real>34.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352736</string>
		<key>latitude</key>
		<real>25.079999999999998</real>
		<key>longitude</key>
		<real>34.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7280514</string>
		<key>latitude</key>
		<real>27.91</real>
		<key>longitude</key>
		<real>34.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359787</string>
		<key>latitude</key>
		<real>23.300000000000001</real>
		<key>longitude</key>
		<real>32.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361329</string>
		<key>latitude</key>
		<real>28.82</real>
		<key>longitude</key>
		<real>30.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360483</string>
		<key>latitude</key>
		<real>24.800000000000001</real>
		<key>longitude</key>
		<real>28.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347749</string>
		<key>latitude</key>
		<real>28.920000000000002</real>
		<key>longitude</key>
		<real>30.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>414338</string>
		<key>latitude</key>
		<real>28.66</real>
		<key>longitude</key>
		<real>33.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359171</string>
		<key>latitude</key>
		<real>28.899999999999999</real>
		<key>longitude</key>
		<real>30.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359173</string>
		<key>latitude</key>
		<real>29.07</real>
		<key>longitude</key>
		<real>31.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361024</string>
		<key>latitude</key>
		<real>29.07</real>
		<key>longitude</key>
		<real>31.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358600</string>
		<key>latitude</key>
		<real>29.149999999999999</real>
		<key>longitude</key>
		<real>31.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359416</string>
		<key>latitude</key>
		<real>29.140000000000001</real>
		<key>longitude</key>
		<real>31.010000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358245</string>
		<key>latitude</key>
		<real>28.5</real>
		<key>longitude</key>
		<real>34.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355182</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>33.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360464</string>
		<key>latitude</key>
		<real>29.34</real>
		<key>longitude</key>
		<real>31.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355420</string>
		<key>latitude</key>
		<real>29.239999999999998</real>
		<key>longitude</key>
		<real>30.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361320</string>
		<key>latitude</key>
		<real>29.309999999999999</real>
		<key>longitude</key>
		<real>30.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361323</string>
		<key>latitude</key>
		<real>29.300000000000001</real>
		<key>longitude</key>
		<real>30.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355648</string>
		<key>latitude</key>
		<real>29.359999999999999</real>
		<key>longitude</key>
		<real>30.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>106909</string>
		<key>latitude</key>
		<real>27.350000000000001</real>
		<key>longitude</key>
		<real>35.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359927</string>
		<key>latitude</key>
		<real>29.48</real>
		<key>longitude</key>
		<real>31.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347542</string>
		<key>latitude</key>
		<real>29.48</real>
		<key>longitude</key>
		<real>30.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521348</string>
		<key>latitude</key>
		<real>29.600000000000001</real>
		<key>longitude</key>
		<real>32.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359900</string>
		<key>latitude</key>
		<real>29.559999999999999</real>
		<key>longitude</key>
		<real>31.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361394</string>
		<key>latitude</key>
		<real>28.350000000000001</real>
		<key>longitude</key>
		<real>28.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362041</string>
		<key>latitude</key>
		<real>22.350000000000001</real>
		<key>longitude</key>
		<real>31.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361495</string>
		<key>latitude</key>
		<real>29.620000000000001</real>
		<key>longitude</key>
		<real>31.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359797</string>
		<key>latitude</key>
		<real>29.699999999999999</real>
		<key>longitude</key>
		<real>32.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350661</string>
		<key>latitude</key>
		<real>27.059999999999999</real>
		<key>longitude</key>
		<real>27.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>346315</string>
		<key>latitude</key>
		<real>29.030000000000001</real>
		<key>longitude</key>
		<real>34.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350893</string>
		<key>latitude</key>
		<real>29.050000000000001</real>
		<key>longitude</key>
		<real>34.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355795</string>
		<key>latitude</key>
		<real>29.84</real>
		<key>longitude</key>
		<real>31.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>353219</string>
		<key>latitude</key>
		<real>29.82</real>
		<key>longitude</key>
		<real>31.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>357542</string>
		<key>latitude</key>
		<real>29.870000000000001</real>
		<key>longitude</key>
		<real>31.309999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361179</string>
		<key>latitude</key>
		<real>29.899999999999999</real>
		<key>longitude</key>
		<real>31.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359796</string>
		<key>latitude</key>
		<real>29.969999999999999</real>
		<key>longitude</key>
		<real>32.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108773</string>
		<key>latitude</key>
		<real>26.25</real>
		<key>longitude</key>
		<real>36.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360631</string>
		<key>latitude</key>
		<real>30.050000000000001</real>
		<key>longitude</key>
		<real>31.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360995</string>
		<key>latitude</key>
		<real>30.010000000000002</real>
		<key>longitude</key>
		<real>31.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360997</string>
		<key>latitude</key>
		<real>30</real>
		<key>longitude</key>
		<real>31.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7922173</string>
		<key>latitude</key>
		<real>30.050000000000001</real>
		<key>longitude</key>
		<real>31.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360630</string>
		<key>latitude</key>
		<real>30.059999999999999</real>
		<key>longitude</key>
		<real>31.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7522531</string>
		<key>latitude</key>
		<real>30.120000000000001</real>
		<key>longitude</key>
		<real>31.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7916170</string>
		<key>latitude</key>
		<real>30.129999999999999</real>
		<key>longitude</key>
		<real>31.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359576</string>
		<key>latitude</key>
		<real>30.120000000000001</real>
		<key>longitude</key>
		<real>31.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350789</string>
		<key>latitude</key>
		<real>30.18</real>
		<key>longitude</key>
		<real>31.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364132</string>
		<key>latitude</key>
		<real>21.800000000000001</real>
		<key>longitude</key>
		<real>31.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360928</string>
		<key>latitude</key>
		<real>30.210000000000001</real>
		<key>longitude</key>
		<real>31.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360615</string>
		<key>latitude</key>
		<real>30.190000000000001</real>
		<key>longitude</key>
		<real>31.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360621</string>
		<key>latitude</key>
		<real>30.300000000000001</real>
		<key>longitude</key>
		<real>31.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349156</string>
		<key>latitude</key>
		<real>30.309999999999999</real>
		<key>longitude</key>
		<real>31.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349598</string>
		<key>latitude</key>
		<real>30.379999999999999</real>
		<key>longitude</key>
		<real>32.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360048</string>
		<key>latitude</key>
		<real>30.300000000000001</real>
		<key>longitude</key>
		<real>30.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>295189</string>
		<key>latitude</key>
		<real>29.579999999999998</real>
		<key>longitude</key>
		<real>34.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352679</string>
		<key>latitude</key>
		<real>30.359999999999999</real>
		<key>longitude</key>
		<real>31.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347236</string>
		<key>latitude</key>
		<real>30.350000000000001</real>
		<key>longitude</key>
		<real>31.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>295277</string>
		<key>latitude</key>
		<real>29.559999999999999</real>
		<key>longitude</key>
		<real>34.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250774</string>
		<key>latitude</key>
		<real>29.530000000000001</real>
		<key>longitude</key>
		<real>35.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358840</string>
		<key>latitude</key>
		<real>30.420000000000002</real>
		<key>longitude</key>
		<real>31.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7031355</string>
		<key>latitude</key>
		<real>29.559999999999999</real>
		<key>longitude</key>
		<real>35</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361457</string>
		<key>latitude</key>
		<real>30.43</real>
		<key>longitude</key>
		<real>31.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359280</string>
		<key>latitude</key>
		<real>30.460000000000001</real>
		<key>longitude</key>
		<real>31.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>351022</string>
		<key>latitude</key>
		<real>30.469999999999999</real>
		<key>longitude</key>
		<real>31.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362610</string>
		<key>latitude</key>
		<real>30.530000000000001</real>
		<key>longitude</key>
		<real>31.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359710</string>
		<key>latitude</key>
		<real>30.539999999999999</real>
		<key>longitude</key>
		<real>31.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>353223</string>
		<key>latitude</key>
		<real>30.370000000000001</real>
		<key>longitude</key>
		<real>30.510000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>357678</string>
		<key>latitude</key>
		<real>30.559999999999999</real>
		<key>longitude</key>
		<real>32.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352354</string>
		<key>latitude</key>
		<real>30.469999999999999</real>
		<key>longitude</key>
		<real>30.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355015</string>
		<key>latitude</key>
		<real>30.460000000000001</real>
		<key>longitude</key>
		<real>30.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360689</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354076</string>
		<key>latitude</key>
		<real>30.550000000000001</real>
		<key>longitude</key>
		<real>31.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361055</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>32.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359493</string>
		<key>latitude</key>
		<real>30.59</real>
		<key>longitude</key>
		<real>31.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361056</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>32.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350370</string>
		<key>latitude</key>
		<real>30.559999999999999</real>
		<key>longitude</key>
		<real>31.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360542</string>
		<key>latitude</key>
		<real>30.620000000000001</real>
		<key>longitude</key>
		<real>31.739999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349158</string>
		<key>latitude</key>
		<real>30.550000000000001</real>
		<key>longitude</key>
		<real>31.010000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360612</string>
		<key>latitude</key>
		<real>30.620000000000001</real>
		<key>longitude</key>
		<real>31.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355939</string>
		<key>latitude</key>
		<real>30.670000000000002</real>
		<key>longitude</key>
		<real>31.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359953</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>30.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360016</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>31.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>101628</string>
		<key>latitude</key>
		<real>28.379999999999999</real>
		<key>longitude</key>
		<real>36.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>293148</string>
		<key>latitude</key>
		<real>29.879999999999999</real>
		<key>longitude</key>
		<real>35.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>356989</string>
		<key>latitude</key>
		<real>30.73</real>
		<key>longitude</key>
		<real>31.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361103</string>
		<key>latitude</key>
		<real>30.719999999999999</real>
		<key>longitude</key>
		<real>31.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362485</string>
		<key>latitude</key>
		<real>30.73</real>
		<key>longitude</key>
		<real>31.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910966</string>
		<key>latitude</key>
		<real>30.510000000000002</real>
		<key>longitude</key>
		<real>30.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349401</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>33.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>346030</string>
		<key>latitude</key>
		<real>30.710000000000001</real>
		<key>longitude</key>
		<real>31.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443122</string>
		<key>latitude</key>
		<real>29.75</real>
		<key>longitude</key>
		<real>35.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347612</string>
		<key>latitude</key>
		<real>30.68</real>
		<key>longitude</key>
		<real>30.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358095</string>
		<key>latitude</key>
		<real>30.75</real>
		<key>longitude</key>
		<real>31.440000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250462</string>
		<key>latitude</key>
		<real>29.800000000000001</real>
		<key>longitude</key>
		<real>35.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354105</string>
		<key>latitude</key>
		<real>30.789999999999999</real>
		<key>longitude</key>
		<real>31.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6620954</string>
		<key>latitude</key>
		<real>29.969999999999999</real>
		<key>longitude</key>
		<real>35.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>100926</string>
		<key>latitude</key>
		<real>25.02</real>
		<key>longitude</key>
		<real>37.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361370</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>30.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347497</string>
		<key>latitude</key>
		<real>30.789999999999999</real>
		<key>longitude</key>
		<real>31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408911</string>
		<key>latitude</key>
		<real>30.579999999999998</real>
		<key>longitude</key>
		<real>30.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>353828</string>
		<key>latitude</key>
		<real>30.760000000000002</real>
		<key>longitude</key>
		<real>30.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354365</string>
		<key>latitude</key>
		<real>30.82</real>
		<key>longitude</key>
		<real>30.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361294</string>
		<key>latitude</key>
		<real>30.899999999999999</real>
		<key>longitude</key>
		<real>31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361702</string>
		<key>latitude</key>
		<real>30.940000000000001</real>
		<key>longitude</key>
		<real>31.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>101627</string>
		<key>latitude</key>
		<real>27.5</real>
		<key>longitude</key>
		<real>37.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361827</string>
		<key>latitude</key>
		<real>30.829999999999998</real>
		<key>longitude</key>
		<real>30.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349715</string>
		<key>latitude</key>
		<real>30.960000000000001</real>
		<key>longitude</key>
		<real>31.239999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360829</string>
		<key>latitude</key>
		<real>30.969999999999999</real>
		<key>longitude</key>
		<real>31.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358970</string>
		<key>latitude</key>
		<real>30.940000000000001</real>
		<key>longitude</key>
		<real>30.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>350376</string>
		<key>latitude</key>
		<real>30.969999999999999</real>
		<key>longitude</key>
		<real>30.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360761</string>
		<key>latitude</key>
		<real>31.039999999999999</real>
		<key>longitude</key>
		<real>31.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>347591</string>
		<key>latitude</key>
		<real>31.050000000000001</real>
		<key>longitude</key>
		<real>31.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358172</string>
		<key>latitude</key>
		<real>31.09</real>
		<key>longitude</key>
		<real>31.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358617</string>
		<key>latitude</key>
		<real>31.100000000000001</real>
		<key>longitude</key>
		<real>32.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361849</string>
		<key>latitude</key>
		<real>31.100000000000001</real>
		<key>longitude</key>
		<real>31.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352344</string>
		<key>latitude</key>
		<real>31.120000000000001</real>
		<key>longitude</key>
		<real>31.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>356000</string>
		<key>latitude</key>
		<real>30.91</real>
		<key>longitude</key>
		<real>30.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360754</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>31.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362882</string>
		<key>latitude</key>
		<real>30.91</real>
		<key>longitude</key>
		<real>30.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360716</string>
		<key>latitude</key>
		<real>31.18</real>
		<key>longitude</key>
		<real>32.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361029</string>
		<key>latitude</key>
		<real>31.18</real>
		<key>longitude</key>
		<real>31.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354502</string>
		<key>latitude</key>
		<real>31.109999999999999</real>
		<key>longitude</key>
		<real>30.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358448</string>
		<key>latitude</key>
		<real>31.039999999999999</real>
		<key>longitude</key>
		<real>30.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>349114</string>
		<key>latitude</key>
		<real>31.199999999999999</real>
		<key>longitude</key>
		<real>31.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>419435</string>
		<key>latitude</key>
		<real>31.210000000000001</real>
		<key>longitude</key>
		<real>31.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>294166</string>
		<key>latitude</key>
		<real>30.609999999999999</real>
		<key>longitude</key>
		<real>34.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250188</string>
		<key>latitude</key>
		<real>30.260000000000002</real>
		<key>longitude</key>
		<real>35.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358821</string>
		<key>latitude</key>
		<real>31.210000000000001</real>
		<key>longitude</key>
		<real>31.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358108</string>
		<key>latitude</key>
		<real>31.129999999999999</real>
		<key>longitude</key>
		<real>30.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358619</string>
		<key>latitude</key>
		<real>31.260000000000002</real>
		<key>longitude</key>
		<real>32.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>410366</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>32.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412814</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>32.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>294952</string>
		<key>latitude</key>
		<real>30.670000000000002</real>
		<key>longitude</key>
		<real>34.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>246008</string>
		<key>latitude</key>
		<real>30.32</real>
		<key>longitude</key>
		<real>35.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358333</string>
		<key>latitude</key>
		<real>30.899999999999999</real>
		<key>longitude</key>
		<real>29.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250303</string>
		<key>latitude</key>
		<real>30.18</real>
		<key>longitude</key>
		<real>35.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>356945</string>
		<key>latitude</key>
		<real>31.329999999999998</real>
		<key>longitude</key>
		<real>31.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>356806</string>
		<key>latitude</key>
		<real>31.199999999999999</real>
		<key>longitude</key>
		<real>30.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>358044</string>
		<key>latitude</key>
		<real>31.350000000000001</real>
		<key>longitude</key>
		<real>31.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361213</string>
		<key>latitude</key>
		<real>31.309999999999999</real>
		<key>longitude</key>
		<real>31.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361546</string>
		<key>latitude</key>
		<real>31.129999999999999</real>
		<key>longitude</key>
		<real>33.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>357790</string>
		<key>latitude</key>
		<real>31.129999999999999</real>
		<key>longitude</key>
		<real>33.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>348112</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>30.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361059</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354775</string>
		<key>latitude</key>
		<real>31.129999999999999</real>
		<key>longitude</key>
		<real>30.129999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>354500</string>
		<key>latitude</key>
		<real>31.300000000000001</real>
		<key>longitude</key>
		<real>30.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6929924</string>
		<key>latitude</key>
		<real>30.850000000000001</real>
		<key>longitude</key>
		<real>34.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352603</string>
		<key>latitude</key>
		<real>29.699999999999999</real>
		<key>longitude</key>
		<real>27.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>415505</string>
		<key>latitude</key>
		<real>31.18</real>
		<key>longitude</key>
		<real>29.940000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>360015</string>
		<key>latitude</key>
		<real>31.199999999999999</real>
		<key>longitude</key>
		<real>29.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>355628</string>
		<key>latitude</key>
		<real>31.309999999999999</real>
		<key>longitude</key>
		<real>30.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361058</string>
		<key>latitude</key>
		<real>31.219999999999999</real>
		<key>longitude</key>
		<real>29.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>361612</string>
		<key>latitude</key>
		<real>30.829999999999998</real>
		<key>longitude</key>
		<real>28.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>293203</string>
		<key>latitude</key>
		<real>30.989999999999998</real>
		<key>longitude</key>
		<real>34.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281093</string>
		<key>latitude</key>
		<real>31.260000000000002</real>
		<key>longitude</key>
		<real>34.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281102</string>
		<key>latitude</key>
		<real>31.289999999999999</real>
		<key>longitude</key>
		<real>34.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6967857</string>
		<key>latitude</key>
		<real>31.280000000000001</real>
		<key>longitude</key>
		<real>34.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281160</string>
		<key>latitude</key>
		<real>31.289999999999999</real>
		<key>longitude</key>
		<real>34.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250649</string>
		<key>latitude</key>
		<real>30.289999999999999</real>
		<key>longitude</key>
		<real>36.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250199</string>
		<key>latitude</key>
		<real>30.75</real>
		<key>longitude</key>
		<real>35.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281119</string>
		<key>latitude</key>
		<real>31.309999999999999</real>
		<key>longitude</key>
		<real>34.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281165</string>
		<key>latitude</key>
		<real>31.32</real>
		<key>longitude</key>
		<real>34.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>249842</string>
		<key>latitude</key>
		<real>30.739999999999998</real>
		<key>longitude</key>
		<real>35.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281124</string>
		<key>latitude</key>
		<real>31.34</real>
		<key>longitude</key>
		<real>34.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>281148</string>
		<key>latitude</key>
		<real>31.34</real>
		<key>longitude</key>
		<real>34.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6967863</string>
		<key>latitude</key>
		<real>31.34</real>
		<key>longitude</key>
		<real>34.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>295328</string>
		<key>latitude</key>
		<real>31.07</real>
		<key>longitude</key>
		<real>35.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>294027</string>
		<key>latitude</key>
		<real>31.34</real>
		<key>longitude</key>
		<real>34.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>293279</string>
		<key>latitude</key>
		<real>31.300000000000001</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6967865</string>
		<key>latitude</key>
		<real>31.370000000000001</real>
		<key>longitude</key>
		<real>34.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>294817</string>
		<key>latitude</key>
		<real>31.239999999999998</real>
		<key>longitude</key>
		<real>34.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250198</string>
		<key>latitude</key>
		<real>30.84</real>
		<key>longitude</key>
		<real>35.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>293992</string>
		<key>latitude</key>
		<real>31.309999999999999</real>
		<key>longitude</key>
		<real>34.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>295530</string>
		<key>latitude</key>
		<real>31.25</real>
		<key>longitude</key>
		<real>34.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>294063</string>
		<key>latitude</key>
		<real>31.219999999999999</real>
		<key>longitude</key>
		<real>34.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>294184</string>
		<key>latitude</key>
		<real>31.359999999999999</real>
		<key>longitude</key>
		<real>34.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6693244</string>
		<key>latitude</key>
		<real>31.370000000000001</real>
		<key>longitude</key>
		<real>34.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>248380</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>36.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>283077</string>
		<key>latitude</key>
		<real>31.379999999999999</real>
		<key>longitude</key>
		<real>34.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250187</string>
		<key>latitude</key>
		<real>31.059999999999999</real>
		<key>longitude</key>
		<real>35.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>295224</string>
		<key>latitude</key>
		<real>31.199999999999999</real>
		<key>longitude</key>
		<real>35.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250540</string>
		<key>latitude</key>
		<real>31.07</real>
		<key>longitude</key>
		<real>35.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250106</string>
		<key>latitude</key>
		<real>31.129999999999999</real>
		<key>longitude</key>
		<real>35.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>248923</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>35.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>248816</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250624</string>
		<key>latitude</key>
		<real>31.18</real>
		<key>longitude</key>
		<real>35.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6946409</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>35.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250625</string>
		<key>latitude</key>
		<real>31.170000000000002</real>
		<key>longitude</key>
		<real>35.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250821</string>
		<key>latitude</key>
		<real>31.199999999999999</real>
		<key>longitude</key>
		<real>35.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250345</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>35.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>250487</string>
		<key>latitude</key>
		<real>31.309999999999999</real>
		<key>longitude</key>
		<real>35.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>375046</string>
		<key>latitude</key>
		<real>21.07</real>
		<key>longitude</key>
		<real>36.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>352733</string>
		<key>latitude</key>
		<real>31.350000000000001</real>
		<key>longitude</key>
		<real>27.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108648</string>
		<key>latitude</key>
		<real>31.329999999999998</real>
		<key>longitude</key>
		<real>37.340000000000003</real>
	</dict>
</array>
</plist>
