<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3571264</string>
		<key>latitude</key>
		<real>24.079999999999998</real>
		<key>longitude</key>
		<real>-74.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571493</string>
		<key>latitude</key>
		<real>24.039999999999999</real>
		<key>longitude</key>
		<real>-74.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572627</string>
		<key>latitude</key>
		<real>24.030000000000001</real>
		<key>longitude</key>
		<real>-74.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030554</string>
		<key>latitude</key>
		<real>23.68</real>
		<key>longitude</key>
		<real>-74.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571650</string>
		<key>latitude</key>
		<real>23.629999999999999</real>
		<key>longitude</key>
		<real>-74.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572620</string>
		<key>latitude</key>
		<real>22.77</real>
		<key>longitude</key>
		<real>-74.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030545</string>
		<key>latitude</key>
		<real>22.73</real>
		<key>longitude</key>
		<real>-74.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3830951</string>
		<key>latitude</key>
		<real>24.91</real>
		<key>longitude</key>
		<real>-76.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571592</string>
		<key>latitude</key>
		<real>24.899999999999999</real>
		<key>longitude</key>
		<real>-76.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030557</string>
		<key>latitude</key>
		<real>24.800000000000001</real>
		<key>longitude</key>
		<real>-76.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572005</string>
		<key>latitude</key>
		<real>23.219999999999999</real>
		<key>longitude</key>
		<real>-75.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572640</string>
		<key>latitude</key>
		<real>23.100000000000001</real>
		<key>longitude</key>
		<real>-74.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576979</string>
		<key>latitude</key>
		<real>21.899999999999999</real>
		<key>longitude</key>
		<real>-72.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572462</string>
		<key>latitude</key>
		<real>25.5</real>
		<key>longitude</key>
		<real>-76.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571275</string>
		<key>latitude</key>
		<real>25.449999999999999</real>
		<key>longitude</key>
		<real>-76.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030553</string>
		<key>latitude</key>
		<real>25.460000000000001</real>
		<key>longitude</key>
		<real>-76.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577004</string>
		<key>latitude</key>
		<real>21.75</real>
		<key>longitude</key>
		<real>-72.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576916</string>
		<key>latitude</key>
		<real>21.73</real>
		<key>longitude</key>
		<real>-71.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571913</string>
		<key>latitude</key>
		<real>26.539999999999999</real>
		<key>longitude</key>
		<real>-77.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576909</string>
		<key>latitude</key>
		<real>21.469999999999999</real>
		<key>longitude</key>
		<real>-71.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576994</string>
		<key>latitude</key>
		<real>21.460000000000001</real>
		<key>longitude</key>
		<real>-71.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577055</string>
		<key>latitude</key>
		<real>21.449999999999999</real>
		<key>longitude</key>
		<real>-71.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571912</string>
		<key>latitude</key>
		<real>26.399999999999999</real>
		<key>longitude</key>
		<real>-77.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030555</string>
		<key>latitude</key>
		<real>26.050000000000001</real>
		<key>longitude</key>
		<real>-77.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571500</string>
		<key>latitude</key>
		<real>26.02</real>
		<key>longitude</key>
		<real>-77.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571815</string>
		<key>latitude</key>
		<real>25.030000000000001</real>
		<key>longitude</key>
		<real>-77.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571824</string>
		<key>latitude</key>
		<real>25.059999999999999</real>
		<key>longitude</key>
		<real>-77.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030551</string>
		<key>latitude</key>
		<real>26.789999999999999</real>
		<key>longitude</key>
		<real>-77.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572887</string>
		<key>latitude</key>
		<real>25.039999999999999</real>
		<key>longitude</key>
		<real>-77.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030550</string>
		<key>latitude</key>
		<real>26.300000000000001</real>
		<key>longitude</key>
		<real>-77.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572233</string>
		<key>latitude</key>
		<real>26.32</real>
		<key>longitude</key>
		<real>-77.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572601</string>
		<key>latitude</key>
		<real>26.870000000000001</real>
		<key>longitude</key>
		<real>-77.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571964</string>
		<key>latitude</key>
		<real>25.07</real>
		<key>longitude</key>
		<real>-77.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572154</string>
		<key>latitude</key>
		<real>21.079999999999998</real>
		<key>longitude</key>
		<real>-73.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571898</string>
		<key>latitude</key>
		<real>20.949999999999999</real>
		<key>longitude</key>
		<real>-73.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571865</string>
		<key>latitude</key>
		<real>24.699999999999999</real>
		<key>longitude</key>
		<real>-77.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572906</string>
		<key>latitude</key>
		<real>24.699999999999999</real>
		<key>longitude</key>
		<real>-77.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3572603</string>
		<key>latitude</key>
		<real>24.170000000000002</real>
		<key>longitude</key>
		<real>-77.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030556</string>
		<key>latitude</key>
		<real>23.920000000000002</real>
		<key>longitude</key>
		<real>-77.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3546791</string>
		<key>latitude</key>
		<real>20.66</real>
		<key>longitude</key>
		<real>-74.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3746599</string>
		<key>latitude</key>
		<real>20.649999999999999</real>
		<key>longitude</key>
		<real>-74.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3567869</string>
		<key>latitude</key>
		<real>20.960000000000001</real>
		<key>longitude</key>
		<real>-75.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3558315</string>
		<key>latitude</key>
		<real>21.109999999999999</real>
		<key>longitude</key>
		<real>-76.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3556965</string>
		<key>latitude</key>
		<real>20.800000000000001</real>
		<key>longitude</key>
		<real>-75.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3543299</string>
		<key>latitude</key>
		<real>21.199999999999999</real>
		<key>longitude</key>
		<real>-76.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3556077</string>
		<key>latitude</key>
		<real>20.969999999999999</real>
		<key>longitude</key>
		<real>-76.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3746938</string>
		<key>latitude</key>
		<real>20.75</real>
		<key>longitude</key>
		<real>-76.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3556969</string>
		<key>latitude</key>
		<real>20.890000000000001</real>
		<key>longitude</key>
		<real>-76.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3562895</string>
		<key>latitude</key>
		<real>20.640000000000001</real>
		<key>longitude</key>
		<real>-75.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3548099</string>
		<key>latitude</key>
		<real>21.309999999999999</real>
		<key>longitude</key>
		<real>-76.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3545841</string>
		<key>latitude</key>
		<real>21.550000000000001</real>
		<key>longitude</key>
		<real>-77.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3549480</string>
		<key>latitude</key>
		<real>20.789999999999999</real>
		<key>longitude</key>
		<real>-76.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3550595</string>
		<key>latitude</key>
		<real>21.100000000000001</real>
		<key>longitude</key>
		<real>-76.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3550598</string>
		<key>latitude</key>
		<real>20.960000000000001</real>
		<key>longitude</key>
		<real>-76.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3546894</string>
		<key>latitude</key>
		<real>21.48</real>
		<key>longitude</key>
		<real>-77.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3536259</string>
		<key>latitude</key>
		<real>21.239999999999998</real>
		<key>longitude</key>
		<real>-77.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3557923</string>
		<key>latitude</key>
		<real>21.050000000000001</real>
		<key>longitude</key>
		<real>-77.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754913</string>
		<key>latitude</key>
		<real>21.420000000000002</real>
		<key>longitude</key>
		<real>-77.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3563856</string>
		<key>latitude</key>
		<real>20.989999999999998</real>
		<key>longitude</key>
		<real>-77.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3566062</string>
		<key>latitude</key>
		<real>21.350000000000001</real>
		<key>longitude</key>
		<real>-77.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3566067</string>
		<key>latitude</key>
		<real>21.379999999999999</real>
		<key>longitude</key>
		<real>-77.920000000000002</real>
	</dict>
</array>
</plist>
