<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3573061</string>
		<key>latitude</key>
		<real>32.380000000000003</real>
		<key>longitude</key>
		<real>-64.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3573062</string>
		<key>latitude</key>
		<real>32.380000000000003</real>
		<key>longitude</key>
		<real>-64.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3573345</string>
		<key>latitude</key>
		<real>32.329999999999998</real>
		<key>longitude</key>
		<real>-64.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3573197</string>
		<key>latitude</key>
		<real>32.289999999999999</real>
		<key>longitude</key>
		<real>-64.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3573198</string>
		<key>latitude</key>
		<real>32.289999999999999</real>
		<key>longitude</key>
		<real>-64.780000000000001</real>
	</dict>
</array>
</plist>
