<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3579232</string>
		<key>latitude</key>
		<real>16.300000000000001</real>
		<key>longitude</key>
		<real>-61.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578441</string>
		<key>latitude</key>
		<real>16.25</real>
		<key>longitude</key>
		<real>-61.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578577</string>
		<key>latitude</key>
		<real>16.32</real>
		<key>longitude</key>
		<real>-61.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690413</string>
		<key>latitude</key>
		<real>16.329999999999998</real>
		<key>longitude</key>
		<real>-61.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578967</string>
		<key>latitude</key>
		<real>16.329999999999998</real>
		<key>longitude</key>
		<real>-61.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578592</string>
		<key>latitude</key>
		<real>16.239999999999998</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690393</string>
		<key>latitude</key>
		<real>16.23</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578466</string>
		<key>latitude</key>
		<real>16.23</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578598</string>
		<key>latitude</key>
		<real>16.329999999999998</real>
		<key>longitude</key>
		<real>-61.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690400</string>
		<key>latitude</key>
		<real>16.379999999999999</real>
		<key>longitude</key>
		<real>-61.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578886</string>
		<key>latitude</key>
		<real>16.469999999999999</real>
		<key>longitude</key>
		<real>-61.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579789</string>
		<key>latitude</key>
		<real>16.469999999999999</real>
		<key>longitude</key>
		<real>-61.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578681</string>
		<key>latitude</key>
		<real>16.379999999999999</real>
		<key>longitude</key>
		<real>-61.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579250</string>
		<key>latitude</key>
		<real>15.880000000000001</real>
		<key>longitude</key>
		<real>-61.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578575</string>
		<key>latitude</key>
		<real>16.420000000000002</real>
		<key>longitude</key>
		<real>-61.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578914</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690387</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578959</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690414</string>
		<key>latitude</key>
		<real>16.199999999999999</real>
		<key>longitude</key>
		<real>-61.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578978</string>
		<key>latitude</key>
		<real>16.210000000000001</real>
		<key>longitude</key>
		<real>-61.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579759</string>
		<key>latitude</key>
		<real>16.239999999999998</real>
		<key>longitude</key>
		<real>-61.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690399</string>
		<key>latitude</key>
		<real>16.23</real>
		<key>longitude</key>
		<real>-61.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578599</string>
		<key>latitude</key>
		<real>16.239999999999998</real>
		<key>longitude</key>
		<real>-61.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576016</string>
		<key>latitude</key>
		<real>17.100000000000001</real>
		<key>longitude</key>
		<real>-61.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576074</string>
		<key>latitude</key>
		<real>17.100000000000001</real>
		<key>longitude</key>
		<real>-61.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576017</string>
		<key>latitude</key>
		<real>17.030000000000001</real>
		<key>longitude</key>
		<real>-61.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576144</string>
		<key>latitude</key>
		<real>17.030000000000001</real>
		<key>longitude</key>
		<real>-61.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576260</string>
		<key>latitude</key>
		<real>17.030000000000001</real>
		<key>longitude</key>
		<real>-61.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576397</string>
		<key>latitude</key>
		<real>17.07</real>
		<key>longitude</key>
		<real>-61.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690412</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579143</string>
		<key>latitude</key>
		<real>16.25</real>
		<key>longitude</key>
		<real>-61.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690363</string>
		<key>latitude</key>
		<real>16.25</real>
		<key>longitude</key>
		<real>-61.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690364</string>
		<key>latitude</key>
		<real>16.25</real>
		<key>longitude</key>
		<real>-61.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579767</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690401</string>
		<key>latitude</key>
		<real>16.18</real>
		<key>longitude</key>
		<real>-61.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579259</string>
		<key>latitude</key>
		<real>16.140000000000001</real>
		<key>longitude</key>
		<real>-61.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578682</string>
		<key>latitude</key>
		<real>16.190000000000001</real>
		<key>longitude</key>
		<real>-61.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579650</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575568</string>
		<key>latitude</key>
		<real>15.57</real>
		<key>longitude</key>
		<real>-61.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579035</string>
		<key>latitude</key>
		<real>16.129999999999999</real>
		<key>longitude</key>
		<real>-61.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690404</string>
		<key>latitude</key>
		<real>16.129999999999999</real>
		<key>longitude</key>
		<real>-61.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575721</string>
		<key>latitude</key>
		<real>15.529999999999999</real>
		<key>longitude</key>
		<real>-61.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579023</string>
		<key>latitude</key>
		<real>16.27</real>
		<key>longitude</key>
		<real>-61.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575565</string>
		<key>latitude</key>
		<real>15.57</real>
		<key>longitude</key>
		<real>-61.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690408</string>
		<key>latitude</key>
		<real>16.050000000000001</real>
		<key>longitude</key>
		<real>-61.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575630</string>
		<key>latitude</key>
		<real>15.470000000000001</real>
		<key>longitude</key>
		<real>-61.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575870</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-61.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575882</string>
		<key>latitude</key>
		<real>15.58</real>
		<key>longitude</key>
		<real>-61.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579585</string>
		<key>latitude</key>
		<real>16.039999999999999</real>
		<key>longitude</key>
		<real>-61.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690392</string>
		<key>latitude</key>
		<real>16.329999999999998</real>
		<key>longitude</key>
		<real>-61.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575830</string>
		<key>latitude</key>
		<real>15.5</real>
		<key>longitude</key>
		<real>-61.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575632</string>
		<key>latitude</key>
		<real>15.57</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575639</string>
		<key>latitude</key>
		<real>15.369999999999999</real>
		<key>longitude</key>
		<real>-61.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575755</string>
		<key>latitude</key>
		<real>15.33</real>
		<key>longitude</key>
		<real>-61.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578447</string>
		<key>latitude</key>
		<real>16.329999999999998</real>
		<key>longitude</key>
		<real>-61.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579731</string>
		<key>latitude</key>
		<real>16.170000000000002</real>
		<key>longitude</key>
		<real>-61.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575626</string>
		<key>latitude</key>
		<real>15.58</real>
		<key>longitude</key>
		<real>-61.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575620</string>
		<key>latitude</key>
		<real>15.279999999999999</real>
		<key>longitude</key>
		<real>-61.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570446</string>
		<key>latitude</key>
		<real>14.74</real>
		<key>longitude</key>
		<real>-60.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690681</string>
		<key>latitude</key>
		<real>14.74</real>
		<key>longitude</key>
		<real>-60.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578324</string>
		<key>latitude</key>
		<real>15.98</real>
		<key>longitude</key>
		<real>-61.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575654</string>
		<key>latitude</key>
		<real>15.58</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575863</string>
		<key>latitude</key>
		<real>15.58</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575761</string>
		<key>latitude</key>
		<real>15.58</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569926</string>
		<key>latitude</key>
		<real>14.779999999999999</real>
		<key>longitude</key>
		<real>-60.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690679</string>
		<key>latitude</key>
		<real>14.779999999999999</real>
		<key>longitude</key>
		<real>-60.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570166</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570186</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570445</string>
		<key>latitude</key>
		<real>14.73</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575578</string>
		<key>latitude</key>
		<real>15.32</real>
		<key>longitude</key>
		<real>-61.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570780</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-61.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570392</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-60.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570412</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-60.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690673</string>
		<key>latitude</key>
		<real>14.68</real>
		<key>longitude</key>
		<real>-60.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578818</string>
		<key>latitude</key>
		<real>16.289999999999999</real>
		<key>longitude</key>
		<real>-61.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570429</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690661</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575619</string>
		<key>latitude</key>
		<real>15.35</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579543</string>
		<key>latitude</key>
		<real>15.98</real>
		<key>longitude</key>
		<real>-61.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570427</string>
		<key>latitude</key>
		<real>14.83</real>
		<key>longitude</key>
		<real>-61.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690665</string>
		<key>latitude</key>
		<real>14.83</real>
		<key>longitude</key>
		<real>-61.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578467</string>
		<key>latitude</key>
		<real>16.02</real>
		<key>longitude</key>
		<real>-61.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579267</string>
		<key>latitude</key>
		<real>15.99</real>
		<key>longitude</key>
		<real>-61.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575625</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-61.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575899</string>
		<key>latitude</key>
		<real>15.23</real>
		<key>longitude</key>
		<real>-61.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570058</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578351</string>
		<key>latitude</key>
		<real>15.85</real>
		<key>longitude</key>
		<real>-61.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578594</string>
		<key>latitude</key>
		<real>16.23</real>
		<key>longitude</key>
		<real>-61.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575628</string>
		<key>latitude</key>
		<real>15.300000000000001</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575733</string>
		<key>latitude</key>
		<real>15.35</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575624</string>
		<key>latitude</key>
		<real>15.4</real>
		<key>longitude</key>
		<real>-61.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575612</string>
		<key>latitude</key>
		<real>15.43</real>
		<key>longitude</key>
		<real>-61.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575641</string>
		<key>latitude</key>
		<real>15.33</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570584</string>
		<key>latitude</key>
		<real>14.699999999999999</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571097</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-61.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690410</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>-61.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579642</string>
		<key>latitude</key>
		<real>16.129999999999999</real>
		<key>longitude</key>
		<real>-61.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373789</string>
		<key>latitude</key>
		<real>13.32</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690663</string>
		<key>latitude</key>
		<real>14.710000000000001</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690411</string>
		<key>latitude</key>
		<real>16.02</real>
		<key>longitude</key>
		<real>-61.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575635</string>
		<key>latitude</key>
		<real>15.300000000000001</real>
		<key>longitude</key>
		<real>-61.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373452</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>-59.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575622</string>
		<key>latitude</key>
		<real>15.27</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575737</string>
		<key>latitude</key>
		<real>15.27</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579732</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>-61.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570440</string>
		<key>latitude</key>
		<real>14.710000000000001</real>
		<key>longitude</key>
		<real>-61.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570311</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690603</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690604</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373550</string>
		<key>latitude</key>
		<real>13.32</real>
		<key>longitude</key>
		<real>-59.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690666</string>
		<key>latitude</key>
		<real>14.880000000000001</real>
		<key>longitude</key>
		<real>-61.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575660</string>
		<key>latitude</key>
		<real>15.25</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690652</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-61.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569976</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-60.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575602</string>
		<key>latitude</key>
		<real>15.23</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3579761</string>
		<key>latitude</key>
		<real>16.02</real>
		<key>longitude</key>
		<real>-61.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3578278</string>
		<key>latitude</key>
		<real>16.059999999999999</real>
		<key>longitude</key>
		<real>-61.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3575621</string>
		<key>latitude</key>
		<real>15.220000000000001</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570501</string>
		<key>latitude</key>
		<real>14.82</real>
		<key>longitude</key>
		<real>-61.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373565</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570363</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-61.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570410</string>
		<key>latitude</key>
		<real>14.550000000000001</real>
		<key>longitude</key>
		<real>-60.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690674</string>
		<key>latitude</key>
		<real>14.56</real>
		<key>longitude</key>
		<real>-60.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570319</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-60.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570426</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-60.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570547</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-60.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374083</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>-59.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690664</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570785</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570591</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690662</string>
		<key>latitude</key>
		<real>14.869999999999999</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690675</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569970</string>
		<key>latitude</key>
		<real>14.48</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570749</string>
		<key>latitude</key>
		<real>14.48</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690658</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-60.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373569</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-59.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569915</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373592</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570668</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373568</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373573</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570428</string>
		<key>latitude</key>
		<real>14.609999999999999</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570691</string>
		<key>latitude</key>
		<real>14.58</real>
		<key>longitude</key>
		<real>-60.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570423</string>
		<key>latitude</key>
		<real>14.77</real>
		<key>longitude</key>
		<real>-61.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373509</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570401</string>
		<key>latitude</key>
		<real>14.43</real>
		<key>longitude</key>
		<real>-60.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570407</string>
		<key>latitude</key>
		<real>14.43</real>
		<key>longitude</key>
		<real>-60.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373554</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570158</string>
		<key>latitude</key>
		<real>14.539999999999999</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571130</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>-60.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373544</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-59.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569928</string>
		<key>latitude</key>
		<real>14.470000000000001</real>
		<key>longitude</key>
		<real>-60.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569967</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-60.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690672</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>-60.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374084</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374095</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373505</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-59.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373967</string>
		<key>latitude</key>
		<real>13.18</real>
		<key>longitude</key>
		<real>-59.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373947</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-59.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373553</string>
		<key>latitude</key>
		<real>13.119999999999999</real>
		<key>longitude</key>
		<real>-59.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373454</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373570</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373430</string>
		<key>latitude</key>
		<real>13.18</real>
		<key>longitude</key>
		<real>-59.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373551</string>
		<key>latitude</key>
		<real>13.18</real>
		<key>longitude</key>
		<real>-59.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570675</string>
		<key>latitude</key>
		<real>14.609999999999999</real>
		<key>longitude</key>
		<real>-61.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690660</string>
		<key>latitude</key>
		<real>14.609999999999999</real>
		<key>longitude</key>
		<real>-61.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570236</string>
		<key>latitude</key>
		<real>14.710000000000001</real>
		<key>longitude</key>
		<real>-61.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569906</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373461</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-59.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373572</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570416</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>-61.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690670</string>
		<key>latitude</key>
		<real>14.800000000000001</real>
		<key>longitude</key>
		<real>-61.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569907</string>
		<key>latitude</key>
		<real>14.74</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570674</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-61.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570874</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>-61.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373615</string>
		<key>latitude</key>
		<real>13.15</real>
		<key>longitude</key>
		<real>-59.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570396</string>
		<key>latitude</key>
		<real>14.539999999999999</real>
		<key>longitude</key>
		<real>-61.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3569886</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-61.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690680</string>
		<key>latitude</key>
		<real>14.619999999999999</real>
		<key>longitude</key>
		<real>-61.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373559</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>-59.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373790</string>
		<key>latitude</key>
		<real>13.19</real>
		<key>longitude</key>
		<real>-59.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373791</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373768</string>
		<key>latitude</key>
		<real>13.15</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373542</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-59.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373433</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570431</string>
		<key>latitude</key>
		<real>14.699999999999999</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570550</string>
		<key>latitude</key>
		<real>14.630000000000001</real>
		<key>longitude</key>
		<real>-61.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690685</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373627</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374090</string>
		<key>latitude</key>
		<real>13.15</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3571063</string>
		<key>latitude</key>
		<real>14.67</real>
		<key>longitude</key>
		<real>-61.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373868</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373988</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373557</string>
		<key>latitude</key>
		<real>13.119999999999999</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373652</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-59.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373418</string>
		<key>latitude</key>
		<real>13.050000000000001</real>
		<key>longitude</key>
		<real>-59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373438</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373617</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-59.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373754</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-59.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373538</string>
		<key>latitude</key>
		<real>13.050000000000001</real>
		<key>longitude</key>
		<real>-59.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373626</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374087</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>-59.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690653</string>
		<key>latitude</key>
		<real>14.49</real>
		<key>longitude</key>
		<real>-61.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373982</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>-59.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373436</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-59.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3570408</string>
		<key>latitude</key>
		<real>14.48</real>
		<key>longitude</key>
		<real>-61.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373932</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3374036</string>
		<key>latitude</key>
		<real>13.1</real>
		<key>longitude</key>
		<real>-59.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3373590</string>
		<key>latitude</key>
		<real>13.07</real>
		<key>longitude</key>
		<real>-59.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576818</string>
		<key>latitude</key>
		<real>14.08</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576686</string>
		<key>latitude</key>
		<real>14.07</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576685</string>
		<key>latitude</key>
		<real>14.050000000000001</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576854</string>
		<key>latitude</key>
		<real>14.02</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910368</string>
		<key>latitude</key>
		<real>14.02</real>
		<key>longitude</key>
		<real>-60.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576591</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>-60.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576765</string>
		<key>latitude</key>
		<real>13.9</real>
		<key>longitude</key>
		<real>-60.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576810</string>
		<key>latitude</key>
		<real>13.98</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576812</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576588</string>
		<key>latitude</key>
		<real>13.970000000000001</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576569</string>
		<key>latitude</key>
		<real>13.82</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576468</string>
		<key>latitude</key>
		<real>13.880000000000001</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576894</string>
		<key>latitude</key>
		<real>13.93</real>
		<key>longitude</key>
		<real>-61.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576413</string>
		<key>latitude</key>
		<real>13.779999999999999</real>
		<key>longitude</key>
		<real>-60.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576442</string>
		<key>latitude</key>
		<real>13.859999999999999</real>
		<key>longitude</key>
		<real>-61.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576414</string>
		<key>latitude</key>
		<real>13.720000000000001</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3576663</string>
		<key>latitude</key>
		<real>13.75</real>
		<key>longitude</key>
		<real>-60.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577866</string>
		<key>latitude</key>
		<real>13.35</real>
		<key>longitude</key>
		<real>-61.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577900</string>
		<key>latitude</key>
		<real>13.289999999999999</real>
		<key>longitude</key>
		<real>-61.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577944</string>
		<key>latitude</key>
		<real>13.25</real>
		<key>longitude</key>
		<real>-61.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577934</string>
		<key>latitude</key>
		<real>13.27</real>
		<key>longitude</key>
		<real>-61.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577821</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>-61.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577955</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-61.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577933</string>
		<key>latitude</key>
		<real>13.279999999999999</real>
		<key>longitude</key>
		<real>-61.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577822</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-61.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577819</string>
		<key>latitude</key>
		<real>13.17</real>
		<key>longitude</key>
		<real>-61.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577962</string>
		<key>latitude</key>
		<real>13.23</real>
		<key>longitude</key>
		<real>-61.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577887</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>-61.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577879</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>-61.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3748724</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>-61.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577969</string>
		<key>latitude</key>
		<real>13.130000000000001</real>
		<key>longitude</key>
		<real>-61.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3748726</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>-61.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3748736</string>
		<key>latitude</key>
		<real>13.140000000000001</real>
		<key>longitude</key>
		<real>-61.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577815</string>
		<key>latitude</key>
		<real>13.08</real>
		<key>longitude</key>
		<real>-61.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577844</string>
		<key>latitude</key>
		<real>13.02</real>
		<key>longitude</key>
		<real>-61.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577857</string>
		<key>latitude</key>
		<real>12.98</real>
		<key>longitude</key>
		<real>-61.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577911</string>
		<key>latitude</key>
		<real>12.880000000000001</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577892</string>
		<key>latitude</key>
		<real>12.83</real>
		<key>longitude</key>
		<real>-61.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577937</string>
		<key>latitude</key>
		<real>12.68</real>
		<key>longitude</key>
		<real>-61.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3577925</string>
		<key>latitude</key>
		<real>12.58</real>
		<key>longitude</key>
		<real>-61.420000000000002</real>
	</dict>
</array>
</plist>
