<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>370481</string>
		<key>latitude</key>
		<real>18.48</real>
		<key>longitude</key>
		<real>31.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>371870</string>
		<key>latitude</key>
		<real>18.550000000000001</real>
		<key>longitude</key>
		<real>31.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>380186</string>
		<key>latitude</key>
		<real>18.050000000000001</real>
		<key>longitude</key>
		<real>30.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408664</string>
		<key>latitude</key>
		<real>19</real>
		<key>longitude</key>
		<real>33.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379127</string>
		<key>latitude</key>
		<real>16.710000000000001</real>
		<key>longitude</key>
		<real>33.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379630</string>
		<key>latitude</key>
		<real>18.260000000000002</real>
		<key>longitude</key>
		<real>33.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443868</string>
		<key>latitude</key>
		<real>16.52</real>
		<key>longitude</key>
		<real>33.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>363417</string>
		<key>latitude</key>
		<real>19.170000000000002</real>
		<key>longitude</key>
		<real>30.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379234</string>
		<key>latitude</key>
		<real>16.23</real>
		<key>longitude</key>
		<real>32.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>375831</string>
		<key>latitude</key>
		<real>19.170000000000002</real>
		<key>longitude</key>
		<real>30.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>377690</string>
		<key>latitude</key>
		<real>18.02</real>
		<key>longitude</key>
		<real>33.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>367308</string>
		<key>latitude</key>
		<real>16.690000000000001</real>
		<key>longitude</key>
		<real>33.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>380173</string>
		<key>latitude</key>
		<real>17.59</real>
		<key>longitude</key>
		<real>33.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378231</string>
		<key>latitude</key>
		<real>17.699999999999999</real>
		<key>longitude</key>
		<real>33.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378361</string>
		<key>latitude</key>
		<real>17.68</real>
		<key>longitude</key>
		<real>34.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378543</string>
		<key>latitude</key>
		<real>19.52</real>
		<key>longitude</key>
		<real>30.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>372801</string>
		<key>latitude</key>
		<real>19.629999999999999</real>
		<key>longitude</key>
		<real>30.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379253</string>
		<key>latitude</key>
		<real>15.800000000000001</real>
		<key>longitude</key>
		<real>33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>365137</string>
		<key>latitude</key>
		<real>15.640000000000001</real>
		<key>longitude</key>
		<real>32.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379251</string>
		<key>latitude</key>
		<real>15.630000000000001</real>
		<key>longitude</key>
		<real>32.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6992531</string>
		<key>latitude</key>
		<real>15.59</real>
		<key>longitude</key>
		<real>32.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>367935</string>
		<key>latitude</key>
		<real>15.57</real>
		<key>longitude</key>
		<real>32.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379252</string>
		<key>latitude</key>
		<real>15.550000000000001</real>
		<key>longitude</key>
		<real>32.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378389</string>
		<key>latitude</key>
		<real>19.300000000000001</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>366755</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>30</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364071</string>
		<key>latitude</key>
		<real>15.16</real>
		<key>longitude</key>
		<real>33.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379014</string>
		<key>latitude</key>
		<real>14.859999999999999</real>
		<key>longitude</key>
		<real>32.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379406</string>
		<key>latitude</key>
		<real>14.94</real>
		<key>longitude</key>
		<real>33.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379427</string>
		<key>latitude</key>
		<real>14.75</real>
		<key>longitude</key>
		<real>33.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364216</string>
		<key>latitude</key>
		<real>14.460000000000001</real>
		<key>longitude</key>
		<real>32.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408648</string>
		<key>latitude</key>
		<real>14.6</real>
		<key>longitude</key>
		<real>33.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379080</string>
		<key>latitude</key>
		<real>14.57</real>
		<key>longitude</key>
		<real>33.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379261</string>
		<key>latitude</key>
		<real>14.35</real>
		<key>longitude</key>
		<real>32.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364132</string>
		<key>latitude</key>
		<real>21.800000000000001</real>
		<key>longitude</key>
		<real>31.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379149</string>
		<key>latitude</key>
		<real>14.25</real>
		<key>longitude</key>
		<real>32.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364103</string>
		<key>latitude</key>
		<real>14.4</real>
		<key>longitude</key>
		<real>33.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>380129</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>32.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408663</string>
		<key>latitude</key>
		<real>15.9</real>
		<key>longitude</key>
		<real>35.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>372386</string>
		<key>latitude</key>
		<real>14.039999999999999</real>
		<key>longitude</key>
		<real>33.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364949</string>
		<key>latitude</key>
		<real>13.800000000000001</real>
		<key>longitude</key>
		<real>32.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408667</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408646</string>
		<key>latitude</key>
		<real>20</real>
		<key>longitude</key>
		<real>36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379272</string>
		<key>latitude</key>
		<real>13.75</real>
		<key>longitude</key>
		<real>32.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>362041</string>
		<key>latitude</key>
		<real>22.350000000000001</real>
		<key>longitude</key>
		<real>31.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364027</string>
		<key>latitude</key>
		<real>16.149999999999999</real>
		<key>longitude</key>
		<real>36.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378502</string>
		<key>latitude</key>
		<real>15.82</real>
		<key>longitude</key>
		<real>36.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408653</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>32.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>377724</string>
		<key>latitude</key>
		<real>13.699999999999999</real>
		<key>longitude</key>
		<real>30.370000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>373463</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>33.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>367644</string>
		<key>latitude</key>
		<real>13.57</real>
		<key>longitude</key>
		<real>33.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>370838</string>
		<key>latitude</key>
		<real>13.42</real>
		<key>longitude</key>
		<real>33.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>368277</string>
		<key>latitude</key>
		<real>13.18</real>
		<key>longitude</key>
		<real>32.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>371760</string>
		<key>latitude</key>
		<real>13.16</real>
		<key>longitude</key>
		<real>32.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7024903</string>
		<key>latitude</key>
		<real>15.41</real>
		<key>longitude</key>
		<real>36.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>372753</string>
		<key>latitude</key>
		<real>15.449999999999999</real>
		<key>longitude</key>
		<real>36.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>366426</string>
		<key>latitude</key>
		<real>13.02</real>
		<key>longitude</key>
		<real>31.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378020</string>
		<key>latitude</key>
		<real>14.130000000000001</real>
		<key>longitude</key>
		<real>35.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378271</string>
		<key>latitude</key>
		<real>13.32</real>
		<key>longitude</key>
		<real>33.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443909</string>
		<key>latitude</key>
		<real>19.390000000000001</real>
		<key>longitude</key>
		<real>37.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6969341</string>
		<key>latitude</key>
		<real>19.449999999999999</real>
		<key>longitude</key>
		<real>37.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408649</string>
		<key>latitude</key>
		<real>14.050000000000001</real>
		<key>longitude</key>
		<real>35.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>375046</string>
		<key>latitude</key>
		<real>21.07</real>
		<key>longitude</key>
		<real>36.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379003</string>
		<key>latitude</key>
		<real>13.18</real>
		<key>longitude</key>
		<real>30.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379062</string>
		<key>latitude</key>
		<real>14.029999999999999</real>
		<key>longitude</key>
		<real>35.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364706</string>
		<key>latitude</key>
		<real>12.91</real>
		<key>longitude</key>
		<real>31.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>344211</string>
		<key>latitude</key>
		<real>15.119999999999999</real>
		<key>longitude</key>
		<real>36.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>367544</string>
		<key>latitude</key>
		<real>19.109999999999999</real>
		<key>longitude</key>
		<real>37.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>366847</string>
		<key>latitude</key>
		<real>13.15</real>
		<key>longitude</key>
		<real>33.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>377039</string>
		<key>latitude</key>
		<real>19.620000000000001</real>
		<key>longitude</key>
		<real>37.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379416</string>
		<key>latitude</key>
		<real>13.42</real>
		<key>longitude</key>
		<real>34.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>380151</string>
		<key>latitude</key>
		<real>13.199999999999999</real>
		<key>longitude</key>
		<real>34.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>327651</string>
		<key>latitude</key>
		<real>15.109999999999999</real>
		<key>longitude</key>
		<real>36.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408669</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>359787</string>
		<key>latitude</key>
		<real>23.300000000000001</real>
		<key>longitude</key>
		<real>32.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378493</string>
		<key>latitude</key>
		<real>12.720000000000001</real>
		<key>longitude</key>
		<real>30.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>366323</string>
		<key>latitude</key>
		<real>18.43</real>
		<key>longitude</key>
		<real>37.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>448497</string>
		<key>latitude</key>
		<real>16.5</real>
		<key>longitude</key>
		<real>37.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>376332</string>
		<key>latitude</key>
		<real>13.52</real>
		<key>longitude</key>
		<real>35.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>330867</string>
		<key>latitude</key>
		<real>15.300000000000001</real>
		<key>longitude</key>
		<real>37.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>448500</string>
		<key>latitude</key>
		<real>15.25</real>
		<key>longitude</key>
		<real>37.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>342711</string>
		<key>latitude</key>
		<real>15.109999999999999</real>
		<key>longitude</key>
		<real>37.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378699</string>
		<key>latitude</key>
		<real>12.699999999999999</real>
		<key>longitude</key>
		<real>28.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364933</string>
		<key>latitude</key>
		<real>13.6</real>
		<key>longitude</key>
		<real>26.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>340358</string>
		<key>latitude</key>
		<real>12.98</real>
		<key>longitude</key>
		<real>37.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336014</string>
		<key>latitude</key>
		<real>12.6</real>
		<key>longitude</key>
		<real>37.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>339258</string>
		<key>latitude</key>
		<real>12.52</real>
		<key>longitude</key>
		<real>37.43</real>
	</dict>
</array>
</plist>
