<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3638075</string>
		<key>latitude</key>
		<real>3.1666699999999999</real>
		<key>longitude</key>
		<real>-65.550003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649302</string>
		<key>latitude</key>
		<real>3.5</real>
		<key>longitude</key>
		<real>-66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662489</string>
		<key>latitude</key>
		<real>-0.41388999999999998</real>
		<key>longitude</key>
		<real>-65.019172999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664684</string>
		<key>latitude</key>
		<real>1.8161099999999999</real>
		<key>longitude</key>
		<real>-61.128059</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3628488</string>
		<key>latitude</key>
		<real>1.9166700000000001</real>
		<key>longitude</key>
		<real>-67.066672999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662560</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665098</string>
		<key>latitude</key>
		<real>-0.97472000000000003</real>
		<key>longitude</key>
		<real>-62.924171000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663186</string>
		<key>latitude</key>
		<real>-0.98333000000000004</real>
		<key>longitude</key>
		<real>-62.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662614</string>
		<key>latitude</key>
		<real>2.8500000000000001</real>
		<key>longitude</key>
		<real>-60.716670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664980</string>
		<key>latitude</key>
		<real>2.8197199999999998</real>
		<key>longitude</key>
		<real>-60.673327999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3632867</string>
		<key>latitude</key>
		<real>2.71861</real>
		<key>longitude</key>
		<real>-67.559921000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662342</string>
		<key>latitude</key>
		<real>-0.13028000000000001</real>
		<key>longitude</key>
		<real>-67.089172000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807086</string>
		<key>latitude</key>
		<real>4.5516699999999997</real>
		<key>longitude</key>
		<real>-61.132221000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3627382</string>
		<key>latitude</key>
		<real>4.6166700000000001</real>
		<key>longitude</key>
		<real>-61.133330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3628052</string>
		<key>latitude</key>
		<real>5.3171799999999996</real>
		<key>longitude</key>
		<real>-66.048621999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809274</string>
		<key>latitude</key>
		<real>4.612222</real>
		<key>longitude</key>
		<real>-61.088332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808502</string>
		<key>latitude</key>
		<real>4.6527779999999996</real>
		<key>longitude</key>
		<real>-61.066665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3627059</string>
		<key>latitude</key>
		<real>4.7166670000000002</real>
		<key>longitude</key>
		<real>-61.066665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3626617</string>
		<key>latitude</key>
		<real>4.766667</real>
		<key>longitude</key>
		<real>-61.083331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809474</string>
		<key>latitude</key>
		<real>4.8611110000000002</real>
		<key>longitude</key>
		<real>-61.112220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663475</string>
		<key>latitude</key>
		<real>-1.8333299999999999</real>
		<key>longitude</key>
		<real>-65.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648865</string>
		<key>latitude</key>
		<real>4.8499999999999996</real>
		<key>longitude</key>
		<real>-61.083331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3626405</string>
		<key>latitude</key>
		<real>4.9666670000000002</real>
		<key>longitude</key>
		<real>-61.150002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649331</string>
		<key>latitude</key>
		<real>4.9333330000000002</real>
		<key>longitude</key>
		<real>-61.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3632824</string>
		<key>latitude</key>
		<real>5.0499999999999998</real>
		<key>longitude</key>
		<real>-61.150002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405215</string>
		<key>latitude</key>
		<real>3.0833300000000001</real>
		<key>longitude</key>
		<real>-59.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3626644</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-61.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3628394</string>
		<key>latitude</key>
		<real>4.0495599999999996</real>
		<key>longitude</key>
		<real>-67.700316999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3637428</string>
		<key>latitude</key>
		<real>5.1500000000000004</real>
		<key>longitude</key>
		<real>-61.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3645687</string>
		<key>latitude</key>
		<real>5.0499999999999998</real>
		<key>longitude</key>
		<real>-60.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3671450</string>
		<key>latitude</key>
		<real>3.8652799999999998</real>
		<key>longitude</key>
		<real>-67.923889000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3642386</string>
		<key>latitude</key>
		<real>5.2999999999999998</real>
		<key>longitude</key>
		<real>-61.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808408</string>
		<key>latitude</key>
		<real>6.3277780000000003</real>
		<key>longitude</key>
		<real>-63.592219999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648106</string>
		<key>latitude</key>
		<real>6.3333329999999997</real>
		<key>longitude</key>
		<real>-63.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3625801</string>
		<key>latitude</key>
		<real>5.0499999999999998</real>
		<key>longitude</key>
		<real>-60.833331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379316</string>
		<key>latitude</key>
		<real>3.3833299999999999</real>
		<key>longitude</key>
		<real>-59.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3632497</string>
		<key>latitude</key>
		<real>6.25</real>
		<key>longitude</key>
		<real>-62.766666000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3630283</string>
		<key>latitude</key>
		<real>6.1666699999999999</real>
		<key>longitude</key>
		<real>-62.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648783</string>
		<key>latitude</key>
		<real>5.4666670000000002</real>
		<key>longitude</key>
		<real>-61.216667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3647391</string>
		<key>latitude</key>
		<real>5.5999999999999996</real>
		<key>longitude</key>
		<real>-61.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3641359</string>
		<key>latitude</key>
		<real>5.6666670000000003</real>
		<key>longitude</key>
		<real>-61.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3644660</string>
		<key>latitude</key>
		<real>6.3166669999999998</real>
		<key>longitude</key>
		<real>-62.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3647346</string>
		<key>latitude</key>
		<real>5.6166669999999996</real>
		<key>longitude</key>
		<real>-61.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649138</string>
		<key>latitude</key>
		<real>5.0999999999999996</real>
		<key>longitude</key>
		<real>-60.733333999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649518</string>
		<key>latitude</key>
		<real>5.7833329999999998</real>
		<key>longitude</key>
		<real>-61.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3639041</string>
		<key>latitude</key>
		<real>5.9333330000000002</real>
		<key>longitude</key>
		<real>-61.416668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3628959</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808235</string>
		<key>latitude</key>
		<real>6.0149999999999997</real>
		<key>longitude</key>
		<real>-61.401111999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3806940</string>
		<key>latitude</key>
		<real>6.0733329999999999</real>
		<key>longitude</key>
		<real>-61.389442000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809319</string>
		<key>latitude</key>
		<real>6.1488889999999996</real>
		<key>longitude</key>
		<real>-61.426108999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808238</string>
		<key>latitude</key>
		<real>6.1533329999999999</real>
		<key>longitude</key>
		<real>-61.429442999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807669</string>
		<key>latitude</key>
		<real>6.1733330000000004</real>
		<key>longitude</key>
		<real>-61.417220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3377899</string>
		<key>latitude</key>
		<real>4.6666699999999999</real>
		<key>longitude</key>
		<real>-59.816668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664207</string>
		<key>latitude</key>
		<real>-2.51389</real>
		<key>longitude</key>
		<real>-66.091667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648789</string>
		<key>latitude</key>
		<real>5.69252</real>
		<key>longitude</key>
		<real>-67.346191000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3375463</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>-59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3681652</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>-69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6319315</string>
		<key>latitude</key>
		<real>-2.4959099999999999</real>
		<key>longitude</key>
		<real>-66.266227999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808237</string>
		<key>latitude</key>
		<real>6.2938890000000001</real>
		<key>longitude</key>
		<real>-61.313889000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661756</string>
		<key>latitude</key>
		<real>-2.9900000000000002</real>
		<key>longitude</key>
		<real>-65.108329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808236</string>
		<key>latitude</key>
		<real>6.4883329999999999</real>
		<key>longitude</key>
		<real>-61.540557999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3755632</string>
		<key>latitude</key>
		<real>5.6319699999999999</real>
		<key>longitude</key>
		<real>-67.609520000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3638144</string>
		<key>latitude</key>
		<real>6.4166670000000003</real>
		<key>longitude</key>
		<real>-61.400002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661292</string>
		<key>latitude</key>
		<real>5.8666700000000001</real>
		<key>longitude</key>
		<real>-60.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3629710</string>
		<key>latitude</key>
		<real>5.6638900000000003</real>
		<key>longitude</key>
		<real>-67.623610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3646673</string>
		<key>latitude</key>
		<real>6.6166669999999996</real>
		<key>longitude</key>
		<real>-61.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3668562</string>
		<key>latitude</key>
		<real>4.86775</real>
		<key>longitude</key>
		<real>-68.361121999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807898</string>
		<key>latitude</key>
		<real>6.71</real>
		<key>longitude</key>
		<real>-61.619446000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665380</string>
		<key>latitude</key>
		<real>-3.2208299999999999</real>
		<key>longitude</key>
		<real>-64.804169000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809171</string>
		<key>latitude</key>
		<real>6.7350000000000003</real>
		<key>longitude</key>
		<real>-61.625</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809813</string>
		<key>latitude</key>
		<real>6.7683330000000002</real>
		<key>longitude</key>
		<real>-61.615555000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662952</string>
		<key>latitude</key>
		<real>0.34999999999999998</real>
		<key>longitude</key>
		<real>-69.083327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3644689</string>
		<key>latitude</key>
		<real>6.7999999999999998</real>
		<key>longitude</key>
		<real>-61.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661944</string>
		<key>latitude</key>
		<real>-3.3500000000000001</real>
		<key>longitude</key>
		<real>-64.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376386</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807556</string>
		<key>latitude</key>
		<real>6.8716670000000004</real>
		<key>longitude</key>
		<real>-61.596668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3671519</string>
		<key>latitude</key>
		<real>6.1890299999999998</real>
		<key>longitude</key>
		<real>-67.485878</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3644922</string>
		<key>latitude</key>
		<real>6.983333</real>
		<key>longitude</key>
		<real>-61.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663145</string>
		<key>latitude</key>
		<real>-2.6213899999999999</real>
		<key>longitude</key>
		<real>-60.944172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3632890</string>
		<key>latitude</key>
		<real>7.4153700000000002</real>
		<key>longitude</key>
		<real>-65.189612999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379023</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>-60</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736812</string>
		<key>latitude</key>
		<real>-2.03444</real>
		<key>longitude</key>
		<real>-60.025002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3639640</string>
		<key>latitude</key>
		<real>7.1333330000000004</real>
		<key>longitude</key>
		<real>-61.566665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3636683</string>
		<key>latitude</key>
		<real>7.2166670000000002</real>
		<key>longitude</key>
		<real>-61.533332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808040</string>
		<key>latitude</key>
		<real>7.3527779999999998</real>
		<key>longitude</key>
		<real>-61.834999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807816</string>
		<key>latitude</key>
		<real>7.375</real>
		<key>longitude</key>
		<real>-61.876671000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3636531</string>
		<key>latitude</key>
		<real>7.3833330000000004</real>
		<key>longitude</key>
		<real>-61.866669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809486</string>
		<key>latitude</key>
		<real>7.3538889999999997</real>
		<key>longitude</key>
		<real>-61.789444000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808245</string>
		<key>latitude</key>
		<real>7.2561099999999996</real>
		<key>longitude</key>
		<real>-61.527779000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3625867</string>
		<key>latitude</key>
		<real>7.3666669999999996</real>
		<key>longitude</key>
		<real>-61.766666000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3378535</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809055</string>
		<key>latitude</key>
		<real>7.423889</real>
		<key>longitude</key>
		<real>-61.854999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648365</string>
		<key>latitude</key>
		<real>7.3666669999999996</real>
		<key>longitude</key>
		<real>-61.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3642045</string>
		<key>latitude</key>
		<real>7.3833330000000004</real>
		<key>longitude</key>
		<real>-61.733333999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3639922</string>
		<key>latitude</key>
		<real>7.4699999999999998</real>
		<key>longitude</key>
		<real>-61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807315</string>
		<key>latitude</key>
		<real>7.3394440000000003</real>
		<key>longitude</key>
		<real>-61.584999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809409</string>
		<key>latitude</key>
		<real>7.3272219999999999</real>
		<key>longitude</key>
		<real>-61.549441999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808478</string>
		<key>latitude</key>
		<real>7.3811109999999998</real>
		<key>longitude</key>
		<real>-61.612220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807442</string>
		<key>latitude</key>
		<real>7.5099999999999998</real>
		<key>longitude</key>
		<real>-61.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3634833</string>
		<key>latitude</key>
		<real>7.5499999999999998</real>
		<key>longitude</key>
		<real>-61.966667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807665</string>
		<key>latitude</key>
		<real>7.6500000000000004</real>
		<key>longitude</key>
		<real>-61.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809398</string>
		<key>latitude</key>
		<real>7.6900000000000004</real>
		<key>longitude</key>
		<real>-61.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665348</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661894</string>
		<key>latitude</key>
		<real>-2.8730600000000002</real>
		<key>longitude</key>
		<real>-67.802222999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3666082</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-69.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663529</string>
		<key>latitude</key>
		<real>-3.2999999999999998</real>
		<key>longitude</key>
		<real>-60.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6318165</string>
		<key>latitude</key>
		<real>-2.6994400000000001</real>
		<key>longitude</key>
		<real>-59.699717999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662395</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-67.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754114</string>
		<key>latitude</key>
		<real>-3.0647199999999999</real>
		<key>longitude</key>
		<real>-60.013610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663524</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>-60.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663517</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-60.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754131</string>
		<key>latitude</key>
		<real>-3.1099999999999999</real>
		<key>longitude</key>
		<real>-60.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754145</string>
		<key>latitude</key>
		<real>-3.1699999999999999</real>
		<key>longitude</key>
		<real>-60.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754135</string>
		<key>latitude</key>
		<real>-3.1400000000000001</real>
		<key>longitude</key>
		<real>-60.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736808</string>
		<key>latitude</key>
		<real>-3.2799999999999998</real>
		<key>longitude</key>
		<real>-60.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402920</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-59.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3805700</string>
		<key>latitude</key>
		<real>7.6456</real>
		<key>longitude</key>
		<real>-67.606742999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379507</string>
		<key>latitude</key>
		<real>6.4000000000000004</real>
		<key>longitude</key>
		<real>-58.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649151</string>
		<key>latitude</key>
		<real>7.1666699999999999</real>
		<key>longitude</key>
		<real>-68.833327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379515</string>
		<key>latitude</key>
		<real>7.6666699999999999</real>
		<key>longitude</key>
		<real>-59.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662252</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>-68.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376520</string>
		<key>latitude</key>
		<real>6.8371199999999996</real>
		<key>longitude</key>
		<real>-58.429409</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406948</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-59.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3642390</string>
		<key>latitude</key>
		<real>7.06088</real>
		<key>longitude</key>
		<real>-69.497649999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397893</string>
		<key>latitude</key>
		<real>-3.1430600000000002</real>
		<key>longitude</key>
		<real>-58.444172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303406</string>
		<key>latitude</key>
		<real>7.2643899999999997</real>
		<key>longitude</key>
		<real>-58.507689999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3631656</string>
		<key>latitude</key>
		<real>7.5833300000000001</real>
		<key>longitude</key>
		<real>-69.416672000000005</real>
	</dict>
</array>
</plist>
