<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3658147</string>
		<key>latitude</key>
		<real>-0.89866000000000001</real>
		<key>longitude</key>
		<real>-89.547234000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3652758</string>
		<key>latitude</key>
		<real>-0.90000000000000002</real>
		<key>longitude</key>
		<real>-89.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3651949</string>
		<key>latitude</key>
		<real>-0.90449999999999997</real>
		<key>longitude</key>
		<real>-89.617439000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3652764</string>
		<key>latitude</key>
		<real>-0.73931000000000002</real>
		<key>longitude</key>
		<real>-90.351760999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3652694</string>
		<key>latitude</key>
		<real>-0.95542000000000005</real>
		<key>longitude</key>
		<real>-90.966537000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3651163</string>
		<key>latitude</key>
		<real>-0.42355999999999999</real>
		<key>longitude</key>
		<real>-90.271797000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3657879</string>
		<key>latitude</key>
		<real>-0.67015000000000002</real>
		<key>longitude</key>
		<real>-90.873412999999999</real>
	</dict>
</array>
</plist>
