<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3665210</string>
		<key>latitude</key>
		<real>-7.5700000000000003</real>
		<key>longitude</key>
		<real>-72.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662616</string>
		<key>latitude</key>
		<real>-7.5999999999999996</real>
		<key>longitude</key>
		<real>-72.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663516</string>
		<key>latitude</key>
		<real>-7.6100000000000003</real>
		<key>longitude</key>
		<real>-72.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3692020</string>
		<key>latitude</key>
		<real>-4.6699999999999999</real>
		<key>longitude</key>
		<real>-73.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664301</string>
		<key>latitude</key>
		<real>-7.2999999999999998</real>
		<key>longitude</key>
		<real>-70.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664321</string>
		<key>latitude</key>
		<real>-6.6600000000000001</real>
		<key>longitude</key>
		<real>-69.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662761</string>
		<key>latitude</key>
		<real>-8.2699999999999996</real>
		<key>longitude</key>
		<real>-72.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665168</string>
		<key>latitude</key>
		<real>-4.3700000000000001</real>
		<key>longitude</key>
		<real>-70.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661980</string>
		<key>latitude</key>
		<real>-8.1600000000000001</real>
		<key>longitude</key>
		<real>-70.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665016</string>
		<key>latitude</key>
		<real>-4.3799999999999999</real>
		<key>longitude</key>
		<real>-70.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696183</string>
		<key>latitude</key>
		<real>-3.75</real>
		<key>longitude</key>
		<real>-73.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3827832</string>
		<key>latitude</key>
		<real>-3.7799999999999998</real>
		<key>longitude</key>
		<real>-73.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665430</string>
		<key>latitude</key>
		<real>-6.5</real>
		<key>longitude</key>
		<real>-69.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3692953</string>
		<key>latitude</key>
		<real>-4.2599999999999998</real>
		<key>longitude</key>
		<real>-69.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3827656</string>
		<key>latitude</key>
		<real>-4.1900000000000004</real>
		<key>longitude</key>
		<real>-70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662075</string>
		<key>latitude</key>
		<real>-4.25</real>
		<key>longitude</key>
		<real>-69.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664243</string>
		<key>latitude</key>
		<real>-8.1600000000000001</real>
		<key>longitude</key>
		<real>-70.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3676623</string>
		<key>latitude</key>
		<real>-4.2199999999999998</real>
		<key>longitude</key>
		<real>-69.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3827660</string>
		<key>latitude</key>
		<real>-4.1799999999999997</real>
		<key>longitude</key>
		<real>-69.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3671387</string>
		<key>latitude</key>
		<real>-3.77</real>
		<key>longitude</key>
		<real>-70.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661948</string>
		<key>latitude</key>
		<real>-8.9399999999999995</real>
		<key>longitude</key>
		<real>-72.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3695238</string>
		<key>latitude</key>
		<real>-5</real>
		<key>longitude</key>
		<real>-75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663693</string>
		<key>latitude</key>
		<real>-5.1799999999999997</real>
		<key>longitude</key>
		<real>-68.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3697838</string>
		<key>latitude</key>
		<real>-7.3300000000000001</real>
		<key>longitude</key>
		<real>-75.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691099</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>-73.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3693345</string>
		<key>latitude</key>
		<real>-8.3800000000000008</real>
		<key>longitude</key>
		<real>-74.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3733378</string>
		<key>latitude</key>
		<real>-8.3900000000000006</real>
		<key>longitude</key>
		<real>-74.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665474</string>
		<key>latitude</key>
		<real>-9</real>
		<key>longitude</key>
		<real>-70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3733380</string>
		<key>latitude</key>
		<real>-8.4800000000000004</real>
		<key>longitude</key>
		<real>-74.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3695844</string>
		<key>latitude</key>
		<real>-5.2300000000000004</real>
		<key>longitude</key>
		<real>-75.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663495</string>
		<key>latitude</key>
		<real>-8.8399999999999999</real>
		<key>longitude</key>
		<real>-69.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3690654</string>
		<key>latitude</key>
		<real>-5.9000000000000004</real>
		<key>longitude</key>
		<real>-76.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662252</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>-68.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3695370</string>
		<key>latitude</key>
		<real>-5.8799999999999999</real>
		<key>longitude</key>
		<real>-76.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3698414</string>
		<key>latitude</key>
		<real>-6.5700000000000003</real>
		<key>longitude</key>
		<real>-76.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691474</string>
		<key>latitude</key>
		<real>-6.5</real>
		<key>longitude</key>
		<real>-76.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3693646</string>
		<key>latitude</key>
		<real>-6.9199999999999999</real>
		<key>longitude</key>
		<real>-76.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3694603</string>
		<key>latitude</key>
		<real>-6.4699999999999998</real>
		<key>longitude</key>
		<real>-76.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662155</string>
		<key>latitude</key>
		<real>-9.0700000000000003</real>
		<key>longitude</key>
		<real>-68.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3695757</string>
		<key>latitude</key>
		<real>-6.4199999999999999</real>
		<key>longitude</key>
		<real>-76.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3699831</string>
		<key>latitude</key>
		<real>-9.0399999999999991</real>
		<key>longitude</key>
		<real>-75.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7543962</string>
		<key>latitude</key>
		<real>-7.0599999999999996</real>
		<key>longitude</key>
		<real>-76.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691638</string>
		<key>latitude</key>
		<real>-6.3499999999999996</real>
		<key>longitude</key>
		<real>-76.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3699364</string>
		<key>latitude</key>
		<real>-7.0599999999999996</real>
		<key>longitude</key>
		<real>-76.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3692464</string>
		<key>latitude</key>
		<real>-6.6200000000000001</real>
		<key>longitude</key>
		<real>-76.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3699427</string>
		<key>latitude</key>
		<real>-4.8300000000000001</real>
		<key>longitude</key>
		<real>-76.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3692029</string>
		<key>latitude</key>
		<real>-6.9299999999999997</real>
		<key>longitude</key>
		<real>-76.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696057</string>
		<key>latitude</key>
		<real>-7.1799999999999997</real>
		<key>longitude</key>
		<real>-76.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7544153</string>
		<key>latitude</key>
		<real>-7.1900000000000004</real>
		<key>longitude</key>
		<real>-76.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3692385</string>
		<key>latitude</key>
		<real>-7</real>
		<key>longitude</key>
		<real>-76.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696096</string>
		<key>latitude</key>
		<real>-6.1200000000000001</real>
		<key>longitude</key>
		<real>-76.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696267</string>
		<key>latitude</key>
		<real>-7.2800000000000002</real>
		<key>longitude</key>
		<real>-76.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3694564</string>
		<key>latitude</key>
		<real>-6.0499999999999998</real>
		<key>longitude</key>
		<real>-76.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6267363</string>
		<key>latitude</key>
		<real>-6</real>
		<key>longitude</key>
		<real>-76.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662395</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-67.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691324</string>
		<key>latitude</key>
		<real>-8.1799999999999997</real>
		<key>longitude</key>
		<real>-76.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3689982</string>
		<key>latitude</key>
		<real>-1.01972</real>
		<key>longitude</key>
		<real>-71.938332000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6672528</string>
		<key>latitude</key>
		<real>-8.9499999999999993</real>
		<key>longitude</key>
		<real>-76.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691094</string>
		<key>latitude</key>
		<real>-8.4600000000000009</real>
		<key>longitude</key>
		<real>-76.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691712</string>
		<key>latitude</key>
		<real>-6.1399999999999997</real>
		<key>longitude</key>
		<real>-77.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6659400</string>
		<key>latitude</key>
		<real>-9.2799999999999994</real>
		<key>longitude</key>
		<real>-75.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3692863</string>
		<key>latitude</key>
		<real>-6.0599999999999996</real>
		<key>longitude</key>
		<real>-77.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3691348</string>
		<key>latitude</key>
		<real>-9.2899999999999991</real>
		<key>longitude</key>
		<real>-76.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696416</string>
		<key>latitude</key>
		<real>-9.5</real>
		<key>longitude</key>
		<real>-75.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665314</string>
		<key>latitude</key>
		<real>-8.3300000000000001</real>
		<key>longitude</key>
		<real>-67.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664659</string>
		<key>latitude</key>
		<real>-4.8799999999999999</real>
		<key>longitude</key>
		<real>-66.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661894</string>
		<key>latitude</key>
		<real>-2.8730600000000002</real>
		<key>longitude</key>
		<real>-67.802222999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662927</string>
		<key>latitude</key>
		<real>-7.71</real>
		<key>longitude</key>
		<real>-66.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664956</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>-67.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3932834</string>
		<key>latitude</key>
		<real>-10.5</real>
		<key>longitude</key>
		<real>-75.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664502</string>
		<key>latitude</key>
		<real>-4.5999999999999996</real>
		<key>longitude</key>
		<real>-66.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3731287</string>
		<key>latitude</key>
		<real>-9.8699999999999992</real>
		<key>longitude</key>
		<real>-67.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3932488</string>
		<key>latitude</key>
		<real>-10</real>
		<key>longitude</key>
		<real>-76</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6670027</string>
		<key>latitude</key>
		<real>-9.8699999999999992</real>
		<key>longitude</key>
		<real>-76.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3933874</string>
		<key>latitude</key>
		<real>-10.58</real>
		<key>longitude</key>
		<real>-75.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662784</string>
		<key>latitude</key>
		<real>-9.5899999999999999</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6670303</string>
		<key>latitude</key>
		<real>-9.9100000000000001</real>
		<key>longitude</key>
		<real>-76.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3926120</string>
		<key>latitude</key>
		<real>-10.74</real>
		<key>longitude</key>
		<real>-75.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662574</string>
		<key>latitude</key>
		<real>-9.9700000000000006</real>
		<key>longitude</key>
		<real>-67.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696417</string>
		<key>latitude</key>
		<real>-9.9299999999999997</real>
		<key>longitude</key>
		<real>-76.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924674</string>
		<key>latitude</key>
		<real>-10.65</real>
		<key>longitude</key>
		<real>-68.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924887</string>
		<key>latitude</key>
		<real>-10.119999999999999</real>
		<key>longitude</key>
		<real>-67.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3695320</string>
		<key>latitude</key>
		<real>-9.4199999999999999</real>
		<key>longitude</key>
		<real>-76.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3947956</string>
		<key>latitude</key>
		<real>-10.130000000000001</real>
		<key>longitude</key>
		<real>-76.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3938531</string>
		<key>latitude</key>
		<real>-11.35</real>
		<key>longitude</key>
		<real>-69.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3928924</string>
		<key>latitude</key>
		<real>-11.25</real>
		<key>longitude</key>
		<real>-74.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3935102</string>
		<key>latitude</key>
		<real>-11.33</real>
		<key>longitude</key>
		<real>-74.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6303009</string>
		<key>latitude</key>
		<real>-11.26</real>
		<key>longitude</key>
		<real>-74.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3932502</string>
		<key>latitude</key>
		<real>-10.949999999999999</real>
		<key>longitude</key>
		<real>-75.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924752</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>-67.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919998</string>
		<key>latitude</key>
		<real>-11.029999999999999</real>
		<key>longitude</key>
		<real>-68.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925227</string>
		<key>latitude</key>
		<real>-11.02</real>
		<key>longitude</key>
		<real>-68.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3690733</string>
		<key>latitude</key>
		<real>-8.9800000000000004</real>
		<key>longitude</key>
		<real>-77.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3929314</string>
		<key>latitude</key>
		<real>-11.119999999999999</real>
		<key>longitude</key>
		<real>-75.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3695465</string>
		<key>latitude</key>
		<real>-9.8300000000000001</real>
		<key>longitude</key>
		<real>-76.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3929389</string>
		<key>latitude</key>
		<real>-10.1</real>
		<key>longitude</key>
		<real>-76.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3693468</string>
		<key>latitude</key>
		<real>-8.8300000000000001</real>
		<key>longitude</key>
		<real>-77.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696372</string>
		<key>latitude</key>
		<real>-9.3300000000000001</real>
		<key>longitude</key>
		<real>-77.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3937485</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>-75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925863</string>
		<key>latitude</key>
		<real>-10.24</real>
		<key>longitude</key>
		<real>-76.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3654825</string>
		<key>latitude</key>
		<real>-0.76666999999999996</real>
		<key>longitude</key>
		<real>-75.516670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3944179</string>
		<key>latitude</key>
		<real>-10.43</real>
		<key>longitude</key>
		<real>-76.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3944797</string>
		<key>latitude</key>
		<real>-10.68</real>
		<key>longitude</key>
		<real>-76.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3945466</string>
		<key>latitude</key>
		<real>-10.92</real>
		<key>longitude</key>
		<real>-76.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925809</string>
		<key>latitude</key>
		<real>-10.52</real>
		<key>longitude</key>
		<real>-76.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927420</string>
		<key>latitude</key>
		<real>-10.75</real>
		<key>longitude</key>
		<real>-76.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3939123</string>
		<key>latitude</key>
		<real>-11.32</real>
		<key>longitude</key>
		<real>-75.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3653392</string>
		<key>latitude</key>
		<real>-1.9199999999999999</real>
		<key>longitude</key>
		<real>-77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924895</string>
		<key>latitude</key>
		<real>-10.34</real>
		<key>longitude</key>
		<real>-67.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3698814</string>
		<key>latitude</key>
		<real>-9.2799999999999994</real>
		<key>longitude</key>
		<real>-77.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6380342</string>
		<key>latitude</key>
		<real>-9.3499999999999996</real>
		<key>longitude</key>
		<real>-77.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3929335</string>
		<key>latitude</key>
		<real>-11.25</real>
		<key>longitude</key>
		<real>-75.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3937486</string>
		<key>latitude</key>
		<real>-11.16</real>
		<key>longitude</key>
		<real>-75.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3696378</string>
		<key>latitude</key>
		<real>-9.5299999999999994</real>
		<key>longitude</key>
		<real>-77.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927758</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>-75.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3933867</string>
		<key>latitude</key>
		<real>-10.67</real>
		<key>longitude</key>
		<real>-76.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3936952</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-75.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3658394</string>
		<key>latitude</key>
		<real>-2</real>
		<key>longitude</key>
		<real>-77.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908600</string>
		<key>latitude</key>
		<real>-11.33</real>
		<key>longitude</key>
		<real>-67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3830306</string>
		<key>latitude</key>
		<real>-0.75</real>
		<key>longitude</key>
		<real>-76.416672000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3934586</string>
		<key>latitude</key>
		<real>-11.6</real>
		<key>longitude</key>
		<real>-76.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6664186</string>
		<key>latitude</key>
		<real>-10.41</real>
		<key>longitude</key>
		<real>-77.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3928867</string>
		<key>latitude</key>
		<real>-11.140000000000001</real>
		<key>longitude</key>
		<real>-77.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3660152</string>
		<key>latitude</key>
		<real>-0.71999999999999997</real>
		<key>longitude</key>
		<real>-77.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3652743</string>
		<key>latitude</key>
		<real>-0.46666999999999997</real>
		<key>longitude</key>
		<real>-76.966667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3926328</string>
		<key>latitude</key>
		<real>-11.02</real>
		<key>longitude</key>
		<real>-77.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3939023</string>
		<key>latitude</key>
		<real>-11.07</real>
		<key>longitude</key>
		<real>-77.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6254818</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-77.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3939285</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>-77.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3939761</string>
		<key>latitude</key>
		<real>-11.1</real>
		<key>longitude</key>
		<real>-77.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3940002</string>
		<key>latitude</key>
		<real>-11.109999999999999</real>
		<key>longitude</key>
		<real>-77.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3946147</string>
		<key>latitude</key>
		<real>-11.09</real>
		<key>longitude</key>
		<real>-77.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6254790</string>
		<key>latitude</key>
		<real>-11.56</real>
		<key>longitude</key>
		<real>-77.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3944399</string>
		<key>latitude</key>
		<real>-11.57</real>
		<key>longitude</key>
		<real>-77.269999999999996</real>
	</dict>
</array>
</plist>
