<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3652694</string>
		<key>latitude</key>
		<real>-0.95542000000000005</real>
		<key>longitude</key>
		<real>-90.966537000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3657879</string>
		<key>latitude</key>
		<real>-0.67015000000000002</real>
		<key>longitude</key>
		<real>-90.873412999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3652764</string>
		<key>latitude</key>
		<real>-0.73931000000000002</real>
		<key>longitude</key>
		<real>-90.351760999999996</real>
	</dict>
</array>
</plist>
