<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3664716</string>
		<key>latitude</key>
		<real>-6.5300000000000002</real>
		<key>longitude</key>
		<real>-64.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665361</string>
		<key>latitude</key>
		<real>-5</real>
		<key>longitude</key>
		<real>-63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663684</string>
		<key>latitude</key>
		<real>-7.2599999999999998</real>
		<key>longitude</key>
		<real>-64.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664078</string>
		<key>latitude</key>
		<real>-7.5099999999999998</real>
		<key>longitude</key>
		<real>-63.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664539</string>
		<key>latitude</key>
		<real>-4.0899999999999999</real>
		<key>longitude</key>
		<real>-63.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663503</string>
		<key>latitude</key>
		<real>-5.8099999999999996</real>
		<key>longitude</key>
		<real>-61.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661944</string>
		<key>latitude</key>
		<real>-3.3500000000000001</real>
		<key>longitude</key>
		<real>-64.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662762</string>
		<key>latitude</key>
		<real>-8.7599999999999998</real>
		<key>longitude</key>
		<real>-63.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665380</string>
		<key>latitude</key>
		<real>-3.2208299999999999</real>
		<key>longitude</key>
		<real>-64.804169000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664525</string>
		<key>latitude</key>
		<real>-3.8399999999999999</real>
		<key>longitude</key>
		<real>-62.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664502</string>
		<key>latitude</key>
		<real>-4.5999999999999996</real>
		<key>longitude</key>
		<real>-66.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664659</string>
		<key>latitude</key>
		<real>-4.8799999999999999</real>
		<key>longitude</key>
		<real>-66.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661756</string>
		<key>latitude</key>
		<real>-2.9900000000000002</real>
		<key>longitude</key>
		<real>-65.108329999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665315</string>
		<key>latitude</key>
		<real>-3.77</real>
		<key>longitude</key>
		<real>-61.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665014</string>
		<key>latitude</key>
		<real>-3.8999999999999999</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662927</string>
		<key>latitude</key>
		<real>-7.71</real>
		<key>longitude</key>
		<real>-66.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665348</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663142</string>
		<key>latitude</key>
		<real>-5.1200000000000001</real>
		<key>longitude</key>
		<real>-60.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665199</string>
		<key>latitude</key>
		<real>-9.9100000000000001</real>
		<key>longitude</key>
		<real>-63.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665314</string>
		<key>latitude</key>
		<real>-8.3300000000000001</real>
		<key>longitude</key>
		<real>-67.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664207</string>
		<key>latitude</key>
		<real>-2.51389</real>
		<key>longitude</key>
		<real>-66.091667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6319315</string>
		<key>latitude</key>
		<real>-2.4959099999999999</real>
		<key>longitude</key>
		<real>-66.266227999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663529</string>
		<key>latitude</key>
		<real>-3.2999999999999998</real>
		<key>longitude</key>
		<real>-60.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664956</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>-67.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663475</string>
		<key>latitude</key>
		<real>-1.8333299999999999</real>
		<key>longitude</key>
		<real>-65.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969378</string>
		<key>latitude</key>
		<real>-10.34</real>
		<key>longitude</key>
		<real>-62.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663524</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>-60.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663145</string>
		<key>latitude</key>
		<real>-2.6213899999999999</real>
		<key>longitude</key>
		<real>-60.944172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665202</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-60.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736808</string>
		<key>latitude</key>
		<real>-3.2799999999999998</real>
		<key>longitude</key>
		<real>-60.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405051</string>
		<key>latitude</key>
		<real>-4.3899999999999997</real>
		<key>longitude</key>
		<real>-59.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925040</string>
		<key>latitude</key>
		<real>-10.44</real>
		<key>longitude</key>
		<real>-62.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969388</string>
		<key>latitude</key>
		<real>-10.449999999999999</real>
		<key>longitude</key>
		<real>-62.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754145</string>
		<key>latitude</key>
		<real>-3.1699999999999999</real>
		<key>longitude</key>
		<real>-60.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662395</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-67.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754135</string>
		<key>latitude</key>
		<real>-3.1400000000000001</real>
		<key>longitude</key>
		<real>-60.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663517</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-60.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754131</string>
		<key>latitude</key>
		<real>-3.1099999999999999</real>
		<key>longitude</key>
		<real>-60.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969406</string>
		<key>latitude</key>
		<real>-10.619999999999999</real>
		<key>longitude</key>
		<real>-62.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661894</string>
		<key>latitude</key>
		<real>-2.8730600000000002</real>
		<key>longitude</key>
		<real>-67.802222999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754114</string>
		<key>latitude</key>
		<real>-3.0647199999999999</real>
		<key>longitude</key>
		<real>-60.013610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663693</string>
		<key>latitude</key>
		<real>-5.1799999999999997</real>
		<key>longitude</key>
		<real>-68.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925076</string>
		<key>latitude</key>
		<real>-10.77</real>
		<key>longitude</key>
		<real>-65.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925075</string>
		<key>latitude</key>
		<real>-10.779999999999999</real>
		<key>longitude</key>
		<real>-65.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925000</string>
		<key>latitude</key>
		<real>-10.82</real>
		<key>longitude</key>
		<real>-65.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662784</string>
		<key>latitude</key>
		<real>-9.5899999999999999</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3915350</string>
		<key>latitude</key>
		<real>-10.84</real>
		<key>longitude</key>
		<real>-65.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402920</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-59.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924948</string>
		<key>latitude</key>
		<real>-10.75</real>
		<key>longitude</key>
		<real>-62.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924825</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>-63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663186</string>
		<key>latitude</key>
		<real>-0.98333000000000004</real>
		<key>longitude</key>
		<real>-62.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665098</string>
		<key>latitude</key>
		<real>-0.97472000000000003</real>
		<key>longitude</key>
		<real>-62.924171000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969415</string>
		<key>latitude</key>
		<real>-10.92</real>
		<key>longitude</key>
		<real>-62.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924826</string>
		<key>latitude</key>
		<real>-10.869999999999999</real>
		<key>longitude</key>
		<real>-61.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393838</string>
		<key>latitude</key>
		<real>-3.8900000000000001</real>
		<key>longitude</key>
		<real>-59.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924895</string>
		<key>latitude</key>
		<real>-10.34</real>
		<key>longitude</key>
		<real>-67.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906466</string>
		<key>latitude</key>
		<real>-10.98</real>
		<key>longitude</key>
		<real>-66.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6318165</string>
		<key>latitude</key>
		<real>-2.6994400000000001</real>
		<key>longitude</key>
		<real>-59.699717999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665430</string>
		<key>latitude</key>
		<real>-6.5</real>
		<key>longitude</key>
		<real>-69.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406948</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-59.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3731287</string>
		<key>latitude</key>
		<real>-9.8699999999999992</real>
		<key>longitude</key>
		<real>-67.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662574</string>
		<key>latitude</key>
		<real>-9.9700000000000006</real>
		<key>longitude</key>
		<real>-67.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662252</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>-68.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662155</string>
		<key>latitude</key>
		<real>-9.0700000000000003</real>
		<key>longitude</key>
		<real>-68.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924752</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>-67.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924872</string>
		<key>latitude</key>
		<real>-11.18</real>
		<key>longitude</key>
		<real>-61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924887</string>
		<key>latitude</key>
		<real>-10.119999999999999</real>
		<key>longitude</key>
		<real>-67.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736812</string>
		<key>latitude</key>
		<real>-2.03444</real>
		<key>longitude</key>
		<real>-60.025002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662489</string>
		<key>latitude</key>
		<real>-0.41388999999999998</real>
		<key>longitude</key>
		<real>-65.019172999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924753</string>
		<key>latitude</key>
		<real>-11.300000000000001</real>
		<key>longitude</key>
		<real>-61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663495</string>
		<key>latitude</key>
		<real>-8.8399999999999999</real>
		<key>longitude</key>
		<real>-69.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925212</string>
		<key>latitude</key>
		<real>-11.44</real>
		<key>longitude</key>
		<real>-61.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924676</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397893</string>
		<key>latitude</key>
		<real>-3.1430600000000002</real>
		<key>longitude</key>
		<real>-58.444172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925118</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924908</string>
		<key>latitude</key>
		<real>-11.67</real>
		<key>longitude</key>
		<real>-61.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924674</string>
		<key>latitude</key>
		<real>-10.65</real>
		<key>longitude</key>
		<real>-68.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908600</string>
		<key>latitude</key>
		<real>-11.33</real>
		<key>longitude</key>
		<real>-67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925227</string>
		<key>latitude</key>
		<real>-11.02</real>
		<key>longitude</key>
		<real>-68.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919998</string>
		<key>latitude</key>
		<real>-11.029999999999999</real>
		<key>longitude</key>
		<real>-68.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3938531</string>
		<key>latitude</key>
		<real>-11.35</real>
		<key>longitude</key>
		<real>-69.579999999999998</real>
	</dict>
</array>
</plist>
