<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3402916</string>
		<key>latitude</key>
		<real>-6.2300000000000004</real>
		<key>longitude</key>
		<real>-57.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397967</string>
		<key>latitude</key>
		<real>-4.2800000000000002</real>
		<key>longitude</key>
		<real>-55.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397763</string>
		<key>latitude</key>
		<real>-6.2199999999999998</real>
		<key>longitude</key>
		<real>-57.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395062</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>-57.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404478</string>
		<key>latitude</key>
		<real>-8.9499999999999993</real>
		<key>longitude</key>
		<real>-54.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405825</string>
		<key>latitude</key>
		<real>-5.2999999999999998</real>
		<key>longitude</key>
		<real>-52.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406202</string>
		<key>latitude</key>
		<real>-2.79</real>
		<key>longitude</key>
		<real>-57.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393008</string>
		<key>latitude</key>
		<real>-2.6283300000000001</real>
		<key>longitude</key>
		<real>-56.735827999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398612</string>
		<key>latitude</key>
		<real>-2.9700000000000002</real>
		<key>longitude</key>
		<real>-57.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405806</string>
		<key>latitude</key>
		<real>-2.6400000000000001</real>
		<key>longitude</key>
		<real>-54.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393129</string>
		<key>latitude</key>
		<real>-4</real>
		<key>longitude</key>
		<real>-53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385645</string>
		<key>latitude</key>
		<real>-2.6833300000000002</real>
		<key>longitude</key>
		<real>-57.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393838</string>
		<key>latitude</key>
		<real>-3.8900000000000001</real>
		<key>longitude</key>
		<real>-59.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397893</string>
		<key>latitude</key>
		<real>-3.1430600000000002</real>
		<key>longitude</key>
		<real>-58.444172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401193</string>
		<key>latitude</key>
		<real>-2.2719399999999998</real>
		<key>longitude</key>
		<real>-55.475830000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389353</string>
		<key>latitude</key>
		<real>-2.44306</real>
		<key>longitude</key>
		<real>-54.708328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396979</string>
		<key>latitude</key>
		<real>-2.1522199999999998</real>
		<key>longitude</key>
		<real>-56.092219999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393929</string>
		<key>latitude</key>
		<real>-2.1861100000000002</real>
		<key>longitude</key>
		<real>-56.713057999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6316343</string>
		<key>latitude</key>
		<real>-9.8800000000000008</real>
		<key>longitude</key>
		<real>-56.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385670</string>
		<key>latitude</key>
		<real>-2.5363899999999999</real>
		<key>longitude</key>
		<real>-57.759998000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405051</string>
		<key>latitude</key>
		<real>-4.3899999999999997</real>
		<key>longitude</key>
		<real>-59.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386467</string>
		<key>latitude</key>
		<real>-2.1041699999999999</real>
		<key>longitude</key>
		<real>-56.486938000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406948</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-59.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6323793</string>
		<key>latitude</key>
		<real>-10.02</real>
		<key>longitude</key>
		<real>-56.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3388847</string>
		<key>latitude</key>
		<real>-6.6399999999999997</real>
		<key>longitude</key>
		<real>-51.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393768</string>
		<key>latitude</key>
		<real>-1.9175</real>
		<key>longitude</key>
		<real>-55.518059000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3469034</string>
		<key>latitude</key>
		<real>-10</real>
		<key>longitude</key>
		<real>-55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401225</string>
		<key>latitude</key>
		<real>-1.85083</real>
		<key>longitude</key>
		<real>-56.243609999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393471</string>
		<key>latitude</key>
		<real>-1.76556</real>
		<key>longitude</key>
		<real>-55.866112000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407980</string>
		<key>latitude</key>
		<real>-1.94167</real>
		<key>longitude</key>
		<real>-54.738331000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394605</string>
		<key>latitude</key>
		<real>-2.0077799999999999</real>
		<key>longitude</key>
		<real>-54.069172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663142</string>
		<key>latitude</key>
		<real>-5.1200000000000001</real>
		<key>longitude</key>
		<real>-60.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407882</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-52.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402920</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-59.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391287</string>
		<key>latitude</key>
		<real>-1.8</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754135</string>
		<key>latitude</key>
		<real>-3.1400000000000001</real>
		<key>longitude</key>
		<real>-60.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754131</string>
		<key>latitude</key>
		<real>-3.1099999999999999</real>
		<key>longitude</key>
		<real>-60.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6318165</string>
		<key>latitude</key>
		<real>-2.6994400000000001</real>
		<key>longitude</key>
		<real>-59.699717999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663517</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-60.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754145</string>
		<key>latitude</key>
		<real>-3.1699999999999999</real>
		<key>longitude</key>
		<real>-60.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754114</string>
		<key>latitude</key>
		<real>-3.0647199999999999</real>
		<key>longitude</key>
		<real>-60.013610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736808</string>
		<key>latitude</key>
		<real>-3.2799999999999998</real>
		<key>longitude</key>
		<real>-60.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663524</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>-60.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663503</string>
		<key>latitude</key>
		<real>-5.8099999999999996</real>
		<key>longitude</key>
		<real>-61.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387928</string>
		<key>latitude</key>
		<real>-2.5899999999999999</real>
		<key>longitude</key>
		<real>-51.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663529</string>
		<key>latitude</key>
		<real>-3.2999999999999998</real>
		<key>longitude</key>
		<real>-60.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665202</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-60.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407903</string>
		<key>latitude</key>
		<real>-1.5233300000000001</real>
		<key>longitude</key>
		<real>-52.581668999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736812</string>
		<key>latitude</key>
		<real>-2.03444</real>
		<key>longitude</key>
		<real>-60.025002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391387</string>
		<key>latitude</key>
		<real>-1.7483299999999999</real>
		<key>longitude</key>
		<real>-52.238331000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665014</string>
		<key>latitude</key>
		<real>-3.8999999999999999</real>
		<key>longitude</key>
		<real>-61.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665348</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663145</string>
		<key>latitude</key>
		<real>-2.6213899999999999</real>
		<key>longitude</key>
		<real>-60.944172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397843</string>
		<key>latitude</key>
		<real>-1.3666700000000001</real>
		<key>longitude</key>
		<real>-52.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665315</string>
		<key>latitude</key>
		<real>-3.77</real>
		<key>longitude</key>
		<real>-61.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394561</string>
		<key>latitude</key>
		<real>-0.86667000000000005</real>
		<key>longitude</key>
		<real>-52.528331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398480</string>
		<key>latitude</key>
		<real>-1.405</real>
		<key>longitude</key>
		<real>-51.639999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391412</string>
		<key>latitude</key>
		<real>-1.9399999999999999</real>
		<key>longitude</key>
		<real>-50.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404817</string>
		<key>latitude</key>
		<real>-1.68222</real>
		<key>longitude</key>
		<real>-50.480282000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925118</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924908</string>
		<key>latitude</key>
		<real>-11.67</real>
		<key>longitude</key>
		<real>-61.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925212</string>
		<key>latitude</key>
		<real>-11.44</real>
		<key>longitude</key>
		<real>-61.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924676</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
</array>
</plist>
