<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3915491</string>
		<key>latitude</key>
		<real>-13.279999999999999</real>
		<key>longitude</key>
		<real>-64.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905088</string>
		<key>latitude</key>
		<real>-13.279999999999999</real>
		<key>longitude</key>
		<real>-64.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901869</string>
		<key>latitude</key>
		<real>-14.82</real>
		<key>longitude</key>
		<real>-64.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902377</string>
		<key>latitude</key>
		<real>-14.83</real>
		<key>longitude</key>
		<real>-64.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909011</string>
		<key>latitude</key>
		<real>-13.07</real>
		<key>longitude</key>
		<real>-64.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905007</string>
		<key>latitude</key>
		<real>-13.75</real>
		<key>longitude</key>
		<real>-65.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923172</string>
		<key>latitude</key>
		<real>-14</real>
		<key>longitude</key>
		<real>-65.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925158</string>
		<key>latitude</key>
		<real>-12.449999999999999</real>
		<key>longitude</key>
		<real>-64.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901969</string>
		<key>latitude</key>
		<real>-15.380000000000001</real>
		<key>longitude</key>
		<real>-62.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908528</string>
		<key>latitude</key>
		<real>-14.970000000000001</real>
		<key>longitude</key>
		<real>-65.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924877</string>
		<key>latitude</key>
		<real>-13.08</real>
		<key>longitude</key>
		<real>-62.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923644</string>
		<key>latitude</key>
		<real>-15.699999999999999</real>
		<key>longitude</key>
		<real>-63.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3918423</string>
		<key>latitude</key>
		<real>-16.23</real>
		<key>longitude</key>
		<real>-62.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904793</string>
		<key>latitude</key>
		<real>-14.17</real>
		<key>longitude</key>
		<real>-66.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3920245</string>
		<key>latitude</key>
		<real>-14.880000000000001</real>
		<key>longitude</key>
		<real>-66.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969433</string>
		<key>latitude</key>
		<real>-12.130000000000001</real>
		<key>longitude</key>
		<real>-61.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919353</string>
		<key>latitude</key>
		<real>-16.129999999999999</real>
		<key>longitude</key>
		<real>-62.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905792</string>
		<key>latitude</key>
		<real>-14.82</real>
		<key>longitude</key>
		<real>-66.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923057</string>
		<key>latitude</key>
		<real>-17</real>
		<key>longitude</key>
		<real>-65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924825</string>
		<key>latitude</key>
		<real>-11</real>
		<key>longitude</key>
		<real>-63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3920736</string>
		<key>latitude</key>
		<real>-16.98</real>
		<key>longitude</key>
		<real>-65.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910343</string>
		<key>latitude</key>
		<real>-17.120000000000001</real>
		<key>longitude</key>
		<real>-63.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906478</string>
		<key>latitude</key>
		<real>-14.32</real>
		<key>longitude</key>
		<real>-67.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924753</string>
		<key>latitude</key>
		<real>-11.300000000000001</real>
		<key>longitude</key>
		<real>-61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907646</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>-63.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901504</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>-63.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910027</string>
		<key>latitude</key>
		<real>-17.329999999999998</real>
		<key>longitude</key>
		<real>-63.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905775</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>-63.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909360</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>-62.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3915350</string>
		<key>latitude</key>
		<real>-10.84</real>
		<key>longitude</key>
		<real>-65.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925000</string>
		<key>latitude</key>
		<real>-10.82</real>
		<key>longitude</key>
		<real>-65.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908387</string>
		<key>latitude</key>
		<real>-14.43</real>
		<key>longitude</key>
		<real>-67.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906209</string>
		<key>latitude</key>
		<real>-14.44</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3922965</string>
		<key>latitude</key>
		<real>-17.449999999999999</real>
		<key>longitude</key>
		<real>-63.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925075</string>
		<key>latitude</key>
		<real>-10.779999999999999</real>
		<key>longitude</key>
		<real>-65.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924872</string>
		<key>latitude</key>
		<real>-11.18</real>
		<key>longitude</key>
		<real>-61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905462</string>
		<key>latitude</key>
		<real>-17.48</real>
		<key>longitude</key>
		<real>-63.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925076</string>
		<key>latitude</key>
		<real>-10.77</real>
		<key>longitude</key>
		<real>-65.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924676</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969415</string>
		<key>latitude</key>
		<real>-10.92</real>
		<key>longitude</key>
		<real>-62.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925212</string>
		<key>latitude</key>
		<real>-11.44</real>
		<key>longitude</key>
		<real>-61.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901301</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-63.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3921237</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-63.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924908</string>
		<key>latitude</key>
		<real>-11.67</real>
		<key>longitude</key>
		<real>-61.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3912418</string>
		<key>latitude</key>
		<real>-17.550000000000001</real>
		<key>longitude</key>
		<real>-63.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906466</string>
		<key>latitude</key>
		<real>-10.98</real>
		<key>longitude</key>
		<real>-66.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924948</string>
		<key>latitude</key>
		<real>-10.75</real>
		<key>longitude</key>
		<real>-62.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924826</string>
		<key>latitude</key>
		<real>-10.869999999999999</real>
		<key>longitude</key>
		<real>-61.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901409</string>
		<key>latitude</key>
		<real>-17.649999999999999</real>
		<key>longitude</key>
		<real>-63.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969406</string>
		<key>latitude</key>
		<real>-10.619999999999999</real>
		<key>longitude</key>
		<real>-62.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911120</string>
		<key>latitude</key>
		<real>-17.73</real>
		<key>longitude</key>
		<real>-63.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905658</string>
		<key>latitude</key>
		<real>-16.370000000000001</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919413</string>
		<key>latitude</key>
		<real>-16.379999999999999</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908895</string>
		<key>latitude</key>
		<real>-17.699999999999999</real>
		<key>longitude</key>
		<real>-64.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919813</string>
		<key>latitude</key>
		<real>-17.350000000000001</real>
		<key>longitude</key>
		<real>-65.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969378</string>
		<key>latitude</key>
		<real>-10.34</real>
		<key>longitude</key>
		<real>-62.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925118</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907159</string>
		<key>latitude</key>
		<real>-17.649999999999999</real>
		<key>longitude</key>
		<real>-62.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909010</string>
		<key>latitude</key>
		<real>-17.649999999999999</real>
		<key>longitude</key>
		<real>-62.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919966</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-65.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919352</string>
		<key>latitude</key>
		<real>-16.43</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925040</string>
		<key>latitude</key>
		<real>-10.44</real>
		<key>longitude</key>
		<real>-62.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3912423</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>-62.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3922037</string>
		<key>latitude</key>
		<real>-15.82</real>
		<key>longitude</key>
		<real>-67.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7020913</string>
		<key>latitude</key>
		<real>-17.800000000000001</real>
		<key>longitude</key>
		<real>-63.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904906</string>
		<key>latitude</key>
		<real>-17.800000000000001</real>
		<key>longitude</key>
		<real>-63.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905813</string>
		<key>latitude</key>
		<real>-17.800000000000001</real>
		<key>longitude</key>
		<real>-63.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902523</string>
		<key>latitude</key>
		<real>-17.73</real>
		<key>longitude</key>
		<real>-65.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906194</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>-66.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3918313</string>
		<key>latitude</key>
		<real>-17.850000000000001</real>
		<key>longitude</key>
		<real>-63.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911642</string>
		<key>latitude</key>
		<real>-17.52</real>
		<key>longitude</key>
		<real>-65.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919703</string>
		<key>latitude</key>
		<real>-17.899999999999999</real>
		<key>longitude</key>
		<real>-64.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3918937</string>
		<key>latitude</key>
		<real>-17.82</real>
		<key>longitude</key>
		<real>-63.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905453</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>-62.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924679</string>
		<key>latitude</key>
		<real>-12.74</real>
		<key>longitude</key>
		<real>-60.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923770</string>
		<key>latitude</key>
		<real>-17.57</real>
		<key>longitude</key>
		<real>-65.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7010403</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>-66.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907080</string>
		<key>latitude</key>
		<real>-17.550000000000001</real>
		<key>longitude</key>
		<real>-65.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919968</string>
		<key>latitude</key>
		<real>-17.390000000000001</real>
		<key>longitude</key>
		<real>-66.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474495</string>
		<key>latitude</key>
		<real>-13.65</real>
		<key>longitude</key>
		<real>-59.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969388</string>
		<key>latitude</key>
		<real>-10.449999999999999</real>
		<key>longitude</key>
		<real>-62.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919543</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>-66.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904809</string>
		<key>latitude</key>
		<real>-17.969999999999999</real>
		<key>longitude</key>
		<real>-63.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907366</string>
		<key>latitude</key>
		<real>-17.43</real>
		<key>longitude</key>
		<real>-66.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904666</string>
		<key>latitude</key>
		<real>-17.98</real>
		<key>longitude</key>
		<real>-63.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906791</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>-66.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3920016</string>
		<key>latitude</key>
		<real>-17.600000000000001</real>
		<key>longitude</key>
		<real>-65.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911512</string>
		<key>latitude</key>
		<real>-18.02</real>
		<key>longitude</key>
		<real>-63.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3913271</string>
		<key>latitude</key>
		<real>-18.050000000000001</real>
		<key>longitude</key>
		<real>-63.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474501</string>
		<key>latitude</key>
		<real>-13.66</real>
		<key>longitude</key>
		<real>-59.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3903342</string>
		<key>latitude</key>
		<real>-17.620000000000001</real>
		<key>longitude</key>
		<real>-66.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910901</string>
		<key>latitude</key>
		<real>-18.120000000000001</real>
		<key>longitude</key>
		<real>-63.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904221</string>
		<key>latitude</key>
		<real>-17.449999999999999</real>
		<key>longitude</key>
		<real>-66.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910291</string>
		<key>latitude</key>
		<real>-17.940000000000001</real>
		<key>longitude</key>
		<real>-65.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911924</string>
		<key>latitude</key>
		<real>-15.5</real>
		<key>longitude</key>
		<real>-68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905951</string>
		<key>latitude</key>
		<real>-18.149999999999999</real>
		<key>longitude</key>
		<real>-63.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919097</string>
		<key>latitude</key>
		<real>-16.300000000000001</real>
		<key>longitude</key>
		<real>-67.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3920244</string>
		<key>latitude</key>
		<real>-16.41</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665199</string>
		<key>latitude</key>
		<real>-9.9100000000000001</real>
		<key>longitude</key>
		<real>-63.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919085</string>
		<key>latitude</key>
		<real>-16.190000000000001</real>
		<key>longitude</key>
		<real>-67.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910758</string>
		<key>latitude</key>
		<real>-15.25</real>
		<key>longitude</key>
		<real>-68.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919886</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>-66.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904907</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3922125</string>
		<key>latitude</key>
		<real>-17.719999999999999</real>
		<key>longitude</key>
		<real>-66.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906765</string>
		<key>latitude</key>
		<real>-16.98</real>
		<key>longitude</key>
		<real>-67.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914084</string>
		<key>latitude</key>
		<real>-17.719999999999999</real>
		<key>longitude</key>
		<real>-66.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923800</string>
		<key>latitude</key>
		<real>-14.720000000000001</real>
		<key>longitude</key>
		<real>-68.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924341</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>-65.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908600</string>
		<key>latitude</key>
		<real>-11.33</real>
		<key>longitude</key>
		<real>-67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901874</string>
		<key>latitude</key>
		<real>-18.489999999999998</real>
		<key>longitude</key>
		<real>-64.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901485</string>
		<key>latitude</key>
		<real>-16.949999999999999</real>
		<key>longitude</key>
		<real>-67.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919715</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>-67.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3453060</string>
		<key>latitude</key>
		<real>-15.23</real>
		<key>longitude</key>
		<real>-59.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911925</string>
		<key>latitude</key>
		<real>-16.5</real>
		<key>longitude</key>
		<real>-68.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6254880</string>
		<key>latitude</key>
		<real>-16.530000000000001</real>
		<key>longitude</key>
		<real>-68.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910244</string>
		<key>latitude</key>
		<real>-18.760000000000002</real>
		<key>longitude</key>
		<real>-64.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909247</string>
		<key>latitude</key>
		<real>-18.670000000000002</real>
		<key>longitude</key>
		<real>-65.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924895</string>
		<key>latitude</key>
		<real>-10.34</real>
		<key>longitude</key>
		<real>-67.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904043</string>
		<key>latitude</key>
		<real>-15.77</real>
		<key>longitude</key>
		<real>-68.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924668</string>
		<key>latitude</key>
		<real>-18.829999999999998</real>
		<key>longitude</key>
		<real>-63.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621204</string>
		<key>latitude</key>
		<real>-18.82</real>
		<key>longitude</key>
		<real>-64.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621308</string>
		<key>latitude</key>
		<real>-18.82</real>
		<key>longitude</key>
		<real>-64.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3912119</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>-67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621248</string>
		<key>latitude</key>
		<real>-18.760000000000002</real>
		<key>longitude</key>
		<real>-65.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621301</string>
		<key>latitude</key>
		<real>-18.73</real>
		<key>longitude</key>
		<real>-65.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902685</string>
		<key>latitude</key>
		<real>-17.579999999999998</real>
		<key>longitude</key>
		<real>-67.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3920185</string>
		<key>latitude</key>
		<real>-18.82</real>
		<key>longitude</key>
		<real>-65.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923228</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>-64.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907892</string>
		<key>latitude</key>
		<real>-18.75</real>
		<key>longitude</key>
		<real>-65.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621239</string>
		<key>latitude</key>
		<real>-18.760000000000002</real>
		<key>longitude</key>
		<real>-65.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901433</string>
		<key>latitude</key>
		<real>-17.969999999999999</real>
		<key>longitude</key>
		<real>-67.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905542</string>
		<key>latitude</key>
		<real>-17.850000000000001</real>
		<key>longitude</key>
		<real>-60.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924610</string>
		<key>latitude</key>
		<real>-16.050000000000001</real>
		<key>longitude</key>
		<real>-68.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908339</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>-67.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621208</string>
		<key>latitude</key>
		<real>-18.890000000000001</real>
		<key>longitude</key>
		<real>-64.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3900772</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>-64.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909234</string>
		<key>latitude</key>
		<real>-17.98</real>
		<key>longitude</key>
		<real>-67.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907753</string>
		<key>latitude</key>
		<real>-18.829999999999998</real>
		<key>longitude</key>
		<real>-65.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907484</string>
		<key>latitude</key>
		<real>-18.93</real>
		<key>longitude</key>
		<real>-64.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621306</string>
		<key>latitude</key>
		<real>-18.940000000000001</real>
		<key>longitude</key>
		<real>-64.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914715</string>
		<key>latitude</key>
		<real>-16.199999999999999</real>
		<key>longitude</key>
		<real>-68.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910203</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>-65.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621247</string>
		<key>latitude</key>
		<real>-18.91</real>
		<key>longitude</key>
		<real>-65.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621207</string>
		<key>latitude</key>
		<real>-18.859999999999999</real>
		<key>longitude</key>
		<real>-65.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621218</string>
		<key>latitude</key>
		<real>-19.030000000000001</real>
		<key>longitude</key>
		<real>-64.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621211</string>
		<key>latitude</key>
		<real>-18.91</real>
		<key>longitude</key>
		<real>-65.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919720</string>
		<key>latitude</key>
		<real>-18.670000000000002</real>
		<key>longitude</key>
		<real>-66.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914839</string>
		<key>latitude</key>
		<real>-18.27</real>
		<key>longitude</key>
		<real>-66.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910971</string>
		<key>latitude</key>
		<real>-18.170000000000002</real>
		<key>longitude</key>
		<real>-67.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621257</string>
		<key>latitude</key>
		<real>-18.949999999999999</real>
		<key>longitude</key>
		<real>-65.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911409</string>
		<key>latitude</key>
		<real>-18.420000000000002</real>
		<key>longitude</key>
		<real>-66.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901519</string>
		<key>latitude</key>
		<real>-19.120000000000001</real>
		<key>longitude</key>
		<real>-64.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3970031</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>-65.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914720</string>
		<key>latitude</key>
		<real>-19.02</real>
		<key>longitude</key>
		<real>-65.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905206</string>
		<key>latitude</key>
		<real>-16.219999999999999</real>
		<key>longitude</key>
		<real>-68.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3903987</string>
		<key>latitude</key>
		<real>-19.030000000000001</real>
		<key>longitude</key>
		<real>-65.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621302</string>
		<key>latitude</key>
		<real>-18.989999999999998</real>
		<key>longitude</key>
		<real>-65.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905159</string>
		<key>latitude</key>
		<real>-16.239999999999998</real>
		<key>longitude</key>
		<real>-68.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3918049</string>
		<key>latitude</key>
		<real>-19.050000000000001</real>
		<key>longitude</key>
		<real>-65.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927942</string>
		<key>latitude</key>
		<real>-12.73</real>
		<key>longitude</key>
		<real>-69.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3903046</string>
		<key>latitude</key>
		<real>-16.550000000000001</real>
		<key>longitude</key>
		<real>-68.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902668</string>
		<key>latitude</key>
		<real>-19.18</real>
		<key>longitude</key>
		<real>-64.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3921062</string>
		<key>latitude</key>
		<real>-19.02</real>
		<key>longitude</key>
		<real>-65.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907685</string>
		<key>latitude</key>
		<real>-18.370000000000001</real>
		<key>longitude</key>
		<real>-66.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621285</string>
		<key>latitude</key>
		<real>-19.010000000000002</real>
		<key>longitude</key>
		<real>-65.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907589</string>
		<key>latitude</key>
		<real>-19.010000000000002</real>
		<key>longitude</key>
		<real>-65.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621212</string>
		<key>latitude</key>
		<real>-19.149999999999999</real>
		<key>longitude</key>
		<real>-64.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621214</string>
		<key>latitude</key>
		<real>-19.199999999999999</real>
		<key>longitude</key>
		<real>-64.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621235</string>
		<key>latitude</key>
		<real>-19.199999999999999</real>
		<key>longitude</key>
		<real>-64.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3931470</string>
		<key>latitude</key>
		<real>-12.6</real>
		<key>longitude</key>
		<real>-69.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621237</string>
		<key>latitude</key>
		<real>-19.050000000000001</real>
		<key>longitude</key>
		<real>-65.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910743</string>
		<key>latitude</key>
		<real>-19.050000000000001</real>
		<key>longitude</key>
		<real>-65.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662762</string>
		<key>latitude</key>
		<real>-8.7599999999999998</real>
		<key>longitude</key>
		<real>-63.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621281</string>
		<key>latitude</key>
		<real>-19.170000000000002</real>
		<key>longitude</key>
		<real>-64.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901146</string>
		<key>latitude</key>
		<real>-19.170000000000002</real>
		<key>longitude</key>
		<real>-64.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3903391</string>
		<key>latitude</key>
		<real>-19.170000000000002</real>
		<key>longitude</key>
		<real>-64.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902504</string>
		<key>latitude</key>
		<real>-18.52</real>
		<key>longitude</key>
		<real>-66.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901539</string>
		<key>latitude</key>
		<real>-19.16</real>
		<key>longitude</key>
		<real>-65.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901147</string>
		<key>latitude</key>
		<real>-19.190000000000001</real>
		<key>longitude</key>
		<real>-65.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924752</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>-67.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909038</string>
		<key>latitude</key>
		<real>-19.300000000000001</real>
		<key>longitude</key>
		<real>-64.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626291</string>
		<key>latitude</key>
		<real>-14.630000000000001</real>
		<key>longitude</key>
		<real>-69.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914641</string>
		<key>latitude</key>
		<real>-19.170000000000002</real>
		<key>longitude</key>
		<real>-65.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621225</string>
		<key>latitude</key>
		<real>-19.199999999999999</real>
		<key>longitude</key>
		<real>-65.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621221</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>-65.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907106</string>
		<key>latitude</key>
		<real>-19.23</real>
		<key>longitude</key>
		<real>-65.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621228</string>
		<key>latitude</key>
		<real>-19.210000000000001</real>
		<key>longitude</key>
		<real>-65.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923999</string>
		<key>latitude</key>
		<real>-16.170000000000002</real>
		<key>longitude</key>
		<real>-69.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621222</string>
		<key>latitude</key>
		<real>-19.23</real>
		<key>longitude</key>
		<real>-65.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3913985</string>
		<key>latitude</key>
		<real>-16.02</real>
		<key>longitude</key>
		<real>-69.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621303</string>
		<key>latitude</key>
		<real>-19.25</real>
		<key>longitude</key>
		<real>-65.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924887</string>
		<key>latitude</key>
		<real>-10.119999999999999</real>
		<key>longitude</key>
		<real>-67.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925476</string>
		<key>latitude</key>
		<real>-16.25</real>
		<key>longitude</key>
		<real>-69.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6621309</string>
		<key>latitude</key>
		<real>-19.32</real>
		<key>longitude</key>
		<real>-65.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904020</string>
		<key>latitude</key>
		<real>-19.34</real>
		<key>longitude</key>
		<real>-65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3931137</string>
		<key>latitude</key>
		<real>-15.470000000000001</real>
		<key>longitude</key>
		<real>-69.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662574</string>
		<key>latitude</key>
		<real>-9.9700000000000006</real>
		<key>longitude</key>
		<real>-67.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3941492</string>
		<key>latitude</key>
		<real>-16.57</real>
		<key>longitude</key>
		<real>-69.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902667</string>
		<key>latitude</key>
		<real>-19.5</real>
		<key>longitude</key>
		<real>-64.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925227</string>
		<key>latitude</key>
		<real>-11.02</real>
		<key>longitude</key>
		<real>-68.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919998</string>
		<key>latitude</key>
		<real>-11.029999999999999</real>
		<key>longitude</key>
		<real>-68.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924674</string>
		<key>latitude</key>
		<real>-10.65</real>
		<key>longitude</key>
		<real>-68.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3921355</string>
		<key>latitude</key>
		<real>-18.899999999999999</real>
		<key>longitude</key>
		<real>-66.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662784</string>
		<key>latitude</key>
		<real>-9.5899999999999999</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3731287</string>
		<key>latitude</key>
		<real>-9.8699999999999992</real>
		<key>longitude</key>
		<real>-67.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452786</string>
		<key>latitude</key>
		<real>-15.85</real>
		<key>longitude</key>
		<real>-58.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3937516</string>
		<key>latitude</key>
		<real>-16.219999999999999</real>
		<key>longitude</key>
		<real>-69.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923145</string>
		<key>latitude</key>
		<real>-19.550000000000001</real>
		<key>longitude</key>
		<real>-65.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909233</string>
		<key>latitude</key>
		<real>-18.670000000000002</real>
		<key>longitude</key>
		<real>-67.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927803</string>
		<key>latitude</key>
		<real>-15.77</real>
		<key>longitude</key>
		<real>-69.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3916919</string>
		<key>latitude</key>
		<real>-19.550000000000001</real>
		<key>longitude</key>
		<real>-65.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907584</string>
		<key>latitude</key>
		<real>-19.579999999999998</real>
		<key>longitude</key>
		<real>-65.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665202</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-60.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3938451</string>
		<key>latitude</key>
		<real>-16.079999999999998</real>
		<key>longitude</key>
		<real>-69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444091</string>
		<key>latitude</key>
		<real>-18.280000000000001</real>
		<key>longitude</key>
		<real>-59.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444105</string>
		<key>latitude</key>
		<real>-16.370000000000001</real>
		<key>longitude</key>
		<real>-58.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444176</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>-59.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3938531</string>
		<key>latitude</key>
		<real>-11.35</real>
		<key>longitude</key>
		<real>-69.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3917004</string>
		<key>latitude</key>
		<real>-17.329999999999998</real>
		<key>longitude</key>
		<real>-69.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664956</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>-67.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662155</string>
		<key>latitude</key>
		<real>-9.0700000000000003</real>
		<key>longitude</key>
		<real>-68.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874552</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>-69.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6693562</string>
		<key>latitude</key>
		<real>-18.57</real>
		<key>longitude</key>
		<real>-69.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899358</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>-69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663495</string>
		<key>latitude</key>
		<real>-8.8399999999999999</real>
		<key>longitude</key>
		<real>-69.260000000000005</real>
	</dict>
</array>
</plist>
