<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3464724</string>
		<key>latitude</key>
		<real>-14.41</real>
		<key>longitude</key>
		<real>-56.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3472442</string>
		<key>latitude</key>
		<real>-14.51</real>
		<key>longitude</key>
		<real>-56.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456277</string>
		<key>latitude</key>
		<real>-14.720000000000001</real>
		<key>longitude</key>
		<real>-56.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456248</string>
		<key>latitude</key>
		<real>-14.449999999999999</real>
		<key>longitude</key>
		<real>-56.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3450872</string>
		<key>latitude</key>
		<real>-14.84</real>
		<key>longitude</key>
		<real>-56.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471551</string>
		<key>latitude</key>
		<real>-14.449999999999999</real>
		<key>longitude</key>
		<real>-56.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3457419</string>
		<key>latitude</key>
		<real>-13</real>
		<key>longitude</key>
		<real>-56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3473198</string>
		<key>latitude</key>
		<real>-15.199999999999999</real>
		<key>longitude</key>
		<real>-56.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6323820</string>
		<key>latitude</key>
		<real>-15.42</real>
		<key>longitude</key>
		<real>-55.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3457425</string>
		<key>latitude</key>
		<real>-15.25</real>
		<key>longitude</key>
		<real>-56.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3466307</string>
		<key>latitude</key>
		<real>-15.460000000000001</real>
		<key>longitude</key>
		<real>-55.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456137</string>
		<key>latitude</key>
		<real>-14.800000000000001</real>
		<key>longitude</key>
		<real>-57.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3470718</string>
		<key>latitude</key>
		<real>-15.07</real>
		<key>longitude</key>
		<real>-57.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3465038</string>
		<key>latitude</key>
		<real>-15.6</real>
		<key>longitude</key>
		<real>-56.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3445451</string>
		<key>latitude</key>
		<real>-15.65</real>
		<key>longitude</key>
		<real>-56.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6255150</string>
		<key>latitude</key>
		<real>-14.6</real>
		<key>longitude</key>
		<real>-57.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3461440</string>
		<key>latitude</key>
		<real>-14.720000000000001</real>
		<key>longitude</key>
		<real>-57.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456226</string>
		<key>latitude</key>
		<real>-15.779999999999999</real>
		<key>longitude</key>
		<real>-56.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449502</string>
		<key>latitude</key>
		<real>-15.869999999999999</real>
		<key>longitude</key>
		<real>-56.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3470871</string>
		<key>latitude</key>
		<real>-16.190000000000001</real>
		<key>longitude</key>
		<real>-55.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460355</string>
		<key>latitude</key>
		<real>-15.970000000000001</real>
		<key>longitude</key>
		<real>-54.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3448350</string>
		<key>latitude</key>
		<real>-15.869999999999999</real>
		<key>longitude</key>
		<real>-54.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3458397</string>
		<key>latitude</key>
		<real>-16.329999999999998</real>
		<key>longitude</key>
		<real>-55.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3453315</string>
		<key>latitude</key>
		<real>-16.260000000000002</real>
		<key>longitude</key>
		<real>-56.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452490</string>
		<key>latitude</key>
		<real>-15.84</real>
		<key>longitude</key>
		<real>-54.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468551</string>
		<key>latitude</key>
		<real>-16.07</real>
		<key>longitude</key>
		<real>-57.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3450909</string>
		<key>latitude</key>
		<real>-16.469999999999999</real>
		<key>longitude</key>
		<real>-54.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3452786</string>
		<key>latitude</key>
		<real>-15.85</real>
		<key>longitude</key>
		<real>-58.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3461733</string>
		<key>latitude</key>
		<real>-16.350000000000001</real>
		<key>longitude</key>
		<real>-53.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460558</string>
		<key>latitude</key>
		<real>-17.079999999999998</real>
		<key>longitude</key>
		<real>-54.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444105</string>
		<key>latitude</key>
		<real>-16.370000000000001</real>
		<key>longitude</key>
		<real>-58.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3453060</string>
		<key>latitude</key>
		<real>-15.23</real>
		<key>longitude</key>
		<real>-59.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3466255</string>
		<key>latitude</key>
		<real>-14.67</real>
		<key>longitude</key>
		<real>-52.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474501</string>
		<key>latitude</key>
		<real>-13.66</real>
		<key>longitude</key>
		<real>-59.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3472448</string>
		<key>latitude</key>
		<real>-16.940000000000001</real>
		<key>longitude</key>
		<real>-53.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474495</string>
		<key>latitude</key>
		<real>-13.65</real>
		<key>longitude</key>
		<real>-59.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6323793</string>
		<key>latitude</key>
		<real>-10.02</real>
		<key>longitude</key>
		<real>-56.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3470709</string>
		<key>latitude</key>
		<real>-15.890000000000001</real>
		<key>longitude</key>
		<real>-52.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471840</string>
		<key>latitude</key>
		<real>-15.9</real>
		<key>longitude</key>
		<real>-52.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3469034</string>
		<key>latitude</key>
		<real>-10</real>
		<key>longitude</key>
		<real>-55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6316343</string>
		<key>latitude</key>
		<real>-9.8800000000000008</real>
		<key>longitude</key>
		<real>-56.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444201</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>-57.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924679</string>
		<key>latitude</key>
		<real>-12.74</real>
		<key>longitude</key>
		<real>-60.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3472473</string>
		<key>latitude</key>
		<real>-17.309999999999999</real>
		<key>longitude</key>
		<real>-53.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3449856</string>
		<key>latitude</key>
		<real>-17.329999999999998</real>
		<key>longitude</key>
		<real>-53.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3454363</string>
		<key>latitude</key>
		<real>-18.100000000000001</real>
		<key>longitude</key>
		<real>-54.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471834</string>
		<key>latitude</key>
		<real>-15.73</real>
		<key>longitude</key>
		<real>-51.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3465228</string>
		<key>latitude</key>
		<real>-18.510000000000002</real>
		<key>longitude</key>
		<real>-54.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3453586</string>
		<key>latitude</key>
		<real>-16.43</real>
		<key>longitude</key>
		<real>-51.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468908</string>
		<key>latitude</key>
		<real>-15.24</real>
		<key>longitude</key>
		<real>-51.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471394</string>
		<key>latitude</key>
		<real>-14.92</real>
		<key>longitude</key>
		<real>-51.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3457147</string>
		<key>latitude</key>
		<real>-17.57</real>
		<key>longitude</key>
		<real>-52.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468234</string>
		<key>latitude</key>
		<real>-16.960000000000001</real>
		<key>longitude</key>
		<real>-51.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3451051</string>
		<key>latitude</key>
		<real>-18.920000000000002</real>
		<key>longitude</key>
		<real>-54.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404478</string>
		<key>latitude</key>
		<real>-8.9499999999999993</real>
		<key>longitude</key>
		<real>-54.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3446097</string>
		<key>latitude</key>
		<real>-19.129999999999999</real>
		<key>longitude</key>
		<real>-55.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3459352</string>
		<key>latitude</key>
		<real>-19</real>
		<key>longitude</key>
		<real>-57.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444199</string>
		<key>latitude</key>
		<real>-18.949999999999999</real>
		<key>longitude</key>
		<real>-57.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3465342</string>
		<key>latitude</key>
		<real>-19.010000000000002</real>
		<key>longitude</key>
		<real>-57.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3459531</string>
		<key>latitude</key>
		<real>-15.869999999999999</real>
		<key>longitude</key>
		<real>-50.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3461090</string>
		<key>latitude</key>
		<real>-16.440000000000001</real>
		<key>longitude</key>
		<real>-51.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3456642</string>
		<key>latitude</key>
		<real>-14.74</real>
		<key>longitude</key>
		<real>-50.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919352</string>
		<key>latitude</key>
		<real>-16.43</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905658</string>
		<key>latitude</key>
		<real>-16.370000000000001</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919413</string>
		<key>latitude</key>
		<real>-16.379999999999999</real>
		<key>longitude</key>
		<real>-60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3451056</string>
		<key>latitude</key>
		<real>-17.219999999999999</real>
		<key>longitude</key>
		<real>-51.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3472319</string>
		<key>latitude</key>
		<real>-16.620000000000001</real>
		<key>longitude</key>
		<real>-51.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925118</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>-61.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460697</string>
		<key>latitude</key>
		<real>-15.82</real>
		<key>longitude</key>
		<real>-50.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924908</string>
		<key>latitude</key>
		<real>-11.67</real>
		<key>longitude</key>
		<real>-61.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444176</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>-59.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3444091</string>
		<key>latitude</key>
		<real>-18.280000000000001</real>
		<key>longitude</key>
		<real>-59.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460064</string>
		<key>latitude</key>
		<real>-17.879999999999999</real>
		<key>longitude</key>
		<real>-51.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3459872</string>
		<key>latitude</key>
		<real>-18.23</real>
		<key>longitude</key>
		<real>-51.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468865</string>
		<key>latitude</key>
		<real>-15.81</real>
		<key>longitude</key>
		<real>-50.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468020</string>
		<key>latitude</key>
		<real>-19.530000000000001</real>
		<key>longitude</key>
		<real>-54.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3924676</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>-61.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3925212</string>
		<key>latitude</key>
		<real>-11.44</real>
		<key>longitude</key>
		<real>-61.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3905542</string>
		<key>latitude</key>
		<real>-17.850000000000001</real>
		<key>longitude</key>
		<real>-60.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3471308</string>
		<key>latitude</key>
		<real>-16.68</real>
		<key>longitude</key>
		<real>-50.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3448558</string>
		<key>latitude</key>
		<real>-16.530000000000001</real>
		<key>longitude</key>
		<real>-50.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3463326</string>
		<key>latitude</key>
		<real>-16.579999999999998</real>
		<key>longitude</key>
		<real>-50.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3455020</string>
		<key>latitude</key>
		<real>-16.949999999999999</real>
		<key>longitude</key>
		<real>-50.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3479308</string>
		<key>latitude</key>
		<real>-11.44</real>
		<key>longitude</key>
		<real>-50.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3462710</string>
		<key>latitude</key>
		<real>-18.969999999999999</real>
		<key>longitude</key>
		<real>-51.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904907</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3450206</string>
		<key>latitude</key>
		<real>-17.809999999999999</real>
		<key>longitude</key>
		<real>-50.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468352</string>
		<key>latitude</key>
		<real>-18.559999999999999</real>
		<key>longitude</key>
		<real>-51.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3460610</string>
		<key>latitude</key>
		<real>-18.77</real>
		<key>longitude</key>
		<real>-51.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3466750</string>
		<key>latitude</key>
		<real>-19.109999999999999</real>
		<key>longitude</key>
		<real>-51.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665202</string>
		<key>latitude</key>
		<real>-9.1699999999999999</real>
		<key>longitude</key>
		<real>-60.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3468453</string>
		<key>latitude</key>
		<real>-18.760000000000002</real>
		<key>longitude</key>
		<real>-50.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3451931</string>
		<key>latitude</key>
		<real>-18.449999999999999</real>
		<key>longitude</key>
		<real>-50.450000000000003</real>
	</dict>
</array>
</plist>
