<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3384728</string>
		<key>latitude</key>
		<real>2.1166700000000001</real>
		<key>longitude</key>
		<real>-56.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384653</string>
		<key>latitude</key>
		<real>3.7999999999999998</real>
		<key>longitude</key>
		<real>-55.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383062</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>-56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382998</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>-56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380993</string>
		<key>latitude</key>
		<real>3.6333299999999999</real>
		<key>longitude</key>
		<real>-54.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381538</string>
		<key>latitude</key>
		<real>4.25</real>
		<key>longitude</key>
		<real>-54.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383023</string>
		<key>latitude</key>
		<real>4.3499999999999996</real>
		<key>longitude</key>
		<real>-54.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384481</string>
		<key>latitude</key>
		<real>4.75</real>
		<key>longitude</key>
		<real>-55.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3378840</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>-58.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380386</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>-53.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3375463</string>
		<key>latitude</key>
		<real>2.5</real>
		<key>longitude</key>
		<real>-59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384475</string>
		<key>latitude</key>
		<real>5.0166700000000004</real>
		<key>longitude</key>
		<real>-55.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384482</string>
		<key>latitude</key>
		<real>5.0666700000000002</real>
		<key>longitude</key>
		<real>-54.966670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383583</string>
		<key>latitude</key>
		<real>5.2666700000000004</real>
		<key>longitude</key>
		<real>-55.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383337</string>
		<key>latitude</key>
		<real>5.4166699999999999</real>
		<key>longitude</key>
		<real>-55.333328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382670</string>
		<key>latitude</key>
		<real>5.4500000000000002</real>
		<key>longitude</key>
		<real>-55.200001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382527</string>
		<key>latitude</key>
		<real>5.1550000000000002</real>
		<key>longitude</key>
		<real>-54.347220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690686</string>
		<key>latitude</key>
		<real>5.1566999999999998</real>
		<key>longitude</key>
		<real>-54.343102000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690606</string>
		<key>latitude</key>
		<real>3.9988600000000001</real>
		<key>longitude</key>
		<real>-52.999938999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381670</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>-53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690605</string>
		<key>latitude</key>
		<real>3.9992899999999998</real>
		<key>longitude</key>
		<real>-52.998562</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383384</string>
		<key>latitude</key>
		<real>5.5833300000000001</real>
		<key>longitude</key>
		<real>-55.183331000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383438</string>
		<key>latitude</key>
		<real>5.6666699999999999</real>
		<key>longitude</key>
		<real>-56.833328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393471</string>
		<key>latitude</key>
		<real>-1.76556</real>
		<key>longitude</key>
		<real>-55.866112000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383714</string>
		<key>latitude</key>
		<real>5.7000000000000002</real>
		<key>longitude</key>
		<real>-55.233330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380394</string>
		<key>latitude</key>
		<real>3.1383200000000002</real>
		<key>longitude</key>
		<real>-52.353198999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382761</string>
		<key>latitude</key>
		<real>5.75</real>
		<key>longitude</key>
		<real>-55.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382783</string>
		<key>latitude</key>
		<real>5.7666700000000004</real>
		<key>longitude</key>
		<real>-56.683331000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384125</string>
		<key>latitude</key>
		<real>5.7999999999999998</real>
		<key>longitude</key>
		<real>-55.466670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401225</string>
		<key>latitude</key>
		<real>-1.85083</real>
		<key>longitude</key>
		<real>-56.243609999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382226</string>
		<key>latitude</key>
		<real>3.1654800000000001</real>
		<key>longitude</key>
		<real>-52.315750000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383751</string>
		<key>latitude</key>
		<real>5.8166700000000002</real>
		<key>longitude</key>
		<real>-55.216670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382867</string>
		<key>latitude</key>
		<real>5.8833299999999999</real>
		<key>longitude</key>
		<real>-56.316668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382648</string>
		<key>latitude</key>
		<real>5.8166700000000002</real>
		<key>longitude</key>
		<real>-55.200001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393768</string>
		<key>latitude</key>
		<real>-1.9175</real>
		<key>longitude</key>
		<real>-55.518059000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383494</string>
		<key>latitude</key>
		<real>5.6166700000000001</real>
		<key>longitude</key>
		<real>-54.400002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383330</string>
		<key>latitude</key>
		<real>5.8663800000000004</real>
		<key>longitude</key>
		<real>-55.166820999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383329</string>
		<key>latitude</key>
		<real>5.8666700000000001</real>
		<key>longitude</key>
		<real>-55.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383570</string>
		<key>latitude</key>
		<real>5.8469100000000003</real>
		<key>longitude</key>
		<real>-55.021591000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380383</string>
		<key>latitude</key>
		<real>5.4757400000000001</real>
		<key>longitude</key>
		<real>-54.046398000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383434</string>
		<key>latitude</key>
		<real>5.8833299999999999</real>
		<key>longitude</key>
		<real>-55.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3384792</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-54.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380387</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-54.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690705</string>
		<key>latitude</key>
		<real>5.5038999999999998</real>
		<key>longitude</key>
		<real>-54.0289</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382159</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>-52.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379316</string>
		<key>latitude</key>
		<real>3.3833299999999999</real>
		<key>longitude</key>
		<real>-59.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3375941</string>
		<key>latitude</key>
		<real>5.8833299999999999</real>
		<key>longitude</key>
		<real>-57.133330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3383427</string>
		<key>latitude</key>
		<real>5.9500000000000002</real>
		<key>longitude</key>
		<real>-56.983330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405215</string>
		<key>latitude</key>
		<real>3.0833300000000001</real>
		<key>longitude</key>
		<real>-59.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386495</string>
		<key>latitude</key>
		<real>0.96667000000000003</real>
		<key>longitude</key>
		<real>-52.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407762</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>-52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3386467</string>
		<key>latitude</key>
		<real>-2.1041699999999999</real>
		<key>longitude</key>
		<real>-56.486938000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407980</string>
		<key>latitude</key>
		<real>-1.94167</real>
		<key>longitude</key>
		<real>-54.738331000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396979</string>
		<key>latitude</key>
		<real>-2.1522199999999998</real>
		<key>longitude</key>
		<real>-56.092219999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3375469</string>
		<key>latitude</key>
		<real>5.5</real>
		<key>longitude</key>
		<real>-58.333328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3378535</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393929</string>
		<key>latitude</key>
		<real>-2.1861100000000002</real>
		<key>longitude</key>
		<real>-56.713057999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381041</string>
		<key>latitude</key>
		<real>5.6591899999999997</real>
		<key>longitude</key>
		<real>-53.776660999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690694</string>
		<key>latitude</key>
		<real>5.6672000000000002</real>
		<key>longitude</key>
		<real>-53.776901000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3401193</string>
		<key>latitude</key>
		<real>-2.2719399999999998</real>
		<key>longitude</key>
		<real>-55.475830000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382261</string>
		<key>latitude</key>
		<real>4.5777900000000002</real>
		<key>longitude</key>
		<real>-52.472239999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394605</string>
		<key>latitude</key>
		<real>-2.0077799999999999</real>
		<key>longitude</key>
		<real>-54.069172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690691</string>
		<key>latitude</key>
		<real>5.4800000000000004</real>
		<key>longitude</key>
		<real>-53.205601000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381428</string>
		<key>latitude</key>
		<real>5.4802400000000002</real>
		<key>longitude</key>
		<real>-53.201092000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3394561</string>
		<key>latitude</key>
		<real>-0.86667000000000005</real>
		<key>longitude</key>
		<real>-52.528331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376762</string>
		<key>latitude</key>
		<real>6.25</real>
		<key>longitude</key>
		<real>-57.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380167</string>
		<key>latitude</key>
		<real>4.8303799999999999</real>
		<key>longitude</key>
		<real>-52.444431000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690707</string>
		<key>latitude</key>
		<real>5.3775000000000004</real>
		<key>longitude</key>
		<real>-52.958599</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376223</string>
		<key>latitude</key>
		<real>6.2833300000000003</real>
		<key>longitude</key>
		<real>-57.533329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393758</string>
		<key>latitude</key>
		<real>3.8430599999999999</real>
		<key>longitude</key>
		<real>-51.834999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380290</string>
		<key>latitude</key>
		<real>5.3833299999999999</real>
		<key>longitude</key>
		<real>-52.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391287</string>
		<key>latitude</key>
		<real>-1.8</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380450</string>
		<key>latitude</key>
		<real>4.7262899999999997</real>
		<key>longitude</key>
		<real>-52.327418999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690702</string>
		<key>latitude</key>
		<real>4.7282999999999999</real>
		<key>longitude</key>
		<real>-52.324199999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381212</string>
		<key>latitude</key>
		<real>5.1500000000000004</real>
		<key>longitude</key>
		<real>-52.650002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381303</string>
		<key>latitude</key>
		<real>5.1551799999999997</real>
		<key>longitude</key>
		<real>-52.647789000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376386</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380402</string>
		<key>latitude</key>
		<real>3.8999999999999999</real>
		<key>longitude</key>
		<real>-51.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3377408</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>-58.299999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381207</string>
		<key>latitude</key>
		<real>4.8333300000000001</real>
		<key>longitude</key>
		<real>-52.349997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3377274</string>
		<key>latitude</key>
		<real>6.25</real>
		<key>longitude</key>
		<real>-57.833328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3389353</string>
		<key>latitude</key>
		<real>-2.44306</real>
		<key>longitude</key>
		<real>-54.708328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381270</string>
		<key>latitude</key>
		<real>4.8499999999999996</real>
		<key>longitude</key>
		<real>-52.333328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380965</string>
		<key>latitude</key>
		<real>4.8482700000000003</real>
		<key>longitude</key>
		<real>-52.331718000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690696</string>
		<key>latitude</key>
		<real>4.8506</real>
		<key>longitude</key>
		<real>-52.331099999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3377899</string>
		<key>latitude</key>
		<real>4.6666699999999999</real>
		<key>longitude</key>
		<real>-59.816668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381117</string>
		<key>latitude</key>
		<real>4.9166699999999999</real>
		<key>longitude</key>
		<real>-52.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3378690</string>
		<key>latitude</key>
		<real>6.4000000000000004</real>
		<key>longitude</key>
		<real>-57.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3393008</string>
		<key>latitude</key>
		<real>-2.6283300000000001</real>
		<key>longitude</key>
		<real>-56.735827999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382160</string>
		<key>latitude</key>
		<real>4.9333299999999998</real>
		<key>longitude</key>
		<real>-52.333328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690689</string>
		<key>latitude</key>
		<real>4.9386000000000001</real>
		<key>longitude</key>
		<real>-52.334999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690701</string>
		<key>latitude</key>
		<real>4.9050000000000002</real>
		<key>longitude</key>
		<real>-52.276699000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380892</string>
		<key>latitude</key>
		<real>4.9166699999999999</real>
		<key>longitude</key>
		<real>-52.266669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664980</string>
		<key>latitude</key>
		<real>2.8197199999999998</real>
		<key>longitude</key>
		<real>-60.673327999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3405806</string>
		<key>latitude</key>
		<real>-2.6400000000000001</real>
		<key>longitude</key>
		<real>-54.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662614</string>
		<key>latitude</key>
		<real>2.8500000000000001</real>
		<key>longitude</key>
		<real>-60.716670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376190</string>
		<key>latitude</key>
		<real>6.3687300000000002</real>
		<key>longitude</key>
		<real>-58.086658</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385670</string>
		<key>latitude</key>
		<real>-2.5363899999999999</real>
		<key>longitude</key>
		<real>-57.759998000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3377265</string>
		<key>latitude</key>
		<real>6.5499999999999998</real>
		<key>longitude</key>
		<real>-57.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406202</string>
		<key>latitude</key>
		<real>-2.79</real>
		<key>longitude</key>
		<real>-57.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407903</string>
		<key>latitude</key>
		<real>-1.5233300000000001</real>
		<key>longitude</key>
		<real>-52.581668999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3378950</string>
		<key>latitude</key>
		<real>6.5</real>
		<key>longitude</key>
		<real>-58.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379953</string>
		<key>latitude</key>
		<real>6.4666699999999997</real>
		<key>longitude</key>
		<real>-58.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3385645</string>
		<key>latitude</key>
		<real>-2.6833300000000002</real>
		<key>longitude</key>
		<real>-57.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379199</string>
		<key>latitude</key>
		<real>6.6166700000000001</real>
		<key>longitude</key>
		<real>-57.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3377267</string>
		<key>latitude</key>
		<real>6.6833299999999998</real>
		<key>longitude</key>
		<real>-57.916671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3662560</string>
		<key>latitude</key>
		<real>1</real>
		<key>longitude</key>
		<real>-61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397843</string>
		<key>latitude</key>
		<real>-1.3666700000000001</real>
		<key>longitude</key>
		<real>-52.166671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379507</string>
		<key>latitude</key>
		<real>6.4000000000000004</real>
		<key>longitude</key>
		<real>-58.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3664684</string>
		<key>latitude</key>
		<real>1.8161099999999999</real>
		<key>longitude</key>
		<real>-61.128059</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395042</string>
		<key>latitude</key>
		<real>-0.115</real>
		<key>longitude</key>
		<real>-51.289439999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391360</string>
		<key>latitude</key>
		<real>-0.05833</real>
		<key>longitude</key>
		<real>-51.181671000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398612</string>
		<key>latitude</key>
		<real>-2.9700000000000002</real>
		<key>longitude</key>
		<real>-57.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379063</string>
		<key>latitude</key>
		<real>6.8166700000000002</real>
		<key>longitude</key>
		<real>-58.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3378644</string>
		<key>latitude</key>
		<real>6.8044799999999999</real>
		<key>longitude</key>
		<real>-58.155270000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3375409</string>
		<key>latitude</key>
		<real>6.8092699999999997</real>
		<key>longitude</key>
		<real>-58.197978999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379893</string>
		<key>latitude</key>
		<real>6.8333300000000001</real>
		<key>longitude</key>
		<real>-58.150002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3396016</string>
		<key>latitude</key>
		<real>0.038890000000000001</real>
		<key>longitude</key>
		<real>-51.066391000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391387</string>
		<key>latitude</key>
		<real>-1.7483299999999999</real>
		<key>longitude</key>
		<real>-52.238331000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3376520</string>
		<key>latitude</key>
		<real>6.8371199999999996</real>
		<key>longitude</key>
		<real>-58.429409</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395501</string>
		<key>latitude</key>
		<real>2.1333299999999999</real>
		<key>longitude</key>
		<real>-50.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3398480</string>
		<key>latitude</key>
		<real>-1.405</real>
		<key>longitude</key>
		<real>-51.639999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379023</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>-60</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649138</string>
		<key>latitude</key>
		<real>5.0999999999999996</real>
		<key>longitude</key>
		<real>-60.733333999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3395062</string>
		<key>latitude</key>
		<real>-3.3799999999999999</real>
		<key>longitude</key>
		<real>-57.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3397893</string>
		<key>latitude</key>
		<real>-3.1430600000000002</real>
		<key>longitude</key>
		<real>-58.444172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736812</string>
		<key>latitude</key>
		<real>-2.03444</real>
		<key>longitude</key>
		<real>-60.025002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3625801</string>
		<key>latitude</key>
		<real>5.0499999999999998</real>
		<key>longitude</key>
		<real>-60.833331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808502</string>
		<key>latitude</key>
		<real>4.6527779999999996</real>
		<key>longitude</key>
		<real>-61.066665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809274</string>
		<key>latitude</key>
		<real>4.612222</real>
		<key>longitude</key>
		<real>-61.088332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807086</string>
		<key>latitude</key>
		<real>4.5516699999999997</real>
		<key>longitude</key>
		<real>-61.132221000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3627059</string>
		<key>latitude</key>
		<real>4.7166670000000002</real>
		<key>longitude</key>
		<real>-61.066665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3627382</string>
		<key>latitude</key>
		<real>4.6166700000000001</real>
		<key>longitude</key>
		<real>-61.133330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3626617</string>
		<key>latitude</key>
		<real>4.766667</real>
		<key>longitude</key>
		<real>-61.083331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3645687</string>
		<key>latitude</key>
		<real>5.0499999999999998</real>
		<key>longitude</key>
		<real>-60.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648865</string>
		<key>latitude</key>
		<real>4.8499999999999996</real>
		<key>longitude</key>
		<real>-61.083331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303406</string>
		<key>latitude</key>
		<real>7.2643899999999997</real>
		<key>longitude</key>
		<real>-58.507689999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809474</string>
		<key>latitude</key>
		<real>4.8611110000000002</real>
		<key>longitude</key>
		<real>-61.112220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3626644</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>-61.049999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649331</string>
		<key>latitude</key>
		<real>4.9333330000000002</real>
		<key>longitude</key>
		<real>-61.099997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3626405</string>
		<key>latitude</key>
		<real>4.9666670000000002</real>
		<key>longitude</key>
		<real>-61.150002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3632824</string>
		<key>latitude</key>
		<real>5.0499999999999998</real>
		<key>longitude</key>
		<real>-61.150002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6318165</string>
		<key>latitude</key>
		<real>-2.6994400000000001</real>
		<key>longitude</key>
		<real>-59.699717999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3661292</string>
		<key>latitude</key>
		<real>5.8666700000000001</real>
		<key>longitude</key>
		<real>-60.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3408269</string>
		<key>latitude</key>
		<real>-0.15667</real>
		<key>longitude</key>
		<real>-50.386668999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3637428</string>
		<key>latitude</key>
		<real>5.1500000000000004</real>
		<key>longitude</key>
		<real>-61.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3642386</string>
		<key>latitude</key>
		<real>5.2999999999999998</real>
		<key>longitude</key>
		<real>-61.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3387928</string>
		<key>latitude</key>
		<real>-2.5899999999999999</real>
		<key>longitude</key>
		<real>-51.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3648783</string>
		<key>latitude</key>
		<real>5.4666670000000002</real>
		<key>longitude</key>
		<real>-61.216667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3406948</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-59.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3407882</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-52.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3402920</string>
		<key>latitude</key>
		<real>-3.2000000000000002</real>
		<key>longitude</key>
		<real>-59.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3647391</string>
		<key>latitude</key>
		<real>5.5999999999999996</real>
		<key>longitude</key>
		<real>-61.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3647346</string>
		<key>latitude</key>
		<real>5.6166669999999996</real>
		<key>longitude</key>
		<real>-61.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754114</string>
		<key>latitude</key>
		<real>-3.0647199999999999</real>
		<key>longitude</key>
		<real>-60.013610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663517</string>
		<key>latitude</key>
		<real>-3.1000000000000001</real>
		<key>longitude</key>
		<real>-60.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754131</string>
		<key>latitude</key>
		<real>-3.1099999999999999</real>
		<key>longitude</key>
		<real>-60.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3391412</string>
		<key>latitude</key>
		<real>-1.9399999999999999</real>
		<key>longitude</key>
		<real>-50.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754135</string>
		<key>latitude</key>
		<real>-3.1400000000000001</real>
		<key>longitude</key>
		<real>-60.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3641359</string>
		<key>latitude</key>
		<real>5.6666670000000003</real>
		<key>longitude</key>
		<real>-61.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3754145</string>
		<key>latitude</key>
		<real>-3.1699999999999999</real>
		<key>longitude</key>
		<real>-60.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3649518</string>
		<key>latitude</key>
		<real>5.7833329999999998</real>
		<key>longitude</key>
		<real>-61.450001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3404817</string>
		<key>latitude</key>
		<real>-1.68222</real>
		<key>longitude</key>
		<real>-50.480282000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3639041</string>
		<key>latitude</key>
		<real>5.9333330000000002</real>
		<key>longitude</key>
		<real>-61.416668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808235</string>
		<key>latitude</key>
		<real>6.0149999999999997</real>
		<key>longitude</key>
		<real>-61.401111999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3736808</string>
		<key>latitude</key>
		<real>-3.2799999999999998</real>
		<key>longitude</key>
		<real>-60.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3806940</string>
		<key>latitude</key>
		<real>6.0733329999999999</real>
		<key>longitude</key>
		<real>-61.389442000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663145</string>
		<key>latitude</key>
		<real>-2.6213899999999999</real>
		<key>longitude</key>
		<real>-60.944172000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3379515</string>
		<key>latitude</key>
		<real>7.6666699999999999</real>
		<key>longitude</key>
		<real>-59.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3628959</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>-61.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809319</string>
		<key>latitude</key>
		<real>6.1488889999999996</real>
		<key>longitude</key>
		<real>-61.426108999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808237</string>
		<key>latitude</key>
		<real>6.2938890000000001</real>
		<key>longitude</key>
		<real>-61.313889000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808238</string>
		<key>latitude</key>
		<real>6.1533329999999999</real>
		<key>longitude</key>
		<real>-61.429442999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807669</string>
		<key>latitude</key>
		<real>6.1733330000000004</real>
		<key>longitude</key>
		<real>-61.417220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663524</string>
		<key>latitude</key>
		<real>-3.3199999999999998</real>
		<key>longitude</key>
		<real>-60.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3638144</string>
		<key>latitude</key>
		<real>6.4166670000000003</real>
		<key>longitude</key>
		<real>-61.400002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3663529</string>
		<key>latitude</key>
		<real>-3.2999999999999998</real>
		<key>longitude</key>
		<real>-60.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808236</string>
		<key>latitude</key>
		<real>6.4883329999999999</real>
		<key>longitude</key>
		<real>-61.540557999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3646673</string>
		<key>latitude</key>
		<real>6.6166669999999996</real>
		<key>longitude</key>
		<real>-61.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807898</string>
		<key>latitude</key>
		<real>6.71</real>
		<key>longitude</key>
		<real>-61.619446000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809171</string>
		<key>latitude</key>
		<real>6.7350000000000003</real>
		<key>longitude</key>
		<real>-61.625</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809813</string>
		<key>latitude</key>
		<real>6.7683330000000002</real>
		<key>longitude</key>
		<real>-61.615555000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3644689</string>
		<key>latitude</key>
		<real>6.7999999999999998</real>
		<key>longitude</key>
		<real>-61.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807556</string>
		<key>latitude</key>
		<real>6.8716670000000004</real>
		<key>longitude</key>
		<real>-61.596668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3644922</string>
		<key>latitude</key>
		<real>6.983333</real>
		<key>longitude</key>
		<real>-61.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3639640</string>
		<key>latitude</key>
		<real>7.1333330000000004</real>
		<key>longitude</key>
		<real>-61.566665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3636683</string>
		<key>latitude</key>
		<real>7.2166670000000002</real>
		<key>longitude</key>
		<real>-61.533332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808245</string>
		<key>latitude</key>
		<real>7.2561099999999996</real>
		<key>longitude</key>
		<real>-61.527779000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3809409</string>
		<key>latitude</key>
		<real>7.3272219999999999</real>
		<key>longitude</key>
		<real>-61.549441999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3807315</string>
		<key>latitude</key>
		<real>7.3394440000000003</real>
		<key>longitude</key>
		<real>-61.584999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3808478</string>
		<key>latitude</key>
		<real>7.3811109999999998</real>
		<key>longitude</key>
		<real>-61.612220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3665348</string>
		<key>latitude</key>
		<real>-3.5800000000000001</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
</array>
</plist>
