<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6109205</string>
		<key>latitude</key>
		<real>72.700000000000003</real>
		<key>longitude</key>
		<real>-77.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3831682</string>
		<key>latitude</key>
		<real>76.550003000000004</real>
		<key>longitude</key>
		<real>-68.800003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3831451</string>
		<key>latitude</key>
		<real>76.577217000000005</real>
		<key>longitude</key>
		<real>-68.775558000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3831208</string>
		<key>latitude</key>
		<real>77.483970999999997</real>
		<key>longitude</key>
		<real>-69.363213000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5924351</string>
		<key>latitude</key>
		<real>70.469999999999999</real>
		<key>longitude</key>
		<real>-68.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886735</string>
		<key>latitude</key>
		<real>73.030000000000001</real>
		<key>longitude</key>
		<real>-85.170000000000002</real>
	</dict>
</array>
</plist>
