<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3863327</string>
		<key>latitude</key>
		<real>-44.799999999999997</real>
		<key>longitude</key>
		<real>-65.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3840104</string>
		<key>latitude</key>
		<real>-47.75</real>
		<key>longitude</key>
		<real>-65.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3833259</string>
		<key>latitude</key>
		<real>-45.799999999999997</real>
		<key>longitude</key>
		<real>-67.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3860443</string>
		<key>latitude</key>
		<real>-45.869999999999997</real>
		<key>longitude</key>
		<real>-67.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3839482</string>
		<key>latitude</key>
		<real>-45.93</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3863379</string>
		<key>latitude</key>
		<real>-46.439999999999998</real>
		<key>longitude</key>
		<real>-67.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3835230</string>
		<key>latitude</key>
		<real>-46.060000000000002</real>
		<key>longitude</key>
		<real>-67.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3862889</string>
		<key>latitude</key>
		<real>-46.549999999999997</real>
		<key>longitude</key>
		<real>-67.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3856122</string>
		<key>latitude</key>
		<real>-45.75</real>
		<key>longitude</key>
		<real>-67.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3839303</string>
		<key>latitude</key>
		<real>-43.329999999999998</real>
		<key>longitude</key>
		<real>-65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3839307</string>
		<key>latitude</key>
		<real>-43.299999999999997</real>
		<key>longitude</key>
		<real>-65.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3841309</string>
		<key>latitude</key>
		<real>-46.789999999999999</real>
		<key>longitude</key>
		<real>-67.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3833883</string>
		<key>latitude</key>
		<real>-43.25</real>
		<key>longitude</key>
		<real>-65.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3855284</string>
		<key>latitude</key>
		<real>-43.289999999999999</real>
		<key>longitude</key>
		<real>-65.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3859278</string>
		<key>latitude</key>
		<real>-43.299999999999997</real>
		<key>longitude</key>
		<real>-65.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3840092</string>
		<key>latitude</key>
		<real>-42.770000000000003</real>
		<key>longitude</key>
		<real>-65.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3848353</string>
		<key>latitude</key>
		<real>-46.539999999999999</real>
		<key>longitude</key>
		<real>-68.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3835710</string>
		<key>latitude</key>
		<real>-45.590000000000003</real>
		<key>longitude</key>
		<real>-69.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3841892</string>
		<key>latitude</key>
		<real>-44</real>
		<key>longitude</key>
		<real>-68.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3847858</string>
		<key>latitude</key>
		<real>-45.460000000000001</real>
		<key>longitude</key>
		<real>-69.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3861244</string>
		<key>latitude</key>
		<real>-44</real>
		<key>longitude</key>
		<real>-69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3840082</string>
		<key>latitude</key>
		<real>-49.310000000000002</real>
		<key>longitude</key>
		<real>-67.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3841894</string>
		<key>latitude</key>
		<real>-43.859999999999999</real>
		<key>longitude</key>
		<real>-69.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3855690</string>
		<key>latitude</key>
		<real>-45.310000000000002</real>
		<key>longitude</key>
		<real>-69.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3838840</string>
		<key>latitude</key>
		<real>-45.689999999999998</real>
		<key>longitude</key>
		<real>-70.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3835297</string>
		<key>latitude</key>
		<real>-41.609999999999999</real>
		<key>longitude</key>
		<real>-65.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3841475</string>
		<key>latitude</key>
		<real>-46.590000000000003</real>
		<key>longitude</key>
		<real>-70.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3866035</string>
		<key>latitude</key>
		<real>-45.039999999999999</real>
		<key>longitude</key>
		<real>-70.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3853479</string>
		<key>latitude</key>
		<real>-44.049999999999997</real>
		<key>longitude</key>
		<real>-70.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3840076</string>
		<key>latitude</key>
		<real>-50.020000000000003</real>
		<key>longitude</key>
		<real>-68.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3836350</string>
		<key>latitude</key>
		<real>-49</real>
		<key>longitude</key>
		<real>-70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3854981</string>
		<key>latitude</key>
		<real>-48.75</real>
		<key>longitude</key>
		<real>-70.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3854988</string>
		<key>latitude</key>
		<real>-44.049999999999997</real>
		<key>longitude</key>
		<real>-70.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3860466</string>
		<key>latitude</key>
		<real>-49.990000000000002</real>
		<key>longitude</key>
		<real>-68.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3844933</string>
		<key>latitude</key>
		<real>-41.25</real>
		<key>longitude</key>
		<real>-68.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3853786</string>
		<key>latitude</key>
		<real>-41.340000000000003</real>
		<key>longitude</key>
		<real>-69.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3841143</string>
		<key>latitude</key>
		<real>-41.119999999999997</real>
		<key>longitude</key>
		<real>-70.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3841363</string>
		<key>latitude</key>
		<real>-41.130000000000003</real>
		<key>longitude</key>
		<real>-70.849999999999994</real>
	</dict>
</array>
</plist>
