<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4036650</string>
		<key>latitude</key>
		<real>-52.5</real>
		<key>longitude</key>
		<real>-73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030642</string>
		<key>latitude</key>
		<real>-51.689999999999998</real>
		<key>longitude</key>
		<real>-72.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874958</string>
		<key>latitude</key>
		<real>-51.719999999999999</real>
		<key>longitude</key>
		<real>-72.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3833094</string>
		<key>latitude</key>
		<real>-51.649999999999999</real>
		<key>longitude</key>
		<real>-72.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3832376</string>
		<key>latitude</key>
		<real>-51.57</real>
		<key>longitude</key>
		<real>-72.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3858677</string>
		<key>latitude</key>
		<real>-50.340000000000003</real>
		<key>longitude</key>
		<real>-72.280000000000001</real>
	</dict>
</array>
</plist>
