<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3834450</string>
		<key>latitude</key>
		<real>-54.5</real>
		<key>longitude</key>
		<real>-67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3853323</string>
		<key>latitude</key>
		<real>-54.533329000000002</real>
		<key>longitude</key>
		<real>-67.199996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3838854</string>
		<key>latitude</key>
		<real>-53.787689</real>
		<key>longitude</key>
		<real>-67.709457</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874926</string>
		<key>latitude</key>
		<real>-54.933331000000003</real>
		<key>longitude</key>
		<real>-67.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3833367</string>
		<key>latitude</key>
		<real>-54.799999</real>
		<key>longitude</key>
		<real>-68.300003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3864641</string>
		<key>latitude</key>
		<real>-54.816668999999997</real>
		<key>longitude</key>
		<real>-68.333327999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3474414</string>
		<key>latitude</key>
		<real>-51.75</real>
		<key>longitude</key>
		<real>-59.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3875367</string>
		<key>latitude</key>
		<real>-53.299999</real>
		<key>longitude</key>
		<real>-70.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3838859</string>
		<key>latitude</key>
		<real>-51.619999999999997</real>
		<key>longitude</key>
		<real>-69.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426886</string>
		<key>latitude</key>
		<real>-51.899999999999999</real>
		<key>longitude</key>
		<real>-58.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3854293</string>
		<key>latitude</key>
		<real>-51.579999999999998</real>
		<key>longitude</key>
		<real>-69.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3895816</string>
		<key>latitude</key>
		<real>-53.020000000000003</real>
		<key>longitude</key>
		<real>-70.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3873132</string>
		<key>latitude</key>
		<real>-53.18</real>
		<key>longitude</key>
		<real>-70.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874787</string>
		<key>latitude</key>
		<real>-53.149999999999999</real>
		<key>longitude</key>
		<real>-70.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426768</string>
		<key>latitude</key>
		<real>-51.460000000000001</real>
		<key>longitude</key>
		<real>-58.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3426691</string>
		<key>latitude</key>
		<real>-51.700000000000003</real>
		<key>longitude</key>
		<real>-57.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3840076</string>
		<key>latitude</key>
		<real>-50.020000000000003</real>
		<key>longitude</key>
		<real>-68.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3860466</string>
		<key>latitude</key>
		<real>-49.990000000000002</real>
		<key>longitude</key>
		<real>-68.909999999999997</real>
	</dict>
</array>
</plist>
