<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3900333</string>
		<key>latitude</key>
		<real>-46.5</real>
		<key>longitude</key>
		<real>-73.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874943</string>
		<key>latitude</key>
		<real>-43.119999999999997</real>
		<key>longitude</key>
		<real>-73.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969858</string>
		<key>latitude</key>
		<real>-43.100000000000001</real>
		<key>longitude</key>
		<real>-73.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3894871</string>
		<key>latitude</key>
		<real>-42.609999999999999</real>
		<key>longitude</key>
		<real>-73.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874453</string>
		<key>latitude</key>
		<real>-42.890000000000001</real>
		<key>longitude</key>
		<real>-73.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3889146</string>
		<key>latitude</key>
		<real>-42.469999999999999</real>
		<key>longitude</key>
		<real>-73.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3896218</string>
		<key>latitude</key>
		<real>-42.469999999999999</real>
		<key>longitude</key>
		<real>-73.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3892760</string>
		<key>latitude</key>
		<real>-42.359999999999999</real>
		<key>longitude</key>
		<real>-73.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3892929</string>
		<key>latitude</key>
		<real>-42.43</real>
		<key>longitude</key>
		<real>-73.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3900700</string>
		<key>latitude</key>
		<real>-42.460000000000001</real>
		<key>longitude</key>
		<real>-73.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874675</string>
		<key>latitude</key>
		<real>-41.920000000000002</real>
		<key>longitude</key>
		<real>-73.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899695</string>
		<key>latitude</key>
		<real>-41.869999999999997</real>
		<key>longitude</key>
		<real>-73.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3880302</string>
		<key>latitude</key>
		<real>-41.619999999999997</real>
		<key>longitude</key>
		<real>-73.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3879681</string>
		<key>latitude</key>
		<real>-41.530000000000001</real>
		<key>longitude</key>
		<real>-73.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3897334</string>
		<key>latitude</key>
		<real>-41.770000000000003</real>
		<key>longitude</key>
		<real>-73.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3881703</string>
		<key>latitude</key>
		<real>-41.399999999999999</real>
		<key>longitude</key>
		<real>-73.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3881974</string>
		<key>latitude</key>
		<real>-41.75</real>
		<key>longitude</key>
		<real>-73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8047985</string>
		<key>latitude</key>
		<real>-41.469999999999999</real>
		<key>longitude</key>
		<real>-73.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3882957</string>
		<key>latitude</key>
		<real>-41.259999999999998</real>
		<key>longitude</key>
		<real>-73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3881607</string>
		<key>latitude</key>
		<real>-41.189999999999998</real>
		<key>longitude</key>
		<real>-73.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3889262</string>
		<key>latitude</key>
		<real>-41.119999999999997</real>
		<key>longitude</key>
		<real>-73.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3889263</string>
		<key>latitude</key>
		<real>-41.130000000000003</real>
		<key>longitude</key>
		<real>-73.040000000000006</real>
	</dict>
</array>
</plist>
