<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3883457</string>
		<key>latitude</key>
		<real>-37.619999999999997</real>
		<key>longitude</key>
		<real>-73.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3880302</string>
		<key>latitude</key>
		<real>-41.619999999999997</real>
		<key>longitude</key>
		<real>-73.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899695</string>
		<key>latitude</key>
		<real>-41.869999999999997</real>
		<key>longitude</key>
		<real>-73.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874675</string>
		<key>latitude</key>
		<real>-41.920000000000002</real>
		<key>longitude</key>
		<real>-73.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3892760</string>
		<key>latitude</key>
		<real>-42.359999999999999</real>
		<key>longitude</key>
		<real>-73.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3889146</string>
		<key>latitude</key>
		<real>-42.469999999999999</real>
		<key>longitude</key>
		<real>-73.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3896218</string>
		<key>latitude</key>
		<real>-42.469999999999999</real>
		<key>longitude</key>
		<real>-73.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3894871</string>
		<key>latitude</key>
		<real>-42.609999999999999</real>
		<key>longitude</key>
		<real>-73.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3892929</string>
		<key>latitude</key>
		<real>-42.43</real>
		<key>longitude</key>
		<real>-73.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3969858</string>
		<key>latitude</key>
		<real>-43.100000000000001</real>
		<key>longitude</key>
		<real>-73.599999999999994</real>
	</dict>
</array>
</plist>
