<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3869716</string>
		<key>latitude</key>
		<real>-22.09</real>
		<key>longitude</key>
		<real>-70.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3880143</string>
		<key>latitude</key>
		<real>-23.100000000000001</real>
		<key>longitude</key>
		<real>-70.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3884937</string>
		<key>latitude</key>
		<real>-23.510000000000002</real>
		<key>longitude</key>
		<real>-70.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3878253</string>
		<key>latitude</key>
		<real>-22.350000000000001</real>
		<key>longitude</key>
		<real>-69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899539</string>
		<key>latitude</key>
		<real>-23.649999999999999</real>
		<key>longitude</key>
		<real>-70.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3894774</string>
		<key>latitude</key>
		<real>-20.530000000000001</real>
		<key>longitude</key>
		<real>-70.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899887</string>
		<key>latitude</key>
		<real>-20.25</real>
		<key>longitude</key>
		<real>-70.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3887127</string>
		<key>latitude</key>
		<real>-20.219999999999999</real>
		<key>longitude</key>
		<real>-70.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3875235</string>
		<key>latitude</key>
		<real>-20.27</real>
		<key>longitude</key>
		<real>-69.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3894689</string>
		<key>latitude</key>
		<real>-22.32</real>
		<key>longitude</key>
		<real>-68.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3897347</string>
		<key>latitude</key>
		<real>-22.469999999999999</real>
		<key>longitude</key>
		<real>-68.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3876353</string>
		<key>latitude</key>
		<real>-20.5</real>
		<key>longitude</key>
		<real>-69.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3886406</string>
		<key>latitude</key>
		<real>-20.370000000000001</real>
		<key>longitude</key>
		<real>-69.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899537</string>
		<key>latitude</key>
		<real>-23.5</real>
		<key>longitude</key>
		<real>-69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899538</string>
		<key>latitude</key>
		<real>-24.329999999999998</real>
		<key>longitude</key>
		<real>-69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3870116</string>
		<key>latitude</key>
		<real>-20</real>
		<key>longitude</key>
		<real>-69.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8261129</string>
		<key>latitude</key>
		<real>-24.27</real>
		<key>longitude</key>
		<real>-69.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3871781</string>
		<key>latitude</key>
		<real>-22.920000000000002</real>
		<key>longitude</key>
		<real>-68.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3870243</string>
		<key>latitude</key>
		<real>-25.399999999999999</real>
		<key>longitude</key>
		<real>-70.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899361</string>
		<key>latitude</key>
		<real>-18.48</real>
		<key>longitude</key>
		<real>-70.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3942527</string>
		<key>latitude</key>
		<real>-18.300000000000001</real>
		<key>longitude</key>
		<real>-70.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6693562</string>
		<key>latitude</key>
		<real>-18.57</real>
		<key>longitude</key>
		<real>-69.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6400502</string>
		<key>latitude</key>
		<real>-18.07</real>
		<key>longitude</key>
		<real>-70.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3899358</string>
		<key>latitude</key>
		<real>-18.329999999999998</real>
		<key>longitude</key>
		<real>-69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3889332</string>
		<key>latitude</key>
		<real>-25.829999999999998</real>
		<key>longitude</key>
		<real>-69.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3928128</string>
		<key>latitude</key>
		<real>-18.010000000000002</real>
		<key>longitude</key>
		<real>-70.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3935206</string>
		<key>latitude</key>
		<real>-17.850000000000001</real>
		<key>longitude</key>
		<real>-70.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3938415</string>
		<key>latitude</key>
		<real>-17.640000000000001</real>
		<key>longitude</key>
		<real>-71.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3874552</string>
		<key>latitude</key>
		<real>-18.199999999999999</real>
		<key>longitude</key>
		<real>-69.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3933659</string>
		<key>latitude</key>
		<real>-17.579999999999998</real>
		<key>longitude</key>
		<real>-71.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3895554</string>
		<key>latitude</key>
		<real>-26.350000000000001</real>
		<key>longitude</key>
		<real>-70.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3928127</string>
		<key>latitude</key>
		<real>-17.670000000000002</real>
		<key>longitude</key>
		<real>-70.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3892454</string>
		<key>latitude</key>
		<real>-26.370000000000001</real>
		<key>longitude</key>
		<real>-70.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3938455</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>-70.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3943699</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-70.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3931255</string>
		<key>latitude</key>
		<real>-17.170000000000002</real>
		<key>longitude</key>
		<real>-71.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927023</string>
		<key>latitude</key>
		<real>-17.41</real>
		<key>longitude</key>
		<real>-70.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907580</string>
		<key>latitude</key>
		<real>-20.670000000000002</real>
		<key>longitude</key>
		<real>-67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927774</string>
		<key>latitude</key>
		<real>-17.469999999999999</real>
		<key>longitude</key>
		<real>-70.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3934608</string>
		<key>latitude</key>
		<real>-17.199999999999999</real>
		<key>longitude</key>
		<real>-70.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3942957</string>
		<key>latitude</key>
		<real>-17.09</real>
		<key>longitude</key>
		<real>-71.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3930871</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>-70.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3934707</string>
		<key>latitude</key>
		<real>-17.02</real>
		<key>longitude</key>
		<real>-72.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3945808</string>
		<key>latitude</key>
		<real>-17.27</real>
		<key>longitude</key>
		<real>-70.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919884</string>
		<key>latitude</key>
		<real>-20.300000000000001</real>
		<key>longitude</key>
		<real>-66.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3927158</string>
		<key>latitude</key>
		<real>-17.079999999999998</real>
		<key>longitude</key>
		<real>-70.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3952372</string>
		<key>latitude</key>
		<real>-17.289999999999999</real>
		<key>longitude</key>
		<real>-70.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901903</string>
		<key>latitude</key>
		<real>-20.460000000000001</real>
		<key>longitude</key>
		<real>-66.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3931427</string>
		<key>latitude</key>
		<real>-17.16</real>
		<key>longitude</key>
		<real>-70.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3947254</string>
		<key>latitude</key>
		<real>-17.059999999999999</real>
		<key>longitude</key>
		<real>-70.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3897322</string>
		<key>latitude</key>
		<real>-27.07</real>
		<key>longitude</key>
		<real>-70.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3934607</string>
		<key>latitude</key>
		<real>-16.84</real>
		<key>longitude</key>
		<real>-70.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3880906</string>
		<key>latitude</key>
		<real>-27.219999999999999</real>
		<key>longitude</key>
		<real>-70.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3917004</string>
		<key>latitude</key>
		<real>-17.329999999999998</real>
		<key>longitude</key>
		<real>-69.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909233</string>
		<key>latitude</key>
		<real>-18.670000000000002</real>
		<key>longitude</key>
		<real>-67.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3945985</string>
		<key>latitude</key>
		<real>-16.620000000000001</real>
		<key>longitude</key>
		<real>-72.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3923570</string>
		<key>latitude</key>
		<real>-20.93</real>
		<key>longitude</key>
		<real>-66.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3879750</string>
		<key>latitude</key>
		<real>-27.350000000000001</real>
		<key>longitude</key>
		<real>-70.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3893656</string>
		<key>latitude</key>
		<real>-27.370000000000001</real>
		<key>longitude</key>
		<real>-70.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3837985</string>
		<key>latitude</key>
		<real>-24.219999999999999</real>
		<key>longitude</key>
		<real>-66.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3921355</string>
		<key>latitude</key>
		<real>-18.899999999999999</real>
		<key>longitude</key>
		<real>-66.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902504</string>
		<key>latitude</key>
		<real>-18.52</real>
		<key>longitude</key>
		<real>-66.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907685</string>
		<key>latitude</key>
		<real>-18.370000000000001</real>
		<key>longitude</key>
		<real>-66.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3910971</string>
		<key>latitude</key>
		<real>-18.170000000000002</real>
		<key>longitude</key>
		<real>-67.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3909234</string>
		<key>latitude</key>
		<real>-17.98</real>
		<key>longitude</key>
		<real>-67.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3941492</string>
		<key>latitude</key>
		<real>-16.57</real>
		<key>longitude</key>
		<real>-69.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914839</string>
		<key>latitude</key>
		<real>-18.27</real>
		<key>longitude</key>
		<real>-66.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3902685</string>
		<key>latitude</key>
		<real>-17.579999999999998</real>
		<key>longitude</key>
		<real>-67.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3908339</string>
		<key>latitude</key>
		<real>-17.23</real>
		<key>longitude</key>
		<real>-67.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901433</string>
		<key>latitude</key>
		<real>-17.969999999999999</real>
		<key>longitude</key>
		<real>-67.069999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3863554</string>
		<key>latitude</key>
		<real>-25.100000000000001</real>
		<key>longitude</key>
		<real>-66.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3912119</string>
		<key>latitude</key>
		<real>-17.370000000000001</real>
		<key>longitude</key>
		<real>-67.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3911409</string>
		<key>latitude</key>
		<real>-18.420000000000002</real>
		<key>longitude</key>
		<real>-66.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3863557</string>
		<key>latitude</key>
		<real>-25.120000000000001</real>
		<key>longitude</key>
		<real>-66.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3903046</string>
		<key>latitude</key>
		<real>-16.550000000000001</real>
		<key>longitude</key>
		<real>-68.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919715</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>-67.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6254880</string>
		<key>latitude</key>
		<real>-16.530000000000001</real>
		<key>longitude</key>
		<real>-68.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3901485</string>
		<key>latitude</key>
		<real>-16.949999999999999</real>
		<key>longitude</key>
		<real>-67.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906765</string>
		<key>latitude</key>
		<real>-16.98</real>
		<key>longitude</key>
		<real>-67.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3862286</string>
		<key>latitude</key>
		<real>-27</real>
		<key>longitude</key>
		<real>-67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919886</string>
		<key>latitude</key>
		<real>-17.32</real>
		<key>longitude</key>
		<real>-66.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3914084</string>
		<key>latitude</key>
		<real>-17.719999999999999</real>
		<key>longitude</key>
		<real>-66.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3922125</string>
		<key>latitude</key>
		<real>-17.719999999999999</real>
		<key>longitude</key>
		<real>-66.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3840159</string>
		<key>latitude</key>
		<real>-27.23</real>
		<key>longitude</key>
		<real>-66.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3904221</string>
		<key>latitude</key>
		<real>-17.449999999999999</real>
		<key>longitude</key>
		<real>-66.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3854102</string>
		<key>latitude</key>
		<real>-27.23</real>
		<key>longitude</key>
		<real>-66.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3906791</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>-66.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3907366</string>
		<key>latitude</key>
		<real>-17.43</real>
		<key>longitude</key>
		<real>-66.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919543</string>
		<key>latitude</key>
		<real>-17.420000000000002</real>
		<key>longitude</key>
		<real>-66.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3919968</string>
		<key>latitude</key>
		<real>-17.390000000000001</real>
		<key>longitude</key>
		<real>-66.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7010403</string>
		<key>latitude</key>
		<real>-17.379999999999999</real>
		<key>longitude</key>
		<real>-66.140000000000001</real>
	</dict>
</array>
</plist>
