<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3985710</string>
		<key>latitude</key>
		<real>22.890881</real>
		<key>longitude</key>
		<real>-109.91237599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4010969</string>
		<key>latitude</key>
		<real>22.983329999999999</real>
		<key>longitude</key>
		<real>-109.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3986172</string>
		<key>latitude</key>
		<real>23.058879999999998</real>
		<key>longitude</key>
		<real>-109.69770800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4022452</string>
		<key>latitude</key>
		<real>23.093610999999999</real>
		<key>longitude</key>
		<real>-109.717499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3984677</string>
		<key>latitude</key>
		<real>23.149999999999999</real>
		<key>longitude</key>
		<real>-109.716667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4000119</string>
		<key>latitude</key>
		<real>23.266670000000001</real>
		<key>longitude</key>
		<real>-109.73333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3981432</string>
		<key>latitude</key>
		<real>23.450001</real>
		<key>longitude</key>
		<real>-110.216667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4016309</string>
		<key>latitude</key>
		<real>23.33333</real>
		<key>longitude</key>
		<real>-109.83332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4010399</string>
		<key>latitude</key>
		<real>23.350000000000001</real>
		<key>longitude</key>
		<real>-109.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3996322</string>
		<key>latitude</key>
		<real>23.219999999999999</real>
		<key>longitude</key>
		<real>-106.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4010207</string>
		<key>latitude</key>
		<real>23.129999999999999</real>
		<key>longitude</key>
		<real>-106.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3980125</string>
		<key>latitude</key>
		<real>23.199999999999999</real>
		<key>longitude</key>
		<real>-106.23</real>
	</dict>
</array>
</plist>
