<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4021858</string>
		<key>latitude</key>
		<real>27.976939999999999</real>
		<key>longitude</key>
		<real>-114.061111</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3984997</string>
		<key>latitude</key>
		<real>30.48</real>
		<key>longitude</key>
		<real>-115.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4013292</string>
		<key>latitude</key>
		<real>30.75</real>
		<key>longitude</key>
		<real>-116</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3979216</string>
		<key>latitude</key>
		<real>30.850000000000001</real>
		<key>longitude</key>
		<real>-116.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4017700</string>
		<key>latitude</key>
		<real>30</real>
		<key>longitude</key>
		<real>-115</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4001830</string>
		<key>latitude</key>
		<real>31.079999999999998</real>
		<key>longitude</key>
		<real>-115.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3987224</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>-114.87</real>
	</dict>
</array>
</plist>
