<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4020109</string>
		<key>latitude</key>
		<real>-9.8000000000000007</real>
		<key>longitude</key>
		<real>-139.03332499999999</real>
	</dict>
</array>
</plist>
