<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4030723</string>
		<key>latitude</key>
		<real>-25.065968999999999</real>
		<key>longitude</key>
		<real>-130.101471</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4030699</string>
		<key>latitude</key>
		<real>-25.066669000000001</real>
		<key>longitude</key>
		<real>-130.10000600000001</real>
	</dict>
</array>
</plist>
