<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4031742</string>
		<key>latitude</key>
		<real>66.319999999999993</real>
		<key>longitude</key>
		<real>-179.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031625</string>
		<key>latitude</key>
		<real>65.5</real>
		<key>longitude</key>
		<real>-171.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031574</string>
		<key>latitude</key>
		<real>64.379999999999995</real>
		<key>longitude</key>
		<real>-173.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031637</string>
		<key>latitude</key>
		<real>65.579999999999998</real>
		<key>longitude</key>
		<real>-171</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031681</string>
		<key>latitude</key>
		<real>68.833327999999995</real>
		<key>longitude</key>
		<real>-179.183334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5877563</string>
		<key>latitude</key>
		<real>65.609999999999999</real>
		<key>longitude</key>
		<real>-168.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5876265</string>
		<key>latitude</key>
		<real>65.560000000000002</real>
		<key>longitude</key>
		<real>-167.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5875969</string>
		<key>latitude</key>
		<real>65.260000000000005</real>
		<key>longitude</key>
		<real>-166.36000000000001</real>
	</dict>
</array>
</plist>
