<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4032804</string>
		<key>latitude</key>
		<real>-43.953529000000003</real>
		<key>longitude</key>
		<real>-176.55972299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032966</string>
		<key>latitude</key>
		<real>-43.799999</real>
		<key>longitude</key>
		<real>-176.46667500000001</real>
	</dict>
</array>
</plist>
