<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4034036</string>
		<key>latitude</key>
		<real>-18.116671</real>
		<key>longitude</key>
		<real>-140.89999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034684</string>
		<key>latitude</key>
		<real>-23.379999999999999</real>
		<key>longitude</key>
		<real>-149.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033557</string>
		<key>latitude</key>
		<real>-17.733329999999999</real>
		<key>longitude</key>
		<real>-149.14999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033543</string>
		<key>latitude</key>
		<real>-17.829999999999998</real>
		<key>longitude</key>
		<real>-149.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033792</string>
		<key>latitude</key>
		<real>-17.733329999999999</real>
		<key>longitude</key>
		<real>-149.21667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033094</string>
		<key>latitude</key>
		<real>-17.780000000000001</real>
		<key>longitude</key>
		<real>-149.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034745</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>-149.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033295</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>-149.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033566</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>-149.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034548</string>
		<key>latitude</key>
		<real>-17.66667</real>
		<key>longitude</key>
		<real>-149.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034022</string>
		<key>latitude</key>
		<real>-17.77</real>
		<key>longitude</key>
		<real>-149.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034402</string>
		<key>latitude</key>
		<real>-17.600000000000001</real>
		<key>longitude</key>
		<real>-149.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033356</string>
		<key>latitude</key>
		<real>-17.533331</real>
		<key>longitude</key>
		<real>-149.33332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033951</string>
		<key>latitude</key>
		<real>-17.75</real>
		<key>longitude</key>
		<real>-149.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034005</string>
		<key>latitude</key>
		<real>-17.68</real>
		<key>longitude</key>
		<real>-149.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033779</string>
		<key>latitude</key>
		<real>-17.629999999999999</real>
		<key>longitude</key>
		<real>-149.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034307</string>
		<key>latitude</key>
		<real>-17.506478999999999</real>
		<key>longitude</key>
		<real>-149.48898299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034636</string>
		<key>latitude</key>
		<real>-17.516670000000001</real>
		<key>longitude</key>
		<real>-149.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033838</string>
		<key>latitude</key>
		<real>-17.52</real>
		<key>longitude</key>
		<real>-149.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033683</string>
		<key>latitude</key>
		<real>-17.530000000000001</real>
		<key>longitude</key>
		<real>-149.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033936</string>
		<key>latitude</key>
		<real>-17.530000000000001</real>
		<key>longitude</key>
		<real>-149.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034561</string>
		<key>latitude</key>
		<real>-17.550000000000001</real>
		<key>longitude</key>
		<real>-149.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6620522</string>
		<key>latitude</key>
		<real>-17.559999999999999</real>
		<key>longitude</key>
		<real>-149.61000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034741</string>
		<key>latitude</key>
		<real>-17.550000000000001</real>
		<key>longitude</key>
		<real>-149.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033514</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-149.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034438</string>
		<key>latitude</key>
		<real>-17.57</real>
		<key>longitude</key>
		<real>-149.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033958</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-149.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4033910</string>
		<key>latitude</key>
		<real>-17.5</real>
		<key>longitude</key>
		<real>-149.87</real>
	</dict>
</array>
</plist>
