<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4030556</string>
		<key>latitude</key>
		<real>-23.120279</real>
		<key>longitude</key>
		<real>-134.969177</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4034036</string>
		<key>latitude</key>
		<real>-18.116671</real>
		<key>longitude</key>
		<real>-140.89999399999999</real>
	</dict>
</array>
</plist>
