<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4032243</string>
		<key>latitude</key>
		<real>-21.200001</real>
		<key>longitude</key>
		<real>-175.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032623</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>-175.21667500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032279</string>
		<key>latitude</key>
		<real>-21.16667</real>
		<key>longitude</key>
		<real>-175.16667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032402</string>
		<key>latitude</key>
		<real>-21.133329</real>
		<key>longitude</key>
		<real>-175.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032384</string>
		<key>latitude</key>
		<real>-21.33333</real>
		<key>longitude</key>
		<real>-174.949997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032323</string>
		<key>latitude</key>
		<real>-21.133329</real>
		<key>longitude</key>
		<real>-175.10000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032283</string>
		<key>latitude</key>
		<real>-20</real>
		<key>longitude</key>
		<real>-175</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032369</string>
		<key>latitude</key>
		<real>-19.799999</real>
		<key>longitude</key>
		<real>-174.35000600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032231</string>
		<key>latitude</key>
		<real>-18.66667</real>
		<key>longitude</key>
		<real>-174</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4032420</string>
		<key>latitude</key>
		<real>-18.649999999999999</real>
		<key>longitude</key>
		<real>-173.98333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4036024</string>
		<key>latitude</key>
		<real>-18.183330999999999</real>
		<key>longitude</key>
		<real>-178.800003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4036017</string>
		<key>latitude</key>
		<real>-16.700001</real>
		<key>longitude</key>
		<real>-179.866669</real>
	</dict>
</array>
</plist>
