<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1899402</string>
		<key>latitude</key>
		<real>-21.25</real>
		<key>longitude</key>
		<real>-159.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4036495</string>
		<key>latitude</key>
		<real>-21.210000000000001</real>
		<key>longitude</key>
		<real>-159.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4035715</string>
		<key>latitude</key>
		<real>-21.210000000000001</real>
		<key>longitude</key>
		<real>-159.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4036467</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>-157.34999999999999</real>
	</dict>
</array>
</plist>
