<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>288602</string>
		<key>latitude</key>
		<real>20.66667</real>
		<key>longitude</key>
		<real>58.883330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286245</string>
		<key>latitude</key>
		<real>22.566669000000001</real>
		<key>longitude</key>
		<real>59.528888999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288712</string>
		<key>latitude</key>
		<real>22.55283</real>
		<key>longitude</key>
		<real>59.484870999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1272140</string>
		<key>latitude</key>
		<real>22.239999999999998</real>
		<key>longitude</key>
		<real>68.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1259395</string>
		<key>latitude</key>
		<real>21.640000000000001</real>
		<key>longitude</key>
		<real>69.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411738</string>
		<key>latitude</key>
		<real>22</real>
		<key>longitude</key>
		<real>58.549999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1261066</string>
		<key>latitude</key>
		<real>22.469999999999999</real>
		<key>longitude</key>
		<real>69.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1258534</string>
		<key>latitude</key>
		<real>21.68</real>
		<key>longitude</key>
		<real>69.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288902</string>
		<key>latitude</key>
		<real>22.450001</real>
		<key>longitude</key>
		<real>58.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1276147</string>
		<key>latitude</key>
		<real>21.93</real>
		<key>longitude</key>
		<real>69.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289142</string>
		<key>latitude</key>
		<real>22.570999</real>
		<key>longitude</key>
		<real>58.694721000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1267091</string>
		<key>latitude</key>
		<real>22.210000000000001</real>
		<key>longitude</key>
		<real>69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1257638</string>
		<key>latitude</key>
		<real>22.32</real>
		<key>longitude</key>
		<real>69.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1262062</string>
		<key>latitude</key>
		<real>23.27</real>
		<key>longitude</key>
		<real>68.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287832</string>
		<key>latitude</key>
		<real>22.690570999999998</real>
		<key>longitude</key>
		<real>58.533371000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1263824</string>
		<key>latitude</key>
		<real>22.829999999999998</real>
		<key>longitude</key>
		<real>69.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289415</string>
		<key>latitude</key>
		<real>22.383880999999999</real>
		<key>longitude</key>
		<real>58.213248999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1258098</string>
		<key>latitude</key>
		<real>23.199999999999999</real>
		<key>longitude</key>
		<real>69.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1262497</string>
		<key>latitude</key>
		<real>22.850000000000001</real>
		<key>longitude</key>
		<real>69.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1275812</string>
		<key>latitude</key>
		<real>23.27</real>
		<key>longitude</key>
		<real>69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411740</string>
		<key>latitude</key>
		<real>23.5</real>
		<key>longitude</key>
		<real>58.516669999999998</real>
	</dict>
</array>
</plist>
