<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>63344</string>
		<key>latitude</key>
		<real>2.7603</real>
		<key>longitude</key>
		<real>46.322201</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>62788</string>
		<key>latitude</key>
		<real>3.8487800000000001</real>
		<key>longitude</key>
		<real>47.180641000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>51967</string>
		<key>latitude</key>
		<real>3</real>
		<key>longitude</key>
		<real>46</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64833</string>
		<key>latitude</key>
		<real>2.1166700000000001</real>
		<key>longitude</key>
		<real>45.400002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56335</string>
		<key>latitude</key>
		<real>2.7808700000000002</real>
		<key>longitude</key>
		<real>45.500481000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>54460</string>
		<key>latitude</key>
		<real>2.9725999999999999</real>
		<key>longitude</key>
		<real>45.534697999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>53654</string>
		<key>latitude</key>
		<real>2.0371100000000002</real>
		<key>longitude</key>
		<real>45.34375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>50064</string>
		<key>latitude</key>
		<real>4.6543999999999999</real>
		<key>longitude</key>
		<real>47.857498</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56414</string>
		<key>latitude</key>
		<real>3.3765999999999998</real>
		<key>longitude</key>
		<real>45.599601999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>65785</string>
		<key>latitude</key>
		<real>2.1381000000000001</real>
		<key>longitude</key>
		<real>45.121200999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>65893</string>
		<key>latitude</key>
		<real>4.3902400000000004</real>
		<key>longitude</key>
		<real>46.372107999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>62821</string>
		<key>latitude</key>
		<real>4.6850100000000001</real>
		<key>longitude</key>
		<real>46.617598999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63689</string>
		<key>latitude</key>
		<real>3.8537499999999998</real>
		<key>longitude</key>
		<real>45.567439999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>59362</string>
		<key>latitude</key>
		<real>5</real>
		<key>longitude</key>
		<real>47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>50672</string>
		<key>latitude</key>
		<real>2.6185</real>
		<key>longitude</key>
		<real>44.893799000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>57060</string>
		<key>latitude</key>
		<real>4</real>
		<key>longitude</key>
		<real>45.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>54225</string>
		<key>latitude</key>
		<real>1.71594</real>
		<key>longitude</key>
		<real>44.771659999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>57000</string>
		<key>latitude</key>
		<real>5.3505000000000003</real>
		<key>longitude</key>
		<real>48.526797999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>52867</string>
		<key>latitude</key>
		<real>1.7878400000000001</real>
		<key>longitude</key>
		<real>44.529991000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>51966</string>
		<key>latitude</key>
		<real>1.8333299999999999</real>
		<key>longitude</key>
		<real>44.416671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>62660</string>
		<key>latitude</key>
		<real>4.4333299999999998</real>
		<key>longitude</key>
		<real>45.083328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>60928</string>
		<key>latitude</key>
		<real>5.5350000000000001</real>
		<key>longitude</key>
		<real>46.386108</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64460</string>
		<key>latitude</key>
		<real>4.73583</real>
		<key>longitude</key>
		<real>45.203609</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>51537</string>
		<key>latitude</key>
		<real>6</real>
		<key>longitude</key>
		<real>48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63571</string>
		<key>latitude</key>
		<real>2.8025699999999998</real>
		<key>longitude</key>
		<real>44.078060000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>51299</string>
		<key>latitude</key>
		<real>4.0189700000000004</real>
		<key>longitude</key>
		<real>44.511119999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64536</string>
		<key>latitude</key>
		<real>3.1138300000000001</real>
		<key>longitude</key>
		<real>43.649799000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64538</string>
		<key>latitude</key>
		<real>3</real>
		<key>longitude</key>
		<real>43.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>49747</string>
		<key>latitude</key>
		<real>4.1212900000000001</real>
		<key>longitude</key>
		<real>43.889449999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>59611</string>
		<key>latitude</key>
		<real>6.7697200000000004</real>
		<key>longitude</key>
		<real>47.430827999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>53707</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>50814</string>
		<key>latitude</key>
		<real>3.80958</real>
		<key>longitude</key>
		<real>43.246281000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56084</string>
		<key>latitude</key>
		<real>1.3333299999999999</real>
		<key>longitude</key>
		<real>42.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56166</string>
		<key>latitude</key>
		<real>0.48829</real>
		<key>longitude</key>
		<real>42.785350999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>60457</string>
		<key>latitude</key>
		<real>1.2531099999999999</real>
		<key>longitude</key>
		<real>42.573768999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63949</string>
		<key>latitude</key>
		<real>1.0833299999999999</real>
		<key>longitude</key>
		<real>42.583328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>52381</string>
		<key>latitude</key>
		<real>1.6279399999999999</real>
		<key>longitude</key>
		<real>42.440658999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>49593</string>
		<key>latitude</key>
		<real>4.5499999999999998</real>
		<key>longitude</key>
		<real>43.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>56399</string>
		<key>latitude</key>
		<real>0.069680000000000006</real>
		<key>longitude</key>
		<real>42.744968</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>54715</string>
		<key>latitude</key>
		<real>3.7937599999999998</real>
		<key>longitude</key>
		<real>42.544497999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>336259</string>
		<key>latitude</key>
		<real>5.8872200000000001</real>
		<key>longitude</key>
		<real>43.597777999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>55671</string>
		<key>latitude</key>
		<real>-0.35816999999999999</real>
		<key>longitude</key>
		<real>42.545361</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>333516</string>
		<key>latitude</key>
		<real>6.7400000000000002</real>
		<key>longitude</key>
		<real>44.278061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>444186</string>
		<key>latitude</key>
		<real>7</real>
		<key>longitude</key>
		<real>44</real>
	</dict>
</array>
</plist>
