<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1518062</string>
		<key>latitude</key>
		<real>49.630000000000003</real>
		<key>longitude</key>
		<real>63.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517961</string>
		<key>latitude</key>
		<real>50</real>
		<key>longitude</key>
		<real>65</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523157</string>
		<key>latitude</key>
		<real>50.030000000000001</real>
		<key>longitude</key>
		<real>65.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521671</string>
		<key>latitude</key>
		<real>51.5</real>
		<key>longitude</key>
		<real>64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524606</string>
		<key>latitude</key>
		<real>51.100000000000001</real>
		<key>longitude</key>
		<real>66.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526193</string>
		<key>latitude</key>
		<real>50.25</real>
		<key>longitude</key>
		<real>66.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490501</string>
		<key>latitude</key>
		<real>50.818328999999999</real>
		<key>longitude</key>
		<real>60.851939999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521216</string>
		<key>latitude</key>
		<real>52.159999999999997</real>
		<key>longitude</key>
		<real>63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517136</string>
		<key>latitude</key>
		<real>48.616669000000002</real>
		<key>longitude</key>
		<real>61.266669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517743</string>
		<key>latitude</key>
		<real>48.649999999999999</real>
		<key>longitude</key>
		<real>67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526325</string>
		<key>latitude</key>
		<real>52.399999999999999</real>
		<key>longitude</key>
		<real>64.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524296</string>
		<key>latitude</key>
		<real>51.960000000000001</real>
		<key>longitude</key>
		<real>66.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519924</string>
		<key>latitude</key>
		<real>52.450000000000003</real>
		<key>longitude</key>
		<real>64.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521315</string>
		<key>latitude</key>
		<real>52.539999999999999</real>
		<key>longitude</key>
		<real>62.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522026</string>
		<key>latitude</key>
		<real>52.240000000000002</real>
		<key>longitude</key>
		<real>66.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516593</string>
		<key>latitude</key>
		<real>48.060000000000002</real>
		<key>longitude</key>
		<real>67.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516601</string>
		<key>latitude</key>
		<real>52.190829999999998</real>
		<key>longitude</key>
		<real>61.200561999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>468657</string>
		<key>latitude</key>
		<real>51.033298000000002</real>
		<key>longitude</key>
		<real>59.874198999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520381</string>
		<key>latitude</key>
		<real>52.439999999999998</real>
		<key>longitude</key>
		<real>61.740000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518139</string>
		<key>latitude</key>
		<real>52.68</real>
		<key>longitude</key>
		<real>62.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517020</string>
		<key>latitude</key>
		<real>51.909999999999997</real>
		<key>longitude</key>
		<real>67.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523149</string>
		<key>latitude</key>
		<real>52.670000000000002</real>
		<key>longitude</key>
		<real>65.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>565407</string>
		<key>latitude</key>
		<real>50.758701000000002</real>
		<key>longitude</key>
		<real>59.538601</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518462</string>
		<key>latitude</key>
		<real>52.82</real>
		<key>longitude</key>
		<real>62.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584279</string>
		<key>latitude</key>
		<real>51.522300999999999</real>
		<key>longitude</key>
		<real>59.939602000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519386</string>
		<key>latitude</key>
		<real>52.960000000000001</real>
		<key>longitude</key>
		<real>63.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519843</string>
		<key>latitude</key>
		<real>52.960000000000001</real>
		<key>longitude</key>
		<real>63.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519809</string>
		<key>latitude</key>
		<real>53.009999999999998</real>
		<key>longitude</key>
		<real>63.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516476</string>
		<key>latitude</key>
		<real>48.149999999999999</real>
		<key>longitude</key>
		<real>67.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520692</string>
		<key>latitude</key>
		<real>47.899999999999999</real>
		<key>longitude</key>
		<real>67.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519928</string>
		<key>latitude</key>
		<real>53.170000000000002</real>
		<key>longitude</key>
		<real>63.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526333</string>
		<key>latitude</key>
		<real>53.18</real>
		<key>longitude</key>
		<real>63.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>542133</string>
		<key>latitude</key>
		<real>51.965000000000003</real>
		<key>longitude</key>
		<real>59.896670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526038</string>
		<key>latitude</key>
		<real>51.799999999999997</real>
		<key>longitude</key>
		<real>68.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522867</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521038</string>
		<key>latitude</key>
		<real>53.280000000000001</real>
		<key>longitude</key>
		<real>63.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537909</string>
		<key>latitude</key>
		<real>48.882221000000001</real>
		<key>longitude</key>
		<real>68.807220000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516589</string>
		<key>latitude</key>
		<real>47.780000000000001</real>
		<key>longitude</key>
		<real>67.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508811</string>
		<key>latitude</key>
		<real>52.415278999999998</real>
		<key>longitude</key>
		<real>60.34111</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537541</string>
		<key>latitude</key>
		<real>52.083328000000002</real>
		<key>longitude</key>
		<real>59.724997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>518419</string>
		<key>latitude</key>
		<real>51.362099000000001</real>
		<key>longitude</key>
		<real>59.032299000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519932</string>
		<key>latitude</key>
		<real>53.390000000000001</real>
		<key>longitude</key>
		<real>62.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>518418</string>
		<key>latitude</key>
		<real>51.381000999999998</real>
		<key>longitude</key>
		<real>58.981299999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526265</string>
		<key>latitude</key>
		<real>46.799999</real>
		<key>longitude</key>
		<real>61.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609404</string>
		<key>latitude</key>
		<real>50.250278000000002</real>
		<key>longitude</key>
		<real>58.434719000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608699</string>
		<key>latitude</key>
		<real>51.016392000000003</real>
		<key>longitude</key>
		<real>58.599170999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519277</string>
		<key>latitude</key>
		<real>52.460000000000001</real>
		<key>longitude</key>
		<real>68.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608359</string>
		<key>latitude</key>
		<real>47.833331999999999</real>
		<key>longitude</key>
		<real>59.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521998</string>
		<key>latitude</key>
		<real>51.049999999999997</real>
		<key>longitude</key>
		<real>69.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1535379</string>
		<key>latitude</key>
		<real>53.200000000000003</real>
		<key>longitude</key>
		<real>66.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>514734</string>
		<key>latitude</key>
		<real>51.204867999999998</real>
		<key>longitude</key>
		<real>58.566848999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>504651</string>
		<key>latitude</key>
		<real>52.206389999999999</real>
		<key>longitude</key>
		<real>59.324168999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524809</string>
		<key>latitude</key>
		<real>53.280000000000001</real>
		<key>longitude</key>
		<real>66.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538638</string>
		<key>latitude</key>
		<real>53.011799000000003</real>
		<key>longitude</key>
		<real>60.568401000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504317</string>
		<key>latitude</key>
		<real>53.052219000000001</real>
		<key>longitude</key>
		<real>60.646670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610416</string>
		<key>latitude</key>
		<real>50.559441</real>
		<key>longitude</key>
		<real>58.274718999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1524282</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>62.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>563471</string>
		<key>latitude</key>
		<real>51.744498999999998</real>
		<key>longitude</key>
		<real>58.793399999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1537911</string>
		<key>latitude</key>
		<real>50.363892</real>
		<key>longitude</key>
		<real>69.799171000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504355</string>
		<key>latitude</key>
		<real>53.216670999999998</real>
		<key>longitude</key>
		<real>60.849997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525771</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>62.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>517836</string>
		<key>latitude</key>
		<real>51.203010999999996</real>
		<key>longitude</key>
		<real>58.326649000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>561731</string>
		<key>latitude</key>
		<real>51.469999999999999</real>
		<key>longitude</key>
		<real>58.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525121</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>64.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520178</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>62.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583731</string>
		<key>latitude</key>
		<real>51.25</real>
		<key>longitude</key>
		<real>58.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487764</string>
		<key>latitude</key>
		<real>53.381939000000003</real>
		<key>longitude</key>
		<real>60.974719999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610331</string>
		<key>latitude</key>
		<real>48.459442000000003</real>
		<key>longitude</key>
		<real>58.551388000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525809</string>
		<key>latitude</key>
		<real>52.520000000000003</real>
		<key>longitude</key>
		<real>68.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>607639</string>
		<key>latitude</key>
		<real>47.533329000000002</real>
		<key>longitude</key>
		<real>59.400002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522348</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>62.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517643</string>
		<key>latitude</key>
		<real>46.5</real>
		<key>longitude</key>
		<real>61.216670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>518246</string>
		<key>latitude</key>
		<real>51.5</real>
		<key>longitude</key>
		<real>58.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526059</string>
		<key>latitude</key>
		<real>51.528331999999999</real>
		<key>longitude</key>
		<real>69.797218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609924</string>
		<key>latitude</key>
		<real>48.826388999999999</real>
		<key>longitude</key>
		<real>58.144168999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518009</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>66.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518003</string>
		<key>latitude</key>
		<real>51.5</real>
		<key>longitude</key>
		<real>70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495561</string>
		<key>latitude</key>
		<real>53.297401000000001</real>
		<key>longitude</key>
		<real>60.100498000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583509</string>
		<key>latitude</key>
		<real>51.859999999999999</real>
		<key>longitude</key>
		<real>58.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>498729</string>
		<key>latitude</key>
		<real>51.380000000000003</real>
		<key>longitude</key>
		<real>57.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517410</string>
		<key>latitude</key>
		<real>53.289999999999999</real>
		<key>longitude</key>
		<real>68.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>570813</string>
		<key>latitude</key>
		<real>51.960000000000001</real>
		<key>longitude</key>
		<real>58.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509955</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>61.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608679</string>
		<key>latitude</key>
		<real>49.474442000000003</real>
		<key>longitude</key>
		<real>57.423327999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>528109</string>
		<key>latitude</key>
		<real>51.409999999999997</real>
		<key>longitude</key>
		<real>57.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610658</string>
		<key>latitude</key>
		<real>49.899999999999999</real>
		<key>longitude</key>
		<real>57.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493160</string>
		<key>latitude</key>
		<real>52.718060000000001</real>
		<key>longitude</key>
		<real>58.665829000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610768</string>
		<key>latitude</key>
		<real>49.659999999999997</real>
		<key>longitude</key>
		<real>57.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517539</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>64.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516789</string>
		<key>latitude</key>
		<real>45.850000000000001</real>
		<key>longitude</key>
		<real>62.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517047</string>
		<key>latitude</key>
		<real>52.909999999999997</real>
		<key>longitude</key>
		<real>69.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507926</string>
		<key>latitude</key>
		<real>53.811110999999997</real>
		<key>longitude</key>
		<real>60.653331999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522545</string>
		<key>latitude</key>
		<real>46.25</real>
		<key>longitude</key>
		<real>60.733330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538316</string>
		<key>latitude</key>
		<real>45.670000000000002</real>
		<key>longitude</key>
		<real>63.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610611</string>
		<key>latitude</key>
		<real>50.280000000000001</real>
		<key>longitude</key>
		<real>57.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489246</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>61.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608506</string>
		<key>latitude</key>
		<real>49.990000000000002</real>
		<key>longitude</key>
		<real>57.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>578535</string>
		<key>latitude</key>
		<real>52.469999999999999</real>
		<key>longitude</key>
		<real>58.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>562878</string>
		<key>latitude</key>
		<real>53.520198999999998</real>
		<key>longitude</key>
		<real>59.811698999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>578534</string>
		<key>latitude</key>
		<real>52.590000000000003</real>
		<key>longitude</key>
		<real>58.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521368</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>63.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609912</string>
		<key>latitude</key>
		<real>50.329999999999998</real>
		<key>longitude</key>
		<real>57.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610688</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519385</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>67.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522862</string>
		<key>latitude</key>
		<real>45.759999999999998</real>
		<key>longitude</key>
		<real>62.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523998</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>65.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>607681</string>
		<key>latitude</key>
		<real>48.548060999999997</real>
		<key>longitude</key>
		<real>57.560279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>538138</string>
		<key>latitude</key>
		<real>51.479999999999997</real>
		<key>longitude</key>
		<real>57.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608195</string>
		<key>latitude</key>
		<real>48.233333999999999</real>
		<key>longitude</key>
		<real>57.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>607706</string>
		<key>latitude</key>
		<real>47.066665999999998</real>
		<key>longitude</key>
		<real>58.933334000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584051</string>
		<key>latitude</key>
		<real>53.297297999999998</real>
		<key>longitude</key>
		<real>59.134799999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532249</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>68.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484943</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>64.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489137</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>63.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516519</string>
		<key>latitude</key>
		<real>45.490000000000002</real>
		<key>longitude</key>
		<real>64.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1535595</string>
		<key>latitude</key>
		<real>53.049999999999997</real>
		<key>longitude</key>
		<real>69.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525999</string>
		<key>latitude</key>
		<real>46.266666000000001</real>
		<key>longitude</key>
		<real>60.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608036</string>
		<key>latitude</key>
		<real>49.140000000000001</real>
		<key>longitude</key>
		<real>57.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508290</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>60.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499676</string>
		<key>latitude</key>
		<real>54.016669999999998</real>
		<key>longitude</key>
		<real>60.533329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526887</string>
		<key>latitude</key>
		<real>46.265278000000002</real>
		<key>longitude</key>
		<real>60.087775999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520601</string>
		<key>latitude</key>
		<real>51.672218000000001</real>
		<key>longitude</key>
		<real>70.730827000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>532288</string>
		<key>latitude</key>
		<real>53.418610000000001</real>
		<key>longitude</key>
		<real>59.047218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610513</string>
		<key>latitude</key>
		<real>46.716667000000001</real>
		<key>longitude</key>
		<real>59.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518019</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>66.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>480704</string>
		<key>latitude</key>
		<real>52.890000000000001</real>
		<key>longitude</key>
		<real>58.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608270</string>
		<key>latitude</key>
		<real>48.590000000000003</real>
		<key>longitude</key>
		<real>57.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517185</string>
		<key>latitude</key>
		<real>52.016666000000001</real>
		<key>longitude</key>
		<real>70.699996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609991</string>
		<key>latitude</key>
		<real>47.766666000000001</real>
		<key>longitude</key>
		<real>57.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>462626</string>
		<key>latitude</key>
		<real>52.229999999999997</real>
		<key>longitude</key>
		<real>57.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522203</string>
		<key>latitude</key>
		<real>53.280000000000001</real>
		<key>longitude</key>
		<real>69.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493691</string>
		<key>latitude</key>
		<real>54.649999999999999</real>
		<key>longitude</key>
		<real>64.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609440</string>
		<key>latitude</key>
		<real>48.600000000000001</real>
		<key>longitude</key>
		<real>57.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517243</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>69.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>497672</string>
		<key>latitude</key>
		<real>53.389598999999997</real>
		<key>longitude</key>
		<real>58.694901000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487933</string>
		<key>latitude</key>
		<real>54.439999999999998</real>
		<key>longitude</key>
		<real>61.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519050</string>
		<key>latitude</key>
		<real>51.700561999999998</real>
		<key>longitude</key>
		<real>70.999442999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1544605</string>
		<key>latitude</key>
		<real>54.335659</real>
		<key>longitude</key>
		<real>60.899760999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1544606</string>
		<key>latitude</key>
		<real>54.327229000000003</real>
		<key>longitude</key>
		<real>60.867320999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>483650</string>
		<key>latitude</key>
		<real>52.990000000000002</real>
		<key>longitude</key>
		<real>58.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485634</string>
		<key>latitude</key>
		<real>54.439999999999998</real>
		<key>longitude</key>
		<real>61.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523232</string>
		<key>latitude</key>
		<real>52.633330999999998</real>
		<key>longitude</key>
		<real>70.349997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517529</string>
		<key>latitude</key>
		<real>45.716667000000001</real>
		<key>longitude</key>
		<real>60.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>580584</string>
		<key>latitude</key>
		<real>53.340000000000003</real>
		<key>longitude</key>
		<real>58.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608317</string>
		<key>latitude</key>
		<real>46.283332999999999</real>
		<key>longitude</key>
		<real>59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526460</string>
		<key>latitude</key>
		<real>53.103062000000001</real>
		<key>longitude</key>
		<real>69.853333000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526797</string>
		<key>latitude</key>
		<real>53.289999999999999</real>
		<key>longitude</key>
		<real>69.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522949</string>
		<key>latitude</key>
		<real>45.666668000000001</real>
		<key>longitude</key>
		<real>60.983333999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494907</string>
		<key>latitude</key>
		<real>54.369140999999999</real>
		<key>longitude</key>
		<real>60.813609999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521230</string>
		<key>latitude</key>
		<real>52.629168999999997</real>
		<key>longitude</key>
		<real>70.416938999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526443</string>
		<key>latitude</key>
		<real>51.997779999999999</real>
		<key>longitude</key>
		<real>70.934173999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516673</string>
		<key>latitude</key>
		<real>52.799999</real>
		<key>longitude</key>
		<real>70.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519244</string>
		<key>latitude</key>
		<real>52.933334000000002</real>
		<key>longitude</key>
		<real>70.199996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609191</string>
		<key>latitude</key>
		<real>48.130000000000003</real>
		<key>longitude</key>
		<real>57.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>475463</string>
		<key>latitude</key>
		<real>53.876942</real>
		<key>longitude</key>
		<real>59.210560000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520879</string>
		<key>latitude</key>
		<real>53.228329000000002</real>
		<key>longitude</key>
		<real>69.885002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519935</string>
		<key>latitude</key>
		<real>48.007778000000002</real>
		<key>longitude</key>
		<real>70.790283000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>562449</string>
		<key>latitude</key>
		<real>53.889172000000002</real>
		<key>longitude</key>
		<real>59.198329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502112</string>
		<key>latitude</key>
		<real>54.600000000000001</real>
		<key>longitude</key>
		<real>61.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608281</string>
		<key>latitude</key>
		<real>47.18</real>
		<key>longitude</key>
		<real>57.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1544584</string>
		<key>latitude</key>
		<real>54.345280000000002</real>
		<key>longitude</key>
		<real>60.018059000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525126</string>
		<key>latitude</key>
		<real>53.083820000000003</real>
		<key>longitude</key>
		<real>70.313789</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583781</string>
		<key>latitude</key>
		<real>54.207901</real>
		<key>longitude</key>
		<real>59.601700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>526247</string>
		<key>latitude</key>
		<real>53.999699</real>
		<key>longitude</key>
		<real>59.106400000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1544583</string>
		<key>latitude</key>
		<real>54.377499</real>
		<key>longitude</key>
		<real>60.004719000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502280</string>
		<key>latitude</key>
		<real>54.652240999999997</real>
		<key>longitude</key>
		<real>60.904899999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527237</string>
		<key>latitude</key>
		<real>54.146388999999999</real>
		<key>longitude</key>
		<real>59.373610999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522809</string>
		<key>latitude</key>
		<real>53.840000000000003</real>
		<key>longitude</key>
		<real>69.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520051</string>
		<key>latitude</key>
		<real>54.670000000000002</real>
		<key>longitude</key>
		<real>67.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608967</string>
		<key>latitude</key>
		<real>48.200000000000003</real>
		<key>longitude</key>
		<real>56.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608455</string>
		<key>latitude</key>
		<real>48.149999999999999</real>
		<key>longitude</key>
		<real>56.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610376</string>
		<key>latitude</key>
		<real>48.100000000000001</real>
		<key>longitude</key>
		<real>56.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584329</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>58.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518768</string>
		<key>latitude</key>
		<real>52.833888999999999</real>
		<key>longitude</key>
		<real>70.780281000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>488618</string>
		<key>latitude</key>
		<real>53.100000000000001</real>
		<key>longitude</key>
		<real>57.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>479704</string>
		<key>latitude</key>
		<real>54.299599000000001</real>
		<key>longitude</key>
		<real>59.452098999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>523137</string>
		<key>latitude</key>
		<real>54.109999999999999</real>
		<key>longitude</key>
		<real>59.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1520859</string>
		<key>latitude</key>
		<real>53.738059999999997</real>
		<key>longitude</key>
		<real>69.711387999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517305</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>68.459999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>526489</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>58.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>534313</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>58.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522035</string>
		<key>latitude</key>
		<real>53.847777999999998</real>
		<key>longitude</key>
		<real>69.763892999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>577881</string>
		<key>latitude</key>
		<real>53.960000000000001</real>
		<key>longitude</key>
		<real>58.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>475206</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>57.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>482761</string>
		<key>latitude</key>
		<real>54.210000000000001</real>
		<key>longitude</key>
		<real>58.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>498411</string>
		<key>latitude</key>
		<real>53.93</real>
		<key>longitude</key>
		<real>58.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1519367</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>70</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517310</string>
		<key>latitude</key>
		<real>53.950001</real>
		<key>longitude</key>
		<real>70.283332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>480637</string>
		<key>latitude</key>
		<real>53.840000000000003</real>
		<key>longitude</key>
		<real>57.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518936</string>
		<key>latitude</key>
		<real>54.512501</real>
		<key>longitude</key>
		<real>69.422218000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>479844</string>
		<key>latitude</key>
		<real>54.609999999999999</real>
		<key>longitude</key>
		<real>58.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556279</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1523400</string>
		<key>latitude</key>
		<real>54.666671999999998</real>
		<key>longitude</key>
		<real>71.051392000000007</real>
	</dict>
</array>
</plist>
