<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5342381</string>
		<key>latitude</key>
		<real>36.590000000000003</real>
		<key>longitude</key>
		<real>-121.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5334320</string>
		<key>latitude</key>
		<real>36.560000000000002</real>
		<key>longitude</key>
		<real>-121.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5354812</string>
		<key>latitude</key>
		<real>36.539999999999999</real>
		<key>longitude</key>
		<real>-121.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5380437</string>
		<key>latitude</key>
		<real>36.619999999999997</real>
		<key>longitude</key>
		<real>-121.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5374361</string>
		<key>latitude</key>
		<real>36.600000000000001</real>
		<key>longitude</key>
		<real>-121.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330003</string>
		<key>latitude</key>
		<real>37.039999999999999</real>
		<key>longitude</key>
		<real>-122.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5394136</string>
		<key>latitude</key>
		<real>36.609999999999999</real>
		<key>longitude</key>
		<real>-121.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5342441</string>
		<key>latitude</key>
		<real>36.590000000000003</real>
		<key>longitude</key>
		<real>-121.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5334312</string>
		<key>latitude</key>
		<real>36.509999999999998</real>
		<key>longitude</key>
		<real>-121.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5374222</string>
		<key>latitude</key>
		<real>37.539999999999999</real>
		<key>longitude</key>
		<real>-122.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5375034</string>
		<key>latitude</key>
		<real>37.530000000000001</real>
		<key>longitude</key>
		<real>-122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345716</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>-122.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5354943</string>
		<key>latitude</key>
		<real>37.460000000000001</real>
		<key>longitude</key>
		<real>-122.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393052</string>
		<key>latitude</key>
		<real>36.969999999999999</real>
		<key>longitude</key>
		<real>-122.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5386938</string>
		<key>latitude</key>
		<real>37.310000000000002</real>
		<key>longitude</key>
		<real>-122.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5347903</string>
		<key>latitude</key>
		<real>37.049999999999997</real>
		<key>longitude</key>
		<real>-122.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5381421</string>
		<key>latitude</key>
		<real>37</real>
		<key>longitude</key>
		<real>-122.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330938</string>
		<key>latitude</key>
		<real>37.109999999999999</real>
		<key>longitude</key>
		<real>-122.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5327522</string>
		<key>latitude</key>
		<real>37.090000000000003</real>
		<key>longitude</key>
		<real>-122.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5375187</string>
		<key>latitude</key>
		<real>37.049999999999997</real>
		<key>longitude</key>
		<real>-122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330222</string>
		<key>latitude</key>
		<real>37.130000000000003</real>
		<key>longitude</key>
		<real>-122.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5404274</string>
		<key>latitude</key>
		<real>36.969999999999999</real>
		<key>longitude</key>
		<real>-122</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5370493</string>
		<key>latitude</key>
		<real>36.68</real>
		<key>longitude</key>
		<real>-121.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393068</string>
		<key>latitude</key>
		<real>37.07</real>
		<key>longitude</key>
		<real>-122.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5367314</string>
		<key>latitude</key>
		<real>36.979999999999997</real>
		<key>longitude</key>
		<real>-121.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392427</string>
		<key>latitude</key>
		<real>37.450000000000003</real>
		<key>longitude</key>
		<real>-122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5379475</string>
		<key>latitude</key>
		<real>36.960000000000001</real>
		<key>longitude</key>
		<real>-121.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5380420</string>
		<key>latitude</key>
		<real>37.609999999999999</real>
		<key>longitude</key>
		<real>-122.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393971</string>
		<key>latitude</key>
		<real>37.049999999999997</real>
		<key>longitude</key>
		<real>-122.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5367785</string>
		<key>latitude</key>
		<real>37.109999999999999</real>
		<key>longitude</key>
		<real>-122.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5397166</string>
		<key>latitude</key>
		<real>36.990000000000002</real>
		<key>longitude</key>
		<real>-121.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5334096</string>
		<key>latitude</key>
		<real>36.979999999999997</real>
		<key>longitude</key>
		<real>-121.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5384478</string>
		<key>latitude</key>
		<real>37.380000000000003</real>
		<key>longitude</key>
		<real>-122.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5394076</string>
		<key>latitude</key>
		<real>36.969999999999999</real>
		<key>longitude</key>
		<real>-121.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7261437</string>
		<key>latitude</key>
		<real>37.520000000000003</real>
		<key>longitude</key>
		<real>-122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5387673</string>
		<key>latitude</key>
		<real>36.969999999999999</real>
		<key>longitude</key>
		<real>-121.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5357155</string>
		<key>latitude</key>
		<real>37.57</real>
		<key>longitude</key>
		<real>-122.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5324400</string>
		<key>latitude</key>
		<real>36.979999999999997</real>
		<key>longitude</key>
		<real>-121.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5334937</string>
		<key>latitude</key>
		<real>36.770000000000003</real>
		<key>longitude</key>
		<real>-121.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410535</string>
		<key>latitude</key>
		<real>37.43</real>
		<key>longitude</key>
		<real>-122.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5346413</string>
		<key>latitude</key>
		<real>37.460000000000001</real>
		<key>longitude</key>
		<real>-122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330854</string>
		<key>latitude</key>
		<real>37.689999999999998</real>
		<key>longitude</key>
		<real>-122.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5364104</string>
		<key>latitude</key>
		<real>36.939999999999998</real>
		<key>longitude</key>
		<real>-121.86</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5373129</string>
		<key>latitude</key>
		<real>37.600000000000001</real>
		<key>longitude</key>
		<real>-122.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5331920</string>
		<key>latitude</key>
		<real>37.579999999999998</real>
		<key>longitude</key>
		<real>-122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5338703</string>
		<key>latitude</key>
		<real>37.68</real>
		<key>longitude</key>
		<real>-122.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5391749</string>
		<key>latitude</key>
		<real>37.630000000000003</real>
		<key>longitude</key>
		<real>-122.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5364192</string>
		<key>latitude</key>
		<real>37.399999999999999</real>
		<key>longitude</key>
		<real>-122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5329830</string>
		<key>latitude</key>
		<real>37.909999999999997</real>
		<key>longitude</key>
		<real>-122.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392423</string>
		<key>latitude</key>
		<real>37.560000000000002</real>
		<key>longitude</key>
		<real>-122.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5397765</string>
		<key>latitude</key>
		<real>37.649999999999999</real>
		<key>longitude</key>
		<real>-122.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5341430</string>
		<key>latitude</key>
		<real>37.710000000000001</real>
		<key>longitude</key>
		<real>-122.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5327455</string>
		<key>latitude</key>
		<real>37.520000000000003</real>
		<key>longitude</key>
		<real>-122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5408132</string>
		<key>latitude</key>
		<real>37.43</real>
		<key>longitude</key>
		<real>-122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7260801</string>
		<key>latitude</key>
		<real>36.960000000000001</real>
		<key>longitude</key>
		<real>-121.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5391760</string>
		<key>latitude</key>
		<real>37.509999999999998</real>
		<key>longitude</key>
		<real>-122.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5386834</string>
		<key>latitude</key>
		<real>37.490000000000002</real>
		<key>longitude</key>
		<real>-122.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5366107</string>
		<key>latitude</key>
		<real>37.159999999999997</real>
		<key>longitude</key>
		<real>-121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5359595</string>
		<key>latitude</key>
		<real>38.100000000000001</real>
		<key>longitude</key>
		<real>-122.86</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5368346</string>
		<key>latitude</key>
		<real>37.379662000000003</real>
		<key>longitude</key>
		<real>-122.13745900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5398563</string>
		<key>latitude</key>
		<real>37.420000000000002</real>
		<key>longitude</key>
		<real>-122.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5325147</string>
		<key>latitude</key>
		<real>37.460000000000001</real>
		<key>longitude</key>
		<real>-122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330810</string>
		<key>latitude</key>
		<real>37.68</real>
		<key>longitude</key>
		<real>-122.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5369114</string>
		<key>latitude</key>
		<real>37.351329999999997</real>
		<key>longitude</key>
		<real>-122.100517</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5377389</string>
		<key>latitude</key>
		<real>37.469999999999999</real>
		<key>longitude</key>
		<real>-122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5341789</string>
		<key>latitude</key>
		<real>37.039999999999999</real>
		<key>longitude</key>
		<real>-121.86</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5372223</string>
		<key>latitude</key>
		<real>37.450000000000003</real>
		<key>longitude</key>
		<real>-122.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393485</string>
		<key>latitude</key>
		<real>37.263827999999997</real>
		<key>longitude</key>
		<real>-122.02301</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5370371</string>
		<key>latitude</key>
		<real>38.140000000000001</real>
		<key>longitude</key>
		<real>-122.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5350159</string>
		<key>latitude</key>
		<real>37.560000000000002</real>
		<key>longitude</key>
		<real>-122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5407529</string>
		<key>latitude</key>
		<real>36.909999999999997</real>
		<key>longitude</key>
		<real>-121.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5350678</string>
		<key>latitude</key>
		<real>36.939999999999998</real>
		<key>longitude</key>
		<real>-121.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5368335</string>
		<key>latitude</key>
		<real>37.385219999999997</real>
		<key>longitude</key>
		<real>-122.11412799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5339749</string>
		<key>latitude</key>
		<real>36.990000000000002</real>
		<key>longitude</key>
		<real>-121.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5374283</string>
		<key>latitude</key>
		<real>37.240000000000002</real>
		<key>longitude</key>
		<real>-121.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5323781</string>
		<key>latitude</key>
		<real>36.960000000000001</real>
		<key>longitude</key>
		<real>-121.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5391997</string>
		<key>latitude</key>
		<real>37.770000000000003</real>
		<key>longitude</key>
		<real>-122.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5368518</string>
		<key>latitude</key>
		<real>37.229999999999997</real>
		<key>longitude</key>
		<real>-121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5380748</string>
		<key>latitude</key>
		<real>37.439999999999998</real>
		<key>longitude</key>
		<real>-122.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5375480</string>
		<key>latitude</key>
		<real>37.386051000000002</real>
		<key>longitude</key>
		<real>-122.08384700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5341145</string>
		<key>latitude</key>
		<real>37.323002000000002</real>
		<key>longitude</key>
		<real>-122.03218099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262659</string>
		<key>latitude</key>
		<real>37.880000000000003</real>
		<key>longitude</key>
		<real>-122.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7261578</string>
		<key>latitude</key>
		<real>38.020000000000003</real>
		<key>longitude</key>
		<real>-122.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5391959</string>
		<key>latitude</key>
		<real>37.770000000000003</real>
		<key>longitude</key>
		<real>-122.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345032</string>
		<key>latitude</key>
		<real>37.469999999999999</real>
		<key>longitude</key>
		<real>-122.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5329735</string>
		<key>latitude</key>
		<real>38.329999999999998</real>
		<key>longitude</key>
		<real>-123.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5370468</string>
		<key>latitude</key>
		<real>38.07</real>
		<key>longitude</key>
		<real>-122.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5370464</string>
		<key>latitude</key>
		<real>37.869999999999997</real>
		<key>longitude</key>
		<real>-122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5389292</string>
		<key>latitude</key>
		<real>37.469999999999999</real>
		<key>longitude</key>
		<real>-122.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5386335</string>
		<key>latitude</key>
		<real>37.476329999999997</real>
		<key>longitude</key>
		<real>-122.135239</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393611</string>
		<key>latitude</key>
		<real>37.859999999999999</real>
		<key>longitude</key>
		<real>-122.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410338</string>
		<key>latitude</key>
		<real>38.009999999999998</real>
		<key>longitude</key>
		<real>-122.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5400075</string>
		<key>latitude</key>
		<real>37.368831999999998</real>
		<key>longitude</key>
		<real>-122.03634599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5373121</string>
		<key>latitude</key>
		<real>37.909999999999997</real>
		<key>longitude</key>
		<real>-122.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5399319</string>
		<key>latitude</key>
		<real>37.899999999999999</real>
		<key>longitude</key>
		<real>-122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5333219</string>
		<key>latitude</key>
		<real>37.259999999999998</real>
		<key>longitude</key>
		<real>-121.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5365113</string>
		<key>latitude</key>
		<real>37.93</real>
		<key>longitude</key>
		<real>-122.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5333689</string>
		<key>latitude</key>
		<real>37.287170000000003</real>
		<key>longitude</key>
		<real>-121.94995900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5362864</string>
		<key>latitude</key>
		<real>37.950000000000003</real>
		<key>longitude</key>
		<real>-122.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5339766</string>
		<key>latitude</key>
		<real>37.93</real>
		<key>longitude</key>
		<real>-122.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5347322</string>
		<key>latitude</key>
		<real>37.990000000000002</real>
		<key>longitude</key>
		<real>-122.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5327490</string>
		<key>latitude</key>
		<real>37.869999999999997</real>
		<key>longitude</key>
		<real>-122.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5402535</string>
		<key>latitude</key>
		<real>37.869999999999997</real>
		<key>longitude</key>
		<real>-122.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5388907</string>
		<key>latitude</key>
		<real>37.960000000000001</real>
		<key>longitude</key>
		<real>-122.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5391615</string>
		<key>latitude</key>
		<real>37.969999999999999</real>
		<key>longitude</key>
		<real>-122.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5396422</string>
		<key>latitude</key>
		<real>38.009999999999998</real>
		<key>longitude</key>
		<real>-122.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392567</string>
		<key>latitude</key>
		<real>37.969999999999999</real>
		<key>longitude</key>
		<real>-122.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5331836</string>
		<key>latitude</key>
		<real>37.323279999999997</real>
		<key>longitude</key>
		<real>-121.931618</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393015</string>
		<key>latitude</key>
		<real>37.354111000000003</real>
		<key>longitude</key>
		<real>-121.95523799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5331587</string>
		<key>latitude</key>
		<real>37.32</real>
		<key>longitude</key>
		<real>-121.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7261199</string>
		<key>latitude</key>
		<real>38.039999999999999</real>
		<key>longitude</key>
		<real>-122.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393384</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>-122.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5323631</string>
		<key>latitude</key>
		<real>37.43</real>
		<key>longitude</key>
		<real>-121.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5394063</string>
		<key>latitude</key>
		<real>38.719999999999999</real>
		<key>longitude</key>
		<real>-123.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5351414</string>
		<key>latitude</key>
		<real>38.020000000000003</real>
		<key>longitude</key>
		<real>-122.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392171</string>
		<key>latitude</key>
		<real>37.340000000000003</real>
		<key>longitude</key>
		<real>-121.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5376803</string>
		<key>latitude</key>
		<real>37.529659000000002</real>
		<key>longitude</key>
		<real>-122.040237</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5394588</string>
		<key>latitude</key>
		<real>37.289999999999999</real>
		<key>longitude</key>
		<real>-121.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5404395</string>
		<key>latitude</key>
		<real>38.270000000000003</real>
		<key>longitude</key>
		<real>-122.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5389342</string>
		<key>latitude</key>
		<real>37.652709999999999</real>
		<key>longitude</key>
		<real>-122.133583</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5378538</string>
		<key>latitude</key>
		<real>37.799999999999997</real>
		<key>longitude</key>
		<real>-122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5322737</string>
		<key>latitude</key>
		<real>37.770000000000003</real>
		<key>longitude</key>
		<real>-122.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5326526</string>
		<key>latitude</key>
		<real>37.62077</real>
		<key>longitude</key>
		<real>-122.10024300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5378692</string>
		<key>latitude</key>
		<real>38.409999999999997</real>
		<key>longitude</key>
		<real>-122.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5346462</string>
		<key>latitude</key>
		<real>37.829999999999998</real>
		<key>longitude</key>
		<real>-122.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393021</string>
		<key>latitude</key>
		<real>37.229999999999997</real>
		<key>longitude</key>
		<real>-121.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330943</string>
		<key>latitude</key>
		<real>37.740000000000002</real>
		<key>longitude</key>
		<real>-122.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5378044</string>
		<key>latitude</key>
		<real>38.109999999999999</real>
		<key>longitude</key>
		<real>-122.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5374275</string>
		<key>latitude</key>
		<real>38.469999999999999</real>
		<key>longitude</key>
		<real>-123.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5373327</string>
		<key>latitude</key>
		<real>37.43</real>
		<key>longitude</key>
		<real>-121.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392263</string>
		<key>latitude</key>
		<real>37.719999999999999</real>
		<key>longitude</key>
		<real>-122.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392281</string>
		<key>latitude</key>
		<real>37.68</real>
		<key>longitude</key>
		<real>-122.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5350734</string>
		<key>latitude</key>
		<real>37.548271</real>
		<key>longitude</key>
		<real>-121.98857099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5336190</string>
		<key>latitude</key>
		<real>37.679378999999997</real>
		<key>longitude</key>
		<real>-122.103302</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5325011</string>
		<key>latitude</key>
		<real>37.689999999999998</real>
		<key>longitude</key>
		<real>-122.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5322850</string>
		<key>latitude</key>
		<real>37.890000000000001</real>
		<key>longitude</key>
		<real>-122.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5382514</string>
		<key>latitude</key>
		<real>37.82</real>
		<key>longitude</key>
		<real>-122.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5387428</string>
		<key>latitude</key>
		<real>37.939999999999998</real>
		<key>longitude</key>
		<real>-122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5377775</string>
		<key>latitude</key>
		<real>37.960000000000001</real>
		<key>longitude</key>
		<real>-122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5404555</string>
		<key>latitude</key>
		<real>37.595771999999997</real>
		<key>longitude</key>
		<real>-122.019127</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5404554</string>
		<key>latitude</key>
		<real>37.595829000000002</real>
		<key>longitude</key>
		<real>-122.01917299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5323566</string>
		<key>latitude</key>
		<real>37.369999999999997</real>
		<key>longitude</key>
		<real>-121.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5355933</string>
		<key>latitude</key>
		<real>37.668818999999999</real>
		<key>longitude</key>
		<real>-122.080803</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5327684</string>
		<key>latitude</key>
		<real>37.869999999999997</real>
		<key>longitude</key>
		<real>-122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5354655</string>
		<key>latitude</key>
		<real>38.5</real>
		<key>longitude</key>
		<real>-123</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5331874</string>
		<key>latitude</key>
		<real>38.159999999999997</real>
		<key>longitude</key>
		<real>-122.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5334928</string>
		<key>latitude</key>
		<real>37.689999999999998</real>
		<key>longitude</key>
		<real>-122.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345623</string>
		<key>latitude</key>
		<real>37.920000000000002</real>
		<key>longitude</key>
		<real>-122.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392508</string>
		<key>latitude</key>
		<real>37.960000000000001</real>
		<key>longitude</key>
		<real>-122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5344844</string>
		<key>latitude</key>
		<real>37.380000000000003</real>
		<key>longitude</key>
		<real>-121.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5382232</string>
		<key>latitude</key>
		<real>38.229999999999997</real>
		<key>longitude</key>
		<real>-122.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7260907</string>
		<key>latitude</key>
		<real>38.119999999999997</real>
		<key>longitude</key>
		<real>-122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5362849</string>
		<key>latitude</key>
		<real>37.909999999999997</real>
		<key>longitude</key>
		<real>-122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345063</string>
		<key>latitude</key>
		<real>37.939999999999998</real>
		<key>longitude</key>
		<real>-122.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5388611</string>
		<key>latitude</key>
		<real>37.969999999999999</real>
		<key>longitude</key>
		<real>-122.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5347397</string>
		<key>latitude</key>
		<real>37.678539000000001</real>
		<key>longitude</key>
		<real>-122.045799</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5394165</string>
		<key>latitude</key>
		<real>38.399999999999999</real>
		<key>longitude</key>
		<real>-122.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5353815</string>
		<key>latitude</key>
		<real>38.439999999999998</real>
		<key>longitude</key>
		<real>-122.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5349984</string>
		<key>latitude</key>
		<real>38.469999999999999</real>
		<key>longitude</key>
		<real>-122.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5339865</string>
		<key>latitude</key>
		<real>38.329999999999998</real>
		<key>longitude</key>
		<real>-122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5381932</string>
		<key>latitude</key>
		<real>38.299999999999997</real>
		<key>longitude</key>
		<real>-122.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5401121</string>
		<key>latitude</key>
		<real>37.990000000000002</real>
		<key>longitude</key>
		<real>-122.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5374212</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>-122.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345888</string>
		<key>latitude</key>
		<real>37.979999999999997</real>
		<key>longitude</key>
		<real>-122.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5388564</string>
		<key>latitude</key>
		<real>38.340000000000003</real>
		<key>longitude</key>
		<real>-122.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7176003</string>
		<key>latitude</key>
		<real>38.009999999999998</real>
		<key>longitude</key>
		<real>-122.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5379678</string>
		<key>latitude</key>
		<real>37.880000000000003</real>
		<key>longitude</key>
		<real>-122.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5383187</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>-122.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5374671</string>
		<key>latitude</key>
		<real>37.829999999999998</real>
		<key>longitude</key>
		<real>-122.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5356451</string>
		<key>latitude</key>
		<real>38.020000000000003</real>
		<key>longitude</key>
		<real>-122.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5322745</string>
		<key>latitude</key>
		<real>37.600000000000001</real>
		<key>longitude</key>
		<real>-121.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5397100</string>
		<key>latitude</key>
		<real>38.549999999999997</real>
		<key>longitude</key>
		<real>-122.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5388858</string>
		<key>latitude</key>
		<real>38.420000000000002</real>
		<key>longitude</key>
		<real>-122.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5388467</string>
		<key>latitude</key>
		<real>38.030000000000001</real>
		<key>longitude</key>
		<real>-122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5364226</string>
		<key>latitude</key>
		<real>37.890000000000001</real>
		<key>longitude</key>
		<real>-122.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5344157</string>
		<key>latitude</key>
		<real>37.700000000000003</real>
		<key>longitude</key>
		<real>-121.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393287</string>
		<key>latitude</key>
		<real>38.439999999999998</real>
		<key>longitude</key>
		<real>-122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5395311</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-122.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5393484</string>
		<key>latitude</key>
		<real>37.880000000000003</real>
		<key>longitude</key>
		<real>-122.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5401408</string>
		<key>latitude</key>
		<real>38.270000000000003</real>
		<key>longitude</key>
		<real>-122.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5392593</string>
		<key>latitude</key>
		<real>37.780000000000001</real>
		<key>longitude</key>
		<real>-121.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5383777</string>
		<key>latitude</key>
		<real>37.659999999999997</real>
		<key>longitude</key>
		<real>-121.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410004</string>
		<key>latitude</key>
		<real>38.549999999999997</real>
		<key>longitude</key>
		<real>-122.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5322794</string>
		<key>latitude</key>
		<real>37.850000000000001</real>
		<key>longitude</key>
		<real>-122.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5341531</string>
		<key>latitude</key>
		<real>37.82</real>
		<key>longitude</key>
		<real>-122</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7261625</string>
		<key>latitude</key>
		<real>38.509999999999998</real>
		<key>longitude</key>
		<real>-122.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5354590</string>
		<key>latitude</key>
		<real>38.119999999999997</real>
		<key>longitude</key>
		<real>-122.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345916</string>
		<key>latitude</key>
		<real>38.299999999999997</real>
		<key>longitude</key>
		<real>-122.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5340758</string>
		<key>latitude</key>
		<real>38.049999999999997</real>
		<key>longitude</key>
		<real>-122.20999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5356012</string>
		<key>latitude</key>
		<real>38.609999999999999</real>
		<key>longitude</key>
		<real>-122.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5405380</string>
		<key>latitude</key>
		<real>38.100000000000001</real>
		<key>longitude</key>
		<real>-122.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5406990</string>
		<key>latitude</key>
		<real>37.909999999999997</real>
		<key>longitude</key>
		<real>-122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5397095</string>
		<key>latitude</key>
		<real>38.289999999999999</real>
		<key>longitude</key>
		<real>-122.45999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330427</string>
		<key>latitude</key>
		<real>38.310000000000002</real>
		<key>longitude</key>
		<real>-122.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7261259</string>
		<key>latitude</key>
		<real>38.32</real>
		<key>longitude</key>
		<real>-122.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345044</string>
		<key>latitude</key>
		<real>37.670000000000002</real>
		<key>longitude</key>
		<real>-121.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5406879</string>
		<key>latitude</key>
		<real>37.93</real>
		<key>longitude</key>
		<real>-122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5345990</string>
		<key>latitude</key>
		<real>38.350000000000001</real>
		<key>longitude</key>
		<real>-122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5342970</string>
		<key>latitude</key>
		<real>37.829999999999998</real>
		<key>longitude</key>
		<real>-121.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5375478</string>
		<key>latitude</key>
		<real>38.009999999999998</real>
		<key>longitude</key>
		<real>-122.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5370868</string>
		<key>latitude</key>
		<real>38.020000000000003</real>
		<key>longitude</key>
		<real>-122.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5327550</string>
		<key>latitude</key>
		<real>38.049999999999997</real>
		<key>longitude</key>
		<real>-122.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5383720</string>
		<key>latitude</key>
		<real>37.950000000000003</real>
		<key>longitude</key>
		<real>-122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5380256</string>
		<key>latitude</key>
		<real>37.979999999999997</real>
		<key>longitude</key>
		<real>-122.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5362885</string>
		<key>latitude</key>
		<real>38.409999999999997</real>
		<key>longitude</key>
		<real>-122.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5285214</string>
		<key>latitude</key>
		<real>38.009999999999998</real>
		<key>longitude</key>
		<real>-122.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5323694</string>
		<key>latitude</key>
		<real>38.170000000000002</real>
		<key>longitude</key>
		<real>-122.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5329204</string>
		<key>latitude</key>
		<real>37.82</real>
		<key>longitude</key>
		<real>-121.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5330040</string>
		<key>latitude</key>
		<real>39.009999999999998</real>
		<key>longitude</key>
		<real>-123.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5367440</string>
		<key>latitude</key>
		<real>37.68</real>
		<key>longitude</key>
		<real>-121.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5339111</string>
		<key>latitude</key>
		<real>37.979999999999997</real>
		<key>longitude</key>
		<real>-122.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5338104</string>
		<key>latitude</key>
		<real>38.810000000000002</real>
		<key>longitude</key>
		<real>-123.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5372844</string>
		<key>latitude</key>
		<real>38.210000000000001</real>
		<key>longitude</key>
		<real>-122.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5337841</string>
		<key>latitude</key>
		<real>37.939999999999998</real>
		<key>longitude</key>
		<real>-121.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5339268</string>
		<key>latitude</key>
		<real>37.93</real>
		<key>longitude</key>
		<real>-121.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5376095</string>
		<key>latitude</key>
		<real>38.299999999999997</real>
		<key>longitude</key>
		<real>-122.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5332937</string>
		<key>latitude</key>
		<real>38.579999999999998</real>
		<key>longitude</key>
		<real>-122.58</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410999</string>
		<key>latitude</key>
		<real>38.399999999999999</real>
		<key>longitude</key>
		<real>-122.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5326561</string>
		<key>latitude</key>
		<real>38.030000000000001</real>
		<key>longitude</key>
		<real>-121.95999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5390267</string>
		<key>latitude</key>
		<real>38.509999999999998</real>
		<key>longitude</key>
		<real>-122.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5326563</string>
		<key>latitude</key>
		<real>38.030000000000001</real>
		<key>longitude</key>
		<real>-121.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5354114</string>
		<key>latitude</key>
		<real>38.25</real>
		<key>longitude</key>
		<real>-122.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5342254</string>
		<key>latitude</key>
		<real>38.530000000000001</real>
		<key>longitude</key>
		<real>-122.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5365089</string>
		<key>latitude</key>
		<real>39.020000000000003</real>
		<key>longitude</key>
		<real>-123.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5383465</string>
		<key>latitude</key>
		<real>38.030000000000001</real>
		<key>longitude</key>
		<real>-121.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5406033</string>
		<key>latitude</key>
		<real>38.57</real>
		<key>longitude</key>
		<real>-122.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5376101</string>
		<key>latitude</key>
		<real>38.479999999999997</real>
		<key>longitude</key>
		<real>-122.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5324040</string>
		<key>latitude</key>
		<real>38.579999999999998</real>
		<key>longitude</key>
		<real>-122.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5324200</string>
		<key>latitude</key>
		<real>38</real>
		<key>longitude</key>
		<real>-121.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5399629</string>
		<key>latitude</key>
		<real>38.240000000000002</real>
		<key>longitude</key>
		<real>-122.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5347335</string>
		<key>latitude</key>
		<real>38.25</real>
		<key>longitude</key>
		<real>-122.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5338258</string>
		<key>latitude</key>
		<real>38.82</real>
		<key>longitude</key>
		<real>-122.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5404476</string>
		<key>latitude</key>
		<real>39.149999999999999</real>
		<key>longitude</key>
		<real>-123.20999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5400996</string>
		<key>latitude</key>
		<real>39.130000000000003</real>
		<key>longitude</key>
		<real>-123.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5285018</string>
		<key>latitude</key>
		<real>38.75</real>
		<key>longitude</key>
		<real>-122.61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5396987</string>
		<key>latitude</key>
		<real>38.229999999999997</real>
		<key>longitude</key>
		<real>-121.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5362725</string>
		<key>latitude</key>
		<real>38.979999999999997</real>
		<key>longitude</key>
		<real>-122.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5354651</string>
		<key>latitude</key>
		<real>38.789999999999999</real>
		<key>longitude</key>
		<real>-122.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5364753</string>
		<key>latitude</key>
		<real>39.039999999999999</real>
		<key>longitude</key>
		<real>-122.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5403312</string>
		<key>latitude</key>
		<real>38.270000000000003</real>
		<key>longitude</key>
		<real>-121.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5356767</string>
		<key>latitude</key>
		<real>38.810000000000002</real>
		<key>longitude</key>
		<real>-122.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5396895</string>
		<key>latitude</key>
		<real>39</real>
		<key>longitude</key>
		<real>-122.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5405228</string>
		<key>latitude</key>
		<real>38.359999999999999</real>
		<key>longitude</key>
		<real>-121.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7261991</string>
		<key>latitude</key>
		<real>39.090000000000003</real>
		<key>longitude</key>
		<real>-122.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5386729</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-122.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5406517</string>
		<key>latitude</key>
		<real>38.380000000000003</real>
		<key>longitude</key>
		<real>-121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5368980</string>
		<key>latitude</key>
		<real>38.909999999999997</real>
		<key>longitude</key>
		<real>-122.61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5337908</string>
		<key>latitude</key>
		<real>38.960000000000001</real>
		<key>longitude</key>
		<real>-122.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5376959</string>
		<key>latitude</key>
		<real>39.119999999999997</real>
		<key>longitude</key>
		<real>-122.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5405038</string>
		<key>latitude</key>
		<real>39.159999999999997</real>
		<key>longitude</key>
		<real>-122.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5369144</string>
		<key>latitude</key>
		<real>39.090000000000003</real>
		<key>longitude</key>
		<real>-122.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5355612</string>
		<key>latitude</key>
		<real>38.420000000000002</real>
		<key>longitude</key>
		<real>-121.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5364466</string>
		<key>latitude</key>
		<real>39.100000000000001</real>
		<key>longitude</key>
		<real>-122.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5323266</string>
		<key>latitude</key>
		<real>38.439999999999998</real>
		<key>longitude</key>
		<real>-121.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5337912</string>
		<key>latitude</key>
		<real>39.030000000000001</real>
		<key>longitude</key>
		<real>-122.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410125</string>
		<key>latitude</key>
		<real>38.520000000000003</real>
		<key>longitude</key>
		<real>-121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5343303</string>
		<key>latitude</key>
		<real>38.450000000000003</real>
		<key>longitude</key>
		<real>-121.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5346871</string>
		<key>latitude</key>
		<real>38.689999999999998</real>
		<key>longitude</key>
		<real>-122.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5339928</string>
		<key>latitude</key>
		<real>38.659999999999997</real>
		<key>longitude</key>
		<real>-121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410882</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-121.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5410430</string>
		<key>latitude</key>
		<real>38.68</real>
		<key>longitude</key>
		<real>-121.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5344332</string>
		<key>latitude</key>
		<real>38.890000000000001</real>
		<key>longitude</key>
		<real>-121.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5324457</string>
		<key>latitude</key>
		<real>39.020000000000003</real>
		<key>longitude</key>
		<real>-122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5338872</string>
		<key>latitude</key>
		<real>39.18</real>
		<key>longitude</key>
		<real>-122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5409417</string>
		<key>latitude</key>
		<real>39.149999999999999</real>
		<key>longitude</key>
		<real>-122.15000000000001</real>
	</dict>
</array>
</plist>
