<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>535839</string>
		<key>latitude</key>
		<real>64.900000000000006</real>
		<key>longitude</key>
		<real>45.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527321</string>
		<key>latitude</key>
		<real>65.849999999999994</real>
		<key>longitude</key>
		<real>44.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>553609</string>
		<key>latitude</key>
		<real>65.890000000000001</real>
		<key>longitude</key>
		<real>44.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>477940</string>
		<key>latitude</key>
		<real>65.439999999999998</real>
		<key>longitude</key>
		<real>52.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545062</string>
		<key>latitude</key>
		<real>64.230000000000004</real>
		<key>longitude</key>
		<real>46.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>475936</string>
		<key>latitude</key>
		<real>68.047866999999997</real>
		<key>longitude</key>
		<real>49.967281</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509483</string>
		<key>latitude</key>
		<real>64.700000000000003</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>552256</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>44.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>494481</string>
		<key>latitude</key>
		<real>64.040000000000006</real>
		<key>longitude</key>
		<real>44.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544084</string>
		<key>latitude</key>
		<real>63.460000000000001</real>
		<key>longitude</key>
		<real>48.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>468091</string>
		<key>latitude</key>
		<real>67.670000000000002</real>
		<key>longitude</key>
		<real>52.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>472214</string>
		<key>latitude</key>
		<real>67.079999999999998</real>
		<key>longitude</key>
		<real>53.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>479487</string>
		<key>latitude</key>
		<real>67.650000000000006</real>
		<key>longitude</key>
		<real>53.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>523392</string>
		<key>latitude</key>
		<real>67.670000000000002</real>
		<key>longitude</key>
		<real>53.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>478297</string>
		<key>latitude</key>
		<real>63.409999999999997</real>
		<key>longitude</key>
		<real>48.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581043</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>576093</string>
		<key>latitude</key>
		<real>63.369999999999997</real>
		<key>longitude</key>
		<real>47.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>866062</string>
		<key>latitude</key>
		<real>67.680260000000004</real>
		<key>longitude</key>
		<real>53.151169000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>554830</string>
		<key>latitude</key>
		<real>65.010000000000005</real>
		<key>longitude</key>
		<real>53.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527299</string>
		<key>latitude</key>
		<real>63.25</real>
		<key>longitude</key>
		<real>48.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>522652</string>
		<key>latitude</key>
		<real>67.5</real>
		<key>longitude</key>
		<real>54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>533418</string>
		<key>latitude</key>
		<real>64.299999999999997</real>
		<key>longitude</key>
		<real>41.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506211</string>
		<key>latitude</key>
		<real>63.920000000000002</real>
		<key>longitude</key>
		<real>53.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>549748</string>
		<key>latitude</key>
		<real>64.219999999999999</real>
		<key>longitude</key>
		<real>41.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545854</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8071846</string>
		<key>latitude</key>
		<real>64.590000000000003</real>
		<key>longitude</key>
		<real>40.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>477579</string>
		<key>latitude</key>
		<real>64.469999999999999</real>
		<key>longitude</key>
		<real>40.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>530336</string>
		<key>latitude</key>
		<real>64.480000000000004</real>
		<key>longitude</key>
		<real>40.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>472976</string>
		<key>latitude</key>
		<real>63.5</real>
		<key>longitude</key>
		<real>53.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>518909</string>
		<key>latitude</key>
		<real>64.420000000000002</real>
		<key>longitude</key>
		<real>40.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>479411</string>
		<key>latitude</key>
		<real>63.57</real>
		<key>longitude</key>
		<real>53.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493600</string>
		<key>latitude</key>
		<real>63.530000000000001</real>
		<key>longitude</key>
		<real>53.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581049</string>
		<key>latitude</key>
		<real>64.540000000000006</real>
		<key>longitude</key>
		<real>40.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6924198</string>
		<key>latitude</key>
		<real>63.57</real>
		<key>longitude</key>
		<real>53.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>490391</string>
		<key>latitude</key>
		<real>63.600000000000001</real>
		<key>longitude</key>
		<real>53.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>572091</string>
		<key>latitude</key>
		<real>63.229999999999997</real>
		<key>longitude</key>
		<real>52.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>551736</string>
		<key>latitude</key>
		<real>64.390000000000001</real>
		<key>longitude</key>
		<real>40.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>468991</string>
		<key>latitude</key>
		<real>63.439999999999998</real>
		<key>longitude</key>
		<real>53.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>492860</string>
		<key>latitude</key>
		<real>62.859999999999999</real>
		<key>longitude</key>
		<real>51.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583744</string>
		<key>latitude</key>
		<real>65.8386</real>
		<key>longitude</key>
		<real>56.756309999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>481896</string>
		<key>latitude</key>
		<real>62.700000000000003</real>
		<key>longitude</key>
		<real>51.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467525</string>
		<key>latitude</key>
		<real>62.590000000000003</real>
		<key>longitude</key>
		<real>50.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467539</string>
		<key>latitude</key>
		<real>63.469999999999999</real>
		<key>longitude</key>
		<real>41.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>496285</string>
		<key>latitude</key>
		<real>64.560000000000002</real>
		<key>longitude</key>
		<real>39.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>520552</string>
		<key>latitude</key>
		<real>63.640000000000001</real>
		<key>longitude</key>
		<real>54.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>526600</string>
		<key>latitude</key>
		<real>62.350000000000001</real>
		<key>longitude</key>
		<real>50.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>501847</string>
		<key>latitude</key>
		<real>62.799999999999997</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863080</string>
		<key>latitude</key>
		<real>66.033057999999997</real>
		<key>longitude</key>
		<real>57.433059999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>503772</string>
		<key>latitude</key>
		<real>65.171570000000003</real>
		<key>longitude</key>
		<real>57.091011000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>543246</string>
		<key>latitude</key>
		<real>65.107269000000002</real>
		<key>longitude</key>
		<real>57.045898000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>478349</string>
		<key>latitude</key>
		<real>65.950705999999997</real>
		<key>longitude</key>
		<real>57.468471999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>468983</string>
		<key>latitude</key>
		<real>62.170000000000002</real>
		<key>longitude</key>
		<real>49.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863061</string>
		<key>latitude</key>
		<real>65.993888999999996</real>
		<key>longitude</key>
		<real>57.528061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>580182</string>
		<key>latitude</key>
		<real>62.219999999999999</real>
		<key>longitude</key>
		<real>49.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>577240</string>
		<key>latitude</key>
		<real>62.859999999999999</real>
		<key>longitude</key>
		<real>42.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556268</string>
		<key>latitude</key>
		<real>68.049999999999997</real>
		<key>longitude</key>
		<real>39.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>526601</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>49.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>511794</string>
		<key>latitude</key>
		<real>65.147163000000006</real>
		<key>longitude</key>
		<real>57.224387999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556146</string>
		<key>latitude</key>
		<real>62.090000000000003</real>
		<key>longitude</key>
		<real>48.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>512524</string>
		<key>latitude</key>
		<real>66</real>
		<key>longitude</key>
		<real>57.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829056</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>49.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>525439</string>
		<key>latitude</key>
		<real>62.350000000000001</real>
		<key>longitude</key>
		<real>44.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>499025</string>
		<key>latitude</key>
		<real>63.609999999999999</real>
		<key>longitude</key>
		<real>40.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>463144</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>49.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>474470</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>563990</string>
		<key>latitude</key>
		<real>62.149999999999999</real>
		<key>longitude</key>
		<real>45.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>485203</string>
		<key>latitude</key>
		<real>65.990936000000005</real>
		<key>longitude</key>
		<real>58.070220999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>485215</string>
		<key>latitude</key>
		<real>65.371848999999997</real>
		<key>longitude</key>
		<real>58.038738000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>546742</string>
		<key>latitude</key>
		<real>63.719999999999999</real>
		<key>longitude</key>
		<real>39.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>478769</string>
		<key>latitude</key>
		<real>61.75</real>
		<key>longitude</key>
		<real>48.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>463880</string>
		<key>latitude</key>
		<real>61.880000000000003</real>
		<key>longitude</key>
		<real>50.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>471308</string>
		<key>latitude</key>
		<real>62.891978999999999</real>
		<key>longitude</key>
		<real>54.963459</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>563379</string>
		<key>latitude</key>
		<real>61.810000000000002</real>
		<key>longitude</key>
		<real>50.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467527</string>
		<key>latitude</key>
		<real>63.07</real>
		<key>longitude</key>
		<real>40.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>497971</string>
		<key>latitude</key>
		<real>61.75</real>
		<key>longitude</key>
		<real>50.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544397</string>
		<key>latitude</key>
		<real>61.810000000000002</real>
		<key>longitude</key>
		<real>51.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>494884</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>42.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>470905</string>
		<key>latitude</key>
		<real>63.856670000000001</real>
		<key>longitude</key>
		<real>57.309441</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>551877</string>
		<key>latitude</key>
		<real>63.479999999999997</real>
		<key>longitude</key>
		<real>39.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>831129</string>
		<key>latitude</key>
		<real>62.759999999999998</real>
		<key>longitude</key>
		<real>40.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>515246</string>
		<key>latitude</key>
		<real>63.909999999999997</real>
		<key>longitude</key>
		<real>38.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>504187</string>
		<key>latitude</key>
		<real>62.590000000000003</real>
		<key>longitude</key>
		<real>40.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509026</string>
		<key>latitude</key>
		<real>62.710000000000001</real>
		<key>longitude</key>
		<real>40.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>519705</string>
		<key>latitude</key>
		<real>63.899999999999999</real>
		<key>longitude</key>
		<real>38.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>481548</string>
		<key>latitude</key>
		<real>62.708359000000002</real>
		<key>longitude</key>
		<real>56.196429999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829125</string>
		<key>latitude</key>
		<real>61.909999999999997</real>
		<key>longitude</key>
		<real>42.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>515966</string>
		<key>latitude</key>
		<real>62.609999999999999</real>
		<key>longitude</key>
		<real>39.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>495983</string>
		<key>latitude</key>
		<real>62.219999999999999</real>
		<key>longitude</key>
		<real>40.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>531901</string>
		<key>latitude</key>
		<real>62.616241000000002</real>
		<key>longitude</key>
		<real>57.222301000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545467</string>
		<key>latitude</key>
		<real>62.119999999999997</real>
		<key>longitude</key>
		<real>39.32</real>
	</dict>
</array>
</plist>
