<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>921852</string>
		<key>latitude</key>
		<real>-11.390000000000001</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091828</string>
		<key>latitude</key>
		<real>-11.43</real>
		<key>longitude</key>
		<real>43.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921944</string>
		<key>latitude</key>
		<real>-11.43</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921786</string>
		<key>latitude</key>
		<real>-11.380000000000001</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091868</string>
		<key>latitude</key>
		<real>-11.470000000000001</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091870</string>
		<key>latitude</key>
		<real>-11.48</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921956</string>
		<key>latitude</key>
		<real>-11.49</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091711</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>43.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091674</string>
		<key>latitude</key>
		<real>-11.41</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091712</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>43.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921806</string>
		<key>latitude</key>
		<real>-11.5</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091713</string>
		<key>latitude</key>
		<real>-11.42</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1091996</string>
		<key>latitude</key>
		<real>-11.52</real>
		<key>longitude</key>
		<real>43.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921858</string>
		<key>latitude</key>
		<real>-11.539999999999999</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921731</string>
		<key>latitude</key>
		<real>-11.470000000000001</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921756</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>43.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921882</string>
		<key>latitude</key>
		<real>-11.58</real>
		<key>longitude</key>
		<real>43.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092003</string>
		<key>latitude</key>
		<real>-11.550000000000001</real>
		<key>longitude</key>
		<real>43.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921713</string>
		<key>latitude</key>
		<real>-11.59</real>
		<key>longitude</key>
		<real>43.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092041</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921661</string>
		<key>latitude</key>
		<real>-11.609999999999999</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092065</string>
		<key>latitude</key>
		<real>-11.640000000000001</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1092157</string>
		<key>latitude</key>
		<real>-11.65</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921729</string>
		<key>latitude</key>
		<real>-11.66</real>
		<key>longitude</key>
		<real>43.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>921856</string>
		<key>latitude</key>
		<real>-11.67</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>55671</string>
		<key>latitude</key>
		<real>-0.35816999999999999</real>
		<key>longitude</key>
		<real>42.545361</real>
	</dict>
</array>
</plist>
