<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7262688</string>
		<key>latitude</key>
		<real>21.32</real>
		<key>longitude</key>
		<real>-158.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262761</string>
		<key>latitude</key>
		<real>21.350000000000001</real>
		<key>longitude</key>
		<real>-158.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850554</string>
		<key>latitude</key>
		<real>21.350000000000001</real>
		<key>longitude</key>
		<real>-158.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851349</string>
		<key>latitude</key>
		<real>21.390000000000001</real>
		<key>longitude</key>
		<real>-158.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855051</string>
		<key>latitude</key>
		<real>21.32</real>
		<key>longitude</key>
		<real>-158.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855070</string>
		<key>latitude</key>
		<real>21.34</real>
		<key>longitude</key>
		<real>-158.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855073</string>
		<key>latitude</key>
		<real>21.350000000000001</real>
		<key>longitude</key>
		<real>-158.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850492</string>
		<key>latitude</key>
		<real>21.420000000000002</real>
		<key>longitude</key>
		<real>-158.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5857052</string>
		<key>latitude</key>
		<real>21.390000000000001</real>
		<key>longitude</key>
		<real>-158.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856563</string>
		<key>latitude</key>
		<real>21.329999999999998</real>
		<key>longitude</key>
		<real>-157.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854189</string>
		<key>latitude</key>
		<real>21.440000000000001</real>
		<key>longitude</key>
		<real>-158.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262713</string>
		<key>latitude</key>
		<real>21.34</real>
		<key>longitude</key>
		<real>-157.96000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850511</string>
		<key>latitude</key>
		<real>21.469999999999999</real>
		<key>longitude</key>
		<real>-158.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262791</string>
		<key>latitude</key>
		<real>21.390000000000001</real>
		<key>longitude</key>
		<real>-158.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855886</string>
		<key>latitude</key>
		<real>21.350000000000001</real>
		<key>longitude</key>
		<real>-157.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850522</string>
		<key>latitude</key>
		<real>21.48</real>
		<key>longitude</key>
		<real>-158.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5853965</string>
		<key>latitude</key>
		<real>21.399999999999999</real>
		<key>longitude</key>
		<real>-158.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854686</string>
		<key>latitude</key>
		<real>21.390000000000001</real>
		<key>longitude</key>
		<real>-158.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856195</string>
		<key>latitude</key>
		<real>21.309999999999999</real>
		<key>longitude</key>
		<real>-157.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852275</string>
		<key>latitude</key>
		<real>21.399999999999999</real>
		<key>longitude</key>
		<real>-157.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850943</string>
		<key>latitude</key>
		<real>21.300000000000001</real>
		<key>longitude</key>
		<real>-157.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856430</string>
		<key>latitude</key>
		<real>21.379999999999999</real>
		<key>longitude</key>
		<real>-157.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854717</string>
		<key>latitude</key>
		<real>21.420000000000002</real>
		<key>longitude</key>
		<real>-158</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855319</string>
		<key>latitude</key>
		<real>21.379999999999999</real>
		<key>longitude</key>
		<real>-157.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855327</string>
		<key>latitude</key>
		<real>21.379999999999999</real>
		<key>longitude</key>
		<real>-157.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855321</string>
		<key>latitude</key>
		<real>21.379999999999999</real>
		<key>longitude</key>
		<real>-157.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854530</string>
		<key>latitude</key>
		<real>21.399999999999999</real>
		<key>longitude</key>
		<real>-157.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855028</string>
		<key>latitude</key>
		<real>21.907378999999999</real>
		<key>longitude</key>
		<real>-159.58322100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855631</string>
		<key>latitude</key>
		<real>21.909571</real>
		<key>longitude</key>
		<real>-159.59158300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851030</string>
		<key>latitude</key>
		<real>21.449999999999999</real>
		<key>longitude</key>
		<real>-158</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849616</string>
		<key>latitude</key>
		<real>21.902360999999999</real>
		<key>longitude</key>
		<real>-159.464157</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855644</string>
		<key>latitude</key>
		<real>21.916329999999999</real>
		<key>longitude</key>
		<real>-159.58995100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262813</string>
		<key>latitude</key>
		<real>21.48</real>
		<key>longitude</key>
		<real>-158.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262790</string>
		<key>latitude</key>
		<real>21.489999999999998</real>
		<key>longitude</key>
		<real>-158.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854718</string>
		<key>latitude</key>
		<real>21.469999999999999</real>
		<key>longitude</key>
		<real>-158.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850181</string>
		<key>latitude</key>
		<real>21.919991</real>
		<key>longitude</key>
		<real>-159.50616500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847662</string>
		<key>latitude</key>
		<real>21.924160000000001</real>
		<key>longitude</key>
		<real>-159.52685500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851719</string>
		<key>latitude</key>
		<real>21.92972</real>
		<key>longitude</key>
		<real>-159.48277300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856194</string>
		<key>latitude</key>
		<real>21.469999999999999</real>
		<key>longitude</key>
		<real>-157.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5853992</string>
		<key>latitude</key>
		<real>21.5</real>
		<key>longitude</key>
		<real>-158.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854564</string>
		<key>latitude</key>
		<real>21.957069000000001</real>
		<key>longitude</key>
		<real>-159.66892999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850966</string>
		<key>latitude</key>
		<real>21.370000000000001</real>
		<key>longitude</key>
		<real>-157.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854857</string>
		<key>latitude</key>
		<real>21.510000000000002</real>
		<key>longitude</key>
		<real>-158.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849164</string>
		<key>latitude</key>
		<real>21.968309000000001</real>
		<key>longitude</key>
		<real>-159.71318099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854532</string>
		<key>latitude</key>
		<real>21.350000000000001</real>
		<key>longitude</key>
		<real>-157.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854535</string>
		<key>latitude</key>
		<real>21.34</real>
		<key>longitude</key>
		<real>-157.69999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851156</string>
		<key>latitude</key>
		<real>21.579999999999998</real>
		<key>longitude</key>
		<real>-158.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854171</string>
		<key>latitude</key>
		<real>21.579999999999998</real>
		<key>longitude</key>
		<real>-158.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856516</string>
		<key>latitude</key>
		<real>21.440000000000001</real>
		<key>longitude</key>
		<real>-157.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5848189</string>
		<key>latitude</key>
		<real>21.420000000000002</real>
		<key>longitude</key>
		<real>-157.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855847</string>
		<key>latitude</key>
		<real>21.43</real>
		<key>longitude</key>
		<real>-157.81</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855420</string>
		<key>latitude</key>
		<real>21.59</real>
		<key>longitude</key>
		<real>-158.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852676</string>
		<key>latitude</key>
		<real>21.965388999999998</real>
		<key>longitude</key>
		<real>-159.39239499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847486</string>
		<key>latitude</key>
		<real>21.399999999999999</real>
		<key>longitude</key>
		<real>-157.74000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847207</string>
		<key>latitude</key>
		<real>21.460000000000001</real>
		<key>longitude</key>
		<real>-157.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850248</string>
		<key>latitude</key>
		<real>21.98</real>
		<key>longitude</key>
		<real>-159.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855629</string>
		<key>latitude</key>
		<real>21.989999999999998</real>
		<key>longitude</key>
		<real>-159.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262734</string>
		<key>latitude</key>
		<real>21.449999999999999</real>
		<key>longitude</key>
		<real>-157.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850059</string>
		<key>latitude</key>
		<real>20.829999999999998</real>
		<key>longitude</key>
		<real>-156.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852773</string>
		<key>latitude</key>
		<real>21.57</real>
		<key>longitude</key>
		<real>-157.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852774</string>
		<key>latitude</key>
		<real>21.57</real>
		<key>longitude</key>
		<real>-157.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852824</string>
		<key>latitude</key>
		<real>21.66</real>
		<key>longitude</key>
		<real>-158.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856759</string>
		<key>latitude</key>
		<real>21.559999999999999</real>
		<key>longitude</key>
		<real>-157.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854469</string>
		<key>latitude</key>
		<real>22.050000000000001</real>
		<key>longitude</key>
		<real>-159.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855741</string>
		<key>latitude</key>
		<real>21.609999999999999</real>
		<key>longitude</key>
		<real>-157.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262802</string>
		<key>latitude</key>
		<real>22.07</real>
		<key>longitude</key>
		<real>-159.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5848280</string>
		<key>latitude</key>
		<real>22.079999999999998</real>
		<key>longitude</key>
		<real>-159.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847504</string>
		<key>latitude</key>
		<real>19.640560000000001</real>
		<key>longitude</key>
		<real>-155.99556000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262725</string>
		<key>latitude</key>
		<real>19.571809999999999</real>
		<key>longitude</key>
		<real>-155.961716</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850027</string>
		<key>latitude</key>
		<real>21.649999999999999</real>
		<key>longitude</key>
		<real>-157.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5857264</string>
		<key>latitude</key>
		<real>19.496941</real>
		<key>longitude</key>
		<real>-155.92167699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5848956</string>
		<key>latitude</key>
		<real>19.52083</real>
		<key>longitude</key>
		<real>-155.92250100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856094</string>
		<key>latitude</key>
		<real>19.546391</real>
		<key>longitude</key>
		<real>-155.93194600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850431</string>
		<key>latitude</key>
		<real>19.789999999999999</real>
		<key>longitude</key>
		<real>-156.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847387</string>
		<key>latitude</key>
		<real>21.68</real>
		<key>longitude</key>
		<real>-157.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855815</string>
		<key>latitude</key>
		<real>19.068608999999999</real>
		<key>longitude</key>
		<real>-155.76499899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856050</string>
		<key>latitude</key>
		<real>19.620000000000001</real>
		<key>longitude</key>
		<real>-155.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5848652</string>
		<key>latitude</key>
		<real>21.09</real>
		<key>longitude</key>
		<real>-157.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262717</string>
		<key>latitude</key>
		<real>19.45627</real>
		<key>longitude</key>
		<real>-155.864655</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847746</string>
		<key>latitude</key>
		<real>19.73</real>
		<key>longitude</key>
		<real>-155.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5857121</string>
		<key>latitude</key>
		<real>22.140000000000001</real>
		<key>longitude</key>
		<real>-159.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849718</string>
		<key>latitude</key>
		<real>21.16</real>
		<key>longitude</key>
		<real>-157.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852602</string>
		<key>latitude</key>
		<real>22.217580999999999</real>
		<key>longitude</key>
		<real>-159.478882</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849346</string>
		<key>latitude</key>
		<real>22.209681</real>
		<key>longitude</key>
		<real>-159.40722700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849996</string>
		<key>latitude</key>
		<real>20.879999999999999</real>
		<key>longitude</key>
		<real>-156.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856844</string>
		<key>latitude</key>
		<real>20.93</real>
		<key>longitude</key>
		<real>-156.69999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856852</string>
		<key>latitude</key>
		<real>20.93</real>
		<key>longitude</key>
		<real>-156.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855797</string>
		<key>latitude</key>
		<real>20.75</real>
		<key>longitude</key>
		<real>-156.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262771</string>
		<key>latitude</key>
		<real>20.969999999999999</real>
		<key>longitude</key>
		<real>-156.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849297</string>
		<key>latitude</key>
		<real>20.789999999999999</real>
		<key>longitude</key>
		<real>-156.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854173</string>
		<key>latitude</key>
		<real>21.100000000000001</real>
		<key>longitude</key>
		<real>-156.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854354</string>
		<key>latitude</key>
		<real>20.859999999999999</real>
		<key>longitude</key>
		<real>-156.50999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850871</string>
		<key>latitude</key>
		<real>20.870000000000001</real>
		<key>longitude</key>
		<real>-156.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849207</string>
		<key>latitude</key>
		<real>20.710000000000001</real>
		<key>longitude</key>
		<real>-156.36000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854496</string>
		<key>latitude</key>
		<real>20.890000000000001</real>
		<key>longitude</key>
		<real>-156.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854421</string>
		<key>latitude</key>
		<real>19.93</real>
		<key>longitude</key>
		<real>-155.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262796</string>
		<key>latitude</key>
		<real>20.920000000000002</real>
		<key>longitude</key>
		<real>-156.50999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5847411</string>
		<key>latitude</key>
		<real>20.890000000000001</real>
		<key>longitude</key>
		<real>-156.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854410</string>
		<key>latitude</key>
		<real>19.940000000000001</real>
		<key>longitude</key>
		<real>-155.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851902</string>
		<key>latitude</key>
		<real>19.205279999999998</real>
		<key>longitude</key>
		<real>-155.479996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852697</string>
		<key>latitude</key>
		<real>20.84</real>
		<key>longitude</key>
		<real>-156.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851942</string>
		<key>latitude</key>
		<real>20.899999999999999</real>
		<key>longitude</key>
		<real>-156.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850616</string>
		<key>latitude</key>
		<real>20.859999999999999</real>
		<key>longitude</key>
		<real>-156.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855765</string>
		<key>latitude</key>
		<real>19.500561000000001</real>
		<key>longitude</key>
		<real>-155.50056499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855841</string>
		<key>latitude</key>
		<real>20.239999999999998</real>
		<key>longitude</key>
		<real>-155.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262697</string>
		<key>latitude</key>
		<real>20.920000000000002</real>
		<key>longitude</key>
		<real>-156.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5848308</string>
		<key>latitude</key>
		<real>20.23</real>
		<key>longitude</key>
		<real>-155.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852819</string>
		<key>latitude</key>
		<real>20.02</real>
		<key>longitude</key>
		<real>-155.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854571</string>
		<key>latitude</key>
		<real>20.02</real>
		<key>longitude</key>
		<real>-155.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854471</string>
		<key>latitude</key>
		<real>20.850000000000001</real>
		<key>longitude</key>
		<real>-156.13999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855471</string>
		<key>latitude</key>
		<real>20.760000000000002</real>
		<key>longitude</key>
		<real>-155.99000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5853971</string>
		<key>latitude</key>
		<real>19.43083</real>
		<key>longitude</key>
		<real>-155.23777799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5856111</string>
		<key>latitude</key>
		<real>20.079999999999998</real>
		<key>longitude</key>
		<real>-155.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851253</string>
		<key>latitude</key>
		<real>19.559999999999999</real>
		<key>longitude</key>
		<real>-155.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855088</string>
		<key>latitude</key>
		<real>19.510000000000002</real>
		<key>longitude</key>
		<real>-155.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5857051</string>
		<key>latitude</key>
		<real>19.699999999999999</real>
		<key>longitude</key>
		<real>-155.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855803</string>
		<key>latitude</key>
		<real>19.538059000000001</real>
		<key>longitude</key>
		<real>-155.05221599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5849961</string>
		<key>latitude</key>
		<real>19.600000000000001</real>
		<key>longitude</key>
		<real>-155.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5854599</string>
		<key>latitude</key>
		<real>19.739999999999998</real>
		<key>longitude</key>
		<real>-155.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855927</string>
		<key>latitude</key>
		<real>19.73</real>
		<key>longitude</key>
		<real>-155.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852140</string>
		<key>latitude</key>
		<real>19.789999999999999</real>
		<key>longitude</key>
		<real>-155.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5848891</string>
		<key>latitude</key>
		<real>19.629999999999999</real>
		<key>longitude</key>
		<real>-155.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851821</string>
		<key>latitude</key>
		<real>19.563330000000001</real>
		<key>longitude</key>
		<real>-155.01693700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5852322</string>
		<key>latitude</key>
		<real>19.829999999999998</real>
		<key>longitude</key>
		<real>-155.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5857040</string>
		<key>latitude</key>
		<real>19.526938999999999</real>
		<key>longitude</key>
		<real>-154.99305699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855818</string>
		<key>latitude</key>
		<real>19.501390000000001</real>
		<key>longitude</key>
		<real>-154.97056599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855809</string>
		<key>latitude</key>
		<real>19.593330000000002</real>
		<key>longitude</key>
		<real>-154.97305299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850213</string>
		<key>latitude</key>
		<real>19.467500999999999</real>
		<key>longitude</key>
		<real>-154.91722100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5850212</string>
		<key>latitude</key>
		<real>19.469721</real>
		<key>longitude</key>
		<real>-154.91778600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851365</string>
		<key>latitude</key>
		<real>19.506941000000001</real>
		<key>longitude</key>
		<real>-154.91333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5851364</string>
		<key>latitude</key>
		<real>19.506108999999999</real>
		<key>longitude</key>
		<real>-154.91194200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5855802</string>
		<key>latitude</key>
		<real>19.543060000000001</real>
		<key>longitude</key>
		<real>-154.91583299999999</real>
	</dict>
</array>
</plist>
