<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5877208</string>
		<key>latitude</key>
		<real>53.873610999999997</real>
		<key>longitude</key>
		<real>-166.53666699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861117</string>
		<key>latitude</key>
		<real>53.889800999999999</real>
		<key>longitude</key>
		<real>-166.54220599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879048</string>
		<key>latitude</key>
		<real>54.135559000000001</real>
		<key>longitude</key>
		<real>-165.773056</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879164</string>
		<key>latitude</key>
		<real>52.242778999999999</real>
		<key>longitude</key>
		<real>-175.129715</real>
	</dict>
</array>
</plist>
