<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5868684</string>
		<key>latitude</key>
		<real>60.390000000000001</real>
		<key>longitude</key>
		<real>-166.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859033</string>
		<key>latitude</key>
		<real>60.07</real>
		<key>longitude</key>
		<real>-164.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5876385</string>
		<key>latitude</key>
		<real>60.530000000000001</real>
		<key>longitude</key>
		<real>-165.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5866302</string>
		<key>latitude</key>
		<real>58.650002000000001</real>
		<key>longitude</key>
		<real>-162.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5864197</string>
		<key>latitude</key>
		<real>61.530000000000001</real>
		<key>longitude</key>
		<real>-166.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859114</string>
		<key>latitude</key>
		<real>61.530000000000001</real>
		<key>longitude</key>
		<real>-165.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879166</string>
		<key>latitude</key>
		<real>54.849997999999999</real>
		<key>longitude</key>
		<real>-163.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879048</string>
		<key>latitude</key>
		<real>54.135559000000001</real>
		<key>longitude</key>
		<real>-165.773056</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5869649</string>
		<key>latitude</key>
		<real>60.710000000000001</real>
		<key>longitude</key>
		<real>-161.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861117</string>
		<key>latitude</key>
		<real>53.889800999999999</real>
		<key>longitude</key>
		<real>-166.54220599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5869805</string>
		<key>latitude</key>
		<real>56.000622</real>
		<key>longitude</key>
		<real>-161.20697000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5877208</string>
		<key>latitude</key>
		<real>53.873610999999997</real>
		<key>longitude</key>
		<real>-166.53666699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5880568</string>
		<key>latitude</key>
		<real>60.789999999999999</real>
		<key>longitude</key>
		<real>-161.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5866308</string>
		<key>latitude</key>
		<real>55.061667999999997</real>
		<key>longitude</key>
		<real>-162.31028699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871704</string>
		<key>latitude</key>
		<real>62.030000000000001</real>
		<key>longitude</key>
		<real>-163.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5880573</string>
		<key>latitude</key>
		<real>60.75</real>
		<key>longitude</key>
		<real>-160.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870660</string>
		<key>latitude</key>
		<real>61.57</real>
		<key>longitude</key>
		<real>-161.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873349</string>
		<key>latitude</key>
		<real>55.336551999999998</real>
		<key>longitude</key>
		<real>-160.498795</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5877533</string>
		<key>latitude</key>
		<real>62.25</real>
		<key>longitude</key>
		<real>-163</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873095</string>
		<key>latitude</key>
		<real>61.789999999999999</real>
		<key>longitude</key>
		<real>-161.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871128</string>
		<key>latitude</key>
		<real>61.960000000000001</real>
		<key>longitude</key>
		<real>-160.22999999999999</real>
	</dict>
</array>
</plist>
