<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5955898</string>
		<key>latitude</key>
		<real>67.439999999999998</real>
		<key>longitude</key>
		<real>-134.88999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6169740</string>
		<key>latitude</key>
		<real>67.439999999999998</real>
		<key>longitude</key>
		<real>-133.74000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6093114</string>
		<key>latitude</key>
		<real>67.569999999999993</real>
		<key>longitude</key>
		<real>-139.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5882953</string>
		<key>latitude</key>
		<real>68.219999999999999</real>
		<key>longitude</key>
		<real>-135.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5923562</string>
		<key>latitude</key>
		<real>63.780000000000001</real>
		<key>longitude</key>
		<real>-137.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6126264</string>
		<key>latitude</key>
		<real>64.060000000000002</real>
		<key>longitude</key>
		<real>-139.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6068416</string>
		<key>latitude</key>
		<real>63.590000000000003</real>
		<key>longitude</key>
		<real>-135.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943713</string>
		<key>latitude</key>
		<real>64.060000000000002</real>
		<key>longitude</key>
		<real>-139.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861202</string>
		<key>latitude</key>
		<real>64.780000000000001</real>
		<key>longitude</key>
		<real>-141.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5983607</string>
		<key>latitude</key>
		<real>68.349999999999994</real>
		<key>longitude</key>
		<real>-133.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180423</string>
		<key>latitude</key>
		<real>68.900000000000006</real>
		<key>longitude</key>
		<real>-136.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955840</string>
		<key>latitude</key>
		<real>66.260000000000005</real>
		<key>longitude</key>
		<real>-128.63999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185811</string>
		<key>latitude</key>
		<real>63</real>
		<key>longitude</key>
		<real>-135</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5878364</string>
		<key>latitude</key>
		<real>65.290000000000006</real>
		<key>longitude</key>
		<real>-143.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100761</string>
		<key>latitude</key>
		<real>62.829999999999998</real>
		<key>longitude</key>
		<real>-136.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5914276</string>
		<key>latitude</key>
		<real>69.280000000000001</real>
		<key>longitude</key>
		<real>-134.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859419</string>
		<key>latitude</key>
		<real>65.469999999999999</real>
		<key>longitude</key>
		<real>-144.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6170031</string>
		<key>latitude</key>
		<real>69.450000000000003</real>
		<key>longitude</key>
		<real>-133.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5858896</string>
		<key>latitude</key>
		<real>65.569999999999993</real>
		<key>longitude</key>
		<real>-144.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5862371</string>
		<key>latitude</key>
		<real>66.560000000000002</real>
		<key>longitude</key>
		<real>-145.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5874863</string>
		<key>latitude</key>
		<real>63.75</real>
		<key>longitude</key>
		<real>-143.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089245</string>
		<key>latitude</key>
		<real>65.280000000000001</real>
		<key>longitude</key>
		<real>-126.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5917270</string>
		<key>latitude</key>
		<real>62.090000000000003</real>
		<key>longitude</key>
		<real>-136.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951659</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>-133.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5876363</string>
		<key>latitude</key>
		<real>63.340000000000003</real>
		<key>longitude</key>
		<real>-142.99000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5926246</string>
		<key>latitude</key>
		<real>67.030000000000001</real>
		<key>longitude</key>
		<real>-126.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6354909</string>
		<key>latitude</key>
		<real>62.380000000000003</real>
		<key>longitude</key>
		<real>-140.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859060</string>
		<key>latitude</key>
		<real>65.049999999999997</real>
		<key>longitude</key>
		<real>-146.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879636</string>
		<key>latitude</key>
		<real>68.129999999999995</real>
		<key>longitude</key>
		<real>-145.53999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127994</string>
		<key>latitude</key>
		<real>61.990000000000002</real>
		<key>longitude</key>
		<real>-132.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861918</string>
		<key>latitude</key>
		<real>65.290000000000006</real>
		<key>longitude</key>
		<real>-146.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861021</string>
		<key>latitude</key>
		<real>63.649999999999999</real>
		<key>longitude</key>
		<real>-144.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262847</string>
		<key>latitude</key>
		<real>63.869999999999997</real>
		<key>longitude</key>
		<real>-145.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6170056</string>
		<key>latitude</key>
		<real>64.930000000000007</real>
		<key>longitude</key>
		<real>-125.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861900</string>
		<key>latitude</key>
		<real>64.829999999999998</real>
		<key>longitude</key>
		<real>-146.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5860524</string>
		<key>latitude</key>
		<real>64.040000000000006</real>
		<key>longitude</key>
		<real>-145.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859279</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>-142.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5869541</string>
		<key>latitude</key>
		<real>62.369999999999997</real>
		<key>longitude</key>
		<real>-143.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5880107</string>
		<key>latitude</key>
		<real>62.609999999999999</real>
		<key>longitude</key>
		<real>-143.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5865670</string>
		<key>latitude</key>
		<real>70.129999999999995</real>
		<key>longitude</key>
		<real>-143.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871330</string>
		<key>latitude</key>
		<real>63.090000000000003</real>
		<key>longitude</key>
		<real>-145.61000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5862936</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>-145.55000000000001</real>
	</dict>
</array>
</plist>
