<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5878558</string>
		<key>latitude</key>
		<real>65.700000000000003</real>
		<key>longitude</key>
		<real>-152.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5874713</string>
		<key>latitude</key>
		<real>66.719999999999999</real>
		<key>longitude</key>
		<real>-151.47999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5875188</string>
		<key>latitude</key>
		<real>66.010000000000005</real>
		<key>longitude</key>
		<real>-149.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859691</string>
		<key>latitude</key>
		<real>67.260000000000005</real>
		<key>longitude</key>
		<real>-150.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5876887</string>
		<key>latitude</key>
		<real>64.75</real>
		<key>longitude</key>
		<real>-149.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5864431</string>
		<key>latitude</key>
		<real>65.700000000000003</real>
		<key>longitude</key>
		<real>-156.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5869822</string>
		<key>latitude</key>
		<real>64.560000000000002</real>
		<key>longitude</key>
		<real>-149.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873030</string>
		<key>latitude</key>
		<real>64.739999999999995</real>
		<key>longitude</key>
		<real>-155.49000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861769</string>
		<key>latitude</key>
		<real>64.849999999999994</real>
		<key>longitude</key>
		<real>-148.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859065</string>
		<key>latitude</key>
		<real>64.799999999999997</real>
		<key>longitude</key>
		<real>-147.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859699</string>
		<key>latitude</key>
		<real>64.859999999999999</real>
		<key>longitude</key>
		<real>-147.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5867107</string>
		<key>latitude</key>
		<real>63.880000000000003</real>
		<key>longitude</key>
		<real>-152.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861897</string>
		<key>latitude</key>
		<real>64.840000000000003</real>
		<key>longitude</key>
		<real>-147.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879390</string>
		<key>latitude</key>
		<real>68.140000000000001</real>
		<key>longitude</key>
		<real>-151.74000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879092</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>-150</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879898</string>
		<key>latitude</key>
		<real>64.799999999999997</real>
		<key>longitude</key>
		<real>-147.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870294</string>
		<key>latitude</key>
		<real>64.75</real>
		<key>longitude</key>
		<real>-147.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5860541</string>
		<key>latitude</key>
		<real>63.789999999999999</real>
		<key>longitude</key>
		<real>-150.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861918</string>
		<key>latitude</key>
		<real>65.290000000000006</real>
		<key>longitude</key>
		<real>-146.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262854</string>
		<key>latitude</key>
		<real>64.659999999999997</real>
		<key>longitude</key>
		<real>-147.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5863850</string>
		<key>latitude</key>
		<real>63.859999999999999</real>
		<key>longitude</key>
		<real>-148.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879302</string>
		<key>latitude</key>
		<real>67.090000000000003</real>
		<key>longitude</key>
		<real>-157.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7263003</string>
		<key>latitude</key>
		<real>64.519999999999996</real>
		<key>longitude</key>
		<real>-146.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861900</string>
		<key>latitude</key>
		<real>64.829999999999998</real>
		<key>longitude</key>
		<real>-146.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859060</string>
		<key>latitude</key>
		<real>65.049999999999997</real>
		<key>longitude</key>
		<real>-146.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5862371</string>
		<key>latitude</key>
		<real>66.560000000000002</real>
		<key>longitude</key>
		<real>-145.27000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5858555</string>
		<key>latitude</key>
		<real>63.390000000000001</real>
		<key>longitude</key>
		<real>-148.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5858896</string>
		<key>latitude</key>
		<real>65.569999999999993</real>
		<key>longitude</key>
		<real>-144.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859419</string>
		<key>latitude</key>
		<real>65.469999999999999</real>
		<key>longitude</key>
		<real>-144.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870308</string>
		<key>latitude</key>
		<real>69.25</real>
		<key>longitude</key>
		<real>-152</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873663</string>
		<key>latitude</key>
		<real>66.599999999999994</real>
		<key>longitude</key>
		<real>-160.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5860524</string>
		<key>latitude</key>
		<real>64.040000000000006</real>
		<key>longitude</key>
		<real>-145.72999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879636</string>
		<key>latitude</key>
		<real>68.129999999999995</real>
		<key>longitude</key>
		<real>-145.53999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5877173</string>
		<key>latitude</key>
		<real>69.370000000000005</real>
		<key>longitude</key>
		<real>-152.13999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5866155</string>
		<key>latitude</key>
		<real>66.969999999999999</real>
		<key>longitude</key>
		<real>-160.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262847</string>
		<key>latitude</key>
		<real>63.869999999999997</real>
		<key>longitude</key>
		<real>-145.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5868437</string>
		<key>latitude</key>
		<real>62.5</real>
		<key>longitude</key>
		<real>-150.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5878364</string>
		<key>latitude</key>
		<real>65.290000000000006</real>
		<key>longitude</key>
		<real>-143.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870351</string>
		<key>latitude</key>
		<real>66.829999999999998</real>
		<key>longitude</key>
		<real>-161</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5858176</string>
		<key>latitude</key>
		<real>65.980000000000004</real>
		<key>longitude</key>
		<real>-161.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861573</string>
		<key>latitude</key>
		<real>66.260000000000005</real>
		<key>longitude</key>
		<real>-161.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861021</string>
		<key>latitude</key>
		<real>63.649999999999999</real>
		<key>longitude</key>
		<real>-144.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7263043</string>
		<key>latitude</key>
		<real>62.159999999999997</real>
		<key>longitude</key>
		<real>-149.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871330</string>
		<key>latitude</key>
		<real>63.090000000000003</real>
		<key>longitude</key>
		<real>-145.61000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5874434</string>
		<key>latitude</key>
		<real>61.990000000000002</real>
		<key>longitude</key>
		<real>-151.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870441</string>
		<key>latitude</key>
		<real>70.219999999999999</real>
		<key>longitude</key>
		<real>-150.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5878102</string>
		<key>latitude</key>
		<real>61.75</real>
		<key>longitude</key>
		<real>-150.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5874863</string>
		<key>latitude</key>
		<real>63.75</real>
		<key>longitude</key>
		<real>-143.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7263016</string>
		<key>latitude</key>
		<real>61.799999999999997</real>
		<key>longitude</key>
		<real>-148.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7262861</string>
		<key>latitude</key>
		<real>61.740000000000002</real>
		<key>longitude</key>
		<real>-149.24000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5872126</string>
		<key>latitude</key>
		<real>70.260000000000005</real>
		<key>longitude</key>
		<real>-148.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861836</string>
		<key>latitude</key>
		<real>61.939999999999998</real>
		<key>longitude</key>
		<real>-147.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5876363</string>
		<key>latitude</key>
		<real>63.340000000000003</real>
		<key>longitude</key>
		<real>-142.99000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5862936</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>-145.55000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5880107</string>
		<key>latitude</key>
		<real>62.609999999999999</real>
		<key>longitude</key>
		<real>-143.77000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5865670</string>
		<key>latitude</key>
		<real>70.129999999999995</real>
		<key>longitude</key>
		<real>-143.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5869541</string>
		<key>latitude</key>
		<real>62.369999999999997</real>
		<key>longitude</key>
		<real>-143.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871128</string>
		<key>latitude</key>
		<real>61.960000000000001</real>
		<key>longitude</key>
		<real>-160.22999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5859279</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>-142.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873095</string>
		<key>latitude</key>
		<real>61.789999999999999</real>
		<key>longitude</key>
		<real>-161.31999999999999</real>
	</dict>
</array>
</plist>
