<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5877563</string>
		<key>latitude</key>
		<real>65.609999999999999</real>
		<key>longitude</key>
		<real>-168.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5876265</string>
		<key>latitude</key>
		<real>65.560000000000002</real>
		<key>longitude</key>
		<real>-167.94999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5875969</string>
		<key>latitude</key>
		<real>65.260000000000005</real>
		<key>longitude</key>
		<real>-166.36000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031637</string>
		<key>latitude</key>
		<real>65.579999999999998</real>
		<key>longitude</key>
		<real>-171</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031625</string>
		<key>latitude</key>
		<real>65.5</real>
		<key>longitude</key>
		<real>-171.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870133</string>
		<key>latitude</key>
		<real>64.5</real>
		<key>longitude</key>
		<real>-165.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870134</string>
		<key>latitude</key>
		<real>64.829999999999998</real>
		<key>longitude</key>
		<real>-163.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5866726</string>
		<key>latitude</key>
		<real>66.900000000000006</real>
		<key>longitude</key>
		<real>-162.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5863074</string>
		<key>latitude</key>
		<real>64.540000000000006</real>
		<key>longitude</key>
		<real>-163.03</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861573</string>
		<key>latitude</key>
		<real>66.260000000000005</real>
		<key>longitude</key>
		<real>-161.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031574</string>
		<key>latitude</key>
		<real>64.379999999999995</real>
		<key>longitude</key>
		<real>-173.30000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5858176</string>
		<key>latitude</key>
		<real>65.980000000000004</real>
		<key>longitude</key>
		<real>-161.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5872537</string>
		<key>latitude</key>
		<real>68.079999999999998</real>
		<key>longitude</key>
		<real>-162.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870351</string>
		<key>latitude</key>
		<real>66.829999999999998</real>
		<key>longitude</key>
		<real>-161</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5866155</string>
		<key>latitude</key>
		<real>66.969999999999999</real>
		<key>longitude</key>
		<real>-160.41999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873663</string>
		<key>latitude</key>
		<real>66.599999999999994</real>
		<key>longitude</key>
		<real>-160.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5861668</string>
		<key>latitude</key>
		<real>62.780000000000001</real>
		<key>longitude</key>
		<real>-164.52000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879302</string>
		<key>latitude</key>
		<real>67.090000000000003</real>
		<key>longitude</key>
		<real>-157.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871778</string>
		<key>latitude</key>
		<real>69.743858000000003</real>
		<key>longitude</key>
		<real>-163.00843800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5877533</string>
		<key>latitude</key>
		<real>62.25</real>
		<key>longitude</key>
		<real>-163</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871704</string>
		<key>latitude</key>
		<real>62.030000000000001</real>
		<key>longitude</key>
		<real>-163.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5873095</string>
		<key>latitude</key>
		<real>61.789999999999999</real>
		<key>longitude</key>
		<real>-161.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5871128</string>
		<key>latitude</key>
		<real>61.960000000000001</real>
		<key>longitude</key>
		<real>-160.22999999999999</real>
	</dict>
</array>
</plist>
