<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6137052</string>
		<key>latitude</key>
		<real>71.980000000000004</real>
		<key>longitude</key>
		<real>-125.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5865670</string>
		<key>latitude</key>
		<real>70.129999999999995</real>
		<key>longitude</key>
		<real>-143.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5916134</string>
		<key>latitude</key>
		<real>70.150000000000006</real>
		<key>longitude</key>
		<real>-124.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5872126</string>
		<key>latitude</key>
		<real>70.260000000000005</real>
		<key>longitude</key>
		<real>-148.34</real>
	</dict>
</array>
</plist>
