<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5878818</string>
		<key>latitude</key>
		<real>51.880001</real>
		<key>longitude</key>
		<real>-176.65806599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879164</string>
		<key>latitude</key>
		<real>52.242778999999999</real>
		<key>longitude</key>
		<real>-175.129715</real>
	</dict>
</array>
</plist>
