<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5865670</string>
		<key>latitude</key>
		<real>70.129999999999995</real>
		<key>longitude</key>
		<real>-143.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5872126</string>
		<key>latitude</key>
		<real>70.260000000000005</real>
		<key>longitude</key>
		<real>-148.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5870441</string>
		<key>latitude</key>
		<real>70.219999999999999</real>
		<key>longitude</key>
		<real>-150.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5880054</string>
		<key>latitude</key>
		<real>71.290581000000003</real>
		<key>longitude</key>
		<real>-156.78872699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5879756</string>
		<key>latitude</key>
		<real>70.469170000000005</real>
		<key>longitude</key>
		<real>-157.39944499999999</real>
	</dict>
</array>
</plist>
