<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6119433</string>
		<key>latitude</key>
		<real>46.899999999999999</real>
		<key>longitude</key>
		<real>-52.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6168779</string>
		<key>latitude</key>
		<real>46.729999999999997</real>
		<key>longitude</key>
		<real>-53.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5907368</string>
		<key>latitude</key>
		<real>46.880000000000003</real>
		<key>longitude</key>
		<real>-53.950000000000003</real>
	</dict>
</array>
</plist>
