<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5991034</string>
		<key>latitude</key>
		<real>58.119999999999997</real>
		<key>longitude</key>
		<real>-111.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955889</string>
		<key>latitude</key>
		<real>57.18</real>
		<key>longitude</key>
		<real>-111.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955793</string>
		<key>latitude</key>
		<real>58.719999999999999</real>
		<key>longitude</key>
		<real>-111.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955895</string>
		<key>latitude</key>
		<real>56.729999999999997</real>
		<key>longitude</key>
		<real>-111.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5942519</string>
		<key>latitude</key>
		<real>56.670000000000002</real>
		<key>longitude</key>
		<real>-111.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5992650</string>
		<key>latitude</key>
		<real>56.329999999999998</real>
		<key>longitude</key>
		<real>-110.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955954</string>
		<key>latitude</key>
		<real>60</real>
		<key>longitude</key>
		<real>-111.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6048854</string>
		<key>latitude</key>
		<real>56.479999999999997</real>
		<key>longitude</key>
		<real>-109.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5956004</string>
		<key>latitude</key>
		<real>58.390000000000001</real>
		<key>longitude</key>
		<real>-116.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6251999</string>
		<key>latitude</key>
		<real>60.109999999999999</real>
		<key>longitude</key>
		<real>-113.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962665</string>
		<key>latitude</key>
		<real>59.469999999999999</real>
		<key>longitude</key>
		<real>-108.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5947462</string>
		<key>latitude</key>
		<real>59.549999999999997</real>
		<key>longitude</key>
		<real>-108.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5939382</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>-108.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140815</string>
		<key>latitude</key>
		<real>56.979999999999997</real>
		<key>longitude</key>
		<real>-107.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975004</string>
		<key>latitude</key>
		<real>58.520000000000003</real>
		<key>longitude</key>
		<real>-117.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955333</string>
		<key>latitude</key>
		<real>58.619999999999997</real>
		<key>longitude</key>
		<real>-117.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6175823</string>
		<key>latitude</key>
		<real>55.200000000000003</real>
		<key>longitude</key>
		<real>-112.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955243</string>
		<key>latitude</key>
		<real>59.32</real>
		<key>longitude</key>
		<real>-107.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887973</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>-115.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5908579</string>
		<key>latitude</key>
		<real>55.130000000000003</real>
		<key>longitude</key>
		<real>-112.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5910853</string>
		<key>latitude</key>
		<real>55.850000000000001</real>
		<key>longitude</key>
		<real>-108.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5888501</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>-112.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6149905</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-114.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6149374</string>
		<key>latitude</key>
		<real>55.280000000000001</real>
		<key>longitude</key>
		<real>-114.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174976</string>
		<key>latitude</key>
		<real>55.350000000000001</real>
		<key>longitude</key>
		<real>-114.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5977633</string>
		<key>latitude</key>
		<real>57.07</real>
		<key>longitude</key>
		<real>-117.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5976495</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>-114.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6106147</string>
		<key>latitude</key>
		<real>54.850000000000001</real>
		<key>longitude</key>
		<real>-112.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5888093</string>
		<key>latitude</key>
		<real>54.82</real>
		<key>longitude</key>
		<real>-112.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5936199</string>
		<key>latitude</key>
		<real>56.729999999999997</real>
		<key>longitude</key>
		<real>-117.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5965136</string>
		<key>latitude</key>
		<real>54.82</real>
		<key>longitude</key>
		<real>-112.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6065306</string>
		<key>latitude</key>
		<real>56.920000000000002</real>
		<key>longitude</key>
		<real>-117.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6028050</string>
		<key>latitude</key>
		<real>54.770000000000003</real>
		<key>longitude</key>
		<real>-111.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6090655</string>
		<key>latitude</key>
		<real>56.850000000000001</real>
		<key>longitude</key>
		<real>-117.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5992692</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>-115.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5957207</string>
		<key>latitude</key>
		<real>54.75</real>
		<key>longitude</key>
		<real>-112.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955925</string>
		<key>latitude</key>
		<real>61.159999999999997</real>
		<key>longitude</key>
		<real>-113.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941547</string>
		<key>latitude</key>
		<real>54.75</real>
		<key>longitude</key>
		<real>-112.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173683</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>-112.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921607</string>
		<key>latitude</key>
		<real>54.920000000000002</real>
		<key>longitude</key>
		<real>-114.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5949030</string>
		<key>latitude</key>
		<real>60.549999999999997</real>
		<key>longitude</key>
		<real>-116.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5979099</string>
		<key>latitude</key>
		<real>54.68</real>
		<key>longitude</key>
		<real>-112.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887916</string>
		<key>latitude</key>
		<real>54.719999999999999</real>
		<key>longitude</key>
		<real>-113.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100069</string>
		<key>latitude</key>
		<real>56.25</real>
		<key>longitude</key>
		<real>-117.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5942626</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>-115.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5918002</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-112.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6154113</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>-116.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150893</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-111.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5940363</string>
		<key>latitude</key>
		<real>56.530000000000001</real>
		<key>longitude</key>
		<real>-117.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5988058</string>
		<key>latitude</key>
		<real>55.369999999999997</real>
		<key>longitude</key>
		<real>-115.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5972762</string>
		<key>latitude</key>
		<real>60.82</real>
		<key>longitude</key>
		<real>-115.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5931508</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>-111.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6085759</string>
		<key>latitude</key>
		<real>56.030000000000001</real>
		<key>longitude</key>
		<real>-117.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127261</string>
		<key>latitude</key>
		<real>56.219999999999999</real>
		<key>longitude</key>
		<real>-117.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6157570</string>
		<key>latitude</key>
		<real>59.259999999999998</real>
		<key>longitude</key>
		<real>-105.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5907019</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>-112.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886590</string>
		<key>latitude</key>
		<real>55.399999999999999</real>
		<key>longitude</key>
		<real>-116.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089172</string>
		<key>latitude</key>
		<real>54.530000000000001</real>
		<key>longitude</key>
		<real>-111.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5915070</string>
		<key>latitude</key>
		<real>55.229999999999997</real>
		<key>longitude</key>
		<real>-108.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5954231</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>-114.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6070595</string>
		<key>latitude</key>
		<real>55.700000000000003</real>
		<key>longitude</key>
		<real>-116.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5915050</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-108.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5947979</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>-112.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5925102</string>
		<key>latitude</key>
		<real>55.090000000000003</real>
		<key>longitude</key>
		<real>-108.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5967157</string>
		<key>latitude</key>
		<real>56.18</real>
		<key>longitude</key>
		<real>-117.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975034</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>-116.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941611</string>
		<key>latitude</key>
		<real>55.729999999999997</real>
		<key>longitude</key>
		<real>-117.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5983959</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-110.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6101527</string>
		<key>latitude</key>
		<real>54.469999999999999</real>
		<key>longitude</key>
		<real>-113.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6035779</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-110.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089186</string>
		<key>latitude</key>
		<real>55.869999999999997</real>
		<key>longitude</key>
		<real>-117.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5899068</string>
		<key>latitude</key>
		<real>56.149999999999999</real>
		<key>longitude</key>
		<real>-117.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951224</string>
		<key>latitude</key>
		<real>55.729999999999997</real>
		<key>longitude</key>
		<real>-117.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962951</string>
		<key>latitude</key>
		<real>54.380000000000003</real>
		<key>longitude</key>
		<real>-111.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6071173</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-111.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951878</string>
		<key>latitude</key>
		<real>54.530000000000001</real>
		<key>longitude</key>
		<real>-114.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961502</string>
		<key>latitude</key>
		<real>55.75</real>
		<key>longitude</key>
		<real>-117.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5925024</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-110.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962884</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>-111.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6071642</string>
		<key>latitude</key>
		<real>54.420000000000002</real>
		<key>longitude</key>
		<real>-110.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087428</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>-112.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5985869</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-113.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5896578</string>
		<key>latitude</key>
		<real>55.149999999999999</real>
		<key>longitude</key>
		<real>-107.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955877</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>-110.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886786</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>-110.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089973</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-109.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961910</string>
		<key>latitude</key>
		<real>54.25</real>
		<key>longitude</key>
		<real>-111.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6160291</string>
		<key>latitude</key>
		<real>54.719999999999999</real>
		<key>longitude</key>
		<real>-115.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5896732</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-110.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6162016</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>-113.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6164669</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>-111.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5905616</string>
		<key>latitude</key>
		<real>54.270000000000003</real>
		<key>longitude</key>
		<real>-110.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6161471</string>
		<key>latitude</key>
		<real>55.799999999999997</real>
		<key>longitude</key>
		<real>-117.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6064804</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>-111.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5935060</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-113.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5893004</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>-112.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176914</string>
		<key>latitude</key>
		<real>55.719999999999999</real>
		<key>longitude</key>
		<real>-117.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5897934</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-112.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946824</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-112.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6158666</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-111.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6153417</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-111.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6104287</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>-109.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087180</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>-113.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887609</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-111.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174357</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-111.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6165620</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-113.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150293</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-112.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5954358</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-111.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180747</string>
		<key>latitude</key>
		<real>55.469999999999999</real>
		<key>longitude</key>
		<real>-117.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5904482</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>-118.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176573</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-112.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5944893</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>-117.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176376</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>-112.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962967</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>-109.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100506</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-109.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6115728</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-112.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951036</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>-118.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955783</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>-114.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975472</string>
		<key>latitude</key>
		<real>56.25</real>
		<key>longitude</key>
		<real>-118.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6179138</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-113.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5924757</string>
		<key>latitude</key>
		<real>55.770000000000003</real>
		<key>longitude</key>
		<real>-118.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5947123</string>
		<key>latitude</key>
		<real>54.030000000000001</real>
		<key>longitude</key>
		<real>-113.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174364</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-113.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6157795</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-111.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6155898</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-111.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941811</string>
		<key>latitude</key>
		<real>54.369999999999997</real>
		<key>longitude</key>
		<real>-108.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5894164</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-114.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6118787</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-113.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5885030</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-112.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173220</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>-117.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6184594</string>
		<key>latitude</key>
		<real>56.520000000000003</real>
		<key>longitude</key>
		<real>-119.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5947754</string>
		<key>latitude</key>
		<real>53.899999999999999</real>
		<key>longitude</key>
		<real>-110.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6051792</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-113.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6182305</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-112.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5912338</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-113.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6054296</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-110.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941780</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-107.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5960842</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-113.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6117225</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-108.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5905348</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-113.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6049046</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-112.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6060139</string>
		<key>latitude</key>
		<real>54.030000000000001</real>
		<key>longitude</key>
		<real>-109.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6171332</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-111.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6078636</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>-113.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6136875</string>
		<key>latitude</key>
		<real>55.75</real>
		<key>longitude</key>
		<real>-118.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5973446</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-110.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921530</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-112.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5987945</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-113.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150280</string>
		<key>latitude</key>
		<real>55.399999999999999</real>
		<key>longitude</key>
		<real>-118.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955948</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-113.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6153766</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>-118.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6085350</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-111.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6071421</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-108.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6064638</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>-108.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6085706</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-113.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6059915</string>
		<key>latitude</key>
		<real>54.079999999999998</real>
		<key>longitude</key>
		<real>-115.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180285</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-115.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955921</string>
		<key>latitude</key>
		<real>61.350000000000001</real>
		<key>longitude</key>
		<real>-117.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5966373</string>
		<key>latitude</key>
		<real>54.280000000000001</real>
		<key>longitude</key>
		<real>-107.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6084170</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>-112.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6049152</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-113.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6068315</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-115.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6126200</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-115.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6093911</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-110</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6183605</string>
		<key>latitude</key>
		<real>55.579999999999998</real>
		<key>longitude</key>
		<real>-118.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140989</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-114.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6136717</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-110.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5923566</string>
		<key>latitude</key>
		<real>56.329999999999998</real>
		<key>longitude</key>
		<real>-119.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5920888</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>-114.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943716</string>
		<key>latitude</key>
		<real>62.409999999999997</real>
		<key>longitude</key>
		<real>-110.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5901079</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-114.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6155033</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-113.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6128736</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-112.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6093933</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-114.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6177486</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>-118.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5956869</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>-116.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886795</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-113.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173635</string>
		<key>latitude</key>
		<real>53.5</real>
		<key>longitude</key>
		<real>-112.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946768</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-113.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6146279</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-113.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6067315</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-110.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6144602</string>
		<key>latitude</key>
		<real>55.350000000000001</real>
		<key>longitude</key>
		<real>-118.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6154383</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-113.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185377</string>
		<key>latitude</key>
		<real>62.460000000000001</real>
		<key>longitude</key>
		<real>-114.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6157536</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-114</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5957990</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>-109.63</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5922904</string>
		<key>latitude</key>
		<real>55.270000000000003</real>
		<key>longitude</key>
		<real>-118.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150008</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-114.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6158673</string>
		<key>latitude</key>
		<real>53.649999999999999</real>
		<key>longitude</key>
		<real>-109.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5920973</string>
		<key>latitude</key>
		<real>56.18</real>
		<key>longitude</key>
		<real>-119.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964347</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-118.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6096750</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-109.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6050066</string>
		<key>latitude</key>
		<real>55.100000000000001</real>
		<key>longitude</key>
		<real>-105.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6143339</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-114.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6181934</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-115.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921525</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-115.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6063111</string>
		<key>latitude</key>
		<real>53.649999999999999</real>
		<key>longitude</key>
		<real>-115.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921656</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>-107.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6155240</string>
		<key>latitude</key>
		<real>55.420000000000002</real>
		<key>longitude</key>
		<real>-104.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5940639</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>-120.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6178038</string>
		<key>latitude</key>
		<real>55.149999999999999</real>
		<key>longitude</key>
		<real>-119.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100512</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-116</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127200</string>
		<key>latitude</key>
		<real>55.899999999999999</real>
		<key>longitude</key>
		<real>-120.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5978020</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-119.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5979136</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>-119.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5896969</string>
		<key>latitude</key>
		<real>55.219999999999999</real>
		<key>longitude</key>
		<real>-119.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6112409</string>
		<key>latitude</key>
		<real>55.719999999999999</real>
		<key>longitude</key>
		<real>-120.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5900745</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-107.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5935804</string>
		<key>latitude</key>
		<real>55.770000000000003</real>
		<key>longitude</key>
		<real>-120.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5937701</string>
		<key>latitude</key>
		<real>55.450000000000003</real>
		<key>longitude</key>
		<real>-119.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6052441</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-107.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946820</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>-116.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5915299</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>-107.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5909847</string>
		<key>latitude</key>
		<real>61.299999999999997</real>
		<key>longitude</key>
		<real>-119.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6141242</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>-106</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6098930</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-107.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176576</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-106.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6077260</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>-105.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5936333</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-106.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6092200</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-117.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964304</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-119.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6096003</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-105.56999999999999</real>
	</dict>
</array>
</plist>
