<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6062100</string>
		<key>latitude</key>
		<real>65.760000000000005</real>
		<key>longitude</key>
		<real>-111.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5913698</string>
		<key>latitude</key>
		<real>69.109999999999999</real>
		<key>longitude</key>
		<real>-105.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5891871</string>
		<key>latitude</key>
		<real>64.319999999999993</real>
		<key>longitude</key>
		<real>-96.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961560</string>
		<key>latitude</key>
		<real>68.629999999999995</real>
		<key>longitude</key>
		<real>-95.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943716</string>
		<key>latitude</key>
		<real>62.409999999999997</real>
		<key>longitude</key>
		<real>-110.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5939598</string>
		<key>latitude</key>
		<real>63.18</real>
		<key>longitude</key>
		<real>-113.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6161366</string>
		<key>latitude</key>
		<real>69.540000000000006</real>
		<key>longitude</key>
		<real>-93.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185377</string>
		<key>latitude</key>
		<real>62.460000000000001</real>
		<key>longitude</key>
		<real>-114.34999999999999</real>
	</dict>
</array>
</plist>
