<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5947965</string>
		<key>latitude</key>
		<real>48.630000000000003</real>
		<key>longitude</key>
		<real>-53.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5905393</string>
		<key>latitude</key>
		<real>48.649999999999999</real>
		<key>longitude</key>
		<real>-53.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5918243</string>
		<key>latitude</key>
		<real>48.520000000000003</real>
		<key>longitude</key>
		<real>-53.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6112046</string>
		<key>latitude</key>
		<real>48.5</real>
		<key>longitude</key>
		<real>-53.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087691</string>
		<key>latitude</key>
		<real>48.579999999999998</real>
		<key>longitude</key>
		<real>-53.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6178199</string>
		<key>latitude</key>
		<real>49.149999999999999</real>
		<key>longitude</key>
		<real>-53.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6093319</string>
		<key>latitude</key>
		<real>48.079999999999998</real>
		<key>longitude</key>
		<real>-53.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5916458</string>
		<key>latitude</key>
		<real>48.030000000000001</real>
		<key>longitude</key>
		<real>-52.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6061272</string>
		<key>latitude</key>
		<real>48</real>
		<key>longitude</key>
		<real>-52.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6111996</string>
		<key>latitude</key>
		<real>48.390000000000001</real>
		<key>longitude</key>
		<real>-53.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6094100</string>
		<key>latitude</key>
		<real>48.549999999999997</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6168945</string>
		<key>latitude</key>
		<real>48.369999999999997</real>
		<key>longitude</key>
		<real>-53.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5909998</string>
		<key>latitude</key>
		<real>48.030000000000001</real>
		<key>longitude</key>
		<real>-53.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6058486</string>
		<key>latitude</key>
		<real>47.630000000000003</real>
		<key>longitude</key>
		<real>-52.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6167817</string>
		<key>latitude</key>
		<real>47.670000000000002</real>
		<key>longitude</key>
		<real>-52.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5901993</string>
		<key>latitude</key>
		<real>48.68</real>
		<key>longitude</key>
		<real>-53.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5895200</string>
		<key>latitude</key>
		<real>47.719999999999999</real>
		<key>longitude</key>
		<real>-52.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5956016</string>
		<key>latitude</key>
		<real>47.57</real>
		<key>longitude</key>
		<real>-52.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6122645</string>
		<key>latitude</key>
		<real>47.890000000000001</real>
		<key>longitude</key>
		<real>-53.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6324733</string>
		<key>latitude</key>
		<real>47.560000000000002</real>
		<key>longitude</key>
		<real>-52.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6112032</string>
		<key>latitude</key>
		<real>47.630000000000003</real>
		<key>longitude</key>
		<real>-52.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6112040</string>
		<key>latitude</key>
		<real>47.630000000000003</real>
		<key>longitude</key>
		<real>-52.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5970410</string>
		<key>latitude</key>
		<real>48.020000000000003</real>
		<key>longitude</key>
		<real>-53.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946001</string>
		<key>latitude</key>
		<real>48.649999999999999</real>
		<key>longitude</key>
		<real>-53.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5911714</string>
		<key>latitude</key>
		<real>48.719999999999999</real>
		<key>longitude</key>
		<real>-53.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6144029</string>
		<key>latitude</key>
		<real>49.619999999999997</real>
		<key>longitude</key>
		<real>-54.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6103615</string>
		<key>latitude</key>
		<real>47.469999999999999</real>
		<key>longitude</key>
		<real>-52.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6082231</string>
		<key>latitude</key>
		<real>47.520000000000003</real>
		<key>longitude</key>
		<real>-52.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6152006</string>
		<key>latitude</key>
		<real>48.399999999999999</real>
		<key>longitude</key>
		<real>-53.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5897959</string>
		<key>latitude</key>
		<real>47.630000000000003</real>
		<key>longitude</key>
		<real>-52.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6144033</string>
		<key>latitude</key>
		<real>49.600000000000001</real>
		<key>longitude</key>
		<real>-54.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174727</string>
		<key>latitude</key>
		<real>47.630000000000003</real>
		<key>longitude</key>
		<real>-52.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6183357</string>
		<key>latitude</key>
		<real>47.969999999999999</real>
		<key>longitude</key>
		<real>-53.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6139445</string>
		<key>latitude</key>
		<real>47.780000000000001</real>
		<key>longitude</key>
		<real>-53.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955140</string>
		<key>latitude</key>
		<real>49.719999999999999</real>
		<key>longitude</key>
		<real>-54.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5970873</string>
		<key>latitude</key>
		<real>48.850000000000001</real>
		<key>longitude</key>
		<real>-54.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6167794</string>
		<key>latitude</key>
		<real>47.530000000000001</real>
		<key>longitude</key>
		<real>-52.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5916722</string>
		<key>latitude</key>
		<real>47.729999999999997</real>
		<key>longitude</key>
		<real>-53.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5957169</string>
		<key>latitude</key>
		<real>47.520000000000003</real>
		<key>longitude</key>
		<real>-52.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5933196</string>
		<key>latitude</key>
		<real>47.869999999999997</real>
		<key>longitude</key>
		<real>-53.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5917294</string>
		<key>latitude</key>
		<real>49.399999999999999</real>
		<key>longitude</key>
		<real>-54.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6160377</string>
		<key>latitude</key>
		<real>47.75</real>
		<key>longitude</key>
		<real>-53.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5926511</string>
		<key>latitude</key>
		<real>47.5</real>
		<key>longitude</key>
		<real>-53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5990415</string>
		<key>latitude</key>
		<real>47.5</real>
		<key>longitude</key>
		<real>-53.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962232</string>
		<key>latitude</key>
		<real>48.68</real>
		<key>longitude</key>
		<real>-54.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5919767</string>
		<key>latitude</key>
		<real>49.670000000000002</real>
		<key>longitude</key>
		<real>-54.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5895263</string>
		<key>latitude</key>
		<real>47.32</real>
		<key>longitude</key>
		<real>-52.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6172355</string>
		<key>latitude</key>
		<real>47.649999999999999</real>
		<key>longitude</key>
		<real>-53.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5911483</string>
		<key>latitude</key>
		<real>48.18</real>
		<key>longitude</key>
		<real>-53.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6156393</string>
		<key>latitude</key>
		<real>47.68</real>
		<key>longitude</key>
		<real>-53.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5896660</string>
		<key>latitude</key>
		<real>49.420000000000002</real>
		<key>longitude</key>
		<real>-54.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6152517</string>
		<key>latitude</key>
		<real>48.049999999999997</real>
		<key>longitude</key>
		<real>-53.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5973178</string>
		<key>latitude</key>
		<real>47.82</real>
		<key>longitude</key>
		<real>-53.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6183533</string>
		<key>latitude</key>
		<real>47.280000000000001</real>
		<key>longitude</key>
		<real>-52.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5983049</string>
		<key>latitude</key>
		<real>47.469999999999999</real>
		<key>longitude</key>
		<real>-53.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6153111</string>
		<key>latitude</key>
		<real>47.619999999999997</real>
		<key>longitude</key>
		<real>-53.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5895424</string>
		<key>latitude</key>
		<real>47.600000000000001</real>
		<key>longitude</key>
		<real>-53.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5959271</string>
		<key>latitude</key>
		<real>48.780000000000001</real>
		<key>longitude</key>
		<real>-54.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6075825</string>
		<key>latitude</key>
		<real>47.25</real>
		<key>longitude</key>
		<real>-52.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6166764</string>
		<key>latitude</key>
		<real>49.450000000000003</real>
		<key>longitude</key>
		<real>-54.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5908881</string>
		<key>latitude</key>
		<real>47.520000000000003</real>
		<key>longitude</key>
		<real>-53.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5973174</string>
		<key>latitude</key>
		<real>47.770000000000003</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174055</string>
		<key>latitude</key>
		<real>49.350000000000001</real>
		<key>longitude</key>
		<real>-54.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5918580</string>
		<key>latitude</key>
		<real>47.719999999999999</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5970551</string>
		<key>latitude</key>
		<real>47.43</real>
		<key>longitude</key>
		<real>-53.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6090508</string>
		<key>latitude</key>
		<real>47.549999999999997</real>
		<key>longitude</key>
		<real>-53.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5976393</string>
		<key>latitude</key>
		<real>47.380000000000003</real>
		<key>longitude</key>
		<real>-53.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6181200</string>
		<key>latitude</key>
		<real>47.68</real>
		<key>longitude</key>
		<real>-53.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5926512</string>
		<key>latitude</key>
		<real>47.439999999999998</real>
		<key>longitude</key>
		<real>-53.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5898612</string>
		<key>latitude</key>
		<real>48.899999999999999</real>
		<key>longitude</key>
		<real>-54.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5923118</string>
		<key>latitude</key>
		<real>48.170000000000002</real>
		<key>longitude</key>
		<real>-53.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5923119</string>
		<key>latitude</key>
		<real>48.18</real>
		<key>longitude</key>
		<real>-53.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6146777</string>
		<key>latitude</key>
		<real>48.18</real>
		<key>longitude</key>
		<real>-53.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6162976</string>
		<key>latitude</key>
		<real>48.5</real>
		<key>longitude</key>
		<real>-54.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087592</string>
		<key>latitude</key>
		<real>47.579999999999998</real>
		<key>longitude</key>
		<real>-53.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6170930</string>
		<key>latitude</key>
		<real>49.649999999999999</real>
		<key>longitude</key>
		<real>-54.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5915577</string>
		<key>latitude</key>
		<real>47.090000000000003</real>
		<key>longitude</key>
		<real>-52.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6163910</string>
		<key>latitude</key>
		<real>47.039999999999999</real>
		<key>longitude</key>
		<real>-52.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5939341</string>
		<key>latitude</key>
		<real>47.57</real>
		<key>longitude</key>
		<real>-53.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5959335</string>
		<key>latitude</key>
		<real>48.969999999999999</real>
		<key>longitude</key>
		<real>-54.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5901684</string>
		<key>latitude</key>
		<real>49.350000000000001</real>
		<key>longitude</key>
		<real>-54.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6159219</string>
		<key>latitude</key>
		<real>49.479999999999997</real>
		<key>longitude</key>
		<real>-54.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6159599</string>
		<key>latitude</key>
		<real>47.859999999999999</real>
		<key>longitude</key>
		<real>-53.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5928552</string>
		<key>latitude</key>
		<real>49.5</real>
		<key>longitude</key>
		<real>-54.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5952334</string>
		<key>latitude</key>
		<real>46.979999999999997</real>
		<key>longitude</key>
		<real>-52.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5972815</string>
		<key>latitude</key>
		<real>49.549999999999997</real>
		<key>longitude</key>
		<real>-54.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180166</string>
		<key>latitude</key>
		<real>47.420000000000002</real>
		<key>longitude</key>
		<real>-53.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5926314</string>
		<key>latitude</key>
		<real>47.850000000000001</real>
		<key>longitude</key>
		<real>-53.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5919860</string>
		<key>latitude</key>
		<real>47.520000000000003</real>
		<key>longitude</key>
		<real>-53.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6119433</string>
		<key>latitude</key>
		<real>46.899999999999999</real>
		<key>longitude</key>
		<real>-52.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6058972</string>
		<key>latitude</key>
		<real>47.43</real>
		<key>longitude</key>
		<real>-53.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6053446</string>
		<key>latitude</key>
		<real>49.25</real>
		<key>longitude</key>
		<real>-55.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6055114</string>
		<key>latitude</key>
		<real>49.340000000000003</real>
		<key>longitude</key>
		<real>-55.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6151066</string>
		<key>latitude</key>
		<real>47.799999999999997</real>
		<key>longitude</key>
		<real>-54.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174322</string>
		<key>latitude</key>
		<real>47.299999999999997</real>
		<key>longitude</key>
		<real>-53.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6112001</string>
		<key>latitude</key>
		<real>47.530000000000001</real>
		<key>longitude</key>
		<real>-54.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5956901</string>
		<key>latitude</key>
		<real>47.32</real>
		<key>longitude</key>
		<real>-53.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7870581</string>
		<key>latitude</key>
		<real>49.369999999999997</real>
		<key>longitude</key>
		<real>-55.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732472</string>
		<key>latitude</key>
		<real>47.299999999999997</real>
		<key>longitude</key>
		<real>-53.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089277</string>
		<key>latitude</key>
		<real>49.079999999999998</real>
		<key>longitude</key>
		<real>-55.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6168779</string>
		<key>latitude</key>
		<real>46.729999999999997</real>
		<key>longitude</key>
		<real>-53.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5906229</string>
		<key>latitude</key>
		<real>49.149999999999999</real>
		<key>longitude</key>
		<real>-55.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6054779</string>
		<key>latitude</key>
		<real>47.18</real>
		<key>longitude</key>
		<real>-54.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6146505</string>
		<key>latitude</key>
		<real>47.100000000000001</real>
		<key>longitude</key>
		<real>-54.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6084537</string>
		<key>latitude</key>
		<real>47.450000000000003</real>
		<key>longitude</key>
		<real>-54.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5986668</string>
		<key>latitude</key>
		<real>47.68</real>
		<key>longitude</key>
		<real>-54.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5907368</string>
		<key>latitude</key>
		<real>46.880000000000003</real>
		<key>longitude</key>
		<real>-53.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5948888</string>
		<key>latitude</key>
		<real>47.630000000000003</real>
		<key>longitude</key>
		<real>-54.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5965842</string>
		<key>latitude</key>
		<real>47.469999999999999</real>
		<key>longitude</key>
		<real>-55.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6067472</string>
		<key>latitude</key>
		<real>47.170000000000002</real>
		<key>longitude</key>
		<real>-55.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140842</string>
		<key>latitude</key>
		<real>47.049999999999997</real>
		<key>longitude</key>
		<real>-55.18</real>
	</dict>
</array>
</plist>
