<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5915732</string>
		<key>latitude</key>
		<real>64.230000000000004</real>
		<key>longitude</key>
		<real>-76.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5927708</string>
		<key>latitude</key>
		<real>64.129999999999995</real>
		<key>longitude</key>
		<real>-83.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6119528</string>
		<key>latitude</key>
		<real>66.530000000000001</real>
		<key>longitude</key>
		<real>-86.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5969475</string>
		<key>latitude</key>
		<real>68.790000000000006</real>
		<key>longitude</key>
		<real>-81.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5979345</string>
		<key>latitude</key>
		<real>69.379999999999995</real>
		<key>longitude</key>
		<real>-81.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5984875</string>
		<key>latitude</key>
		<real>62.420000000000002</real>
		<key>longitude</key>
		<real>-77.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6139393</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>-75.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5994330</string>
		<key>latitude</key>
		<real>68.540000000000006</real>
		<key>longitude</key>
		<real>-89.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5992095</string>
		<key>latitude</key>
		<real>62.850000000000001</real>
		<key>longitude</key>
		<real>-69.870000000000005</real>
	</dict>
</array>
</plist>
