<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5984185</string>
		<key>latitude</key>
		<real>78.785301000000004</real>
		<key>longitude</key>
		<real>-103.504761</real>
	</dict>
</array>
</plist>
