<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5983577</string>
		<key>latitude</key>
		<real>58.450000000000003</real>
		<key>longitude</key>
		<real>-78.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140995</string>
		<key>latitude</key>
		<real>56.530000000000001</real>
		<key>longitude</key>
		<real>-79.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6171824</string>
		<key>latitude</key>
		<real>56.560000000000002</real>
		<key>longitude</key>
		<real>-76.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6114471</string>
		<key>latitude</key>
		<real>60.030000000000001</real>
		<key>longitude</key>
		<real>-77.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5882994</string>
		<key>latitude</key>
		<real>60.799999999999997</real>
		<key>longitude</key>
		<real>-78.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5994519</string>
		<key>latitude</key>
		<real>55.280000000000001</real>
		<key>longitude</key>
		<real>-77.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921589</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-78.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5984875</string>
		<key>latitude</key>
		<real>62.420000000000002</real>
		<key>longitude</key>
		<real>-77.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955950</string>
		<key>latitude</key>
		<real>55.979999999999997</real>
		<key>longitude</key>
		<real>-87.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6139393</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>-75.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5989205</string>
		<key>latitude</key>
		<real>61.600000000000001</real>
		<key>longitude</key>
		<real>-71.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6949250</string>
		<key>latitude</key>
		<real>53.759999999999998</real>
		<key>longitude</key>
		<real>-73.680000000000007</real>
	</dict>
</array>
</plist>
