<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5989203</string>
		<key>latitude</key>
		<real>58.689999999999998</real>
		<key>longitude</key>
		<real>-65.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5994517</string>
		<key>latitude</key>
		<real>58.100000000000001</real>
		<key>longitude</key>
		<real>-68.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910166</string>
		<key>latitude</key>
		<real>55.920000000000002</real>
		<key>longitude</key>
		<real>-61.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6161803</string>
		<key>latitude</key>
		<real>58.700000000000003</real>
		<key>longitude</key>
		<real>-69.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5888355</string>
		<key>latitude</key>
		<real>59.299999999999997</real>
		<key>longitude</key>
		<real>-69.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6694966</string>
		<key>latitude</key>
		<real>55.469999999999999</real>
		<key>longitude</key>
		<real>-60.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6142001</string>
		<key>latitude</key>
		<real>54.799999999999997</real>
		<key>longitude</key>
		<real>-66.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5989218</string>
		<key>latitude</key>
		<real>60.020000000000003</real>
		<key>longitude</key>
		<real>-70.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943727</string>
		<key>latitude</key>
		<real>55.090000000000003</real>
		<key>longitude</key>
		<real>-59.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6114894</string>
		<key>latitude</key>
		<real>61.030000000000001</real>
		<key>longitude</key>
		<real>-69.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6957320</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-64.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6947098</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-58.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5989205</string>
		<key>latitude</key>
		<real>61.600000000000001</real>
		<key>longitude</key>
		<real>-71.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943726</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-57.020000000000003</real>
	</dict>
</array>
</plist>
