<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6184594</string>
		<key>latitude</key>
		<real>56.520000000000003</real>
		<key>longitude</key>
		<real>-119.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127730</string>
		<key>latitude</key>
		<real>56.5</real>
		<key>longitude</key>
		<real>-120.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975004</string>
		<key>latitude</key>
		<real>58.520000000000003</real>
		<key>longitude</key>
		<real>-117.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5977633</string>
		<key>latitude</key>
		<real>57.07</real>
		<key>longitude</key>
		<real>-117.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955333</string>
		<key>latitude</key>
		<real>58.619999999999997</real>
		<key>longitude</key>
		<real>-117.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6077183</string>
		<key>latitude</key>
		<real>56.450000000000003</real>
		<key>longitude</key>
		<real>-120.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955902</string>
		<key>latitude</key>
		<real>58.810000000000002</real>
		<key>longitude</key>
		<real>-122.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6105354</string>
		<key>latitude</key>
		<real>57.030000000000001</real>
		<key>longitude</key>
		<real>-122.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6065306</string>
		<key>latitude</key>
		<real>56.920000000000002</real>
		<key>longitude</key>
		<real>-117.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5923566</string>
		<key>latitude</key>
		<real>56.329999999999998</real>
		<key>longitude</key>
		<real>-119.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6090655</string>
		<key>latitude</key>
		<real>56.850000000000001</real>
		<key>longitude</key>
		<real>-117.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5920224</string>
		<key>latitude</key>
		<real>56.280000000000001</real>
		<key>longitude</key>
		<real>-120.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955960</string>
		<key>latitude</key>
		<real>56.25</real>
		<key>longitude</key>
		<real>-120.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5920973</string>
		<key>latitude</key>
		<real>56.18</real>
		<key>longitude</key>
		<real>-119.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5892066</string>
		<key>latitude</key>
		<real>56.200000000000003</real>
		<key>longitude</key>
		<real>-120.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6171446</string>
		<key>latitude</key>
		<real>56.18</real>
		<key>longitude</key>
		<real>-120.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5936199</string>
		<key>latitude</key>
		<real>56.729999999999997</real>
		<key>longitude</key>
		<real>-117.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6162051</string>
		<key>latitude</key>
		<real>56.159999999999997</real>
		<key>longitude</key>
		<real>-120.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975472</string>
		<key>latitude</key>
		<real>56.25</real>
		<key>longitude</key>
		<real>-118.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5940363</string>
		<key>latitude</key>
		<real>56.530000000000001</real>
		<key>longitude</key>
		<real>-117.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5940639</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>-120.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6155817</string>
		<key>latitude</key>
		<real>58.68</real>
		<key>longitude</key>
		<real>-123.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127200</string>
		<key>latitude</key>
		<real>55.899999999999999</real>
		<key>longitude</key>
		<real>-120.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951036</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>-118.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5956004</string>
		<key>latitude</key>
		<real>58.390000000000001</real>
		<key>longitude</key>
		<real>-116.01000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5904482</string>
		<key>latitude</key>
		<real>56.07</real>
		<key>longitude</key>
		<real>-118.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6159735</string>
		<key>latitude</key>
		<real>55.850000000000001</real>
		<key>longitude</key>
		<real>-120.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5899068</string>
		<key>latitude</key>
		<real>56.149999999999999</real>
		<key>longitude</key>
		<real>-117.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5935804</string>
		<key>latitude</key>
		<real>55.770000000000003</real>
		<key>longitude</key>
		<real>-120.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5967157</string>
		<key>latitude</key>
		<real>56.18</real>
		<key>longitude</key>
		<real>-117.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127261</string>
		<key>latitude</key>
		<real>56.219999999999999</real>
		<key>longitude</key>
		<real>-117.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5967463</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>-120.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6112409</string>
		<key>latitude</key>
		<real>55.719999999999999</real>
		<key>longitude</key>
		<real>-120.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100069</string>
		<key>latitude</key>
		<real>56.25</real>
		<key>longitude</key>
		<real>-117.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6153766</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>-118.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6136875</string>
		<key>latitude</key>
		<real>55.75</real>
		<key>longitude</key>
		<real>-118.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6075812</string>
		<key>latitude</key>
		<real>55.829999999999998</real>
		<key>longitude</key>
		<real>-121.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5924757</string>
		<key>latitude</key>
		<real>55.770000000000003</real>
		<key>longitude</key>
		<real>-118.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921091</string>
		<key>latitude</key>
		<real>55.700000000000003</real>
		<key>longitude</key>
		<real>-121.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5944893</string>
		<key>latitude</key>
		<real>55.780000000000001</real>
		<key>longitude</key>
		<real>-117.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6085759</string>
		<key>latitude</key>
		<real>56.030000000000001</real>
		<key>longitude</key>
		<real>-117.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6183605</string>
		<key>latitude</key>
		<real>55.579999999999998</real>
		<key>longitude</key>
		<real>-118.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6169397</string>
		<key>latitude</key>
		<real>60.43</real>
		<key>longitude</key>
		<real>-121.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6161471</string>
		<key>latitude</key>
		<real>55.799999999999997</real>
		<key>longitude</key>
		<real>-117.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5937701</string>
		<key>latitude</key>
		<real>55.450000000000003</real>
		<key>longitude</key>
		<real>-119.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089186</string>
		<key>latitude</key>
		<real>55.869999999999997</real>
		<key>longitude</key>
		<real>-117.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176914</string>
		<key>latitude</key>
		<real>55.719999999999999</real>
		<key>longitude</key>
		<real>-117.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6154113</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>-116.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6177486</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>-118.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961502</string>
		<key>latitude</key>
		<real>55.75</real>
		<key>longitude</key>
		<real>-117.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5979136</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>-119.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6144602</string>
		<key>latitude</key>
		<real>55.350000000000001</real>
		<key>longitude</key>
		<real>-118.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951224</string>
		<key>latitude</key>
		<real>55.729999999999997</real>
		<key>longitude</key>
		<real>-117.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150280</string>
		<key>latitude</key>
		<real>55.399999999999999</real>
		<key>longitude</key>
		<real>-118.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941611</string>
		<key>latitude</key>
		<real>55.729999999999997</real>
		<key>longitude</key>
		<real>-117.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6064168</string>
		<key>latitude</key>
		<real>58.5</real>
		<key>longitude</key>
		<real>-125.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5896969</string>
		<key>latitude</key>
		<real>55.219999999999999</real>
		<key>longitude</key>
		<real>-119.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5922904</string>
		<key>latitude</key>
		<real>55.270000000000003</real>
		<key>longitude</key>
		<real>-118.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955887</string>
		<key>latitude</key>
		<real>60.229999999999997</real>
		<key>longitude</key>
		<real>-123.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6070595</string>
		<key>latitude</key>
		<real>55.700000000000003</real>
		<key>longitude</key>
		<real>-116.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5978020</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-119.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6178038</string>
		<key>latitude</key>
		<real>55.149999999999999</real>
		<key>longitude</key>
		<real>-119.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180747</string>
		<key>latitude</key>
		<real>55.469999999999999</real>
		<key>longitude</key>
		<real>-117.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964347</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-118.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176186</string>
		<key>latitude</key>
		<real>57.420000000000002</real>
		<key>longitude</key>
		<real>-125.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887973</string>
		<key>latitude</key>
		<real>55.93</real>
		<key>longitude</key>
		<real>-115.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975034</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>-116.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6063191</string>
		<key>latitude</key>
		<real>55.299999999999997</real>
		<key>longitude</key>
		<real>-123.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5949030</string>
		<key>latitude</key>
		<real>60.549999999999997</real>
		<key>longitude</key>
		<real>-116.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173220</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>-117.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5909847</string>
		<key>latitude</key>
		<real>61.299999999999997</real>
		<key>longitude</key>
		<real>-119.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886590</string>
		<key>latitude</key>
		<real>55.399999999999999</real>
		<key>longitude</key>
		<real>-116.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087210</string>
		<key>latitude</key>
		<real>60.950000000000003</real>
		<key>longitude</key>
		<real>-123.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6065460</string>
		<key>latitude</key>
		<real>55.670000000000002</real>
		<key>longitude</key>
		<real>-124.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5988058</string>
		<key>latitude</key>
		<real>55.369999999999997</real>
		<key>longitude</key>
		<real>-115.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6070684</string>
		<key>latitude</key>
		<real>54.979999999999997</real>
		<key>longitude</key>
		<real>-123.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5972762</string>
		<key>latitude</key>
		<real>60.82</real>
		<key>longitude</key>
		<real>-115.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5942626</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>-115.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955921</string>
		<key>latitude</key>
		<real>61.350000000000001</real>
		<key>longitude</key>
		<real>-117.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5992692</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>-115.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174976</string>
		<key>latitude</key>
		<real>55.350000000000001</real>
		<key>longitude</key>
		<real>-114.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5898662</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-120.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6086424</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-121.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6251999</string>
		<key>latitude</key>
		<real>60.109999999999999</real>
		<key>longitude</key>
		<real>-113.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955953</string>
		<key>latitude</key>
		<real>61.859999999999999</real>
		<key>longitude</key>
		<real>-121.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6149374</string>
		<key>latitude</key>
		<real>55.280000000000001</real>
		<key>longitude</key>
		<real>-114.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5956869</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>-116.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5978985</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-121.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6161240</string>
		<key>latitude</key>
		<real>55.479999999999997</real>
		<key>longitude</key>
		<real>-125.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961516</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964304</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-119.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6160291</string>
		<key>latitude</key>
		<real>54.719999999999999</real>
		<key>longitude</key>
		<real>-115.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6139657</string>
		<key>latitude</key>
		<real>54.079999999999998</real>
		<key>longitude</key>
		<real>-122.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5881688</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>-124.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6149905</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-114.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6113365</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-122.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5976495</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>-114.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5984673</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-123.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921607</string>
		<key>latitude</key>
		<real>54.920000000000002</real>
		<key>longitude</key>
		<real>-114.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955925</string>
		<key>latitude</key>
		<real>61.159999999999997</real>
		<key>longitude</key>
		<real>-113.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180285</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-115.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6083878</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-123.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955889</string>
		<key>latitude</key>
		<real>57.18</real>
		<key>longitude</key>
		<real>-111.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173361</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>-124.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601753</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-122.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5954231</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>-114.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955954</string>
		<key>latitude</key>
		<real>60</real>
		<key>longitude</key>
		<real>-111.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6065562</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-123.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6059915</string>
		<key>latitude</key>
		<real>54.079999999999998</real>
		<key>longitude</key>
		<real>-115.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955783</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>-114.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6182516</string>
		<key>latitude</key>
		<real>54.030000000000001</real>
		<key>longitude</key>
		<real>-124.45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6092200</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-117.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6052080</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>-124.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951878</string>
		<key>latitude</key>
		<real>54.530000000000001</real>
		<key>longitude</key>
		<real>-114.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6054016</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-124.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946820</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>-116.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5985869</string>
		<key>latitude</key>
		<real>54.450000000000003</real>
		<key>longitude</key>
		<real>-113.98999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6068315</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-115.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100512</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-116</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5909050</string>
		<key>latitude</key>
		<real>54</real>
		<key>longitude</key>
		<real>-125</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6146131</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-125.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127655</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>-126.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6126200</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-115.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5911745</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>-125.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6167774</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>-126.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887916</string>
		<key>latitude</key>
		<real>54.719999999999999</real>
		<key>longitude</key>
		<real>-113.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5894164</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-114.40000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5935060</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-113.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087624</string>
		<key>latitude</key>
		<real>55.25</real>
		<key>longitude</key>
		<real>-127.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6175823</string>
		<key>latitude</key>
		<real>55.200000000000003</real>
		<key>longitude</key>
		<real>-112.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6063111</string>
		<key>latitude</key>
		<real>53.649999999999999</real>
		<key>longitude</key>
		<real>-115.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140989</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-114.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5972901</string>
		<key>latitude</key>
		<real>55.25</real>
		<key>longitude</key>
		<real>-127.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5908579</string>
		<key>latitude</key>
		<real>55.130000000000003</real>
		<key>longitude</key>
		<real>-112.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921525</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-115.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6101527</string>
		<key>latitude</key>
		<real>54.469999999999999</real>
		<key>longitude</key>
		<real>-113.39</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6048445</string>
		<key>latitude</key>
		<real>54.82</real>
		<key>longitude</key>
		<real>-127.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6149996</string>
		<key>latitude</key>
		<real>54.780000000000001</real>
		<key>longitude</key>
		<real>-127.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6151551</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>-125.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5920888</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>-114.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6181934</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>-115.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941547</string>
		<key>latitude</key>
		<real>54.75</real>
		<key>longitude</key>
		<real>-112.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5965136</string>
		<key>latitude</key>
		<real>54.82</real>
		<key>longitude</key>
		<real>-112.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6179138</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-113.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5977783</string>
		<key>latitude</key>
		<real>54.399999999999999</real>
		<key>longitude</key>
		<real>-126.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6162016</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>-113.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087180</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>-113.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5888501</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>-112.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5888093</string>
		<key>latitude</key>
		<real>54.82</real>
		<key>longitude</key>
		<real>-112.55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5957207</string>
		<key>latitude</key>
		<real>54.75</real>
		<key>longitude</key>
		<real>-112.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5907019</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>-112.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185377</string>
		<key>latitude</key>
		<real>62.460000000000001</real>
		<key>longitude</key>
		<real>-114.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5947979</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>-112.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6106147</string>
		<key>latitude</key>
		<real>54.850000000000001</real>
		<key>longitude</key>
		<real>-112.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174364</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-113.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5912338</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-113.89</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5993194</string>
		<key>latitude</key>
		<real>55.100000000000001</real>
		<key>longitude</key>
		<real>-128.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5918002</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-112.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6143339</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-114.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087428</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>-112.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6093933</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-114.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6051792</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-113.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6165620</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-113.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5901079</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-114.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5979099</string>
		<key>latitude</key>
		<real>54.68</real>
		<key>longitude</key>
		<real>-112.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150008</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-114.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173683</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>-112.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5918920</string>
		<key>latitude</key>
		<real>55.020000000000003</real>
		<key>longitude</key>
		<real>-128.33000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6028050</string>
		<key>latitude</key>
		<real>54.770000000000003</real>
		<key>longitude</key>
		<real>-111.97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6078636</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>-113.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5947123</string>
		<key>latitude</key>
		<real>54.030000000000001</real>
		<key>longitude</key>
		<real>-113.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6115728</string>
		<key>latitude</key>
		<real>54.07</real>
		<key>longitude</key>
		<real>-112.95</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5905348</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-113.42</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176573</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-112.79000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5893004</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>-112.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6118787</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-113.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5960842</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-113.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6157536</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-114</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6085706</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-113.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6154383</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-113.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5931508</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>-111.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6155033</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>-113.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6049152</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>-113.48999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6176376</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>-112.62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6150293</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-112.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955948</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-113.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946768</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-113.47</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089172</string>
		<key>latitude</key>
		<real>54.530000000000001</real>
		<key>longitude</key>
		<real>-111.69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946824</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-112.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5987945</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-113.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5897934</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>-112.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6049046</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>-112.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6146279</string>
		<key>latitude</key>
		<real>53.520000000000003</real>
		<key>longitude</key>
		<real>-113.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962884</string>
		<key>latitude</key>
		<real>54.299999999999997</real>
		<key>longitude</key>
		<real>-111.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6071173</string>
		<key>latitude</key>
		<real>54.350000000000001</real>
		<key>longitude</key>
		<real>-111.7</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886795</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-113.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5885030</string>
		<key>latitude</key>
		<real>53.880000000000003</real>
		<key>longitude</key>
		<real>-112.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174357</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>-111.92</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921530</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-112.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6153417</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-111.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6182305</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-112.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887609</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>-111.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6084170</string>
		<key>latitude</key>
		<real>53.600000000000001</real>
		<key>longitude</key>
		<real>-112.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6128736</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>-112.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6171332</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>-111.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6173635</string>
		<key>latitude</key>
		<real>53.5</real>
		<key>longitude</key>
		<real>-112.05</real>
	</dict>
</array>
</plist>
