<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6062100</string>
		<key>latitude</key>
		<real>65.760000000000005</real>
		<key>longitude</key>
		<real>-111.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5994339</string>
		<key>latitude</key>
		<real>67.829999999999998</real>
		<key>longitude</key>
		<real>-115.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5939598</string>
		<key>latitude</key>
		<real>63.18</real>
		<key>longitude</key>
		<real>-113.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943716</string>
		<key>latitude</key>
		<real>62.409999999999997</real>
		<key>longitude</key>
		<real>-110.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6115740</string>
		<key>latitude</key>
		<real>62.799999999999997</real>
		<key>longitude</key>
		<real>-116.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6179858</string>
		<key>latitude</key>
		<real>63.140000000000001</real>
		<key>longitude</key>
		<real>-117.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185377</string>
		<key>latitude</key>
		<real>62.460000000000001</real>
		<key>longitude</key>
		<real>-114.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5913698</string>
		<key>latitude</key>
		<real>69.109999999999999</real>
		<key>longitude</key>
		<real>-105.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6091069</string>
		<key>latitude</key>
		<real>69.5</real>
		<key>longitude</key>
		<real>-121.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5898662</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-120.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6086424</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-121.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955953</string>
		<key>latitude</key>
		<real>61.859999999999999</real>
		<key>longitude</key>
		<real>-121.34999999999999</real>
	</dict>
</array>
</plist>
