<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>601465</string>
		<key>latitude</key>
		<real>41</real>
		<key>longitude</key>
		<real>58.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829964</string>
		<key>latitude</key>
		<real>42.630000000000003</real>
		<key>longitude</key>
		<real>58.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162152</string>
		<key>latitude</key>
		<real>40</real>
		<key>longitude</key>
		<real>54.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829955</string>
		<key>latitude</key>
		<real>43.052070999999998</real>
		<key>longitude</key>
		<real>58.845959000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601608</string>
		<key>latitude</key>
		<real>42.329999999999998</real>
		<key>longitude</key>
		<real>59.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601306</string>
		<key>latitude</key>
		<real>42.839500000000001</real>
		<key>longitude</key>
		<real>59.000931000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601417</string>
		<key>latitude</key>
		<real>43.068741000000003</real>
		<key>longitude</key>
		<real>58.903720999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608879</string>
		<key>latitude</key>
		<real>44</real>
		<key>longitude</key>
		<real>54</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601551</string>
		<key>latitude</key>
		<real>42.055129999999998</real>
		<key>longitude</key>
		<real>59.378768999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829959</string>
		<key>latitude</key>
		<real>42.408810000000003</real>
		<key>longitude</key>
		<real>59.445438000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601339</string>
		<key>latitude</key>
		<real>42.400429000000003</real>
		<key>longitude</key>
		<real>59.460048999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601351</string>
		<key>latitude</key>
		<real>43.019069999999999</real>
		<key>longitude</key>
		<real>59.364249999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601423</string>
		<key>latitude</key>
		<real>42.598888000000002</real>
		<key>longitude</key>
		<real>59.534438999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>607610</string>
		<key>latitude</key>
		<real>43.299999999999997</real>
		<key>longitude</key>
		<real>52.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601294</string>
		<key>latitude</key>
		<real>42.453060000000001</real>
		<key>longitude</key>
		<real>59.610278999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829930</string>
		<key>latitude</key>
		<real>42.466000000000001</real>
		<key>longitude</key>
		<real>59.608459000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601661</string>
		<key>latitude</key>
		<real>42.128239000000001</real>
		<key>longitude</key>
		<real>59.671008999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601349</string>
		<key>latitude</key>
		<real>42.776668999999998</real>
		<key>longitude</key>
		<real>59.607779999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161616</string>
		<key>latitude</key>
		<real>39.509999999999998</real>
		<key>longitude</key>
		<real>54.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161974</string>
		<key>latitude</key>
		<real>39.240000000000002</real>
		<key>longitude</key>
		<real>55.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601456</string>
		<key>latitude</key>
		<real>41.78492</real>
		<key>longitude</key>
		<real>59.789580999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601299</string>
		<key>latitude</key>
		<real>43.768329999999999</real>
		<key>longitude</key>
		<real>59.021388999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829962</string>
		<key>latitude</key>
		<real>43.778770000000002</real>
		<key>longitude</key>
		<real>59.030391999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601475</string>
		<key>latitude</key>
		<real>41.650410000000001</real>
		<key>longitude</key>
		<real>59.916401</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608402</string>
		<key>latitude</key>
		<real>44.329999999999998</real>
		<key>longitude</key>
		<real>53.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829960</string>
		<key>latitude</key>
		<real>42.929519999999997</real>
		<key>longitude</key>
		<real>59.78199</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601734</string>
		<key>latitude</key>
		<real>41.83625</real>
		<key>longitude</key>
		<real>59.966621000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161943</string>
		<key>latitude</key>
		<real>39.210000000000001</real>
		<key>longitude</key>
		<real>54.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1513245</string>
		<key>latitude</key>
		<real>42.115558999999998</real>
		<key>longitude</key>
		<real>60.059719000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538224</string>
		<key>latitude</key>
		<real>42.122149999999998</real>
		<key>longitude</key>
		<real>60.062759</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161931</string>
		<key>latitude</key>
		<real>38.979999999999997</real>
		<key>longitude</key>
		<real>56.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>453752</string>
		<key>latitude</key>
		<real>44.216358</real>
		<key>longitude</key>
		<real>58.829861000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>601594</string>
		<key>latitude</key>
		<real>40.020000000000003</real>
		<key>longitude</key>
		<real>52.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1513733</string>
		<key>latitude</key>
		<real>43.022072000000001</real>
		<key>longitude</key>
		<real>60.017009999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608778</string>
		<key>latitude</key>
		<real>43.490000000000002</real>
		<key>longitude</key>
		<real>52.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512790</string>
		<key>latitude</key>
		<real>41.655830000000002</real>
		<key>longitude</key>
		<real>60.302501999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1513962</string>
		<key>latitude</key>
		<real>41.844718999999998</real>
		<key>longitude</key>
		<real>60.391941000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512978</string>
		<key>latitude</key>
		<real>41.534999999999997</real>
		<key>longitude</key>
		<real>60.345557999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>607551</string>
		<key>latitude</key>
		<real>43.590000000000003</real>
		<key>longitude</key>
		<real>52.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1513604</string>
		<key>latitude</key>
		<real>41.378329999999998</real>
		<key>longitude</key>
		<real>60.363892</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512699</string>
		<key>latitude</key>
		<real>43.011710999999998</real>
		<key>longitude</key>
		<real>60.301108999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610298</string>
		<key>latitude</key>
		<real>45.32</real>
		<key>longitude</key>
		<real>55.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484843</string>
		<key>latitude</key>
		<real>41.5</real>
		<key>longitude</key>
		<real>60.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609919</string>
		<key>latitude</key>
		<real>43.200000000000003</real>
		<key>longitude</key>
		<real>51.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512473</string>
		<key>latitude</key>
		<real>41.549999</real>
		<key>longitude</key>
		<real>60.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1514387</string>
		<key>latitude</key>
		<real>41.691108999999997</real>
		<key>longitude</key>
		<real>60.752499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538221</string>
		<key>latitude</key>
		<real>41.700000000000003</real>
		<key>longitude</key>
		<real>60.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608324</string>
		<key>latitude</key>
		<real>44.170000000000002</real>
		<key>longitude</key>
		<real>52.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218197</string>
		<key>latitude</key>
		<real>40</real>
		<key>longitude</key>
		<real>60</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538223</string>
		<key>latitude</key>
		<real>41.850000000000001</real>
		<key>longitude</key>
		<real>60.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162158</string>
		<key>latitude</key>
		<real>38.439999999999998</real>
		<key>longitude</key>
		<real>57.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538222</string>
		<key>latitude</key>
		<real>41.560000000000002</real>
		<key>longitude</key>
		<real>61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1513092</string>
		<key>latitude</key>
		<real>41.549999999999997</real>
		<key>longitude</key>
		<real>61.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>828390</string>
		<key>latitude</key>
		<real>43.600000000000001</real>
		<key>longitude</key>
		<real>51.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1513957</string>
		<key>latitude</key>
		<real>41.319439000000003</real>
		<key>longitude</key>
		<real>61.074168999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610612</string>
		<key>latitude</key>
		<real>43.649999999999999</real>
		<key>longitude</key>
		<real>51.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608398</string>
		<key>latitude</key>
		<real>43.850000000000001</real>
		<key>longitude</key>
		<real>51.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1514792</string>
		<key>latitude</key>
		<real>41.187461999999996</real>
		<key>longitude</key>
		<real>61.403599</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608053</string>
		<key>latitude</key>
		<real>44.359999999999999</real>
		<key>longitude</key>
		<real>51.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162099</string>
		<key>latitude</key>
		<real>38.050671000000001</real>
		<key>longitude</key>
		<real>58.205589000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161983</string>
		<key>latitude</key>
		<real>37.916770999999997</real>
		<key>longitude</key>
		<real>58.092368999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161808</string>
		<key>latitude</key>
		<real>37.965510999999999</real>
		<key>longitude</key>
		<real>58.338569999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162183</string>
		<key>latitude</key>
		<real>37.950001</real>
		<key>longitude</key>
		<real>58.383330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587207</string>
		<key>latitude</key>
		<real>40.469999999999999</real>
		<key>longitude</key>
		<real>50.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162199</string>
		<key>latitude</key>
		<real>37.887568999999999</real>
		<key>longitude</key>
		<real>58.515999000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6201376</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584562</string>
		<key>latitude</key>
		<real>40.369999999999997</real>
		<key>longitude</key>
		<real>50.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>40847</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>57.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>129512</string>
		<key>latitude</key>
		<real>37.380000000000003</real>
		<key>longitude</key>
		<real>55.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140380</string>
		<key>latitude</key>
		<real>37.469999999999999</real>
		<key>longitude</key>
		<real>57.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584792</string>
		<key>latitude</key>
		<real>40.359999999999999</real>
		<key>longitude</key>
		<real>50.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586289</string>
		<key>latitude</key>
		<real>40.439999999999998</real>
		<key>longitude</key>
		<real>50.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585568</string>
		<key>latitude</key>
		<real>40.490000000000002</real>
		<key>longitude</key>
		<real>50.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586925</string>
		<key>latitude</key>
		<real>40.520000000000003</real>
		<key>longitude</key>
		<real>50.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586971</string>
		<key>latitude</key>
		<real>40.57</real>
		<key>longitude</key>
		<real>50.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586968</string>
		<key>latitude</key>
		<real>40.450000000000003</real>
		<key>longitude</key>
		<real>50.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517530</string>
		<key>latitude</key>
		<real>44.700001</real>
		<key>longitude</key>
		<real>61.316665999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>162181</string>
		<key>latitude</key>
		<real>38.25</real>
		<key>longitude</key>
		<real>59.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585388</string>
		<key>latitude</key>
		<real>40.560000000000002</real>
		<key>longitude</key>
		<real>50.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586429</string>
		<key>latitude</key>
		<real>40.369999999999997</real>
		<key>longitude</key>
		<real>50.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>129406</string>
		<key>latitude</key>
		<real>37.573441000000003</real>
		<key>longitude</key>
		<real>58.198681000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585557</string>
		<key>latitude</key>
		<real>40.530000000000001</real>
		<key>longitude</key>
		<real>50</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863732</string>
		<key>latitude</key>
		<real>40.439999999999998</real>
		<key>longitude</key>
		<real>49.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609537</string>
		<key>latitude</key>
		<real>46.439999999999998</real>
		<key>longitude</key>
		<real>53.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587261</string>
		<key>latitude</key>
		<real>40.43</real>
		<key>longitude</key>
		<real>49.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>132938</string>
		<key>latitude</key>
		<real>37.25</real>
		<key>longitude</key>
		<real>55.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584614</string>
		<key>latitude</key>
		<real>40.479999999999997</real>
		<key>longitude</key>
		<real>49.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584938</string>
		<key>latitude</key>
		<real>40.43</real>
		<key>longitude</key>
		<real>49.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585184</string>
		<key>latitude</key>
		<real>40.439999999999998</real>
		<key>longitude</key>
		<real>49.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>824003</string>
		<key>latitude</key>
		<real>40.420000000000002</real>
		<key>longitude</key>
		<real>49.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585103</string>
		<key>latitude</key>
		<real>40.399999999999999</real>
		<key>longitude</key>
		<real>49.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>443792</string>
		<key>latitude</key>
		<real>37.25</real>
		<key>longitude</key>
		<real>55</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587071</string>
		<key>latitude</key>
		<real>40.460000000000001</real>
		<key>longitude</key>
		<real>49.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586736</string>
		<key>latitude</key>
		<real>40.490000000000002</real>
		<key>longitude</key>
		<real>49.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1514801</string>
		<key>latitude</key>
		<real>40.482039999999998</real>
		<key>longitude</key>
		<real>62.1586</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587081</string>
		<key>latitude</key>
		<real>40.399999999999999</real>
		<key>longitude</key>
		<real>49.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609906</string>
		<key>latitude</key>
		<real>44.509999999999998</real>
		<key>longitude</key>
		<real>50.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587084</string>
		<key>latitude</key>
		<real>40.380000000000003</real>
		<key>longitude</key>
		<real>49.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586854</string>
		<key>latitude</key>
		<real>40.380000000000003</real>
		<key>longitude</key>
		<real>49.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586967</string>
		<key>latitude</key>
		<real>40.469999999999999</real>
		<key>longitude</key>
		<real>49.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610398</string>
		<key>latitude</key>
		<real>44.549999999999997</real>
		<key>longitude</key>
		<real>50.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587078</string>
		<key>latitude</key>
		<real>40.439999999999998</real>
		<key>longitude</key>
		<real>49.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586631</string>
		<key>latitude</key>
		<real>40.57</real>
		<key>longitude</key>
		<real>49.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585915</string>
		<key>latitude</key>
		<real>40.450000000000003</real>
		<key>longitude</key>
		<real>49.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585145</string>
		<key>latitude</key>
		<real>40.530000000000001</real>
		<key>longitude</key>
		<real>49.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585940</string>
		<key>latitude</key>
		<real>40.409999999999997</real>
		<key>longitude</key>
		<real>49.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863761</string>
		<key>latitude</key>
		<real>40.340000000000003</real>
		<key>longitude</key>
		<real>49.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110831</string>
		<key>latitude</key>
		<real>37.090000000000003</real>
		<key>longitude</key>
		<real>55.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584923</string>
		<key>latitude</key>
		<real>40.590000000000003</real>
		<key>longitude</key>
		<real>49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>828305</string>
		<key>latitude</key>
		<real>40.579999999999998</real>
		<key>longitude</key>
		<real>49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>608317</string>
		<key>latitude</key>
		<real>46.283332999999999</real>
		<key>longitude</key>
		<real>59.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>863771</string>
		<key>latitude</key>
		<real>40.340000000000003</real>
		<key>longitude</key>
		<real>49.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586652</string>
		<key>latitude</key>
		<real>40.539999999999999</real>
		<key>longitude</key>
		<real>49.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585838</string>
		<key>latitude</key>
		<real>40.399999999999999</real>
		<key>longitude</key>
		<real>49.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585630</string>
		<key>latitude</key>
		<real>40.32</real>
		<key>longitude</key>
		<real>49.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586368</string>
		<key>latitude</key>
		<real>40.369999999999997</real>
		<key>longitude</key>
		<real>49.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585379</string>
		<key>latitude</key>
		<real>40.619999999999997</real>
		<key>longitude</key>
		<real>49.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584991</string>
		<key>latitude</key>
		<real>40.82</real>
		<key>longitude</key>
		<real>49.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>135298</string>
		<key>latitude</key>
		<real>37.079999999999998</real>
		<key>longitude</key>
		<real>57.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585236</string>
		<key>latitude</key>
		<real>40.299999999999997</real>
		<key>longitude</key>
		<real>49.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>586031</string>
		<key>latitude</key>
		<real>40.299999999999997</real>
		<key>longitude</key>
		<real>49.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585892</string>
		<key>latitude</key>
		<real>40.869999999999997</real>
		<key>longitude</key>
		<real>49.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517529</string>
		<key>latitude</key>
		<real>45.716667000000001</real>
		<key>longitude</key>
		<real>60.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522949</string>
		<key>latitude</key>
		<real>45.666668000000001</real>
		<key>longitude</key>
		<real>60.983333999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>609123</string>
		<key>latitude</key>
		<real>46.950000000000003</real>
		<key>longitude</key>
		<real>54.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521975</string>
		<key>latitude</key>
		<real>45.183334000000002</real>
		<key>longitude</key>
		<real>61.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526887</string>
		<key>latitude</key>
		<real>46.265278000000002</real>
		<key>longitude</key>
		<real>60.087775999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1525999</string>
		<key>latitude</key>
		<real>46.266666000000001</real>
		<key>longitude</key>
		<real>60.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>610513</string>
		<key>latitude</key>
		<real>46.716667000000001</real>
		<key>longitude</key>
		<real>59.166668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>587245</string>
		<key>latitude</key>
		<real>40.420000000000002</real>
		<key>longitude</key>
		<real>49.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>119115</string>
		<key>latitude</key>
		<real>37.105998999999997</real>
		<key>longitude</key>
		<real>58.509548000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>585223</string>
		<key>latitude</key>
		<real>40.079999999999998</real>
		<key>longitude</key>
		<real>49.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>161901</string>
		<key>latitude</key>
		<real>37.348208999999997</real>
		<key>longitude</key>
		<real>59.614311000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522545</string>
		<key>latitude</key>
		<real>46.25</real>
		<key>longitude</key>
		<real>60.733330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218239</string>
		<key>latitude</key>
		<real>37.383381</real>
		<key>longitude</key>
		<real>60.50544</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522862</string>
		<key>latitude</key>
		<real>45.759999999999998</real>
		<key>longitude</key>
		<real>62.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1517643</string>
		<key>latitude</key>
		<real>46.5</real>
		<key>longitude</key>
		<real>61.216670999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516789</string>
		<key>latitude</key>
		<real>45.850000000000001</real>
		<key>longitude</key>
		<real>62.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1526265</string>
		<key>latitude</key>
		<real>46.799999</real>
		<key>longitude</key>
		<real>61.666671999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218667</string>
		<key>latitude</key>
		<real>37.593781</real>
		<key>longitude</key>
		<real>61.830311000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1219899</string>
		<key>latitude</key>
		<real>37.630000000000003</real>
		<key>longitude</key>
		<real>61.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218612</string>
		<key>latitude</key>
		<real>37.5</real>
		<key>longitude</key>
		<real>61.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1219762</string>
		<key>latitude</key>
		<real>37.619999999999997</real>
		<key>longitude</key>
		<real>62.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118191</string>
		<key>latitude</key>
		<real>37.140000000000001</real>
		<key>longitude</key>
		<real>50.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>125897</string>
		<key>latitude</key>
		<real>37.200000000000003</real>
		<key>longitude</key>
		<real>50.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>142679</string>
		<key>latitude</key>
		<real>37.259999999999998</real>
		<key>longitude</key>
		<real>49.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>141679</string>
		<key>latitude</key>
		<real>37.469999999999999</real>
		<key>longitude</key>
		<real>49.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1218021</string>
		<key>latitude</key>
		<real>37.299999999999997</real>
		<key>longitude</key>
		<real>62.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>29033</string>
		<key>latitude</key>
		<real>37.32</real>
		<key>longitude</key>
		<real>49.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118743</string>
		<key>latitude</key>
		<real>37.280000000000001</real>
		<key>longitude</key>
		<real>49.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>133349</string>
		<key>latitude</key>
		<real>37.170000000000002</real>
		<key>longitude</key>
		<real>49.5</real>
	</dict>
</array>
</plist>
