<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6121522</string>
		<key>latitude</key>
		<real>74.697356999999997</real>
		<key>longitude</key>
		<real>-94.830619999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5976257</string>
		<key>latitude</key>
		<real>70.730000000000004</real>
		<key>longitude</key>
		<real>-117.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6091732</string>
		<key>latitude</key>
		<real>70.170000000000002</real>
		<key>longitude</key>
		<real>-90.730000000000004</real>
	</dict>
</array>
</plist>
