<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3424934</string>
		<key>latitude</key>
		<real>46.770000000000003</real>
		<key>longitude</key>
		<real>-56.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3424935</string>
		<key>latitude</key>
		<real>46.780000000000001</real>
		<key>longitude</key>
		<real>-56.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3424932</string>
		<key>latitude</key>
		<real>46.829999999999998</real>
		<key>longitude</key>
		<real>-56.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6156979</string>
		<key>latitude</key>
		<real>46.920000000000002</real>
		<key>longitude</key>
		<real>-55.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180466</string>
		<key>latitude</key>
		<real>45.229999999999997</real>
		<key>longitude</key>
		<real>-61.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6050803</string>
		<key>latitude</key>
		<real>46.950000000000003</real>
		<key>longitude</key>
		<real>-55.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964683</string>
		<key>latitude</key>
		<real>45.649999999999999</real>
		<key>longitude</key>
		<real>-60.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5909677</string>
		<key>latitude</key>
		<real>46.079999999999998</real>
		<key>longitude</key>
		<real>-59.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941588</string>
		<key>latitude</key>
		<real>46.18</real>
		<key>longitude</key>
		<real>-59.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5916449</string>
		<key>latitude</key>
		<real>45.57</real>
		<key>longitude</key>
		<real>-60.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6151068</string>
		<key>latitude</key>
		<real>45.700000000000003</real>
		<key>longitude</key>
		<real>-60.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961564</string>
		<key>latitude</key>
		<real>46.200000000000003</real>
		<key>longitude</key>
		<real>-59.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6157828</string>
		<key>latitude</key>
		<real>45.670000000000002</real>
		<key>longitude</key>
		<real>-60.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6168779</string>
		<key>latitude</key>
		<real>46.729999999999997</real>
		<key>longitude</key>
		<real>-53.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5907368</string>
		<key>latitude</key>
		<real>46.880000000000003</real>
		<key>longitude</key>
		<real>-53.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5941414</string>
		<key>latitude</key>
		<real>46.219999999999999</real>
		<key>longitude</key>
		<real>-60.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6354908</string>
		<key>latitude</key>
		<real>46.140000000000001</real>
		<key>longitude</key>
		<real>-60.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6160771</string>
		<key>latitude</key>
		<real>46.119999999999997</real>
		<key>longitude</key>
		<real>-60.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5931287</string>
		<key>latitude</key>
		<real>46.119999999999997</real>
		<key>longitude</key>
		<real>-60.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6160752</string>
		<key>latitude</key>
		<real>46.149999999999999</real>
		<key>longitude</key>
		<real>-60.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5946917</string>
		<key>latitude</key>
		<real>46.170000000000002</real>
		<key>longitude</key>
		<real>-60.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087843</string>
		<key>latitude</key>
		<real>46.25</real>
		<key>longitude</key>
		<real>-60.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6090869</string>
		<key>latitude</key>
		<real>46.149999999999999</real>
		<key>longitude</key>
		<real>-60.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5962551</string>
		<key>latitude</key>
		<real>45.18</real>
		<key>longitude</key>
		<real>-61.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6930307</string>
		<key>latitude</key>
		<real>46.210000000000001</real>
		<key>longitude</key>
		<real>-60.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303783</string>
		<key>latitude</key>
		<real>46.240000000000002</real>
		<key>longitude</key>
		<real>-60.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5905138</string>
		<key>latitude</key>
		<real>46.100000000000001</real>
		<key>longitude</key>
		<real>-60.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5950504</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>-61.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6147227</string>
		<key>latitude</key>
		<real>46.020000000000003</real>
		<key>longitude</key>
		<real>-60.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964633</string>
		<key>latitude</key>
		<real>45.950000000000003</real>
		<key>longitude</key>
		<real>-60.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6106177</string>
		<key>latitude</key>
		<real>45.969999999999999</real>
		<key>longitude</key>
		<real>-60.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6168242</string>
		<key>latitude</key>
		<real>45.469999999999999</real>
		<key>longitude</key>
		<real>-61.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6111867</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>-61.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6084035</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6178319</string>
		<key>latitude</key>
		<real>45.729999999999997</real>
		<key>longitude</key>
		<real>-61.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6111866</string>
		<key>latitude</key>
		<real>45.649999999999999</real>
		<key>longitude</key>
		<real>-61.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7284311</string>
		<key>latitude</key>
		<real>45.140000000000001</real>
		<key>longitude</key>
		<real>-61.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6056728</string>
		<key>latitude</key>
		<real>45.979999999999997</real>
		<key>longitude</key>
		<real>-60.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6094192</string>
		<key>latitude</key>
		<real>45.899999999999999</real>
		<key>longitude</key>
		<real>-61.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6119433</string>
		<key>latitude</key>
		<real>46.899999999999999</real>
		<key>longitude</key>
		<real>-52.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6113466</string>
		<key>latitude</key>
		<real>45.770000000000003</real>
		<key>longitude</key>
		<real>-61.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6169513</string>
		<key>latitude</key>
		<real>45.700000000000003</real>
		<key>longitude</key>
		<real>-61.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5957498</string>
		<key>latitude</key>
		<real>45.649999999999999</real>
		<key>longitude</key>
		<real>-61.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6114942</string>
		<key>latitude</key>
		<real>46.25</real>
		<key>longitude</key>
		<real>-60.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7910263</string>
		<key>latitude</key>
		<real>46.380000000000003</real>
		<key>longitude</key>
		<real>-60.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6168235</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>-61.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6111732</string>
		<key>latitude</key>
		<real>44.920000000000002</real>
		<key>longitude</key>
		<real>-62.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6059477</string>
		<key>latitude</key>
		<real>45.810000000000002</real>
		<key>longitude</key>
		<real>-61.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5963660</string>
		<key>latitude</key>
		<real>45.380000000000003</real>
		<key>longitude</key>
		<real>-61.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5988173</string>
		<key>latitude</key>
		<real>45.880000000000003</real>
		<key>longitude</key>
		<real>-61.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6145815</string>
		<key>latitude</key>
		<real>44.920000000000002</real>
		<key>longitude</key>
		<real>-62.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6062534</string>
		<key>latitude</key>
		<real>46.07</real>
		<key>longitude</key>
		<real>-61.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5948507</string>
		<key>latitude</key>
		<real>46.32</real>
		<key>longitude</key>
		<real>-61.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5990823</string>
		<key>latitude</key>
		<real>46.18</real>
		<key>longitude</key>
		<real>-61.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5886182</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>-62</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6111874</string>
		<key>latitude</key>
		<real>46.020000000000003</real>
		<key>longitude</key>
		<real>-61.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5983628</string>
		<key>latitude</key>
		<real>46.229999999999997</real>
		<key>longitude</key>
		<real>-61.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6066140</string>
		<key>latitude</key>
		<real>46.399999999999999</real>
		<key>longitude</key>
		<real>-61.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6066942</string>
		<key>latitude</key>
		<real>45.579999999999998</real>
		<key>longitude</key>
		<real>-62.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5991285</string>
		<key>latitude</key>
		<real>45.399999999999999</real>
		<key>longitude</key>
		<real>-62.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6184098</string>
		<key>latitude</key>
		<real>45.520000000000003</real>
		<key>longitude</key>
		<real>-62.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6054656</string>
		<key>latitude</key>
		<real>45.700000000000003</real>
		<key>longitude</key>
		<real>-62.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5939449</string>
		<key>latitude</key>
		<real>46.899999999999999</real>
		<key>longitude</key>
		<real>-60.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6072802</string>
		<key>latitude</key>
		<real>45.619999999999997</real>
		<key>longitude</key>
		<real>-62.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6156141</string>
		<key>latitude</key>
		<real>45.560000000000002</real>
		<key>longitude</key>
		<real>-62.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6087579</string>
		<key>latitude</key>
		<real>45.579999999999998</real>
		<key>longitude</key>
		<real>-62.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5975322</string>
		<key>latitude</key>
		<real>45.609999999999999</real>
		<key>longitude</key>
		<real>-62.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6181033</string>
		<key>latitude</key>
		<real>45.969999999999999</real>
		<key>longitude</key>
		<real>-62.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6151455</string>
		<key>latitude</key>
		<real>46.350000000000001</real>
		<key>longitude</key>
		<real>-62.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5960531</string>
		<key>latitude</key>
		<real>46.18</real>
		<key>longitude</key>
		<real>-62.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6076690</string>
		<key>latitude</key>
		<real>46.170000000000002</real>
		<key>longitude</key>
		<real>-62.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5916775</string>
		<key>latitude</key>
		<real>46.229999999999997</real>
		<key>longitude</key>
		<real>-62.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6144051</string>
		<key>latitude</key>
		<real>46.420000000000002</real>
		<key>longitude</key>
		<real>-62.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6157830</string>
		<key>latitude</key>
		<real>46.420000000000002</real>
		<key>longitude</key>
		<real>-62.579999999999998</real>
	</dict>
</array>
</plist>
