<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6119528</string>
		<key>latitude</key>
		<real>66.530000000000001</real>
		<key>longitude</key>
		<real>-86.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174961</string>
		<key>latitude</key>
		<real>65.930000000000007</real>
		<key>longitude</key>
		<real>-90.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5994330</string>
		<key>latitude</key>
		<real>68.540000000000006</real>
		<key>longitude</key>
		<real>-89.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5927708</string>
		<key>latitude</key>
		<real>64.129999999999995</real>
		<key>longitude</key>
		<real>-83.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5921048</string>
		<key>latitude</key>
		<real>63.340000000000003</real>
		<key>longitude</key>
		<real>-90.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6116548</string>
		<key>latitude</key>
		<real>62.82</real>
		<key>longitude</key>
		<real>-92.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5891871</string>
		<key>latitude</key>
		<real>64.319999999999993</real>
		<key>longitude</key>
		<real>-96.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5969475</string>
		<key>latitude</key>
		<real>68.790000000000006</real>
		<key>longitude</key>
		<real>-81.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961560</string>
		<key>latitude</key>
		<real>68.629999999999995</real>
		<key>longitude</key>
		<real>-95.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6161366</string>
		<key>latitude</key>
		<real>69.540000000000006</real>
		<key>longitude</key>
		<real>-93.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5979345</string>
		<key>latitude</key>
		<real>69.379999999999995</real>
		<key>longitude</key>
		<real>-81.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6091732</string>
		<key>latitude</key>
		<real>70.170000000000002</real>
		<key>longitude</key>
		<real>-90.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6179724</string>
		<key>latitude</key>
		<real>62.170000000000002</real>
		<key>longitude</key>
		<real>-92.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5984875</string>
		<key>latitude</key>
		<real>62.420000000000002</real>
		<key>longitude</key>
		<real>-77.920000000000002</real>
	</dict>
</array>
</plist>
