<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5963145</string>
		<key>latitude</key>
		<real>58.68</real>
		<key>longitude</key>
		<real>-94.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5922111</string>
		<key>latitude</key>
		<real>58.729999999999997</real>
		<key>longitude</key>
		<real>-94.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6153823</string>
		<key>latitude</key>
		<real>56.25</real>
		<key>longitude</key>
		<real>-96.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5961153</string>
		<key>latitude</key>
		<real>56.350000000000001</real>
		<key>longitude</key>
		<real>-94.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6059836</string>
		<key>latitude</key>
		<real>56.390000000000001</real>
		<key>longitude</key>
		<real>-94.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5990626</string>
		<key>latitude</key>
		<real>56.039999999999999</real>
		<key>longitude</key>
		<real>-96.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6152248</string>
		<key>latitude</key>
		<real>56.780000000000001</real>
		<key>longitude</key>
		<real>-98.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6175928</string>
		<key>latitude</key>
		<real>56.060000000000002</real>
		<key>longitude</key>
		<real>-98.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6165406</string>
		<key>latitude</key>
		<real>55.740000000000002</real>
		<key>longitude</key>
		<real>-97.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6165071</string>
		<key>latitude</key>
		<real>55.32</real>
		<key>longitude</key>
		<real>-97.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6062333</string>
		<key>latitude</key>
		<real>56.850000000000001</real>
		<key>longitude</key>
		<real>-101.05</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5909245</string>
		<key>latitude</key>
		<real>57.880000000000003</real>
		<key>longitude</key>
		<real>-101.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6145064</string>
		<key>latitude</key>
		<real>55.850000000000001</real>
		<key>longitude</key>
		<real>-92.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6065171</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>-97</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6095788</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>-95.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5887448</string>
		<key>latitude</key>
		<real>61.109999999999999</real>
		<key>longitude</key>
		<real>-94.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6174830</string>
		<key>latitude</key>
		<real>54.909999999999997</real>
		<key>longitude</key>
		<real>-98.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5933127</string>
		<key>latitude</key>
		<real>54.630000000000003</real>
		<key>longitude</key>
		<real>-97.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6114063</string>
		<key>latitude</key>
		<real>55.740000000000002</real>
		<key>longitude</key>
		<real>-101.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6067761</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>-93.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5948965</string>
		<key>latitude</key>
		<real>61.130000000000003</real>
		<key>longitude</key>
		<real>-100.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6146229</string>
		<key>latitude</key>
		<real>55.119999999999997</real>
		<key>longitude</key>
		<real>-101.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5989301</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>-94.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732488</string>
		<key>latitude</key>
		<real>53.990000000000002</real>
		<key>longitude</key>
		<real>-97.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5932966</string>
		<key>latitude</key>
		<real>53.950000000000003</real>
		<key>longitude</key>
		<real>-97.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6158353</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-94.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6151989</string>
		<key>latitude</key>
		<real>56.32</real>
		<key>longitude</key>
		<real>-103.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6179724</string>
		<key>latitude</key>
		<real>62.170000000000002</real>
		<key>longitude</key>
		<real>-92.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5931789</string>
		<key>latitude</key>
		<real>54.590000000000003</real>
		<key>longitude</key>
		<real>-101.38</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5891925</string>
		<key>latitude</key>
		<real>54.68</real>
		<key>longitude</key>
		<real>-101.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5927928</string>
		<key>latitude</key>
		<real>54.219999999999999</real>
		<key>longitude</key>
		<real>-100.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5954718</string>
		<key>latitude</key>
		<real>54.770000000000003</real>
		<key>longitude</key>
		<real>-101.86</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5919829</string>
		<key>latitude</key>
		<real>54.75</real>
		<key>longitude</key>
		<real>-101.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5954719</string>
		<key>latitude</key>
		<real>54.770000000000003</real>
		<key>longitude</key>
		<real>-101.87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6137043</string>
		<key>latitude</key>
		<real>53.869999999999997</real>
		<key>longitude</key>
		<real>-92.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5937747</string>
		<key>latitude</key>
		<real>54.670000000000002</real>
		<key>longitude</key>
		<real>-102.08</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100681</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>-102.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140838</string>
		<key>latitude</key>
		<real>55.079999999999998</real>
		<key>longitude</key>
		<real>-103.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6078180</string>
		<key>latitude</key>
		<real>53.700000000000003</real>
		<key>longitude</key>
		<real>-100.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5896263</string>
		<key>latitude</key>
		<real>53.920000000000002</real>
		<key>longitude</key>
		<real>-90.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955950</string>
		<key>latitude</key>
		<real>55.979999999999997</real>
		<key>longitude</key>
		<real>-87.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5964008</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>-101.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6164499</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>-101.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5933900</string>
		<key>latitude</key>
		<real>53.969999999999999</real>
		<key>longitude</key>
		<real>-102.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943725</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>-89.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6117534</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>-103.40000000000001</real>
	</dict>
</array>
</plist>
