<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5955840</string>
		<key>latitude</key>
		<real>66.260000000000005</real>
		<key>longitude</key>
		<real>-128.63999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6089245</string>
		<key>latitude</key>
		<real>65.280000000000001</real>
		<key>longitude</key>
		<real>-126.83</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5926246</string>
		<key>latitude</key>
		<real>67.030000000000001</real>
		<key>longitude</key>
		<real>-126.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6170056</string>
		<key>latitude</key>
		<real>64.930000000000007</real>
		<key>longitude</key>
		<real>-125.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943714</string>
		<key>latitude</key>
		<real>65.200000000000003</real>
		<key>longitude</key>
		<real>-123.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6943715</string>
		<key>latitude</key>
		<real>65.209999999999994</real>
		<key>longitude</key>
		<real>-123.36</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6169740</string>
		<key>latitude</key>
		<real>67.439999999999998</real>
		<key>longitude</key>
		<real>-133.74000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955898</string>
		<key>latitude</key>
		<real>67.439999999999998</real>
		<key>longitude</key>
		<real>-134.88999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5983607</string>
		<key>latitude</key>
		<real>68.349999999999994</real>
		<key>longitude</key>
		<real>-133.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6184824</string>
		<key>latitude</key>
		<real>63.25</real>
		<key>longitude</key>
		<real>-123.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5882953</string>
		<key>latitude</key>
		<real>68.219999999999999</real>
		<key>longitude</key>
		<real>-135.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6099793</string>
		<key>latitude</key>
		<real>69.349999999999994</real>
		<key>longitude</key>
		<real>-124.06999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6170031</string>
		<key>latitude</key>
		<real>69.450000000000003</real>
		<key>longitude</key>
		<real>-133.03999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6068416</string>
		<key>latitude</key>
		<real>63.590000000000003</real>
		<key>longitude</key>
		<real>-135.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5914276</string>
		<key>latitude</key>
		<real>69.280000000000001</real>
		<key>longitude</key>
		<real>-134.91999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185811</string>
		<key>latitude</key>
		<real>63</real>
		<key>longitude</key>
		<real>-135</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6091069</string>
		<key>latitude</key>
		<real>69.5</real>
		<key>longitude</key>
		<real>-121.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5916134</string>
		<key>latitude</key>
		<real>70.150000000000006</real>
		<key>longitude</key>
		<real>-124.67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5951659</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>-133.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6127994</string>
		<key>latitude</key>
		<real>61.990000000000002</real>
		<key>longitude</key>
		<real>-132.41</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6180423</string>
		<key>latitude</key>
		<real>68.900000000000006</real>
		<key>longitude</key>
		<real>-136.91</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5923562</string>
		<key>latitude</key>
		<real>63.780000000000001</real>
		<key>longitude</key>
		<real>-137.28999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6100761</string>
		<key>latitude</key>
		<real>62.829999999999998</real>
		<key>longitude</key>
		<real>-136.58000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5955953</string>
		<key>latitude</key>
		<real>61.859999999999999</real>
		<key>longitude</key>
		<real>-121.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6086424</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-121.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5898662</string>
		<key>latitude</key>
		<real>61.829999999999998</real>
		<key>longitude</key>
		<real>-120.93000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5917270</string>
		<key>latitude</key>
		<real>62.090000000000003</real>
		<key>longitude</key>
		<real>-136.28999999999999</real>
	</dict>
</array>
</plist>
