<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>5988699</string>
		<key>latitude</key>
		<real>53.030000000000001</real>
		<key>longitude</key>
		<real>-132.44999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5986080</string>
		<key>latitude</key>
		<real>52.299999999999997</real>
		<key>longitude</key>
		<real>-131.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6148863</string>
		<key>latitude</key>
		<real>53.25</real>
		<key>longitude</key>
		<real>-132.00999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6140529</string>
		<key>latitude</key>
		<real>53.240000000000002</real>
		<key>longitude</key>
		<real>-131.81999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6167054</string>
		<key>latitude</key>
		<real>53.57</real>
		<key>longitude</key>
		<real>-131.94</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6111701</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>-132.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5993202</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>-133.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6185108</string>
		<key>latitude</key>
		<real>54.18</real>
		<key>longitude</key>
		<real>-133.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6067676</string>
		<key>latitude</key>
		<real>54.020000000000003</real>
		<key>longitude</key>
		<real>-132.09999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6072530</string>
		<key>latitude</key>
		<real>54.329999999999998</real>
		<key>longitude</key>
		<real>-130.44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6113406</string>
		<key>latitude</key>
		<real>54.32</real>
		<key>longitude</key>
		<real>-130.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6177675</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>-128.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5993072</string>
		<key>latitude</key>
		<real>54.049999999999997</real>
		<key>longitude</key>
		<real>-128.65000000000001</real>
	</dict>
</array>
</plist>
