<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>8071846</string>
		<key>latitude</key>
		<real>64.590000000000003</real>
		<key>longitude</key>
		<real>40.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>496285</string>
		<key>latitude</key>
		<real>64.560000000000002</real>
		<key>longitude</key>
		<real>39.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581049</string>
		<key>latitude</key>
		<real>64.540000000000006</real>
		<key>longitude</key>
		<real>40.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>530336</string>
		<key>latitude</key>
		<real>64.480000000000004</real>
		<key>longitude</key>
		<real>40.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>477579</string>
		<key>latitude</key>
		<real>64.469999999999999</real>
		<key>longitude</key>
		<real>40.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>518909</string>
		<key>latitude</key>
		<real>64.420000000000002</real>
		<key>longitude</key>
		<real>40.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>551736</string>
		<key>latitude</key>
		<real>64.390000000000001</real>
		<key>longitude</key>
		<real>40.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>553609</string>
		<key>latitude</key>
		<real>65.890000000000001</real>
		<key>longitude</key>
		<real>44.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527321</string>
		<key>latitude</key>
		<real>65.849999999999994</real>
		<key>longitude</key>
		<real>44.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>533418</string>
		<key>latitude</key>
		<real>64.299999999999997</real>
		<key>longitude</key>
		<real>41.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>549748</string>
		<key>latitude</key>
		<real>64.219999999999999</real>
		<key>longitude</key>
		<real>41.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509483</string>
		<key>latitude</key>
		<real>64.700000000000003</real>
		<key>longitude</key>
		<real>43.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556268</string>
		<key>latitude</key>
		<real>68.049999999999997</real>
		<key>longitude</key>
		<real>39.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>515246</string>
		<key>latitude</key>
		<real>63.909999999999997</real>
		<key>longitude</key>
		<real>38.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>519705</string>
		<key>latitude</key>
		<real>63.899999999999999</real>
		<key>longitude</key>
		<real>38.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>546742</string>
		<key>latitude</key>
		<real>63.719999999999999</real>
		<key>longitude</key>
		<real>39.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>479071</string>
		<key>latitude</key>
		<real>66.689999999999998</real>
		<key>longitude</key>
		<real>34.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>798536</string>
		<key>latitude</key>
		<real>64.989999999999995</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>499025</string>
		<key>latitude</key>
		<real>63.609999999999999</real>
		<key>longitude</key>
		<real>40.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>551145</string>
		<key>latitude</key>
		<real>64.959999999999994</real>
		<key>longitude</key>
		<real>34.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556362</string>
		<key>latitude</key>
		<real>67.159999999999997</real>
		<key>longitude</key>
		<real>34.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>551877</string>
		<key>latitude</key>
		<real>63.479999999999997</real>
		<key>longitude</key>
		<real>39.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>494481</string>
		<key>latitude</key>
		<real>64.040000000000006</real>
		<key>longitude</key>
		<real>44.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581043</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>44</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>535839</string>
		<key>latitude</key>
		<real>64.900000000000006</real>
		<key>longitude</key>
		<real>45.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>577922</string>
		<key>latitude</key>
		<real>64.519999999999996</real>
		<key>longitude</key>
		<real>34.770000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467539</string>
		<key>latitude</key>
		<real>63.469999999999999</real>
		<key>longitude</key>
		<real>41.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>552256</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>44.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>507065</string>
		<key>latitude</key>
		<real>64.819999999999993</real>
		<key>longitude</key>
		<real>34.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>476350</string>
		<key>latitude</key>
		<real>67.930000000000007</real>
		<key>longitude</key>
		<real>34.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>580243</string>
		<key>latitude</key>
		<real>65.010000000000005</real>
		<key>longitude</key>
		<real>33.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>533933</string>
		<key>latitude</key>
		<real>68</real>
		<key>longitude</key>
		<real>35.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>567589</string>
		<key>latitude</key>
		<real>66.269999999999996</real>
		<key>longitude</key>
		<real>33.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>533964</string>
		<key>latitude</key>
		<real>66.079999999999998</real>
		<key>longitude</key>
		<real>33.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>502010</string>
		<key>latitude</key>
		<real>67.939999999999998</real>
		<key>longitude</key>
		<real>34.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>511877</string>
		<key>latitude</key>
		<real>64.819999999999993</real>
		<key>longitude</key>
		<real>33.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>535372</string>
		<key>latitude</key>
		<real>64.769999999999996</real>
		<key>longitude</key>
		<real>33.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467527</string>
		<key>latitude</key>
		<real>63.07</real>
		<key>longitude</key>
		<real>40.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>505795</string>
		<key>latitude</key>
		<real>66.590000000000003</real>
		<key>longitude</key>
		<real>32.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>482702</string>
		<key>latitude</key>
		<real>67.560000000000002</real>
		<key>longitude</key>
		<real>33.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>511664</string>
		<key>latitude</key>
		<real>65.950000000000003</real>
		<key>longitude</key>
		<real>32.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>501938</string>
		<key>latitude</key>
		<real>64.700000000000003</real>
		<key>longitude</key>
		<real>33.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>582401</string>
		<key>latitude</key>
		<real>64.709999999999994</real>
		<key>longitude</key>
		<real>33.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>548391</string>
		<key>latitude</key>
		<real>67.609999999999999</real>
		<key>longitude</key>
		<real>33.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509467</string>
		<key>latitude</key>
		<real>65.930000000000007</real>
		<key>longitude</key>
		<real>32.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581357</string>
		<key>latitude</key>
		<real>67.560000000000002</real>
		<key>longitude</key>
		<real>33.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>549241</string>
		<key>latitude</key>
		<real>64.700000000000003</real>
		<key>longitude</key>
		<real>33.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>557608</string>
		<key>latitude</key>
		<real>64.129999999999995</real>
		<key>longitude</key>
		<real>34.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584097</string>
		<key>latitude</key>
		<real>64.599999999999994</real>
		<key>longitude</key>
		<real>33.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>503829</string>
		<key>latitude</key>
		<real>64.620000000000005</real>
		<key>longitude</key>
		<real>33.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>524304</string>
		<key>latitude</key>
		<real>68</real>
		<key>longitude</key>
		<real>34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>490186</string>
		<key>latitude</key>
		<real>65.980000000000004</real>
		<key>longitude</key>
		<real>32.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>573331</string>
		<key>latitude</key>
		<real>66.019999999999996</real>
		<key>longitude</key>
		<real>32.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>463838</string>
		<key>latitude</key>
		<real>66.849999999999994</real>
		<key>longitude</key>
		<real>32.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>485217</string>
		<key>latitude</key>
		<real>68.019999999999996</real>
		<key>longitude</key>
		<real>33.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>584087</string>
		<key>latitude</key>
		<real>67.439999999999998</real>
		<key>longitude</key>
		<real>32.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>472200</string>
		<key>latitude</key>
		<real>64.620000000000005</real>
		<key>longitude</key>
		<real>33.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>523662</string>
		<key>latitude</key>
		<real>63.869999999999997</real>
		<key>longitude</key>
		<real>34.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556885</string>
		<key>latitude</key>
		<real>67.849999999999994</real>
		<key>longitude</key>
		<real>33.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>553190</string>
		<key>latitude</key>
		<real>67.159999999999997</real>
		<key>longitude</key>
		<real>32.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545062</string>
		<key>latitude</key>
		<real>64.230000000000004</real>
		<key>longitude</key>
		<real>46.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>831129</string>
		<key>latitude</key>
		<real>62.759999999999998</real>
		<key>longitude</key>
		<real>40.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506762</string>
		<key>latitude</key>
		<real>67.370000000000005</real>
		<key>longitude</key>
		<real>32.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>538032</string>
		<key>latitude</key>
		<real>64.480000000000004</real>
		<key>longitude</key>
		<real>33.07</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509026</string>
		<key>latitude</key>
		<real>62.710000000000001</real>
		<key>longitude</key>
		<real>40.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>497927</string>
		<key>latitude</key>
		<real>63.740000000000002</real>
		<key>longitude</key>
		<real>34.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>550941</string>
		<key>latitude</key>
		<real>65.879999999999995</real>
		<key>longitude</key>
		<real>31.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>577240</string>
		<key>latitude</key>
		<real>62.859999999999999</real>
		<key>longitude</key>
		<real>42.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>486190</string>
		<key>latitude</key>
		<real>64.730000000000004</real>
		<key>longitude</key>
		<real>32.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>515698</string>
		<key>latitude</key>
		<real>68.150000000000006</real>
		<key>longitude</key>
		<real>33.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>490094</string>
		<key>latitude</key>
		<real>67.930000000000007</real>
		<key>longitude</key>
		<real>32.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>531562</string>
		<key>latitude</key>
		<real>67.930000000000007</real>
		<key>longitude</key>
		<real>32.880000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>515966</string>
		<key>latitude</key>
		<real>62.609999999999999</real>
		<key>longitude</key>
		<real>39.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>525404</string>
		<key>latitude</key>
		<real>67.939999999999998</real>
		<key>longitude</key>
		<real>32.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>504187</string>
		<key>latitude</key>
		<real>62.590000000000003</real>
		<key>longitude</key>
		<real>40.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>546613</string>
		<key>latitude</key>
		<real>65.829999999999998</real>
		<key>longitude</key>
		<real>31.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>501847</string>
		<key>latitude</key>
		<real>62.799999999999997</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>488284</string>
		<key>latitude</key>
		<real>64.5</real>
		<key>longitude</key>
		<real>32.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>497928</string>
		<key>latitude</key>
		<real>63.450000000000003</real>
		<key>longitude</key>
		<real>34.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506691</string>
		<key>latitude</key>
		<real>65.849999999999994</real>
		<key>longitude</key>
		<real>31.23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>572090</string>
		<key>latitude</key>
		<real>64.579999999999998</real>
		<key>longitude</key>
		<real>32.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>480420</string>
		<key>latitude</key>
		<real>65.75</real>
		<key>longitude</key>
		<real>31.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>550189</string>
		<key>latitude</key>
		<real>64.379999999999995</real>
		<key>longitude</key>
		<real>32.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>503581</string>
		<key>latitude</key>
		<real>65.829999999999998</real>
		<key>longitude</key>
		<real>31.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>551166</string>
		<key>latitude</key>
		<real>64.329999999999998</real>
		<key>longitude</key>
		<real>32.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>568080</string>
		<key>latitude</key>
		<real>64.379999999999995</real>
		<key>longitude</key>
		<real>32.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>483379</string>
		<key>latitude</key>
		<real>69.159999999999997</real>
		<key>longitude</key>
		<real>35.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467727</string>
		<key>latitude</key>
		<real>64.180000000000007</real>
		<key>longitude</key>
		<real>32.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>574577</string>
		<key>latitude</key>
		<real>64.120000000000005</real>
		<key>longitude</key>
		<real>32.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>483001</string>
		<key>latitude</key>
		<real>64.150000000000006</real>
		<key>longitude</key>
		<real>32.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581849</string>
		<key>latitude</key>
		<real>64.140000000000001</real>
		<key>longitude</key>
		<real>32.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>580217</string>
		<key>latitude</key>
		<real>67.689999999999998</real>
		<key>longitude</key>
		<real>31.59</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>534240</string>
		<key>latitude</key>
		<real>68.640000000000001</real>
		<key>longitude</key>
		<real>33.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>554318</string>
		<key>latitude</key>
		<real>65.200000000000003</real>
		<key>longitude</key>
		<real>31.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>552548</string>
		<key>latitude</key>
		<real>64</real>
		<key>longitude</key>
		<real>32.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696921</string>
		<key>latitude</key>
		<real>68.879999999999995</real>
		<key>longitude</key>
		<real>33.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583822</string>
		<key>latitude</key>
		<real>65.709999999999994</real>
		<key>longitude</key>
		<real>30.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544471</string>
		<key>latitude</key>
		<real>65.719999999999999</real>
		<key>longitude</key>
		<real>30.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>480608</string>
		<key>latitude</key>
		<real>65.700000000000003</real>
		<key>longitude</key>
		<real>30.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>495983</string>
		<key>latitude</key>
		<real>62.219999999999999</real>
		<key>longitude</key>
		<real>40.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>538186</string>
		<key>latitude</key>
		<real>65.680000000000007</real>
		<key>longitude</key>
		<real>30.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493795</string>
		<key>latitude</key>
		<real>68.75</real>
		<key>longitude</key>
		<real>33.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>532264</string>
		<key>latitude</key>
		<real>65.670000000000002</real>
		<key>longitude</key>
		<real>30.629999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>548723</string>
		<key>latitude</key>
		<real>68.799999999999997</real>
		<key>longitude</key>
		<real>33.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>505820</string>
		<key>latitude</key>
		<real>62.850000000000001</real>
		<key>longitude</key>
		<real>34.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509487</string>
		<key>latitude</key>
		<real>62.920000000000002</real>
		<key>longitude</key>
		<real>34.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>533336</string>
		<key>latitude</key>
		<real>62.920000000000002</real>
		<key>longitude</key>
		<real>34.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537007</string>
		<key>latitude</key>
		<real>65.579999999999998</real>
		<key>longitude</key>
		<real>30.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545467</string>
		<key>latitude</key>
		<real>62.119999999999997</real>
		<key>longitude</key>
		<real>39.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527888</string>
		<key>latitude</key>
		<real>62.920000000000002</real>
		<key>longitude</key>
		<real>34.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>581383</string>
		<key>latitude</key>
		<real>65.560000000000002</real>
		<key>longitude</key>
		<real>30.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>866057</string>
		<key>latitude</key>
		<real>68.849999999999994</real>
		<key>longitude</key>
		<real>33.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>483020</string>
		<key>latitude</key>
		<real>65.530000000000001</real>
		<key>longitude</key>
		<real>30.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>473762</string>
		<key>latitude</key>
		<real>68.879999999999995</real>
		<key>longitude</key>
		<real>33.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>546554</string>
		<key>latitude</key>
		<real>68.879999999999995</real>
		<key>longitude</key>
		<real>33.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509685</string>
		<key>latitude</key>
		<real>65.370000000000005</real>
		<key>longitude</key>
		<real>30.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>538448</string>
		<key>latitude</key>
		<real>65.5</real>
		<key>longitude</key>
		<real>30.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509564</string>
		<key>latitude</key>
		<real>65.400000000000006</real>
		<key>longitude</key>
		<real>30.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>524299</string>
		<key>latitude</key>
		<real>68.819999999999993</real>
		<key>longitude</key>
		<real>32.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493344</string>
		<key>latitude</key>
		<real>65.370000000000005</real>
		<key>longitude</key>
		<real>30.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>511248</string>
		<key>latitude</key>
		<real>62.829999999999998</real>
		<key>longitude</key>
		<real>34.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>496278</string>
		<key>latitude</key>
		<real>69.069999999999993</real>
		<key>longitude</key>
		<real>33.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>583472</string>
		<key>latitude</key>
		<real>66.969999999999999</real>
		<key>longitude</key>
		<real>30.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>795259</string>
		<key>latitude</key>
		<real>68.980000000000004</real>
		<key>longitude</key>
		<real>33.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>524305</string>
		<key>latitude</key>
		<real>68.980000000000004</real>
		<key>longitude</key>
		<real>33.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544465</string>
		<key>latitude</key>
		<real>65.219999999999999</real>
		<key>longitude</key>
		<real>30.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>499439</string>
		<key>latitude</key>
		<real>69.060000000000002</real>
		<key>longitude</key>
		<real>33.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>570032</string>
		<key>latitude</key>
		<real>69.049999999999997</real>
		<key>longitude</key>
		<real>33.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>501265</string>
		<key>latitude</key>
		<real>69.040000000000006</real>
		<key>longitude</key>
		<real>33.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>540923</string>
		<key>latitude</key>
		<real>62.549999999999997</real>
		<key>longitude</key>
		<real>35.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>515732</string>
		<key>latitude</key>
		<real>64.700000000000003</real>
		<key>longitude</key>
		<real>30.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>543362</string>
		<key>latitude</key>
		<real>64.680000000000007</real>
		<key>longitude</key>
		<real>30.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>480665</string>
		<key>latitude</key>
		<real>62.630000000000003</real>
		<key>longitude</key>
		<real>34.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>536511</string>
		<key>latitude</key>
		<real>62.530000000000001</real>
		<key>longitude</key>
		<real>35.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>512231</string>
		<key>latitude</key>
		<real>62.600000000000001</real>
		<key>longitude</key>
		<real>35.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>539868</string>
		<key>latitude</key>
		<real>62.630000000000003</real>
		<key>longitude</key>
		<real>34.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>572030</string>
		<key>latitude</key>
		<real>62.579999999999998</real>
		<key>longitude</key>
		<real>35.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>501928</string>
		<key>latitude</key>
		<real>64.849999999999994</real>
		<key>longitude</key>
		<real>30.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493394</string>
		<key>latitude</key>
		<real>62.600000000000001</real>
		<key>longitude</key>
		<real>34.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>562987</string>
		<key>latitude</key>
		<real>62.670000000000002</real>
		<key>longitude</key>
		<real>34.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506763</string>
		<key>latitude</key>
		<real>69.200000000000003</real>
		<key>longitude</key>
		<real>33.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>462942</string>
		<key>latitude</key>
		<real>62.43</real>
		<key>longitude</key>
		<real>35.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>513633</string>
		<key>latitude</key>
		<real>65.120000000000005</real>
		<key>longitude</key>
		<real>30.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>472871</string>
		<key>latitude</key>
		<real>64.950000000000003</real>
		<key>longitude</key>
		<real>30.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>543508</string>
		<key>latitude</key>
		<real>67.569999999999993</real>
		<key>longitude</key>
		<real>30.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>482401</string>
		<key>latitude</key>
		<real>64.900000000000006</real>
		<key>longitude</key>
		<real>30.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506677</string>
		<key>latitude</key>
		<real>65.030000000000001</real>
		<key>longitude</key>
		<real>30.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>524100</string>
		<key>latitude</key>
		<real>63.93</real>
		<key>longitude</key>
		<real>31.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>494884</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>42.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>795243</string>
		<key>latitude</key>
		<real>69.189999999999998</real>
		<key>longitude</key>
		<real>33.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>475469</string>
		<key>latitude</key>
		<real>68.609999999999999</real>
		<key>longitude</key>
		<real>31.800000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544825</string>
		<key>latitude</key>
		<real>64.900000000000006</real>
		<key>longitude</key>
		<real>30.48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537978</string>
		<key>latitude</key>
		<real>62.380000000000003</real>
		<key>longitude</key>
		<real>35.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537985</string>
		<key>latitude</key>
		<real>62.380000000000003</real>
		<key>longitude</key>
		<real>35.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>510000</string>
		<key>latitude</key>
		<real>62.380000000000003</real>
		<key>longitude</key>
		<real>35.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537979</string>
		<key>latitude</key>
		<real>62.369999999999997</real>
		<key>longitude</key>
		<real>35.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537988</string>
		<key>latitude</key>
		<real>62.369999999999997</real>
		<key>longitude</key>
		<real>35.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>562245</string>
		<key>latitude</key>
		<real>69.260000000000005</real>
		<key>longitude</key>
		<real>33.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537987</string>
		<key>latitude</key>
		<real>62.350000000000001</real>
		<key>longitude</key>
		<real>35.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537981</string>
		<key>latitude</key>
		<real>62.350000000000001</real>
		<key>longitude</key>
		<real>35.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>525439</string>
		<key>latitude</key>
		<real>62.350000000000001</real>
		<key>longitude</key>
		<real>44.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545633</string>
		<key>latitude</key>
		<real>64.579999999999998</real>
		<key>longitude</key>
		<real>30.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>543899</string>
		<key>latitude</key>
		<real>64.569999999999993</real>
		<key>longitude</key>
		<real>30.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829125</string>
		<key>latitude</key>
		<real>61.909999999999997</real>
		<key>longitude</key>
		<real>42.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>535180</string>
		<key>latitude</key>
		<real>62.270000000000003</real>
		<key>longitude</key>
		<real>35.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>562283</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>35.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>576093</string>
		<key>latitude</key>
		<real>63.369999999999997</real>
		<key>longitude</key>
		<real>47.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>471980</string>
		<key>latitude</key>
		<real>62.18</real>
		<key>longitude</key>
		<real>35.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>795235</string>
		<key>latitude</key>
		<real>69.319999999999993</real>
		<key>longitude</key>
		<real>32.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>577350</string>
		<key>latitude</key>
		<real>62.18</real>
		<key>longitude</key>
		<real>35.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>474470</string>
		<key>latitude</key>
		<real>62.229999999999997</real>
		<key>longitude</key>
		<real>45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>475936</string>
		<key>latitude</key>
		<real>68.047866999999997</real>
		<key>longitude</key>
		<real>49.967281</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>503842</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>35.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>538798</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>35.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>828218</string>
		<key>latitude</key>
		<real>69.400000000000006</real>
		<key>longitude</key>
		<real>32.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>547864</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>35.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>563990</string>
		<key>latitude</key>
		<real>62.149999999999999</real>
		<key>longitude</key>
		<real>45.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>504269</string>
		<key>latitude</key>
		<real>61.810000000000002</real>
		<key>longitude</key>
		<real>36.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>496854</string>
		<key>latitude</key>
		<real>62.030000000000001</real>
		<key>longitude</key>
		<real>35.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544990</string>
		<key>latitude</key>
		<real>62.030000000000001</real>
		<key>longitude</key>
		<real>35.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>537613</string>
		<key>latitude</key>
		<real>62.020000000000003</real>
		<key>longitude</key>
		<real>35.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>478297</string>
		<key>latitude</key>
		<real>63.409999999999997</real>
		<key>longitude</key>
		<real>48.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527157</string>
		<key>latitude</key>
		<real>61.969999999999999</real>
		<key>longitude</key>
		<real>35.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>506232</string>
		<key>latitude</key>
		<real>62.719999999999999</real>
		<key>longitude</key>
		<real>32.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>545626</string>
		<key>latitude</key>
		<real>62.210000000000001</real>
		<key>longitude</key>
		<real>34.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>467175</string>
		<key>latitude</key>
		<real>61.979999999999997</real>
		<key>longitude</key>
		<real>35.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>495922</string>
		<key>latitude</key>
		<real>61.799999999999997</real>
		<key>longitude</key>
		<real>36.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>544084</string>
		<key>latitude</key>
		<real>63.460000000000001</real>
		<key>longitude</key>
		<real>48.899999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>527299</string>
		<key>latitude</key>
		<real>63.25</real>
		<key>longitude</key>
		<real>48.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>530632</string>
		<key>latitude</key>
		<real>61.899999999999999</real>
		<key>longitude</key>
		<real>35.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>573448</string>
		<key>latitude</key>
		<real>61.899999999999999</real>
		<key>longitude</key>
		<real>35.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>469083</string>
		<key>latitude</key>
		<real>62.109999999999999</real>
		<key>longitude</key>
		<real>34.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>650706</string>
		<key>latitude</key>
		<real>64.25</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>547630</string>
		<key>latitude</key>
		<real>61.850000000000001</real>
		<key>longitude</key>
		<real>35.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>493228</string>
		<key>latitude</key>
		<real>61.950000000000003</real>
		<key>longitude</key>
		<real>34.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>650705</string>
		<key>latitude</key>
		<real>64.129999999999995</real>
		<key>longitude</key>
		<real>29.52</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>490918</string>
		<key>latitude</key>
		<real>61.840000000000003</real>
		<key>longitude</key>
		<real>34.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>520794</string>
		<key>latitude</key>
		<real>61.880000000000003</real>
		<key>longitude</key>
		<real>34.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>511865</string>
		<key>latitude</key>
		<real>69.530000000000001</real>
		<key>longitude</key>
		<real>31.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>512536</string>
		<key>latitude</key>
		<real>69.549999999999997</real>
		<key>longitude</key>
		<real>31.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>464790</string>
		<key>latitude</key>
		<real>69.420000000000002</real>
		<key>longitude</key>
		<real>30.809999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>509820</string>
		<key>latitude</key>
		<real>61.780000000000001</real>
		<key>longitude</key>
		<real>34.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>477530</string>
		<key>latitude</key>
		<real>61.719999999999999</real>
		<key>longitude</key>
		<real>34.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>473661</string>
		<key>latitude</key>
		<real>61.82</real>
		<key>longitude</key>
		<real>34.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>656711</string>
		<key>latitude</key>
		<real>62.829999999999998</real>
		<key>longitude</key>
		<real>31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>528562</string>
		<key>latitude</key>
		<real>61.780000000000001</real>
		<key>longitude</key>
		<real>33.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>522260</string>
		<key>latitude</key>
		<real>69.409999999999997</real>
		<key>longitude</key>
		<real>30.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>648091</string>
		<key>latitude</key>
		<real>63.32</real>
		<key>longitude</key>
		<real>30.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>648090</string>
		<key>latitude</key>
		<real>63.32</real>
		<key>longitude</key>
		<real>30.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>563407</string>
		<key>latitude</key>
		<real>61.869999999999997</real>
		<key>longitude</key>
		<real>33.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>656709</string>
		<key>latitude</key>
		<real>62.670000000000002</real>
		<key>longitude</key>
		<real>30.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>486186</string>
		<key>latitude</key>
		<real>62.079999999999998</real>
		<key>longitude</key>
		<real>32.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>830686</string>
		<key>latitude</key>
		<real>63</real>
		<key>longitude</key>
		<real>30</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780643</string>
		<key>latitude</key>
		<real>69.670000000000002</real>
		<key>longitude</key>
		<real>29.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779303</string>
		<key>latitude</key>
		<real>69.730000000000004</real>
		<key>longitude</key>
		<real>30.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777554</string>
		<key>latitude</key>
		<real>69.730000000000004</real>
		<key>longitude</key>
		<real>30.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779540</string>
		<key>latitude</key>
		<real>69.719999999999999</real>
		<key>longitude</key>
		<real>29.879999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>660242</string>
		<key>latitude</key>
		<real>62.799999999999997</real>
		<key>longitude</key>
		<real>30.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>633611</string>
		<key>latitude</key>
		<real>62.479999999999997</real>
		<key>longitude</key>
		<real>30.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>651660</string>
		<key>latitude</key>
		<real>62.75</real>
		<key>longitude</key>
		<real>29.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>651659</string>
		<key>latitude</key>
		<real>62.759999999999998</real>
		<key>longitude</key>
		<real>29.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>556146</string>
		<key>latitude</key>
		<real>62.090000000000003</real>
		<key>longitude</key>
		<real>48.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>652891</string>
		<key>latitude</key>
		<real>62.479999999999997</real>
		<key>longitude</key>
		<real>30.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>639200</string>
		<key>latitude</key>
		<real>62.68</real>
		<key>longitude</key>
		<real>29.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>468983</string>
		<key>latitude</key>
		<real>62.170000000000002</real>
		<key>longitude</key>
		<real>49.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779317</string>
		<key>latitude</key>
		<real>70.049999999999997</real>
		<key>longitude</key>
		<real>29.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>470762</string>
		<key>latitude</key>
		<real>62.18</real>
		<key>longitude</key>
		<real>30.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453315</string>
		<key>latitude</key>
		<real>70.069999999999993</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777073</string>
		<key>latitude</key>
		<real>70.069999999999993</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>655808</string>
		<key>latitude</key>
		<real>62.600000000000001</real>
		<key>longitude</key>
		<real>29.760000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>658828</string>
		<key>latitude</key>
		<real>62.68</real>
		<key>longitude</key>
		<real>29.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>655823</string>
		<key>latitude</key>
		<real>62.579999999999998</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>640398</string>
		<key>latitude</key>
		<real>62.43</real>
		<key>longitude</key>
		<real>29.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>634333</string>
		<key>latitude</key>
		<real>62.25</real>
		<key>longitude</key>
		<real>30.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>829056</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>49.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>478769</string>
		<key>latitude</key>
		<real>61.75</real>
		<key>longitude</key>
		<real>48.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>634331</string>
		<key>latitude</key>
		<real>62.18</real>
		<key>longitude</key>
		<real>30.379999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>526600</string>
		<key>latitude</key>
		<real>62.350000000000001</real>
		<key>longitude</key>
		<real>50.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>469081</string>
		<key>latitude</key>
		<real>61.880000000000003</real>
		<key>longitude</key>
		<real>30.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>463144</string>
		<key>latitude</key>
		<real>62.07</real>
		<key>longitude</key>
		<real>49.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>526601</string>
		<key>latitude</key>
		<real>62.200000000000003</real>
		<key>longitude</key>
		<real>49.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>580182</string>
		<key>latitude</key>
		<real>62.219999999999999</real>
		<key>longitude</key>
		<real>49.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>550516</string>
		<key>latitude</key>
		<real>61.799999999999997</real>
		<key>longitude</key>
		<real>30.949999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>532825</string>
		<key>latitude</key>
		<real>61.770000000000003</real>
		<key>longitude</key>
		<real>31.02</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>500502</string>
		<key>latitude</key>
		<real>61.93</real>
		<key>longitude</key>
		<real>30.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>652615</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>30.149999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>640271</string>
		<key>latitude</key>
		<real>62.32</real>
		<key>longitude</key>
		<real>29.620000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>652616</string>
		<key>latitude</key>
		<real>62.079999999999998</real>
		<key>longitude</key>
		<real>30.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>640272</string>
		<key>latitude</key>
		<real>62.25</real>
		<key>longitude</key>
		<real>29.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>550366</string>
		<key>latitude</key>
		<real>61.729999999999997</real>
		<key>longitude</key>
		<real>30.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>653130</string>
		<key>latitude</key>
		<real>61.920000000000002</real>
		<key>longitude</key>
		<real>29.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>653129</string>
		<key>latitude</key>
		<real>61.899999999999999</real>
		<key>longitude</key>
		<real>29.829999999999998</real>
	</dict>
</array>
</plist>
