<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6534185</string>
		<key>latitude</key>
		<real>27.73</real>
		<key>longitude</key>
		<real>-18.050000000000001</real>
	</dict>
</array>
</plist>
