<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1176832</string>
		<key>latitude</key>
		<real>26.02</real>
		<key>longitude</key>
		<real>63.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1110054</string>
		<key>latitude</key>
		<real>26.170000000000002</real>
		<key>longitude</key>
		<real>64.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1342787</string>
		<key>latitude</key>
		<real>26.219999999999999</real>
		<key>longitude</key>
		<real>64.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1109143</string>
		<key>latitude</key>
		<real>25.969999999999999</real>
		<key>longitude</key>
		<real>63.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169557</string>
		<key>latitude</key>
		<real>26.16</real>
		<key>longitude</key>
		<real>64.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176862</string>
		<key>latitude</key>
		<real>26.010000000000002</real>
		<key>longitude</key>
		<real>63.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178148</string>
		<key>latitude</key>
		<real>25.870000000000001</real>
		<key>longitude</key>
		<real>63.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1109671</string>
		<key>latitude</key>
		<real>25.870000000000001</real>
		<key>longitude</key>
		<real>63.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336846</string>
		<key>latitude</key>
		<real>25.850000000000001</real>
		<key>longitude</key>
		<real>63.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337368</string>
		<key>latitude</key>
		<real>25.850000000000001</real>
		<key>longitude</key>
		<real>63.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176303</string>
		<key>latitude</key>
		<real>25.850000000000001</real>
		<key>longitude</key>
		<real>63.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1343001</string>
		<key>latitude</key>
		<real>26.460000000000001</real>
		<key>longitude</key>
		<real>64.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336786</string>
		<key>latitude</key>
		<real>25.850000000000001</real>
		<key>longitude</key>
		<real>63.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336708</string>
		<key>latitude</key>
		<real>25.84</real>
		<key>longitude</key>
		<real>63.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1342999</string>
		<key>latitude</key>
		<real>26.469999999999999</real>
		<key>longitude</key>
		<real>64.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1343000</string>
		<key>latitude</key>
		<real>26.469999999999999</real>
		<key>longitude</key>
		<real>64.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163054</string>
		<key>latitude</key>
		<real>26</real>
		<key>longitude</key>
		<real>63.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178285</string>
		<key>latitude</key>
		<real>26</real>
		<key>longitude</key>
		<real>63.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168312</string>
		<key>latitude</key>
		<real>25.260000000000002</real>
		<key>longitude</key>
		<real>63.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176260</string>
		<key>latitude</key>
		<real>25.829999999999998</real>
		<key>longitude</key>
		<real>63.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1181959</string>
		<key>latitude</key>
		<real>25.280000000000001</real>
		<key>longitude</key>
		<real>64.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337123</string>
		<key>latitude</key>
		<real>25.239999999999998</real>
		<key>longitude</key>
		<real>63.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168446</string>
		<key>latitude</key>
		<real>26.960000000000001</real>
		<key>longitude</key>
		<real>64.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168700</string>
		<key>latitude</key>
		<real>25.210000000000001</real>
		<key>longitude</key>
		<real>64.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1165955</string>
		<key>latitude</key>
		<real>26.98</real>
		<key>longitude</key>
		<real>64.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337102</string>
		<key>latitude</key>
		<real>25.550000000000001</real>
		<key>longitude</key>
		<real>62.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337108</string>
		<key>latitude</key>
		<real>25.550000000000001</real>
		<key>longitude</key>
		<real>62.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1184205</string>
		<key>latitude</key>
		<real>26.460000000000001</real>
		<key>longitude</key>
		<real>65.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337336</string>
		<key>latitude</key>
		<real>25.559999999999999</real>
		<key>longitude</key>
		<real>62.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337078</string>
		<key>latitude</key>
		<real>25.52</real>
		<key>longitude</key>
		<real>62.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337071</string>
		<key>latitude</key>
		<real>25.550000000000001</real>
		<key>longitude</key>
		<real>62.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336755</string>
		<key>latitude</key>
		<real>25.359999999999999</real>
		<key>longitude</key>
		<real>62.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336789</string>
		<key>latitude</key>
		<real>25.34</real>
		<key>longitude</key>
		<real>62.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337320</string>
		<key>latitude</key>
		<real>25.329999999999998</real>
		<key>longitude</key>
		<real>62.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337314</string>
		<key>latitude</key>
		<real>25.210000000000001</real>
		<key>longitude</key>
		<real>62.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336638</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>62.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336381</string>
		<key>latitude</key>
		<real>25.309999999999999</real>
		<key>longitude</key>
		<real>62.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336379</string>
		<key>latitude</key>
		<real>25.280000000000001</real>
		<key>longitude</key>
		<real>62.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1177446</string>
		<key>latitude</key>
		<real>25.120000000000001</real>
		<key>longitude</key>
		<real>62.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1337313</string>
		<key>latitude</key>
		<real>25.120000000000001</real>
		<key>longitude</key>
		<real>62.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336479</string>
		<key>latitude</key>
		<real>25.25</real>
		<key>longitude</key>
		<real>62.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1181407</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>62.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1333161</string>
		<key>latitude</key>
		<real>25.264999</real>
		<key>longitude</key>
		<real>62.050834999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336514</string>
		<key>latitude</key>
		<real>25.151388000000001</real>
		<key>longitude</key>
		<real>62.039444000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336509</string>
		<key>latitude</key>
		<real>25.141945</real>
		<key>longitude</key>
		<real>62.001109999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168077</string>
		<key>latitude</key>
		<real>25.172222000000001</real>
		<key>longitude</key>
		<real>61.934165999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166866</string>
		<key>latitude</key>
		<real>25.149999999999999</real>
		<key>longitude</key>
		<real>61.916668000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182998</string>
		<key>latitude</key>
		<real>26.23</real>
		<key>longitude</key>
		<real>66.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178954</string>
		<key>latitude</key>
		<real>25.0975</real>
		<key>longitude</key>
		<real>61.869166999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1172061</string>
		<key>latitude</key>
		<real>25.108333999999999</real>
		<key>longitude</key>
		<real>61.795555</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1336421</string>
		<key>latitude</key>
		<real>25.058332</real>
		<key>longitude</key>
		<real>61.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175712</string>
		<key>latitude</key>
		<real>25.049999</real>
		<key>longitude</key>
		<real>61.741669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162862</string>
		<key>latitude</key>
		<real>25.809999999999999</real>
		<key>longitude</key>
		<real>66.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179185</string>
		<key>latitude</key>
		<real>25.120000000000001</real>
		<key>longitude</key>
		<real>66.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1183606</string>
		<key>latitude</key>
		<real>28</real>
		<key>longitude</key>
		<real>66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174062</string>
		<key>latitude</key>
		<real>28.579999999999998</real>
		<key>longitude</key>
		<real>65.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180729</string>
		<key>latitude</key>
		<real>28.890000000000001</real>
		<key>longitude</key>
		<real>64.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7082481</string>
		<key>latitude</key>
		<real>27.739999999999998</real>
		<key>longitude</key>
		<real>66.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1351762</string>
		<key>latitude</key>
		<real>27.800000000000001</real>
		<key>longitude</key>
		<real>66.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174872</string>
		<key>latitude</key>
		<real>24.91</real>
		<key>longitude</key>
		<real>67.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174870</string>
		<key>latitude</key>
		<real>25.07</real>
		<key>longitude</key>
		<real>67.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169214</string>
		<key>latitude</key>
		<real>24.899999999999999</real>
		<key>longitude</key>
		<real>67.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174867</string>
		<key>latitude</key>
		<real>24.920000000000002</real>
		<key>longitude</key>
		<real>67.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175290</string>
		<key>latitude</key>
		<real>24.93</real>
		<key>longitude</key>
		<real>67.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1177307</string>
		<key>latitude</key>
		<real>24.899999999999999</real>
		<key>longitude</key>
		<real>67.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1177757</string>
		<key>latitude</key>
		<real>24.920000000000002</real>
		<key>longitude</key>
		<real>67.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1161724</string>
		<key>latitude</key>
		<real>25.291900999999999</real>
		<key>longitude</key>
		<real>60.643002000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1114776</string>
		<key>latitude</key>
		<real>27.253941000000001</real>
		<key>longitude</key>
		<real>60.72287</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1160939</string>
		<key>latitude</key>
		<real>27.202449999999999</real>
		<key>longitude</key>
		<real>60.684761000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164306</string>
		<key>latitude</key>
		<real>28.489999999999998</real>
		<key>longitude</key>
		<real>66.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175678</string>
		<key>latitude</key>
		<real>26.690000000000001</real>
		<key>longitude</key>
		<real>67.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1160915</string>
		<key>latitude</key>
		<real>25.4758</real>
		<key>longitude</key>
		<real>60.361401000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1160571</string>
		<key>latitude</key>
		<real>28.221069</real>
		<key>longitude</key>
		<real>61.215820000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182775</string>
		<key>latitude</key>
		<real>26.559999999999999</real>
		<key>longitude</key>
		<real>67.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168101</string>
		<key>latitude</key>
		<real>26.879999999999999</real>
		<key>longitude</key>
		<real>67.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180809</string>
		<key>latitude</key>
		<real>26.73</real>
		<key>longitude</key>
		<real>67.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178587</string>
		<key>latitude</key>
		<real>24.739999999999998</real>
		<key>longitude</key>
		<real>67.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1165789</string>
		<key>latitude</key>
		<real>26.43</real>
		<key>longitude</key>
		<real>67.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174344</string>
		<key>latitude</key>
		<real>27.09</real>
		<key>longitude</key>
		<real>67.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170290</string>
		<key>latitude</key>
		<real>24.550000000000001</real>
		<key>longitude</key>
		<real>67.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180397</string>
		<key>latitude</key>
		<real>26.5</real>
		<key>longitude</key>
		<real>67.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164716</string>
		<key>latitude</key>
		<real>27.030000000000001</real>
		<key>longitude</key>
		<real>67.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170584</string>
		<key>latitude</key>
		<real>27.18</real>
		<key>longitude</key>
		<real>67.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174451</string>
		<key>latitude</key>
		<real>24.140000000000001</real>
		<key>longitude</key>
		<real>67.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170013</string>
		<key>latitude</key>
		<real>26.66</real>
		<key>longitude</key>
		<real>68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162589</string>
		<key>latitude</key>
		<real>27.449999999999999</real>
		<key>longitude</key>
		<real>67.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166115</string>
		<key>latitude</key>
		<real>26.039999999999999</real>
		<key>longitude</key>
		<real>68.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167501</string>
		<key>latitude</key>
		<real>27.18</real>
		<key>longitude</key>
		<real>67.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163582</string>
		<key>latitude</key>
		<real>24.75</real>
		<key>longitude</key>
		<real>67.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169254</string>
		<key>latitude</key>
		<real>27.379999999999999</real>
		<key>longitude</key>
		<real>67.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169143</string>
		<key>latitude</key>
		<real>26.84</real>
		<key>longitude</key>
		<real>68.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175296</string>
		<key>latitude</key>
		<real>29.02</real>
		<key>longitude</key>
		<real>66.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1399489</string>
		<key>latitude</key>
		<real>29.030000000000001</real>
		<key>longitude</key>
		<real>66.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163595</string>
		<key>latitude</key>
		<real>26.940000000000001</real>
		<key>longitude</key>
		<real>68.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166381</string>
		<key>latitude</key>
		<real>26.140000000000001</real>
		<key>longitude</key>
		<real>68.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1357699</string>
		<key>latitude</key>
		<real>27.34</real>
		<key>longitude</key>
		<real>68.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182622</string>
		<key>latitude</key>
		<real>26.91</real>
		<key>longitude</key>
		<real>68.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1183511</string>
		<key>latitude</key>
		<real>26.59</real>
		<key>longitude</key>
		<real>68.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180374</string>
		<key>latitude</key>
		<real>26.460000000000001</real>
		<key>longitude</key>
		<real>68.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180453</string>
		<key>latitude</key>
		<real>26.68</real>
		<key>longitude</key>
		<real>68.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176229</string>
		<key>latitude</key>
		<real>25.440000000000001</real>
		<key>longitude</key>
		<real>68.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167622</string>
		<key>latitude</key>
		<real>27.59</real>
		<key>longitude</key>
		<real>68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179660</string>
		<key>latitude</key>
		<real>27.370000000000001</real>
		<key>longitude</key>
		<real>68.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175010</string>
		<key>latitude</key>
		<real>27.059999999999999</real>
		<key>longitude</key>
		<real>68.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178902</string>
		<key>latitude</key>
		<real>27.440000000000001</real>
		<key>longitude</key>
		<real>68.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168652</string>
		<key>latitude</key>
		<real>26.77</real>
		<key>longitude</key>
		<real>68.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1172904</string>
		<key>latitude</key>
		<real>25.370000000000001</real>
		<key>longitude</key>
		<real>68.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7353443</string>
		<key>latitude</key>
		<real>26.23</real>
		<key>longitude</key>
		<real>68.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1165638</string>
		<key>latitude</key>
		<real>27.850000000000001</real>
		<key>longitude</key>
		<real>67.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1108161</string>
		<key>latitude</key>
		<real>24.390000000000001</real>
		<key>longitude</key>
		<real>67.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180491</string>
		<key>latitude</key>
		<real>24.789999999999999</real>
		<key>longitude</key>
		<real>68.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169116</string>
		<key>latitude</key>
		<real>26.25</real>
		<key>longitude</key>
		<real>68.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168749</string>
		<key>latitude</key>
		<real>29.550000000000001</real>
		<key>longitude</key>
		<real>66.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1360941</string>
		<key>latitude</key>
		<real>25.82</real>
		<key>longitude</key>
		<real>68.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1177278</string>
		<key>latitude</key>
		<real>25.809999999999999</real>
		<key>longitude</key>
		<real>68.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176734</string>
		<key>latitude</key>
		<real>25.390000000000001</real>
		<key>longitude</key>
		<real>68.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7098828</string>
		<key>latitude</key>
		<real>25.370000000000001</real>
		<key>longitude</key>
		<real>68.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1159456</string>
		<key>latitude</key>
		<real>28.5</real>
		<key>longitude</key>
		<real>60.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168399</string>
		<key>latitude</key>
		<real>25.300000000000001</real>
		<key>longitude</key>
		<real>68.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170677</string>
		<key>latitude</key>
		<real>25.600000000000001</real>
		<key>longitude</key>
		<real>68.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1410796</string>
		<key>latitude</key>
		<real>28.02</real>
		<key>longitude</key>
		<real>67.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182607</string>
		<key>latitude</key>
		<real>25.800000000000001</real>
		<key>longitude</key>
		<real>68.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174815</string>
		<key>latitude</key>
		<real>26.899999999999999</real>
		<key>longitude</key>
		<real>68.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170312</string>
		<key>latitude</key>
		<real>27.760000000000002</real>
		<key>longitude</key>
		<real>68.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179030</string>
		<key>latitude</key>
		<real>28.609999999999999</real>
		<key>longitude</key>
		<real>67.489999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170299</string>
		<key>latitude</key>
		<real>24.73</real>
		<key>longitude</key>
		<real>68.260000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1172128</string>
		<key>latitude</key>
		<real>27.559999999999999</real>
		<key>longitude</key>
		<real>68.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182159</string>
		<key>latitude</key>
		<real>24.870000000000001</real>
		<key>longitude</key>
		<real>68.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1357445</string>
		<key>latitude</key>
		<real>27.550000000000001</real>
		<key>longitude</key>
		<real>68.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178858</string>
		<key>latitude</key>
		<real>28.059999999999999</real>
		<key>longitude</key>
		<real>67.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163958</string>
		<key>latitude</key>
		<real>25.43</real>
		<key>longitude</key>
		<real>68.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176889</string>
		<key>latitude</key>
		<real>27.210000000000001</real>
		<key>longitude</key>
		<real>68.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164698</string>
		<key>latitude</key>
		<real>27.300000000000001</real>
		<key>longitude</key>
		<real>68.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175012</string>
		<key>latitude</key>
		<real>26.920000000000002</real>
		<key>longitude</key>
		<real>68.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1165635</string>
		<key>latitude</key>
		<real>25.920000000000002</real>
		<key>longitude</key>
		<real>68.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170564</string>
		<key>latitude</key>
		<real>28.109999999999999</real>
		<key>longitude</key>
		<real>68.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1403734</string>
		<key>latitude</key>
		<real>26.300000000000001</real>
		<key>longitude</key>
		<real>68.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1412008</string>
		<key>latitude</key>
		<real>27.210000000000001</real>
		<key>longitude</key>
		<real>68.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1165507</string>
		<key>latitude</key>
		<real>26.149999999999999</real>
		<key>longitude</key>
		<real>68.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163952</string>
		<key>latitude</key>
		<real>25.120000000000001</real>
		<key>longitude</key>
		<real>68.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163967</string>
		<key>latitude</key>
		<real>25.760000000000002</real>
		<key>longitude</key>
		<real>68.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176048</string>
		<key>latitude</key>
		<real>24.350000000000001</real>
		<key>longitude</key>
		<real>68.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162868</string>
		<key>latitude</key>
		<real>28.18</real>
		<key>longitude</key>
		<real>68.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167031</string>
		<key>latitude</key>
		<real>27.800000000000001</real>
		<key>longitude</key>
		<real>68.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169187</string>
		<key>latitude</key>
		<real>27.66</real>
		<key>longitude</key>
		<real>68.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167142</string>
		<key>latitude</key>
		<real>27.289999999999999</real>
		<key>longitude</key>
		<real>68.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174408</string>
		<key>latitude</key>
		<real>26.149999999999999</real>
		<key>longitude</key>
		<real>68.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179061</string>
		<key>latitude</key>
		<real>27.350000000000001</real>
		<key>longitude</key>
		<real>68.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163965</string>
		<key>latitude</key>
		<real>25.460000000000001</real>
		<key>longitude</key>
		<real>68.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164807</string>
		<key>latitude</key>
		<real>26.129999999999999</real>
		<key>longitude</key>
		<real>68.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182295</string>
		<key>latitude</key>
		<real>27.18</real>
		<key>longitude</key>
		<real>68.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170667</string>
		<key>latitude</key>
		<real>25.039999999999999</real>
		<key>longitude</key>
		<real>68.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174765</string>
		<key>latitude</key>
		<real>24.809999999999999</real>
		<key>longitude</key>
		<real>68.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164776</string>
		<key>latitude</key>
		<real>26.030000000000001</real>
		<key>longitude</key>
		<real>68.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1128239</string>
		<key>latitude</key>
		<real>30.149999999999999</real>
		<key>longitude</key>
		<real>62.599997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182953</string>
		<key>latitude</key>
		<real>25.789999999999999</real>
		<key>longitude</key>
		<real>68.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1171677</string>
		<key>latitude</key>
		<real>27.75</real>
		<key>longitude</key>
		<real>68.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1418826</string>
		<key>latitude</key>
		<real>28.170000000000002</real>
		<key>longitude</key>
		<real>68.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1181600</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>68.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175762</string>
		<key>latitude</key>
		<real>25.960000000000001</real>
		<key>longitude</key>
		<real>68.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1173302</string>
		<key>latitude</key>
		<real>27.34</real>
		<key>longitude</key>
		<real>68.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1161991</string>
		<key>latitude</key>
		<real>27.59</real>
		<key>longitude</key>
		<real>68.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166164</string>
		<key>latitude</key>
		<real>26.050000000000001</real>
		<key>longitude</key>
		<real>68.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178843</string>
		<key>latitude</key>
		<real>27.91</real>
		<key>longitude</key>
		<real>68.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1159301</string>
		<key>latitude</key>
		<real>29.496300000000002</real>
		<key>longitude</key>
		<real>60.862900000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1143057</string>
		<key>latitude</key>
		<real>30.43</real>
		<key>longitude</key>
		<real>63.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1359850</string>
		<key>latitude</key>
		<real>25.609999999999999</real>
		<key>longitude</key>
		<real>68.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1360491</string>
		<key>latitude</key>
		<real>25.129999999999999</real>
		<key>longitude</key>
		<real>68.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1149052</string>
		<key>latitude</key>
		<real>30.440000000000001</real>
		<key>longitude</key>
		<real>63.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164045</string>
		<key>latitude</key>
		<real>24.879999999999999</real>
		<key>longitude</key>
		<real>68.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167342</string>
		<key>latitude</key>
		<real>24.98</real>
		<key>longitude</key>
		<real>68.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162004</string>
		<key>latitude</key>
		<real>27.530000000000001</real>
		<key>longitude</key>
		<real>68.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7033631</string>
		<key>latitude</key>
		<real>25.530000000000001</real>
		<key>longitude</key>
		<real>69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1397479</string>
		<key>latitude</key>
		<real>28.550000000000001</real>
		<key>longitude</key>
		<real>68.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175873</string>
		<key>latitude</key>
		<real>28.370000000000001</real>
		<key>longitude</key>
		<real>68.349999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170295</string>
		<key>latitude</key>
		<real>25.530000000000001</real>
		<key>longitude</key>
		<real>69.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1182872</string>
		<key>latitude</key>
		<real>29.039999999999999</real>
		<key>longitude</key>
		<real>67.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1137079</string>
		<key>latitude</key>
		<real>30.550000000000001</real>
		<key>longitude</key>
		<real>63.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170706</string>
		<key>latitude</key>
		<real>29.800000000000001</real>
		<key>longitude</key>
		<real>66.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1176515</string>
		<key>latitude</key>
		<real>28.280000000000001</real>
		<key>longitude</key>
		<real>68.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1165108</string>
		<key>latitude</key>
		<real>27.960000000000001</real>
		<key>longitude</key>
		<real>68.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1184055</string>
		<key>latitude</key>
		<real>24.66</real>
		<key>longitude</key>
		<real>68.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1172389</string>
		<key>latitude</key>
		<real>27.850000000000001</real>
		<key>longitude</key>
		<real>68.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1148792</string>
		<key>latitude</key>
		<real>30.210000000000001</real>
		<key>longitude</key>
		<real>66.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1184008</string>
		<key>latitude</key>
		<real>27.760000000000002</real>
		<key>longitude</key>
		<real>68.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1403303</string>
		<key>latitude</key>
		<real>27.710000000000001</real>
		<key>longitude</key>
		<real>68.790000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170281</string>
		<key>latitude</key>
		<real>25.309999999999999</real>
		<key>longitude</key>
		<real>69.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163964</string>
		<key>latitude</key>
		<real>24.789999999999999</real>
		<key>longitude</key>
		<real>68.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164408</string>
		<key>latitude</key>
		<real>27.710000000000001</real>
		<key>longitude</key>
		<real>68.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163953</string>
		<key>latitude</key>
		<real>25.989999999999998</real>
		<key>longitude</key>
		<real>69.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179837</string>
		<key>latitude</key>
		<real>25.16</real>
		<key>longitude</key>
		<real>69.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166827</string>
		<key>latitude</key>
		<real>27.690000000000001</real>
		<key>longitude</key>
		<real>68.900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1181910</string>
		<key>latitude</key>
		<real>27.859999999999999</real>
		<key>longitude</key>
		<real>68.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166720</string>
		<key>latitude</key>
		<real>27.969999999999999</real>
		<key>longitude</key>
		<real>68.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180825</string>
		<key>latitude</key>
		<real>29.48</real>
		<key>longitude</key>
		<real>67.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164660</string>
		<key>latitude</key>
		<real>28.52</real>
		<key>longitude</key>
		<real>68.540000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175506</string>
		<key>latitude</key>
		<real>24.48</real>
		<key>longitude</key>
		<real>68.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163414</string>
		<key>latitude</key>
		<real>28.239999999999998</real>
		<key>longitude</key>
		<real>68.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1133310</string>
		<key>latitude</key>
		<real>30.436239</real>
		<key>longitude</key>
		<real>61.838298999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1173889</string>
		<key>latitude</key>
		<real>25.828469999999999</real>
		<key>longitude</key>
		<real>69.377189999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1171757</string>
		<key>latitude</key>
		<real>29.859999999999999</real>
		<key>longitude</key>
		<real>67.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167798</string>
		<key>latitude</key>
		<real>25.52</real>
		<key>longitude</key>
		<real>69.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1168412</string>
		<key>latitude</key>
		<real>27.859999999999999</real>
		<key>longitude</key>
		<real>69.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166275</string>
		<key>latitude</key>
		<real>25.280000000000001</real>
		<key>longitude</key>
		<real>69.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180339</string>
		<key>latitude</key>
		<real>29.559999999999999</real>
		<key>longitude</key>
		<real>67.849999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1164896</string>
		<key>latitude</key>
		<real>29.539999999999999</real>
		<key>longitude</key>
		<real>67.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1172993</string>
		<key>latitude</key>
		<real>30.190000000000001</real>
		<key>longitude</key>
		<real>66.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7331464</string>
		<key>latitude</key>
		<real>29.559999999999999</real>
		<key>longitude</key>
		<real>67.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1393797</string>
		<key>latitude</key>
		<real>30.190000000000001</real>
		<key>longitude</key>
		<real>67.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166231</string>
		<key>latitude</key>
		<real>30.239999999999998</real>
		<key>longitude</key>
		<real>66.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167528</string>
		<key>latitude</key>
		<real>30.199999999999999</real>
		<key>longitude</key>
		<real>67.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163912</string>
		<key>latitude</key>
		<real>28.280000000000001</real>
		<key>longitude</key>
		<real>69</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1140043</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178560</string>
		<key>latitude</key>
		<real>28.140000000000001</real>
		<key>longitude</key>
		<real>69.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169367</string>
		<key>latitude</key>
		<real>24.859999999999999</real>
		<key>longitude</key>
		<real>69.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179902</string>
		<key>latitude</key>
		<real>25.5</real>
		<key>longitude</key>
		<real>69.566672999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1137047</string>
		<key>latitude</key>
		<real>31.07</real>
		<key>longitude</key>
		<real>64.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1172657</string>
		<key>latitude</key>
		<real>25.18</real>
		<key>longitude</key>
		<real>69.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162035</string>
		<key>latitude</key>
		<real>27.940000000000001</real>
		<key>longitude</key>
		<real>69.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1175021</string>
		<key>latitude</key>
		<real>28.239999999999998</real>
		<key>longitude</key>
		<real>69.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1143901</string>
		<key>latitude</key>
		<real>31.129999999999999</real>
		<key>longitude</key>
		<real>64.189999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1178456</string>
		<key>latitude</key>
		<real>28.010000000000002</real>
		<key>longitude</key>
		<real>69.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174171</string>
		<key>latitude</key>
		<real>27.84</real>
		<key>longitude</key>
		<real>69.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1131821</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>62.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1262062</string>
		<key>latitude</key>
		<real>23.27</real>
		<key>longitude</key>
		<real>68.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169580</string>
		<key>latitude</key>
		<real>25.068541</real>
		<key>longitude</key>
		<real>69.641861000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162959</string>
		<key>latitude</key>
		<real>25.36157</real>
		<key>longitude</key>
		<real>69.736237000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1181022</string>
		<key>latitude</key>
		<real>25.516670000000001</real>
		<key>longitude</key>
		<real>69.766670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1138335</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>65.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179758</string>
		<key>latitude</key>
		<real>24.469999999999999</real>
		<key>longitude</key>
		<real>69.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167579</string>
		<key>latitude</key>
		<real>30.73</real>
		<key>longitude</key>
		<real>66.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167821</string>
		<key>latitude</key>
		<real>30.579999999999998</real>
		<key>longitude</key>
		<real>67</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1120985</string>
		<key>latitude</key>
		<real>30.966669</real>
		<key>longitude</key>
		<real>61.883330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>286245</string>
		<key>latitude</key>
		<real>22.566669000000001</real>
		<key>longitude</key>
		<real>59.528888999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170294</string>
		<key>latitude</key>
		<real>28.02</real>
		<key>longitude</key>
		<real>69.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288712</string>
		<key>latitude</key>
		<real>22.55283</real>
		<key>longitude</key>
		<real>59.484870999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1181611</string>
		<key>latitude</key>
		<real>30.920000000000002</real>
		<key>longitude</key>
		<real>66.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1177098</string>
		<key>latitude</key>
		<real>30.100000000000001</real>
		<key>longitude</key>
		<real>67.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1139813</string>
		<key>latitude</key>
		<real>31.010000000000002</real>
		<key>longitude</key>
		<real>66.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1170219</string>
		<key>latitude</key>
		<real>24.731831</real>
		<key>longitude</key>
		<real>69.798111000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1123906</string>
		<key>latitude</key>
		<real>31.010000000000002</real>
		<key>longitude</key>
		<real>66.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1394355</string>
		<key>latitude</key>
		<real>30.34</real>
		<key>longitude</key>
		<real>67.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1347134</string>
		<key>latitude</key>
		<real>30.489999999999998</real>
		<key>longitude</key>
		<real>67.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287286</string>
		<key>latitude</key>
		<real>23.613871</real>
		<key>longitude</key>
		<real>58.592201000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162094</string>
		<key>latitude</key>
		<real>30.379999999999999</real>
		<key>longitude</key>
		<real>67.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1180295</string>
		<key>latitude</key>
		<real>29.030000000000001</real>
		<key>longitude</key>
		<real>69.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174357</string>
		<key>latitude</key>
		<real>28.065259999999999</real>
		<key>longitude</key>
		<real>69.700760000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1113217</string>
		<key>latitude</key>
		<real>31.028700000000001</real>
		<key>longitude</key>
		<real>61.501201999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1174653</string>
		<key>latitude</key>
		<real>28.43</real>
		<key>longitude</key>
		<real>69.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6651320</string>
		<key>latitude</key>
		<real>31.099701</real>
		<key>longitude</key>
		<real>61.546500999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1163021</string>
		<key>latitude</key>
		<real>28.165239</real>
		<key>longitude</key>
		<real>69.728897000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1258098</string>
		<key>latitude</key>
		<real>23.199999999999999</real>
		<key>longitude</key>
		<real>69.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411740</string>
		<key>latitude</key>
		<real>23.5</real>
		<key>longitude</key>
		<real>58.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288764</string>
		<key>latitude</key>
		<real>23.555630000000001</real>
		<key>longitude</key>
		<real>58.398899</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1347927</string>
		<key>latitude</key>
		<real>30.75</real>
		<key>longitude</key>
		<real>67.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288967</string>
		<key>latitude</key>
		<real>23.670271</real>
		<key>longitude</key>
		<real>58.189109999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1179515</string>
		<key>latitude</key>
		<real>30.149999999999999</real>
		<key>longitude</key>
		<real>68.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1261066</string>
		<key>latitude</key>
		<real>22.469999999999999</real>
		<key>longitude</key>
		<real>69.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1263824</string>
		<key>latitude</key>
		<real>22.829999999999998</real>
		<key>longitude</key>
		<real>69.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7044034</string>
		<key>latitude</key>
		<real>29.084021</real>
		<key>longitude</key>
		<real>58.416851000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1275812</string>
		<key>latitude</key>
		<real>23.27</real>
		<key>longitude</key>
		<real>69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>141736</string>
		<key>latitude</key>
		<real>29.106000999999999</real>
		<key>longitude</key>
		<real>58.356997999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1272140</string>
		<key>latitude</key>
		<real>22.239999999999998</real>
		<key>longitude</key>
		<real>68.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288902</string>
		<key>latitude</key>
		<real>22.450001</real>
		<key>longitude</key>
		<real>58.799999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289142</string>
		<key>latitude</key>
		<real>22.570999</real>
		<key>longitude</key>
		<real>58.694721000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1166819</string>
		<key>latitude</key>
		<real>28.686769000000002</real>
		<key>longitude</key>
		<real>69.953429999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288721</string>
		<key>latitude</key>
		<real>23.407859999999999</real>
		<key>longitude</key>
		<real>58.128300000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287241</string>
		<key>latitude</key>
		<real>23.373609999999999</real>
		<key>longitude</key>
		<real>58.143329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1171868</string>
		<key>latitude</key>
		<real>30.370000000000001</real>
		<key>longitude</key>
		<real>68.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>287832</string>
		<key>latitude</key>
		<real>22.690570999999998</real>
		<key>longitude</key>
		<real>58.533371000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1173464</string>
		<key>latitude</key>
		<real>29.899999999999999</real>
		<key>longitude</key>
		<real>69.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1167550</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>68.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1262497</string>
		<key>latitude</key>
		<real>22.850000000000001</real>
		<key>longitude</key>
		<real>69.730000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1183307</string>
		<key>latitude</key>
		<real>29.899999999999999</real>
		<key>longitude</key>
		<real>69.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1257638</string>
		<key>latitude</key>
		<real>22.32</real>
		<key>longitude</key>
		<real>69.599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411738</string>
		<key>latitude</key>
		<real>22</real>
		<key>longitude</key>
		<real>58.549999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289415</string>
		<key>latitude</key>
		<real>22.383880999999999</real>
		<key>longitude</key>
		<real>58.213248999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1256333</string>
		<key>latitude</key>
		<real>22.43</real>
		<key>longitude</key>
		<real>69.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1267091</string>
		<key>latitude</key>
		<real>22.210000000000001</real>
		<key>longitude</key>
		<real>69.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1276147</string>
		<key>latitude</key>
		<real>21.93</real>
		<key>longitude</key>
		<real>69.769999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1259395</string>
		<key>latitude</key>
		<real>21.640000000000001</real>
		<key>longitude</key>
		<real>69.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1258534</string>
		<key>latitude</key>
		<real>21.68</real>
		<key>longitude</key>
		<real>69.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1169663</string>
		<key>latitude</key>
		<real>30.859999999999999</real>
		<key>longitude</key>
		<real>69.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>288602</string>
		<key>latitude</key>
		<real>20.66667</real>
		<key>longitude</key>
		<real>58.883330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1162105</string>
		<key>latitude</key>
		<real>31.34</real>
		<key>longitude</key>
		<real>69.450000000000003</real>
	</dict>
</array>
</plist>
