<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>3380892</string>
		<key>latitude</key>
		<real>4.9166699999999999</real>
		<key>longitude</key>
		<real>-52.266669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690701</string>
		<key>latitude</key>
		<real>4.9050000000000002</real>
		<key>longitude</key>
		<real>-52.276699000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690689</string>
		<key>latitude</key>
		<real>4.9386000000000001</real>
		<key>longitude</key>
		<real>-52.334999000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382160</string>
		<key>latitude</key>
		<real>4.9333299999999998</real>
		<key>longitude</key>
		<real>-52.333328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381117</string>
		<key>latitude</key>
		<real>4.9166699999999999</real>
		<key>longitude</key>
		<real>-52.366669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381303</string>
		<key>latitude</key>
		<real>5.1551799999999997</real>
		<key>longitude</key>
		<real>-52.647789000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381212</string>
		<key>latitude</key>
		<real>5.1500000000000004</real>
		<key>longitude</key>
		<real>-52.650002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690696</string>
		<key>latitude</key>
		<real>4.8506</real>
		<key>longitude</key>
		<real>-52.331099999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381270</string>
		<key>latitude</key>
		<real>4.8499999999999996</real>
		<key>longitude</key>
		<real>-52.333328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380965</string>
		<key>latitude</key>
		<real>4.8482700000000003</real>
		<key>longitude</key>
		<real>-52.331718000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381207</string>
		<key>latitude</key>
		<real>4.8333300000000001</real>
		<key>longitude</key>
		<real>-52.349997999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380290</string>
		<key>latitude</key>
		<real>5.3833299999999999</real>
		<key>longitude</key>
		<real>-52.950001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690707</string>
		<key>latitude</key>
		<real>5.3775000000000004</real>
		<key>longitude</key>
		<real>-52.958599</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380167</string>
		<key>latitude</key>
		<real>4.8303799999999999</real>
		<key>longitude</key>
		<real>-52.444431000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690702</string>
		<key>latitude</key>
		<real>4.7282999999999999</real>
		<key>longitude</key>
		<real>-52.324199999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3380450</string>
		<key>latitude</key>
		<real>4.7262899999999997</real>
		<key>longitude</key>
		<real>-52.327418999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3381428</string>
		<key>latitude</key>
		<real>5.4802400000000002</real>
		<key>longitude</key>
		<real>-53.201092000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690691</string>
		<key>latitude</key>
		<real>5.4800000000000004</real>
		<key>longitude</key>
		<real>-53.205601000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3382261</string>
		<key>latitude</key>
		<real>4.5777900000000002</real>
		<key>longitude</key>
		<real>-52.472239999999999</real>
	</dict>
</array>
</plist>
