<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6696480</string>
		<key>latitude</key>
		<real>-77.655349999999999</real>
		<key>longitude</key>
		<real>168.222656</real>
	</dict>
</array>
</plist>
