<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6930873</string>
		<key>latitude</key>
		<real>-27.109999999999999</real>
		<key>longitude</key>
		<real>-109.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4030754</string>
		<key>latitude</key>
		<real>-27.149999999999999</real>
		<key>longitude</key>
		<real>-109.43000000000001</real>
	</dict>
</array>
</plist>
