<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6930057</string>
		<key>latitude</key>
		<real>-15.93</real>
		<key>longitude</key>
		<real>-5.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3370903</string>
		<key>latitude</key>
		<real>-15.94</real>
		<key>longitude</key>
		<real>-5.7199999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3370751</string>
		<key>latitude</key>
		<real>-15.949999999999999</real>
		<key>longitude</key>
		<real>-5.7000000000000002</real>
	</dict>
</array>
</plist>
