<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6940758</string>
		<key>latitude</key>
		<real>12.5025</real>
		<key>longitude</key>
		<real>54.008201999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>75427</string>
		<key>latitude</key>
		<real>12.65</real>
		<key>longitude</key>
		<real>54.033329000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>72589</string>
		<key>latitude</key>
		<real>12.633330000000001</real>
		<key>longitude</key>
		<real>53.900002000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71799</string>
		<key>latitude</key>
		<real>12.68333</real>
		<key>longitude</key>
		<real>53.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>73685</string>
		<key>latitude</key>
		<real>12.18576</real>
		<key>longitude</key>
		<real>52.233317999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64670</string>
		<key>latitude</key>
		<real>11.28636</real>
		<key>longitude</key>
		<real>51.077300999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64814</string>
		<key>latitude</key>
		<real>9.4941999999999993</real>
		<key>longitude</key>
		<real>50.812199</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>64412</string>
		<key>latitude</key>
		<real>11.870369999999999</real>
		<key>longitude</key>
		<real>51.057949000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>63081</string>
		<key>latitude</key>
		<real>11.96611</real>
		<key>longitude</key>
		<real>50.756939000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>75034</string>
		<key>latitude</key>
		<real>15.59</real>
		<key>longitude</key>
		<real>52.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71834</string>
		<key>latitude</key>
		<real>15.42</real>
		<key>longitude</key>
		<real>51.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71005</string>
		<key>latitude</key>
		<real>15.210000000000001</real>
		<key>longitude</key>
		<real>51.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>71549</string>
		<key>latitude</key>
		<real>15.039999999999999</real>
		<key>longitude</key>
		<real>50.479999999999997</real>
	</dict>
</array>
</plist>
