<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1540484</string>
		<key>latitude</key>
		<real>57.520000000000003</real>
		<key>longitude</key>
		<real>79.519999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503896</string>
		<key>latitude</key>
		<real>57.429721999999998</real>
		<key>longitude</key>
		<real>80.995827000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495586</string>
		<key>latitude</key>
		<real>58.697780999999999</real>
		<key>longitude</key>
		<real>81.482498000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504382</string>
		<key>latitude</key>
		<real>59.055560999999997</real>
		<key>longitude</key>
		<real>80.857224000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493855</string>
		<key>latitude</key>
		<real>59.083328000000002</real>
		<key>longitude</key>
		<real>79</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505347</string>
		<key>latitude</key>
		<real>58.441699999999997</real>
		<key>longitude</key>
		<real>82.425399999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503117</string>
		<key>latitude</key>
		<real>58.169899000000001</real>
		<key>longitude</key>
		<real>82.555098999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489421</string>
		<key>latitude</key>
		<real>58.5</real>
		<key>longitude</key>
		<real>82.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494790</string>
		<key>latitude</key>
		<real>57.788609000000001</real>
		<key>longitude</key>
		<real>82.651938999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511057</string>
		<key>latitude</key>
		<real>57.018608</real>
		<key>longitude</key>
		<real>82.071113999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489499</string>
		<key>latitude</key>
		<real>58.363098000000001</real>
		<key>longitude</key>
		<real>82.826499999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502862</string>
		<key>latitude</key>
		<real>58.313060999999998</real>
		<key>longitude</key>
		<real>82.90889</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492607</string>
		<key>latitude</key>
		<real>56.350000000000001</real>
		<key>longitude</key>
		<real>78.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498493</string>
		<key>latitude</key>
		<real>57.581668999999998</real>
		<key>longitude</key>
		<real>83.769172999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493378</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>78.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502962</string>
		<key>latitude</key>
		<real>56.890000000000001</real>
		<key>longitude</key>
		<real>76.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501795</string>
		<key>latitude</key>
		<real>57.343060000000001</real>
		<key>longitude</key>
		<real>83.926108999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501000</string>
		<key>latitude</key>
		<real>56.549999999999997</real>
		<key>longitude</key>
		<real>76.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498173</string>
		<key>latitude</key>
		<real>55.459999000000003</real>
		<key>longitude</key>
		<real>80.429717999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501876</string>
		<key>latitude</key>
		<real>57.127499</real>
		<key>longitude</key>
		<real>84.530281000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499007</string>
		<key>latitude</key>
		<real>56.555827999999998</real>
		<key>longitude</key>
		<real>84.084998999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510370</string>
		<key>latitude</key>
		<real>58.444721000000001</real>
		<key>longitude</key>
		<real>85.042502999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488708</string>
		<key>latitude</key>
		<real>55.310000000000002</real>
		<key>longitude</key>
		<real>79.680000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501141</string>
		<key>latitude</key>
		<real>55.450000000000003</real>
		<key>longitude</key>
		<real>78.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502257</string>
		<key>latitude</key>
		<real>56.258887999999999</real>
		<key>longitude</key>
		<real>83.97139</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510916</string>
		<key>latitude</key>
		<real>55.359999999999999</real>
		<key>longitude</key>
		<real>78.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504380</string>
		<key>latitude</key>
		<real>55.200000000000003</real>
		<key>longitude</key>
		<real>80.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493110</string>
		<key>latitude</key>
		<real>56.75</real>
		<key>longitude</key>
		<real>84.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498399</string>
		<key>latitude</key>
		<real>56.700000000000003</real>
		<key>longitude</key>
		<real>84.650000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504408</string>
		<key>latitude</key>
		<real>56.487220999999998</real>
		<key>longitude</key>
		<real>84.449173000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487615</string>
		<key>latitude</key>
		<real>55.68</real>
		<key>longitude</key>
		<real>76.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507679</string>
		<key>latitude</key>
		<real>55.100000000000001</real>
		<key>longitude</key>
		<real>80.959999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505984</string>
		<key>latitude</key>
		<real>56.600000000000001</real>
		<key>longitude</key>
		<real>84.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511704</string>
		<key>latitude</key>
		<real>55.436999999999998</real>
		<key>longitude</key>
		<real>82.778998999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538637</string>
		<key>latitude</key>
		<real>56.600000000000001</real>
		<key>longitude</key>
		<real>84.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490796</string>
		<key>latitude</key>
		<real>60.733299000000002</real>
		<key>longitude</key>
		<real>77.588898</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496745</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>80</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491762</string>
		<key>latitude</key>
		<real>55.377398999999997</real>
		<key>longitude</key>
		<real>82.776199000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489597</string>
		<key>latitude</key>
		<real>56.490000000000002</real>
		<key>longitude</key>
		<real>84.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498205</string>
		<key>latitude</key>
		<real>56.369999999999997</real>
		<key>longitude</key>
		<real>75.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495148</string>
		<key>latitude</key>
		<real>54.93</real>
		<key>longitude</key>
		<real>80.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489425</string>
		<key>latitude</key>
		<real>56.5</real>
		<key>longitude</key>
		<real>84.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502822</string>
		<key>latitude</key>
		<real>55.305301999999998</real>
		<key>longitude</key>
		<real>82.739097999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511275</string>
		<key>latitude</key>
		<real>56.799999999999997</real>
		<key>longitude</key>
		<real>74.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490054</string>
		<key>latitude</key>
		<real>55.519500999999998</real>
		<key>longitude</key>
		<real>83.509399000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504968</string>
		<key>latitude</key>
		<real>56.280000000000001</real>
		<key>longitude</key>
		<real>84.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511846</string>
		<key>latitude</key>
		<real>56.740000000000002</real>
		<key>longitude</key>
		<real>85.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500309</string>
		<key>latitude</key>
		<real>56.350000000000001</real>
		<key>longitude</key>
		<real>85.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503082</string>
		<key>latitude</key>
		<real>55.021801000000004</real>
		<key>longitude</key>
		<real>82.202003000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490140</string>
		<key>latitude</key>
		<real>56.890000000000001</real>
		<key>longitude</key>
		<real>74.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508458</string>
		<key>latitude</key>
		<real>55.310000000000002</real>
		<key>longitude</key>
		<real>76.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509897</string>
		<key>latitude</key>
		<real>56.369999999999997</real>
		<key>longitude</key>
		<real>85.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501803</string>
		<key>latitude</key>
		<real>55.088099999999997</real>
		<key>longitude</key>
		<real>82.655097999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510950</string>
		<key>latitude</key>
		<real>55.520000000000003</real>
		<key>longitude</key>
		<real>83.870000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501573</string>
		<key>latitude</key>
		<real>55.097400999999998</real>
		<key>longitude</key>
		<real>82.774199999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494111</string>
		<key>latitude</key>
		<real>55.008899999999997</real>
		<key>longitude</key>
		<real>82.457397</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491055</string>
		<key>latitude</key>
		<real>55.469999999999999</real>
		<key>longitude</key>
		<real>83.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507873</string>
		<key>latitude</key>
		<real>54.992801999999998</real>
		<key>longitude</key>
		<real>82.431099000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495483</string>
		<key>latitude</key>
		<real>55.013100000000001</real>
		<key>longitude</key>
		<real>82.615996999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498589</string>
		<key>latitude</key>
		<real>55.159999999999997</real>
		<key>longitude</key>
		<real>83.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491525</string>
		<key>latitude</key>
		<real>55.210000000000001</real>
		<key>longitude</key>
		<real>83.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498389</string>
		<key>latitude</key>
		<real>55.310000000000002</real>
		<key>longitude</key>
		<real>83.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509819</string>
		<key>latitude</key>
		<real>55.670000000000002</real>
		<key>longitude</key>
		<real>84.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7290697</string>
		<key>latitude</key>
		<real>60.979438999999999</real>
		<key>longitude</key>
		<real>76.924210000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1541618</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>82.859999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496421</string>
		<key>latitude</key>
		<real>54.987202000000003</real>
		<key>longitude</key>
		<real>82.716599000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496747</string>
		<key>latitude</key>
		<real>55.039999999999999</real>
		<key>longitude</key>
		<real>82.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489474</string>
		<key>latitude</key>
		<real>54.982399000000001</real>
		<key>longitude</key>
		<real>82.736298000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488074</string>
		<key>latitude</key>
		<real>55.57</real>
		<key>longitude</key>
		<real>75.709999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485312</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>78.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490496</string>
		<key>latitude</key>
		<real>56.920000000000002</real>
		<key>longitude</key>
		<real>85.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497543</string>
		<key>latitude</key>
		<real>60.93</real>
		<key>longitude</key>
		<real>76.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485020</string>
		<key>latitude</key>
		<real>57.130000000000003</real>
		<key>longitude</key>
		<real>73.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505628</string>
		<key>latitude</key>
		<real>54.549999999999997</real>
		<key>longitude</key>
		<real>79.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511309</string>
		<key>latitude</key>
		<real>57</real>
		<key>longitude</key>
		<real>86.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495256</string>
		<key>latitude</key>
		<real>57.079999999999998</real>
		<key>longitude</key>
		<real>86.230000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487241</string>
		<key>latitude</key>
		<real>54.883899999999997</real>
		<key>longitude</key>
		<real>82.776199000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496976</string>
		<key>latitude</key>
		<real>54.979999999999997</real>
		<key>longitude</key>
		<real>83.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509494</string>
		<key>latitude</key>
		<real>56.090000000000003</real>
		<key>longitude</key>
		<real>74.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6314371</string>
		<key>latitude</key>
		<real>54.960000000000001</real>
		<key>longitude</key>
		<real>83.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502091</string>
		<key>latitude</key>
		<real>54.920000000000002</real>
		<key>longitude</key>
		<real>82.989999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486371</string>
		<key>latitude</key>
		<real>54.805599000000001</real>
		<key>longitude</key>
		<real>82.5989</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507220</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>79.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510821</string>
		<key>latitude</key>
		<real>54.960000000000001</real>
		<key>longitude</key>
		<real>83.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485724</string>
		<key>latitude</key>
		<real>55.719999999999999</real>
		<key>longitude</key>
		<real>84.890000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502847</string>
		<key>latitude</key>
		<real>54.939999999999998</real>
		<key>longitude</key>
		<real>83.180000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490003</string>
		<key>latitude</key>
		<real>55.219999999999999</real>
		<key>longitude</key>
		<real>75.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492021</string>
		<key>latitude</key>
		<real>57.234169000000001</real>
		<key>longitude</key>
		<real>73.488608999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512086</string>
		<key>latitude</key>
		<real>54.850000000000001</real>
		<key>longitude</key>
		<real>83.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6314514</string>
		<key>latitude</key>
		<real>54.899999999999999</real>
		<key>longitude</key>
		<real>83.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506254</string>
		<key>latitude</key>
		<real>55.119999999999997</real>
		<key>longitude</key>
		<real>83.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499053</string>
		<key>latitude</key>
		<real>61.030000000000001</real>
		<key>longitude</key>
		<real>76.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489907</string>
		<key>latitude</key>
		<real>56.060000000000002</real>
		<key>longitude</key>
		<real>85.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493707</string>
		<key>latitude</key>
		<real>54.789999999999999</real>
		<key>longitude</key>
		<real>83.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486298</string>
		<key>latitude</key>
		<real>55.869999999999997</real>
		<key>longitude</key>
		<real>85.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6314508</string>
		<key>latitude</key>
		<real>54.810000000000002</real>
		<key>longitude</key>
		<real>83.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510350</string>
		<key>latitude</key>
		<real>54.759999999999998</real>
		<key>longitude</key>
		<real>83.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489508</string>
		<key>latitude</key>
		<real>55.240000000000002</real>
		<key>longitude</key>
		<real>84.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505506</string>
		<key>latitude</key>
		<real>54.616669000000002</real>
		<key>longitude</key>
		<real>82.550003000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503061</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>80.480000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499436</string>
		<key>latitude</key>
		<real>54.439999999999998</real>
		<key>longitude</key>
		<real>78.269999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493657</string>
		<key>latitude</key>
		<real>54.273330999999999</real>
		<key>longitude</key>
		<real>80.773612999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484892</string>
		<key>latitude</key>
		<real>56.829999999999998</real>
		<key>longitude</key>
		<real>86.629999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502879</string>
		<key>latitude</key>
		<real>56.469999999999999</real>
		<key>longitude</key>
		<real>73.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497406</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>74.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496100</string>
		<key>latitude</key>
		<real>54.365600999999998</real>
		<key>longitude</key>
		<real>81.899399000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511494</string>
		<key>latitude</key>
		<real>56.079999999999998</real>
		<key>longitude</key>
		<real>86.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505429</string>
		<key>latitude</key>
		<real>54.640000000000001</real>
		<key>longitude</key>
		<real>83.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510603</string>
		<key>latitude</key>
		<real>56.359999999999999</real>
		<key>longitude</key>
		<real>86.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503557</string>
		<key>latitude</key>
		<real>55.520000000000003</real>
		<key>longitude</key>
		<real>85.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505430</string>
		<key>latitude</key>
		<real>54.609999999999999</real>
		<key>longitude</key>
		<real>83.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493458</string>
		<key>latitude</key>
		<real>56.079999999999998</real>
		<key>longitude</key>
		<real>86.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486261</string>
		<key>latitude</key>
		<real>56.210000000000001</real>
		<key>longitude</key>
		<real>86.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501365</string>
		<key>latitude</key>
		<real>54.369999999999997</real>
		<key>longitude</key>
		<real>77.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498547</string>
		<key>latitude</key>
		<real>54.939999999999998</real>
		<key>longitude</key>
		<real>75.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511372</string>
		<key>latitude</key>
		<real>54.185200000000002</real>
		<key>longitude</key>
		<real>82.132896000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500532</string>
		<key>latitude</key>
		<real>54.460000000000001</real>
		<key>longitude</key>
		<real>83.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505228</string>
		<key>latitude</key>
		<real>56.189999999999998</real>
		<key>longitude</key>
		<real>86.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501988</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>79.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696767</string>
		<key>latitude</key>
		<real>61.25</real>
		<key>longitude</key>
		<real>75.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500468</string>
		<key>latitude</key>
		<real>54.439999999999998</real>
		<key>longitude</key>
		<real>83.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489661</string>
		<key>latitude</key>
		<real>57.508999000000003</real>
		<key>longitude</key>
		<real>72.404197999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500399</string>
		<key>latitude</key>
		<real>61.130000000000003</real>
		<key>longitude</key>
		<real>74.819999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507239</string>
		<key>latitude</key>
		<real>54.359797999999998</real>
		<key>longitude</key>
		<real>83.319800999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501706</string>
		<key>latitude</key>
		<real>53.959899999999998</real>
		<key>longitude</key>
		<real>81.209297000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511094</string>
		<key>latitude</key>
		<real>54.100000000000001</real>
		<key>longitude</key>
		<real>77.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489394</string>
		<key>latitude</key>
		<real>55.280000000000001</real>
		<key>longitude</key>
		<real>85.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503940</string>
		<key>latitude</key>
		<real>55.530000000000001</real>
		<key>longitude</key>
		<real>86.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510817</string>
		<key>latitude</key>
		<real>55.719999999999999</real>
		<key>longitude</key>
		<real>86.319999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510205</string>
		<key>latitude</key>
		<real>55.600000000000001</real>
		<key>longitude</key>
		<real>86.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501316</string>
		<key>latitude</key>
		<real>55.579999999999998</real>
		<key>longitude</key>
		<real>86.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496329</string>
		<key>latitude</key>
		<real>54.840000000000003</real>
		<key>longitude</key>
		<real>75.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495613</string>
		<key>latitude</key>
		<real>53.829999999999998</real>
		<key>longitude</key>
		<real>80.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505074</string>
		<key>latitude</key>
		<real>55.049999999999997</real>
		<key>longitude</key>
		<real>74.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508894</string>
		<key>latitude</key>
		<real>55.43</real>
		<key>longitude</key>
		<real>86.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7596769</string>
		<key>latitude</key>
		<real>55.07</real>
		<key>longitude</key>
		<real>74.510000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508161</string>
		<key>latitude</key>
		<real>54.222197999999999</real>
		<key>longitude</key>
		<real>83.380996999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494955</string>
		<key>latitude</key>
		<real>55.32</real>
		<key>longitude</key>
		<real>85.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494090</string>
		<key>latitude</key>
		<real>55.479999999999997</real>
		<key>longitude</key>
		<real>86.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494525</string>
		<key>latitude</key>
		<real>53.759999999999998</real>
		<key>longitude</key>
		<real>79.239999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1486525</string>
		<key>latitude</key>
		<real>55.280000000000001</real>
		<key>longitude</key>
		<real>85.980000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501278</string>
		<key>latitude</key>
		<real>55.299999999999997</real>
		<key>longitude</key>
		<real>86.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503901</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>86.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497210</string>
		<key>latitude</key>
		<real>61.939999999999998</real>
		<key>longitude</key>
		<real>76.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504871</string>
		<key>latitude</key>
		<real>53.788398999999998</real>
		<key>longitude</key>
		<real>81.342299999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1509738</string>
		<key>latitude</key>
		<real>56.020000000000003</real>
		<key>longitude</key>
		<real>73.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493004</string>
		<key>latitude</key>
		<real>55.609999999999999</real>
		<key>longitude</key>
		<real>73.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1540356</string>
		<key>latitude</key>
		<real>62.100000000000001</real>
		<key>longitude</key>
		<real>77.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496152</string>
		<key>latitude</key>
		<real>56</real>
		<key>longitude</key>
		<real>73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485793</string>
		<key>latitude</key>
		<real>60.880000000000003</real>
		<key>longitude</key>
		<real>73.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499247</string>
		<key>latitude</key>
		<real>54.340000000000003</real>
		<key>longitude</key>
		<real>84.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503856</string>
		<key>latitude</key>
		<real>53.630000000000003</real>
		<key>longitude</key>
		<real>79.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494091</string>
		<key>latitude</key>
		<real>54.920000000000002</real>
		<key>longitude</key>
		<real>85.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7289676</string>
		<key>latitude</key>
		<real>61.719999999999999</real>
		<key>longitude</key>
		<real>75.370000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504489</string>
		<key>latitude</key>
		<real>53.740000000000002</real>
		<key>longitude</key>
		<real>78.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490551</string>
		<key>latitude</key>
		<real>53.784100000000002</real>
		<key>longitude</key>
		<real>82.311599999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489822</string>
		<key>latitude</key>
		<real>57.310000000000002</real>
		<key>longitude</key>
		<real>88.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502526</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>74.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506394</string>
		<key>latitude</key>
		<real>55.020000000000003</real>
		<key>longitude</key>
		<real>85.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503900</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>86</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502013</string>
		<key>latitude</key>
		<real>54.609999999999999</real>
		<key>longitude</key>
		<real>85.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6696686</string>
		<key>latitude</key>
		<real>60.749851</real>
		<key>longitude</key>
		<real>72.858238</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501710</string>
		<key>latitude</key>
		<real>55.359999999999999</real>
		<key>longitude</key>
		<real>73.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504368</string>
		<key>latitude</key>
		<real>61.07</real>
		<key>longitude</key>
		<real>73.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1499350</string>
		<key>latitude</key>
		<real>56.210000000000001</real>
		<key>longitude</key>
		<real>87.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487599</string>
		<key>latitude</key>
		<real>56.030000000000001</real>
		<key>longitude</key>
		<real>87.620000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502041</string>
		<key>latitude</key>
		<real>55.329999999999998</real>
		<key>longitude</key>
		<real>73.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490266</string>
		<key>latitude</key>
		<real>53.82</real>
		<key>longitude</key>
		<real>83.569999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490624</string>
		<key>latitude</key>
		<real>61.25</real>
		<key>longitude</key>
		<real>73.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494276</string>
		<key>latitude</key>
		<real>61.229999999999997</real>
		<key>longitude</key>
		<real>73.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510335</string>
		<key>latitude</key>
		<real>55.170000000000002</real>
		<key>longitude</key>
		<real>73.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510842</string>
		<key>latitude</key>
		<real>61.170000000000002</real>
		<key>longitude</key>
		<real>73.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508074</string>
		<key>latitude</key>
		<real>61.329999999999998</real>
		<key>longitude</key>
		<real>73.430000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496153</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>73.400000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1533289</string>
		<key>latitude</key>
		<real>53.549999999999997</real>
		<key>longitude</key>
		<real>77.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490591</string>
		<key>latitude</key>
		<real>56.219999999999999</real>
		<key>longitude</key>
		<real>88.120000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488780</string>
		<key>latitude</key>
		<real>55.873210999999998</real>
		<key>longitude</key>
		<real>72.196731999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501887</string>
		<key>latitude</key>
		<real>55.240000000000002</real>
		<key>longitude</key>
		<real>72.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505496</string>
		<key>latitude</key>
		<real>54.810000000000002</real>
		<key>longitude</key>
		<real>73.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497736</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>86.010000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500665</string>
		<key>latitude</key>
		<real>54.659999999999997</real>
		<key>longitude</key>
		<real>86.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7076382</string>
		<key>latitude</key>
		<real>54.969999999999999</real>
		<key>longitude</key>
		<real>73.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485528</string>
		<key>latitude</key>
		<real>53.990000000000002</real>
		<key>longitude</key>
		<real>84.739999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502192</string>
		<key>latitude</key>
		<real>55</real>
		<key>longitude</key>
		<real>86.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508138</string>
		<key>latitude</key>
		<real>54.149999999999999</real>
		<key>longitude</key>
		<real>74.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489202</string>
		<key>latitude</key>
		<real>55.701279</real>
		<key>longitude</key>
		<real>72.233688000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1488255</string>
		<key>latitude</key>
		<real>61.066668999999997</real>
		<key>longitude</key>
		<real>72.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6864865</string>
		<key>latitude</key>
		<real>54.579999999999998</real>
		<key>longitude</key>
		<real>86.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495259</string>
		<key>latitude</key>
		<real>53.719999999999999</real>
		<key>longitude</key>
		<real>84.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496633</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>74.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1487048</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>73.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494456</string>
		<key>latitude</key>
		<real>54.600000000000001</real>
		<key>longitude</key>
		<real>86.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497917</string>
		<key>latitude</key>
		<real>61.099789000000001</real>
		<key>longitude</key>
		<real>72.603493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496889</string>
		<key>latitude</key>
		<real>54.840000000000003</real>
		<key>longitude</key>
		<real>73.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485284</string>
		<key>latitude</key>
		<real>55.030000000000001</real>
		<key>longitude</key>
		<real>87</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7536147</string>
		<key>latitude</key>
		<real>61.154518000000003</real>
		<key>longitude</key>
		<real>72.660720999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1538642</string>
		<key>latitude</key>
		<real>53.579999999999998</real>
		<key>longitude</key>
		<real>83.760000000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1502113</string>
		<key>latitude</key>
		<real>54.549999999999997</real>
		<key>longitude</key>
		<real>86.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500207</string>
		<key>latitude</key>
		<real>54.950000000000003</real>
		<key>longitude</key>
		<real>73.040000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489938</string>
		<key>latitude</key>
		<real>54.590000000000003</real>
		<key>longitude</key>
		<real>73.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500125</string>
		<key>latitude</key>
		<real>55.154209000000002</real>
		<key>longitude</key>
		<real>72.692466999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506192</string>
		<key>latitude</key>
		<real>54.539999999999999</real>
		<key>longitude</key>
		<real>86.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493224</string>
		<key>latitude</key>
		<real>54.229999999999997</real>
		<key>longitude</key>
		<real>85.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506073</string>
		<key>latitude</key>
		<real>54.280000000000001</real>
		<key>longitude</key>
		<real>85.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1508918</string>
		<key>latitude</key>
		<real>53.509999999999998</real>
		<key>longitude</key>
		<real>83.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490966</string>
		<key>latitude</key>
		<real>54.5</real>
		<key>longitude</key>
		<real>86.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510469</string>
		<key>latitude</key>
		<real>54.420000000000002</real>
		<key>longitude</key>
		<real>86.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493308</string>
		<key>latitude</key>
		<real>62.200001</real>
		<key>longitude</key>
		<real>74.466667000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511103</string>
		<key>latitude</key>
		<real>54.289999999999999</real>
		<key>longitude</key>
		<real>86.129999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1505584</string>
		<key>latitude</key>
		<real>54.43</real>
		<key>longitude</key>
		<real>86.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489554</string>
		<key>latitude</key>
		<real>55.759999999999998</real>
		<key>longitude</key>
		<real>88.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491378</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>84.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6695754</string>
		<key>latitude</key>
		<real>62.265369</real>
		<key>longitude</key>
		<real>74.479056999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493554</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>73.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511135</string>
		<key>latitude</key>
		<real>54.700000000000003</real>
		<key>longitude</key>
		<real>73.019999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1491004</string>
		<key>latitude</key>
		<real>54.240000000000002</real>
		<key>longitude</key>
		<real>86.209999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1485439</string>
		<key>latitude</key>
		<real>53.710000000000001</real>
		<key>longitude</key>
		<real>84.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1497017</string>
		<key>latitude</key>
		<real>53.509999999999998</real>
		<key>longitude</key>
		<real>84.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493523</string>
		<key>latitude</key>
		<real>55.384200999999997</real>
		<key>longitude</key>
		<real>71.889129999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1506565</string>
		<key>latitude</key>
		<real>55.219999999999999</real>
		<key>longitude</key>
		<real>87.930000000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516634</string>
		<key>latitude</key>
		<real>53.539999999999999</real>
		<key>longitude</key>
		<real>75.310000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495480</string>
		<key>latitude</key>
		<real>54.200000000000003</real>
		<key>longitude</key>
		<real>73.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493313</string>
		<key>latitude</key>
		<real>61.599997999999999</real>
		<key>longitude</key>
		<real>72.449996999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1511361</string>
		<key>latitude</key>
		<real>54.119999999999997</real>
		<key>longitude</key>
		<real>86.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1484871</string>
		<key>latitude</key>
		<real>54.159999999999997</real>
		<key>longitude</key>
		<real>86.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489167</string>
		<key>latitude</key>
		<real>54.130000000000003</real>
		<key>longitude</key>
		<real>86.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504590</string>
		<key>latitude</key>
		<real>54.170000000000002</real>
		<key>longitude</key>
		<real>86.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1541359</string>
		<key>latitude</key>
		<real>61.619450000000001</real>
		<key>longitude</key>
		<real>72.155456999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1492255</string>
		<key>latitude</key>
		<real>54.63158</real>
		<key>longitude</key>
		<real>72.396347000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1493423</string>
		<key>latitude</key>
		<real>53.780000000000001</real>
		<key>longitude</key>
		<real>73.879999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496380</string>
		<key>latitude</key>
		<real>54.210000000000001</real>
		<key>longitude</key>
		<real>72.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503277</string>
		<key>latitude</key>
		<real>53.990000000000002</real>
		<key>longitude</key>
		<real>86.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494114</string>
		<key>latitude</key>
		<real>53.909999999999997</real>
		<key>longitude</key>
		<real>86.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504670</string>
		<key>latitude</key>
		<real>61.916671999999998</real>
		<key>longitude</key>
		<real>72.033332999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1503773</string>
		<key>latitude</key>
		<real>62</real>
		<key>longitude</key>
		<real>72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1532612</string>
		<key>latitude</key>
		<real>54.299999</real>
		<key>longitude</key>
		<real>72.266670000000005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500305</string>
		<key>latitude</key>
		<real>53.840000000000003</real>
		<key>longitude</key>
		<real>86.909999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1516726</string>
		<key>latitude</key>
		<real>54.138888999999999</real>
		<key>longitude</key>
		<real>72.375</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1507801</string>
		<key>latitude</key>
		<real>53.979999999999997</real>
		<key>longitude</key>
		<real>87.379999999999995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1496990</string>
		<key>latitude</key>
		<real>53.759999999999998</real>
		<key>longitude</key>
		<real>87.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1500485</string>
		<key>latitude</key>
		<real>53.68</real>
		<key>longitude</key>
		<real>86.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1501079</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>87.099999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495859</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>87.150000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494500</string>
		<key>latitude</key>
		<real>54.366290999999997</real>
		<key>longitude</key>
		<real>71.763191000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1490980</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>87.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1510715</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>87.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7459043</string>
		<key>latitude</key>
		<real>53.799999999999997</real>
		<key>longitude</key>
		<real>87.290000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1522565</string>
		<key>latitude</key>
		<real>53.75</real>
		<key>longitude</key>
		<real>72.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1512238</string>
		<key>latitude</key>
		<real>53.729999999999997</real>
		<key>longitude</key>
		<real>87.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1494156</string>
		<key>latitude</key>
		<real>53.770000000000003</real>
		<key>longitude</key>
		<real>87.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1489863</string>
		<key>latitude</key>
		<real>53.670000000000002</real>
		<key>longitude</key>
		<real>87.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1495974</string>
		<key>latitude</key>
		<real>53.619999999999997</real>
		<key>longitude</key>
		<real>87.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7287775</string>
		<key>latitude</key>
		<real>62.439650999999998</real>
		<key>longitude</key>
		<real>71.760292000000007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1504972</string>
		<key>latitude</key>
		<real>53.530000000000001</real>
		<key>longitude</key>
		<real>87.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7459175</string>
		<key>latitude</key>
		<real>53.5</real>
		<key>longitude</key>
		<real>87.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521401</string>
		<key>latitude</key>
		<real>53.636391000000003</real>
		<key>longitude</key>
		<real>72.341392999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498129</string>
		<key>latitude</key>
		<real>53.710000000000001</real>
		<key>longitude</key>
		<real>87.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1498920</string>
		<key>latitude</key>
		<real>53.689999999999998</real>
		<key>longitude</key>
		<real>88.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1518511</string>
		<key>latitude</key>
		<real>53.637217999999997</real>
		<key>longitude</key>
		<real>71.877219999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1521374</string>
		<key>latitude</key>
		<real>53.534720999999998</real>
		<key>longitude</key>
		<real>71.550003000000004</real>
	</dict>
</array>
</plist>
