<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2110131</string>
		<key>latitude</key>
		<real>2.0537899999999998</real>
		<key>longitude</key>
		<real>173.26353499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601770</string>
		<key>latitude</key>
		<real>1.3629199999999999</real>
		<key>longitude</key>
		<real>173.162262</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601768</string>
		<key>latitude</key>
		<real>1.3808100000000001</real>
		<key>longitude</key>
		<real>173.13887</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601771</string>
		<key>latitude</key>
		<real>1.3636200000000001</real>
		<key>longitude</key>
		<real>173.139343</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110229</string>
		<key>latitude</key>
		<real>1.3907799999999999</real>
		<key>longitude</key>
		<real>173.13081399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601774</string>
		<key>latitude</key>
		<real>1.3673</real>
		<key>longitude</key>
		<real>173.124146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601776</string>
		<key>latitude</key>
		<real>1.36154</real>
		<key>longitude</key>
		<real>173.081131</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601765</string>
		<key>latitude</key>
		<real>1.35317</real>
		<key>longitude</key>
		<real>173.042587</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110254</string>
		<key>latitude</key>
		<real>1.3453999999999999</real>
		<key>longitude</key>
		<real>173.034637</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110070</string>
		<key>latitude</key>
		<real>1.3330900000000001</real>
		<key>longitude</key>
		<real>173.011627</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4030945</string>
		<key>latitude</key>
		<real>1.421</real>
		<key>longitude</key>
		<real>172.983994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110215</string>
		<key>latitude</key>
		<real>1.4199999999999999</real>
		<key>longitude</key>
		<real>172.983994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521611</string>
		<key>latitude</key>
		<real>1.419</real>
		<key>longitude</key>
		<real>172.983994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110257</string>
		<key>latitude</key>
		<real>1.3278000000000001</real>
		<key>longitude</key>
		<real>172.97695899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601762</string>
		<key>latitude</key>
		<real>1.32924</real>
		<key>longitude</key>
		<real>172.97522000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110248</string>
		<key>latitude</key>
		<real>1.3579699999999999</real>
		<key>longitude</key>
		<real>172.92105100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7576909</string>
		<key>latitude</key>
		<real>3.3643999999999998</real>
		<key>longitude</key>
		<real>172.983521</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521586</string>
		<key>latitude</key>
		<real>-1.3295699999999999</real>
		<key>longitude</key>
		<real>175.98071300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110099</string>
		<key>latitude</key>
		<real>3.09612</real>
		<key>longitude</key>
		<real>172.82311999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110204</string>
		<key>latitude</key>
		<real>-1.3592500000000001</real>
		<key>longitude</key>
		<real>176.00224299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110227</string>
		<key>latitude</key>
		<real>3.0707100000000001</real>
		<key>longitude</key>
		<real>172.790222</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521588</string>
		<key>latitude</key>
		<real>3.1616</real>
		<key>longitude</key>
		<real>172.797394</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303507</string>
		<key>latitude</key>
		<real>6.1333299999999999</real>
		<key>longitude</key>
		<real>171.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306516</string>
		<key>latitude</key>
		<real>6.0815000000000001</real>
		<key>longitude</key>
		<real>171.735016</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306514</string>
		<key>latitude</key>
		<real>7.06691</real>
		<key>longitude</key>
		<real>171.554123</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874852</string>
		<key>latitude</key>
		<real>7.0893100000000002</real>
		<key>longitude</key>
		<real>171.380493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2113779</string>
		<key>latitude</key>
		<real>7.0897100000000002</real>
		<key>longitude</key>
		<real>171.38026400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080185</string>
		<key>latitude</key>
		<real>7.1130000000000004</real>
		<key>longitude</key>
		<real>171.23599200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303505</string>
		<key>latitude</key>
		<real>7.1500000000000004</real>
		<key>longitude</key>
		<real>171.199997</real>
	</dict>
</array>
</plist>
