<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7304591</string>
		<key>latitude</key>
		<real>-12.15681</real>
		<key>longitude</key>
		<real>96.822509999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1547376</string>
		<key>latitude</key>
		<real>-12.164199999999999</real>
		<key>longitude</key>
		<real>96.873322000000002</real>
	</dict>
</array>
</plist>
