<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4039539</string>
		<key>latitude</key>
		<real>8.7057599999999997</real>
		<key>longitude</key>
		<real>171.22749300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306523</string>
		<key>latitude</key>
		<real>10.275309999999999</real>
		<key>longitude</key>
		<real>170.864609</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306513</string>
		<key>latitude</key>
		<real>8.1499000000000006</real>
		<key>longitude</key>
		<real>171.16868600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306514</string>
		<key>latitude</key>
		<real>7.06691</real>
		<key>longitude</key>
		<real>171.554123</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2113779</string>
		<key>latitude</key>
		<real>7.0897100000000002</real>
		<key>longitude</key>
		<real>171.38026400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874852</string>
		<key>latitude</key>
		<real>7.0893100000000002</real>
		<key>longitude</key>
		<real>171.380493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080185</string>
		<key>latitude</key>
		<real>7.1130000000000004</real>
		<key>longitude</key>
		<real>171.23599200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303505</string>
		<key>latitude</key>
		<real>7.1500000000000004</real>
		<key>longitude</key>
		<real>171.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303507</string>
		<key>latitude</key>
		<real>6.1333299999999999</real>
		<key>longitude</key>
		<real>171.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306516</string>
		<key>latitude</key>
		<real>6.0815000000000001</real>
		<key>longitude</key>
		<real>171.735016</real>
	</dict>
</array>
</plist>
