<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7303502</string>
		<key>latitude</key>
		<real>9.1820000000000004</real>
		<key>longitude</key>
		<real>167.307999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7304467</string>
		<key>latitude</key>
		<real>8.7747899999999994</real>
		<key>longitude</key>
		<real>167.73919699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7304473</string>
		<key>latitude</key>
		<real>8.7484000000000002</real>
		<key>longitude</key>
		<real>167.68504300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080115</string>
		<key>latitude</key>
		<real>9.8251100000000005</real>
		<key>longitude</key>
		<real>169.310654</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306520</string>
		<key>latitude</key>
		<real>11.16351</real>
		<key>longitude</key>
		<real>166.89407299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306524</string>
		<key>latitude</key>
		<real>8.3122100000000003</real>
		<key>longitude</key>
		<real>167.37661700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080970</string>
		<key>latitude</key>
		<real>10.219720000000001</real>
		<key>longitude</key>
		<real>169.97967499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306529</string>
		<key>latitude</key>
		<real>10.165749999999999</real>
		<key>longitude</key>
		<real>166.010223</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306517</string>
		<key>latitude</key>
		<real>8.9221699999999995</real>
		<key>longitude</key>
		<real>166.263443</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306518</string>
		<key>latitude</key>
		<real>11.227779999999999</real>
		<key>longitude</key>
		<real>169.847397</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306521</string>
		<key>latitude</key>
		<real>7.7600699999999998</real>
		<key>longitude</key>
		<real>168.23071300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306528</string>
		<key>latitude</key>
		<real>9.4542900000000003</real>
		<key>longitude</key>
		<real>170.23674</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306526</string>
		<key>latitude</key>
		<real>7.7500299999999998</real>
		<key>longitude</key>
		<real>168.97512800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306519</string>
		<key>latitude</key>
		<real>8.9321800000000007</real>
		<key>longitude</key>
		<real>165.76416</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303514</string>
		<key>latitude</key>
		<real>9.0803999999999991</real>
		<key>longitude</key>
		<real>165.62782300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306523</string>
		<key>latitude</key>
		<real>10.275309999999999</real>
		<key>longitude</key>
		<real>170.864609</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306515</string>
		<key>latitude</key>
		<real>7.2771699999999999</real>
		<key>longitude</key>
		<real>168.82029700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4039539</string>
		<key>latitude</key>
		<real>8.7057599999999997</real>
		<key>longitude</key>
		<real>171.22749300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306513</string>
		<key>latitude</key>
		<real>8.1499000000000006</real>
		<key>longitude</key>
		<real>171.16868600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303505</string>
		<key>latitude</key>
		<real>7.1500000000000004</real>
		<key>longitude</key>
		<real>171.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080185</string>
		<key>latitude</key>
		<real>7.1130000000000004</real>
		<key>longitude</key>
		<real>171.23599200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080422</string>
		<key>latitude</key>
		<real>5.9209800000000001</real>
		<key>longitude</key>
		<real>169.64335600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306522</string>
		<key>latitude</key>
		<real>5.5994400000000004</real>
		<key>longitude</key>
		<real>168.102814</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2113779</string>
		<key>latitude</key>
		<real>7.0897100000000002</real>
		<key>longitude</key>
		<real>171.38026400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874852</string>
		<key>latitude</key>
		<real>7.0893100000000002</real>
		<key>longitude</key>
		<real>171.380493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306525</string>
		<key>latitude</key>
		<real>5.6438699999999997</real>
		<key>longitude</key>
		<real>169.121094</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306514</string>
		<key>latitude</key>
		<real>7.06691</real>
		<key>longitude</key>
		<real>171.554123</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306516</string>
		<key>latitude</key>
		<real>6.0815000000000001</real>
		<key>longitude</key>
		<real>171.735016</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306512</string>
		<key>latitude</key>
		<real>4.5819900000000002</real>
		<key>longitude</key>
		<real>168.69636499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303507</string>
		<key>latitude</key>
		<real>6.1333299999999999</real>
		<key>longitude</key>
		<real>171.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306511</string>
		<key>latitude</key>
		<real>11.34735</real>
		<key>longitude</key>
		<real>162.33732599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626932</string>
		<key>latitude</key>
		<real>5.3486500000000001</real>
		<key>longitude</key>
		<real>163.01916499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648249</string>
		<key>latitude</key>
		<real>5.3335900000000001</real>
		<key>longitude</key>
		<real>163.02247600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648250</string>
		<key>latitude</key>
		<real>5.3670999999999998</real>
		<key>longitude</key>
		<real>162.985321</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081342</string>
		<key>latitude</key>
		<real>5.3247900000000001</real>
		<key>longitude</key>
		<real>163.007812</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626934</string>
		<key>latitude</key>
		<real>5.3499299999999996</real>
		<key>longitude</key>
		<real>162.96965</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648440</string>
		<key>latitude</key>
		<real>5.28599</real>
		<key>longitude</key>
		<real>163.026093</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082036</string>
		<key>latitude</key>
		<real>5.3250000000000002</real>
		<key>longitude</key>
		<real>162.98100299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626933</string>
		<key>latitude</key>
		<real>5.2750700000000004</real>
		<key>longitude</key>
		<real>163.01684599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648441</string>
		<key>latitude</key>
		<real>5.2748600000000003</real>
		<key>longitude</key>
		<real>162.976562</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626935</string>
		<key>latitude</key>
		<real>5.2751099999999997</real>
		<key>longitude</key>
		<real>162.956177</real>
	</dict>
</array>
</plist>
