<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2110384</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>179.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110297</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>179.13999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110394</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>179.19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602506</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>179.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602508</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>179.19999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110204</string>
		<key>latitude</key>
		<real>-1.3592500000000001</real>
		<key>longitude</key>
		<real>176.00224299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521586</string>
		<key>latitude</key>
		<real>-1.3295699999999999</real>
		<key>longitude</key>
		<real>175.98071300000001</real>
	</dict>
</array>
</plist>
