<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7521902</string>
		<key>latitude</key>
		<real>2.0164300000000002</real>
		<key>longitude</key>
		<real>-157.48773199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4030939</string>
		<key>latitude</key>
		<real>1.9848699999999999</real>
		<key>longitude</key>
		<real>-157.475021</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521903</string>
		<key>latitude</key>
		<real>1.98329</real>
		<key>longitude</key>
		<real>-157.36526499999999</real>
	</dict>
</array>
</plist>
