<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7522183</string>
		<key>latitude</key>
		<real>-8.5421200000000006</real>
		<key>longitude</key>
		<real>-172.51591500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4031110</string>
		<key>latitude</key>
		<real>-9.3851600000000008</real>
		<key>longitude</key>
		<real>-171.24674999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5881150</string>
		<key>latitude</key>
		<real>-11.05528</real>
		<key>longitude</key>
		<real>-171.08833300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>5881199</string>
		<key>latitude</key>
		<real>-11.055999999999999</real>
		<key>longitude</key>
		<real>-171.08200099999999</real>
	</dict>
</array>
</plist>
