<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>778707</string>
		<key>latitude</key>
		<real>71.040000000000006</real>
		<key>longitude</key>
		<real>27.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779933</string>
		<key>latitude</key>
		<real>71.040000000000006</real>
		<key>longitude</key>
		<real>27.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780686</string>
		<key>latitude</key>
		<real>70.859999999999999</real>
		<key>longitude</key>
		<real>29.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780687</string>
		<key>latitude</key>
		<real>70.859999999999999</real>
		<key>longitude</key>
		<real>29.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779261</string>
		<key>latitude</key>
		<real>70.950000000000003</real>
		<key>longitude</key>
		<real>27.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780714</string>
		<key>latitude</key>
		<real>70.640000000000001</real>
		<key>longitude</key>
		<real>29.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780717</string>
		<key>latitude</key>
		<real>70.629999999999995</real>
		<key>longitude</key>
		<real>29.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777347</string>
		<key>latitude</key>
		<real>70.620000000000005</real>
		<key>longitude</key>
		<real>29.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>824563</string>
		<key>latitude</key>
		<real>71.010000000000005</real>
		<key>longitude</key>
		<real>25.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>778459</string>
		<key>latitude</key>
		<real>70.980000000000004</real>
		<key>longitude</key>
		<real>25.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779554</string>
		<key>latitude</key>
		<real>70.980000000000004</real>
		<key>longitude</key>
		<real>25.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453313</string>
		<key>latitude</key>
		<real>70.370000000000005</real>
		<key>longitude</key>
		<real>31.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777019</string>
		<key>latitude</key>
		<real>70.370000000000005</real>
		<key>longitude</key>
		<real>31.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777221</string>
		<key>latitude</key>
		<real>70.349999999999994</real>
		<key>longitude</key>
		<real>31.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779622</string>
		<key>latitude</key>
		<real>71</real>
		<key>longitude</key>
		<real>24.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777032</string>
		<key>latitude</key>
		<real>70.170000000000002</real>
		<key>longitude</key>
		<real>28.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626407</string>
		<key>latitude</key>
		<real>70.200000000000003</real>
		<key>longitude</key>
		<real>28.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453315</string>
		<key>latitude</key>
		<real>70.069999999999993</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777073</string>
		<key>latitude</key>
		<real>70.069999999999993</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779317</string>
		<key>latitude</key>
		<real>70.049999999999997</real>
		<key>longitude</key>
		<real>29.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453312</string>
		<key>latitude</key>
		<real>70.659999999999997</real>
		<key>longitude</key>
		<real>23.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779683</string>
		<key>latitude</key>
		<real>70.659999999999997</real>
		<key>longitude</key>
		<real>23.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>847634</string>
		<key>latitude</key>
		<real>70.629999999999995</real>
		<key>longitude</key>
		<real>23.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779146</string>
		<key>latitude</key>
		<real>70.5</real>
		<key>longitude</key>
		<real>23.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>633268</string>
		<key>latitude</key>
		<real>69.909999999999997</real>
		<key>longitude</key>
		<real>27.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779641</string>
		<key>latitude</key>
		<real>70.590000000000003</real>
		<key>longitude</key>
		<real>22.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779082</string>
		<key>latitude</key>
		<real>70.049999999999997</real>
		<key>longitude</key>
		<real>24.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453314</string>
		<key>latitude</key>
		<real>70.049999999999997</real>
		<key>longitude</key>
		<real>24.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626406</string>
		<key>latitude</key>
		<real>70.590000000000003</real>
		<key>longitude</key>
		<real>22.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780166</string>
		<key>latitude</key>
		<real>70</real>
		<key>longitude</key>
		<real>25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779642</string>
		<key>latitude</key>
		<real>70.489999999999995</real>
		<key>longitude</key>
		<real>22.16</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>778362</string>
		<key>latitude</key>
		<real>70.239999999999995</real>
		<key>longitude</key>
		<real>22.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780543</string>
		<key>latitude</key>
		<real>69.980000000000004</real>
		<key>longitude</key>
		<real>23.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780946</string>
		<key>latitude</key>
		<real>69.980000000000004</real>
		<key>longitude</key>
		<real>23.300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780238</string>
		<key>latitude</key>
		<real>69.969999999999999</real>
		<key>longitude</key>
		<real>23.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>847633</string>
		<key>latitude</key>
		<real>69.969999999999999</real>
		<key>longitude</key>
		<real>23.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780604</string>
		<key>latitude</key>
		<real>69.969999999999999</real>
		<key>longitude</key>
		<real>23.260000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780524</string>
		<key>latitude</key>
		<real>69.939999999999998</real>
		<key>longitude</key>
		<real>22.050000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777682</string>
		<key>latitude</key>
		<real>70.030000000000001</real>
		<key>longitude</key>
		<real>20.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7535696</string>
		<key>latitude</key>
		<real>78.052902000000003</real>
		<key>longitude</key>
		<real>17.709961</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>3153910</string>
		<key>latitude</key>
		<real>69.959999999999994</real>
		<key>longitude</key>
		<real>19.620000000000001</real>
	</dict>
</array>
</plist>
