<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7535941</string>
		<key>latitude</key>
		<real>70.920000000000002</real>
		<key>longitude</key>
		<real>-8.7200000000000006</real>
	</dict>
</array>
</plist>
