<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>2063039</string>
		<key>latitude</key>
		<real>-14.25</real>
		<key>longitude</key>
		<real>129.550003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2068110</string>
		<key>latitude</key>
		<real>-15.76667</real>
		<key>longitude</key>
		<real>128.73333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839857</string>
		<key>latitude</key>
		<real>-15.51291</real>
		<key>longitude</key>
		<real>126.587791</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077026</string>
		<key>latitude</key>
		<real>-13.07</real>
		<key>longitude</key>
		<real>131.02000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2078024</string>
		<key>latitude</key>
		<real>-13.24</real>
		<key>longitude</key>
		<real>131.11000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839375</string>
		<key>latitude</key>
		<real>-13.039999999999999</real>
		<key>longitude</key>
		<real>131.08000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079691</string>
		<key>latitude</key>
		<real>-12.460000000000001</real>
		<key>longitude</key>
		<real>130.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2073124</string>
		<key>latitude</key>
		<real>-12.460000000000001</real>
		<key>longitude</key>
		<real>130.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2063845</string>
		<key>latitude</key>
		<real>-12.43</real>
		<key>longitude</key>
		<real>130.83000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079695</string>
		<key>latitude</key>
		<real>-12.43</real>
		<key>longitude</key>
		<real>130.84</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079686</string>
		<key>latitude</key>
		<real>-12.44</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2077383</string>
		<key>latitude</key>
		<real>-12.42</real>
		<key>longitude</key>
		<real>130.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079693</string>
		<key>latitude</key>
		<real>-12.42</real>
		<key>longitude</key>
		<real>130.86000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079696</string>
		<key>latitude</key>
		<real>-12.380000000000001</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839402</string>
		<key>latitude</key>
		<real>-12.4</real>
		<key>longitude</key>
		<real>130.88</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2079692</string>
		<key>latitude</key>
		<real>-12.369999999999999</real>
		<key>longitude</key>
		<real>130.90000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839407</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>130.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6301965</string>
		<key>latitude</key>
		<real>-12.49</real>
		<key>longitude</key>
		<real>130.97999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839410</string>
		<key>latitude</key>
		<real>-15.9292</real>
		<key>longitude</key>
		<real>130.76165800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2066653</string>
		<key>latitude</key>
		<real>-12.529999999999999</real>
		<key>longitude</key>
		<real>131.05000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839405</string>
		<key>latitude</key>
		<real>-12.5</real>
		<key>longitude</key>
		<real>131.13</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839404</string>
		<key>latitude</key>
		<real>-14.65</real>
		<key>longitude</key>
		<real>132.16999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2068655</string>
		<key>latitude</key>
		<real>-14.466670000000001</real>
		<key>longitude</key>
		<real>132.26666299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2070176</string>
		<key>latitude</key>
		<real>-18.266670000000001</real>
		<key>longitude</key>
		<real>127.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839500</string>
		<key>latitude</key>
		<real>-17.504470999999999</real>
		<key>longitude</key>
		<real>125.28014400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2071536</string>
		<key>latitude</key>
		<real>-18.183330999999999</real>
		<key>longitude</key>
		<real>125.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839513</string>
		<key>latitude</key>
		<real>-19.000689999999999</real>
		<key>longitude</key>
		<real>127.45204200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2066808</string>
		<key>latitude</key>
		<real>-14.93333</real>
		<key>longitude</key>
		<real>133.116669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072924</string>
		<key>latitude</key>
		<real>-17.299999</real>
		<key>longitude</key>
		<real>123.966667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1943673</string>
		<key>latitude</key>
		<real>-8.8819400000000002</real>
		<key>longitude</key>
		<real>126.37610599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7839412</string>
		<key>latitude</key>
		<real>-12.387230000000001</real>
		<key>longitude</key>
		<real>133.37934899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1626703</string>
		<key>latitude</key>
		<real>-9.8607099999999992</real>
		<key>longitude</key>
		<real>124.283951</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439676</string>
		<key>latitude</key>
		<real>-9.6085999999999991</real>
		<key>longitude</key>
		<real>124.597801</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439603</string>
		<key>latitude</key>
		<real>-9.5772999999999993</real>
		<key>longitude</key>
		<real>124.6241</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439665</string>
		<key>latitude</key>
		<real>-9.5860000000000003</real>
		<key>longitude</key>
		<real>124.585899</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1630766</string>
		<key>latitude</key>
		<real>-9.6248000000000005</real>
		<key>longitude</key>
		<real>124.531502</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1937274</string>
		<key>latitude</key>
		<real>-8.5186100000000007</real>
		<key>longitude</key>
		<real>127.00250200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439627</string>
		<key>latitude</key>
		<real>-9.5859000000000005</real>
		<key>longitude</key>
		<real>124.52780199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651810</string>
		<key>latitude</key>
		<real>-8.9924099999999996</real>
		<key>longitude</key>
		<real>125.508163</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439608</string>
		<key>latitude</key>
		<real>-9.5614000000000008</real>
		<key>longitude</key>
		<real>124.50190000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439611</string>
		<key>latitude</key>
		<real>-9.548</real>
		<key>longitude</key>
		<real>124.505501</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1966436</string>
		<key>latitude</key>
		<real>-8.8333300000000001</real>
		<key>longitude</key>
		<real>125.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7439595</string>
		<key>latitude</key>
		<real>-9.5009999999999994</real>
		<key>longitude</key>
		<real>124.54540299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2073208</string>
		<key>latitude</key>
		<real>-16.25</real>
		<key>longitude</key>
		<real>133.366669</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1640576</string>
		<key>latitude</key>
		<real>-9.4466699999999992</real>
		<key>longitude</key>
		<real>124.478058</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2056999</string>
		<key>latitude</key>
		<real>-10.15</real>
		<key>longitude</key>
		<real>123.650002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1942534</string>
		<key>latitude</key>
		<real>-8.4600000000000009</real>
		<key>longitude</key>
		<real>126.38472</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651103</string>
		<key>latitude</key>
		<real>-9.1061099999999993</real>
		<key>longitude</key>
		<real>124.89250199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2057087</string>
		<key>latitude</key>
		<real>-10.16667</real>
		<key>longitude</key>
		<real>123.58332799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1651816</string>
		<key>latitude</key>
		<real>-8.7280599999999993</real>
		<key>longitude</key>
		<real>125.566391</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2057031</string>
		<key>latitude</key>
		<real>-10.73333</real>
		<key>longitude</key>
		<real>123.033333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1938756</string>
		<key>latitude</key>
		<real>-9.1916700000000002</real>
		<key>longitude</key>
		<real>124.531387</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1645456</string>
		<key>latitude</key>
		<real>-8.5500000000000007</real>
		<key>longitude</key>
		<real>125.66667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1645457</string>
		<key>latitude</key>
		<real>-8.5586099999999998</real>
		<key>longitude</key>
		<real>125.57360799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1947261</string>
		<key>latitude</key>
		<real>-9.5999999999999996</real>
		<key>longitude</key>
		<real>123.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2064787</string>
		<key>latitude</key>
		<real>-17.399999999999999</real>
		<key>longitude</key>
		<real>133.39999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2072064</string>
		<key>latitude</key>
		<real>-17.549999</real>
		<key>longitude</key>
		<real>133.53332499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463951</string>
		<key>latitude</key>
		<real>-8.6099999999999994</real>
		<key>longitude</key>
		<real>122.73999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463958</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>122.68000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463945</string>
		<key>latitude</key>
		<real>-8.5899999999999999</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463931</string>
		<key>latitude</key>
		<real>-8.5600000000000005</real>
		<key>longitude</key>
		<real>122.73</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463907</string>
		<key>latitude</key>
		<real>-8.5299999999999994</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7461922</string>
		<key>latitude</key>
		<real>-8.5</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463867</string>
		<key>latitude</key>
		<real>-8.5899999999999999</real>
		<key>longitude</key>
		<real>122.59999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7473831</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>122.70999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463872</string>
		<key>latitude</key>
		<real>-8.5999999999999996</real>
		<key>longitude</key>
		<real>122.56999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463834</string>
		<key>latitude</key>
		<real>-8.5600000000000005</real>
		<key>longitude</key>
		<real>122.61</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7461917</string>
		<key>latitude</key>
		<real>-8.5</real>
		<key>longitude</key>
		<real>122.64</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463885</string>
		<key>latitude</key>
		<real>-8.6199999999999992</real>
		<key>longitude</key>
		<real>122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574409</string>
		<key>latitude</key>
		<real>-8.75</real>
		<key>longitude</key>
		<real>122.37</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1634484</string>
		<key>latitude</key>
		<real>-8.5600000000000005</real>
		<key>longitude</key>
		<real>122.51000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574385</string>
		<key>latitude</key>
		<real>-8.7100000000000009</real>
		<key>longitude</key>
		<real>122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574347</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>122.34999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463809</string>
		<key>latitude</key>
		<real>-8.5199999999999996</real>
		<key>longitude</key>
		<real>122.53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7463788</string>
		<key>latitude</key>
		<real>-8.5099999999999998</real>
		<key>longitude</key>
		<real>122.54000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1648345</string>
		<key>latitude</key>
		<real>-8.7400000000000002</real>
		<key>longitude</key>
		<real>122.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1650465</string>
		<key>latitude</key>
		<real>-8.7400000000000002</real>
		<key>longitude</key>
		<real>122.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1634273</string>
		<key>latitude</key>
		<real>-8.4700000000000006</real>
		<key>longitude</key>
		<real>122.56</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574313</string>
		<key>latitude</key>
		<real>-8.6799999999999997</real>
		<key>longitude</key>
		<real>122.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574375</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>122.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574423</string>
		<key>latitude</key>
		<real>-8.7300000000000004</real>
		<key>longitude</key>
		<real>122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574431</string>
		<key>latitude</key>
		<real>-8.7400000000000002</real>
		<key>longitude</key>
		<real>122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574321</string>
		<key>latitude</key>
		<real>-8.6699999999999999</real>
		<key>longitude</key>
		<real>122.33</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574306</string>
		<key>latitude</key>
		<real>-8.6799999999999997</real>
		<key>longitude</key>
		<real>122.31</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574332</string>
		<key>latitude</key>
		<real>-8.6899999999999995</real>
		<key>longitude</key>
		<real>122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574369</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574367</string>
		<key>latitude</key>
		<real>-8.6999999999999993</real>
		<key>longitude</key>
		<real>122.26000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574258</string>
		<key>latitude</key>
		<real>-8.6300000000000008</real>
		<key>longitude</key>
		<real>122.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574271</string>
		<key>latitude</key>
		<real>-8.6500000000000004</real>
		<key>longitude</key>
		<real>122.3</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574291</string>
		<key>latitude</key>
		<real>-8.6600000000000001</real>
		<key>longitude</key>
		<real>122.29000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1643160</string>
		<key>latitude</key>
		<real>-8.6699999999999999</real>
		<key>longitude</key>
		<real>122.27</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574263</string>
		<key>latitude</key>
		<real>-8.6400000000000006</real>
		<key>longitude</key>
		<real>122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7574268</string>
		<key>latitude</key>
		<real>-8.6500000000000004</real>
		<key>longitude</key>
		<real>122.27</real>
	</dict>
</array>
</plist>
