<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>408666</string>
		<key>latitude</key>
		<real>16</real>
		<key>longitude</key>
		<real>25.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243590</string>
		<key>latitude</key>
		<real>15.119999999999999</real>
		<key>longitude</key>
		<real>22.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>371745</string>
		<key>latitude</key>
		<real>14.199999999999999</real>
		<key>longitude</key>
		<real>24.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>244878</string>
		<key>latitude</key>
		<real>14.529999999999999</real>
		<key>longitude</key>
		<real>20.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379555</string>
		<key>latitude</key>
		<real>13.630000000000001</real>
		<key>longitude</key>
		<real>25.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2432678</string>
		<key>latitude</key>
		<real>17.93</real>
		<key>longitude</key>
		<real>19.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379302</string>
		<key>latitude</key>
		<real>13.48</real>
		<key>longitude</key>
		<real>22.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>379303</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>22.449999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245669</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>22.199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408658</string>
		<key>latitude</key>
		<real>13</real>
		<key>longitude</key>
		<real>23</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>364933</string>
		<key>latitude</key>
		<real>13.6</real>
		<key>longitude</key>
		<real>26.690000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>363533</string>
		<key>latitude</key>
		<real>12.91</real>
		<key>longitude</key>
		<real>23.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243503</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>245785</string>
		<key>latitude</key>
		<real>13.83</real>
		<key>longitude</key>
		<real>20.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>242246</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>21.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7602866</string>
		<key>latitude</key>
		<real>18.25</real>
		<key>longitude</key>
		<real>18.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>243783</string>
		<key>latitude</key>
		<real>13.949999999999999</real>
		<key>longitude</key>
		<real>20.550000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378389</string>
		<key>latitude</key>
		<real>19.300000000000001</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7754689</string>
		<key>latitude</key>
		<real>12.529999999999999</real>
		<key>longitude</key>
		<real>23.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2434508</string>
		<key>latitude</key>
		<real>15</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2435899</string>
		<key>latitude</key>
		<real>14</real>
		<key>longitude</key>
		<real>19</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426370</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>19.699999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>408667</string>
		<key>latitude</key>
		<real>14.5</real>
		<key>longitude</key>
		<real>29.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>378699</string>
		<key>latitude</key>
		<real>12.699999999999999</real>
		<key>longitude</key>
		<real>28.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2436400</string>
		<key>latitude</key>
		<real>13.220000000000001</real>
		<key>longitude</key>
		<real>18.34</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2426991</string>
		<key>latitude</key>
		<real>13.23</real>
		<key>longitude</key>
		<real>18.300000000000001</real>
	</dict>
</array>
</plist>
