<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7626969</string>
		<key>latitude</key>
		<real>8.6920000000000002</real>
		<key>longitude</key>
		<real>152.341995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645190</string>
		<key>latitude</key>
		<real>8.6920000000000002</real>
		<key>longitude</key>
		<real>152.34350599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626982</string>
		<key>latitude</key>
		<real>8.609</real>
		<key>longitude</key>
		<real>152.24400299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645195</string>
		<key>latitude</key>
		<real>8.609</real>
		<key>longitude</key>
		<real>152.245499</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645169</string>
		<key>latitude</key>
		<real>8.5581099999999992</real>
		<key>longitude</key>
		<real>151.90922499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626960</string>
		<key>latitude</key>
		<real>8.5581099999999992</real>
		<key>longitude</key>
		<real>151.90821800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7644931</string>
		<key>latitude</key>
		<real>8.4299999999999997</real>
		<key>longitude</key>
		<real>151.74800099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626972</string>
		<key>latitude</key>
		<real>8.4299999999999997</real>
		<key>longitude</key>
		<real>151.74499499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628280</string>
		<key>latitude</key>
		<real>8.75</real>
		<key>longitude</key>
		<real>150.341003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626991</string>
		<key>latitude</key>
		<real>8.75</real>
		<key>longitude</key>
		<real>150.339493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628277</string>
		<key>latitude</key>
		<real>8.7989999999999995</real>
		<key>longitude</key>
		<real>150.291504</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626974</string>
		<key>latitude</key>
		<real>8.7989999999999995</real>
		<key>longitude</key>
		<real>150.28999300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628283</string>
		<key>latitude</key>
		<real>8.9849999999999994</real>
		<key>longitude</key>
		<real>150.12750199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626967</string>
		<key>latitude</key>
		<real>8.9849999999999994</real>
		<key>longitude</key>
		<real>150.12600699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628274</string>
		<key>latitude</key>
		<real>8.5690000000000008</real>
		<key>longitude</key>
		<real>150.41949500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626977</string>
		<key>latitude</key>
		<real>8.5690000000000008</real>
		<key>longitude</key>
		<real>150.41799900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7668886</string>
		<key>latitude</key>
		<real>7.4564000000000004</real>
		<key>longitude</key>
		<real>151.84345999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081114</string>
		<key>latitude</key>
		<real>7.4515399999999996</real>
		<key>longitude</key>
		<real>151.846802</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082282</string>
		<key>latitude</key>
		<real>7.4539999999999997</real>
		<key>longitude</key>
		<real>151.804993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7668879</string>
		<key>latitude</key>
		<real>7.44428</real>
		<key>longitude</key>
		<real>151.84103400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626992</string>
		<key>latitude</key>
		<real>7.4400000000000004</real>
		<key>longitude</key>
		<real>151.88099700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626987</string>
		<key>latitude</key>
		<real>7.3810000000000002</real>
		<key>longitude</key>
		<real>151.88999899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7668874</string>
		<key>latitude</key>
		<real>7.3759699999999997</real>
		<key>longitude</key>
		<real>151.88432299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628259</string>
		<key>latitude</key>
		<real>8.5749999999999993</real>
		<key>longitude</key>
		<real>149.68699599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626975</string>
		<key>latitude</key>
		<real>8.5749999999999993</real>
		<key>longitude</key>
		<real>149.68550099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626970</string>
		<key>latitude</key>
		<real>6.9930000000000003</real>
		<key>longitude</key>
		<real>152.574005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645213</string>
		<key>latitude</key>
		<real>6.9930000000000003</real>
		<key>longitude</key>
		<real>152.574997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626965</string>
		<key>latitude</key>
		<real>6.8940000000000001</real>
		<key>longitude</key>
		<real>152.73899800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645217</string>
		<key>latitude</key>
		<real>6.8940000000000001</real>
		<key>longitude</key>
		<real>152.740005</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626978</string>
		<key>latitude</key>
		<real>6.8339999999999996</real>
		<key>longitude</key>
		<real>152.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645221</string>
		<key>latitude</key>
		<real>6.8339999999999996</real>
		<key>longitude</key>
		<real>152.70100400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626979</string>
		<key>latitude</key>
		<real>7.63971</real>
		<key>longitude</key>
		<real>149.430115</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628250</string>
		<key>latitude</key>
		<real>7.6365999999999996</real>
		<key>longitude</key>
		<real>149.428787</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628253</string>
		<key>latitude</key>
		<real>7.5386800000000003</real>
		<key>longitude</key>
		<real>149.414276</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626985</string>
		<key>latitude</key>
		<real>7.5389799999999996</real>
		<key>longitude</key>
		<real>149.411743</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628103</string>
		<key>latitude</key>
		<real>7.3566099999999999</real>
		<key>longitude</key>
		<real>149.19908100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626980</string>
		<key>latitude</key>
		<real>7.3550000000000004</real>
		<key>longitude</key>
		<real>149.182007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626971</string>
		<key>latitude</key>
		<real>5.915</real>
		<key>longitude</key>
		<real>153.13600199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627586</string>
		<key>latitude</key>
		<real>5.915</real>
		<key>longitude</key>
		<real>153.13999899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627628</string>
		<key>latitude</key>
		<real>6.6894</real>
		<key>longitude</key>
		<real>149.29908800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626963</string>
		<key>latitude</key>
		<real>6.6829999999999998</real>
		<key>longitude</key>
		<real>149.300003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626959</string>
		<key>latitude</key>
		<real>5.5919999999999996</real>
		<key>longitude</key>
		<real>153.55999800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645270</string>
		<key>latitude</key>
		<real>5.5919999999999996</real>
		<key>longitude</key>
		<real>153.56399500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626968</string>
		<key>latitude</key>
		<real>5.4917999999999996</real>
		<key>longitude</key>
		<real>153.538498</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645375</string>
		<key>latitude</key>
		<real>5.4917999999999996</real>
		<key>longitude</key>
		<real>153.53999300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626964</string>
		<key>latitude</key>
		<real>5.4530000000000003</real>
		<key>longitude</key>
		<real>153.455994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645378</string>
		<key>latitude</key>
		<real>5.4530000000000003</real>
		<key>longitude</key>
		<real>153.457504</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626973</string>
		<key>latitude</key>
		<real>5.5065999999999997</real>
		<key>longitude</key>
		<real>153.709</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645372</string>
		<key>latitude</key>
		<real>5.5065999999999997</real>
		<key>longitude</key>
		<real>153.71049500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626966</string>
		<key>latitude</key>
		<real>5.5069999999999997</real>
		<key>longitude</key>
		<real>153.81899999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645369</string>
		<key>latitude</key>
		<real>5.5069999999999997</real>
		<key>longitude</key>
		<real>153.82049599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626983</string>
		<key>latitude</key>
		<real>5.3339999999999996</real>
		<key>longitude</key>
		<real>153.73649599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645384</string>
		<key>latitude</key>
		<real>5.3339999999999996</real>
		<key>longitude</key>
		<real>153.73800700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626984</string>
		<key>latitude</key>
		<real>5.2842000000000002</real>
		<key>longitude</key>
		<real>153.6465</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645381</string>
		<key>latitude</key>
		<real>5.2842000000000002</real>
		<key>longitude</key>
		<real>153.64799500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645723</string>
		<key>latitude</key>
		<real>7.3819999999999997</real>
		<key>longitude</key>
		<real>147.032196</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626952</string>
		<key>latitude</key>
		<real>7.3819999999999997</real>
		<key>longitude</key>
		<real>147.03179900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645726</string>
		<key>latitude</key>
		<real>7.4909999999999997</real>
		<key>longitude</key>
		<real>146.304993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627089</string>
		<key>latitude</key>
		<real>5.7885</real>
		<key>longitude</key>
		<real>157.159424</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626926</string>
		<key>latitude</key>
		<real>5.8150000000000004</real>
		<key>longitude</key>
		<real>157.279999</real>
	</dict>
</array>
</plist>
