<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7627186</string>
		<key>latitude</key>
		<real>6.2058900000000001</real>
		<key>longitude</key>
		<real>160.70327800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626929</string>
		<key>latitude</key>
		<real>6.2149999999999999</real>
		<key>longitude</key>
		<real>160.70500200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626935</string>
		<key>latitude</key>
		<real>5.2751099999999997</real>
		<key>longitude</key>
		<real>162.956177</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648441</string>
		<key>latitude</key>
		<real>5.2748600000000003</real>
		<key>longitude</key>
		<real>162.976562</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626933</string>
		<key>latitude</key>
		<real>5.2750700000000004</real>
		<key>longitude</key>
		<real>163.01684599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082036</string>
		<key>latitude</key>
		<real>5.3250000000000002</real>
		<key>longitude</key>
		<real>162.98100299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648440</string>
		<key>latitude</key>
		<real>5.28599</real>
		<key>longitude</key>
		<real>163.026093</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626934</string>
		<key>latitude</key>
		<real>5.3499299999999996</real>
		<key>longitude</key>
		<real>162.96965</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081342</string>
		<key>latitude</key>
		<real>5.3247900000000001</real>
		<key>longitude</key>
		<real>163.007812</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648249</string>
		<key>latitude</key>
		<real>5.3335900000000001</real>
		<key>longitude</key>
		<real>163.02247600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648250</string>
		<key>latitude</key>
		<real>5.3670999999999998</real>
		<key>longitude</key>
		<real>162.985321</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626932</string>
		<key>latitude</key>
		<real>5.3486500000000001</real>
		<key>longitude</key>
		<real>163.01916499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626926</string>
		<key>latitude</key>
		<real>5.8150000000000004</real>
		<key>longitude</key>
		<real>157.279999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626924</string>
		<key>latitude</key>
		<real>6.6879999999999997</real>
		<key>longitude</key>
		<real>159.75700399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628452</string>
		<key>latitude</key>
		<real>6.6928099999999997</real>
		<key>longitude</key>
		<real>159.762833</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627089</string>
		<key>latitude</key>
		<real>5.7885</real>
		<key>longitude</key>
		<real>157.159424</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7667608</string>
		<key>latitude</key>
		<real>6.8349299999999999</real>
		<key>longitude</key>
		<real>158.29870600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626923</string>
		<key>latitude</key>
		<real>6.8675899999999999</real>
		<key>longitude</key>
		<real>158.31277499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081918</string>
		<key>latitude</key>
		<real>6.9240000000000004</real>
		<key>longitude</key>
		<real>158.162003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081986</string>
		<key>latitude</key>
		<real>6.9247699999999996</real>
		<key>longitude</key>
		<real>158.16108700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626930</string>
		<key>latitude</key>
		<real>6.9327300000000003</real>
		<key>longitude</key>
		<real>158.14269999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627032</string>
		<key>latitude</key>
		<real>1.0786100000000001</real>
		<key>longitude</key>
		<real>154.807526</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648752</string>
		<key>latitude</key>
		<real>6.9640000000000004</real>
		<key>longitude</key>
		<real>158.20640599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043034</string>
		<key>latitude</key>
		<real>6.9640000000000004</real>
		<key>longitude</key>
		<real>158.20620700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082038</string>
		<key>latitude</key>
		<real>6.9640000000000004</real>
		<key>longitude</key>
		<real>158.205994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626922</string>
		<key>latitude</key>
		<real>6.9640000000000004</real>
		<key>longitude</key>
		<real>158.20579499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081550</string>
		<key>latitude</key>
		<real>6.9640000000000004</real>
		<key>longitude</key>
		<real>158.20559700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4044958</string>
		<key>latitude</key>
		<real>6.9713700000000003</real>
		<key>longitude</key>
		<real>158.20834400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626920</string>
		<key>latitude</key>
		<real>1.0669999999999999</real>
		<key>longitude</key>
		<real>154.759995</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627037</string>
		<key>latitude</key>
		<real>3.8361900000000002</real>
		<key>longitude</key>
		<real>154.97143600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626927</string>
		<key>latitude</key>
		<real>3.8410000000000002</real>
		<key>longitude</key>
		<real>154.929993</real>
	</dict>
</array>
</plist>
