<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7306512</string>
		<key>latitude</key>
		<real>4.5819900000000002</real>
		<key>longitude</key>
		<real>168.69636499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110425</string>
		<key>latitude</key>
		<real>-0.51700000000000002</real>
		<key>longitude</key>
		<real>166.932999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626485</string>
		<key>latitude</key>
		<real>-0.52544999999999997</real>
		<key>longitude</key>
		<real>166.912476</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626465</string>
		<key>latitude</key>
		<real>-0.54756000000000005</real>
		<key>longitude</key>
		<real>166.91729699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110418</string>
		<key>latitude</key>
		<real>-0.54723999999999995</real>
		<key>longitude</key>
		<real>166.91598500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306522</string>
		<key>latitude</key>
		<real>5.5994400000000004</real>
		<key>longitude</key>
		<real>168.102814</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306525</string>
		<key>latitude</key>
		<real>5.6438699999999997</real>
		<key>longitude</key>
		<real>169.121094</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080422</string>
		<key>latitude</key>
		<real>5.9209800000000001</real>
		<key>longitude</key>
		<real>169.64335600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110227</string>
		<key>latitude</key>
		<real>3.0707100000000001</real>
		<key>longitude</key>
		<real>172.790222</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521588</string>
		<key>latitude</key>
		<real>3.1616</real>
		<key>longitude</key>
		<real>172.797394</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110099</string>
		<key>latitude</key>
		<real>3.09612</real>
		<key>longitude</key>
		<real>172.82311999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110248</string>
		<key>latitude</key>
		<real>1.3579699999999999</real>
		<key>longitude</key>
		<real>172.92105100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4030945</string>
		<key>latitude</key>
		<real>1.421</real>
		<key>longitude</key>
		<real>172.983994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110215</string>
		<key>latitude</key>
		<real>1.4199999999999999</real>
		<key>longitude</key>
		<real>172.983994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7521611</string>
		<key>latitude</key>
		<real>1.419</real>
		<key>longitude</key>
		<real>172.983994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601762</string>
		<key>latitude</key>
		<real>1.32924</real>
		<key>longitude</key>
		<real>172.97522000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110257</string>
		<key>latitude</key>
		<real>1.3278000000000001</real>
		<key>longitude</key>
		<real>172.97695899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110070</string>
		<key>latitude</key>
		<real>1.3330900000000001</real>
		<key>longitude</key>
		<real>173.011627</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110254</string>
		<key>latitude</key>
		<real>1.3453999999999999</real>
		<key>longitude</key>
		<real>173.034637</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601765</string>
		<key>latitude</key>
		<real>1.35317</real>
		<key>longitude</key>
		<real>173.042587</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601776</string>
		<key>latitude</key>
		<real>1.36154</real>
		<key>longitude</key>
		<real>173.081131</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601774</string>
		<key>latitude</key>
		<real>1.3673</real>
		<key>longitude</key>
		<real>173.124146</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7576909</string>
		<key>latitude</key>
		<real>3.3643999999999998</real>
		<key>longitude</key>
		<real>172.983521</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110229</string>
		<key>latitude</key>
		<real>1.3907799999999999</real>
		<key>longitude</key>
		<real>173.13081399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601768</string>
		<key>latitude</key>
		<real>1.3808100000000001</real>
		<key>longitude</key>
		<real>173.13887</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601771</string>
		<key>latitude</key>
		<real>1.3636200000000001</real>
		<key>longitude</key>
		<real>173.139343</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7601770</string>
		<key>latitude</key>
		<real>1.3629199999999999</real>
		<key>longitude</key>
		<real>173.162262</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2110131</string>
		<key>latitude</key>
		<real>2.0537899999999998</real>
		<key>longitude</key>
		<real>173.26353499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306515</string>
		<key>latitude</key>
		<real>7.2771699999999999</real>
		<key>longitude</key>
		<real>168.82029700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306516</string>
		<key>latitude</key>
		<real>6.0815000000000001</real>
		<key>longitude</key>
		<real>171.735016</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303507</string>
		<key>latitude</key>
		<real>6.1333299999999999</real>
		<key>longitude</key>
		<real>171.91667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648440</string>
		<key>latitude</key>
		<real>5.28599</real>
		<key>longitude</key>
		<real>163.026093</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626933</string>
		<key>latitude</key>
		<real>5.2750700000000004</real>
		<key>longitude</key>
		<real>163.01684599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648249</string>
		<key>latitude</key>
		<real>5.3335900000000001</real>
		<key>longitude</key>
		<real>163.02247600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648441</string>
		<key>latitude</key>
		<real>5.2748600000000003</real>
		<key>longitude</key>
		<real>162.976562</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081342</string>
		<key>latitude</key>
		<real>5.3247900000000001</real>
		<key>longitude</key>
		<real>163.007812</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626932</string>
		<key>latitude</key>
		<real>5.3486500000000001</real>
		<key>longitude</key>
		<real>163.01916499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626935</string>
		<key>latitude</key>
		<real>5.2751099999999997</real>
		<key>longitude</key>
		<real>162.956177</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2082036</string>
		<key>latitude</key>
		<real>5.3250000000000002</real>
		<key>longitude</key>
		<real>162.98100299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648250</string>
		<key>latitude</key>
		<real>5.3670999999999998</real>
		<key>longitude</key>
		<real>162.985321</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626934</string>
		<key>latitude</key>
		<real>5.3499299999999996</real>
		<key>longitude</key>
		<real>162.96965</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2080185</string>
		<key>latitude</key>
		<real>7.1130000000000004</real>
		<key>longitude</key>
		<real>171.23599200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303505</string>
		<key>latitude</key>
		<real>7.1500000000000004</real>
		<key>longitude</key>
		<real>171.199997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874852</string>
		<key>latitude</key>
		<real>7.0893100000000002</real>
		<key>longitude</key>
		<real>171.380493</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2113779</string>
		<key>latitude</key>
		<real>7.0897100000000002</real>
		<key>longitude</key>
		<real>171.38026400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7306514</string>
		<key>latitude</key>
		<real>7.06691</real>
		<key>longitude</key>
		<real>171.554123</real>
	</dict>
</array>
</plist>
