<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>4036980</string>
		<key>latitude</key>
		<real>9.5033899999999996</real>
		<key>longitude</key>
		<real>138.074814</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626936</string>
		<key>latitude</key>
		<real>9.5222899999999999</real>
		<key>longitude</key>
		<real>138.08540300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2081175</string>
		<key>latitude</key>
		<real>9.5380000000000003</real>
		<key>longitude</key>
		<real>138.09700000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626949</string>
		<key>latitude</key>
		<real>8.4499999999999993</real>
		<key>longitude</key>
		<real>137.48100299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645772</string>
		<key>latitude</key>
		<real>8.4499999999999993</real>
		<key>longitude</key>
		<real>137.483994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626956</string>
		<key>latitude</key>
		<real>9.52712</real>
		<key>longitude</key>
		<real>138.11909499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7648112</string>
		<key>latitude</key>
		<real>9.5163799999999998</real>
		<key>longitude</key>
		<real>138.12167400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4036933</string>
		<key>latitude</key>
		<real>9.6219999999999999</real>
		<key>longitude</key>
		<real>138.15400700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626951</string>
		<key>latitude</key>
		<real>9.6242800000000006</real>
		<key>longitude</key>
		<real>138.157455</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7670994</string>
		<key>latitude</key>
		<real>8.0822800000000008</real>
		<key>longitude</key>
		<real>134.71725499999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038170</string>
		<key>latitude</key>
		<real>7.6957000000000004</real>
		<key>longitude</key>
		<real>134.630539</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559543</string>
		<key>latitude</key>
		<real>7.6241599999999998</real>
		<key>longitude</key>
		<real>134.64207500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732297</string>
		<key>latitude</key>
		<real>7.6098600000000003</real>
		<key>longitude</key>
		<real>134.57440199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038014</string>
		<key>latitude</key>
		<real>7.5545600000000004</real>
		<key>longitude</key>
		<real>134.636124</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559804</string>
		<key>latitude</key>
		<real>7.4956699999999996</real>
		<key>longitude</key>
		<real>134.63670300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559582</string>
		<key>latitude</key>
		<real>7.5030000000000001</real>
		<key>longitude</key>
		<real>134.621002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7303944</string>
		<key>latitude</key>
		<real>7.5004299999999997</real>
		<key>longitude</key>
		<real>134.62354999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4037930</string>
		<key>latitude</key>
		<real>7.4939999999999998</real>
		<key>longitude</key>
		<real>134.63450599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559864</string>
		<key>latitude</key>
		<real>7.5313400000000001</real>
		<key>longitude</key>
		<real>134.52713</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559820</string>
		<key>latitude</key>
		<real>7.4882600000000004</real>
		<key>longitude</key>
		<real>134.485626</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732276</string>
		<key>latitude</key>
		<real>7.4461300000000001</real>
		<key>longitude</key>
		<real>134.476776</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038353</string>
		<key>latitude</key>
		<real>7.3605099999999997</real>
		<key>longitude</key>
		<real>134.54570000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4037645</string>
		<key>latitude</key>
		<real>7.3669799999999999</real>
		<key>longitude</key>
		<real>134.51866100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7701549</string>
		<key>latitude</key>
		<real>7.3645100000000001</real>
		<key>longitude</key>
		<real>134.514847</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7732415</string>
		<key>latitude</key>
		<real>7.3425700000000003</real>
		<key>longitude</key>
		<real>134.478882</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1559446</string>
		<key>latitude</key>
		<real>7.3397800000000002</real>
		<key>longitude</key>
		<real>134.47326699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7671223</string>
		<key>latitude</key>
		<real>7.0419200000000002</real>
		<key>longitude</key>
		<real>134.25561500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038282</string>
		<key>latitude</key>
		<real>6.9060100000000002</real>
		<key>longitude</key>
		<real>134.129974</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626939</string>
		<key>latitude</key>
		<real>9.766</real>
		<key>longitude</key>
		<real>140.51899700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645769</string>
		<key>latitude</key>
		<real>9.766</real>
		<key>longitude</key>
		<real>140.520004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626953</string>
		<key>latitude</key>
		<real>8.1434999999999995</real>
		<key>longitude</key>
		<real>140.39250200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645768</string>
		<key>latitude</key>
		<real>8.1434999999999995</real>
		<key>longitude</key>
		<real>140.39399700000001</real>
	</dict>
</array>
</plist>
