<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>7626941</string>
		<key>latitude</key>
		<real>8.5879999999999992</real>
		<key>longitude</key>
		<real>144.50649999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645749</string>
		<key>latitude</key>
		<real>8.5879999999999992</real>
		<key>longitude</key>
		<real>144.50799599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626945</string>
		<key>latitude</key>
		<real>7.25</real>
		<key>longitude</key>
		<real>144.442993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645754</string>
		<key>latitude</key>
		<real>7.25</real>
		<key>longitude</key>
		<real>144.44450399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626938</string>
		<key>latitude</key>
		<real>7.5019999999999998</real>
		<key>longitude</key>
		<real>146.162994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645731</string>
		<key>latitude</key>
		<real>7.5019999999999998</real>
		<key>longitude</key>
		<real>146.166</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043399</string>
		<key>latitude</key>
		<real>13.27</real>
		<key>longitude</key>
		<real>144.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7869850</string>
		<key>latitude</key>
		<real>13.27</real>
		<key>longitude</key>
		<real>144.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043499</string>
		<key>latitude</key>
		<real>13.273630000000001</real>
		<key>longitude</key>
		<real>144.74844400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7267962</string>
		<key>latitude</key>
		<real>13.300000000000001</real>
		<key>longitude</key>
		<real>144.66</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7870492</string>
		<key>latitude</key>
		<real>13.29987</real>
		<key>longitude</key>
		<real>144.76206999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626947</string>
		<key>latitude</key>
		<real>7.4909999999999997</real>
		<key>longitude</key>
		<real>146.30299400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645726</string>
		<key>latitude</key>
		<real>7.4909999999999997</real>
		<key>longitude</key>
		<real>146.304993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7869842</string>
		<key>latitude</key>
		<real>13.35</real>
		<key>longitude</key>
		<real>144.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038647</string>
		<key>latitude</key>
		<real>13.355130000000001</real>
		<key>longitude</key>
		<real>144.75834699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038652</string>
		<key>latitude</key>
		<real>13.355219999999999</real>
		<key>longitude</key>
		<real>144.758804</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645769</string>
		<key>latitude</key>
		<real>9.766</real>
		<key>longitude</key>
		<real>140.520004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038813</string>
		<key>latitude</key>
		<real>13.353630000000001</real>
		<key>longitude</key>
		<real>144.76872299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626939</string>
		<key>latitude</key>
		<real>9.766</real>
		<key>longitude</key>
		<real>140.51899700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645763</string>
		<key>latitude</key>
		<real>6.6870000000000003</real>
		<key>longitude</key>
		<real>143.03750600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626937</string>
		<key>latitude</key>
		<real>6.6870000000000003</real>
		<key>longitude</key>
		<real>143.03599500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7870639</string>
		<key>latitude</key>
		<real>13.38801</real>
		<key>longitude</key>
		<real>144.65928600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043804</string>
		<key>latitude</key>
		<real>13.38855</real>
		<key>longitude</key>
		<real>144.658524</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038554</string>
		<key>latitude</key>
		<real>13.390000000000001</real>
		<key>longitude</key>
		<real>144.66999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038809</string>
		<key>latitude</key>
		<real>13.41</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7854557</string>
		<key>latitude</key>
		<real>13.41</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7871084</string>
		<key>latitude</key>
		<real>13.44</real>
		<key>longitude</key>
		<real>144.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038473</string>
		<key>latitude</key>
		<real>13.46256</real>
		<key>longitude</key>
		<real>144.69331399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043615</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>144.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874392</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>144.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4044121</string>
		<key>latitude</key>
		<real>13.44689</real>
		<key>longitude</key>
		<real>144.80143699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038588</string>
		<key>latitude</key>
		<real>13.460000000000001</real>
		<key>longitude</key>
		<real>144.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7267954</string>
		<key>latitude</key>
		<real>13.460000000000001</real>
		<key>longitude</key>
		<real>144.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7873952</string>
		<key>latitude</key>
		<real>13.460000000000001</real>
		<key>longitude</key>
		<real>144.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043416</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>144.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7268049</string>
		<key>latitude</key>
		<real>13.449999999999999</real>
		<key>longitude</key>
		<real>144.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7869852</string>
		<key>latitude</key>
		<real>13.471880000000001</real>
		<key>longitude</key>
		<real>144.716568</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043812</string>
		<key>latitude</key>
		<real>13.472149999999999</real>
		<key>longitude</key>
		<real>144.71653699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043525</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043547</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4044019</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7874008</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7873868</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.75999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7873865</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7873866</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043988</string>
		<key>latitude</key>
		<real>13.481</real>
		<key>longitude</key>
		<real>144.731506</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4044012</string>
		<key>latitude</key>
		<real>13.48</real>
		<key>longitude</key>
		<real>144.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043656</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7871406</string>
		<key>latitude</key>
		<real>13.470000000000001</real>
		<key>longitude</key>
		<real>144.80000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038659</string>
		<key>latitude</key>
		<real>13.49</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038661</string>
		<key>latitude</key>
		<real>13.49</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7871474</string>
		<key>latitude</key>
		<real>13.49</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038597</string>
		<key>latitude</key>
		<real>13.49</real>
		<key>longitude</key>
		<real>144.78999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041694</string>
		<key>latitude</key>
		<real>13.5</real>
		<key>longitude</key>
		<real>144.78</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7840191</string>
		<key>latitude</key>
		<real>13.517440000000001</real>
		<key>longitude</key>
		<real>144.83912699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043877</string>
		<key>latitude</key>
		<real>13.517760000000001</real>
		<key>longitude</key>
		<real>144.83897400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4043909</string>
		<key>latitude</key>
		<real>13.517770000000001</real>
		<key>longitude</key>
		<real>144.83909600000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038794</string>
		<key>latitude</key>
		<real>13.536049999999999</real>
		<key>longitude</key>
		<real>144.88855000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4038796</string>
		<key>latitude</key>
		<real>13.53603</real>
		<key>longitude</key>
		<real>144.88912999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7871342</string>
		<key>latitude</key>
		<real>13.53565</real>
		<key>longitude</key>
		<real>144.89309700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7267913</string>
		<key>latitude</key>
		<real>13.55691</real>
		<key>longitude</key>
		<real>144.92231799999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626952</string>
		<key>latitude</key>
		<real>7.3819999999999997</real>
		<key>longitude</key>
		<real>147.03179900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645723</string>
		<key>latitude</key>
		<real>7.3819999999999997</real>
		<key>longitude</key>
		<real>147.032196</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7645768</string>
		<key>latitude</key>
		<real>8.1434999999999995</real>
		<key>longitude</key>
		<real>140.39399700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626953</string>
		<key>latitude</key>
		<real>8.1434999999999995</real>
		<key>longitude</key>
		<real>140.39250200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041530</string>
		<key>latitude</key>
		<real>14.154</real>
		<key>longitude</key>
		<real>145.20100400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041576</string>
		<key>latitude</key>
		<real>14.166079999999999</real>
		<key>longitude</key>
		<real>145.23170500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041558</string>
		<key>latitude</key>
		<real>14.96874</real>
		<key>longitude</key>
		<real>145.62437399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7798576</string>
		<key>latitude</key>
		<real>14.97974</real>
		<key>longitude</key>
		<real>145.63687100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041650</string>
		<key>latitude</key>
		<real>15.029</real>
		<key>longitude</key>
		<real>145.61599699999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041552</string>
		<key>latitude</key>
		<real>15.1355</real>
		<key>longitude</key>
		<real>145.70100400000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7838875</string>
		<key>latitude</key>
		<real>15.129630000000001</real>
		<key>longitude</key>
		<real>145.72377</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7838880</string>
		<key>latitude</key>
		<real>15.173579999999999</real>
		<key>longitude</key>
		<real>145.74702500000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7828739</string>
		<key>latitude</key>
		<real>15.20833</real>
		<key>longitude</key>
		<real>145.716644</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041171</string>
		<key>latitude</key>
		<real>15.21217</real>
		<key>longitude</key>
		<real>145.75372300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7828758</string>
		<key>latitude</key>
		<real>15.21233</real>
		<key>longitude</key>
		<real>145.754501</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>4041468</string>
		<key>latitude</key>
		<real>15.214</real>
		<key>longitude</key>
		<real>145.75599700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626980</string>
		<key>latitude</key>
		<real>7.3550000000000004</real>
		<key>longitude</key>
		<real>149.182007</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628103</string>
		<key>latitude</key>
		<real>7.3566099999999999</real>
		<key>longitude</key>
		<real>149.19908100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626975</string>
		<key>latitude</key>
		<real>8.5749999999999993</real>
		<key>longitude</key>
		<real>149.68550099999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628259</string>
		<key>latitude</key>
		<real>8.5749999999999993</real>
		<key>longitude</key>
		<real>149.68699599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626979</string>
		<key>latitude</key>
		<real>7.63971</real>
		<key>longitude</key>
		<real>149.430115</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628250</string>
		<key>latitude</key>
		<real>7.6365999999999996</real>
		<key>longitude</key>
		<real>149.428787</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626985</string>
		<key>latitude</key>
		<real>7.5389799999999996</real>
		<key>longitude</key>
		<real>149.411743</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7628253</string>
		<key>latitude</key>
		<real>7.5386800000000003</real>
		<key>longitude</key>
		<real>149.414276</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7627628</string>
		<key>latitude</key>
		<real>6.6894</real>
		<key>longitude</key>
		<real>149.29908800000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626963</string>
		<key>latitude</key>
		<real>6.6829999999999998</real>
		<key>longitude</key>
		<real>149.300003</real>
	</dict>
</array>
</plist>
