<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>8012397</string>
		<key>latitude</key>
		<real>39.359999999999999</real>
		<key>longitude</key>
		<real>-9.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2264923</string>
		<key>latitude</key>
		<real>39.359999999999999</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010554</string>
		<key>latitude</key>
		<real>39.359999999999999</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2271354</string>
		<key>latitude</key>
		<real>39.340000000000003</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012526</string>
		<key>latitude</key>
		<real>39.240000000000002</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2262944</string>
		<key>latitude</key>
		<real>39.109999999999999</real>
		<key>longitude</key>
		<real>-9.3599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014200</string>
		<key>latitude</key>
		<real>39.079999999999998</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263245</string>
		<key>latitude</key>
		<real>39.07</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2269910</string>
		<key>latitude</key>
		<real>39.07</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012530</string>
		<key>latitude</key>
		<real>39.039999999999999</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2271825</string>
		<key>latitude</key>
		<real>39.030000000000001</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2268563</string>
		<key>latitude</key>
		<real>38.960000000000001</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012528</string>
		<key>latitude</key>
		<real>38.939999999999998</real>
		<key>longitude</key>
		<real>-9.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2271051</string>
		<key>latitude</key>
		<real>38.93</real>
		<key>longitude</key>
		<real>-9.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2265803</string>
		<key>latitude</key>
		<real>38.939999999999998</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263791</string>
		<key>latitude</key>
		<real>38.979999999999997</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012499</string>
		<key>latitude</key>
		<real>38.880000000000003</real>
		<key>longitude</key>
		<real>-9.4100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012534</string>
		<key>latitude</key>
		<real>38.960000000000001</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263327</string>
		<key>latitude</key>
		<real>38.869999999999997</real>
		<key>longitude</key>
		<real>-9.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012548</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>-9.4600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263668</string>
		<key>latitude</key>
		<real>38.859999999999999</real>
		<key>longitude</key>
		<real>-9.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2266865</string>
		<key>latitude</key>
		<real>38.939999999999998</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2269142</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>-9.4499999999999993</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2261587</string>
		<key>latitude</key>
		<real>38.93</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012455</string>
		<key>latitude</key>
		<real>38.75</real>
		<key>longitude</key>
		<real>-9.4800000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012551</string>
		<key>latitude</key>
		<real>38.810000000000002</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012457</string>
		<key>latitude</key>
		<real>38.729999999999997</real>
		<key>longitude</key>
		<real>-9.4700000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010561</string>
		<key>latitude</key>
		<real>38.740000000000002</real>
		<key>longitude</key>
		<real>-9.4600000000000009</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2264535</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>-9.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8010565</string>
		<key>latitude</key>
		<real>38.810000000000002</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2265900</string>
		<key>latitude</key>
		<real>38.859999999999999</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2262912</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2265829</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>-9.3800000000000008</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014628</string>
		<key>latitude</key>
		<real>38.810000000000002</real>
		<key>longitude</key>
		<real>-9.3699999999999992</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2272388</string>
		<key>latitude</key>
		<real>38.850000000000001</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014777</string>
		<key>latitude</key>
		<real>38.770000000000003</real>
		<key>longitude</key>
		<real>-9.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2270519</string>
		<key>latitude</key>
		<real>38.729999999999997</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2271677</string>
		<key>latitude</key>
		<real>38.719999999999999</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2272215</string>
		<key>latitude</key>
		<real>38.729999999999997</real>
		<key>longitude</key>
		<real>-9.4100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2266464</string>
		<key>latitude</key>
		<real>38.780000000000001</real>
		<key>longitude</key>
		<real>-9.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2265927</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2269594</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2572270</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-9.4199999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012546</string>
		<key>latitude</key>
		<real>38.799999999999997</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2268436</string>
		<key>latitude</key>
		<real>38.710000000000001</real>
		<key>longitude</key>
		<real>-9.4000000000000004</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263033</string>
		<key>latitude</key>
		<real>38.770000000000003</real>
		<key>longitude</key>
		<real>-9.3399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012458</string>
		<key>latitude</key>
		<real>38.710000000000001</real>
		<key>longitude</key>
		<real>-9.3900000000000006</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8014405</string>
		<key>latitude</key>
		<real>38.770000000000003</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263827</string>
		<key>latitude</key>
		<real>38.770000000000003</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012459</string>
		<key>latitude</key>
		<real>38.689999999999998</real>
		<key>longitude</key>
		<real>-9.3599999999999994</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2265169</string>
		<key>latitude</key>
		<real>38.689999999999998</real>
		<key>longitude</key>
		<real>-9.3499999999999996</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263352</string>
		<key>latitude</key>
		<real>38.700000000000003</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8012456</string>
		<key>latitude</key>
		<real>38.689999999999998</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>2263310</string>
		<key>latitude</key>
		<real>38.68</real>
		<key>longitude</key>
		<real>-9.3300000000000001</real>
	</dict>
</array>
</plist>
