<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>6453313</string>
		<key>latitude</key>
		<real>70.370000000000005</real>
		<key>longitude</key>
		<real>31.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777019</string>
		<key>latitude</key>
		<real>70.370000000000005</real>
		<key>longitude</key>
		<real>31.109999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780686</string>
		<key>latitude</key>
		<real>70.859999999999999</real>
		<key>longitude</key>
		<real>29.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780687</string>
		<key>latitude</key>
		<real>70.859999999999999</real>
		<key>longitude</key>
		<real>29.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777221</string>
		<key>latitude</key>
		<real>70.349999999999994</real>
		<key>longitude</key>
		<real>31.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780714</string>
		<key>latitude</key>
		<real>70.640000000000001</real>
		<key>longitude</key>
		<real>29.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>780717</string>
		<key>latitude</key>
		<real>70.629999999999995</real>
		<key>longitude</key>
		<real>29.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777347</string>
		<key>latitude</key>
		<real>70.620000000000005</real>
		<key>longitude</key>
		<real>29.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>778707</string>
		<key>latitude</key>
		<real>71.040000000000006</real>
		<key>longitude</key>
		<real>27.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779933</string>
		<key>latitude</key>
		<real>71.040000000000006</real>
		<key>longitude</key>
		<real>27.850000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779261</string>
		<key>latitude</key>
		<real>70.950000000000003</real>
		<key>longitude</key>
		<real>27.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779317</string>
		<key>latitude</key>
		<real>70.049999999999997</real>
		<key>longitude</key>
		<real>29.870000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6453315</string>
		<key>latitude</key>
		<real>70.069999999999993</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777073</string>
		<key>latitude</key>
		<real>70.069999999999993</real>
		<key>longitude</key>
		<real>29.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>824563</string>
		<key>latitude</key>
		<real>71.010000000000005</real>
		<key>longitude</key>
		<real>25.98</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>778459</string>
		<key>latitude</key>
		<real>70.980000000000004</real>
		<key>longitude</key>
		<real>25.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>779554</string>
		<key>latitude</key>
		<real>70.980000000000004</real>
		<key>longitude</key>
		<real>25.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>777032</string>
		<key>latitude</key>
		<real>70.170000000000002</real>
		<key>longitude</key>
		<real>28.559999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7626407</string>
		<key>latitude</key>
		<real>70.200000000000003</real>
		<key>longitude</key>
		<real>28.190000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>633268</string>
		<key>latitude</key>
		<real>69.909999999999997</real>
		<key>longitude</key>
		<real>27.030000000000001</real>
	</dict>
</array>
</plist>
