<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>1855342</string>
		<key>latitude</key>
		<real>26.184170000000002</real>
		<key>longitude</key>
		<real>127.75582900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1848281</string>
		<key>latitude</key>
		<real>26.201388999999999</real>
		<key>longitude</key>
		<real>127.753891</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1894628</string>
		<key>latitude</key>
		<real>26.18</real>
		<key>longitude</key>
		<real>127.72</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1861280</string>
		<key>latitude</key>
		<real>26.12472</real>
		<key>longitude</key>
		<real>127.66944100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1863627</string>
		<key>latitude</key>
		<real>26.260000000000002</real>
		<key>longitude</key>
		<real>127.76000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1863683</string>
		<key>latitude</key>
		<real>26.260000000000002</real>
		<key>longitude</key>
		<real>127.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1850108</string>
		<key>latitude</key>
		<real>26.184999000000001</real>
		<key>longitude</key>
		<real>127.675003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1863426</string>
		<key>latitude</key>
		<real>26.336940999999999</real>
		<key>longitude</key>
		<real>127.87194100000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1856035</string>
		<key>latitude</key>
		<real>26.212499999999999</real>
		<key>longitude</key>
		<real>127.681107</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1894619</string>
		<key>latitude</key>
		<real>26.254439999999999</real>
		<key>longitude</key>
		<real>127.70639</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1864652</string>
		<key>latitude</key>
		<real>26.309999999999999</real>
		<key>longitude</key>
		<real>127.77</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860847</string>
		<key>latitude</key>
		<real>26.200001</real>
		<key>longitude</key>
		<real>127.650002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1863495</string>
		<key>latitude</key>
		<real>26.354441000000001</real>
		<key>longitude</key>
		<real>127.868607</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1894616</string>
		<key>latitude</key>
		<real>26.34</real>
		<key>longitude</key>
		<real>127.8</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1854964</string>
		<key>latitude</key>
		<real>26.350000000000001</real>
		<key>longitude</key>
		<real>127.76667</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1863837</string>
		<key>latitude</key>
		<real>26.368589</real>
		<key>longitude</key>
		<real>127.75110599999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1861393</string>
		<key>latitude</key>
		<real>26.42333</real>
		<key>longitude</key>
		<real>127.821388</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1859462</string>
		<key>latitude</key>
		<real>26.452221000000002</real>
		<key>longitude</key>
		<real>127.917778</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1863625</string>
		<key>latitude</key>
		<real>26.476109999999998</real>
		<key>longitude</key>
		<real>127.973061</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1854037</string>
		<key>latitude</key>
		<real>26.492781000000001</real>
		<key>longitude</key>
		<real>127.85083</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1856068</string>
		<key>latitude</key>
		<real>26.588059999999999</real>
		<key>longitude</key>
		<real>127.976112</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1850213</string>
		<key>latitude</key>
		<real>26.192499000000002</real>
		<key>longitude</key>
		<real>127.35861199999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1894388</string>
		<key>latitude</key>
		<real>26.652781000000001</real>
		<key>longitude</key>
		<real>127.890282</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1848002</string>
		<key>latitude</key>
		<real>26.224170999999998</real>
		<key>longitude</key>
		<real>127.301109</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1855713</string>
		<key>latitude</key>
		<real>26.675830999999999</real>
		<key>longitude</key>
		<real>127.971672</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1855357</string>
		<key>latitude</key>
		<real>26.58333</real>
		<key>longitude</key>
		<real>127.23333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1862855</string>
		<key>latitude</key>
		<real>26.576388999999999</real>
		<key>longitude</key>
		<real>127.22139</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1861124</string>
		<key>latitude</key>
		<real>26.916269</real>
		<key>longitude</key>
		<real>127.93356300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1864655</string>
		<key>latitude</key>
		<real>27.049999</real>
		<key>longitude</key>
		<real>128.41667200000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1854345</string>
		<key>latitude</key>
		<real>25.772248999999999</real>
		<key>longitude</key>
		<real>126.66870900000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1848988</string>
		<key>latitude</key>
		<real>27.383329</real>
		<key>longitude</key>
		<real>128.64999399999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1858373</string>
		<key>latitude</key>
		<real>27.41667</real>
		<key>longitude</key>
		<real>128.683334</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1849347</string>
		<key>latitude</key>
		<real>28.299999</real>
		<key>longitude</key>
		<real>129.23333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1855540</string>
		<key>latitude</key>
		<real>28.366671</real>
		<key>longitude</key>
		<real>129.48333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1852579</string>
		<key>latitude</key>
		<real>24.783460999999999</real>
		<key>longitude</key>
		<real>125.30869300000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1862505</string>
		<key>latitude</key>
		<real>24.799999</real>
		<key>longitude</key>
		<real>125.283333</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7533595</string>
		<key>latitude</key>
		<real>24.827169000000001</real>
		<key>longitude</key>
		<real>125.149467</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1848906</string>
		<key>latitude</key>
		<real>28.41667</real>
		<key>longitude</key>
		<real>129.699997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1852038</string>
		<key>latitude</key>
		<real>25.851949999999999</real>
		<key>longitude</key>
		<real>131.259277</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1855847</string>
		<key>latitude</key>
		<real>25.945620000000002</real>
		<key>longitude</key>
		<real>131.31088299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1854588</string>
		<key>latitude</key>
		<real>24.344480999999998</real>
		<key>longitude</key>
		<real>124.19705999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1861416</string>
		<key>latitude</key>
		<real>24.34478</real>
		<key>longitude</key>
		<real>124.157173</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1850822</string>
		<key>latitude</key>
		<real>24.330669</real>
		<key>longitude</key>
		<real>124.08506</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1848266</string>
		<key>latitude</key>
		<real>24.466669</real>
		<key>longitude</key>
		<real>123</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860941</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>130.98333700000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1855203</string>
		<key>latitude</key>
		<real>30.733329999999999</real>
		<key>longitude</key>
		<real>131</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860825</string>
		<key>latitude</key>
		<real>31.030000000000001</real>
		<key>longitude</key>
		<real>130.43000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1857712</string>
		<key>latitude</key>
		<real>31.27</real>
		<key>longitude</key>
		<real>130.31999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1862010</string>
		<key>latitude</key>
		<real>31.23</real>
		<key>longitude</key>
		<real>130.65000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1860112</string>
		<key>latitude</key>
		<real>31.379999999999999</real>
		<key>longitude</key>
		<real>130.84999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8226430</string>
		<key>latitude</key>
		<real>30.195900000000002</real>
		<key>longitude</key>
		<real>122.680702</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1894758</string>
		<key>latitude</key>
		<real>29.922279</real>
		<key>longitude</key>
		<real>122.38880899999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1814635</string>
		<key>latitude</key>
		<real>29.760000000000002</real>
		<key>longitude</key>
		<real>122.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1892727</string>
		<key>latitude</key>
		<real>29.829999999999998</real>
		<key>longitude</key>
		<real>122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1892721</string>
		<key>latitude</key>
		<real>29.879801</real>
		<key>longitude</key>
		<real>122.29630299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1894694</string>
		<key>latitude</key>
		<real>29.98657</real>
		<key>longitude</key>
		<real>122.38047</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1795632</string>
		<key>latitude</key>
		<real>29.957621</real>
		<key>longitude</key>
		<real>122.298019</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1806014</string>
		<key>latitude</key>
		<real>29.739999999999998</real>
		<key>longitude</key>
		<real>122.11</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1886840</string>
		<key>latitude</key>
		<real>29.98</real>
		<key>longitude</key>
		<real>122.23999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898799</string>
		<key>latitude</key>
		<real>30.030000000000001</real>
		<key>longitude</key>
		<real>122.28</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1892640</string>
		<key>latitude</key>
		<real>30</real>
		<key>longitude</key>
		<real>122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1886762</string>
		<key>latitude</key>
		<real>30.010000000000002</real>
		<key>longitude</key>
		<real>122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898597</string>
		<key>latitude</key>
		<real>30.07</real>
		<key>longitude</key>
		<real>122.22</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1795659</string>
		<key>latitude</key>
		<real>30.716669</real>
		<key>longitude</key>
		<real>122.81667299999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1817468</string>
		<key>latitude</key>
		<real>30.07</real>
		<key>longitude</key>
		<real>122.15000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1815512</string>
		<key>latitude</key>
		<real>30.254048999999998</real>
		<key>longitude</key>
		<real>122.303337</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1810694</string>
		<key>latitude</key>
		<real>30.100000000000001</real>
		<key>longitude</key>
		<real>122.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898634</string>
		<key>latitude</key>
		<real>30.030000000000001</real>
		<key>longitude</key>
		<real>122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898581</string>
		<key>latitude</key>
		<real>30.190000000000001</real>
		<key>longitude</key>
		<real>122.17</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1881544</string>
		<key>latitude</key>
		<real>30.109999999999999</real>
		<key>longitude</key>
		<real>122.09</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1814232</string>
		<key>latitude</key>
		<real>30.25</real>
		<key>longitude</key>
		<real>122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1881568</string>
		<key>latitude</key>
		<real>30.109999999999999</real>
		<key>longitude</key>
		<real>122.06</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898693</string>
		<key>latitude</key>
		<real>30.300000000000001</real>
		<key>longitude</key>
		<real>122.2</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898681</string>
		<key>latitude</key>
		<real>30.300000000000001</real>
		<key>longitude</key>
		<real>122.18000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898565</string>
		<key>latitude</key>
		<real>30.18</real>
		<key>longitude</key>
		<real>122.04000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1813783</string>
		<key>latitude</key>
		<real>30.450050000000001</real>
		<key>longitude</key>
		<real>122.284271</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1812288</string>
		<key>latitude</key>
		<real>30.309999999999999</real>
		<key>longitude</key>
		<real>122.14</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898675</string>
		<key>latitude</key>
		<real>30.289999999999999</real>
		<key>longitude</key>
		<real>122.12</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898819</string>
		<key>latitude</key>
		<real>30.850280999999999</real>
		<key>longitude</key>
		<real>122.691391</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1898842</string>
		<key>latitude</key>
		<real>30.70722</real>
		<key>longitude</key>
		<real>122.517776</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1816119</string>
		<key>latitude</key>
		<real>30.723610000000001</real>
		<key>longitude</key>
		<real>122.451393</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8246755</string>
		<key>latitude</key>
		<real>30.59</real>
		<key>longitude</key>
		<real>122.08</real>
	</dict>
</array>
</plist>
