<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>935215</string>
		<key>latitude</key>
		<real>-21.358521</real>
		<key>longitude</key>
		<real>55.767947999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690301</string>
		<key>latitude</key>
		<real>-21.350000000000001</real>
		<key>longitude</key>
		<real>55.766669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935227</string>
		<key>latitude</key>
		<real>-21.37838</real>
		<key>longitude</key>
		<real>55.619179000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690296</string>
		<key>latitude</key>
		<real>-21.366671</real>
		<key>longitude</key>
		<real>55.616669000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935416</string>
		<key>latitude</key>
		<real>-21.350000000000001</real>
		<key>longitude</key>
		<real>55.566668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935335</string>
		<key>latitude</key>
		<real>-21.350000000000001</real>
		<key>longitude</key>
		<real>55.566668999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935806</string>
		<key>latitude</key>
		<real>-21.359279999999998</real>
		<key>longitude</key>
		<real>55.525570000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935214</string>
		<key>latitude</key>
		<real>-21.339300000000001</real>
		<key>longitude</key>
		<real>55.478110999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690300</string>
		<key>latitude</key>
		<real>-21.316669000000001</real>
		<key>longitude</key>
		<real>55.483330000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935213</string>
		<key>latitude</key>
		<real>-21.25</real>
		<key>longitude</key>
		<real>55.583328000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935582</string>
		<key>latitude</key>
		<real>-21.283090999999999</real>
		<key>longitude</key>
		<real>55.518020999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690306</string>
		<key>latitude</key>
		<real>-21.27</real>
		<key>longitude</key>
		<real>55.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935613</string>
		<key>latitude</key>
		<real>-21.25</real>
		<key>longitude</key>
		<real>55.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935695</string>
		<key>latitude</key>
		<real>-21.219999999999999</real>
		<key>longitude</key>
		<real>55.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935251</string>
		<key>latitude</key>
		<real>-21.129999999999999</real>
		<key>longitude</key>
		<real>55.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935223</string>
		<key>latitude</key>
		<real>-21.289999999999999</real>
		<key>longitude</key>
		<real>55.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690298</string>
		<key>latitude</key>
		<real>-21.27</real>
		<key>longitude</key>
		<real>55.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690287</string>
		<key>latitude</key>
		<real>-21.23</real>
		<key>longitude</key>
		<real>55.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935915</string>
		<key>latitude</key>
		<real>-21.23</real>
		<key>longitude</key>
		<real>55.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690290</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>55.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935694</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>55.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690288</string>
		<key>latitude</key>
		<real>-21.25</real>
		<key>longitude</key>
		<real>55.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935902</string>
		<key>latitude</key>
		<real>-21.25</real>
		<key>longitude</key>
		<real>55.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935542</string>
		<key>latitude</key>
		<real>-21.199999999999999</real>
		<key>longitude</key>
		<real>55.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935239</string>
		<key>latitude</key>
		<real>-21.07</real>
		<key>longitude</key>
		<real>55.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935266</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>55.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690283</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>55.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935317</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>55.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690284</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>55.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935608</string>
		<key>latitude</key>
		<real>-21.239999999999998</real>
		<key>longitude</key>
		<real>55.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935643</string>
		<key>latitude</key>
		<real>-21.23</real>
		<key>longitude</key>
		<real>55.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935267</string>
		<key>latitude</key>
		<real>-21.039999999999999</real>
		<key>longitude</key>
		<real>55.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935661</string>
		<key>latitude</key>
		<real>-21.039999999999999</real>
		<key>longitude</key>
		<real>55.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935975</string>
		<key>latitude</key>
		<real>-21.129999999999999</real>
		<key>longitude</key>
		<real>55.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7932385</string>
		<key>latitude</key>
		<real>-21.219999999999999</real>
		<key>longitude</key>
		<real>55.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690294</string>
		<key>latitude</key>
		<real>-21.030000000000001</real>
		<key>longitude</key>
		<real>55.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690308</string>
		<key>latitude</key>
		<real>-21.120000000000001</real>
		<key>longitude</key>
		<real>55.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>936048</string>
		<key>latitude</key>
		<real>-21</real>
		<key>longitude</key>
		<real>55.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935210</string>
		<key>latitude</key>
		<real>-21.030000000000001</real>
		<key>longitude</key>
		<real>55.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935225</string>
		<key>latitude</key>
		<real>-21.170000000000002</real>
		<key>longitude</key>
		<real>55.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935612</string>
		<key>latitude</key>
		<real>-21.02</real>
		<key>longitude</key>
		<real>55.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935300</string>
		<key>latitude</key>
		<real>-20.969999999999999</real>
		<key>longitude</key>
		<real>55.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935520</string>
		<key>latitude</key>
		<real>-21.030000000000001</real>
		<key>longitude</key>
		<real>55.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690297</string>
		<key>latitude</key>
		<real>-21.149999999999999</real>
		<key>longitude</key>
		<real>55.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935268</string>
		<key>latitude</key>
		<real>-20.960000000000001</real>
		<key>longitude</key>
		<real>55.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690293</string>
		<key>latitude</key>
		<real>-20.949999999999999</real>
		<key>longitude</key>
		<real>55.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935419</string>
		<key>latitude</key>
		<real>-20.940000000000001</real>
		<key>longitude</key>
		<real>55.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690307</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>55.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935146</string>
		<key>latitude</key>
		<real>-21.100000000000001</real>
		<key>longitude</key>
		<real>55.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935220</string>
		<key>latitude</key>
		<real>-21.079999999999998</real>
		<key>longitude</key>
		<real>55.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935248</string>
		<key>latitude</key>
		<real>-20.91</real>
		<key>longitude</key>
		<real>55.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690304</string>
		<key>latitude</key>
		<real>-20.899999999999999</real>
		<key>longitude</key>
		<real>55.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935927</string>
		<key>latitude</key>
		<real>-20.98</real>
		<key>longitude</key>
		<real>55.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935263</string>
		<key>latitude</key>
		<real>-20.920000000000002</real>
		<key>longitude</key>
		<real>55.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935255</string>
		<key>latitude</key>
		<real>-20.899999999999999</real>
		<key>longitude</key>
		<real>55.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690302</string>
		<key>latitude</key>
		<real>-20.879999999999999</real>
		<key>longitude</key>
		<real>55.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935511</string>
		<key>latitude</key>
		<real>-20.890000000000001</real>
		<key>longitude</key>
		<real>55.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935221</string>
		<key>latitude</key>
		<real>-21.010000000000002</real>
		<key>longitude</key>
		<real>55.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690299</string>
		<key>latitude</key>
		<real>-21</real>
		<key>longitude</key>
		<real>55.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935257</string>
		<key>latitude</key>
		<real>-20.890000000000001</real>
		<key>longitude</key>
		<real>55.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935355</string>
		<key>latitude</key>
		<real>-20.949999999999999</real>
		<key>longitude</key>
		<real>55.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935264</string>
		<key>latitude</key>
		<real>-20.879999999999999</real>
		<key>longitude</key>
		<real>55.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690295</string>
		<key>latitude</key>
		<real>-20.870000000000001</real>
		<key>longitude</key>
		<real>55.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935605</string>
		<key>latitude</key>
		<real>-20.870000000000001</real>
		<key>longitude</key>
		<real>55.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935691</string>
		<key>latitude</key>
		<real>-20.93</real>
		<key>longitude</key>
		<real>55.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935697</string>
		<key>latitude</key>
		<real>-20.879999999999999</real>
		<key>longitude</key>
		<real>55.439999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6690292</string>
		<key>latitude</key>
		<real>-20.920000000000002</real>
		<key>longitude</key>
		<real>55.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935616</string>
		<key>latitude</key>
		<real>-20.940000000000001</real>
		<key>longitude</key>
		<real>55.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>935737</string>
		<key>latitude</key>
		<real>-20.93</real>
		<key>longitude</key>
		<real>55.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106585</string>
		<key>latitude</key>
		<real>-20.489999999999998</real>
		<key>longitude</key>
		<real>57.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934614</string>
		<key>latitude</key>
		<real>-20.487221000000002</real>
		<key>longitude</key>
		<real>57.465561000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934624</string>
		<key>latitude</key>
		<real>-20.48</real>
		<key>longitude</key>
		<real>57.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933988</string>
		<key>latitude</key>
		<real>-20.509720000000002</real>
		<key>longitude</key>
		<real>57.505279999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933995</string>
		<key>latitude</key>
		<real>-20.516670000000001</real>
		<key>longitude</key>
		<real>57.516669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934198</string>
		<key>latitude</key>
		<real>-20.390000000000001</real>
		<key>longitude</key>
		<real>57.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934017</string>
		<key>latitude</key>
		<real>-20.469999999999999</real>
		<key>longitude</key>
		<real>57.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934089</string>
		<key>latitude</key>
		<real>-20.359999999999999</real>
		<key>longitude</key>
		<real>57.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934056</string>
		<key>latitude</key>
		<real>-20.491671</real>
		<key>longitude</key>
		<real>57.541389000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934095</string>
		<key>latitude</key>
		<real>-20.485278999999998</real>
		<key>longitude</key>
		<real>57.550831000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933982</string>
		<key>latitude</key>
		<real>-20.329999999999998</real>
		<key>longitude</key>
		<real>57.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934660</string>
		<key>latitude</key>
		<real>-20.462779999999999</real>
		<key>longitude</key>
		<real>57.578892000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934718</string>
		<key>latitude</key>
		<real>-20.329999999999998</real>
		<key>longitude</key>
		<real>57.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934485</string>
		<key>latitude</key>
		<real>-20.420000000000002</real>
		<key>longitude</key>
		<real>57.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934343</string>
		<key>latitude</key>
		<real>-20.469999000000001</real>
		<key>longitude</key>
		<real>57.612220999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934517</string>
		<key>latitude</key>
		<real>-20.27</real>
		<key>longitude</key>
		<real>57.359999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106721</string>
		<key>latitude</key>
		<real>-20.41</real>
		<key>longitude</key>
		<real>57.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934303</string>
		<key>latitude</key>
		<real>-20.440000000000001</real>
		<key>longitude</key>
		<real>57.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934442</string>
		<key>latitude</key>
		<real>-20.34</real>
		<key>longitude</key>
		<real>57.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934092</string>
		<key>latitude</key>
		<real>-20.420000000000002</real>
		<key>longitude</key>
		<real>57.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934644</string>
		<key>latitude</key>
		<real>-20.289999999999999</real>
		<key>longitude</key>
		<real>57.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106693</string>
		<key>latitude</key>
		<real>-20.390000000000001</real>
		<key>longitude</key>
		<real>57.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934778</string>
		<key>latitude</key>
		<real>-20.260000000000002</real>
		<key>longitude</key>
		<real>57.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934229</string>
		<key>latitude</key>
		<real>-20.370000000000001</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934309</string>
		<key>latitude</key>
		<real>-20.420000000000002</real>
		<key>longitude</key>
		<real>57.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934240</string>
		<key>latitude</key>
		<real>-20.41</real>
		<key>longitude</key>
		<real>57.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934072</string>
		<key>latitude</key>
		<real>-20.399999999999999</real>
		<key>longitude</key>
		<real>57.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933945</string>
		<key>latitude</key>
		<real>-20.300000000000001</real>
		<key>longitude</key>
		<real>57.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934166</string>
		<key>latitude</key>
		<real>-20.300000000000001</real>
		<key>longitude</key>
		<real>57.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934466</string>
		<key>latitude</key>
		<real>-20.41667</real>
		<key>longitude</key>
		<real>57.633330999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934169</string>
		<key>latitude</key>
		<real>-20.428609999999999</real>
		<key>longitude</key>
		<real>57.653061000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934570</string>
		<key>latitude</key>
		<real>-20.309999999999999</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106589</string>
		<key>latitude</key>
		<real>-20.370000000000001</real>
		<key>longitude</key>
		<real>57.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934282</string>
		<key>latitude</key>
		<real>-20.329999999999998</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934131</string>
		<key>latitude</key>
		<real>-20.260000000000002</real>
		<key>longitude</key>
		<real>57.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934812</string>
		<key>latitude</key>
		<real>-20.210000000000001</real>
		<key>longitude</key>
		<real>57.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934749</string>
		<key>latitude</key>
		<real>-20.406389000000001</real>
		<key>longitude</key>
		<real>57.673611000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106763</string>
		<key>latitude</key>
		<real>-20.210000000000001</real>
		<key>longitude</key>
		<real>57.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934753</string>
		<key>latitude</key>
		<real>-20.418890000000001</real>
		<key>longitude</key>
		<real>57.695278000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934765</string>
		<key>latitude</key>
		<real>-20.219999999999999</real>
		<key>longitude</key>
		<real>57.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934047</string>
		<key>latitude</key>
		<real>-20.359999999999999</real>
		<key>longitude</key>
		<real>57.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106748</string>
		<key>latitude</key>
		<real>-20.239999999999998</real>
		<key>longitude</key>
		<real>57.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934322</string>
		<key>latitude</key>
		<real>-20.408059999999999</real>
		<key>longitude</key>
		<real>57.700001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934292</string>
		<key>latitude</key>
		<real>-20.300000000000001</real>
		<key>longitude</key>
		<real>57.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934195</string>
		<key>latitude</key>
		<real>-20.190000000000001</real>
		<key>longitude</key>
		<real>57.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106788</string>
		<key>latitude</key>
		<real>-20.300000000000001</real>
		<key>longitude</key>
		<real>57.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934277</string>
		<key>latitude</key>
		<real>-20.219999999999999</real>
		<key>longitude</key>
		<real>57.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934032</string>
		<key>latitude</key>
		<real>-20.219999999999999</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934400</string>
		<key>latitude</key>
		<real>-20.239999999999998</real>
		<key>longitude</key>
		<real>57.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933933</string>
		<key>latitude</key>
		<real>-20.23</real>
		<key>longitude</key>
		<real>57.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934275</string>
		<key>latitude</key>
		<real>-20.25</real>
		<key>longitude</key>
		<real>57.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934219</string>
		<key>latitude</key>
		<real>-20.190000000000001</real>
		<key>longitude</key>
		<real>57.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934734</string>
		<key>latitude</key>
		<real>-20.170000000000002</real>
		<key>longitude</key>
		<real>57.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934705</string>
		<key>latitude</key>
		<real>-20.363060000000001</real>
		<key>longitude</key>
		<real>57.731110000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106803</string>
		<key>latitude</key>
		<real>-20.16</real>
		<key>longitude</key>
		<real>57.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934133</string>
		<key>latitude</key>
		<real>-20.239999999999998</real>
		<key>longitude</key>
		<real>57.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934288</string>
		<key>latitude</key>
		<real>-20.27</real>
		<key>longitude</key>
		<real>57.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934262</string>
		<key>latitude</key>
		<real>-20.280000000000001</real>
		<key>longitude</key>
		<real>57.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106782</string>
		<key>latitude</key>
		<real>-20.23</real>
		<key>longitude</key>
		<real>57.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934154</string>
		<key>latitude</key>
		<real>-20.16</real>
		<key>longitude</key>
		<real>57.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934138</string>
		<key>latitude</key>
		<real>-20.239999999999998</real>
		<key>longitude</key>
		<real>57.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106806</string>
		<key>latitude</key>
		<real>-20.16</real>
		<key>longitude</key>
		<real>57.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106815</string>
		<key>latitude</key>
		<real>-20.170000000000002</real>
		<key>longitude</key>
		<real>57.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934153</string>
		<key>latitude</key>
		<real>-20.170000000000002</real>
		<key>longitude</key>
		<real>57.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934573</string>
		<key>latitude</key>
		<real>-20.190000000000001</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106807</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>57.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934013</string>
		<key>latitude</key>
		<real>-20.289999999999999</real>
		<key>longitude</key>
		<real>57.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106677</string>
		<key>latitude</key>
		<real>-20.342779</real>
		<key>longitude</key>
		<real>57.7575</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106819</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934052</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934818</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106809</string>
		<key>latitude</key>
		<real>-20.140000000000001</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934043</string>
		<key>latitude</key>
		<real>-20.23</real>
		<key>longitude</key>
		<real>57.640000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934656</string>
		<key>latitude</key>
		<real>-20.210000000000001</real>
		<key>longitude</key>
		<real>57.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934225</string>
		<key>latitude</key>
		<real>-20.297501</real>
		<key>longitude</key>
		<real>57.725558999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934661</string>
		<key>latitude</key>
		<real>-20.239999999999998</real>
		<key>longitude</key>
		<real>57.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933974</string>
		<key>latitude</key>
		<real>-20.129999999999999</real>
		<key>longitude</key>
		<real>57.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934459</string>
		<key>latitude</key>
		<real>-20.314171000000002</real>
		<key>longitude</key>
		<real>57.764439000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934232</string>
		<key>latitude</key>
		<real>-20.140000000000001</real>
		<key>longitude</key>
		<real>57.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934599</string>
		<key>latitude</key>
		<real>-20.260000000000002</real>
		<key>longitude</key>
		<real>57.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934333</string>
		<key>latitude</key>
		<real>-20.140000000000001</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934127</string>
		<key>latitude</key>
		<real>-20.29917</real>
		<key>longitude</key>
		<real>57.770561000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106621</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>57.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934740</string>
		<key>latitude</key>
		<real>-20.260000000000002</real>
		<key>longitude</key>
		<real>57.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106813</string>
		<key>latitude</key>
		<real>-20.109999999999999</real>
		<key>longitude</key>
		<real>57.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106811</string>
		<key>latitude</key>
		<real>-20.109999999999999</real>
		<key>longitude</key>
		<real>57.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934390</string>
		<key>latitude</key>
		<real>-20.190000000000001</real>
		<key>longitude</key>
		<real>57.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934475</string>
		<key>latitude</key>
		<real>-20.286110000000001</real>
		<key>longitude</key>
		<real>57.775829000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934750</string>
		<key>latitude</key>
		<real>-20.254169000000001</real>
		<key>longitude</key>
		<real>57.745280999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106625</string>
		<key>latitude</key>
		<real>-20.129999999999999</real>
		<key>longitude</key>
		<real>57.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934522</string>
		<key>latitude</key>
		<real>-20.23</real>
		<key>longitude</key>
		<real>57.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934126</string>
		<key>latitude</key>
		<real>-20.219999999999999</real>
		<key>longitude</key>
		<real>57.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934212</string>
		<key>latitude</key>
		<real>-20.100000000000001</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934693</string>
		<key>latitude</key>
		<real>-20.170000000000002</real>
		<key>longitude</key>
		<real>57.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106614</string>
		<key>latitude</key>
		<real>-20.059999999999999</real>
		<key>longitude</key>
		<real>57.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934677</string>
		<key>latitude</key>
		<real>-20.16</real>
		<key>longitude</key>
		<real>57.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934213</string>
		<key>latitude</key>
		<real>-20.100000000000001</real>
		<key>longitude</key>
		<real>57.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106660</string>
		<key>latitude</key>
		<real>-20.226109999999998</real>
		<key>longitude</key>
		<real>57.736111000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934631</string>
		<key>latitude</key>
		<real>-20.190000000000001</real>
		<key>longitude</key>
		<real>57.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106645</string>
		<key>latitude</key>
		<real>-20.21583</real>
		<key>longitude</key>
		<real>57.745559999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934058</string>
		<key>latitude</key>
		<real>-20.07</real>
		<key>longitude</key>
		<real>57.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933951</string>
		<key>latitude</key>
		<real>-20.237221000000002</real>
		<key>longitude</key>
		<real>57.777500000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934159</string>
		<key>latitude</key>
		<real>-20.170000000000002</real>
		<key>longitude</key>
		<real>57.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934170</string>
		<key>latitude</key>
		<real>-20.07</real>
		<key>longitude</key>
		<real>57.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106584</string>
		<key>latitude</key>
		<real>-20.149999999999999</real>
		<key>longitude</key>
		<real>57.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933953</string>
		<key>latitude</key>
		<real>-20.050000000000001</real>
		<key>longitude</key>
		<real>57.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933959</string>
		<key>latitude</key>
		<real>-20.050000000000001</real>
		<key>longitude</key>
		<real>57.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106630</string>
		<key>latitude</key>
		<real>-20.129999999999999</real>
		<key>longitude</key>
		<real>57.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106638</string>
		<key>latitude</key>
		<real>-20.198059000000001</real>
		<key>longitude</key>
		<real>57.749439000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106643</string>
		<key>latitude</key>
		<real>-20.207781000000001</real>
		<key>longitude</key>
		<real>57.762501</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106771</string>
		<key>latitude</key>
		<real>-20.079999999999998</real>
		<key>longitude</key>
		<real>57.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934739</string>
		<key>latitude</key>
		<real>-20.120000000000001</real>
		<key>longitude</key>
		<real>57.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934255</string>
		<key>latitude</key>
		<real>-20.09</real>
		<key>longitude</key>
		<real>57.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106642</string>
		<key>latitude</key>
		<real>-20.195</real>
		<key>longitude</key>
		<real>57.768329999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934149</string>
		<key>latitude</key>
		<real>-20.163059000000001</real>
		<key>longitude</key>
		<real>57.730559999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934513</string>
		<key>latitude</key>
		<real>-20.043060000000001</real>
		<key>longitude</key>
		<real>57.578609</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106631</string>
		<key>latitude</key>
		<real>-20.11167</real>
		<key>longitude</key>
		<real>57.690829999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934091</string>
		<key>latitude</key>
		<real>-20.103059999999999</real>
		<key>longitude</key>
		<real>57.684719000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934533</string>
		<key>latitude</key>
		<real>-20.069718999999999</real>
		<key>longitude</key>
		<real>57.641941000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>1106596</string>
		<key>latitude</key>
		<real>-20.059719000000001</real>
		<key>longitude</key>
		<real>57.629168999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>933970</string>
		<key>latitude</key>
		<real>-20.02833</real>
		<key>longitude</key>
		<real>57.587780000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934482</string>
		<key>latitude</key>
		<real>-20.018160000000002</real>
		<key>longitude</key>
		<real>57.580151000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934090</string>
		<key>latitude</key>
		<real>-20.058330999999999</real>
		<key>longitude</key>
		<real>57.641669999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934085</string>
		<key>latitude</key>
		<real>-20.111111000000001</real>
		<key>longitude</key>
		<real>57.712218999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934268</string>
		<key>latitude</key>
		<real>-20.032779999999999</real>
		<key>longitude</key>
		<real>57.619171000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934184</string>
		<key>latitude</key>
		<real>-20.01333</real>
		<key>longitude</key>
		<real>57.611938000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934488</string>
		<key>latitude</key>
		<real>-20.035</real>
		<key>longitude</key>
		<real>57.643059000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934076</string>
		<key>latitude</key>
		<real>-20.018609999999999</real>
		<key>longitude</key>
		<real>57.644717999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934649</string>
		<key>latitude</key>
		<real>-19.984171</real>
		<key>longitude</key>
		<real>57.614170000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>934479</string>
		<key>latitude</key>
		<real>-20.00639</real>
		<key>longitude</key>
		<real>57.660831000000002</real>
	</dict>
</array>
</plist>
