<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityID</key>
		<string>391749</string>
		<key>latitude</key>
		<real>26.109999999999999</real>
		<key>longitude</key>
		<real>49.43</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>103922</string>
		<key>latitude</key>
		<real>27.27</real>
		<key>longitude</key>
		<real>48.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>392343</string>
		<key>latitude</key>
		<real>26.98</real>
		<key>longitude</key>
		<real>49.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109008</string>
		<key>latitude</key>
		<real>25.48</real>
		<key>longitude</key>
		<real>49.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>107312</string>
		<key>latitude</key>
		<real>25.940000000000001</real>
		<key>longitude</key>
		<real>49.68</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>105252</string>
		<key>latitude</key>
		<real>25.5</real>
		<key>longitude</key>
		<real>49.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108890</string>
		<key>latitude</key>
		<real>25.48</real>
		<key>longitude</key>
		<real>49.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109101</string>
		<key>latitude</key>
		<real>25.41</real>
		<key>longitude</key>
		<real>49.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109571</string>
		<key>latitude</key>
		<real>25.359999999999999</real>
		<key>longitude</key>
		<real>49.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108384</string>
		<key>latitude</key>
		<real>25.350000000000001</real>
		<key>longitude</key>
		<real>49.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109915</string>
		<key>latitude</key>
		<real>25.43</real>
		<key>longitude</key>
		<real>49.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109436</string>
		<key>latitude</key>
		<real>25.399999999999999</real>
		<key>longitude</key>
		<real>49.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108957</string>
		<key>latitude</key>
		<real>25.420000000000002</real>
		<key>longitude</key>
		<real>49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>107684</string>
		<key>latitude</key>
		<real>25</real>
		<key>longitude</key>
		<real>46.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109059</string>
		<key>latitude</key>
		<real>25.379999999999999</real>
		<key>longitude</key>
		<real>49.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109502</string>
		<key>latitude</key>
		<real>25.379999999999999</real>
		<key>longitude</key>
		<real>49.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109165</string>
		<key>latitude</key>
		<real>25.399999999999999</real>
		<key>longitude</key>
		<real>49.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>107959</string>
		<key>latitude</key>
		<real>25.359999999999999</real>
		<key>longitude</key>
		<real>49.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108410</string>
		<key>latitude</key>
		<real>24.690000000000001</real>
		<key>longitude</key>
		<real>46.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>400685</string>
		<key>latitude</key>
		<real>24.640000000000001</real>
		<key>longitude</key>
		<real>46.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>448600</string>
		<key>latitude</key>
		<real>24.620000000000001</real>
		<key>longitude</key>
		<real>46.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109435</string>
		<key>latitude</key>
		<real>27.010000000000002</real>
		<key>longitude</key>
		<real>49.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110107</string>
		<key>latitude</key>
		<real>26.559999999999999</real>
		<key>longitude</key>
		<real>49.939999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>101035</string>
		<key>latitude</key>
		<real>26.649999999999999</real>
		<key>longitude</key>
		<real>49.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>102585</string>
		<key>latitude</key>
		<real>26.649999999999999</real>
		<key>longitude</key>
		<real>49.950000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>101344</string>
		<key>latitude</key>
		<real>26.559999999999999</real>
		<key>longitude</key>
		<real>49.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>414980</string>
		<key>latitude</key>
		<real>26.57</real>
		<key>longitude</key>
		<real>49.990000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108927</string>
		<key>latitude</key>
		<real>26.52</real>
		<key>longitude</key>
		<real>50.020000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>102318</string>
		<key>latitude</key>
		<real>26.489999999999998</real>
		<key>longitude</key>
		<real>50.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>407308</string>
		<key>latitude</key>
		<real>24.190000000000001</real>
		<key>longitude</key>
		<real>47.380000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>101554</string>
		<key>latitude</key>
		<real>26.57</real>
		<key>longitude</key>
		<real>50.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110336</string>
		<key>latitude</key>
		<real>26.43</real>
		<key>longitude</key>
		<real>50.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109353</string>
		<key>latitude</key>
		<real>24.16</real>
		<key>longitude</key>
		<real>47.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>396550</string>
		<key>latitude</key>
		<real>25.699999999999999</real>
		<key>longitude</key>
		<real>45.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>107797</string>
		<key>latitude</key>
		<real>26.300000000000001</real>
		<key>longitude</key>
		<real>50.140000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>389860</string>
		<key>latitude</key>
		<real>26.43</real>
		<key>longitude</key>
		<real>50.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>102985</string>
		<key>latitude</key>
		<real>26.710000000000001</real>
		<key>longitude</key>
		<real>50.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108052</string>
		<key>latitude</key>
		<real>24.120000000000001</real>
		<key>longitude</key>
		<real>47.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109323</string>
		<key>latitude</key>
		<real>26.280000000000001</real>
		<key>longitude</key>
		<real>50.210000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>102891</string>
		<key>latitude</key>
		<real>26.640000000000001</real>
		<key>longitude</key>
		<real>50.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108142</string>
		<key>latitude</key>
		<real>27.969999999999999</real>
		<key>longitude</key>
		<real>48.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108947</string>
		<key>latitude</key>
		<real>24.469999999999999</real>
		<key>longitude</key>
		<real>46.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110314</string>
		<key>latitude</key>
		<real>23.989999999999998</real>
		<key>longitude</key>
		<real>47.159999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6692745</string>
		<key>latitude</key>
		<real>24.489999999999998</real>
		<key>longitude</key>
		<real>46.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109771</string>
		<key>latitude</key>
		<real>24.48</real>
		<key>longitude</key>
		<real>46.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7090974</string>
		<key>latitude</key>
		<real>26.149999999999999</real>
		<key>longitude</key>
		<real>50.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290118</string>
		<key>latitude</key>
		<real>26.190000000000001</real>
		<key>longitude</key>
		<real>50.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290291</string>
		<key>latitude</key>
		<real>26</real>
		<key>longitude</key>
		<real>50.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290269</string>
		<key>latitude</key>
		<real>26.07</real>
		<key>longitude</key>
		<real>50.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290247</string>
		<key>latitude</key>
		<real>26.120000000000001</real>
		<key>longitude</key>
		<real>50.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290240</string>
		<key>latitude</key>
		<real>26.219999999999999</real>
		<key>longitude</key>
		<real>50.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290187</string>
		<key>latitude</key>
		<real>26.170000000000002</real>
		<key>longitude</key>
		<real>50.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290215</string>
		<key>latitude</key>
		<real>26.219999999999999</real>
		<key>longitude</key>
		<real>50.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>385038</string>
		<key>latitude</key>
		<real>26.129999999999999</real>
		<key>longitude</key>
		<real>50.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7090973</string>
		<key>latitude</key>
		<real>26.170000000000002</real>
		<key>longitude</key>
		<real>50.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7090954</string>
		<key>latitude</key>
		<real>26.219999999999999</real>
		<key>longitude</key>
		<real>50.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290082</string>
		<key>latitude</key>
		<real>26.219999999999999</real>
		<key>longitude</key>
		<real>50.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290340</string>
		<key>latitude</key>
		<real>26.219999999999999</real>
		<key>longitude</key>
		<real>50.579999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290332</string>
		<key>latitude</key>
		<real>26.260000000000002</real>
		<key>longitude</key>
		<real>50.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290104</string>
		<key>latitude</key>
		<real>26.149999999999999</real>
		<key>longitude</key>
		<real>50.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290333</string>
		<key>latitude</key>
		<real>26.25</real>
		<key>longitude</key>
		<real>50.619999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290123</string>
		<key>latitude</key>
		<real>26.280000000000001</real>
		<key>longitude</key>
		<real>50.630000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290363</string>
		<key>latitude</key>
		<real>26.25</real>
		<key>longitude</key>
		<real>50.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110031</string>
		<key>latitude</key>
		<real>26.510000000000002</real>
		<key>longitude</key>
		<real>45.340000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>104376</string>
		<key>latitude</key>
		<real>25.07</real>
		<key>longitude</key>
		<real>45.460000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109380</string>
		<key>latitude</key>
		<real>28.440000000000001</real>
		<key>longitude</key>
		<real>48.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>387897</string>
		<key>latitude</key>
		<real>28.550000000000001</real>
		<key>longitude</key>
		<real>48.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289813</string>
		<key>latitude</key>
		<real>25.43</real>
		<key>longitude</key>
		<real>50.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285760</string>
		<key>latitude</key>
		<real>28.640000000000001</real>
		<key>longitude</key>
		<real>47.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289548</string>
		<key>latitude</key>
		<real>25.210000000000001</real>
		<key>longitude</key>
		<real>50.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289975</string>
		<key>latitude</key>
		<real>25.609999999999999</real>
		<key>longitude</key>
		<real>51.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108918</string>
		<key>latitude</key>
		<real>28.309999999999999</real>
		<key>longitude</key>
		<real>46.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>389469</string>
		<key>latitude</key>
		<real>25.199999999999999</real>
		<key>longitude</key>
		<real>51.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>107781</string>
		<key>latitude</key>
		<real>26.300000000000001</real>
		<key>longitude</key>
		<real>44.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289739</string>
		<key>latitude</key>
		<real>26.129999999999999</real>
		<key>longitude</key>
		<real>51.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>102358</string>
		<key>latitude</key>
		<real>25</real>
		<key>longitude</key>
		<real>45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289884</string>
		<key>latitude</key>
		<real>26.129999999999999</real>
		<key>longitude</key>
		<real>51.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289993</string>
		<key>latitude</key>
		<real>25.829999999999998</real>
		<key>longitude</key>
		<real>51.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289688</string>
		<key>latitude</key>
		<real>25.5</real>
		<key>longitude</key>
		<real>51.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289877</string>
		<key>latitude</key>
		<real>25.370000000000001</real>
		<key>longitude</key>
		<real>51.229999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>389465</string>
		<key>latitude</key>
		<real>25.77</real>
		<key>longitude</key>
		<real>51.32</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285841</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>104270</string>
		<key>latitude</key>
		<real>27.920000000000002</real>
		<key>longitude</key>
		<real>45.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>106297</string>
		<key>latitude</key>
		<real>28.43</real>
		<key>longitude</key>
		<real>45.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>406787</string>
		<key>latitude</key>
		<real>26.02</real>
		<key>longitude</key>
		<real>51.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>442553</string>
		<key>latitude</key>
		<real>25.120000000000001</real>
		<key>longitude</key>
		<real>51.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>389467</string>
		<key>latitude</key>
		<real>25.469999999999999</real>
		<key>longitude</key>
		<real>51.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285839</string>
		<key>latitude</key>
		<real>29.079999999999998</real>
		<key>longitude</key>
		<real>48.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285811</string>
		<key>latitude</key>
		<real>29.079999999999998</real>
		<key>longitude</key>
		<real>48.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285778</string>
		<key>latitude</key>
		<real>29.100000000000001</real>
		<key>longitude</key>
		<real>48.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289524</string>
		<key>latitude</key>
		<real>25.469999999999999</real>
		<key>longitude</key>
		<real>51.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289523</string>
		<key>latitude</key>
		<real>25.420000000000002</real>
		<key>longitude</key>
		<real>51.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8030540</string>
		<key>latitude</key>
		<real>25.52</real>
		<key>longitude</key>
		<real>51.450000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285728</string>
		<key>latitude</key>
		<real>29.149999999999999</real>
		<key>longitude</key>
		<real>48.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285782</string>
		<key>latitude</key>
		<real>29.149999999999999</real>
		<key>longitude</key>
		<real>48.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289847</string>
		<key>latitude</key>
		<real>25.579999999999998</real>
		<key>longitude</key>
		<real>51.479999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289888</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>51.420000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285812</string>
		<key>latitude</key>
		<real>29.170000000000002</real>
		<key>longitude</key>
		<real>48.119999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108121</string>
		<key>latitude</key>
		<real>25.18</real>
		<key>longitude</key>
		<real>44.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289962</string>
		<key>latitude</key>
		<real>25.68</real>
		<key>longitude</key>
		<real>51.509999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289911</string>
		<key>latitude</key>
		<real>25.5</real>
		<key>longitude</key>
		<real>51.490000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>391699</string>
		<key>latitude</key>
		<real>27.780000000000001</real>
		<key>longitude</key>
		<real>45.039999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>389472</string>
		<key>latitude</key>
		<real>24.850000000000001</real>
		<key>longitude</key>
		<real>51.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285810</string>
		<key>latitude</key>
		<real>29.23</real>
		<key>longitude</key>
		<real>48.100000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>389470</string>
		<key>latitude</key>
		<real>25.25</real>
		<key>longitude</key>
		<real>51.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>388088</string>
		<key>latitude</key>
		<real>29.25</real>
		<key>longitude</key>
		<real>47.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285747</string>
		<key>latitude</key>
		<real>29.25</real>
		<key>longitude</key>
		<real>48.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>412800</string>
		<key>latitude</key>
		<real>29.260000000000002</real>
		<key>longitude</key>
		<real>48.060000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290030</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>51.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411804</string>
		<key>latitude</key>
		<real>25.289999999999999</real>
		<key>longitude</key>
		<real>51.530000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285603</string>
		<key>latitude</key>
		<real>29.27</real>
		<key>longitude</key>
		<real>47.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285628</string>
		<key>latitude</key>
		<real>29.280000000000001</real>
		<key>longitude</key>
		<real>48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285815</string>
		<key>latitude</key>
		<real>29.280000000000001</real>
		<key>longitude</key>
		<real>47.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>411795</string>
		<key>latitude</key>
		<real>25.280000000000001</real>
		<key>longitude</key>
		<real>51.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289698</string>
		<key>latitude</key>
		<real>25.25</real>
		<key>longitude</key>
		<real>51.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285663</string>
		<key>latitude</key>
		<real>29.300000000000001</real>
		<key>longitude</key>
		<real>48.049999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>388065</string>
		<key>latitude</key>
		<real>29.300000000000001</real>
		<key>longitude</key>
		<real>47.93</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>387958</string>
		<key>latitude</key>
		<real>29.300000000000001</real>
		<key>longitude</key>
		<real>48.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285822</string>
		<key>latitude</key>
		<real>29.300000000000001</real>
		<key>longitude</key>
		<real>48.090000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289913</string>
		<key>latitude</key>
		<real>25.149999999999999</real>
		<key>longitude</key>
		<real>51.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285629</string>
		<key>latitude</key>
		<real>29.329999999999998</real>
		<key>longitude</key>
		<real>48.030000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285704</string>
		<key>latitude</key>
		<real>29.329999999999998</real>
		<key>longitude</key>
		<real>48.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285788</string>
		<key>latitude</key>
		<real>29.329999999999998</real>
		<key>longitude</key>
		<real>47.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285375</string>
		<key>latitude</key>
		<real>29.32</real>
		<key>longitude</key>
		<real>47.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285798</string>
		<key>latitude</key>
		<real>29.329999999999998</real>
		<key>longitude</key>
		<real>47.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285721</string>
		<key>latitude</key>
		<real>29.350000000000001</real>
		<key>longitude</key>
		<real>47.960000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>289915</string>
		<key>latitude</key>
		<real>25.170000000000002</real>
		<key>longitude</key>
		<real>51.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285799</string>
		<key>latitude</key>
		<real>29.34</real>
		<key>longitude</key>
		<real>47.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285856</string>
		<key>latitude</key>
		<real>29.370000000000001</real>
		<key>longitude</key>
		<real>48</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285787</string>
		<key>latitude</key>
		<real>29.370000000000001</real>
		<key>longitude</key>
		<real>47.979999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>387990</string>
		<key>latitude</key>
		<real>29.370000000000001</real>
		<key>longitude</key>
		<real>47.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6942029</string>
		<key>latitude</key>
		<real>29.379999999999999</real>
		<key>longitude</key>
		<real>47.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285673</string>
		<key>latitude</key>
		<real>29.440000000000001</real>
		<key>longitude</key>
		<real>48.270000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>285570</string>
		<key>latitude</key>
		<real>29.5</real>
		<key>longitude</key>
		<real>47.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110325</string>
		<key>latitude</key>
		<real>24.510000000000002</real>
		<key>longitude</key>
		<real>44.390000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108411</string>
		<key>latitude</key>
		<real>23.329999999999998</real>
		<key>longitude</key>
		<real>45.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>107304</string>
		<key>latitude</key>
		<real>26.329999999999998</real>
		<key>longitude</key>
		<real>43.969999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>101581</string>
		<key>latitude</key>
		<real>27.100000000000001</real>
		<key>longitude</key>
		<real>44.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109923</string>
		<key>latitude</key>
		<real>26.289999999999999</real>
		<key>longitude</key>
		<real>43.869999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>130216</string>
		<key>latitude</key>
		<real>29.260000000000002</real>
		<key>longitude</key>
		<real>50.329999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>8057484</string>
		<key>latitude</key>
		<real>28.949999999999999</real>
		<key>longitude</key>
		<real>50.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>139817</string>
		<key>latitude</key>
		<real>28.969999999999999</real>
		<key>longitude</key>
		<real>50.840000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109878</string>
		<key>latitude</key>
		<real>26.140000000000001</real>
		<key>longitude</key>
		<real>43.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108210</string>
		<key>latitude</key>
		<real>24.25</real>
		<key>longitude</key>
		<real>44.130000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>99446</string>
		<key>latitude</key>
		<real>29.98</real>
		<key>longitude</key>
		<real>48.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>89824</string>
		<key>latitude</key>
		<real>30.039999999999999</real>
		<key>longitude</key>
		<real>47.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108435</string>
		<key>latitude</key>
		<real>25.870000000000001</real>
		<key>longitude</key>
		<real>43.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>139816</string>
		<key>latitude</key>
		<real>28.75</real>
		<key>longitude</key>
		<real>51.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108933</string>
		<key>latitude</key>
		<real>27.079999999999998</real>
		<key>longitude</key>
		<real>43.469999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7326104</string>
		<key>latitude</key>
		<real>30.18</real>
		<key>longitude</key>
		<real>48.399999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134217</string>
		<key>latitude</key>
		<real>29.579999999999998</real>
		<key>longitude</key>
		<real>50.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>396460</string>
		<key>latitude</key>
		<real>25.760000000000002</real>
		<key>longitude</key>
		<real>43.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>397513</string>
		<key>latitude</key>
		<real>26.440000000000001</real>
		<key>longitude</key>
		<real>43.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6683626</string>
		<key>latitude</key>
		<real>27.82</real>
		<key>longitude</key>
		<real>52.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>98689</string>
		<key>latitude</key>
		<real>30.27</real>
		<key>longitude</key>
		<real>47.350000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140097</string>
		<key>latitude</key>
		<real>29.27</real>
		<key>longitude</key>
		<real>51.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145459</string>
		<key>latitude</key>
		<real>30.34</real>
		<key>longitude</key>
		<real>48.299999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>99536</string>
		<key>latitude</key>
		<real>30.350000000000001</real>
		<key>longitude</key>
		<real>47.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>45013</string>
		<key>latitude</key>
		<real>30.370000000000001</real>
		<key>longitude</key>
		<real>48.219999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>89341</string>
		<key>latitude</key>
		<real>30.329999999999998</real>
		<key>longitude</key>
		<real>47.25</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>98245</string>
		<key>latitude</key>
		<real>30.390000000000001</real>
		<key>longitude</key>
		<real>47.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>127319</string>
		<key>latitude</key>
		<real>30.440000000000001</real>
		<key>longitude</key>
		<real>48.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>108241</string>
		<key>latitude</key>
		<real>22.5</real>
		<key>longitude</key>
		<real>51</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>7326105</string>
		<key>latitude</key>
		<real>30.48</real>
		<key>longitude</key>
		<real>48.009999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>388349</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>47.810000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>141668</string>
		<key>latitude</key>
		<real>30.43</real>
		<key>longitude</key>
		<real>49.079999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>99532</string>
		<key>latitude</key>
		<real>30.530000000000001</real>
		<key>longitude</key>
		<real>47.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>92365</string>
		<key>latitude</key>
		<real>30.57</real>
		<key>longitude</key>
		<real>47.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>44992</string>
		<key>latitude</key>
		<real>30.550000000000001</real>
		<key>longitude</key>
		<real>49.170000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>292688</string>
		<key>latitude</key>
		<real>24.109999999999999</real>
		<key>longitude</key>
		<real>52.729999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>116102</string>
		<key>latitude</key>
		<real>30.649999999999999</real>
		<key>longitude</key>
		<real>48.659999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>95308</string>
		<key>latitude</key>
		<real>30.420000000000002</real>
		<key>longitude</key>
		<real>46.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>99369</string>
		<key>latitude</key>
		<real>30.719999999999999</real>
		<key>longitude</key>
		<real>47.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128137</string>
		<key>latitude</key>
		<real>27.359999999999999</real>
		<key>longitude</key>
		<real>53.18</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>128321</string>
		<key>latitude</key>
		<real>29.620000000000001</real>
		<key>longitude</key>
		<real>51.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>125794</string>
		<key>latitude</key>
		<real>26.809999999999999</real>
		<key>longitude</key>
		<real>53.369999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134518</string>
		<key>latitude</key>
		<real>28.84</real>
		<key>longitude</key>
		<real>52.57</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144696</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>49.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>121859</string>
		<key>latitude</key>
		<real>30.760000000000002</real>
		<key>longitude</key>
		<real>49.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>121861</string>
		<key>latitude</key>
		<real>30.760000000000002</real>
		<key>longitude</key>
		<real>49.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>140951</string>
		<key>latitude</key>
		<real>30.600000000000001</real>
		<key>longitude</key>
		<real>50.240000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>136014</string>
		<key>latitude</key>
		<real>30.359999999999999</real>
		<key>longitude</key>
		<real>50.799999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6663476</string>
		<key>latitude</key>
		<real>30.359999999999999</real>
		<key>longitude</key>
		<real>50.82</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118805</string>
		<key>latitude</key>
		<real>30.890000000000001</real>
		<key>longitude</key>
		<real>49.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>110250</string>
		<key>latitude</key>
		<real>23.91</real>
		<key>longitude</key>
		<real>42.920000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>127878</string>
		<key>latitude</key>
		<real>29.890000000000001</real>
		<key>longitude</key>
		<real>51.689999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>99439</string>
		<key>latitude</key>
		<real>30.969999999999999</real>
		<key>longitude</key>
		<real>46.719999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>106280</string>
		<key>latitude</key>
		<real>27.5</real>
		<key>longitude</key>
		<real>42.5</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>121925</string>
		<key>latitude</key>
		<real>30.109999999999999</real>
		<key>longitude</key>
		<real>51.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>99032</string>
		<key>latitude</key>
		<real>30.5</real>
		<key>longitude</key>
		<real>45</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>98854</string>
		<key>latitude</key>
		<real>31.050000000000001</real>
		<key>longitude</key>
		<real>46.259999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>136987</string>
		<key>latitude</key>
		<real>30.789999999999999</real>
		<key>longitude</key>
		<real>50.560000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>97019</string>
		<key>latitude</key>
		<real>31</real>
		<key>longitude</key>
		<real>46</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144410</string>
		<key>latitude</key>
		<real>29.25</real>
		<key>longitude</key>
		<real>52.780000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144448</string>
		<key>latitude</key>
		<real>31.32</real>
		<key>longitude</key>
		<real>48.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134766</string>
		<key>latitude</key>
		<real>29</real>
		<key>longitude</key>
		<real>53</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>126878</string>
		<key>latitude</key>
		<real>30.829999999999998</real>
		<key>longitude</key>
		<real>50.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>103012</string>
		<key>latitude</key>
		<real>29.629999999999999</real>
		<key>longitude</key>
		<real>43.520000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>390237</string>
		<key>latitude</key>
		<real>29.530000000000001</real>
		<key>longitude</key>
		<real>52.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6648634</string>
		<key>latitude</key>
		<real>31.34</real>
		<key>longitude</key>
		<real>48.759999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>115019</string>
		<key>latitude</key>
		<real>29.600000000000001</real>
		<key>longitude</key>
		<real>52.539999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>144449</string>
		<key>latitude</key>
		<real>31.359999999999999</real>
		<key>longitude</key>
		<real>48.75</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>290400</string>
		<key>latitude</key>
		<real>23.280000000000001</real>
		<key>longitude</key>
		<real>53.200000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>118826</string>
		<key>latitude</key>
		<real>31.280000000000001</real>
		<key>longitude</key>
		<real>49.600000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>66093</string>
		<key>latitude</key>
		<real>30.670000000000002</real>
		<key>longitude</key>
		<real>51.590000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>125315</string>
		<key>latitude</key>
		<real>30.66</real>
		<key>longitude</key>
		<real>51.609999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>132548</string>
		<key>latitude</key>
		<real>30.699999999999999</real>
		<key>longitude</key>
		<real>51.549999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>134721</string>
		<key>latitude</key>
		<real>28.940000000000001</real>
		<key>longitude</key>
		<real>53.649999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6776436</string>
		<key>latitude</key>
		<real>31.309999999999999</real>
		<key>longitude</key>
		<real>45.280000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>98530</string>
		<key>latitude</key>
		<real>31.329999999999998</real>
		<key>longitude</key>
		<real>45.289999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>131965</string>
		<key>latitude</key>
		<real>28.91</real>
		<key>longitude</key>
		<real>53.710000000000001</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>291279</string>
		<key>latitude</key>
		<real>23.140000000000001</real>
		<key>longitude</key>
		<real>53.789999999999999</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>109579</string>
		<key>latitude</key>
		<real>30</real>
		<key>longitude</key>
		<real>42.670000000000002</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>98862</string>
		<key>latitude</key>
		<real>31.25</real>
		<key>longitude</key>
		<real>43.829999999999998</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6909756</string>
		<key>latitude</key>
		<real>30.91</real>
		<key>longitude</key>
		<real>52.700000000000003</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>6874767</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>52.409999999999997</real>
	</dict>
	<dict>
		<key>cityID</key>
		<string>145449</string>
		<key>latitude</key>
		<real>31.16</real>
		<key>longitude</key>
		<real>52.649999999999999</real>
	</dict>
</array>
</plist>
